[2020-02-28 16:01] lilic commented on #1083
This is not a bug, so removing bug label.

[2020-02-28 19:48] efeller commented on #1083
@brancz @lilic Thanks tons for your feedback. Wonder in this case how to best use the kube_pod_deletion_timestamp time-series since pods are immediately (in the order of seconds) removed?

[2020-02-28 20:12] clamoriniere commented on #1083
Hi @efeller

You are right, pods should be deleted immediately, but things don't always go as planned. For example, if the container runtime is not able to delete the container, or the process didn't catch the "terminating" signal.
So being able to get the `kube_pod_deletion_timestamp` for a pod, helps to monitor cleanup problems.

I think to achieve this, you could look at the API-server [events]

[2020-02-28 21:23] efeller commented on #1083
Cool, thanks @clamoriniere. Makes sense. It would be great if we could somehow capture this in the docs. I thought I could use this time series to generally find out when a pod was deleted.

[2020-03-02 07:16] brancz commented on #1083
Do you want to create a PR to add this to the docs? :)

[2020-03-02 12:08] olivierlemasle commented on #1072
Looking in https://git.k8s.io/kubernetes/pkg/controller/podautoscaler/horizontal.go, I found that hpa objects can have at least the following condition reasons:

- DesiredWithinRange
- FailedGetExternalMetric
- FailedGetObjectMetric
- FailedGetPodsMetric
- FailedGetResourceMetric
- FailedGetScale
- FailedUpdateScale
- InvalidMetricSourceType
- InvalidSelector
- ReadyForNewScale
- ScaleDownLimit
-

[2020-03-03 08:16] brancz commented on #1072
It does seem a little excessive, but I can still see the benefit. How about we introduce feature gates for these types of metrics?

[2020-03-03 12:40] lilic commented on #982
I think this was already implemented in my PR.
/close

[2020-03-03 12:40] #982 closed

[2020-03-04 14:02] hawran commented on #1057
Unfortunately there are not such objects here which have caused mentioned strange values.
However - looking at a `kubectl describe sts ...` report for a current statefulset - there might be some misunderstanding here between `kubectl ...` report and metrics (a small snippet of the cli's output):
[code]
What is intended mapping between the metrics I'd reported and the `kubectl describe ...` report?

[2020-03-04 19:25] brancz commented on #1057
If you do

kubectl get sts ... -oyaml

You should get exactly the values that are reflected in the metrics. Is that not the case?

[2020-03-05 18:02] riconnon opened #1086 "v1.9.5 image from GCR does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I pulled the latest image from both Quay and GCR

**What you expected to happen**:
I expected them to be the same

**How to reproduce it (as minimally and precisely as possible)**:
[code]
These two images ought to be the same image but I see two different images:
[code]
The image from k8s.gcr.io will not execute, but that

[2020-03-06 21:11] efeller commented on #1083
@brancz Sorry took some time. Done.

[2020-03-07 09:47] serathius commented on #1086
Ups, looks like my fault.
/assign

[2020-03-07 09:47] serathius commented on #1069
Image was released
/close

[2020-03-07 09:47] #1069 closed

[2020-03-07 10:29] serathius opened #1089 "Use image promoter release process"
Using k8s release process would allow to migrate to official k8s repositories without depending on Googlers. It also supports automated build process which will make it more auditable and secure.

We should also stop depending on quay.io registry if official option can be used.

Staging repo was already setup by @brancz https://github.com/kubernetes/k8s.io/pull/384

/kind feature
Tasks based on ht

[2020-03-07 10:31] serathius commented on #1089
@dims Can you create k8s-infra-staging-kube-state-metrics@kubernetes.io google group?

[2020-03-07 10:32] serathius commented on #1089
/cc @dims

[2020-03-07 10:35] serathius commented on #1089
/cc @justinsb
Can you create staging repo for kube-state-metrics?

[2020-03-07 11:03] lilic commented on #1089
Last time there was still an issue with the tool, is this solved now? https://github.com/kubernetes/k8s.io/pull/384#issuecomment-536551561

[2020-03-07 11:07] #1083 closed

[2020-03-07 11:23] serathius commented on #1089
I think yes, because gcr.io/google-containers is deprecated. Googler no longer can release new images to it.
https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io/images/DO-NOT-MODIFY-legacy-backfill

I will confirm it with someone from sig-release

[2020-03-07 11:24] serathius commented on #1086
Hmm I rebuild the image locally. I run
[code]
I tested it on two machines, image works on one, but fails on another. Looks like even when building on docker there is something machine dependent.

There are two problems:
* Making build process more reproducible
* Fixing k8s.gcr.io/kube-state-metrics:v1.9.5 image

I think https://github.com/kubernetes/kube-state-metrics/issues/1089 should help with

[2020-03-07 11:30] serathius commented on #1089
@bartsmykla Can you confirm that new pipeline is fully functional?

[2020-03-07 11:31] serathius commented on #1086
/cc @lilic for visibility

[2020-03-07 11:48] bartsmykla commented on #1089
Yes, it's working :-)

[2020-03-07 12:06] bartsmykla commented on #1089
@serathius it looks like staging repo already exists: https://console.cloud.google.com/gcr/images/k8s-staging-kube-state-metrics/GLOBAL and as https://github.com/kubernetes/k8s.io/pull/384 was merged almost half a year ago I'm sure the google group was already created. :-)

[2020-03-07 12:07] serathius commented on #1089
How can I verify this? I can mark it as done

[2020-03-07 12:15] bartsmykla commented on #1089
These are the IAM roles for this project: https://github.com/kubernetes/k8s.io/blob/master/audit/projects/k8s-staging-kube-state-metrics/iam.json

I'm not entirely sure how to verify that but if I would guess looking at IAMs members of this group should have access to GCB for the project. Try to go here: https://console.cloud.google.com/navigation-error;errorUrl=%2Fcloud-build%3ForganizationId%3D&

[2020-03-07 12:17] bartsmykla commented on #1089
Oooor... actualy it should be easier to just check if you are a member of that group: https://groups.google.com/a/kubernetes.io/forum/#!myforums :-D

[2020-03-07 12:23] serathius commented on #1089
I'm not owner of kube-state-metrics so I cannot check that.

[2020-03-07 12:28] bartsmykla commented on #1089
@serathius so the only way is to wait for [one of the members](https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L753-L755) or @dims to look and confirm, but the only case when the group would not exist is when the [reconcile tool](https://github.com/kubernetes/k8s.io/blob/master/groups/reconcile.go) would not work and as far as I'm aware it's not the case and every project which

[2020-03-07 13:47] serathius commented on #1089
/help

[2020-03-07 13:50] serathius commented on #1089
@lilic Can you confirm that group exits?
It should be visible in https://groups.google.com/a/kubernetes.io/forum/#!search/k8s-infra-staging-kube-state-metrics

[2020-03-07 13:58] serathius commented on #1089
/assign @justinsb @lilic

[2020-03-07 14:08] serathius commented on #1086
Fix process:
* [ ] Ensure that gcr.io/k8s-infra-kube-state-metrics exists (part of https://github.com/kubernetes/kube-state-metrics/issues/1089)
* [ ] Push to gcr.io/k8s-infra-kube-state-metrics
* [ ] Promote staging image by adding it to [k8s-staging-kube-state-metrics.yaml](https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml)

Last two st

[2020-03-07 14:37] serathius commented on #1086
/cc @bartsmykla

[2020-03-07 14:44] bartsmykla commented on #1086
Looks good to me :-)

[2020-03-07 15:00] lilic commented on #1089
I am part of k8s-infra-staging-kube-state-metrics group yes and I can confirm I can access the. https://console.cloud.google.com/cloud-build/builds?organizationId=&project=k8s-staging-kube-state-metrics
But only for staging, do we need the production ones as per @nikhita comment:

[2020-03-07 15:04] lilic commented on #1086
Neither I nor Frederic had no problem building and pushing the images to quay so far, and I use a mac and he uses fedora, so not sure why it would be different for gcr? https://quay.io/repository/coreos/kube-state-metrics?tag=v1.9.5&tab=tags

[2020-03-07 15:08] serathius commented on #1089
Acces to production images should only be done by automated CI. This is done by image promoter, which watches content of file https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml

[2020-03-07 15:11] serathius commented on #1086
Maybe for you two currently it doesn't. This doesn't mean that in future it will not.
sig-release encourages migration to automated pipeline instead of building on personal computers.

[2020-03-07 15:20] serathius commented on #1086
Overall, I can no longer fix this problem. Only kube-state-metrics OWNERS can.
@lilic Could you handle pushing and releasing the image?

[2020-03-07 15:45] lilic commented on #1086
Yep, got it, thanks! Will add the automation as soon as I have some time.

For now @riconnon since the quay image works for you either use that one or build your own image and push to your own registry, until the building and pushing images is automated to gcr. Does that solve the problem temporary?

Thanks for opening the issue, will let this stay open just so others who have problems see the dis

[2020-03-07 16:32] bartsmykla commented on #1089
It's exactly as @serathius said :-)

[2020-03-09 10:17] hawran commented on #1057
Oops, you're right! It's obvious.
I had to write a table though, :wink::
[code]
However, sill can't see a difference between `kube_statefulset_status_replicas` and `kube_statefulset_status_replicas_current`...

[2020-03-09 15:06] AlexMichaelJonesNC opened #1090 "Wrong Version of admissionregistration API for older k8s versions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Deploying Kube State Metrics 1.9.5 into a 1.14 k8s cluster, we get logs similar to the following:
[code]
**What you expected to happen**:
Not get logs related to using v1 rather than v1beta1 for the admissionsregistrationAPI

**How to reproduce it (as minimally and precisely as possible)**:
Deploy kube-state-metrics into

[2020-03-09 15:18] lilic commented on #1090
Using 1.8.x version of kube-state-metrics should work for you, correct?

[2020-03-09 15:26] AlexMichaelJonesNC commented on #1090
Deploying v1.8.0 does make the error go away, however the [compatibility matrix](https://github.com/kubernetes/kube-state-metrics#compatibility-matrix) shows that kubernetes 1.14 is fully supported by kube-state-metrics 1.9.5, so I wouldn't expect any errors to be occurring from differences in kubernetes api versions.

[2020-03-09 16:29] lilic commented on #1090
Yes that is a mistake on our end, can you do a PR to adjust that in the README, thanks!

[2020-03-09 17:37] AlexMichaelJonesNC commented on #1090
What mark would I use to indicate it's not compatible? I only see the checkmark for fully supported, and a dash for "k8s has features we don't support yet"

[2020-03-09 17:53] lilic commented on #1090
I would suggest `-` and feel free to clarify something like: " (additional API objects, deprecated API objects)." Whatever makes most sense to you.

Not sure there is a mention of yet? 🤔

We tend to go by what client-go says https://github.com/kubernetes/client-go#compatibility-matrix and they dropped support for 1.14 it seems for client-go.

[2020-03-09 23:12] dopey opened #1093 "Failed to list validatingwebhookconfiguration ... log message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Running kube-state-metrics in the kube-system namespace of my gke cluster, getting this error every 1 second in the logs:

[code]
**What you expected to happen**:
Expected not to see the error.
**How to reproduce it (as minimally and precisely as possible)**:
When I run `make container` I create the following tags:

[code

[2020-03-09 23:25] #1078 closed

[2020-03-10 00:08] olivierlemasle commented on #1093
Hi @dopey, it seems to be the same issue as #1090.
`kube-state-metrics` 1.9.5 fully supports Kubernetes 1.16 only (the compatibility matrix will be updated with PR #1092).

Using 1.8.x version of `kube-state-metrics` would probably works for you (K8s 1.15), right?

[2020-03-10 00:16] dopey commented on #1093
Hey @olivierlemasle , thanks for the quick reply. Looks like switching to 1.8.0 gets rid of the errors. Thanks!

[2020-03-10 00:16] #1093 closed

[2020-03-10 14:51] lilic commented on #978
/remove-lifecycle stale

[2020-03-10 16:09] olivierlemasle commented on #981
/remove-lifecycle stale

[2020-03-12 15:13] smarterclayton opened #1095 "kube_pod_container_resource_requests does not adequately reflect reality in Kube"
`kube_pod_container_resource_requests` is kind of useful, but not directly on its own.  It is the most naive view of a pod possible, but misses a bunch of important nuances of the pod resource model (wearing my kube architecture hat right now):

In general, there are 3 major phases to a pod lifetime.

1. Pre-scheduling (no nodeName set) - resources the scheduler is trying to place (roughly the Pen

[2020-03-12 17:57] lilic commented on #1095
I am in two minds of this, while I see a huge value in this metric, we have this note in the readme:

I feel like this might be applying some of heuristics to metrics mentioned above. Do you disagree? We could get this same value with promql queries correct? Or possibly recording rules.

That label sounds good to me once added to the api.

cc @tariq1890 @brancz

[2020-03-12 18:03] smarterclayton commented on #1095
I think this is the fundamental tension.  I would argue the current metric is not useful because you can't use it to answer interesting questions correctly about Kube.  A lot of Kube objects have two parts:

1. explicit values in the API
2. the meaning of those values as they apply to the interaction of values between the API

There is one interpretation that 2 is a heuristic, but I would probably

[2020-03-12 18:07] smarterclayton commented on #1095
Lili had a good analogy - asking if this was a computed field that we would report.  We have a *few* computed fields (QoS is the best example) and then decided early in the project we would stop doing that.  So Kube explicitly does not report computed fields, but if they existed, they would mirror roughly what I described above.  It's certainly possible the meaning of the computed field would shif

[2020-03-13 16:23] lilic commented on #1095
Any resource or metric can be disabled by passing arguments to kube-state-metrics on runtime, so users who find any metric not useful, can remove it before ingestion. I would not remove the container metric in question, I am sure many people use it and it would break a lot of things for people.

Interesting, yes that sounds just like what kube-state-metrics tries to do ;) e.g. expose raw metrics b

[2020-03-13 19:44] smarterclayton commented on #1095
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#resources

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/container-init.md#resources

 	// The resourceRequirements of an init container are taken into account during scheduling
	// by finding the highest request/limit for each resource type, and then using the max of
	// of that value or t

[2020-03-13 21:38] olivierlemasle commented on #1084
/assign
/remove-help

[2020-03-15 00:38] #978 closed

[2020-03-16 09:33] nid06 commented on #1071
Could you help to describe more about it.

[2020-03-16 09:41] #951 closed

[2020-03-16 16:07] smarterclayton commented on #1095
Prototyping the rough structure https://github.com/openshift/kube-state-metrics/pull/27 - will provide prometheus dumps with examples so folks can see what I mean.

[2020-03-17 06:24] nid06 commented on #243
I am unable to configure readiness alert . Has anybody got solution yet ?
@yuliyantsvetkov couldn't find field created_by_kind in kube_pod_info

[2020-03-17 08:20] brancz commented on #1071
I don't know what you're asking, I recommend you to check out those metrics as they are exactly what you are looking for.

[2020-03-17 08:58] brancz commented on #753
/remove-lifecycle rotten

[2020-03-17 09:40] brancz commented on #1057
If the output of the API is equal to kube-state-metrics metrics, then everything is ok here, and your question is merely why `kube_statefulset_status_replicas` and `kube_statefulset_status_replicas_current` are the same? That would be a question for the people maintaining the workloads APIs.

[2020-03-17 13:26] hawran commented on #1057
OK, point taken.
And thank you!

[2020-03-17 13:56] yuliyantsvetkov commented on #243
@nid06 well that works for me with the prometheus-operator.

[2020-03-17 15:11] smarterclayton commented on #1095
Something that I realized with testing and discussed with Lili - KSM is often tuned to be slow scrape because of volume of data.  That's another dimension where this might belong more in the scheduler or KCM, in which case the concerns about maintenance are reduced, although cardinality is high.  I'm going to talk to sig scheduling about this and then come back to sig-instrumentation with some que

[2020-03-17 15:32] ekesken commented on #694
we hit this issue in ~10 clusters among 45.

[code]

[2020-03-18 01:28] #1084 closed

[2020-03-18 09:39] brancz commented on #1095
Note high scrape intervals is a thing from the past before we did the performance improvements of ksm, where a scrape could take up to 30s, now even in huge clusters we're under 15s, so it's pretty safe to go back to 15s scrape intervals. Remember that with cardinality the expensive thing is tracking the individual metrics themselves not so much the amount of samples, as they compress better with

[2020-03-18 09:43] brancz commented on #694
Do you run kube-state-metrics in some specific way? With versions pre-1.9.0 you may be experiencing  https://github.com/kubernetes/kube-state-metrics/issues/942, if you're configuring individual namespaces.

Is anyone able to reliably reproduce this issue?

[2020-03-18 11:34] dcroe opened #1099 "missing values for kube_deployment_status_replicas_unavailable"
hi,
we have randomly missing data for the metric:

kube_deployment_status_replicas_unavailable

when using the image:
quay.io/mxinden/kube-state-metrics:v1.4.0-gzip.3

Environment:
Google Cloud, kubernetes v1.14.10-gke.17

thus i have tried the newest versions without success:

image: quay.io/coreos/kube-state-metrics:v1.9.5: no values
image: quay.io/coreos/kube-state-metrics:v1.9.4: no values
ima

[2020-03-18 11:59] lilic commented on #1099
We get this from deployments status and UnavailableReplicas count. Can you verify the output of the deployment status where you have those `unavailableReplicas` are actually set and the metric do not match. I do not have any unavailableReplicas to test this right now.

[2020-03-18 14:21] brancz commented on #1095
To be clear I do think all of this can already be done with recording rules and with a lower scrape interval. I do agree high level recording rules for better experience are a good idea. But experience has shown that any pre computation we do tends to have bugs and then invalidates historic data which is why I prefer to stay with the “rawest” data we can get.

I totally agree that there is a bit o

[2020-03-19 08:26] Asgoret commented on #137
Can you explain on more information case please? For example, I need information about  CPU usage on master nodes in avg 1m. In old cases, this query was fine: `sum (rate (container_cpu_usage_seconds_total{id="/",role="infra"}[1m])) / sum (machine_cpu_cores{role="infra"}) * 100` but now it doesn't work because there is no any roles anywhere insteed `kube_node_labels`

[2020-03-19 11:33] Asgoret opened #1101 "Need support with node group queries"
Need support with node grouping.

How can I get CPU utilization on master nodes if `machine_cpu_cores` doesn't provide any group information just IPs with ports? I saw some familiar issues, but can't get point how to transfer nodes from `kube_node_labels{label_node_role_kubernetes_io_infra="true"}` to `machine_cpu_cores`. Can somebody help with it plz?

[2020-03-19 13:37] brancz commented on #1101
You can achieve this with joins: https://github.com/kubernetes/kube-state-metrics/tree/master/docs#join-metrics. The same that works for pods works for nodes, you just need the same label on each side that you are joining. You may need to rewrite labels with `label_replace` to get them into the right shape, but it does work.

[2020-03-19 14:34] Asgoret commented on #1101
Is there any way to add just label or get label from 'kube_node_labels'?

[2020-03-19 15:42] brancz commented on #1101
You might need to do multiple joins. There is also the `kubelet_node_name` metric that might be useful for this, for example used in this rule to alert on max pods on a node: https://github.com/kubernetes-monitoring/kubernetes-mixin/blob/ea905d25c01ff4364937a2faed248e5f2f3fdb35/alerts/kubelet.libsonnet#L43

[2020-03-19 17:45] Asgoret commented on #1101
Hm...Ok, I'll use multiple joins, but it doesn't work. No errors, just empty output.
`container_memory_working_set_bytes * on (pod) group_left(node) kube_pod_info * on (node) group_left() kube_node_labels{label_node_role_kubernetes_io_master="true"}`

If I delete `container_memory_working_set_bytes * on (pod) group_left(node)` part query show me all pods on master nodes. But ay this point how I tr

[2020-03-19 17:56] lilic commented on #1090
I think we can close this now. :) Feel free to reopen.

[2020-03-19 17:56] #1090 closed

[2020-03-21 21:50] #931 closed

[2020-03-23 00:01] smarterclayton commented on #1095
I don't think this can or should be done with recording rules.  This is data derived from the core algorithms of the Kube system and it's much more nuanced than even the stuff in KSM gets close to - in this case the rawest data is stuff derived in calculations from internal libraries.  I don't think its appropriate to reproduce internal calculations in recording rules - like apiserver latencies, c

[2020-03-23 00:02] smarterclayton commented on #1095
Frankly, I'm kind of embarrassed Kube hasn't reported these metrics before.  Most people are relying on wrong or incorrect calculations based on part of this model, so they're making subtly (or not so subtly) flawed judgements.

[2020-03-23 07:52] lilic commented on #1095
Basically I gather, from this and our other conversations, what you want is the metric to be in kube scheduler itself. I agree kube-state-metrics would not provide precise enough metrics, neither would recording rules. So this belongs in core kube scheduler code as you demonstrated in the origin PR. Best to bring this up in SIG instrumentation, don't think you would have any problems convincing pe

[2020-03-23 08:41] brancz commented on #1095
I agree that if our goal is to reflect _scheduling state_ then the _scheduler_ would be the right place :slightly_smiling_face: .

[2020-03-23 11:22] dgrisonnet opened #1102 "Add mechanism to allow/deny high cardinality metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Context**

More and more users want to expose high cardinality metrics; however, it comes with great costs for the default configuration of kube-state-metrics.

#941
#1047

**Proposal**

In order to reduce the number of metrics exposed by the default configuration, we could deny some metrics by default (e.g. labels and annotations) an

[2020-03-23 13:04] lilic commented on #1102
cc @brancz @tariq1890 ^

[2020-03-23 17:33] tariq1890 commented on #1102
Thanks for starting this conversation @dgrisonnet . The issue where we can't merge an allow and deny directive is definitely a flaw that needs fixing.

However, I lean towards some simplicity. This is my personal opinion; having a `metric-list` and then a dichotomous `allowList` and `denyList` does not lend itself to so much simplicity.

What I've had in mind was having a simple interface for user

[2020-03-24 08:59] brancz commented on #1102
I think we made a mistake by ever trying to use the allow/deny lists for what are essentially feature gates. I think we should have explicit feature gates for metrics we want to be off by default. Then having allow/deny list being mutually exclusive is not a problem anymore.

That said, I think label and annotation metrics are yet another case, where each _label_ that we expose needs to be allow/d

[2020-03-24 11:09] jw-s commented on #1102
Hi guys!

After reading the OP's proposal, I definitely think this is needed in the project  however I do think it could be ugly to use when it comes to using regex and precedence logic.

I like @brancz's proposal of having feature flags/gates for each metric and then an allow/deny list IMO is simple and doesn't complicate things.

[2020-03-24 14:05] dgrisonnet commented on #1102
Thank you for all the comments. I also really like @brancz's proposal of having feature gates to handle denied by default metrics.

As for labels, do you think we can also apply feature gates to them? Having metrics as key and a list of labels defaulting to an empty list as value maybe?

[2020-03-24 17:52] dgrisonnet commented on #1102
Yes, if done this way it would be the same.

I am actually more in favor of the allow-listing of labels approach rather than the allow/deny listing one. As mentioned before, we should apply labels listing to metrics like labels and annotations which I understood as applying it to metrics having an unbound number of labels. In my opinion, if we do allow/deny listing, it would only amount to reducin

[2020-03-25 07:52] jangdm opened #1103 "Fix typo in ingress-metric documentation"
What this PR does / why we need it:
Fix typo in ingress-metric documentation

[2020-03-25 08:48] jangdm commented on #1103
/close

[2020-03-25 08:48] #1103 closed

[2020-03-25 08:56] jangdm opened #1105 "Fix typo in statefulset metrics documentation"
**What this PR does / why we need it:**:

[2020-03-25 08:56] jangdm commented on #1105
/assign

[2020-03-25 09:56] lilic commented on #1105
Hello, there is no need to open an issue for typos, feel free to just open a PR to fix all of them at once. :) Thanks!

[2020-03-25 18:19] smarterclayton commented on #1095
The biggest question is then what to do about alternative schedulers.  I'll draft a discussion for both sig-scheduling and sig-instrumentation and we can take it to a meeting.

[2020-03-26 01:05] jangdm commented on #1105
ok thank u @lilic

[2020-03-26 01:05] jangdm commented on #1105
/close

[2020-03-26 01:06] #1105 closed

[2020-03-26 08:17] lilic commented on #1105
Thank you! :)

[2020-03-26 14:32] brancz commented on #1102
Precisely my thought.

[2020-03-26 14:37] brancz commented on #1095
Yeah that makes things more complicated indeed.

[2020-03-26 15:24] lilic commented on #1102
Should we update this issue to reflect your comment, as now they are different from what I can tell.

[2020-03-26 15:40] #960 closed

[2020-03-27 12:26] #981 closed

[2020-03-27 17:08] lilic commented on #873
/remove-lifecycle rotten

still relavant

[2020-03-27 19:02] tariq1890 commented on #1102
I'd prefer creating a new to reflect the new decisions and closing this in favour of that.

[2020-03-29 21:50] tariq1890 opened #1108 "Update golang version for building kube-state-metrics"
The latest version of go at time of reporting this issue is `1.14.1`

[2020-03-29 21:51] tariq1890 commented on #1108
/help
/good-first-issue

[2020-03-29 21:53] tariq1890 opened #1109 "Update Kubernetes dependencies"
Since `v1.18.x` is out, we need to update the `client-go`, `k/api`, and `k/apimachinery` dependencies

/help
/good-first-issue

[2020-03-29 21:57] tariq1890 commented on #1108
The changes need to be made in the following files

- .travis.yml
- Makefile
- go.mod

[2020-03-29 21:58] tariq1890 commented on #1109
Once the latest kubernetes versions are specified in `go.mod`, be sure to run `go mod vendor` and check-in the resulting changeset.

[2020-03-29 22:19] tariq1890 opened #1110 "Update prometheus dependency in kube-state-metrics"
We should use the latest version of prometheus to ensure that the exported metrics are compliant with the latest version of `promlint`.

Prometheus version can be updated in `go.mod`

/help
/good-first-issue

[2020-03-29 22:26] tariq1890 opened #1111 "Consider dropping vendor dir in favour of GOPROXY"
In kube-state-metrics, we have managed to maintain a clean dependency tree. This puts us in a good position and we can consider using the `GOPROXY` feature available in go.13+.

Some advantages I can think of with `no vendor directory`:

- Decreased build times since the dependencies are cached in the `https://proxy.golang.org/` server. I have heard great things about the build times.
- Decrease t

[2020-03-30 07:46] lilic commented on #1111
Do we suffer from this? For now the Disadvantages are too high over the gain, but would say lets leave it open in case that changes. WDTY?

[2020-03-30 07:58] lilic commented on #1109
client-go is not out yet from what I can tell. So this might need to wait for that.

[2020-03-30 12:25] lilic commented on #1102
That sounds good as well! 👍 And link to this one for clarity.

[2020-03-31 18:11] Prabhakar-17 commented on #1110
/assign @yourself

[2020-03-31 18:12] Prabhakar-17 commented on #1110
/assign @Prabhakar-17

[2020-04-01 09:30] dcroe commented on #1099
it's a bit unclear which informations do you need?

the output in 1.5.0 looks like this:
# HELP kube_deployment_status_replicas_unavailable The number of unavailable replicas per deployment.
# TYPE kube_deployment_status_replicas_unavailable gauge
kube_deployment_status_replicas_unavailable{namespace="ournamespace",deployment="deploymentname"} 0
in all higher versions its missing

[2020-04-01 09:36] lilic commented on #1099
Is this the same as if you do `kubectl get deployment -oyaml`?

You mean when you spin up a 1.18 k8s cluster and using which version of kube-state-metrics is this missing? But the deployment replicas status is set to unavailable?

[2020-04-01 10:06] dcroe commented on #1099
output of kubectl get deployment -oyaml (i've skipped the first part):
status:
  conditions:
  - lastTransitionTime: "2020-04-01T07:54:18Z"
    lastUpdateTime: "2020-04-01T07:54:18Z"
    message: ReplicaSet "slide-6575bd4f4b" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2020-04-01T08:19:06Z"
    lastUpdateTime: "2

[2020-04-01 10:07] dcroe commented on #1099
Environment:
Google Cloud, kubernetes v1.14.10-gke.17

[2020-04-01 10:13] lilic commented on #1099
Thanks! And which release version of kube-state-metrics was used in this 1.14 cluster? Are you able to see other kube_deployment_status_* metrics?

[2020-04-01 10:23] dcroe commented on #1099
yes there are some values.
for version question please have a look at the list in the issue text.
i've listed all versions which i've tested ,
all versions higher than 1.5.0 are affected

[2020-04-01 18:10] pryan-branch opened #1114 "Monitoring UnexpectedAdmissionError"
Hey everyone, we've recently encountered a state in which the pods enter UnexpectedAdmissionError. This has happened on two different clusters. Looking at the prometheus quest "kube_pod_status_phase, it only reports back the main status

https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase

Noted there. Is there a metric that monitors this weird state of UnexpectedAdmissionE

[2020-04-01 18:10] pryan-branch commented on #1114
Would like a label of "Help Wanted" please

[2020-04-01 20:17] olivierlemasle commented on #320
/remove-lifecycle stale

[2020-04-03 10:42] #964 closed

[2020-04-04 20:34] jason-riddle commented on #1037
I'm taking a look at the Makefile but it's unclear what needs to change.

There is `all-push`

[code]

Which makes use of `sub-push`

[code]

Which makes use of push

[code]

But why does sub-push not call `quay-push` as well?

[2020-04-04 20:36] jason-riddle commented on #1037
Is it just as simple as adding the following to `sub-push`?

[code]

[2020-04-04 20:57] jason-riddle commented on #1037
A short-term fix is to just use this docker image: [`docker.io/carlosedp/kube-state-metrics`](https://hub.docker.com/r/carlosedp/kube-state-metrics/tags).

[2020-04-04 23:35] #1110 closed

[2020-04-05 10:43] olivierlemasle commented on #704
/remove-lifecycle stale

[2020-04-05 18:44] Prabhakar-17 commented on #1108
/assign Prabhakar-17

[2020-04-05 18:44] Prabhakar-17 commented on #1109
/assign Prabhakar-17

[2020-04-06 07:47] JensErat commented on #1029
There is a PR (linked just above) saying this would be fixed?

[2020-04-06 08:10] lilic commented on #1109
The problem with this its a larger change due to the client-go changing its signature of the functions. So this might be a larger contribution. There is a tool that help with the migration.

[2020-04-06 08:50] davidkarlsen commented on #864
/remove-lifecycle stale

[2020-04-06 08:58] lilic commented on #1037
Feel free to contribute the changes! :) Lets have those in before we migrate to https://github.com/kubernetes/kube-state-metrics/issues/1089

[2020-04-06 14:40] tariq1890 commented on #1029
Yes, this is fixed. This should have been closed.

Are you still facing this issue @JensErat?

[2020-04-06 14:47] tariq1890 commented on #1109
@lilic Thanks for pointing that out. I’ll remove the labels for now.

Since @Prabhakar-17 has already contributed to this repo, he should be able to take this on :)

[2020-04-06 18:12] Prabhakar-17 commented on #1109
@tariq1890 Thank you, I will work on this.
@lilic Thank you for the info. Could you please tell the name of the tool.

[2020-04-06 20:29] dwbrown2 opened #1115 "Unexpected label is not unique error"
/kind bug

**What happened**:
We had a pod get created with `ops-managed` and `ops_managed` labels in our cluster. In this scenario, all metrics from kube-state-metrics are getting rejected by Prometheus with label is not unique error message.

[code]

**What you expected to happen**:
Metrics to be ingested... with either one or two separate labels in this scenario.

**How to reproduce it (as mini

[2020-04-07 14:29] brancz commented on #1115
I don't think we have an existing issue for this. This is a difficult one, as for correctness in Prometheus we have to normalize the labelnames, causing these collisions. It's a fundamental incompatibility between the systems. There are various other problems around label/annotations, as described in https://github.com/kubernetes/kube-state-metrics/issues/1102. Would you even need these labels in

[2020-04-07 15:47] dwbrown2 commented on #1115
Definitely see what you mean, let me know if I can help in any way.

One quick idea on my end... if you have a collision, prefer the one that meets the Prometheus label name requirements over others. This might be too specific to this situation but as a user this feels optimal, assuming we can't find a way around the incompatibility between k8s and prom.

Not having these labels in Prometheus at a

[2020-04-07 17:12] tariq1890 commented on #1115
I think to drop one label in favour of another is rather dangerous and could leave an unsuspecting user guessing for days when they are trying to troubleshoot. While I understand the need here, I still lean towards sticking with the current behaviour. We should strive towards simplicity here; my 2cents.

[2020-04-07 17:50] dwbrown2 commented on #1115
Just want to add some additional context on current behavior. We have a cluster with 1000s of pods running and this single "malformed" pod prevented us from getting ALL kube-state-metrics data.

[2020-04-07 20:47] JensErat commented on #1029
No, I was just wondering why it is still left open.

[2020-04-08 07:25] #1108 closed

[2020-04-08 11:59] #1029 closed

[2020-04-08 12:22] lilic commented on #1109
This is the repo that should help with migration from client-go 1.17 and client-go 1.18 https://github.com/kubernetes-sigs/clientgofix

[2020-04-08 15:37] lilic opened #1118 "Bump kubernetes version in tests to release v1.18"
We are currently still testing against 1.17.x in CI, we should switch to 1.18.x by launching a kubernetes cluster 1.18 with minikube.

[2020-04-08 18:46] Prabhakar-17 commented on #1118
/assign Prabhakar-17

[2020-04-09 08:22] sohaib-rafay commented on #876
As of today, do we have any metrics which stores service ports information?
for example, say my service type is NodePort using port 8080. Is there any way to get this info using kube-state-metrics?

[2020-04-09 14:07] #821 closed

[2020-04-14 08:07] brancz commented on #892
/remove-lifecycle stale

[2020-04-14 12:35] #1118 closed

[2020-04-14 18:11] tariq1890 commented on #838
/help
/remove-lifecycle-stale

[2020-04-14 18:18] olivierlemasle commented on #838
/assign

[2020-04-15 07:46] lilic commented on #838
Let me know if you need any guidance on this if the issue is too vague! Thanks 🎉

[2020-04-15 16:16] dgrisonnet commented on #1115
To have a similar behavior with #1102 a user would need to allow both "ops-managed" and "ops_managed" labels which is very unlikely. If only the "ops-managed" label was allowed, the metric would have been scraped from all the pods except the malformed one.

To avoid any attack related to this we could introduce a validator verifying that no allowed labels are conflicting.

[2020-04-15 16:18] dgrisonnet commented on #1115
Since allowed labels would be defined via the arguments, ksm would exit due to conflicting allowed labels. What do you think?

[2020-04-16 16:01] dgrisonnet opened #1124 "Bound the number of labels of all metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

This proposal is originating from this discussion #1102.

**Motivation:**

More and more users want to expose high cardinality metrics; however, it comes with great costs for the default configuration of kube-state-metrics.

#941
#1047

Moreover, some of these metrics (for example: Kubernetes labels or annotations) can generate an unbou

[2020-04-17 14:08] jw-s commented on #1124
`--labels-allow-list="kube_job_labels=[label1,label2],kube_node_labels=[label1]"`
@dgrisonnet Do we already have a flag type defined for this?

[2020-04-17 16:20] dwbrown2 commented on #1115
Sounds like an improvement to me!

This issue in its current form was hard for us to identify because Prometheus rejects all ksm data without any indication of the pod causing the error. It actually didn't even tell what the (second) conflicting label was.

So exiting with an error that says either this pod or this set of conflicting labels is causing the issue sounds like it would be helpful!

[2020-04-17 16:47] dgrisonnet commented on #1124
As far as I know, we don't have such a type. The existing ones are defined here: [types.go](https://github.com/kubernetes/kube-state-metrics/blob/master/pkg/options/types.go). Having a look into this file might help you write the new flag type.

[2020-04-18 16:12] jw-s commented on #1124
@dgrisonnet here is a rough wip of the solution #1125 , i'm not really happy with the flag. WDYT, any suggestions? Regex is not my forte...

[2020-04-20 06:50] lilic commented on #875
/remove-lifecycle rotten

[2020-04-20 08:31] olivierlemasle commented on #875
/remove-lifecycle stale

[2020-04-20 08:35] lilic commented on #875
ha thanks :D copy paste!

[2020-04-21 06:52] lordcf opened #1126 "Kubernetes_Kubeconfig file error"
I have deployed kube_metrics and passed the value for
kubernetes_kubeconfig : /var/vcap/jobs/kube_state_metrics_exporter/config/kubeconfig
when i SSH into VM andsee , this file is taking the exact path

What should be the value of this variable exactly ?
getting this error in bosh deployment of prometheus
Failed to create client: error loading config file "/var/vcap/jobs/kube_state_metrics_exporte

[2020-04-21 12:05] olivierlemasle commented on #569
/remove-lifecycle stale

[2020-04-21 18:13] #1027 closed

[2020-04-22 11:35] lilic commented on #569
@brancz anyone to ping regarding scalability tests?

[2020-04-22 17:28] brancz commented on #569
SIG call sounds good

[2020-04-23 10:49] george-angel commented on #941
/remove-lifecycle stale

[2020-04-25 14:50] tlereste opened #1127 "Update deprecated Ingress API version ?"
To follow issue #802 :
kube-state-metrics still use deprecated Ingress API version `extensions/v1beta1` for `Ingress` resources.

The blog post : https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/ have been updated and now says that Ingress API version `extensions/v1beta1` will be removed in **v1.22**.

The Ingress API version has been deprecated since **v1.14**.

Should we keep it mo

[2020-04-25 18:08] tariq1890 commented on #1127
Thanks for filing this issue. We are fine with moving to the new apiVersion once the K8s 1.18.x dependencies are added to ksm. Please feel free to contribute that as a PR if you wish :)

[2020-04-25 18:51] tlereste commented on #1127
Thanks ! I will do that :)
/assign

[2020-04-26 09:28] Bessonov commented on #611
/remove-lifecycle rotten

[2020-04-26 11:54] tlereste commented on #1127
I tried to update **KSM** to use **K8S** **1.18.2**.
Unfortunately, `vertical-pod-autoscaler` is not yet compatible with **client-go** **v0.18.x**.

I  have the following errors :
[code]
Because now **client-go** rest request must set **context** on **Do** call :
https://github.com/kubernetes/client-go/blob/5159cff060fb98cd98592f6663f322c982066d7e/rest/request.go#L939

**VPA** use a old client-go

[2020-04-28 07:27] RajatVaryani commented on #821
Hello. Should we still add this? We can get the duration time by `kube_job_status_completion_time - kube_job_status_start_time`.

[2020-04-28 07:29] RajatVaryani commented on #947
@AdityaMisra Are you still working on this?

[2020-04-28 07:33] AdityaMisra commented on #947
@RajatVaryani I'm working on it. Will be generating PR soon.

[2020-05-01 17:45] #972 closed

[2020-05-02 11:52] stevebail opened #1132 "Add Support for kube_state_metrics_build_info"
This is a FEATURE REQUEST.

Please add support for kube_state_metrics_build_info as part of the metrics exposed on telemetry port 8081.
kube_state_metrics_build_info shall include the version of the kube-state-metrics.
Most Prometheus exporters are currently supporting such metric.

[2020-05-05 10:44] Morriz opened #1133 "Azure AKS: 1.8.0 (for 1.15) gives "collector networkpolicies does not exist""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After deployment on Azure AKS with k8s version 1.15.7 I get the following error in the logs:
[code]

**What you expected to happen**:
The pod to come up

**How to reproduce it (as minimally and precisely as possible)**:
Deployment on Azure AKS with k8s version 1.15.7

- Kube-state-metrics image version: 1.8.0

[2020-05-05 10:50] Morriz commented on #1133
Nevermind, found the configuration to disable networkpolicies collection.

[2020-05-05 10:50] #1133 closed

[2020-05-05 13:00] stevebail opened #1134 "PV Capacity (kube_persistentvolume_capacity_bytes)"
What is kube_persistentvolume_capacity_bytes?
Is it the fixed total capacity regardless of usage?
Or is it the currently available capacity?
I think we should considered improving the metric name.

[2020-05-05 13:47] brancz commented on #1047
/remove-lifecycle stale

[2020-05-05 14:20] brancz commented on #1134
It's the total capacity of the volume. The name is aligned with the naming conventions in kube-state-metrics in regards to their location in the API object. If you think the description/documentation can be better, I'd be more than happy about a PR to improve it! :slightly_smiling_face:

[2020-05-05 14:21] brancz commented on #1132
Love this :+1: do you want to shoot us a PR to add it? :)

[2020-05-05 14:25] stevebail commented on #1134
@brancz
Thank you Frederic for the clarification.
I guess we are missing a new counter called kube_persistentvolume_usage_bytes.
Without it, it is not possible to know how much is available.
Do you agree?

[2020-05-05 14:29] stevebail commented on #1132
@brancz
I am new :)
Sorry to ask but what is the process to create a PR?

[2020-05-06 03:26] mcristina422 commented on #1132
Prometheus does provide a helper for this https://github.com/prometheus/common/blob/7680068d4af7bd5cb3043381494f956c22c034b2/version/info.go#L38, but we are not setting those exact vars. So something similar could probably be added to https://github.com/kubernetes/kube-state-metrics/blob/17ddeca348130ead2f893295ea093429c388887c/pkg/version/version.go

[2020-05-06 07:34] benjaminhuo opened #1135 "VolumeAttachment API version mismatch: expected v1 but watching v1beta1"
/kind bug

**What happened**:
Deploy ksm v1.9.5 via kube-prometheus in k8s 1.17.3 cluster, got errors in kube-state-metrics log like below:
[code]
I can see that VolumeAttachment has been available in storage.k8s.io/v1 since kubernetes v1.13, maybe we can update kube-state-metrics ?

**What you expected to happen**:
no such errors

**Environment**:
- Kubernetes version (use `kubectl version`):
[co

[2020-05-06 14:30] kaivean commented on #1086
I'm getting the same issue.  Is it fixed ? @lilic

[2020-05-06 15:59] #1135 closed

[2020-05-07 08:16] brancz commented on #1134
kube-state-metrics is strictly about converting Kubernetes API objects to Prometheus style metrics. The metric you are looking for to monitor volume usage already exists on the kubelet:

* kubelet_volume_stats_inodes_used
* kubelet_volume_stats_used_bytes
* kubelet_volume_stats_available_bytes
* kubelet_volume_stats_capacity_bytes
* kubelet_volume_stats_inodes
* kubelet_volume_stats_inodes_free

[2020-05-07 12:56] stevebail commented on #1134
Thanks @brancz  for the clarification but I cannot find them in my system.
I am scrapping at /api/v1/nodes/<node-name>/proxy/metrics and k8s  is running v1.17.0.
There is no metrics starting with kubelet_volume.
Did I miss something?

[2020-05-07 19:46] brancz commented on #1134
Your CSI driver has to implement some handlers make sure with your CSI driver that it does actually implement them.

[2020-05-07 21:09] stevebail commented on #1134
Now that I understand all the pieces, I think I am OK with the metric name  kube_persistentvolume_capacity_bytes.
No PR needed :)
Thank you Frederic!

[2020-05-07 21:09] #1134 closed

[2020-05-10 18:20] alonisser opened #1137 "Has 1.9.6 been suddenly removed?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Suddenly my pod fails because they can't download the 1.9.6 image, but older one do works with it (Or seem so)
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
try to use
https://raw.githubusercontent.com/kubernetes/kube-state-metrics/release-1.9/examples/standard/deploy

[2020-05-10 18:26] vrathore18 opened #1138 "Using kube-state-metrics for HorizontalPodAutoscaler"
I have kube-state-metrics in monitoring namespace, which I deployed using prometheus-operator in my EKS cluster.  I am implementing HorizontalPodAutoscaler in default namespace but couldn't found a documentation on how to use kube-state-metrics.

Could you please guild me to the proper documentation or example if you have.

I can confirm that this is not working

[code]

Can we have a proper sampl

[2020-05-11 05:55] brancz commented on #1138
kube state metrics is about generating prometheus style metrics from Kubernetes API objects. What you are looking for is an implementation of the resource metrics API, the default implementation being the metrics-server.

[2020-05-11 14:52] brancz commented on #1137
@tariq1890 I think you started the 1.9.6 release but it looks like it wasn't entirely finished up?

[2020-05-11 17:15] tariq1890 commented on #1137
Yes. We need to push it to gcr and quay. I currently lack the permissions to do that

[2020-05-11 20:51] tariq1890 commented on #1137
@alonisser 1.9.6 was never released in the first place

I recommend fetching the latest release from here: https://github.com/kubernetes/kube-state-metrics/releases

[2020-05-12 04:57] lesovsky opened #1139 "Not working with NodePort service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The kube-state-metrics `/metrics` endpoint doesn't repond when using service with `type: NodePort`. Both http-metrics and telemetry services are not working. The `/` and `/healthz` endpoints respond correctly.

**What you expected to happen**:
The kube-state-metrics should respond correctly when doing requests to `/metrics

[2020-05-12 06:14] brancz commented on #1137
An you push the tag and publish the release? Then I can at least publish the quay image.

[2020-05-12 18:15] tariq1890 commented on #1137
@brancz I've created the release draft. You can publish it once you're ready to push the quay image :)

[2020-05-13 10:04] chinglinwen opened #1140 "Failed to list *v1beta2.VerticalPodAutoscaler with k8s v1.17"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

apply kube-state-metrics from helm template

[code]

[code]

**What you expected to happen**:
no failed to list v1beta2.VerticalPodAutoscaler  error

**How to reproduce it (as minimally and precisely as possible)**:

1. helm template kube-state-metrics stable/kube-state-metrics > kube-state-metrics.yaml
2. apply

**Anything else we

[2020-05-13 15:57] brancz commented on #1139
Can you connect to other things via node port? This doesn’t really sound like a kube state metrics problem.

[2020-05-13 17:51] lesovsky commented on #1139
Other things exposed using nodePort work correctly, but I've found the cause of my problem. I tried connecting to the host where no nodePort was opened. Everything is ok when connect is performed to proper host with exposed nodePort.
It seems, yesterday i was too tired and strongly confused by proper responding from '/' and '/healthz' endpoints. Today I've rechecked all the things and found where

[2020-05-13 17:51] #1139 closed

[2020-05-15 10:38] kriptor opened #1142 "MutatingWebhookConfiguration v1 vs v1beta1 mismatch"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Installed kube-state-metrics into k8s cluster using prometheus-operator helm chart 8.13.7 and getting the following errors:
`E0515 10:14:07.385907       1 reflector.go:382] pkg/mod/k8s.io/client-go@v0.0.0-20191109102209-3c0d1af94be5/tools/cache/reflector.go:108: expected type *v1.MutatingWebhookConfiguration, but watch ev

[2020-05-15 15:46] brancz commented on #1137
1.9.6 should be published

[2020-05-15 18:15] sznmaran commented on #941
Hello, we are using old(not so reliable) version due to lack of annotation metrics. Is there any chance to implement solution described above? Should we find another way how to get annotations?
Thanks

[2020-05-16 13:32] taideng commented on #1051
How about add a new label like podPhase(string(p.Status.Phase)}) for this metrics?
I do it in my env,and it works fine for me..

[2020-05-18 06:59] lilic commented on #1061
All images are located here https://quay.io/repository/coreos/kube-state-metrics?tag=v1.9.5&tab=tags or you can build form tags or releases. If you feel like this was not clear, feel free to reopen issue. :)

[2020-05-18 06:59] #1061 closed

[2020-05-18 13:37] #1142 closed

[2020-05-18 18:05] brancz commented on #1051
That's exactly what happens when you join the phase metric onto another pod metric :)

[2020-05-18 18:14] brancz commented on #941
There are various approaches outlined/in progress that are linked to this issue, please contribute to move this forward :)

[2020-05-19 11:30] AllDayAlone commented on #1140
+1

[2020-05-20 14:24] SobakaSlava commented on #1140
+1

[2020-05-20 16:30] chinglinwen commented on #1140
Have a look at the code, If it need just to change the version that would be easy, it turns out that `v1 .Spec` deleted the `Metrics` fields, that's complicated to change.

https://godoc.org/k8s.io/api/autoscaling/v1#HorizontalPodAutoscalerSpec
vs
https://godoc.org/k8s.io/api/autoscaling/v2beta1#HorizontalPodAutoscalerSpec

[code]

here's the easier re-produce steps (with k8s version: v1.17.2 too)

[2020-05-22 14:02] lihuixian001 opened #1147 "Failed to list *v1beta2.VerticalPodAutoscaler with k8s v1.16"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:

the kube-state-metrics pod generates a lot of error logs:

E0522 13:57:29.070200       1 reflector.go:156] pkg/mod/k8s.io/client-go@v0.0.0-20191109102209-3c0d1af94be5/tools/cache/reflector.go:108: Failed to list *v1beta2.VerticalPodAutoscaler: the server could not find the requested resource (get verticalpodautoscalers.a

[2020-05-22 23:38] efeller opened #1148 "Joining kube_node_labels with kube_pod_labels"
Hi all,

I would like to join kube_node_labels with kube_pod_labels to retrieve the instance type on which my pod is running. The time series "kube_node_labels" seems to have a label called "label_beta_kubernetes_io_instance_type". However, I cant seem to find a field in kube_pod_labels on which I could join with kube_node_labels.

Would be great to receive your help/example on how I can make it w

[2020-05-24 05:08] tariq1890 commented on #1140
Hello! Please note that `verticalpodautoscalers` are only opt-in and should not be used if you don't have the required CRDs for VPAs. The solution here is to disable VPA's [here](https://github.com/helm/charts/blob/2621f9913ce7543237af2204fe4fb89311e3d4c7/stable/kube-state-metrics/values.yaml#L121)

[2020-05-24 05:25] tariq1890 commented on #1147
Closing this as a duplicate of #1140 Please take a look at the solution posted there.

[2020-05-24 05:25] #1147 closed

[2020-05-24 13:10] kriptor commented on #1142
Hi guys,

any chance this fix will get released soon? I hate that error. :)

Regards

[2020-05-24 17:24] tariq1890 commented on #1140
An update: If you have used the helm charts and are facing this issue, please use the latest Chart version: https://github.com/helm/charts/blob/master/stable/kube-state-metrics/Chart.yaml

We have turned off vpas by default.

[2020-05-25 12:35] brancz commented on #1148
You're going to have to do two joins, easiest would be to start with joining `kube_pod_info` with `kube_pod_labels` on the `namespace` and `pod` labels, and then `kube_node_labels` on the `node` label.

[2020-05-25 12:37] #1114 closed

[2020-05-25 16:51] efeller commented on #1148
Thanks a lot @brancz. I got it to work using:

`kube_pod_info * on(pod,namespace) group_right(node) kube_pod_labels * on(node) group_left(label_beta_kubernetes_io_instance_type) kube_node_labels`

[2020-05-25 17:02] #1148 closed

[2020-05-28 15:33] sepich commented on #1086
+1 for fixing gcr image, as quay is mostly unavailable recently: https://status.quay.io/

[2020-05-29 07:34] #849 closed

[2020-06-03 08:48] pavel-khritonenko commented on #873
I have a similar issue for PodDisruptionBudget labels - would like to have labels like "team" and "environment" attached to that resource, to send alert to the appropriate team, when a particular PDB violated.

[2020-06-04 13:01] mrueg opened #1153 "Provide a new home for the helm chart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
https://github.com/helm/charts#deprecation-timeline helm/charts repository which currently hosts the kube-state-metrics chart will become obsolete in Nov 2020.
**What you expected to happen**:
Figure out a new place for the kube-state-metrics chart. Ideally, it could live in this repository as a directory (similar to

[2020-06-05 13:23] #1015 closed

[2020-06-05 15:25] #906 closed

[2020-06-07 05:44] STRRL commented on #1046
Hi @lilic, @brancz, these metrics can be scraped from kubelet `/stats/summary`, via Kubernetes API proxy to kubelet like `https://x.x.x.x:8443/api/v1/nodes/${node_name}/proxy/stats/summary/`.
Here are `volumes` field in each `pods`, contains empty dir used bytes and used inodes.

Since kube-state-metric hasn't done things like "fetching from kubelet" ever, is there a more elegant way (another expo

[2020-06-08 20:58] serathius commented on #1089
/remove-lifecycle stale

[2020-06-09 11:08] lilic commented on #1089
@tariq1890 said he is interested in doing this, if not I can take it. Tariq do you have time for this?

[2020-06-09 11:39] brancz commented on #1046
The kubelet's metrics endpoint should expose these if it doesn't already I think. Cardinality could potentially be high, but I think those metrics are worth it.

[2020-06-09 14:25] paulfantom commented on #1046
As @brancz said, this is covered by kubelet metrics, especially:
- `kubelet_volume_stats_capacity_bytes`
- `kubelet_volume_stats_used_bytes`
- `kubelet_volume_stats_available_bytes`
- `kubelet_volume_stats_inodes`
- `kubelet_volume_stats_inodes_free`
- `kubelet_volume_stats_inodes_used`

[2020-06-09 14:54] brancz commented on #1046
Do those metrics include emptydir volumes though? I'm not certain, but awesome if they do :)

[2020-06-09 15:15] jtslear commented on #1046
In doing a short query in my environment, I do not see `emptyDir` volumes populated in any of the above metrics noted.  Rather I only see data from PVC's.

[2020-06-09 15:34] brancz commented on #1046
Yes that is what I was under the impression of as well.

[2020-06-09 20:02] bharathi-tenneti opened #1154 "Support Prometheus Collector interface"
/kind feature

kube-state-metrics does not support exposing its metrics via the standard prometheus client_golang interfaces. But that sort of interoperability would make it much easier to integrate kube-state-metrics with existing prometheus APIs.

There is draft work done by @joelanford [here](https://github.com/kubernetes/kube-state-metrics/compare/release-1.9...joelanford:collector-interface?e

[2020-06-10 01:39] STRRL commented on #1046
I have the same situation with @jtslear , these metrics do NOT contains anything about `emptyDir`, my kubernetes version is 1.16.6.

[2020-06-10 05:41] brancz commented on #1154
The reason why we don't is because serialization of standard client_golang is _much_ slower than the highly optimized version we have. Normal client_golang is perfectly sufficient for practically everything, except kube-state-metrics, where we tend to have extremely large scrapes (we often see >50Mb). The optimizations we've done are also not usable as a general purpose client, they only really fi

[2020-06-11 07:21] lilic commented on #1153
cc @tariq1890

[2020-06-11 07:23] lilic commented on #1137
This is published, closing issue.

[2020-06-11 07:23] #1137 closed

[2020-06-11 07:24] lilic commented on #1109
@Prabhakar-17 are you still interested in working on this, otherwise lets unassign you? :)

[2020-06-11 07:32] Prabhakar-17 commented on #1109
@lilic yes, I am interested. I was getting few errors,  will give another try over this weekend.

[2020-06-11 08:19] lilic commented on #1109
Okay, feel free to write here the issues you faced, thanks!

[2020-06-11 17:07] tariq1890 commented on #1153
I am okay with adding the helm chart to this repository. Thoughts @brancz and @lilic ?

[2020-06-11 17:09] tariq1890 commented on #1109
If I remember correctly, the `verticalpodautoscaler` dependency didn't support the `v0.18.x` versions of client-go

[2020-06-11 17:26] tariq1890 commented on #1109
I have raised this issue. Hoping for a response from the autoscaler maintainers: https://github.com/kubernetes/autoscaler/issues/3219

[2020-06-11 20:19] joelanford commented on #1154
@brancz Thanks for the explanation! Makes sense. Our use case is to provide a library to make it easy for operator developers to publish kube-state-metrics-style metrics for their owned CRDs.

Do you foresee any scaling issues our users would run into if they instrumented metrics for _just_ their owned CRDs using prometheus client_golang APIs?

[2020-06-12 03:19] mcristina422 commented on #1109
I opened a PR with those changes here https://github.com/kubernetes/autoscaler/pull/3098

[2020-06-12 07:26] STRRL commented on #1046
@brancz @jtslear @paulfantom , I found a issue about these prometheus metrics: https://github.com/kubernetes/kubernetes/issues/69507

[2020-06-12 20:03] csmarchbanks opened #1157 "Pod metrics reported for deleted pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Running kube-state-metrics, and a different pod is deleted. After the other pod is removed kube-state-metrics continues to report metrics for that pod indefinitely.

**What you expected to happen**:
Metrics pertaining to a deleted pod to no longer be updated soon after deletion.

**How to reproduce it (as minimally and pr

[2020-06-14 15:56] #1024 closed

[2020-06-15 08:27] lilic commented on #1157
Have not seen this before, but that k8s version we don't support anymore in the ksm version you are running. https://github.com/kubernetes/kube-state-metrics#compatibility-matrix So curious if it has anything to do with that? Have you been able to reproduce this on later k8s versions as well so we can take that out of account? (don't think much changed in pod APIs since then, but still worth exclu

[2020-06-15 12:21] brancz commented on #1153
I'd be fine with that as well, ideally we could even generate it from the jsonnet code we have, but I wouldn't block it if it wasn't. The only think that I would be a bit strict about is that everything has to be equally automated as the jsonnet things we have, so that releasing a new version doesn't have any other steps than the current `VERSION` file bump.

[2020-06-15 12:32] lilic commented on #1153
Yes fine as well, not to familiar with Helm charts so don't think I can contribute much to it, but no objections.

[2020-06-15 14:27] mrueg commented on #1153
Would you be comfortable with a `contrib/` folder structure that includes a `charts` subfolder? This could potentially include `jsonnet` and other deployment options as well.

[2020-06-15 14:35] lilic commented on #1089
Both of my PRs are merged. Now how to check the process actually works 🤔

[2020-06-16 02:30] #995 closed

[2020-06-16 09:25] serathius commented on #1089
Thanks for handling this Lili
When we were migrating Metrics Server it required additional changes in our build rules.
* Fixing version tagging to be compatible with cloudbuild https://github.com/kubernetes-sigs/metrics-server/pull/475
* Stop building binary locally and docker use multi stage build https://github.com/kubernetes-sigs/metrics-server/pull/352

Hope this helps

[2020-06-16 11:15] ekesken commented on #694
/remove-lifecycle stale

we're still observing this issue in our clusters.

[2020-06-16 11:57] lilic commented on #694
@ekesken can you answer the question from Frederic if you are still running into this issue? :)

[2020-06-16 13:19] ekesken commented on #694
@brancz

we use 10.4.0 version of prometheus helm chart: https://github.com/helm/charts/blame/3944b1421eb039725816c905c00608193226b001/stable/prometheus/Chart.yaml

This is our diff for the settings:

[code]

we're using 1.9.1

yes we do, and as I can see 1.16 is the only supported version for 1.9.5, unfortunately we don't have 1.16 clusters to observe the situation.

we don't have a clue about th

[2020-06-16 13:35] lilic commented on #694
cc @tariq1890 don't have much experience with the ksm helm chart can you have a look.

[2020-06-16 15:47] brancz commented on #1154
It's unpredictable, in OpenShift we also opted to use kube-state-metrics as a library for openshift-state-metrics, and there image-streams (also "just" a single resource) were also in need for these performance improvements. Some will always need this, so I wouldn't say it's safe to generalize.

I assume you're investigating this so that you only have a single endpoint. Something that we could try

[2020-06-16 16:10] #1115 closed

[2020-06-16 21:29] joelanford commented on #1154
In operator-sdk we have a library that has some helpers that basically take a `rest.Config`, a list of namespaces, and a list of GVKs and generate some simple out-of-box metrics for instances of GVKs found in those namespaces. Right now that library runs a totally separate server that handles these built-in metrics.

We're looking for ways to generalize this to make it easier to integrate into con

[2020-06-17 22:14] csmarchbanks commented on #1157
It does seem like the pod API shouldn't have changed much. I had been running without sharding on 1.9.5 for a couple months and did not notice this issue, so first I am trying to turn off sharding and see if the issue still occurs on the same version. If it does I will downgrade.

[2020-06-18 08:38] ebrudalkir opened #1158 "kube_pod_status_reason metric can't come on Prometheus"
I want to set alarm if pod's status evicted. But kube_pod_status_reason metric can't come on Prometheus. Just this metrics shown Evicted status. How can solve this problem?

kube_pod_status_reason

pod=<pod-name>
namespace=<pod-namespace>
reason=<NodeLost|Evicted|UnexpectedAdmissionError>

[2020-06-18 14:25] stevebail opened #1159 "kube_pod_started_time is missing"
@brancz

 ksm is currently supporting the following pod timestamps:

- kube_pod_created
- kube_pod_status_scheduled_time
- kube_pod_start_time

The kube_pod_started_time is missing.
This the time after all the images have been pulled, all containers have been created and all containers have been started.

Any plans to support such metric?
New feature enhancement?

[2020-06-18 14:34] lilic commented on #1159
@stevebail thanks for the issue, does Pod resource expose this time in the API?

[2020-06-18 14:49] stevebail commented on #1159
Good question!
When looking at the running YAML (kubectl get pods <pod-name> -o yaml), I do see the following for each container:
    state:
      running:
        startedAt: "2020-06-18T13:19:03Z"

The largest value should be used for the pod started time.

[2020-06-19 11:27] brancz commented on #753
Could someone verify whether this is still the case?

/remove-lifecycle stale

[2020-06-19 11:30] brancz commented on #1057
I assume since there were no further comments, that kube-state-metrics mirrors the correct numbers, this was just about understanding the numbers themselves. If there are more questions feel free to comment or open a new issue should you believe there is an issue with kube-state-metrics.

[2020-06-19 11:30] #1057 closed

[2020-06-19 11:30] brancz commented on #1153
That's effectively what we used to have, and that didn't work out well.

[2020-06-19 11:42] brancz commented on #1154
I think we're saying the same thing, just different approaches to achieving it.

[2020-06-19 13:53] #990 closed

[2020-06-19 14:44] victorcopque commented on #1093
Thanks @olivierlemasle!

[2020-06-24 12:56] bergerx commented on #694
Aha i just came across this in https://github.com/kubernetes/kube-state-metrics/blob/1dfe6681e990623a4078b4e53a2e3c8761e213c6/docs/design/metrics-store-performance-optimization.md:

I didn't check the code but if this optimisation went in, and the deletion of the cached object are now depending on the events, could it be that the stale pod metrics persist if a pod delete event is missed by the ksm

[2020-06-24 16:27] brancz commented on #1095
/remove-lifecycle stale

[2020-06-26 05:29] brancz commented on #694
It always depended on delete's to remove objects from cache before and after the optimizations. What was optimized was the cache itself. Is anyone still experiencing this with the latest patch release of kube-state-metrics 1.9 and a Kubernetes 1.18 cluster?

[2020-06-27 01:53] bergerx commented on #694
Oh, so you mean ksm has always been edge triggered only, as in level-vs-edge-triggered, not level.

I can't comment on your question as we are not yet on Kubernetes 1.18. But here is a scenario that can likely happen for AKS case:
* api-server outages are not something really rare
* api-server (master components) are hosted by azure and they are not visible to users
* Nodes (kubelets) and workload

[2020-06-29 05:49] brancz commented on #1102
/remove-lifecycle stale

[2020-07-01 12:20] Drugoy commented on #1159
@stevebail
What is kube_pod_start_time?
Isn't this what you are looking for? Or what would be the difference between it and kube_pod_started_time?

p.s.: I came here to file a ticket about kube_pod_start_time being broken: restarting a pod doesn't affect it, but maybe it's just a metric for something else and you know it, while I don't, so instead of filing new ticket I stumbled upon yours, since

[2020-07-01 12:29] Drugoy commented on #1159
My current problem is that I can't use ksm to get pod's uptime.
Someone, please, either fix kube_pod_start_time or introduce kube_pod_started_time.

[2020-07-02 09:08] dgrisonnet opened #1162 "Label not following Prometheus best practices in labels metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created a pod with label in camelCase, `marketplace.operatorSource` which was then translated by kube-state-metrics into a Prometheus label part of the `kube_pod_labels` metrics.
To my surprise, promlint then flagged the `kube_pod_labels` metric as a metric not following the best practices with an error saying that lab

[2020-07-02 11:17] paulfantom commented on #1162
Changing label name from user-provided value to something else can cause potential conflicts. What if one pod had `marketplace.operatorSource` and the second one `marketplace.operator_source`?

[2020-07-02 11:26] dgrisonnet commented on #1162
In this case, I think we can make use of the "_confictN" renaming mechanism that was recently introduced in #1156.

[2020-07-02 11:48] stevebail commented on #1159
The current kube_pod_start_time and the proposed kube_pod_started_time are not the same.
kube_pod_start_time is the time when the pod is starting but is not executing yet (not ready to receive requests yet).
kube_pod_started_time is the time when the pod is executing and ready to receive requests.
The time difference between them can easily be in the order of many seconds and vary greatly dependin

[2020-07-02 15:13] Drugoy commented on #1159
Well, judging by your explanation I should file a bug ticket, because kube_pod_start_time doesn't get update upon pod's reboot.

[2020-07-02 15:19] Drugoy opened #1163 "kube_pod_start_time doesn't get updated upon pod reboot"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kube_pod_start_time doesn't get updated upon pod reboot.

**What you expected to happen**:
kube_pod_start_time should represent pod's start time

**How to reproduce it (as minimally and precisely as possible)**:
Just execute `kill -s TERM 1` in a pod.

**Anything else we need to know?**:
ocp 3.11

**Environment**:
- Kuber

[2020-07-03 09:21] brancz commented on #1163
kube-state-metrics just mirrors what the Pod API exposes. If you think this should be different, then that should be a bug against Kubernetes, not kube-state-metrics.

[2020-07-03 09:41] mohsen0 opened #1164 "HPA metrics as metrics for autoscaling/v2beta2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Can we expose metrics about the metrics that HPA sees?
Then we can have dashboards that illustrate the scaling events and their reasons.

[code]

**What you expected to happen**:

To have HPA metrics available.

Versions:

[code]
[code]

[2020-07-03 09:43] Drugoy commented on #1163
@brancz but Cluster's GUI (we have OpenShift 3.11) shows pod uptime right. I bet it takes data from Pod API as well.

[2020-07-03 09:50] brancz commented on #1164
HPA metrics do exist, but it appears to be for  `autoscaling/v2beta1` instead of `autoscaling/v2beta2`, is this API version new? Are they compatible?

[2020-07-03 09:53] brancz commented on #1163
kube-state-metrics exposes the value of whatever is in `.status.startTime` of the Pod object. Could you share the output of this command?

[code]

[2020-07-03 10:48] Drugoy commented on #1163
[code]

[2020-07-03 11:48] brancz commented on #1163
And that's what you expected to see in the metric or not?

[2020-07-03 13:38] Drugoy commented on #1163
Well, crap, turns out you are right: it is k8s issue: a pod's reboot doesn't affect it.
Sorry for bothering you.

[2020-07-03 13:38] #1163 closed

[2020-07-03 21:37] r0bj opened #1166 "duplicated metrics using kube-state-metrics sharding"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We have 3 kube-state-metrics deployments running as shards:
[code]

kube-state-metrics-0 args:
[code]
kube-state-metrics-1 args:
[code]
kube-state-metrics-2 args:
[code]

There is prometheus statefulset and its pod:
[code]

It seems that two kube-state-metrics shards are exposing metric for this pod:
[code]

Additionally

[2020-07-05 11:50] davidkarlsen commented on #864
/remove-lifecycle stale

[2020-07-06 11:22] chambridge commented on #704
/remove-lifecycle stale

[2020-07-06 17:58] csmarchbanks commented on #1157
Sorry about the slow updates, wanted to make sure we gave it enough time. Since turning off sharding we have not seen any issues with reporting metrics for deleted pods.

[2020-07-07 06:21] povilasv commented on #704
@brancz / @lilic  any chance we can release a version with commit https://github.com/kubernetes/kube-state-metrics/pull/1146 ? So that we can close this issue ;)

[2020-07-08 07:37] brancz commented on #704
new features will only land in kube-state-metrics 2.0, if you would like to see this version sooner, please help us complete the 2.0 roadmap :) #569

[2020-07-08 08:19] povilasv commented on #704
thanks for the info :)

[2020-07-08 08:43] brancz commented on #1157
I have a feeling that this is a dupe of https://github.com/kubernetes/kube-state-metrics/issues/694. I have some idea what might be wrong, but currently no time to look deeper into it.

[2020-07-08 10:17] Drugoy opened #1167 "Missing container start time metric kube_pod_container_state_started"
**What happened**:
`kubectl describe pod`'s output has
[code]
This represents container's (and thus monocontainer pod's) start time (and **is the only way to calculate its uptime**).
I need this metric **badly**.
It is way more important than `kube_pod_start_time` metric (which is kinda useless, since restarting a pod doesn't affect this metric).
Judging by the metric's 'path' in `kubectl describe

[2020-07-08 14:56] brancz commented on #1167
Seems reasonable to me to add this.

[2020-07-08 19:03] #1162 closed

[2020-07-09 13:39] lilic commented on #1166
@brancz PTAL, thanks!

[2020-07-09 13:40] lilic commented on #1158
@ebrudalkir  Can you clarify what you are having problems with. Is it that you cannot see the kube_pod_status_reason label having Evicted status?

[2020-07-09 13:45] lilic commented on #1164
Which version of kubernetes and which version of kube-state-metrics are you using?

[2020-07-09 13:49] mohsen0 commented on #1164
Added the versions

[2020-07-09 13:51] lilic commented on #1164
According to our compatibility matrix 1.15 you should be using 1.8.z and earlier https://github.com/kubernetes/kube-state-metrics#compatibility-matrix

[2020-07-09 14:02] mohsen0 commented on #1164
Yep, That is correct, I corrected it and tried with 1.8, still, there is no metric to report the status of metrics seen by the HPA.

[2020-07-09 14:19] mohsen0 commented on #1164
Not sure if you understood me correctly, I am interested to have
[code]
as HPA metrics.

[2020-07-09 14:36] brancz commented on #1166
@r0bj thanks a lot for reporting! First interesting observation is the `node` label appears to be different, are you running the rescheduler or something like this that might have moved the pod from one node to the other?

Could you share the UIDs of this Pods? (that's what sharding is performed on, so this should be able to tell us hopefully why this is happening, you should also be able to see t

[2020-07-09 15:22] lilic commented on #1164
I see, okay I misunderstood then. Only HPA metrics we have are the following:
https://github.com/kubernetes/kube-state-metrics/blob/master/docs/horizontalpodautoscaler-metrics.md

You want to have native metrics about HPA? Can you give example here? Note that kube-state-metrics can only produce metrics exposed by kubernetes API.

[2020-07-10 02:58] r0bj commented on #1166
No, no rescheduler or anything with similar behaviour.

There is actually one pod (UID: a0497afe-e9cb-476d-8f02-f3314a6abfab ) which is exposed twice by kube-state-metrics. Unfortunately I cannot reproduce it reliably, I've just seen this issue on one of my clusters. I was thinking that it was some kind of stalled cache on `kube-state-metrics` side but restart `kube-state-metrics` pod didn't help.

[2020-07-10 07:09] brancz commented on #1166
Sorry just for confirmation, how did you grab that UID?

[2020-07-10 08:54] lilic commented on #1109
Seems like new PR is this one https://github.com/kubernetes/autoscaler/pull/3225

[2020-07-10 09:04] lilic commented on #1159
@stevebail

When looking at the running YAML (kubectl get pods -o yaml), I do see the following for each container:
state:
running:
startedAt: "2020-06-18T13:19:03Z"

Where is this in the k8s api? I only found `StartTime` via the `PodStatus` which is what we use for `kube_pod_start_time `
[code]

If you can provide link to code where that is defined, or create PR for it, seems very valid!

[2020-07-10 09:05] lilic commented on #1159
@Drugoy can you open issue for this, thanks! Can you provide a minimal reproduce manifest, thanks!

[2020-07-10 09:09] Drugoy commented on #1159
#1167

[2020-07-10 17:47] r0bj commented on #1166
I got this UID by describing pod with kubectl:
[code]

[2020-07-10 18:12] 2rs2ts commented on #530
/reopen

As my company has ramped up its use of Kubernetes this has become much more pressing. As I had predicted, there are many other reasons why this happens to my users, the most common one is that they wrote a bug. Kubernetes events are not sufficient for us because of the way Datadog (our monitoring solution) handles them. It'd be GREAT for there to be a metric for cronjob status that can te

[2020-07-10 18:12] 2rs2ts commented on #530
/remove-lifecycle rotten

[2020-07-11 00:11] r0bj commented on #1166
Similar situation with ghost pod, pod `mysqld-exporter-db-delay-se2-7f5fd7d7b7-rsff4 ` doesn't exists anymore:
[code]

kube-state-metrics is still exposing its metrics:
[code]

[code]

[2020-07-11 01:32] esalaverria commented on #1093
I'm getting this error:
`pkg/mod/k8s.io/client-go@v0.0.0-20191109102209-3c0d1af94be5/tools/cache/reflector.go:108: expected type *v1.MutatingWebhookConfiguration, but watch event object had type *v1beta1.MutatingWebhookConfiguration`

And my Kubernetes version:
[code]

And running latest stable kube-state-metrics version (1.9.7)

[2020-07-13 09:19] lilic commented on #892
/remove-lifecycle stale

[2020-07-13 11:52] brancz commented on #1166
That sounds like https://github.com/kubernetes/kube-state-metrics/issues/694

[2020-07-13 14:48] nickytd commented on #1158
Same here. Just installed prometheus-operator 8.16.1 which requires kube-state-metrics-2.8.10 helm chart which brings kube-state-metrics:v1.9.7 with pod collector enabled. However upon scratching the endpoint not kube_pod_status_reason is present. Although there are pods in Evicted sates which should be noted by the metric above. K8S version is 1.17.7 in my case. And the same can be easily reprodu

[2020-07-13 14:58] lilic commented on #1158
https://github.com/kubernetes/kube-state-metrics/pull/1013 This is because that metric is only present in master and will be added to the 2.0 kube-state-metric release. Closing this issue, as its normal for it to not be on 1.9.x release. If its not showing up in master kube-state-metrics version please reopen the issue, thanks!

[2020-07-13 14:58] #1158 closed

[2020-07-13 15:00] nickytd commented on #1158
Thanks 👍

[2020-07-13 15:03] mateustanaka commented on #1093
I’m facing the same issue with Kubernetes `1.14.7`

[2020-07-13 17:17] brancz commented on #1111
/remove-lifecycle stale

[2020-07-13 17:19] r0bj commented on #1166
I'm not sure, in my case I haven't notice any api-server unavailability and I started observing that issue just after I enabled ksm sharding.

[2020-07-14 06:23] brancz commented on #1166
Did all metrics for those pods become duplicate or just individual ones?

[2020-07-14 18:27] r0bj commented on #1166
It seems that all ksm metrics for this non-existing pod are exposed.

[2020-07-15 06:01] brancz commented on #1166
Whether there was apiserver downtime or not, it seems to me that any type of communication problem between kube-state-metrics and the apiserver can cause this.

[2020-07-16 12:45] mrueg commented on #1089
@lilic @tariq1890 anything I can do to help out here? I would be interested in getting kube-state-metrics images for arm64.

[2020-07-16 13:47] Sayrus opened #1169 "MetricsHandler errors are silently dropped"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When an error occurs in MetricsHandler, the error is never logged and do not trigger an unhealthy state. In my case, this happens when the ServiceAccount does not have enough permission for AutoSharding:
https://github.com/kubernetes/kube-state-metrics/blob/2415ca281c81039353adb90931acb8495b3df7f8/pkg/metricshandler/metr

[2020-07-16 18:28] rchenzheng commented on #1133
What was the solution?

[2020-07-16 18:31] tariq1890 commented on #1133
If you want to use `networkpolicies`, you can use the latest stable release of kube-state-metrics

[2020-07-17 13:25] lilic commented on #1089
@mrueg the above mentioned by Marek sounds like great two things to be done in kube-state-metrics as well, thanks! :)

[2020-07-17 22:38] tariq1890 commented on #1169
I am okay with this idea. I think exiting with a non-zero code is only appropriate and won't leave users guessing. @lilic @brancz Your thoughts on this? I think this is a good change to include in v2.0

[2020-07-19 10:05] olivierlemasle commented on #875
/remove-lifecycle stale

[2020-07-20 07:35] brancz commented on #1169
I think this makes sense. I think this would be best solved by running this and the http server go routines as [run.Group](https://github.com/oklog/run)s.

[2020-07-20 10:51] garysdevil opened #1170 "prometheus-kube-state-metrics returning kube_deployment_status_replicas_available is wrong"
**Environment**:
- Kubernetes version (use `kubectl version`):  v1.15.0
- Kube-state-metrics image version：v1.4.0

The prometheus graph show: There are kube_deployment_status_replicas_available{deployment='hk-mail',namespace='xx'}=0 withing 1 hour.

kubectl get po -n namespace xx | grep hk-mail pod
RESATRT=0，AGE=40d

It will cause the wrong alert. I want to know why did it happen?

[2020-07-20 11:56] brancz commented on #1170
could you restart your kube-state-metrics pod and see if it's still there?

[2020-07-20 12:24] lilic commented on #1167
@Drugoy sounds good, do you want to contribute this or should we mark it as help wanted?

[2020-07-20 13:01] Drugoy commented on #1167
@lilic please mark it as help wanted, I don't know golang.

[2020-07-20 14:46] lilic commented on #1167
No worries! Marked with that! I will see if I have some time if no one looks at it in the near future to add.

[2020-07-20 15:15] lilic commented on #1169
Sounds good to me!

[2020-07-20 15:15] lilic commented on #1169
Is this something @Sayrus you are interested in contributing?

[2020-07-21 02:58] garysdevil commented on #1170
I restarted. The old data are already stored in Prometheus.  The new data is normal. There should be always two but once got zero.
![image](https://user-images.githubusercontent.com/41293784/88007592-e7787c80-cb40-11ea-8a64-3e7aeadfe2ea.png)

[2020-07-21 12:36] vikkyomkar commented on #1167
@lilic shall I contribute to this request ?

[2020-07-21 12:59] lilic commented on #1167
@vikkyomkar if you feel like the issue is clear enough for you go ahead?

[2020-07-22 10:15] Sayrus commented on #1169
@lilic At the very, I'd be interested in trying !

[2020-07-22 11:06] lilic commented on #1169
Please go ahead! :)

[2020-07-22 15:31] brancz commented on #1170
It appears to me that this is https://github.com/kubernetes/kube-state-metrics/issues/694 then probably.

[2020-07-22 17:02] mrueg commented on #1089
Looks like it's not working as expected, see: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kube-state-metrics-push-images/1285961432038379522 anyone with access to gcp can look at those logs?

[2020-07-22 17:46] Adhira-Deogade commented on #1170
It gives me completely wrong information too. It doesn't give me old metrics, only wrong numbers. Example instead of 160MiB, it gives 5MiB. Something's up. How do I solve this issue?

[2020-07-23 06:58] brancz commented on #1170
@Adhira-Deogade could you please open an issue for each individual issue you are seeing? Thanks!

[2020-07-23 08:45] lilic commented on #1089
Yes opened PR to fix this, looking at the current failure as well.

[2020-07-23 12:25] lilic commented on #1089
I believe everything was done on this list. Last PR should be https://github.com/kubernetes/kube-state-metrics/pull/1175 We can close this issue now?

[2020-07-23 12:26] lilic commented on #1086
We have now gcr image with the latest build, so this can be closed.

[2020-07-23 12:27] #1086 closed

[2020-07-23 12:36] serathius commented on #1089
Could we make one full release using new pipeline before? Would make sense to test if everything works e2e

[2020-07-23 13:10] brancz opened #1176 "Add DaemonSet observed generation metric"
/kind feature

**What happened**:

The correct way to determine whether a previous DaemonSet rollout is complete is by checking the following:

[code]

As well as checking that `kube_daemonset_updated_number_scheduled` hasn't changed in some time (as in the rollout hasn't progressed). (big thanks to @tnozicka for all the pointers!)

**What you expected to happen**:

All of those numbers to be avai

[2020-07-23 15:27] Sayrus commented on #1169
Correct me if I'm wrong about what you are trying to achieve by moving to Run Groups.

Currently we have:
- Telemetry Server run as a Goroutine (with errors ignored?)
- MetricsHandler run as a Goroutine with errors ignored
- The Metric HTTP Server run as a blocking call in serve metrics

The goal is to move to a run group with these three and an error in any of the three lead to an unhealthy state

[2020-07-23 18:57] brancz commented on #1169
Correct, exiting when any of these error is what we want. And one to listen to signals like here https://github.com/thanos-io/thanos/blob/8b9665098283538cda2ff0284ef9589370726e0a/cmd/thanos/main.go#L189-L197

[2020-07-24 01:17] ekesken commented on #694
we had the problem again, and we can observe the latency increase in "LIST events" calls during the incident, supporting the theory of @bergerx:

![image](https://user-images.githubusercontent.com/47163/88352977-1cace680-cd5c-11ea-9064-55d887a7878e.png)

[2020-07-24 05:03] vishnukarthikl commented on #1176
I'd like to pick this up if no one is working on it.

[2020-07-24 06:01] brancz commented on #1176
@vishnukarthikl go ahead :)

[2020-07-24 08:27] lilic commented on #1109
The PR was merged @Prabhakar-17 do you have time within the next week to do this change, as we want to do an alpha release next week. Thanks! :)

[2020-07-24 08:34] #1176 closed

[2020-07-24 08:35] Prabhakar-17 commented on #1109
@lilic I can take a look this weekend.

[2020-07-24 08:39] lilic opened #1179 "Automatically push quay.io/coreos/kube-state-metrics within cloudbuild pipeline"
So we don't build this manually and since there are only two folks with access right now, we should add this to the current gcr pipeline building.

See https://github.com/kubernetes/kube-state-metrics/pull/1175#discussion_r459413689 suggestion for this.

[2020-07-24 11:36] lilic commented on #1089
Sounds good, we plan on doing this with the 2.0 release.

[2020-07-24 21:50] Prabhakar-17 commented on #1132
@stevebail I recently did some contributions to this project, I would be happy to help you with the process if you are willing to create a PR. Let me know.

[2020-07-25 03:30] tariq1890 commented on #1109
Thanks! Let us know if you need any help :). This will need some code changes since you'll have to add the extra context parameter

[2020-07-25 13:01] lilic commented on #1109
This tool helps with that https://github.com/kubernetes-sigs/clientgofix

[2020-07-25 19:19] Bessonov commented on #611
/remove-lifecycle stale

[2020-07-26 12:42] mrueg commented on #1089
@serathius @lilic looking at https://console.cloud.google.com/gcr/images/k8s-staging-kube-state-metrics/GLOBAL/kube-state-metrics@sha256:23eb6eda398dca8a488dd49817605b914dea8ccf740168a8bf7328bc8fc5cbb6/details?tab=info it seems like there is no non-amd64 image pushed. anything that's missing here?

[2020-07-26 22:28] Prabhakar-17 commented on #1109
Update: have created a draft PR, facing some issues. I was not able to find much time to fix it, will take a look again. thanks
Updated the dependency version and ran the tool lilic suggested.

error:
[code]

[2020-07-27 09:15] lilic commented on #947
/remove-lifecycle stale

There is a PR for this.

[2020-07-27 19:25] tariq1890 commented on #1127
/remove-lifecycle stale

[2020-07-28 07:25] #1167 closed

[2020-07-28 20:08] acannon828 commented on #699
@brancz What are the metric names in Prometheus that you're seeing?

[2020-07-29 05:17] djjayeeta opened #1187 "Auto sharding scaling based on ready replicas"
**FEATURE**:
 /kind feature

**What happened**:
Auto sharding calculates the total number of shards based on the number of replicas https://github.com/kubernetes/kube-state-metrics/blob/master/pkg/metricshandler/metrics_handler.go#L219. This implies some downtime in the number of metrics streams reported due to the fact that replicas take time to come up.

I have done some testing on a setup  with

[2020-07-29 08:03] brancz commented on #1187
I think this would be interesting to explore indeed.

[2020-07-29 11:51] mrueg commented on #1089
Ah I figured, cloudbuild.yaml is calling `make push`here: https://github.com/kubernetes/kube-state-metrics/blob/master/Makefile#L114  which only creates and pushes a regular and am64 container image. That will require some rework in the Makefile then. I'll try to have a look at that in the next couple of days.

[2020-07-29 12:36] salimuddin87 opened #1189 "Continuously getting Resources are not within the expected limits, updating the deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
ERROR: logging before flag.Parse: I0729 12:29:42.255824       1 nanny_lib.go:108] Resources are not within the expected limits, updating the deployment. Actual: {Limits:map[memory:{i:{value:115343360 scale:0} d:{Dec:<nil>} s:110Mi Format:BinarySI} cpu:{i:{value:105 scale:-3} d:{Dec:<nil>} s:105m Format:DecimalSI}] Requests:map[cpu:{

[2020-07-29 14:21] brancz commented on #1189
That looks like it is a problem with the addon resizer pod, not kube-state-metrics.

[2020-07-29 14:52] salimuddin87 commented on #1189
Here is addon-resizer deployment script.
[code]

[2020-07-29 14:55] brancz commented on #1189
I would ask you to rather ask the maintainers of that project, I have no idea how it works.

[2020-07-29 18:17] djjayeeta commented on #1187
I would be happy to help out if you have any ideas in mind

[2020-07-29 19:20] Adhira-Deogade commented on #1170
I think, I know what my issue was. I had a job which ran only for 42 seconds but my prometheus scraping interval was set to 15s, so it had only 2 metrics points in the end and I am assuming, this might be my issue. I might however need to open an issue to address the problems of monitoring shorter duration jobs. Thanks @brancz

[2020-07-30 00:08] #1109 closed

[2020-07-30 17:02] sky-philipalmeida opened #1191 "Exposing pod annotation"
Hi guys in order to have more flexibility exposing pod annotations would be a great plus.
I am refering to the pod annotation from where the metrics are taken not the annotation of kube-state-metrics itself.

There is not much info on the net but I come accross:
https://stackoverflow.com/questions/53066488/getting-pod-or-deployment-annotations-from-kube-state-metrics
and
https://github.com/kuberne

[2020-07-30 22:27] cablespaghetti commented on #1037
/remove-lifecycle stale

I am very much still interested in this and will look into contributing the changes if I can.

[2020-07-31 07:56] lilic commented on #1037
There is work in progress for this already https://github.com/kubernetes/kube-state-metrics/pull/1190

[2020-07-31 08:13] cablespaghetti commented on #1037
Great! Glad arm64 is getting so much traction at the moment. 🙂

[2020-07-31 09:59] lilic commented on #1089
Seems like this worked, we are now seeing multiple arch images in gcr. Thanks @mrueg for the work!

[2020-07-31 10:02] brancz commented on #1191
There is work in progress that allows this feature in a safe way: https://github.com/kubernetes/kube-state-metrics/pull/1125

[2020-07-31 10:18] mrueg commented on #1089
Great, let me know if you want a backport to 1.9 (I already see a 1.9.7 tag appeared on gcr?).

[2020-07-31 10:57] lilic commented on #1089
Backport sounds great!

[2020-07-31 10:58] wacuuu opened #1194 "Mismatch between readme and actual container"
**Is this a BUG REPORT or FEATURE REQUEST?**:
This is a bug

/kind bug

readme says that --resources are used to point on what to monitor, but the error message when you actually try to use this switch says you should use --collectors, which work. I'm using container from quay in 1.9.7 version

**What happened**:
Container did not start with example params provided in readme
**What you expected to

[2020-07-31 11:23] brancz commented on #1194
We are preparing for a new major release of kube-state-metrics. Please refer to the docs on the `release-1.9` branch for correct docs for that version. Docs on master are partly already concerning the 2.0 release.

[2020-07-31 13:56] mrueg commented on #1089
I can do the backport, one thing I'm wondering about is, that Makefile defines the version per cat VERSION (which leads to the docker image being updated on every push so a version becomes a moving target).

I would suggest the following logic:

* Read VERSION file
* Check if current commit is tagged with that version
* If it does, create a docker image with the version of VERSION ->
`kube-state-m

[2020-07-31 14:11] lilic commented on #1089
Yes, I noticed as well have plans to correct this for when we do the 2.0 release as we are not using the image promotion process until 2.0 release, we have not discussed this yet with the maintainers. Do you mind opening a separate issue instead thanks!

[2020-07-31 18:16] #1072 closed

[2020-08-03 09:52] mrueg opened #1198 "Version detection during build time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Docker images get build in prow and currently overwrite the existing tag in the staging repository
**What you expected to happen**:
Tags are a stable target and don't change over time

See also: https://github.com/kubernetes/kube-state-metrics/issues/1089

**Possible solution**
    * Read VERSION file (if there's a ne

[2020-08-04 07:51] brancz commented on #1047
This work is in progress.

/remove-lifecycle stale

[2020-08-04 09:36] #1169 closed

[2020-08-06 08:54] #1194 closed

[2020-08-06 08:55] wacuuu commented on #1194
Understood :) Thank you very much

[2020-08-13 20:38] eatwithforks opened #1207 "VPA memory metric unit should match kubernetes defaults (K vs k)"
In the recommendations, for memory:

Actual:
[code]

Expected:
[code]
So unit parsing logic can be re-used.

Kubernetes defaults: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory
[code]

[2020-08-13 20:39] eatwithforks commented on #1207
wrong repo

[2020-08-13 20:39] #1207 closed

[2020-08-14 10:36] #1071 closed

[2020-08-16 19:31] #1101 closed

[2020-08-17 06:43] george-angel commented on #941
/remove-lifecycle stale

[2020-08-18 03:18] sober-wang opened #1209 "Help me! We will used Kubernetes v1.18.2 ,What version should I used of kube-state-metrics?"
**What happened**:
We will used Kubernetes v1.18.2 ,What version I should used of kube-state-metrics?
**What you expected to happen**:
Can you help me?
The READE.md only tell me kubernetes 1.17 should do something . But my k8s version  than this high, maybe you should update the READ.md

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Envir

[2020-08-18 03:30] tariq1890 commented on #1209
Please use the latest release: https://github.com/kubernetes/kube-state-metrics/releases/tag/v1.9.7

[2020-08-18 03:30] #1209 closed

[2020-08-18 06:51] sober-wang commented on #1209
Thanks for your suggest!

[2020-08-18 07:12] tariq1890 commented on #1209
You're welcome :)

[2020-08-18 07:19] mrueg opened #1210 "Ressource Metrics for CRDs"
/kind feature

With the growing use of CRDs in K8s it might be useful to monitor those as well and provide some initial metrics for them.

Idea:
Have kube-state-metrics read a configuration file that allows the user to list further resources.

A list of crds to monitor:

[code]

could create metrics similar to https://github.com/kubernetes/kube-state-metrics/blob/master/docs/configmap-metrics.md

[2020-08-23 17:15] olivierlemasle commented on #838
/remove-lifecycle rotten

[2020-08-24 14:36] tlkanthan2020 opened #1211 "Alertrule for pulling if more PODs in a node report CrashLoopBackOff error."
Whats the Prometheus Query(expression) to set a Alertrule which notifies if more than 3 PODs in a node goes to CrashLoopBackOff.

[2020-08-25 05:38] tariq1890 commented on #1198
This is a valuable feature to have 👍

/help

[2020-08-25 05:45] tariq1890 commented on #1210
Looks like this PR would need to be revived: https://github.com/kubernetes/kube-state-metrics/pull/515

I agree that it would be a great addition to kube-state-metrics. I am also wondering if we should take out VPA metrics and have them be monitored as CRDs. VPAs aren't considered as k8s primitive APIs.

/help

[2020-08-25 10:29] voodoodror commented on #1046
Anything new regarding this issue? We need that too.

[2020-08-26 02:42] boatmisser opened #1212 "expose kubernetes pod labels for kube_pod metrics"
**What happened**:
I am going with bug but I am quite likely wrong, I just can't find any information on this one way or the another.

kube-state-metrics alerts such as kube_pod_status_phase do not seem to expose my pod's labels.
For instance my pod has labels such as appname, severity, owner etc.
Alerts only seem to have endpoint, instance, job, namespace, phase, pod, service

**What you expected

[2020-08-26 14:18] carlosjgp commented on #1212
You could enrich that metric that comes from an endpoint using the `group_xxx` function for vector matching

something like this should work ([Reference](https://prometheus.io/docs/prometheus/latest/querying/operators/#vector-matching))
`kube_pod_status_phase * on (pod,namespace) group_left kube_pod_labels`

[2020-08-29 12:27] #1099 closed

[2020-08-29 22:37] #320 closed

[2020-09-02 18:19] #1124 closed

[2020-09-09 11:04] daxwang opened #1219 "sharding not support kubernetes v1.10?"
there no metrics  when open sharding in kube-state-metrics(version: v1.9.7), but when i closed the sharding, i can get the metrics. sharding not support kubernetes v1.10?

[2020-09-09 14:06] lilic commented on #1219
@daxwang Thanks for your issue. Can you explain a bit more what do you mean by autoscale?

[2020-09-09 14:08] lilic commented on #1211
@tlkanthan2020 hey! kube-state-metrics provides metrics only, I would suggest to look at https://github.com/kubernetes-monitoring/kubernetes-mixin for example for examples of alerting rules, a lot of them are based on kube-state-metrics metrics. Hope that helps. :)

[2020-09-09 14:08] #1211 closed

[2020-09-10 01:59] daxwang commented on #1219
sharding

[2020-09-10 07:24] lilic commented on #1219
cc @brancz here as he implemented it. But v1.10 Kubernetes is not supported for 1.9.7 altogether, so might be some API problems https://github.com/kubernetes/kube-state-metrics#compatibility-matrix

[2020-09-10 13:06] serhatcetinkaya opened #1220 "We need a new release for Kubernetes 1.17"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Kubernetes v1.17 is not supported by latest release. According to [documentation](https://github.com/kubernetes/kube-state-metrics#compatibility-matrix) `master` branch supports Kubernetes `v1.17` but there are no published docker images that we can use as master branch. Currently we are using custom build from commi

[2020-09-10 13:16] brancz commented on #1220
We're in the process of finishing up the 2.0 release of kube-state-metrics. We should soon be releasing a first alpha release for this. cc @lilic

[2020-09-10 13:16] lilic commented on #1220
You can use v1.9.7 of kube-state-metrics for v1.17 Kubernetes version, we used it ourselves with no problems so far. As for master, we are right about to release a huge breaking v2.0 alpha release candidate of kube-state-metrics with a lot of breaking changes, hence no release in some time. See issue https://github.com/kubernetes/kube-state-metrics/issues/569 for more details.

But until then you

[2020-09-10 13:19] brancz commented on #1047
Closed by https://github.com/kubernetes/kube-state-metrics/pull/1125

[2020-09-10 13:19] #1047 closed

[2020-09-10 13:21] brancz commented on #569
Looks like we've done everything on the list, let's get a pre-release started then! :)

[2020-09-10 13:52] serhatcetinkaya commented on #1220
Is there a chance that GCR repo is not working ? @brancz @lilic
[code]

[2020-09-10 14:04] serhatcetinkaya commented on #1220
@piosz @serathius I guess I need one of you to take care of this

https://github.com/kubernetes/kube-state-metrics/issues/1000#issuecomment-565363658

[2020-09-10 14:05] lilic commented on #1220
Hm You mean the "k8s.gcr.io/kube-state-metrics:v1.9.7" image is not working? If yes will have a look at that, maybe something went wrong with promotion or we forgot a step there, we only recently added automation job for k8s.gcr.io. But either building your own or using quay.io/coreos/kube-state-metrics:v1.9.7 should work for now.

We are aiming for 2.0 to get gcr working correctly, as it was manu

[2020-09-11 06:43] serhatcetinkaya commented on #1220
Ok, thanks for the info. We can use quay.io temporarily I guess 👍

[2020-09-11 06:43] #1220 closed

[2020-09-11 10:50] brancz commented on #1219
I think v1.10 is too old for the APIs used by auto sharding (it requires StatefulSets in apps/v1).

[2020-09-14 17:59] grv-trip commented on #1093
Just ran into the same issue as described by folks above. My Kube version **1.16.0** and using the same **1.9.7** kube-state-metrics image. Its mentioned in the compatibility matrix [here](https://github.com/kubernetes/kube-state-metrics#compatibility-matrix) that Kube 1.16 version is supported for 1.9.7 image? Not sure what I am missing.

[2020-09-14 18:17] grv-trip commented on #1093
Just ran into this same issue. My Kube version (EKS) is 1.16.0 and tried 1.9.5 - 1.9.7 images of Kube state metrics. Kept running into the same issue until l switched to 1.9.4 image which worked as expected. I guess the compatibility matrix still needs to be updated?

[2020-09-15 00:28] sozercan opened #1225 "Some tags do not exist in GCR"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Some tags do not exist in GCR. For example, for v1.9, GCR only contains v1.9.0 and v1.9.5 currently, but not latest v1.9.7 or anything in between.

**What you expected to happen**:
All tags are available in both GCR and Quay.

**How to reproduce it (as minimally and precisely as possible)**:
`docker pull k8s.gcr.io/kube-s

[2020-09-15 01:51] tariq1890 commented on #1225
Hey @sozercan  👋 !

We are aware of this and we apologise for the inconvenience. We as maintainers don't have write access to the GCR repo (only google employees have it). We recommend pulling images from `quay` for the time being.

Once we move to kube-state-metrics v2.0.0, we will be pushing images to prow container registry https://github.com/kubernetes/test-infra/pull/17916

[2020-09-15 06:51] Delorien84 opened #1227 "Show last pod state and termination reason"
/kind feature

**What happened**:
Sometimes pod is killed by various reason, but the reason is not visible in Lens. I need to execute `kubectl` command to see last state and reason why the pod was killed

**What you expected to happen**:
I would like to see in pod detail `Last State` and `Reason` similary to see when executing `kubectl describe pod <pod_name>`.

[code]

**How to reproduce it (as m

[2020-09-15 09:26] kmmanto opened #1228 "kube_pod_container_resource_requests_cpu_cores value does not tally with kubectl"
/kind bug

**What happened**:
From `grafana/prometheus`, the cpu core request(per node) is lower than the kubectl one.
In effect, the cluster would seem to have a lot of cpu cores free than what it actually has.

**What you expected to happen**:
Values from metrics should be equal or close to kubectl describe node figure

**How to reproduce it (as minimally and precisely as possible)**:

**Anythin

[2020-09-15 13:58] DcardosoJS opened #1229 "kube_pod_status_reason Not working"
/kind bug

Hello,

I'm trying to expose the kube_pod_status_reason metric to be consumed by prometheus but it is not appearing. I have seen that other experimental metrics do not show, but some do.
The reason I need this metric is to list Evicted pods and I seem to have no other metric like it.

Can you please provide some sort of help?

Thanks

K8s version is 1.18.3
Kube-state-metrics version is

[2020-09-17 06:12] kmmanto opened #1230 "kube_pod_init_container_resource_requests not showing in metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kube_pod_init_container_resource_requests metrics is not showing up in grafana/prometheus. Although kube_pod_init_container_resource_limits is showing.

**What you expected to happen**:
kube_pod_init_container_resource_requests should show up and can be used

**How to reproduce it (as minimally and precisely as possible)*

[2020-09-17 06:39] lilic commented on #1230
Hey, that is not part of 1.9.x only part of the 2.0.x release. For all available metrics see release branch https://github.com/kubernetes/kube-state-metrics/blob/release-1.9/docs/pod-metrics.md. Note if using 2.0 release it's still an alpha release but you are welcome to test it out, but there were bunch of breaking changes. https://github.com/kubernetes/kube-state-metrics/releases/tag/v2.0.0-alph

[2020-09-17 07:21] kmmanto commented on #1230
Thanks for the prompt reply @lilic. That's my bad. Will check out 2.0.x in the meantime.

[2020-09-17 07:21] #1230 closed

[2020-09-17 07:32] lilic commented on #1230
@kmmanto no problem! Let us know how 2.0 goes, even if everything goes smoothly would be great to get feedback, thanks!

[2020-09-17 11:56] mrueg commented on #1153
/remove-lifecycle stale

[2020-09-17 18:46] midnightconman opened #1232 "Autosharding Rolebinding Missing Namespace - Jsonnet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I created the autosharding role and rolebinding, the role was created in the correct namespace, but the rolebinding was created in default.

**What you expected to happen**:
I expected the rolebinding to be created in the same namespace as the role

**How to reproduce it (as minimally and precisely as possible)**:
Apply a

[2020-09-17 21:08] #1232 closed

[2020-09-18 09:12] #1126 closed

[2020-09-18 12:14] dgrisonnet commented on #1227
Hi @Delorien84, you can already have this information via the `kube_pod_container_status_terminated_reason` and `kube_pod_container_status_last_terminated_reason` metrics.
In order to bound the cardinality of such metrics, there is a limited list of reasons that can be exposed and OOMKilled is part of them. See the [pod metrics documentation](https://github.com/kubernetes/kube-state-metrics/blob/m

[2020-09-18 13:11] Delorien84 commented on #1227
Sorry for this issue. I unintentionally create it in different project.

[2020-09-18 13:11] #1227 closed

[2020-09-18 13:11] dgrisonnet commented on #1229
Hey @DcardosoJS, this metric is not available in 1.9.7 as it was added after the 1.9.0 release.
If you want to start using it, it was recently added to the 2.0.0-alpha pre-release.

[2020-09-18 13:12] omegas27 commented on #569
Should the kube-state-metrics module path not become `module k8s.io/kube-state-metrics/v2` in go.mod as well for v2?

[2020-09-18 19:37] scottrigby commented on #1153
I have started a draft PR for this: https://github.com/kubernetes/kube-state-metrics/pull/1237

Looking for feedback on the to-do items I added, before I do too much more on this. Happy to finish after feedback 🙂

[2020-09-21 08:16] brancz commented on #569
You're right, we forgot about that. @omegas27 do you want to take care of that?

[2020-09-21 08:34] omegas27 commented on #569
Sure :+1:

[2020-09-21 17:39] #1229 closed

[2020-09-21 17:39] DcardosoJS commented on #1229
Thank you very much! It works :)

[2020-09-22 16:11] jimmyseto opened #1239 "tags/labels missing for daemonset, deployment, and replicaset metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
metrics for daemonset, deployment, and replicaset no longer export tags/labels

**What you expected to happen**:
metrics for daemonset, deployment, and replicaset to include tags/labels

**How to reproduce it (as minimally and precisely as possible)**:
create daemonset, deployment, or replicaset.  poll kube-state-metrics

[2020-09-22 16:11] jimmyseto commented on #1239
@lilic fyi.  thanks.

[2020-09-23 08:30] lilic commented on #1239
@jimmyseto Thanks for the issue, can you share the deployment for kube-state-metrics itself, thanks!

[2020-09-23 13:34] jimmyseto commented on #1239
@lilic i just deployed using what's in example/standard (https://github.com/kubernetes/kube-state-metrics/tree/master/examples/standard).

[2020-09-23 16:22] geofflancaster commented on #956
@eric-gymondo See https://github.com/kubernetes/kube-state-metrics/blob/master/docs/cli-arguments.md

[2020-09-24 13:13] jimmyseto commented on #1239
just as another datapoint, using the same deployment (and simply changing the image to 1.9.7), i see the expected results.

[2020-09-24 13:19] lilic commented on #1239
@jimmyseto thanks, I could reproduce it locally, looking into what was causing the problem, I have a suspicion. Thank you so much for your testing and the report, its super useful! 🎉

[2020-09-24 22:09] jw-s commented on #1239
@lilic Looks like it's a closure loop issue with the label filtering. I fix it here #1041

[2020-09-25 06:03] Rmond commented on #1239
I met same problem on v2.0.0-alpha

![image](https://user-images.githubusercontent.com/18564404/94232121-e6483f00-ff37-11ea-916d-e434091d7e37.png)

[2020-09-25 13:21] lilic commented on #1239
@jw-s thanks, do you mind adding that bug fix in a separate PR, as we want to backport that to the release-2.0 branch, thanks!

[2020-09-25 13:23] lilic commented on #1095
As there is a KEP for this in Kubernetes, I believe we can just close this? Or do we want to leave it open and remove this metric once it lands in Kubernetes?

[2020-09-28 07:06] jw-s commented on #1239
@lilic No worries, I've raised the PR

[2020-09-29 11:48] ialidzhikov opened #1241 "unable to decode an event from the watch stream: got short buffer"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kube-state-metrics cannot watch for v1beta2.VerticalPodAutoscaler.

Logs of kube-state-metrics:

[code]

**What you expected to happen**:

kube-state-metrics to be able to watch for v1beta2.VerticalPodAutoscaler.

**How to reproduce it (as minimally and precisely as possible)**:

kube-state-metrics Deployment:

[code]

The

[2020-09-29 11:48] ialidzhikov commented on #1241
/cc @lilic @brancz

[2020-09-29 12:16] lilic commented on #1241
Thanks for the bug report, can you also provide an example of VerticalPodAutoscaler to try to reproduce this problem. Thanks!

[2020-09-29 12:24] lilic opened #1242 "Flake unit test"
We have a flaky unit test which might be just the way we have setup the unit test or an actual problem with how we generate the series, where labels are expected to be in one order but we get them in reverse. In any case we should make it be a deterministic order.

Example: https://github.com/kubernetes/kube-state-metrics/runs/1181030112

[2020-09-29 12:37] ialidzhikov commented on #1241
The CRD itself:

<details>

[code]

</details>

Some VPA CRs:

<details>

[code]

</details>

[2020-09-30 11:40] hansedong opened #1243 "some pod does not exists in kube_pod_container_resource_limits_memory_bytes metric"
/kind bug

**What happened**:

The kube-state-metrics server export pod metrics, and I created a pod named  `327390-admin-mbrand-78bf674f4b-bdth6` in my K8s cluster by Deployment.
I can see the pod with `kubectl get po` command
[code]
But the pod does not exists in metrics with the `kube_pod_container_resource_limits_memory_bytes` type ( it exists in other metrics types, e.g `kube_pod_container_st

[2020-09-30 14:36] dgrisonnet commented on #1243
Hi @hansedong, this seems like a normal behavior as your pod does not have any memory limits defined. The `kube_pod_container_resource_limits_memory_bytes` metric will only exist if your pod has a memory limit defined. The same goes for `kube_pod_container_resource_limits_cpu_cores` with CPU limits.

[2020-10-02 09:23] hansedong commented on #1243
@dgrisonnet The cause of the problem is indeed as you said. After configuring the limits in the deployment, the problem is fixed. I have to check where there is a problem with my deployment system. Thank you very much.

[2020-10-02 09:23] #1243 closed

[2020-10-04 00:17] jimmyseto opened #1245 "kube_pod_container_resource_[limits|requests] metrics not being exported"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
the following metrics are being exported when they should not be:
kube_pod_container_resource_limits_cpu_bytes
kube_pod_container_resource_limits_memory_bytes
kube_pod_container_resource_requests_cpu_cores
kube_pod_container_resource_requests_memory_bytes

the following metrics are not being exported when it they should b

[2020-10-04 00:45] jimmyseto opened #1246 "--labels-allow-list flag does not support wildcards"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
--labels-allow-list flag does not support wildcards.  need to specify each and every label of interest.

**What you expected to happen**:
--labels-allow-list flag to support wildcards.  should be able to configure kube-state-metrics to export labels without specifying each and every one.

for example:
--labels-allow-l

[2020-10-05 12:50] lilic opened #1249 "Kubernetes v1.19+ ingress and certificates deprecation issues"
We get the following warning when using v1.19 kuberentes cluster:

Warning msg when running kube-state-metrics:

W1005 14:47:25.706963   93191 warnings.go:67] extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress
W1005 14:47:25.757402   93191 warnings.go:67] certificates.k8s.io/v1beta1 CertificateSigningRequest is deprecated in v1.19+, unavaila

[2020-10-05 16:34] tariq1890 commented on #1249
We should incorporate these changes into the release-2.0 branch

[2020-10-05 19:47] jimmyseto commented on #1245
@lilic - fyi.  this is a bug that should probably be fixed in v2.0.0 as well.  do you agree?

[2020-10-06 05:13] dragoneena12 opened #1251 "gcr.io/k8s-staging-kube-state-metrics/kube-state-metrics:v1.9.7 seems to be incorrect"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I pulled `gcr.io/k8s-staging-kube-state-metrics/kube-state-metrics:v1.9.7` but I can't use v1.9.7 command (i.e. --collectors flag). It seems to be incorrect image.

**What you expected to happen**:
I want to use v1.9.7 command.

**How to reproduce it (as minimally and precisely as possible)**:
The following command doesn

[2020-10-06 05:20] #1251 closed

[2020-10-06 07:10] shotu opened #1252 "Adding the to endpoint IPs mapping data to exposed endpoint metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently, In kube-state-metrics' exposed endpoint metrics, we don't have endpoints to IPs mapping data.

**What you expected to happen**:

Expected metrics in exposition format added to endpoints metrics :

We can add multiple entries for more than one IP mapping. Also, ips can be broken down host and port.

**How to reproduce it (

[2020-10-06 08:40] lilic commented on #1249
Sounds good, created a label for it.

[2020-10-06 11:10] lilic commented on #1245
They were added, its the CHANGELOG that is wrong my apologies it was a lot of changes to document. Good catch! They were just reworked and marked as experimental see https://github.com/kubernetes/kube-state-metrics/pull/1168

Will adjust the changelog when doing the next alpha prerelease. Thanks again!! 🎉

[2020-10-06 12:11] lilic commented on #704
This change #1146 was included in the 2.0 pre-release, is there anything left to do here?

[2020-10-06 13:23] jimmyseto commented on #1245
hmm.  ok.  i was looking at https://github.com/kubernetes/kube-state-metrics/pull/1004, which does remove them.  but, i guess they were added back via https://github.com/kubernetes/kube-state-metrics/pull/1168.  so, what is the expected/desired behavior for v2.0.0?  should both metric formats be exported for the "well-known resources" (cpu, memory, storage, ephemeral_storage)?  at a quick glance o

[2020-10-06 13:28] lilic commented on #1245
Yes exactly that, hoping the new CHANGELOG clarifies that so users don't think they are not same metrics, hence the marking from STABLE to experimental https://github.com/kubernetes/kube-state-metrics/pull/1253/files#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR27

[2020-10-06 15:48] jimmyseto commented on #1245
thanks.  would something like this be more accurate?

Removed deprecated stable metrics #1004.  kube_pod_container_resource_requests and kube_pod_container_resource_limits for cpu, memory, storage, and ephemeral_storage resources have been replaced with EXPERIMENTAL metrics #1168.

    kube_pod_container_resource_requests_cpu_cores
    kube_pod_container_resource_limits_cpu_cores
    kube_pod_cont

[2020-10-06 15:51] lilic commented on #1245
@jimmyseto sounds good, can you comment the suggestion the PR? Thanks!

[2020-10-06 15:53] jimmyseto commented on #1245
also, i noticed that the behavior of kube_node_status_capacity and kube_node_status_allocatable is different/inconsistent from kube_pod_container_resource_requests and kube_pod_container_resource_limits.  with kube_node_status_capacity and kube_node_status_allocatable, it looks like the following metrics have been deprecated/removed...

kube_node_status_allocatable_pods
kube_node_status_allocatabl

[2020-10-06 18:02] jimmyseto commented on #1245
comment posted to PR.

thanks, @lilic .  i think we are good after that!  closing issue.

[2020-10-06 18:02] #1245 closed

[2020-10-06 21:15] jimmyseto commented on #1239
thanks for the quick turnaround on this, @jw-s !  verified with a manual build of the latest/greatest off the release-2.0 branch, and confirmed that this is now fixed.

[2020-10-06 21:15] #1239 closed

[2020-10-07 07:50] brancz commented on #704
I don't think so, let's close here :)

[2020-10-07 07:50] #704 closed

[2020-10-07 08:31] brancz commented on #1252
This doesn't strike me as a great candidate for a metric, what would be the use of this metric in let's say an alerting rule?

[2020-10-07 10:03] shreyasHpandya commented on #1252
This could be purely for the completeness of visualization of all k8 objects, also another use case is if I want to derive service to pod mapping from the KSM data.

[2020-10-07 11:47] brancz commented on #1252
The way it's proposed this metric would end every time the endpoints change, which would essentially produce extremely high unbound cardinality. As is I don't think we can accept this. We also tend to make sure there is a concrete alerting use case before adding a metric.

[2020-10-07 12:01] shreyasHpandya commented on #1252
Can you help me understand your first point? I am under the impression that it will be the same as pod metric, every time a pod changes/goes away, it will also end, or am I missing something?

[2020-10-07 12:03] brancz commented on #1252
That's correct, but the lifetime of that pod has ended then as well, while the endpoints object continues to exist, but new time-series are starting for the same endpoints object.

[2020-10-07 12:40] shreyasHpandya commented on #1252
oh ok got it, so what if we change the proposed metric to expose such that it ends when the endpoint changes and starts a new metric

[2020-10-07 13:16] brancz commented on #1252
If the endpoints object itself continues to exist, then the time-series should also, but since the unique label combination is what makes up the time-series ID essentially, this cannot be dynamic content.

[2020-10-08 08:00] #1138 closed

[2020-10-08 17:20] Drugoy commented on #1159
/remove-lifecycle stale

[2020-10-08 23:36] 2rs2ts commented on #530
/remove-lifecycle stale

[2020-10-09 19:31] uipo78 opened #1257 "Pass workflow labels down to workflow's pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

My use case: we have an application where it'd be useful to be able to build PromQL queries such as counting the number of pods running for a workflow with a particular set of labels.

Let me know if you all would like more information.

[2020-10-11 20:26] #1242 closed

[2020-10-12 19:56] nicklan opened #1258 "metrics being exported for non-existant container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A `kube-scheduler-master` container restarted. kube-state-metrics began reporting metrics for both the old and new container. Since they were identical, and the order was random, we saw a sawtooth on `kube_pod_container_status_restarts_total` which triggered all kinds of a alerts on our `increase` query.

**What you expec

[2020-10-12 23:55] ichekrygin opened #1259 "Add Pod UID to all "kube_pod_*" metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

**What happened**:

Currently, only `kube_pod_info` metric exposes pod `UID` value.
It is assumed that `namespace/pod` combination should be always unique at any given point in time.
However, it does not accommodate for cases when pods can be created, deleted, and recreated with the same name over some period of time.
This is typically t

[2020-10-13 00:01] ichekrygin commented on #1259
If the community/maintainers find this feature request useful, I’d be happy to contribute.

[2020-10-13 07:30] lilic commented on #1111
/remove-lifecycle stale

[2020-10-13 07:31] lilic commented on #1111
I would say lets go ahead and do this?

[2020-10-13 09:32] lilic commented on #1258
Thanks for the report, I believe this is similar to https://github.com/kubernetes/kube-state-metrics/issues/1157, can you have a look at that one.

[2020-10-13 09:34] lilic commented on #1257
Thanks for the feature request, a few more details would be appreciated, how do you envision this to be done and what you mean by workflow here. Thanks!

[2020-10-13 12:36] lilic commented on #1259
@ichekrygin hey, that sounds like a great idea! Feel free to contribute the changes, if you need any guidence let me know!

[2020-10-13 13:30] lilic commented on #892
@brancz and @tariq1890 any strong ideas around this? We should at least document the current ideas around it. WDYT?

[2020-10-14 07:23] #947 closed

[2020-10-14 20:40] mcavoyk opened #1263 "Stable metrics "kube_pod_container_resource_[limits|requests]" have cpu/memory units removed in v2"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In the latest v1 version (v1.9.7), `kube_pod_container_resource_[limits|requests]` is [marked as stable](https://github.com/kubernetes/kube-state-metrics/blob/v1.9.7/docs/pod-metrics.md#pod-metrics), and the duplicates `kube_pod_container_resource_[limits|requests]_[cpu_cores|memory_bytes]` are marked as deprecated. The de

[2020-10-14 20:49] mcavoyk commented on #1263
Similiar to https://github.com/kubernetes/kube-state-metrics/issues/1245, but this is more targeted around the communication of these changes and how the latest v1 version seems to indicate the opposite of these changes.

[2020-10-15 15:44] #1249 closed

[2020-10-15 19:55] #1051 closed

[2020-10-16 08:26] brancz commented on #892
Yes I think that makes sense.

[2020-10-17 10:51] olivierlemasle commented on #875
/remove-lifecycle stale

[2020-10-19 08:35] lilic commented on #1263
@mcavoyk hey thanks for the issue, yes the CHANGELOG is rather large and a lot PRs went in, we can help clarify it no problem. What would make most sense for you to understand the changes more clear, e.g. what should we write instead?

[2020-10-19 11:44] Wang-Kai opened #1267 "There is a problem with the document"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The [usage part](https://github.com/kubernetes/kube-state-metrics#usage) of `README.md` document dose not match the actual kube-state-metrics program . The paramter `--namespace` is not workable .

[code]

**What you expected to happen**:

As written in the [code](https://github.com/kubernetes/kube-state-metrics/blob/mas

[2020-10-19 11:55] lilic commented on #1267
Nice catch, thanks! Are you willing to do the fix yourself?

[2020-10-19 11:59] Wang-Kai commented on #1267
Yes, i am trying to do it .

[2020-10-19 12:04] yosshi825 opened #1269 "kube_pod_container_resource_requests metrics not exported"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The [Pod Metrics documentation](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/pod-metrics.md#pod-metrics) has a description of `kube_pod_container_resource_requests`, but `kube_pod_container_resource_requests` is not export when using `v2.0.0-alpha.1`.

- `kube-state-metrics:v2.0.0-alpha.1`

[code]

- `

[2020-10-19 12:34] lilic commented on #1269
Thanks for the report, indeed this is a mistake, will look into it! Nice catch!

[2020-10-19 12:56] #1267 closed

[2020-10-20 14:52] yosshi825 opened #1270 "Label information is not exported to kube_node_labels metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The [Node Metrics documentation](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/node-metrics.md#node-metrics) has a description of `kube_node_labels`, but `kube_node_labels` is not export labels when using `v2.0.0-alpha.1`.

- `kube-state-metrics:v2.0.0-alpha.1`

    Labels information is not export
[cod

[2020-10-20 16:29] dgrisonnet commented on #1270
Hello @yosshi825, in v2.0.0-alpha the kube_*_labels had a rework. To avoid cardinality explosion caused by an unbounded number of labels, it was decided not to expose all the labels by default but only the one specified via the CLI.
You can now safely specify all the labels you want to expose to Prometheus via the `--labels-allow-list` flag.

That being said, I noticed a bug from what you reported

[2020-10-20 18:09] kintarowins opened #1271 "--log_dir --log_file doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Tried to use --log_dir and --log_file parameters but no log files were produced

**What you expected to happen**:
logs written to log file

**How to reproduce it (as minimally and precisely as possible)**:
add --log_dir=/var/log --log_file=ksm.log parameters to the kube-state-metrics startup command

**Anything else we need to know?

[2020-10-20 19:12] kintarowins commented on #1271
to answer my own question: I needed to explicitly turn off --logtostderr and turn on --alsologtostderr then remove --log_dir as that gives a permission error
  --log_file=/var/log/ksm.log
  --alsologtostderr=true
  --logtostderr=false

maybe the cli readme could be made clearer that a combination of these switches need to be used together to make logging to file work

[2020-10-20 19:12] #1271 closed

[2020-10-20 20:25] kehao95 opened #1272 "Cannot list resource "ingresses" in API group "extensions" after permission adjustment"
/kind bug

**What happened**:

Recent permission adjustment seem to caused the issue

`kube-state-metrics` log output:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
I am using `kube-prometheus` project to manage the stack deployment with no version pinning. I sync with upstream and update cluster regularly, living at the edge.
This issue happened after I updated from `1

[2020-10-20 22:44] tariq1890 commented on #1272
I agree that we should add it back. Maintain compatibility for both apiGroups

[2020-10-21 00:51] tariq1890 commented on #1272
Would you like to contribute a PR for this @kehao95 ?

/help /good-first-issue

[2020-10-21 14:28] dgrisonnet commented on #1210
Is anyone currently working on this? I would be interested in implementing this feature.

[2020-10-21 22:02] tallclair opened #1274 "Add RuntimeClass metrics"
We should add RuntimeClass metrics. Maybe as an additional label on `kube_pod_info`?

/cc @egernst @SergeyKanzhelev

/kind feature

[2020-10-21 22:07] egernst commented on #1274
Thanks @tallclair

I think we want something similar to https://github.com/kubernetes/kube-state-metrics/pull/1053, but for runtimeclass itself.

[2020-10-22 13:24] lilic commented on #1179
/remove-lifecycle stale

[2020-10-22 13:27] lilic commented on #1272
You can use a release branch for jsonnet to pin and not master in kube-prometheus , so I would suggest that instead. Not sure we need to add permissions for an API we are no longer using in master. Can you explain the reason a bit more @tariq1890?

cc @brancz

[2020-10-22 13:37] lilic commented on #1210
Hey @dgrisonnet there is no real plan on the roadmap for this. I would prefer native instrumentation, while I understand its not always possible, but have my doubts on CR instance metrics being added in kube-state-metrics.

In any case I would prefer to wait for release-2.0 to be out before we do this.

[2020-10-22 13:40] lilic commented on #1274
@egernst @egernst can you please explain the feature request in a bit more details so we can evaluate if we want this added or not, thanks!

[2020-10-22 13:44] lilic commented on #1271
@kintarowins these flags come from klog, so best to open feature request or clarify there, thanks! :) https://github.com/kubernetes/kube-state-metrics/blob/5d56275d2b95ffcf6d15d8a6fa2b1bb02a1066ae/docs/cli-arguments.md

[2020-10-22 15:28] tariq1890 commented on #1272
Thanks for the clarification @lilic.

I thought it'd be better maintain compatibility for apiGroups as many folks will still be on the ingress under extensions api.

But if our minimum supported K8s does not include extensions, then we should not go ahead with this PR

[2020-10-22 15:35] dgrisonnet commented on #1210
I completely agree with you that CR should not be monitored by kube-state-metrics. However, in my opinion, Custom Resource Definition should be as it is a native Kubernetes resource.
Following what was done in #515 and @mrueg proposition, I would say that adding the following metrics seems useful:
[code]

Sure, no worries. I wasn't intending to put pressure on getting this feature in 2.0.

[2020-10-22 15:40] dgrisonnet commented on #1270
@lilic @tariq1890 may I have your opinion on my previous statement?

[2020-10-22 19:11] egernst commented on #1274
@lilic thanks.  As a user I would like to verify that a given RuntimeClass handler is being utilized.

When combined with kube_pod_status_phase, end-users can use tools like Grafana to quickly assess how pods running with various runtimeclass handlers compare. This is very similar to what was done for PodOverhead: https://github.com/kubernetes/kube-state-metrics/pull/1053

I would want to add some

[2020-10-23 09:19] lilic commented on #1210
No pressure at all! :)

Seems interesting. @mrueg @dgrisonnet what value does this bring to you, can you describe some use cases how you would use those metrics in queries, alerts or dashboards, etc.? Thanks!

[2020-10-23 09:27] lilic commented on #1274
Thanks @egernst sounds good to me! Are you interested in contributing this, otherwise we can mark it as help wanted. Note we are in the release 2.0 cycle so might be some delay in getting PRs merged.

[2020-10-23 09:29] mrueg commented on #1210
@lilic
As mentioned in the initial issue post, what immediately comes to my mind are prometheus-operator's servicemonitors.
Having those metrics would allow to alert on a bad configuration if the target does not appear in the prometheus instance it should be (which for example can happen easily if you set up prometheus{,-operator} to only select servicemonitors with specific labels and the service

[2020-10-23 09:48] lilic commented on #1272
https://github.com/prometheus-operator/kube-prometheus/pull/736 @kehao95 opened PR to pin against latest stable kube-state-metrics release which should solve your problem :)

[2020-10-23 10:00] lilic commented on #1210
Having those metrics would allow to alert on a bad configuration if the target does not appear in the prometheus instance it should be

Not sure how `kube_customresourcedefinition_created{group="monitoring.coreos.com", name="servicemonitors"} 1603447067 `, which just gives you when the custom resource definition was registered with the API, can give you that info? Can you explain a bit more, not s

[2020-10-23 11:56] brancz commented on #1272
I agree with lili that on master we should only have support for ingress in the networking API. And even regardless of opinion, we can only support one version, because of how kube-state-metrics works.

As lili mentioned, the latest v1.9.x supports the old ingress API, so until people migrate to a Kubernetes version with the new ingress API available, they should use that.

[2020-10-23 11:57] brancz commented on #1210
The prometheus operator already exposes metrics about it's CRs itself, which is how I believe it should be. Certmanager should do the same.

[2020-10-23 16:19] egernst commented on #1274
Is there a cutoff for 2.0? I saw alpha from earlier this month (thanks!).

In a perfect world, I would contribute this ASAP and it would be available in 2.0.  Do you think this is feasible?

[2020-10-24 22:18] dsonck92 commented on #1270
I happened to stumble upon this bug/feature as I was working on metric discovery. It might be useful to mention this in the documentation.

@dgrisonnet I agree that only the `label_*` labels should be gated, otherwise it's impossible to relate them back without also specifying their "deployment/node/etc." label and namespace. I would also say that it would be nicer to not require the `label_` pref

[2020-10-26 08:51] lilic commented on #1270
@dsonck92 where would you propose this to be documented, what is a better place? We are happy to add this! If you can think of a place please feel free to open a PR! :)

[2020-10-26 09:13] garysdevil opened #1277 "How to get value of "kube_pod_container_resource_requests_cpu_cores" and node lable of "kube_pod_info" by a expression in v2.0.0"
Kube-state-metrics image version:  latest or v2.0.0

kube_pod_container_resource_requests_cpu_cores
[code]
kube_pod_info
[code]
It don't return lable "node" by metric "kube_pod_container_resource_requests_cpu_cores" in v2.0.0

Expected: get value of "kube_pod_container_resource_requests_cpu_cores" and node lable of  "kube_pod_info" by a expression. For example:

kube_pod_container_resource_request

[2020-10-26 14:21] lilic commented on #1277
Hey, thanks for the issue, this PR introduces node label back to the pod resource metrics, please see details there. https://github.com/kubernetes/kube-state-metrics/pull/1278

[2020-10-26 14:39] #1263 closed

[2020-10-26 14:42] lilic commented on #1263
@mcavoyk thanks for reporting the issue and bringing this issue to light, reason for closure is in the PR:

Let me know if something is not clear!

[2020-10-26 14:44] lilic commented on #1277
Closing as node label is back, let me know if you have any other issues, thanks!

[2020-10-26 14:44] #1277 closed

[2020-10-26 15:15] #1274 closed

[2020-10-26 16:19] mrueg commented on #1210
Apologies, should have read more closely. yes I was thinking about instance level metrics.

The generic ones could be interesting to provide info when a CRD was updated (unless the tools using them already provide that info)

[2020-10-26 18:01] dsonck92 commented on #1270
Well, considering there's already an "Conflict resolution in label names" in the README.md, probably a new heading below that. I can create a PR with something I would think helps people avoid the pitfall. Of course keeping in mind potential changes as suggested.

[2020-10-27 03:17] vinhha96 opened #1281 "Can't get metrics `kube_pod_deletion_timestamp` when call delete pod"
/kind bug

**What happened**:
When I call to delete a pod, but I can't get metrics `kube_pod_deletion_timestamp` from `kube-state-metrics`. although when I run the command `kubectl get pod / ... -oyaml` it already has the parameter deletion_timestamp.
I am not sure if there is any version incompatibility here?

[code]

[code]

**What you expected to happen**:
I expect that when the pod is in Termi

[2020-10-27 09:01] dgrisonnet commented on #1102
Closing as #1125 added the feature.

[2020-10-27 09:01] #1102 closed

[2020-10-27 09:17] lilic commented on #1270
@dsonck92 that sounds great, go ahead thanks!

[2020-10-27 09:19] lilic commented on #1210
Not sure we would do instance level metrics at this points for custom resources, but if you come up with a mini proposal on the pros and cons we can have a look, google doc is fine or just more detailed description in a new issue as I would like to keep this one for CRD metrics. Thanks!

[2020-10-27 10:54] lilic commented on #1281
@vinhha96 hey, that metric was introduced only in 2.0 pre-release so it's expected to not find it if you are running 1.9.7. See docs for available metrics per release branch https://github.com/kubernetes/kube-state-metrics/blob/release-1.9/docs/pod-metrics.md

If you need those metrics I suggest to use the pre-release of v2.0, note it's not been cut final release and things might change, but feedb

[2020-10-27 10:54] #1281 closed

[2020-10-27 10:56] lilic commented on #1272
PR in kube-prometheus was updated to pin to release-1.9 of kube-state-metrics so closing this issue, if you have any more problems feel free to open a new issue, thanks!

[2020-10-27 10:56] #1272 closed

[2020-10-27 17:05] panhaitao opened #1286 "kube_pod_completion_time metrics not exported"
**What happened**:
kube_pod_completion_time  metirc can not get,Is this a BUG REPORT or FEATURE REQUEST?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. install kube-state-metrics from https://github.com/kubernetes/kube-state-metrics/tree/master/examples/standard.
2. when Run command:  curl  http://10.10.15.26:8080/metrics | grep kube_pod_co

[2020-10-27 19:48] dsonck92 commented on #1270
I've created it here #1279.

[2020-10-28 10:15] lilic opened #1288 "Image build process is broken for arm and arm64 images"
**What happened**:
Current images do not work on arm and arm64 arch.

**What you expected to happen**:
All the mentioned images should work for their arch. https://github.com/kubernetes/kube-state-metrics#container-image

**How to reproduce it (as minimally and precisely as possible)**:
Try running latest arm and arm64 gcr images on those arc.

@paulfantom thanks for testing!
@mrueg FYI we found a

[2020-10-28 10:56] mrueg commented on #1288
Which image(s) did you try to run? This one? https://console.cloud.google.com/gcr/images/k8s-staging-kube-state-metrics/GLOBAL/kube-state-metrics@sha256:aa84c31d4ab935acbd7debdc23a18e87dc344727290d8313f0d7d14b96293482/details?tab=info

[2020-10-28 16:43] #1288 closed

[2020-10-28 20:32] mcavoyk commented on #1263
@lilic Yes, that clarifies this for me, I appreciate the quick response :+1:

[2020-10-29 09:43] lilic commented on #1037
Closing this as they are part of gcr images now, we plan on deprecating quay images in the future so we won't be adding them to quay.

[2020-10-29 09:43] #1037 closed

[2020-10-29 14:35] lilic commented on #1089
Since this image promotion now works and we have a good workflow, closing this issue. Thanks all!

[2020-10-29 14:35] #1089 closed

[2020-10-30 04:39] yli186 commented on #1245
@lilic
Hi sorry hopping on the thread, since this is similar topic.
Since we have recently upgraded our cluster to 1.18 from 1.14, so we are trying out the v2.0.0-alpha.2 version. But we were not able to get any scrape for **kube_pod_container_resource_limits**, while **kube_pod_container_resource_requests** is scraping fine for most of the pod (for some stateful pods was also missing, still looki

[2020-10-31 11:00] #873 closed

[2020-11-02 15:35] jimmyseto commented on #1245
@yli186 - i'm observing this as well.  can you create an issue for this?  it looks like a regression introduced as part of a revert done between alpha.1 and alpha.2 (see #1278).  i can work on creating a PR for this today.

[2020-11-02 16:24] yli186 opened #1292 "kube_pod_container_resource_[limits|requests] metrics missing in v2.0.0-alpha.2"
**What happened**:
Since we have recently upgraded our cluster to 1.18 from 1.14, so we are trying out the v2.0.0-alpha.2 version. But we were not able to get any scrape for kube_pod_container_resource_limits, while kube_pod_container_resource_requests is scraping fine for most of the pod (for some stateful pods was also missing).

**What you expected to happen**:

kube_pod_container_resource_limi

[2020-11-02 16:25] yli186 commented on #1245
Thank you @jimmyseto, created #1292

[2020-11-03 14:57] lilic commented on #1292
Thanks for reporting! This is fixed in release-2.0 branch by @jimmyseto PR and will be included in the next pre-release sometime this week.

[2020-11-04 08:12] #1292 closed

[2020-11-04 12:06] kitos9112 opened #1295 "What's the estimate for having a GA out there on 2.0.0?"
Hello,

I'm really interested in understanding when a fully GA (or beta) version will be available? I may understand this is still under heavy development with so many moving parts, but an estimated date in the foreseeable future would help.

Many thanks in advance!

[2020-11-04 15:06] lilic commented on #1295
@kitos9112 hey! I am working on one last bug (label allow list metrics are not showing correct labels) before we can run perf and scale testing for 2.0 alpha pre-release. There will be at least one more alpha pre-release cut and after that if no major regressions in performance we will promote it to beta. Giving actual dates would be hard to do, as the perf and scale tests depend on another SIG an

[2020-11-04 15:07] lilic commented on #1286
@panhaitao thanks for the bug report! Do any of the pods have the completion timestamp on them and they are being failed to be produced into metrics? Do you have a minimal example to reproduce? Thanks!

[2020-11-04 18:00] kitos9112 commented on #1295
Hi @lilic!

Thanks for your prompt and cultivated response. Yes, I perfectly understand all the commitments behind the scenes to have a beta/stable `v2` out there. Glad to see there're actual plans though 🥳

I will give it a go with the alpha2 version down the road and report any issue/bug I may encounter :)

[2020-11-04 23:10] nemo83 commented on #1037
Happy to hear they are part of gcr, would you know the full repo url? I tried ` k8s.gcr.io/kube-state-metrics/kube-state-metrics:v1.9.7` and it doesn't seem to be there. Thanks!

[2020-11-05 13:59] mplzik opened #1296 "gcr.io/google_containers/kube-state-metrics image fails to run"
**What happened**:

$ docker run gcr.io/google_containers/kube-state-metrics:v1.9.5
standard_init_linux.go:219: exec user process caused: permission denied

**What you expected to happen**:

A successfully launched kube-state-metrics container (+- some errors caused by missing k8s config)

**How to reproduce it (as minimally and precisely as possible)**:

$ docker run gcr.io/google_containers/kube

[2020-11-05 14:06] bergerx commented on #694
Seems like still impacting.

[2020-11-05 14:12] bergerx commented on #694
I know that there are a lot of optimisations are in the ksm for covering huge clusters or clusters with lots of resources on those. But i'm curious if would it be possible to catch the apiserver reconnections and trigger some kind of full reconcile. Or maybe just fail out in case of apiserver unavailability, this keeps giving us stale and misleading information in so many different ways.

[2020-11-06 10:01] lilic commented on #1296
Yes, this is a known issue as something went wrong when the folks built it, I don't have permission to fix it, but the quay image should work correctly or you can build it yourself and push to your own registry. The issue was fixed in newer versions of kube-state-metrics for gcr and it works correctly there and we have a build pipeline now so closing the issue, hope the info was helpful.

[2020-11-06 10:01] #1296 closed

[2020-11-06 10:02] lilic commented on #1295
Thanks, looking forward to any reports!! Happy to leave the issue open until we ship beta to prevent other folks understand the timeline.

[2020-11-06 11:31] monikeu opened #1297 "Pods metrics are not listed when all metrics are limited by --metric_allowlist/denylist, but listed when there is no limitation from --metric_allowlist/denylist"
**What happened**:
Deployed kube-state-metrics v 2.0.0-alpha.2, with the followng deployment configuration:
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: kube-state-metrics
    app.kubernetes.io/version: 2.0.0-alpha.2
  name: kube-state-metrics
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: kube-state-m

[2020-11-06 14:12] lilic commented on #1297
Thanks for the report!

Did you want to see all metrics for pods and nodes resources only?

The flag says:

That flag is meant for specific metrics to be exposed and it accepts a regex pattern as well, to just do it for all resources you can just set the resources flag like this:
`--resources=pods,nodes`

[2020-11-06 15:25] lilic commented on #1037
@nemo83 they are not available for v1.9.7, for those you need to build them yourself the same as for quay, but they are available from 2.0 pre-release onwards, but you can use the same building make target to build the image of v1.9.7 which is most likely the final release. See those here https://github.com/kubernetes/kube-state-metrics#container-image

[2020-11-09 07:17] janotav commented on #699
@acannon828 and others who might stumble upon this thread searching for the same:

prober_probe_total

[2020-11-09 07:27] hakur opened #1298 "metric kube_pod_labels format wrong, is a change or bug?"
**What happened**:
 kubernetes v1.19.2 && kube-state-metrics v2.0.0-alpha.2 metircs output without labels
![image](https://user-images.githubusercontent.com/12321972/98509498-469f0000-229c-11eb-97de-b9777fd7f67a.png)
 but kubernetes v1.19.2 && kube-state-metrics v1.9.7 metrics output is correctly with labels
![image](https://user-images.githubusercontent.com/12321972/98509837-ee1c3280-229c-11eb-9b

[2020-11-09 08:26] lilic commented on #1298
Hey! Some is bug and some is feature. For the bug see https://github.com/kubernetes/kube-state-metrics/issues/1270 and this should be fixed in the next version of kube-state-metrics prerelease.

As for the rest of the labels, this is expected, due to security and high cardinality issues we decided to by default we will only expose name and namespace labels for each of the kube_<>_labels. Rest you

[2020-11-09 08:51] hakur commented on #1298
thank you very much, I understood.
should I close this issue?

[2020-11-09 09:19] hakur commented on #1298
![image](https://user-images.githubusercontent.com/12321972/98522499-bc609700-22af-11eb-8546-790bb0bd763d.png)
resolved

[2020-11-09 09:21] #1298 closed

[2020-11-09 13:47] ntavares commented on #1270
@dgrisonnet ah, I was just chasing the "node" label (where was it magically coming from, because now it's lost), and I think I found the answer in your https://github.com/kubernetes/kube-state-metrics/issues/1270#issuecomment-712986441 comment. Was there any followup to that remark of yours? Can we have it back?

[2020-11-09 14:04] dsonck92 commented on #1270
@ntavares Well, as my documentation PR should improve, you can get the labels you wish by allowing them specifically, keeping in mind you need to do that for every label metric and every label you want, including the `label_` prefix.

[code]

I don't see it happen soon that all labels are exposed by default (nor would I want to see that) as cardinality is a fair point: It might explode into a lot

[2020-11-09 14:13] ntavares commented on #1270
@dsonck92 I believe your last comment was in regards to another thread? :) I noticed now that, on that other thread, I forgot to mention your remark earlier here, and now reiterated, that:

I couldn't agree more. Our KSM command-line now looks gigantic..... having to repeat label_ for all of them is totally useless as, as you mention, we're listing labels, which will always be prefixed with label_

[2020-11-09 14:14] dgrisonnet commented on #1270
@ntavares yes, @lilic is currently working on a fix.
If I'm not wrong, it is a blocker for the 2.0 release so the default labels should be back in the official release.

[2020-11-09 14:22] dsonck92 commented on #1270
@ntavares ah, yes, you mean the `node` default label (without `label_` prefix) one that should have been included by default. Yes it should get added back in. In the meantime it is possible to mark them in the same allow list which was why I initially added this as a remark to the documentation. In fact, in my opinion, I wrote the documentation to be as accurate to the current state of `master` as

[2020-11-09 14:25] lilic commented on #1270
Yes I am currently working on a fix, will open a PR sometime this week if all goes well. The new format will be a bit different from the current one, due to some performance regressions we noticed that the new --labels-allow-list flag introduced. Note that will fix the that it will always have the resource name and namespace there by default, this was a bug.

New format should be something like th

[2020-11-09 14:29] dsonck92 commented on #1270
Wait, does that also mean it's with dashes, slashes and dots? (Which I think would be nice)

[2020-11-09 14:31] lilic commented on #1270
Yes, that is the current plan, note this will be converted to Prometheus format always later. The idea was that it's easier for users to know the k8s label name and pass that name to allowlist, rather than converting that by hand before. It also is more performance efficient for reasons which will hopefully be evident in the PR.

But yes the current plan is to have something like this to work yes:

[2020-11-09 14:36] dsonck92 commented on #1270
Yeah, understandable that it will get transformed. I can see this might also allow users to prevent the label collisions mentioned in the readme file. As, for example, you would be able to indicate you want the one with dots instead of dashes.

I would still stress that it's useful to allow wildcards on at least the labels side as now you could say 'keep all `app.kubernetes.io/*`' and just use the

[2020-11-09 14:44] lilic commented on #1270
Yeah there is an issue opened for this, I understand the need but its out of the scope of my work currently. But we can discuss that in that issue, currently only want to fix the bug and introduce the more performant way of allowing labels, the PR will be large enough as is :)

[2020-11-09 15:05] ntavares commented on #1270
This is great stuff fellows, thanks for the quick reaction. And @dsonck92 thanks a bunch for the "node" example, it did actually occur to me to try, but lost my faith on it somehow, great that it works again; thanks for the tip.

[2020-11-09 21:41] adammw opened #1299 "Add reason label to HPA Status Condition"
**What would you like to be added**:
Reason label for HPA Status Condition.

**Why is this needed**:
Current metric shows only status true/false for conditions, not their reason so you can't categorise why various HPAs are failing.

**Describe the solution you'd like**
New `reason` label key added to HPA Status Condition (and possibly other condition metrics) with the condition's reason added as t

[2020-11-10 09:42] Gunakk commented on #499
Isn't there any fix given for this ?

[2020-11-10 11:59] lilic commented on #499
@Gunakk if your pods do not have memory resource requests we cannot fix this in kube-state-metrics, we just read from the Kubernetes API, this is not a bug. You can read about what you need to specify here https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/

[2020-11-10 18:40] Jeffwan commented on #611
/remove-lifecycle stale

[2020-11-11 13:08] linkingli opened #1300 "kube_node_spec_unschedulable not working"
**What happened**:
When the node is unschedulable, the kube_node_spec_unschedulable indicator has no value
**What you expected to happen**:
When the node is not schedulable, kube_node_spec_unschedulable should have a value
**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

I don’t think it’s a proemthus problem, it’s still the same after a

[2020-11-11 15:39] brancz commented on #1300
The `kube_node_spec_unschedulable` metric reflects the value of `.spec.unschedulable` of the Node object as returned by the API. Could you share the whole node object that you would have expected this one on? I believe what kubectl shows here is actually a taint, but I may very well be mistaken.

[2020-11-11 16:17] lilic commented on #1299
Hey @adammw! 👋  Are you talking about the `kube_horizontalpodautoscaler_status_condition` metric? Is there a known list of reasons of HPA? We tend to only allow a constant list of values in the reason metrics, if this exists for HPA, this feature request sgtm.

[2020-11-11 17:25] brancz commented on #694
We have a hunch on what might be going on, but we're currently 10% focused on the 2.0 release. After that's finished up, we'll get right on this.

[2020-11-11 19:26] adammw commented on #1299
I don't believe a known list is documented, but the condition field is exclusively written by the HorizontalPodAutoscaler component of kube-controller-manager, which from reading the [source code](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go) I can see the following strings:

AbleToScale:
- FailedGetScale
- FailedUpdateScale
- ReadyForNewScale
- S

[2020-11-12 03:56] linkingli commented on #1300
I have fixed this issue, the parameter ”kube_node_spec_unschedulable “  is a label,not a taint
[code]
[code]
[code]

[2020-11-12 07:56] linkingli commented on #1300
[code]

I noticed the following piece of code. From my test above, When the node is not schedulable or notready，Spec.Unschedulable cannot be used as the only criterion for unschedulable nodes. Any good ideas?

[code]

[2020-11-12 08:12] brancz commented on #1300
The way I understand it, unschedulable is something that is intentionally set for example when running `kubectl cordon` against a node. It's not meant to reflect a runtime condition or taint (there are separate metrics for these).

What is it that you want to alert on here?

[2020-11-12 08:52] linkingli commented on #1300
@brancz
I got you,this is issue  will be closed.In fact, the real problem is something else， kube_node_spec_unschedulable does not work because etcd does not update the data accurately and Spec.Unschedulable does not update.  :(

[2020-11-12 08:52] linkingli commented on #1300
close

[2020-11-12 08:52] #1300 closed

[2020-11-12 15:02] aayushrangwala opened #1302 "Support pod guage metrics based on their statuses"
**What would you like to be added**:

Need the support for a few more aggregated metrics based on the pod statuses. Like the guage metrices for evicted pods, completed pods, failed pods etc

**Why is this needed**:

It is really useful having those to be used for monitoring purposes

**Describe the solution you'd like**
We can use the same frameworks, caches and clients to just aggregate and expor

[2020-11-12 17:02] r0bj commented on #1166
/remove-lifecycle rotten

[2020-11-13 21:05] adammw commented on #1299
That being said, this is probably a generic thing that would need to be added to all resources with conditions and would not be trivial as the possible `reasons` are definitely unbounded.

[2020-11-15 16:41] george-angel commented on #941
/remove-lifecycle stale

[2020-11-16 09:26] JorritSalverda opened #1303 "Provide alert on used api versions that are going to be deprecated"
**What would you like to be added**:

A timeline serie that provides resources that use api versions that will be deprecated in a future version of Kubernetes.

**Why is this needed**:

We've been bitten many times by still using Kubernetes resources that have deprecated api versions. Even though it's already known a couple of versions before retiring the api version. Being able to alert on it bef

[2020-11-16 11:45] autarchprinceps commented on #680
@serathius
This is not ok. It needs to be under the same name as part of the fat manifest, or else manual intervention is required on multi instance Kubernetes clusters. Naming images after architectures is obsolete.

[2020-11-16 11:56] serathius commented on #680
New release process https://github.com/kubernetes/kube-state-metrics/issues/1089 should release `k8s.gcr.io/kube-state-metrics/kube-state-metrics` as a FAT manifest

[2020-11-16 13:17] #753 closed

[2020-11-16 13:17] #1154 closed

[2020-11-16 23:35] tide34 opened #1305 "kube_pod_container_resource_limits doesn't scrape"
Thanks anyone for help!

**What happened**:
I'm a freshman in monitoring and I've installed kube-state-metrics container into my k8s cluster.
Also I've installed a container with seted up request/limit of resources. When i tried to scrape request/limit of the container resources i got only resource request metrics and can't got resource limit metrics.
Request #1292 closed, but i'm still detecting

[2020-11-17 05:38] rpherrera commented on #1090
I was having this issue with a cluster on `v1.15.12-gke.20` version.

The most recent version of `kube-state-metrics` that worked for me without flooding the logs with these errors was: `v1.9.4`

[2020-11-18 09:44] lilic commented on #941
My two cents on this:

Adding annotation metrics can be possible if we use the same approach as we did with labels metrics, so e.g. kube_pod_labels. So we could have the same allow mechanism as is being now implemented for those metrics, see PR https://github.com/kubernetes/kube-state-metrics/pull/1301#issue-519851559. So for annotation metrics it could be `--annotation-metric-allow-list ` flag an

[2020-11-19 11:26] lilic commented on #1305
Hey, thanks for the issue, yes issue was closed as the PR was merged, we just have not cut the release (hopefully this week, if we merge another bug fix in time). But you can try the fix by building the image from the release-2.0 branch if you need the fix urgently. Let me know if you need any help around that.

[2020-11-19 11:30] lilic commented on #1303
Hey, thanks for the feature request, but this project does not provide alerts out of the box, only metrics based on the Kubernetes APIs. I believe these metrics were added to the Kubernetes metrics recently https://kubernetes.io/blog/2020/09/03/warnings/#metrics so you can use those to create alerts, those do not originate from kube-state-metrics.

Let me know if there is something I misunderstood

[2020-11-19 11:33] lilic commented on #1302
Hey, thanks for the feature request, what kind of metrics specifcly did you have in mind? We already have `kube_pod_container_status_terminated_reason` which includes the reason why it was terminated and we have a list in the docs which ones we support:

See more metrics and docs here -> https://github.com/kubernetes/kube-state-metrics/blob/master/docs/pod-metrics.md

Can you describe which ones o

[2020-11-19 11:37] lilic commented on #1090
As mentioned in the linked issue:
yes you are using a too new version of kube-state-metrics, see compatibility matrix here https://github.com/prometheus-operator/kube-prometheus#kubernetes-compatibility-matrix or the one in kube-state-metrics https://github.com/kubernetes/kube-state-metrics/#compatibility-matrix neither claim to support 1.15 version of Kubernetes, so might be easier to roll back t

[2020-11-19 12:02] JorritSalverda commented on #1303
Ah, thanks that's actually very useful, once we're on 1.19+. This is exactly what I was looking for.

[2020-11-19 12:02] #1303 closed

[2020-11-19 12:09] aayushrangwala commented on #1302
@lilic  I came across a use case where I need to have the gauge metrics of evicted pods in all the namespaces, similarly, gauge metric for terminated pod, then metrics for the actual time taken between `Pending` to `Running` state, then from marked for deletion to actually deleted state. I have read the doc for pod metrics, I believe there are all good metrics but mostly not specific to a single s

[2020-11-19 12:25] lilic commented on #1302
Thanks for clarifying, it might help to know what you want to achieve with those potential metrics, is it to write alerts or just have metrics for debugging, if you can clarify the use case? Thanks!

[2020-11-19 13:08] lilic opened #1306 "Fix the high gocyclo complexity setting"
With the change to the podMetricFamilies and nodeMetricFamilies into a function, now our CI detected that cyclo complexity is too high, in case of the pod function it's 127. The temporary fix was that we just raised the allowed to 128 complexity.

See context in this PR https://github.com/kubernetes/kube-state-metrics/pull/1301/files#r526061712

We have a couple of options that I see:

1. Refactor

[2020-11-19 18:11] banDedo opened #1308 "kube-state-metrics consuming too much cpu + memory for relatively small cluster"
**What happened**: We have currently deployed kube-state-metrics to several clusters and are seeing memory usage running relatively high (195MiB) for a single, relatively small cluster (two regions). Inspecting # of objects in cluster + numbers of metrics. Port-forwarding and inspecting metrics surfaced by this cluster reveals a response that is returned relatively quickly, with about 70,000 lines

[2020-11-19 18:53] tide34 commented on #1305
Ok. I've built image with latest updates in kube-state-metrics server code and kube_pod_container_resource_limits really scraped successfully. Thank a lot for help!

[2020-11-19 18:53] #1305 closed

[2020-11-20 00:57] bergerx commented on #694
Ah i just came across this from https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes:

Could this issue be triggered when the apiserver is not reachable by ksd more than this 5 minute window?

[2020-11-20 09:22] lilic commented on #1308
Hey, thanks for the issue, but it seems like your cluster is not that small judging by the number of lines

Can you clarify what is a small cluster, two regions (not sure I understand what this is meant to be) can still have a lot of objects which can in turn produce a lot of metrics? Can you analyze instead which metric has the highest cardinality, as 70k lines of metrics seem like a lot for a sm

[2020-11-20 09:29] hoboroten opened #1309 "Add feature to disable labels-allow-list"
**What would you like to be added**:
The possibility to disable --labels-allow-list
**Why is this needed**:
There are situations, when users will want to have all the labels in metrics (even keeping in mind the cardinality issues).
**Describe the solution you'd like**
It would be great to have something like --disable-labels-allow-list, set to "false" by default.

[2020-11-20 09:38] lilic commented on #1309
Hey! Thanks for the issue, we recently redesigned the labels-allow-list, it will be included in the next 2.0 release, see PR for more info https://github.com/kubernetes/kube-state-metrics/pull/1301

It now only affects, as it did before, the labels metrics e.g. kube_pod_labels{}. All other metrics have all labels allowed by default. The problem is not just unbound cardinality, but security as well

[2020-11-21 11:18] hoboroten commented on #1309
Thanks for the reply.

[2020-11-21 11:57] hoboroten commented on #1309
Thanks for the reply. In my case we have several different projects, located in different infrastructures (aws, eks, on-premise servers with k8s). So far, we had rather identical monitoring system thus simplifying deployment and maintenance.
Most of monitoring filters are based on labels from kube_*_labels metrics. Such an approach gives great versatility, because:
- different environments generat

[2020-11-23 02:53] benraskin92 opened #1311 "Tag (`v2.0.0-alpha.3`) in examples/standard deployment image doesn't exist"
**What happened**: When deploying kube state metrics deployment using the manifest in examples/standard, it fails because `quay.io/coreos/kube-state-metrics:v2.0.0-alpha.3` doesn't exist. However, using the tag `v2.0.0-alpha.2` works.

**What you expected to happen**: I would expect the example manifest to work.

**How to reproduce it (as minimally and precisely as possible)**: Deploy the example

[2020-11-23 08:18] lilic commented on #1311
Oops sorry about that, will push the image today, it's a manual process for now and seems like I forgot that step during the release on Friday. Thanks for reporting!

[2020-11-23 08:41] lilic commented on #1198
I believe we can close this now @mrueg, correct? :)

[2020-11-23 08:47] lilic commented on #1311
@benraskin92 the image should exist now, can you double check it works for you?

[2020-11-23 10:21] mrueg commented on #1198
Yes I think the way it works for containers is fine

[2020-11-23 10:47] lilic commented on #1198
Thanks!!

[2020-11-23 10:47] #1198 closed

[2020-11-23 13:58] lilic commented on #1309
Thanks for the use cases! Makes sense, right now we are closing in on releasing v2.0 as a stable release, so this will most likely not make it to 2.0, but we can come back to it in v2.1, just for your information.

I believe this might be trickier, as you need to know which ones they are to deny, allowing is a much easier approach from a security standpoint. But if enough users find this to be the

[2020-11-23 16:15] banDedo commented on #1308
Thanks for following up on this. Even though the overall metrics count was lower than for other instances I found the issue. There was a much larger number of daemonsets for this cluster than others and lead to the higher consumption. Sorry for the false alarm. Thanks for everything that you do here - much appreciated!

[2020-11-23 16:15] #1308 closed

[2020-11-23 22:28] benraskin92 commented on #1311
Looks good! Thanks!

[2020-11-24 09:41] lilic commented on #1306
As discussed Damien is interested in taking this one.

/assign @dgrisonnet

[2020-11-24 09:45] dgrisonnet commented on #1306
/assign

[2020-11-24 12:23] #1311 closed

[2020-11-24 12:25] lilic commented on #1308
@banDedo no problem, good to hear that! 😌  On that note don't feel hesitant to open issues in the future, even if its false alarms in the end! :)

[2020-11-24 12:26] lilic commented on #1306
Just to clarify, first option would be the most favorable. :) So refactoring both node and pod functions to decrease the cyclo complexity, let me know if anything is unclear!

[2020-11-24 13:35] aayushrangwala commented on #1302
Yes, I wanted to have export them to be consumed at signalfx and also to setup alerts

[2020-11-24 13:54] dgrisonnet commented on #1306
:+1: it's very clear, thank you.

[2020-11-24 14:27] #1095 closed

[2020-11-25 14:11] paulfantom commented on #1270
Just wanted to confirm that this bug is still present in 2.0.0-alpha.3.

[2020-11-25 19:03] paulfantom opened #1313 "No labels in kube_node_labels possibly due to parser issues"
**What happened**:

I tried using `--labels-metric-allow-list` flag to enable labels in `kube_node_labels` metric. Depending on quotation markings results were different (described below).

All deployments were made with following cli arguments, only last line was changed in test cases:

[code]

Test cases tried on a cluster:

1) **all quoted**

yaml line: `- '--labels-metric-allow-list="nodes=["k

[2020-11-26 08:36] lilic commented on #1313
Thanks for the report! So if I understand correctly it did eventually work for you? With the use case number 5, you just want it to work with different ways? Can you describe the reason you want 2 to work in deployment flag, maybe I missed it, thanks! Or would just documenting 5 with an example be enough?

[2020-11-26 09:25] brancz commented on #941
@lilic your suggestion sounds perfect. :100:

[2020-11-26 09:26] paulfantom commented on #1313
It is not uncommon to pass array parameters quoted, hence I would expect number 2 to work the same as 5.

For me personally, this is a bad UX, especially if case #2 fails silently, while #5 works flawlessly. Ideally, with perfect UX, all those cases would work the same for CLI as they work for YAML manifests. This is currently not the case, possibly due to how bash strips double-quotes from parame

[2020-11-26 09:34] zhujik opened #1314 "kube-state-metrics not serving metrics anymore but not failing"
**What happened**:
On multiple occasions, it happened that kube-state-metrics was not serving metrics anymore, but was still running and reported as ready. Prometheus reported the target as down, error message being "context deadline exceeded".
Performing a rollover of the kube-state-metrics pod fixes the issue.

The logs offered by kube-state-metrics are sparse. Here is the only log output of the

[2020-11-26 11:14] brancz commented on #1302
I think metrics like this make sense, but I don't think they are a great fit for kube-state-metrics, as kube-state-metrics only exposes metrics with a 1 to 1 mapping from the Kubernetes API.

Maybe we can create a new sub-project of SIG Instrumentation that fits this use-case better.

[2020-11-26 13:16] lilic commented on #1313
Thanks for the feedback, right now we want to ship 2.0, so if I understand correctly it works just not in all possible scenarios. I would not call this a bug then? Maybe adding documentation for now on how it works in a Deployment manifest, to point people in the right direction.

Happy to come back to this once 2.0 is out, we were looking at actually adding an option to pass a config file, once u

[2020-11-30 08:13] lilic commented on #1314
Thanks @zhujik for the report, have not seen this issue myself but will have a look to see what we can do. Did any of the kube-state-metrics own alerts fire https://github.com/kubernetes/kube-state-metrics/blob/master/examples/prometheus-alerting-rules/alerts.yaml?

[2020-11-30 09:53] zhujik commented on #1314
Hi @lilic,
thank you for your reply. I haven't seen those alerts yet (they are not mentioned in the readme), I will try to integrate them and see if they fire next time. However, I have trouble using the kube-state-metrics self-exposed metrics as describe in the README.md. As far as I can see, on none of our clusters the metrics described in README.md are served. I also noticed that the port that

[2020-11-30 10:25] lilic commented on #1314
Good point about them not being part of the README, we only mention [metrics](https://github.com/kubernetes/kube-state-metrics#kube-state-metrics-self-metrics). Would you be willing to contribute mentioning that there are alerts we recommend? No worries if not, still good idea!

Sorry, I do know much about helm chart, I don't maintain that, might be better to ask folks who are maintainers of that

[2020-11-30 12:59] daxwang opened #1316 "Failed to list *v1.ReplicaSet: proto: wrong wireType = 2 for field ReadOnly"
env:
kube-state-metrics:   v.1.9.7
kubernetes: v1.18.4

error info:
reflector.go:108: Failed to list *v1.ReplicaSet: proto: wrong wireType = 2 for field ReadOnly
E1130 12:46:35.247846       1 reflector.go:156] pkg/mod/k8s.io/client-go@v0.0.0-20191109102209-3c0d1af94be5/tools/cache/reflector.go:108: Failed to list *v1.ReplicaSet: proto: wrong wireType = 2 for field ReadOnly
E1130 12:46:36.261912

[2020-11-30 13:22] dbluxo opened #1317 "kube_state_metrics_list_total metrics are not exported"
**What happened**:

Installed kube-state-metrics and the `kube_state_metrics_list_total` and `kube_state_metrics_watch_total` metrics are missing. The are needed for the predefined Prometheus alerts `KubeStateMetricsListErrors` and `KubeStateMetricsWatchErrors`.

**What you expected to happen**: Present `kube_state_metrics_list_total` and `kube_state_metrics_watch_total` metrics.

**How to reprodu

[2020-11-30 13:49] lilic commented on #1316
Hello @daxwang can you provide a bit more info on how to reproduce this, full logs and can you provide the ReplicaSet that failed to list? Also if you can provide your deployment and RBAC manifests, might be easier to reproduce, thanks! Any other info would be helpful as well! Thanks for the bug report, interesting!

[2020-11-30 14:06] daxwang commented on #1316
no more useful messages, here is log:
I1130 14:02:57.580191       1 main.go:86] Using default collectors
I1130 14:02:57.580235       1 main.go:98] Using all namespace
I1130 14:02:57.580245       1 main.go:139] metric white-blacklisting: blacklisting the following items:
I1130 14:02:57.581748       1 main.go:184] Testing communication with server
I1130 14:02:57.589417       1 main.go:189] Running w

[2020-11-30 14:16] lilic commented on #1316
@daxwang thanks, this error happens straight away after deploying kube-state-metrics, can you share the deployment manifest file and the ClusterRole it has.

[2020-11-30 23:41] arkastratuscent opened #1318 "go/src/k8s.io/kube-state-metrics/vendor/k8s.io/utils/trace/trace.go:200:119: totalTime.Milliseconds undefined (type time.Duration has no field or method Milliseconds)"
sudo go get k8s.io/kube-state-metrics
# k8s.io/kube-state-metrics/vendor/k8s.io/apimachinery/pkg/util/errors
go/src/k8s.io/kube-state-metrics/vendor/k8s.io/apimachinery/pkg/util/errors/errors.go:99:10: undefined: errors.Is
# k8s.io/kube-state-metrics/vendor/sigs.k8s.io/structured-merge-diff/v4/value
go/src/k8s.io/kube-state-metrics/vendor/sigs.k8s.io/structured-merge-diff/v4/value/mapreflect.go:95

[2020-12-01 08:56] brancz commented on #1318
You are using a very old version of go. Please use the releases we publish. If you build by yourself with an outdated go version, then you're on your own.

[2020-12-02 09:29] lilic commented on #1318
As Frederic said, you need to update your version of go, if you run into problems after update feel free to open a new issue, thanks!

[2020-12-02 09:29] #1318 closed

[2020-12-02 13:14] aayushrangwala commented on #1302
Sounds Great!!! Please point me to a=move ahead if I can.

[2020-12-02 13:34] #864 closed

[2020-12-02 16:59] lilic commented on #1302
@brancz @aayushrangwala lets add this to the next SIG instrumentation discussion?

[2020-12-02 19:45] kamok opened #1319 "Increase polling frequency for resourcequota"
**What happened**:
I set up kube-state-metrics with New Relic. Time series data work for other metrics, but for resource quota specifically, reporting is very sporadic:
![image](https://user-images.githubusercontent.com/9758567/100923020-97c19e80-34ac-11eb-8f69-420f9645af92.png)

You can see in the screenshot, it updates sometimes between 1 hr, or two hr, or 3 hr. Seemingly random.

**What you exp

[2020-12-02 22:06] arkastratuscent commented on #1318
Thanks for the update guys.

[2020-12-03 04:22] KR411-prog opened #1320 "Getting deployment object label in Prometheus alert rules"
Is there a way to show deployment object label in prometheus alert rules?

I have a deployment object label set as teamname=teamA I want to show this label in KubeDeploymentReplicasMismatch alert.

**I could do the same for pods related alerts by modifying expression with,**
[code]

I am unable to do the same for deployment object related alerts..
**I have found using kube_deployment_labels help..

[2020-12-03 09:21] lilic commented on #1319
Hey @kamok, there is a newer version of kube-state-metrics out 1.9.7 you might want to consider updating.

Not familiar with new relic, but can you provide a regular dump of the /metrics endpoint, did anything change for the resource quota during that time, did kube-state-metrics not reflect that state? If you try creating a new resource quota object in your cluster does that get reflected correct

[2020-12-03 09:22] lilic commented on #1320
Hello @KR411-prog which version of kube-state-metrics are you using? What is the result of kube_deployment_labels metric directly does it contain that label to start with?

[2020-12-03 14:06] vsxen opened #1321 "Duplicate/useless series kube_pod_container_status_waiting_reason？"
the pod had running, but still have `kube_pod_container_status_waiting_reason` ?
[code]

[2020-12-03 15:35] KR411-prog commented on #1320
We are using Kubernetes 1.15 EKS..yes.. kube_deployment_labels metric  contains those labels

[2020-12-03 16:13] lilic commented on #1321
Hey! Thanks for the issue but it seems the kube_pod_container_status_waiting_reason value is 0, not 1, so the count seems correct? Can you explain what kind of feature request you would like more in detail here, thanks!

[2020-12-03 18:18] KR411-prog commented on #1320
This has worked for me..
[code]

[2020-12-03 18:18] #1320 closed

[2020-12-04 00:33] vsxen commented on #1321
I see `kube_pod_container_status_waiting_reason`  is  `Top 10 series count by metric names` in prometheus

[2020-12-04 10:00] brancz commented on #1302
Sound good to me!

[2020-12-04 10:17] lilic commented on #1302
Added it to the agenda. @aayushrangwala if you are interested in taking part of it, here s the document https://docs.google.com/document/d/1FE4AQ8B49fYbKhfg4Tx0cui1V0eI4o3PxoqQPUwNEiU/edit#

[2020-12-04 15:59] aayushrangwala commented on #1302
Yes, I am definitely interested. Thanks

[2020-12-05 10:41] #1157 closed

[2020-12-06 17:11] #1164 closed

[2020-12-08 08:57] #1259 closed

[2020-12-08 12:39] lilic commented on #1269
@yosshi825 hello, can you recheck if `kube_pod_container_resource_requests` is exported for you now, I can see it in latest 2.0.0-beta version. Thanks!

[2020-12-09 12:38] #1306 closed

[2020-12-10 18:26] niroowns commented on #1241
Bumping this as we're seeing this also....cluster doesn't even have any CRs in place, but the CRD does exist

[2020-12-11 17:51] lilic commented on #1179
We decided to remove support for quay.io/coreos/kube-state-metrics with v2.0.0 so this is obsolete.

[2020-12-11 17:51] #1179 closed

[2020-12-12 18:32] #1140 closed

[2020-12-15 12:16] #1153 closed

[2020-12-15 12:47] lilic commented on #1241
@niroowns can you also provide your version of the cluster and kube-state-metrics version? Have not seen this in the wild myself or were able to reproduce on my available clusters.

[2020-12-15 12:53] lilic commented on #1228
Hey @kmmanto sorry this was somehow overlooked, are you still able to reproduce this issue?

[2020-12-15 12:54] lilic commented on #1225
As stated, we have images from v2.0.0 pre-releases for gcr and before that we have quay images, otherwise you can also build your own image easily and push to your own registry in the mean time. Feel free to open a new issue if you run into any problems with the new gcr images. Thanks!

[2020-12-15 12:54] #1225 closed

[2020-12-15 17:05] HappyCerberus opened #1324 "Strange value for kube_statefulset_status_replicas_current"
Strange value for kube_statefulset_status_replicas_current. I believe this is related to: https://github.com/kubernetes/kube-state-metrics/issues/1057

I run into this with a prometheus alert that does `(kube_statefulset_status_replicas_ready / kube_statefulset_status_replicas_current) != 1`

On one of our clusters, `kube_statefulset_status_replicas_current` has value `0` for one of our services,

[2020-12-15 18:44] underrun commented on #1317
this is not just a problem with the helm chart - it's also an issue with jsonnet via kube-prometheus

[2020-12-15 22:31] Nerdsav commented on #1324
вт, 15 дек. 2020 г., 20:05 RNDr. Simon Toth <notifications@github.com>:

[2020-12-16 16:04] lilic commented on #1324
@HappyCerberus Thanks for the report, do you think you can include the raw metrics from kube-state-metrics /metrics endpoint, just the ones about statefulset? Does this happen all the time or just once in a while? Also any logs from the kube-state-metrics container would be useful, thanks!

[2020-12-16 18:30] HappyCerberus commented on #1324
It seem to be specific to one stateful set in particular. It is very consistent, but again, only on one cluster.

    kube_statefulset_status_replicas_current{namespace="default",statefulset="mongo"} 0
    kube_statefulset_status_replicas_current{namespace="default",statefulset="prometheus-server"} 2

[2020-12-17 12:29] eberkut commented on #1324
I'm seeing the exact same issue with a newly deployed Kafka cluster (using Strimzi). Same kube-state-metrics version and same alert rule (which is in the popular https://awesome-prometheus-alerts.grep.to/rules.html) but on AWS EKS with Kubernetes 1.16.

[code]

[code]

[code]

[code]

Deleting the kube-state-metrics deployment and recreating it doesn't fix the issue. No errors in the kube-state-me

[2020-12-17 12:58] lilic commented on #1324
Hmm yes you are right it might be that bug. We have that on the plan for after we finish up the 2.0 release to really focus on it!

But what is interesting, if it was that bug this should have fixed the issue:

Thanks for all the details, will try to dig up and see if I can reproduce this!

[2020-12-17 16:08] karancode opened #1330 "kube-state-metric ingress and CertificateSigningRequest errors for latest versions"
**What happened**:
I am trying to deploy k-s-m on k8s cluster `v1.18.12`. I tried to deploy `v2.0.0-beta` but got below error:
[code]

I think it is because of the compatibility issue https://github.com/kubernetes/kube-state-metrics#compatibility-matrix..
So I tried` v2.0.0-alpha.1` & `v.1.9.7` but then I am getting errors regarding access permissions:
[code]
I am using manifests from here https:/

[2020-12-17 16:33] lilic commented on #1330
Thanks for the report! client-go allows silencing the warnings that made us migrate to newer versions of the ingress and CertificateSigningRequest, I have a potential workaround that would allow us to support the older versions of ingress and CertificateSigningRequest in mind and therefore the 1.18 cluster.

Do you require those metrics? If not, you can temporary also disable them via the flag `--

[2020-12-18 02:33] jingzhao-self opened #1331 "error at run "helm repo add kube-state-metrics https://kubernetes.github.io/kube-state-metrics""
**What happened**:
# helm repo add kube-state-metrics https://kubernetes.github.io/kube-state-metrics
Error: Looks like "https://kubernetes.github.io/kube-state-metrics" is not a valid chart repository or cannot be reached: Failed to fetch https://kubernetes.github.io/kube-state-metrics/index.yaml : 404 Not Found

**What you expected to happen**:
# helm repo add kube-state-metrics https://kubernet

[2020-12-18 09:12] lilic commented on #1331
See this comment here for further explanation. https://github.com/kubernetes/kube-state-metrics/pull/1329#issuecomment-747843662

[2020-12-18 09:30] #1111 closed

[2020-12-18 09:44] #892 closed

[2020-12-20 14:09] bergerx commented on #694
/remove-lifecycle rotten

[2020-12-21 06:45] karancode commented on #1330
Hello @lilic thanks for the reply.

Yes. It would be very helpful if we could get the ingress metrics atleast.

For ksm version `v2.0.0-alpha.1` the clusterrole is : <details><summary>clusterrole yaml</summary>

[code]

</details>

About other metrics, I did a quick check on local and yes I can get other metrics correctly.

Please let me know which version should be used for 1.18.x k8s clusters. T

[2020-12-21 17:41] Lord-Y commented on #1331
Any update?

[2020-12-21 21:30] innovia commented on #1330
@lilic I'm also on 1.18 and I can't find a chart that matches this version v2.0.0-beta can you help?

[2020-12-22 00:09] #1132 closed

[2020-12-22 22:30] anthosz opened #1336 "kube_pod_container_resource* only available for kube-system namespace"
Hello,

**What happened**:
kube_pod_container_resource* only available for kube-system namespace pods (namespace of kube-state-metrics pod).
But kube_pod_container_status_last_terminated_reason works by example for all pods of all namespaces.

**What you expected to happen**:
kube_pod_container_resource* available for all pods of all namespaces.

**How to reproduce it (as minimally and precisely a

[2020-12-23 07:33] HagaiBarel opened #1337 "Unable to install chart from the repo"
**What happened**:

Following the instruction in https://github.com/kubernetes/kube-state-metrics/tree/master/charts/kube-state-metrics#get-repo-info to add the `kube-state-metrics` repo fails:

[code]

**What you expected to happen**:

To be able to add the repo and install the chart

**How to reproduce it (as minimally and precisely as possible)**:

See description above

[2020-12-23 07:36] HagaiBarel commented on #1337
Sorry, seems like a dup of https://github.com/kubernetes/kube-state-metrics/issues/1331

[2020-12-23 07:36] #1337 closed

[2020-12-24 03:11] jingzhao-self commented on #1331
right now the charts/kube-state-metrics is still stick in the v1.9.7 [version](https://github.com/kubernetes/kube-state-metrics/blob/master/charts/kube-state-metrics/Chart.yaml#L10). If this version is fine for your k8s version, you could:
`
helm repo add https://charts.helm.sh/stable
helm repo update
helm search repo -l kube-state-metrics
`
BTW: the version relationship seems like this:
![image](

[2020-12-24 03:13] #1331 closed

[2020-12-24 21:17] #1127 closed

[2020-12-26 08:49] wajika opened #1338 "clusterrole does not have permission to access resources?"
k8s version: v1.17.4

I’m a bit surprised, kube-state-metrics clusterRole already has permission, why the request is forbidden.
Do I need to increase the permissions of leases and ingresses?

[code]

[code]

[2020-12-26 20:03] #1187 closed

[2020-12-26 21:04] #1170 closed

[2020-12-28 04:35] #1189 closed

[2020-12-28 11:42] #1191 closed

[2020-12-29 00:09] anthosz commented on #1336
Last update:

I just switched to deployment via Prometheus helm chart: https://artifacthub.io/packages/helm/prometheus-community/prometheus and I have the same issue: unable to export kube_pod_container_resource* on pods outside kube-system namespace.

List via kube_pod_container_resource*:
![image](https://user-images.githubusercontent.com/14294064/103249741-f1649e00-4970-11eb-8479-32280545d60e.p

[2020-12-29 23:02] anthosz commented on #1336
Fixed. Related to #499

[2020-12-29 23:02] #1336 closed

[2020-12-30 14:05] wajika commented on #1338
I found that kube-prometheus carries kube-state-metrics, but my cluster has installed kube-state-metrics, and the role permissions of the two conflicts. I deleted kube-state-metrics in the cluster and it worked.

[2020-12-30 14:05] #1338 closed

[2021-01-01 23:37] kferrone commented on #1331
Why is this closed? The issue still persists . . .

[2021-01-02 23:39] matti opened #1340 "arm64 support"
[code]

runs `quay.io/coreos/kube-state-metrics:v1.9.7` which is not a `kubernetes.io/arch=arm64` compatible

[2021-01-04 12:51] lilic commented on #1340
Hello! We have added image support for all arch from v2.0.0 onwards, which is currently in beta, until then you need to build the images yourself for previous versions.

[2021-01-04 12:51] #1340 closed

[2021-01-04 13:06] lilic opened #1341 "Scale and perf testing for v2.0.0 release"
The last thing we have left for v2.0.0 release is to perform the scale and perf tests in case of any major regressions or bugs and also to determine the resources needed. https://github.com/kubernetes/kube-state-metrics#resource-recommendation

I spoke to the SIG scale team, see conversation [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-sig-scale/UHx_IS

[2021-01-04 13:51] lilic commented on #1269
I can see this metric so closing for now, if you cannot see it in newer versions feel free to reopen or open a new issue, thanks!

[2021-01-04 13:51] #1269 closed

[2021-01-04 16:48] ryan-dyer-sp opened #1342 "Helm Repo does not exist"
**What happened**:
The helm repo indicated by documentation does not exist.
[code]

**What you expected to happen**:
I found multiple existing issues and PRs around this problem but they all appear to be closed or merged.  They all appear to point to it being a CD issue.  Can someone please do the needful to get this fixed?

[2021-01-04 18:38] austinorth commented on #1342
For reference, here are the other issues that have since been closed erroneously are https://github.com/kubernetes/kube-state-metrics/issues/1331 and https://github.com/kubernetes/kube-state-metrics/issues/1337. This issue breaks some scripts I have written for setting up k8s development environments.

Looking at the commit history, it looks like @lilic or @scottrigby may be able to help with this

[2021-01-04 19:40] austinorth commented on #1342
For now, I have switched over to the Bitnami chart [here](https://github.com/bitnami/charts/tree/master/bitnami/kube-state-metrics) which works for my setup. May work as a temporary solution for you @ryan-dyer-sp

[2021-01-06 04:55] shotu commented on #1252
/close

[2021-01-06 04:55] #1252 closed

[2021-01-06 06:04] vsxen commented on #1321
ping @lilic

[2021-01-06 09:18] chrissng commented on #1342
Repo owners,

The Kubernetes user community at large depends on the great work done by the developer community. KSM is a critical aspect of any Kubernetes cluster and hence it is expected that the user community treats this repository as the source code as well as the **_official_** helm repository.

So to a certain degree there is urgency to set up the helm repository and make it available for pu

[2021-01-06 09:58] lilic commented on #1342
I am not a mantainer of the Helm chart so sadly cannot help here. @mrueg or @tariq1890 might be able to help better here.

[2021-01-06 10:05] brancz commented on #1342
Sorry, but neither @lilic or myself use helm at all. We accepted the helm chart files into this repo under the condition that someone that is not us maintains them. We are under no obligation to do so just because this promise was broken.

If @tariq1890 can't maintain it, and nobody steps up to do so, then we will be removing it. We'd love to work with Bitnami (or anyone else who would like to ste

[2021-01-06 12:33] mrueg commented on #1342
I am happy to help out here and continue maintaining it. @scottrigby has been helping out with setting up the chart in this repo. Currently, there are some issues with the prow integration on test-infra for gh-pages (see scott's comment here: https://github.com/kubernetes/kube-state-metrics/pull/1325#issuecomment-753517309). While work is being done to get the chart published, you can still use ht

[2021-01-06 12:35] lilic commented on #1342
A WIP is a good start, agreed! Would be great to have that and clarify the location of the current chart as well while you all resolve it, thanks!!

[2021-01-06 13:27] austinorth commented on #1342
Thank you all so much for the super quick responses! Really appreciate all of your hard work. 🤗 @mrueg if there's any way I can help too, let me know! Much love.

[2021-01-06 16:32] mrmartan commented on #1317
Although we are not using `kube-prometheus-stack` yet the linked #1343 would solve the self-metrics problem for us. We are using the [prometheus](https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus) chart.

[2021-01-07 14:39] lilic commented on #1321
@vsxen busy times, thanks for reping :)

Sorry to hear this metric is your top series count, this would be not correct approach as it means you can no longer reliably do ratios for example the following would just not return any results then:

`sum(kube_pod_container_status_waiting_reason{reason="ContainerCreating"})`

Hope that is what you meant, let me know if I misunderstood. You can always use

[2021-01-07 16:04] Drugoy commented on #1159
/remove-lifecycle stale

[2021-01-07 23:56] 2rs2ts commented on #530
/remove-lifecycle stale

[2021-01-08 13:32] lilic commented on #694
@bergerx I tried to reproduce on my cluster and asked our Red Hat OpenShift QE to try to reproduce but we have not had any luck so far. We also did not get any reports from our customers so far that I know of for this bug. Can you possibly provide with exact steps, this would make it easier to fix it. thanks!

Note to anyone in this issue, you are welcome to also give it a try in fixing this, PRs

[2021-01-10 21:12] scottrigby commented on #1342
#1347 is ready to be merged. Once the gh actions from merging that complete properly (it was able to push the `index.yaml` file), then we should be good to go on future chart PRs and can close this issue.

After that, we can merge #1335 to give users friendly info about the helm repo.

[2021-01-11 02:09] #1342 closed

[2021-01-12 09:37] PookiPok opened #1348 "kube-state-metrics-helm-chart-2.9.7 - yaml: control characters are not allowed"
when trying to use the kube-state-metrics-helm-chart-2.9.7  getting the follow error:
Error: failed to parse kube-state-metrics-2.9.7.tgz: error converting YAML to JSON: yaml: control characters are not allowed

is this a bug?
Gil

[2021-01-12 09:47] vdi-kakui opened #1349 "I want to get the usage rate value of persistent volume in the numerator / denominator format."
I want to get the usage rate value of persistent volume in the numerator / denominator format.

I want to get the usage value of persistent volume in prometheus in numerator / denominator format.

How can I get the metric by writing promql?

[2021-01-12 10:02] PookiPok commented on #1348
helm version Version:"v3.3.4", running on mac

[2021-01-12 12:19] vsxen commented on #1321
can I drop it in prometheus?
I search with google but nothing find.

[2021-01-12 15:00] lilic commented on #1321
I would suggest to use the flag provided above and this metric will not be even available to be scrapped. Otherwise, you can look at https://prometheus.io/docs/prometheus/latest/configuration/configuration/#metric_relabel_configs but just denying this metric would be better.

[2021-01-12 17:46] karthequian opened #1350 "Drift between Container Running StartedAt state and Pod Ready Time"
**What happened**:
I was looking at my kube-state-metrics pod for some timing information and noticed that my Pod Ready time shown in the Status was very different from the Container Ready Time shown in the Container status.

[code]

**What you expected to happen**:
I would expect that the container status for the kube-state-metrics pod that shows `2020-11-12T16:12:44+00:00` be something close to

[2021-01-12 23:18] vsxen commented on #1321
I had used metric_relabel_configs but do not work .Thank  you I will try `--metric-denylist` .close it.

[2021-01-13 07:16] vdi-kakui opened #1351 "I want to get the memory usage rate for each pod with prometheus."
I want to get the memory usage rate for each pod with prometheus.

However, kube-state-metrics can only get the denominator for each node.

Please let me know if you know the conditional expression to get the memory usage metrics with kube-state-metrics.

[2021-01-13 09:34] lilic commented on #1351
Hello, we have pod metrics https://github.com/kubernetes/kube-state-metrics/blob/master/docs/pod-metrics.md that include resource metrics including memory usage. I am not sure if you seen those or if you are referring to those or not?

In Kubernetes itself, there are more detailed resource metrics, but this is currently alpha feature, but if you need more details its worth having a look. https://g

[2021-01-13 09:41] lilic commented on #1349
Hello, these are not bugs :) there are more support questions, so please use that label next time, thanks! 🙇‍♀️

We have metrics around PV yes https://github.com/kubernetes/kube-state-metrics/blob/master/docs/persistentvolume-metrics.md but only around capacity, to me it sounds like you would need more detailed metrics this would be provided by the storage native metrics itself, for this best ask

[2021-01-13 09:42] lilic commented on #1350
Thanks for the issue! I have not noticed this myself but will try to reproduce. Just side note, I would reccomend to use 1.9.7 release as it included a couple of bug fixes, but don't think it would influence this.

[2021-01-13 21:25] karthequian commented on #1350
Thanks @lilic!

[2021-01-14 09:43] thomaspeitz commented on #1313
For anybody not able to get this working:
``` - --labels-metric-allow-list=nodes=[nameoflabel]``` works
``` - --labels-metric-allow-list=nodes=["nameoflabel"]``` won't work.

Took me longer than I wished to get it working.

Same here. Expected that the second one would work!

[2021-01-14 13:34] lilic commented on #1313
PRs are always welcome for either docs https://github.com/kubernetes/kube-state-metrics/pull/1279 or for adding new suggested way of doing it! 🎉

[2021-01-14 15:15] lilic commented on #1330
We do not have a helm chart for v2.0.0-beta. Not sure if its possible to add one, helm is not my area really. @mrueg do you know?

[2021-01-14 15:47] mrueg commented on #1330
@innovia we'll create one as soon as v2.0.0 proper is released.

[2021-01-14 18:20] innovia commented on #1330
Thanks @mrueg  i think that the table of compatibility

cause right now it says 1.18 -> v2-beta

I'm running the 1.x on 1.18 and its fine

[2021-01-15 08:59] lilic opened #1352 "Port the deps bumps from release-2.0 branch to master"
I recently(ish) bumped client-go and other deps in the release-2.0 branch but did not have a chance to port these changes to master as well. I believe this is a good first issue for new contributors.

This is the original PR that needs to be ported to master branch. https://github.com/kubernetes/kube-state-metrics/pull/1328 Note master branch does not have the vendor directory anymore.

[2021-01-15 14:11] mrueg opened #1353 "Add native TLS support"
**What would you like to be added**:
Kube-State-Metrics does not support TLS, which recently got added to e.g. node_exporter
**Why is this needed**:
Secure and authenticated communication
**Describe the solution you'd like**
There could be an easy way to use https://github.com/prometheus/exporter-toolkit to add support.

[2021-01-15 20:41] afrouzMashaykhi commented on #1352
Happy to contribute
/assign

[2021-01-16 10:50] JanKowalik commented on #1057
I have the same issue. However I can see that yaml from `kubectl get sts <name> -o yaml` has values under `status` section for `replicas`, ` readyReplicas`, `updatedReplicas` but **not** for `currentReplicas`. Any idea why and how to fix that?
Is it where metrics take it from?