[2021-01-16 13:04] mayankshah1607 commented on #1353
Hi, I'd like to work on this if no one is :)
Thanks

[2021-01-16 13:04] mayankshah1607 commented on #1353
/assign

[2021-01-18 09:07] johmicrot opened #1356 "More information requested in the documentation for metrics"
**What would you like to be added**:

It would be helpful if the metrics had a description and a unit associated to in their documentation like in the cadvisor documentation shown here https://github.com/google/cadvisor/blob/master/docs/storage/prometheus.md.  I'll specifically need it for Node Metrics, Pod Metrics, and Service Metrics.

**Why is this needed**:

To better understand the metrics th

[2021-01-18 09:22] JanKowalik commented on #1324
I have the same issue. However I can see that yaml from `kubectl get sts <name> -o yaml` has values under `status` section for `replicas`, ` readyReplicas`, `updatedReplicas` but **not** for `currentReplicas`. Any idea why and how to fix that?
Is it where metrics take it from?

[2021-01-18 11:29] AlexShemeshWix opened #1357 "Additional command line parameter for ksm pods deployed via helm chart (--enable-gzip-encoding)"
**What would you like to be added**: i want to be able to add --enable-gzip-encoding command line parameter for ksm deployed with Helm chart

**Why is this needed**: We have big cluster gzip will optimize network usage a bit

**Describe the solution you'd like**: i want extraArgs parameter in values.yaml that will be passed to ksm pod during deployment. So i can pass any parameters i want to

**Ad

[2021-01-18 13:52] mrueg commented on #1330
@innovia if you want to give v2.0.0 a try, this is a WIP for the helm chart: https://github.com/kubernetes/kube-state-metrics/pull/1358

kube-state-metrics v1.9.7 should be compatible with 1.18 and later.

[2021-01-18 15:58] marcoboffi opened #1359 "Add azure disk name to kube_persistentvolume_info"
**What would you like to be added**:
Similarly to _ebs_volume_id_ and _gce_persistent_disk_name_, it should be very userful adding azure disk volume name to kube_persistentvolume_info

**Why is this needed**:
Adding this attribute it's more simple match pv with corresponding azure object (and join metrics)

**Describe the solution you'd like**

**Additional context**

[2021-01-19 08:47] lilic opened #1360 "Port all alerting rules from docs to the kube-state-metrics mixin"
We have a lot of recommendations for alerting rules in our README, but not all are included in the alert mixin.

https://github.com/kubernetes/kube-state-metrics#kube-state-metrics-self-metrics

[2021-01-19 09:19] lilic commented on #1359
Sounds good to me, do you want to add it or do we want to mark this as help wanted?

[2021-01-19 09:26] lilic commented on #1356
Hey, that is a great idea, we use automation to generate these docs, do you want to add this change? Otherwise I will mark it as help wanted.

[2021-01-19 09:34] marcoboffi commented on #1359
help wanted, please.

[2021-01-19 09:40] lilic commented on #1357
I assume this is just for helm, and nothing needs to be on kube-state-metrics itself?

[2021-01-19 10:32] lilic commented on #569
/remove-lifecycle rotten

We are almost there 🎉

[2021-01-19 10:41] lilic commented on #1324
Yes, you are right, we take it from currentReplicas. https://github.com/kubernetes/kube-state-metrics/blob/eba9142028841d5181ce09836fb1e0c2cf54f90c/internal/store/statefulset.go#L84

[2021-01-19 14:00] QuentinBisson commented on #1359
/assign

[2021-01-20 18:47] #838 closed

[2021-01-21 09:20] johmicrot commented on #1356
It would be great if you can mark it as help wanted.

[2021-01-21 10:23] #1359 closed

[2021-01-22 13:41] harjas27 commented on #1324
I was able to reproduce this scenario where the current replicas is 0. I created a statefulset with `Update Strategy:    OnDelete` and 1 replica. Then I updated the image for the sts and manually deleted the pod.
I noticed that the `currentRevision` is not equal to `updateRevision`.
There is a condition in the code https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/statefulset/sta

[2021-01-22 16:19] sebbonnet opened #1363 "kube_pod_container_info image incorrectly represents the actual image used"
**What happened**:
`kube_pod_container_info` `image` label incorrectly represents the image the container is running on.

Given a 2 replicas deployment using `myregistry/test/my-image:v0.139.0` as the container image
`kube_pod_container_info` reports the wrong image for one of the pods
[code]

Using kubectl shows that the pod `.status.containerStatuses.image` has an image that is different than th

[2021-01-22 18:08] dgrisonnet commented on #1363
I wouldn't agree with that, `kube_pod_container_info` is a metric that exposes various metadata about a running container. The latest observed metadata for containers can be found under `.status.containerStatuses`, whereas `.spec.containers` reflects the desired state in which we want the container to be. IMO, we are more interested in knowing what is actually running in the cluster rather than wh

[2021-01-23 01:34] yashvardhan-kukreja commented on #1357
@lilic I would like to pick this issue up. I am new to kube-state-metrics and this issue seems like a nice place to start :)
Thanks!

[2021-01-23 01:34] yashvardhan-kukreja commented on #1357
/assign

[2021-01-23 02:42] yashvardhan-kukreja commented on #1286
@panhaitao I tried to reproduce this issue by installing kube-state-metrics using helm.
But it worked perfectly fine for me.
I'd suggest you to install kube-state-metrics via helm (ideally it shouldn't differ) and see if the kube_pod_completion_time metrics for you are still unavailable.

**This is the ouput I received**
[code]

[2021-01-23 05:57] mayankshah1607 commented on #1352
Hey, @afrouzMashaykhi
Are you still working on this one? I'd like to take it up if not :)
Thanks

[2021-01-23 06:05] afrouzMashaykhi commented on #1352
Hey @mayankshah1607 yeah I'm working on it😅

[2021-01-23 15:54] #1212 closed

[2021-01-24 16:28] JESWINKNINAN commented on #1356
@lilic Can you please assign this task to me if it is not yet assigned?

[2021-01-25 07:48] #1353 closed

[2021-01-25 08:18] lilic commented on #1356
Thanks @JESWINKNINAN let me know if anything is not clear before you start working! :)

[2021-01-25 08:28] JESWINKNINAN commented on #1356
@lilic Thank you,  Have one question regarding the same. You have said that it should be automatically created and please let me know if you are refering a particalar flow and any clients to be used?

[2021-01-25 08:40] lilic commented on #1357
Thank you! 🎉

[2021-01-25 08:43] lilic commented on #1356
If at all possible ideally, we would not be importing new dependencies or tooling. We already generate a bunch of things in the project, so would be good to explore if those can be reused here.

You can start by looking at the `make generate` command and the `doccheck`, it just generates and also validates various markdown files. If its too hard to do it with existing tools feel free to comment on

[2021-01-25 09:24] mrueg commented on #1352
@afrouzMashaykhi thanks for working on it! Feel free to ping in #kube-state-metrics on slack, if there's anything I can assist with.

[2021-01-25 09:39] lilic commented on #1210
/remove-lifecycle stale

I believe this is still valid. @mrueg do you want me to label this as help wanted or do you want to tackle the proposal part yourself? Thanks!

[2021-01-25 10:43] lilic commented on #1286
@yashvardhan-kukreja hello, installing via helm vs regular manifests should not make a difference here. I have no issues and I do not use helm. :)

[2021-01-25 10:50] JESWINKNINAN commented on #1356
@lilic okay cool :)

[2021-01-25 11:13] lilic commented on #1363
Thanks Damien!

@sebbonnet can you share your full output of get pods -oyaml where you think the problem is. So we can see the content of the other status fields. Thanks!

[2021-01-25 11:16] lilic commented on #1324
Thanks @harjas27 for that! What is your suggestion for the fix if any?

[2021-01-25 13:15] MMeent commented on #1246
/remove-lifecycle stale
Please. Currently, labels are effectively unusable for any amount of labeled resources due to the lack of wildcards/blanket whitelisting abilities.

[2021-01-25 13:18] sebbonnet commented on #1363
@dgrisonnet to be honest this was my initial reaction too, but I thought I'd raise this issue anyway to raise awareness and check if there is another way to solve this. Perhaps you have plans on exposing the container specs even though I can't really see what may be useful except from perhaps knowing which container have special securityContext requirements.

@lilic here is the yaml output for bot

[2021-01-26 10:51] ofen opened #1366 "Support for ingress status hostname"
It would be great to have ability to collect metrics of ingress status from **status.loadBalancer.ingress[]** for ALB loadbalancer hostnames:
[code]

[2021-01-27 03:53] JESWINKNINAN commented on #1366
@lilic  Can you please review this and assign the task to me if it is required

[2021-01-27 07:34] lou-lan opened #1368 "Helm chart not create ClusterRole"
**What happened**:

I run command:
[code]

log
[code]

**What you expected to happen**:

The cluster role should be created

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- kube-state-metrics version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Other info:

[2021-01-27 07:49] lou-lan commented on #1368
/assign

[2021-01-27 14:01] #1368 closed

[2021-01-27 17:30] smarterclayton commented on #1321
On a moderate sized production cluster, the various "kube_pod_*_container_*_reason" metrics are roughly 200k total series (out of 2.1m, so ~10%) and only around 10k of those series are value 1 (there can be only one reason).

Reason is a fairly useful metric, but having `O(pods * reasons * containers_per_pod * states_per_pod)` cardinality is rough.  Is there a reason the 0  value is returned other

[2021-01-27 23:27] #1357 closed

[2021-01-28 06:54] panhaitao commented on #1286
Thank you for you replay!  could show me the k8s cluster version ?
I try many times in last year Oct，still get the empty  value,   I will try again in my cluster at this weekend，may be a The wrong usage  for myself～

[2021-01-28 13:13] vsxen commented on #1321
reopen it ?

[2021-01-28 14:11] bhiravabhatla commented on #1241
We saw this error as well, was not getting newly created VPA metrics.

`
W0128 13:59:37.331082       1 reflector.go:340] pkg/mod/k8s.io/client-go@v0.0.0-20191109102209-3c0d1af94be5/tools/cache/reflector.go:108: watch of *v1beta2.VerticalPodAutoscaler ended with: an error on the server ("unable to decode an event from the watch stream: got short buffer with n=0, base=9644, cap=40960") has prevented

[2021-01-28 14:18] bhiravabhatla commented on #1241
I can confirm that this is happening whenever a new VPA is added. If we restart the kube-state-metrics its able to pick up the new VPA. I suspect something is wrong with the watcher for VPA

[2021-01-28 17:04] smarterclayton commented on #1321
Lili's out - when she gets back I want to have her think through it before we re-open.  I'm fine waiting for that until she gets a chance.

[2021-01-29 17:38] kareem613 opened #1370 "kube_pod_info (and many other) metrics missing"
**What happened**:
First time setting it up. Seeing metrics at the `/metrics` endpoint.
Missing a bunch of other expected ones like `kube_pod_info` and `kube_node_status_allocatable`
No errors in the logs.

**What you expected to happen**:
All metrics from [here being logged](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/pod-metrics.md)

**How to reproduce it (as minimally and

[2021-01-30 22:49] yashvardhan-kukreja commented on #1286
@panhaitao I tested this on a toy cluster I set up on KinD. It was using v1.19.1 of kubernetes

[2021-01-31 10:47] AlexShemeshWix opened #1371 "Metric encoding is broken when using --enable-gzip-encoding flag."
**What happened**: Ive enabled gzip compression for kube-state-metrics using extraArgs param in helm chatr  (--enable-gzip-encoding)

**What you expected to happen**: i expect metrics to be compressed but accessible

**How to reproduce it (as minimally and precisely as possible)**: Deploy latest kube-state-metrics chart 2.11.0 with extraAgrs that contains --enable-gzip-encoding param. Wait till ku

[2021-02-01 02:57] lou-lan commented on #1371
It looks like the curl command can be accessed successfully, but the browser or Prometheus access fails

[2021-02-01 02:59] lou-lan commented on #1371
I will try to find the cause of the problem.

[2021-02-01 03:13] lou-lan commented on #1371
/assign

[2021-02-01 08:30] lilic commented on #1321
@smarterclayton as mentioned above, we could not do ratios reliable, hence the need for the 0 values.

Yes, this could be an issue if the metric is needed. We have two options from what I can see:
1. either change the original suggestion to skip value is 0, but this would prove a problem when trying to do `sum` operations.
2. or we can as @simonpasquier suggested adding the reason as a label inste

[2021-02-01 09:09] #1317 closed

[2021-02-01 10:44] lilic commented on #1286
I also see the metrics on my OpenShift cluster using an older Kubernetes version and kube-state-metrics 1.9.7. But the difference here @yashvardhan-kukreja might be that the reporter is using a newer version of kube-state-metrics, have you tried to reproduce with that one?

@panhaitao can you see other metrics? And can you confirm if there are any terminated pods on your cluster? Thank you!

[2021-02-01 12:03] lilic opened #1373 "docs: Add automation for metric doc generation"
**What would you like to be added**:

Currently, our docs are manually written, and some parts are validated as part of the CI steps. But we want to end up with a fully automated way of generating all the _metrics.md in the [docs](https://github.com/kubernetes/kube-state-metrics/tree/master/docs) dir.

**Why is this needed**:

Make our and contributor's lives easier, and end-users have better docs

[2021-02-01 12:04] lilic commented on #1373
cc @JESWINKNINAN for your information opened the issue, let me know if something is not clear. Thanks again!

[2021-02-01 13:12] lilic commented on #1370
Hey, thanks for the issue! 1.17 is not fully compatible with v2.0, but you should be able to see the pod metrics, can't think of those not being compatible. In my cluster, I am running kube-state-metrics v2.0.0-beta and I can see these metrics that you mention you are missing. Note I do have a cluster of k8s v1.20.1 on scaleaway.

Can you provide the following:
- exact version of kube-state-metric

[2021-02-01 13:19] #1356 closed

[2021-02-01 13:36] JESWINKNINAN commented on #1373
/assign @JESWINKNINAN

[2021-02-01 13:39] lilic commented on #1241
@bhiravabhatla have you followed the docs on this? https://github.com/kubernetes/kube-state-metrics#enabling-verticalpodautoscalers

[2021-02-01 13:47] lilic commented on #1366
@ofen thanks for the feature request! Note we support `networking.k8s.io/v1` ingress resource from v2.0 which is coming up and in which this feature would be included.

Have you seen the metric `kube_service_status_load_balancer_ingress`, it provides the hostname, would this be enough for you or do you need it tied to ingress object? https://github.com/kubernetes/kube-state-metrics/blob/fb48293a40

[2021-02-01 14:29] smarterclayton commented on #1321
The tough issue with ratios and sums is that if we really needed them we could join on any number of other metrics or totals (count of containers, count of states) equally well (fold all of that into a pod container total).  A lot of interesting metrics today are `O(pods)`, but could be `O(failing pods)` or `O(features)`.  We seem to be increasing the number of interesting metrics quickly - if we

[2021-02-01 16:50] kareem613 commented on #1370
release 2.0 branch. commit `2e356cdf18b1db06ef1fa9a63dde1768c53ff6c8`
manifest is the one from `examples/standard`
Here's the output from the `/metrics` endpoint.
https://gist.github.com/kareem613/adf5f12c013a0e4519b6448cdbda091f

[2021-02-01 17:11] ofen commented on #1366
`kube_service_status_load_balancer_ingress` is empty in our case. Looks like its provide loadbalancer endpoint only if its described via service's EXTERNAL-IP.

[2021-02-01 17:16] lilic commented on #1370
Ah, that is the self (telemetry) metrics endpoint, you need to look at the other one for the metrics. You need to scrape or view the 8080 port https://github.com/kubernetes/kube-state-metrics/blob/master/examples/standard/deployment.yaml#L30-L31 Let me know if it works for you after checking the 8080/metrics.

[2021-02-01 17:20] kareem613 commented on #1370
Perfect. I see them on 8080. That clarifies things. Now to figure out how to get the grafana cloud agent to scrape those.
Thanks!

[2021-02-02 10:46] lilic commented on #1370
Hah that is more of a question for grafana folks so closing this. :)

[2021-02-02 10:46] #1370 closed

[2021-02-03 09:25] costimuraru opened #1374 "Allow for namespace flag to be passed as a list"
**What would you like to be added**:
Currently, the namespace flag can be passed as a comma separated string.
`namespace: 'ns1,ns2,ns3'`
To make things consistent with the other charts, it would be helpful to be able to also pass it as a list:
[code]
Prometheus chart accepts a list:
https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml#L1281

**Why

[2021-02-03 19:00] jenkinsmasterawssantex opened #1376 "running helm install show fail applying role.yaml"
running command:
helm install   kube-state-metrics/kube-state-metrics -f values.yaml
fail:
Error: parse error in "kube-state-metrics/templates/role.yaml": template: kube-state-metrics/templates/role.yaml:1: illegal number syntax: "-"

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- kube-sta

[2021-02-05 10:40] lilic commented on #1366
Got it makes sense, then I have no problems with having this as long as the new metric does not produce an unbound number of series, judging by this it would be the number of ingress and hostname objects correct?

[2021-02-05 12:22] Mepemotrarial commented on #941
What is the status of this issue? I have exactly the same use-case as @calexandre (only for cron jobs).

[2021-02-07 07:03] afrouzMashaykhi commented on #1352
hey @mayankshah1607 !
Sorry for the long pause I can't figure out the process of the issue. so could you work on it?

[2021-02-07 08:05] isurusiri commented on #1360
Hey there, I'd like to work on this issue.

If I understood the requirement of this correctly, we want to include kube-state-metrics-self-metrics in the alert mixin. Currently I noticed there are two such alerts exist in alert mixin under `kube-state-metrics/jsonnet/kube-state-metrics-mixin` , which are,

- errors in list operations, using `kube_state_metrics_list_total`
- errors in watch operatio

[2021-02-07 10:31] mayankshah1607 commented on #1352
Sure, no worries @afrouzMashaykhi :)

[2021-02-07 10:31] mayankshah1607 commented on #1352
/assign

[2021-02-08 03:03] panhaitao commented on #1286
Thanks very much for erveyone !!! @lilic @yashvardhan-kukreja  @gnufied  @ncdc

I retry it in k8s cluster  with  kube-state-metrics:v2.0.0-beta, I can get the  kube_pod_completion_time Now ,

ENV:
kube-state-metrics:v2.0.0-beta
Kubernetes version v1.17.4
node os CentOS 7.6

Result:

[root@10-10-69-26 Kube-state-metrics-standard]# curl http://172.17.12.2:8080/metrics | grep kube_pod_completion
# TY

[2021-02-08 08:35] lilic commented on #1286
Yay happy to hear there is no bug in latest version, thanks for your report! Closing issue, if you have any other ones in the future please open a new one. 🎉

[2021-02-08 08:35] #1286 closed

[2021-02-08 13:09] #1219 closed

[2021-02-08 15:55] #1374 closed

[2021-02-08 19:59] Bessonov commented on #611
/remove-lifecycle stale

[2021-02-09 08:26] aclowkey opened #1380 "Metrics about removed node still exported"
**What happened**:
Metrics still appear after a node has been removed from the cluster.
The metric is
`kube_node_status_condition{condition="Ready",...,node="kubeX", status="true"} 0`
Kubectl has no result for this node, and it's no even alive.

**What you expected to happen**:
Those metrics shouldn't appear.

**How to reproduce it (as minimally and precisely as possible)**:
I haven't tried it in

[2021-02-10 15:14] moweiraul opened #1382 "Can this component now support v1.20 clusters?"
I see that the latest beta version of v2.0.0-beta only shows support to kubernetes V1.19. When will this component support kubernetes V1.20?

[2021-02-10 18:04] r0bj commented on #1166
/remove-lifecycle stale

[2021-02-11 01:39] bergerx commented on #694
I started to think this issue to be mainly happening on to hosted Kubernetes services like AKS and EKS. There are many here using it without any issue, and there is another set of users who are repeatedly experiencing issues.

Also see this weird issue stops suddenly stopping for some set of users in a python implementation.
https://github.com/kiwigrid/k8s-sidecar/issues/85

Maybe the issue is lyi

[2021-02-11 01:46] bergerx commented on #694
Actually lets do a quick poll among AKS/EKS users, can you vote this entry with:
* **upvote** (:+1: ) if you are **experiencing** issue on AKS/EKS
* **downvote** (:-1: ) if you are **not experincing** this issue on AKS/EKS

[2021-02-11 16:49] harjas27 commented on #1324
@lilic as per this of currentReplicas(https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/types.go#L177)
[code]
since the revision of the pods will not be equal to currentRevision, currentReplicas is 0. This is expected behaviour then

[2021-02-13 14:07] #1228 closed

[2021-02-14 13:32] olivierlemasle commented on #875
/remove-lifecycle rotten

[2021-02-15 10:02] lilic commented on #1382
Hey, the changes for the update have not been brought into master, but you can see in the release branch we do support 1.20 k8s version. https://github.com/kubernetes/kube-state-metrics/tree/release-2.0#compatibility-matrix

[2021-02-15 10:03] lilic commented on #1352
@mayankshah1607 do you have any questions regarding this issue? It should be just the need to cherry-pick the patches maybe run a generate. Let me know if you have questions? Lets also not forgot to update the docs as we got issues for this https://github.com/kubernetes/kube-state-metrics/issues/1382 Thank you!

[2021-02-15 11:19] moweiraul commented on #1382
Thanks for answering this question. This table should be updated recently. I remember that when I raised this issue, the latest one was only 1.19.

[2021-02-15 11:19] #1382 closed

[2021-02-15 12:33] lilic commented on #1380
@aclowkey but the value is 0 not 1, can you explain a bit what you expected to see? Did you mean that series should stop existing after the node goes away?

[2021-02-16 08:34] aclowkey commented on #1380
@lilic Exactly. I would expect it to stop exporting.

[2021-02-18 12:56] brancz commented on #1351
Kubernetes also exposes per container metrics via cAdvisor.

I'll close this due to inactivity and two answers. Feel free to continue to comment should you have more questions!

[2021-02-18 12:56] #1351 closed

[2021-02-18 12:57] brancz commented on #1349
The kubelet's `/metrics` endpoint exposes volume usage metrics.

Closing, but feel free to continue to ask questions should you have any.

[2021-02-18 12:57] #1349 closed

[2021-02-21 09:26] mayankshah1607 commented on #1352
Hi @lilic , apologies for the delay in response. Please take a look at #1388. Thanks!

[2021-02-21 09:26] mayankshah1607 commented on #1352
/assign

[2021-02-21 14:01] yfried opened #1389 ""Evicted" pods don't register metrics"
**What happened**:
I have many pods with Evicted state:
[code]

But no metric with `reason=Evicted`. The following query returns empty for the last week
[code]
**What you expected to happen**:
I expected the above query to return with metrics of the evicted pods.
**How to reproduce it (as minimally and precisely as possible)**:
Check that evicted nodes exist and then query prometheus as mentioned

[2021-02-22 12:49] brancz commented on #1389
Which metric did you expect to be there but wasn't?

[2021-02-22 16:45] mindw commented on #1295
/remove-lifecycle stale

[2021-02-22 17:56] andreihagiescu-db commented on #694
@bergerx Found an issue that manifests only when the sharded implementation is used (see #1390 ). This could explain why only a subset of the users see this.

[2021-02-23 07:03] lilic commented on #1341
Opps closed too early. There are two things left to do. The initial code to capture the measurements has been merged in https://github.com/kubernetes/perf-tests/pull/1684. We need to add the following two things:
- PR against perf-tests for enabling (in a gated way) KSM in our prometheus stack.
- PR against perf-tests extending the load test to enable the measurement (also gated).

See more detail

[2021-02-23 12:26] paulfantom opened #1392 "Decouple helm chart releases from application release stream"
**What happened**:
Repository is constantly spamming about new version updates of helm chart and not the application.

**What you expected to happen**:
I expect to have a notification when a new version of the **application** comes out and not of some opinionated contrib part in form of a helm chart.

**How to reproduce it (as minimally and precisely as possible)**:
Just go to https://github.com/k

[2021-02-23 12:28] lilic commented on #1392
Thanks, I agree its very spammy for me as well, as someone who does not use helm.

@tariq1890 think you mentioned that something can be done around this from helm? Would this solve the spammy issue?

cc @mrueg @brancz

[2021-02-23 12:28] paulfantom commented on #1392
Note: this is only about releases, not tags.

[2021-02-23 14:50] mrueg commented on #1392
I think charts might require releases as there is an asset generated by the github action and I am not aware that this can be added to a tag.

Chart releases are easily identifiable by a common prefix, maybe as a short-term solution filtering on the client-side is possible?

[2021-02-23 16:02] roobre opened #1393 "kube_service_info{load_balancer_ip} is empty for LoadBalancerServices"
**What happened**: The `load_balancer_ip` label for the `kube_service_info` metric is always returned empty, regardless of the actual IP assigned to Services of type LoadBalancer (which actually have an IP)

[code]

**What you expected to happen**: `load_balancer_ip` to either have the proper value or to be removed (see below)

**How to reproduce it (as minimally and precisely as possible)**: Repr

[2021-02-23 16:03] roobre commented on #1393
It is unclear to me whether this is an implementation bug, that is, `kube_service_info{load_balancer_ip}` should work; or whether I should be using `kube_service_status_load_balancer_ingress{ip}` instead. Any advice regarding this is greatly appreciated!

[2021-02-23 16:09] brancz commented on #1392
I agree, it makes up the vast majority of notifications of this repo for me now even though I don't use or work on the helm parts. I'd also appreciate if we could have a way where this wasn't the case.

[2021-02-23 17:04] paulfantom commented on #1392
A short-term fix was to exclude ksm from the updater. We need a proper fix for this and not a hacky workaround, automation aside, spamming people notifications is not OK. And if your automation requires spamming people, then it is just wrong.

[2021-02-24 00:05] tozka opened #1394 "Add container termination message metric"
**What would you like to be added**:

As we have those message for terminated.reason can we add similar for termination message

kube_pod_container_status_last_terminated_message
kube_pod_container_status_terminated_message
kube_pod_init_container_status_last_terminated_message
kube_pod_init_container_status_terminated_message

**Why is this needed**:

This will provide a way for clients to basica

[2021-02-24 00:07] tozka commented on #1394
In similar vain we can create similar metric for kube_pod_container_status_terminated_exit_code . It can be gauge where the value is the actual exit code. That would allow users to generate metrics from the pod - e.g different application errors that can trigger different type of alerting in AlertManager/Prometheus.

Should I open a separate issue for this?

[2021-02-24 05:58] mpritter76 opened #1395 "Add a new metric for HorizontalPodAutoscalar metrics with scaleTargetRef values"
**What would you like to be added**:
A new metric that would provide reference details for HPA's.

**Why is this needed**:
Like the kube_horizontalpodautoscaler_labels metric that simply provides label details for the HPA, this new metric would provide data about the HPA spec.scaleTargetRef

**Describe the solution you'd like**
Example HPA YAML:
[code]

Possible NEW Metric:
[code]

[2021-02-24 09:32] brancz commented on #1392
I agree. Clearly for everyone who regularly interacts with this repo, this is problematic. @tariq1890 @mrueg @scottrigby the agreement of including helm in this repo was that it would not negatively affect maintenance of non-helm parts, which this shows was not successful.

I would really appreciate if we could get some proposals going on how to solve this, otherwise I think we're going to need to

[2021-02-24 09:38] brancz commented on #1394
cc @lilic I think we are just about to remove similar metrics because they created extreme amounts of cardinality, right?

[2021-02-24 09:40] brancz commented on #1395
I'm curious, this tends to not change throughout the lifetime of an HPA object right? In that case I think this is probably best to be part of an info metric (interestingly HPA appears to be one of the few objects that we don't have an info metric for yet, so I think really all that changes from your proposal is the metric name to be `kube_horizontalpodautoscaler_info`).

[2021-02-24 10:35] mrueg commented on #1392
Here are the options that I see:
* Publish helm charts as a pre-release (which should not update the latest endpoint)
* Client-side Filtering on /releases endpoint instead of /releases/latest and pipe to e.g. `jq '.[] | select( .tag_name|test("v."))|.tag_name'`
* Tie helm chart releases to kube-state-metrics releases (this might make helm contributors/users unhappy if the release cadence on kube-s

[2021-02-24 10:46] paulfantom commented on #1392
GitHub already solved it by implementing `/releases/latest`. Doing such filtration on the client-side is reinventing the wheel.

They already did that in some way as we can set different channels for notifications:
- Participating and mentions
- All activity
- Ignore
- Custom/Issues
- Custom/Pull Requests
- Custom/Discussions
- Custom/Releases

The thing is, the current automation is spamming the

[2021-02-24 11:52] yfried commented on #1389
@brancz All `{job="kube-state-metrics", reason="Evicted"}` metrics are `0` even though there are eviction events

[2021-02-24 14:20] jpenekusu opened #1396 "Request for pod memory and CPU usage metrics"
**What would you like to be added**:
pod memory and CPU metrics
**Why is this needed**:
It allow to gather these metrics without puting any exporter in the pod
**Describe the solution you'd like**
kube-state-metrics should get these metrics in some way from K8S
**Additional context**
In some uses cases, you don't need to install an exporter in your pods. But you need memory and CPU usage metrics

[2021-02-24 15:44] mpritter76 commented on #1395
@brancz That was also my first thought but then as I was looking at the other metrics provided related to the spec and decided to follow that same pattern. Honestly, given the pattern for info also exists, I could go either way on the name. The data itself is whats useful.

[2021-02-24 16:22] lilic opened #1398 "Bump go version in CI to 1.16+"
It seems that go 1.16 introduced some changes that made our modules test fail, see https://github.com/kubernetes/kube-state-metrics/pull/1397. That PR as a workaround pinned to 1.15 version. We should pin to go 1.16+ and fix any issues that made that job fail.

**Result: **

Our CI uses go 1.16+.

[2021-02-24 16:36] brancz commented on #1395
I would prefer `kube_horizontalpodautoscaler_info` with the `scaletargetref_api_version`, `scaletargetref_kind` and `scaletargetref_name` labels. Would you like to contribute this?

[2021-02-24 16:44] mpritter76 commented on #1395
@brancz I'll reach out to one of my peers who knows golang a little better than myself.

[2021-02-24 23:20] tozka commented on #1394
@brancz  Thanks for answering.

That make sense. Cardinality is always an issue in similar time series databases. But isn't there a safe way to add it. I think I saw effort about annotations (e.g https://github.com/kubernetes/kube-state-metrics/pull/1041) though it seems to have fizzle out.

What about kube_pod_container_status_terminated_exit_code ? This won't generate any extra labels since the

[2021-02-25 05:08] tariq1890 commented on #1392
@paulfantom can you retitle this issue? I understand that a huge uptick in release notifications that arent so useful to one can be frustrating, but this is certainly not "spam" to the users of helm charts. However, having said that, I do agree that it is too much to have a release sent out for every commit.

I propose the following. If we are to continue to maintain (some of the maintainers) the

[2021-02-25 05:12] tariq1890 commented on #1392
I had already discussed this idea with @lilic and @mrueg before. We can go forward this strategy v2.0 on wards.

This might mean cutting a release which may include only helm chart changes given that the helm charts see more activity in general than the application. But I think this won't be too much of an issue as we wont be too frequent with our releases either.

Does this sound acceptable to yo

[2021-02-25 06:31] lou-lan commented on #1398
[code]

[2021-02-25 09:03] brancz commented on #1394
It's more because this metric creates `O(container)` additional metrics on every cluster, which is why we're very cautious to add any new metrics that report on a per container basis.

[2021-02-25 09:08] brancz commented on #1392
I get the sentiment @tariq1890, but to the extend that it happens right now, I also classify it as spam, there is nothing valuable for a human to get this notification.

I think I'm willing to try to only have releases on the same "schedule" as the binary (as in the very same release). We can re-evaluate a few months into trying that approach then to see if it had the effect we wanted.

Could you

[2021-02-25 09:27] paulfantom commented on #1392
Via Merriam-Webster dictionary:

I subscribed to notifications about releases of the application in this repository, but I get helm chart releases in those notifications. Hence for me, this is an unsolicited message and from my perspective (and clearly not only my) this is spam.

That said, I changed the title.

[2021-02-25 10:16] lilic commented on #1392
+1 on this, lets give it a try, sooner rather than later. Because if I disable notifications from this repo I can't really do my job as a maintainer correctly and we will end up missing a lot of notifications this way. Thank you all!

[2021-02-25 17:04] tariq1890 commented on #1392
@paulfantom @brancz, I understand that and I do sympathise. But what I am trying to say is that it isn't "spam" for a good chunk of users who use these helm charts. Also not justifying the volume of release notifications either. That definitely needs to be addressed and I say that as a helm user myself. We are on the same page there.

Great! So we can move forward with this plan.

Definitely! So t

[2021-02-25 18:55] superawesome7070 commented on #1220
Hi there! Any updates on this? I'm about to update my K8s from 1.16 to 1.17. I'm currently running v1.9.7 of kube-state-metrics. Do I need to update kube-state-metrics as well? Or can I keep using v1.9.7? Thanks.

@lilic @brancz

[2021-03-01 10:55] AlexShemeshWix commented on #1371
Any updates?

[2021-03-01 13:59] lou-lan commented on #1371
Already merged into rc2 branch

[2021-03-02 08:44] amuraru opened #1401 "[helm-chart] Per namespace deployment/sts"
**What would you like to be added**:

In environments where only namespaced resources are monitored via kube-state-metrics it would be useful to have an optional parameter in helm chart to configure whether a single or multiple Deployments/StatefulSets of ksm is deployed.
When "namespace sharding" is enabled a separate ksm deployment is created for each namespace.

**Why is this needed**:
Sharding

[2021-03-02 15:10] lilic commented on #1398
Thank you @lou-lan! 🎉

[2021-03-02 15:12] lilic commented on #1396
@jpenekusu can you explain a bit more what kind of metrics you are looking for, we already have pod resource metrics in both Kubernetes as well as in kube-state-metrics.

[2021-03-05 02:20] c002910 commented on #1330
This seems to be a bug in v2.0.0-beta, I've deployed it from master branch into my AKS v1.18.14

E0305 02:13:31.893146       1 reflector.go:127] k8s.io/kube-state-metrics/internal/store/builder.go:358: Failed to watch *v1.Ingress: failed to list *v1.Ingress: the server could not find the requested resource
E0305 02:13:50.054439       1 reflector.go:127] k8s.io/kube-state-metrics/internal/store/bui

[2021-03-05 08:00] lilic commented on #1330
@c002910 I think you need to look at this note in our README https://github.com/kubernetes/kube-state-metrics#compatibility-matrix

[2021-03-05 22:55] DazWilkin opened #1408 "Improve (!?) documentation for enabling VerticalPodAutoscaler"
**What happened**:

It took me more time than I would have liked to understand how to enable `VerticalPodAutoscaler` metrics.

The documentation [hints](https://github.com/kubernetes/kube-state-metrics#enabling-verticalpodautoscalers) at the solution but would benefit from an additional explanation for running `kube-state-metrics` with `--resource=${RESOURCES},verticalpodautoscalers`.

**What you

[2021-03-06 01:19] dghubble opened #1409 "Quay image for v2.0.0-rc.0 not published yet?"
Friendly note that https://quay.io/repository/coreos/kube-state-metrics?tag=latest&tab=tags has v2.0.0-beta, but seems to be missing a v2.0.0-rc.0 image to match the [v2.0.0-rc.0](https://github.com/kubernetes/kube-state-metrics/releases/tag/v2.0.0-rc.0) release? cc @lilic

[2021-03-08 09:58] fischerman commented on #303
@brancz I just had a look at the Prometheus operator and I could only find metrics related to the operator but not individual custom resources. Were they removed at some point?

[2021-03-10 08:50] lilic commented on #1409
Hey @dghubble 👋  we are stopping the quay image publishing for 2.0 onwards, and only doing gcr images from now on, as really I am the only one left who has access to the quay coreos push. :) The gcr images are available [here](https://github.com/kubernetes/kube-state-metrics#container-image).

With that said maybe I should have mentioned it more in the release notes, my bad there. Will publish the

[2021-03-10 08:51] lilic commented on #1408
Hello 👋 would be great to contribute this to our docs! Feel free to open a PR to help others, folks tend to not look at issues as much. :)

[2021-03-10 08:57] lilic commented on #1409
Okay, pushed the image, should be available on quay.io/coreos/kube-state-metrics:v2.0.0-rc.0. Let me know if you need the quay images to stay for longer and curious if you had any issues with v2.0 so far? :)

[2021-03-10 09:02] lilic commented on #1408
As for

Maybe it would better fit into the https://github.com/prometheus-operator/kube-prometheus/ docs?

[2021-03-11 18:45] dghubble commented on #1409
Oh, I'm happy to switch to the gcr ones, I just missed the news. Thanks Lili!

[2021-03-11 18:45] #1409 closed

[2021-03-12 08:40] #1408 closed

[2021-03-12 11:40] #1257 closed

[2021-03-12 11:40] #1258 closed

[2021-03-12 13:09] qisikai opened #1411 "`--labels-allow-list` does not work"
**What happened**:
`--labels-allow-list` does not work

I clone the master branch, then build a binary. And I run with follow params:
[code]

But I got:
[code]

**What you expected to happen**:
I want to get labels of nodes in k8s cluster

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
None

**Environment**:
- kube-state-metrics versio

[2021-03-13 11:45] harjas27 commented on #1393
As per https://kubernetes.io/docs/concepts/services-networking/service/#loadbalancer, you can specify the `loadBalancerIP ` for a service.
`kube_service_info` uses this value of `loadBalancerIP ` specified in the `spec` of the service in the `load_balancer_ip` label. If it is not specified, the value of the label is empty. However `kube_service_status_load_balancer_ingress`, uses the `.status.load

[2021-03-15 09:04] lilic commented on #1299
Hey, this still sounds like a good feature request. Do you want to work on it?

[2021-03-15 09:14] lilic commented on #1411
Hello 👋 The flag name changed and it's called `--labels-metric-allow-list` see the help text for it by doing `--help` on the binary, the names should also be how they appear in the Kubernetes resource originally. Let me know if that works for you!

[code]

[2021-03-15 14:23] roobre commented on #1393
Many thanks for the explanation @harjas27, this actually makes sense!

[2021-03-15 21:40] Drugoy opened #1413 "ksm doesn't report any metrics at all if it lacks rights for just 1 subject namespace"
**What happened**: ksm doesn't report any metrics at all if just 1 namespace from the list of specified ones is not available.

**What you expected to happen**: ksm should return metrics for the k8s objects from other namespaces (where it has access to).

**How to reproduce it (as minimally and precisely as possible)**: have arg '--namespaces=project1,project2' but give access only to ksm's Servic

[2021-03-16 07:00] bmy4415 opened #1414 "kube-state-metrics does not some metrics"
**What happened**:
According to my understanding, kube-state-metrics should collect metrics through all namespaces. But after querying to prometheus, I found that some metrics are skipped.

The docs says that default value of `namespaces` argument is "" which means all namespaces.

**What you expected to happen**:
kube-state-metrics exposes all metrics from all namespaces.

**How to reproduce it (

[2021-03-16 08:57] lilic commented on #1414
@bmy4415 hello 👋  I would suggest to really upgrade the version of kube-state-metrics to either the latest release candidate or at least v1.9.x.

With that said can you share the ClusterRole and ClusterRoleBinding for this deployment? Thanks!

[2021-03-16 09:02] lilic commented on #1413
Hello 👋  Is this the kube-state-metrics in OpenShift you are talking about or are you deploying one manually? If manually can you share the deployments manifests and which one you used? FYI the manifests in this repo are just examples so you have to customize them if you need something specific.

[2021-03-16 12:21] Drugoy commented on #1413
Hi, Lili!
Manual deploy via image quay.io/coreos/kube-state-metrics:v1.9.8 (link to it was taken from <a href="https://github.com/kubernetes/kube-state-metrics/releases/tag/v1.9.8">here</a>).

Manifests are really irrelevant here, because they don't even specify which custom ServiceAccount to use, so the default one `default` is used.

The only part that may be relevant here is `spec.containers.[0

[2021-03-16 16:26] lilic commented on #875
@olivierlemasle is there a PR I missed for this that needs reviews, let me know! :)

[2021-03-17 00:05] aldudko opened #1415 "An option to add Kuberntes labels as Prometheus labels to metrics"
**What would you like to be added**:

To be able to add allow-listed Kubernetes labels as Prometheus labels directly to certain metrics.

**Why is this needed**:

`kube-state-metrics` exposes Kuberntes roles and labels via special metrics (`kube_node_labels`, `kube_node_role`, `kube_pod_labels`, etc) As a result, when we need to query information from a subset of nodes that that belongs role or la

[2021-03-17 02:53] c002910 commented on #1330
Thanks @lilic

[2021-03-17 05:48] bmy4415 commented on #1414
@lilic hi, I upgraded kube-state-metrics image to `quay.io/coreos/kube-state-metrics:v2.0.0-rc.0` which seems to be latest.
According to [release note](https://github.com/kubernetes/kube-state-metrics/blob/8e35f790041384c12f36b40c47bae05e15c6f243/CHANGELOG.md),`kube_pod_container_resource_limits_cpu_cores` is changed to `kube_pod_container_resource_limits_cpu_cores`.

But still, my PromQL `kube_po

[2021-03-17 08:54] sakthiraam opened #1416 "Kube state metrics as executable"
**What would you like to be added**:
Option to generate a kube state metrics executable.

**Why is this needed**:
We need this because our environment is cut off from internet and we need to run our containers with specific base image hence if we have a executable tar ball like prometheus we can use it and build our custom image.

**Describe the solution you'd like**
If the executable is released

[2021-03-17 09:04] lilic commented on #1416
Hey 👋 you can build your executable yourself right now by running `make build` target, it is what we use to build the image in the end. Would that be enough for you?

[2021-03-17 10:59] csturgess93 commented on #1389
Hi, I can confirm we are also experiencing the same issue. We have evicted pods in our cluster, but the query won't gather the metric. It works fine with `reason="Completed"` etc but `reason="Evicted"` unfortunately does not work.

[2021-03-17 14:26] sakthiraam commented on #1416
Hi @lilic , Thanks for your quick reply. make build-local target actually helped. Will close this request. Have a nice day ahead.

[2021-03-17 14:26] #1416 closed

[2021-03-17 15:29] drael commented on #906
Is there any plans to implement this feature?
As I understand if I want to ignore and don't scrape a specific namespace I need to add a list of namespaces I want.

[2021-03-17 15:32] lilic commented on #1413
Yes seems like a bug with the multlistwatcher, do you want to take up fixing it?

[2021-03-17 15:41] Drugoy commented on #1413
Sorry, I'm not fluent in Golang enough as to fix it.

[2021-03-17 15:44] lilic commented on #1413
No worries! I added the help wanted label, as we had folks interested in contributing more, otherwise will have a look if no one else picks it up. Thanks for reporting!

@brancz would be great to replace the custom listwatch with something else, maybe importing it from Prometheus operator what do you think?

[2021-03-17 16:21] Drugoy commented on #1411
@lilic I can't figure if that is what I need too or if it's something else.
I don't really understand the description for said CLI argument.

Can this be used to tell ksm to make metrics like `kube_pod_container_status_restarts_total` inherit some custom labels (`project` + `owner` for mee) set for a pod in k8s?

Or even more complex inheritance: I'd like label `project` for said metric to be inhe

[2021-03-17 18:53] Drugoy commented on #1313
Doesn't work for me.
When I save it like
`- --labels-metric-allow-list=pods=[owner]`
in the YAML, k8s alters it to
`- '--labels-metric-allow-list=pods=[owner]'`

So my full setup is:
[code]
ksm starts, but none of the metrics have `owner` label.

I then tried to investigate possible reasons: some pods didn't have that label.
I reduced the test to just 1 namespace where I also made sure that **ALL*

[2021-03-17 19:10] Drugoy commented on #1313
Oh my, I just realized that this CLI arg merely adds labels to a set of specific metrics like `kube_pod_labels`, which I didn't have listed in my `--metric-allowlist` and thus noticed no difference...

[2021-03-18 07:13] gvasanka commented on #1376
Observing the same issue when trying to install with the following command. Any solution or workaround?

helm install --name test-kube-state kube-state-metrics/kube-state-metrics

[2021-03-18 07:29] lilic commented on #1415
Hey, thanks for your feature request!

What makes you think this is error-prone? You can use recording rules in Prometheus to avoid any errors and make queries less complex for the end-users.

Adding labels on each of the metrics produces higher cardinality metrics for users who would not need those, besides that it introduces a lot of complexity to our codebase when there exists a solution for th

[2021-03-18 08:02] lilic commented on #1411
Good point on description, to clarify this label only enables labels on all `kube_<resource-name>_labels`, we had a security issue if we enabled all labels and annotations by default some sensitive info could be exposed by this, this allows our users to enable just the labels they want and then join. There is no inheriting on other metrics that do not end with _labels. Hope that clears it up, woul

[2021-03-18 08:58] lilic commented on #1341
PR number two https://github.com/kubernetes/perf-tests/pull/1761

[2021-03-18 10:53] Drugoy commented on #1411
Prometheus joins are not like SQL joins. You query to join metrics A and B and get an error about conflict between metrics C and D and not being to join many-to-many.
Also, joins are never cheap.
I would very much instead prefer a similar mechanism of propagating the list of specified `<resource-name>` labels to all of its metrics.

[2021-03-18 14:26] lilic commented on #1411
Yes well aware of the differences. :) But the many-to-many errors can be solved, see examples of how we fixed them here -> https://github.com/kubernetes-monitoring/kubernetes-mixin/pull/419/files I wonder if its just a documentation thing we are missing to suggest solutions for these errors would that be helpful?

Yes, joins are not cheap agreed, you could use recording rules to save, but it has s

[2021-03-18 20:39] shabbir-taulia commented on #1389
can confirm this is happening in oiur cluster right now too
[code]
But the metrics never show a value of `1` as far as we can look. Our current workaround is to use
[code]

[2021-03-19 14:02] lilic commented on #1414
@bmy4415 are you sure those containers in the pods have actual resource limits set on them in the other namespaces? If you do something like:

`kubectl get pods -n default -oyaml | grep limits:`

do you actually see any results?

I could not reproduce this on my cluster, I can see all the limits in the metric kube_pod_container_resource_limits for multiple namespaces, but not all as I did not set

[2021-03-19 14:15] lilic commented on #1393
Hey sorry, this seems to have gone by our radar, is everything clear or do you need any more info from our side? Thanks @harjas27 for answering!

[2021-03-19 14:31] lilic commented on #1371
This is fixed in master as well, thank you!

[2021-03-19 14:34] #1371 closed

[2021-03-19 16:38] roobre commented on #1393
I think my main question was solved already, but just to clarify, would `kube_service_status_load_balancer_ingress{ip}` be populated if `loadBalancerIP` **is** defined in the service spec? I'm trying to figure out if I need to query both, or just the `kube_service_status_load_balancer_ingress{ip}` will do the trick :)
Thanks!

[2021-03-22 08:15] lilic commented on #1393
@roobre it takes the IP from the Load Balancer Ingress IP https://github.com/kubernetes/kube-state-metrics/blob/eba9142028841d5181ce09836fb1e0c2cf54f90c/internal/store/service.go#L141-L148

So only if you have it defined like https://kubernetes.io/docs/concepts/services-networking/service/#loadbalancer it should take that IP yes.

[2021-03-22 11:19] mrueg opened #1421 "[Discussion] Rename --labels-metric-allow-list"
**What would you like to be added**:

**Why is this needed**:
`--labels-metric-allow-list` is inconsistent with `--metric-allowlist` and there might be a better name for it, that is more descriptive on what it's doing.
**Describe the solution you'd like**
*  Use one way to write allowlist/allow-list in flags
* Reorder `--labels-metric` to `--metric-labels`
* Consider using `passthrough` or `filter

[2021-03-22 12:55] lilic opened #1422 "Review permissions we set out of the box"
Currently, in our example manifests we set some permissions in the [cluster-role](https://github.com/kubernetes/kube-state-metrics/blob/master/examples/standard/cluster-role.yaml), we seemed to have had an old API in there. It would be good to look through all the permissions we suggest and remove any we do not need.

The stretch goal for this would be to possibly add some automation for this base

[2021-03-22 16:11] mrueg commented on #1422
For CI, we could look into including https://github.com/open-policy-agent/conftest into CI and use this rule set: https://github.com/swade1987/deprek8ion

[2021-03-23 01:44] qisikai commented on #1411
@lilic @gnufied @ncdc . Thanks, but  I just want to use `--labels-metric-allow-list`, but it's missing in the latest master branch, So I try to use `--label-allow-list`, but it doesn't work.

[2021-03-23 08:05] lilic commented on #1411
@qisikai what do you mean its missing? Can you provide the output of `kube-state-metrics --help` Thank you!

[2021-03-23 23:59] aldudko commented on #1415
Hi Lili,

Thank you for looking into this.

Yes, in Prometheus we have a way to make joining two metrics less complex for the end-users.

I'm currently working on setting up Kubernetes monitoring in another monitoring system that doesn't have a query language similar to PromQL and doesn't allow joining metrics. I'm having a hard time getting the information I need from kube-state-metrics because K

[2021-03-24 09:02] sagarbirla commented on #730
We are seeing this issue even on 1.8.0
what was the root cause for this?

[2021-03-26 15:36] mrueg commented on #1421
Resolved in https://github.com/mrueg/kube-state-metrics/commit/2a7a96b65952a10dbcfa1213c9893448f0c84a48

[2021-03-26 15:36] #1421 closed

[2021-03-28 17:28] tozka commented on #1394
@brancz

We have short-living applications that can fail for different reasons - say infrastructure issue - network instability, infrastructure dependencies is down/unstable, or it could be some custom error. And this would enable to creation of alerts based on the error which targets different people. So we are going ot use it - if the application returns 0, success, if it returns 1 notify infras

[2021-03-28 18:06] dghubble opened #1430 "Missing container image for v2.0.0-rc.1"
Trying the new [v2.0.0-rc.1](https://github.com/kubernetes/kube-state-metrics/releases/tag/v2.0.0-rc.1) release, I don't find an image available from the new authoritative registry. We've already switched away from Quay to `k8s.gcr.io` in https://github.com/kubernetes/kube-state-metrics/issues/1409

Is there a time lag between release and image publishing internally? I usually update with some aut

[2021-03-28 18:08] dghubble commented on #1430
cc @mrueg

[2021-03-28 20:29] mrueg commented on #1430
It is available but in staging waiting for promotion. https://github.com/kubernetes/k8s.io/pull/1837

If you want to try it, feel free to test with: https://console.cloud.google.com/gcr/images/k8s-staging-kube-state-metrics/GLOBAL/kube-state-metrics@sha256:95e06a9e1eb075873adefcf1b3646997e4800fee2653a1514fa35531245a5aeb/details?tab=info

[2021-03-29 07:34] mikonse opened #1432 "kube_pod_info metrics occasionally missing pod_ip label for some pods"
**What happened**:
In our OKD 4.6 cluster we currently have the problem of the `kube_pod_info` metric is appearing with a different set of labels for the same pod. More concretely sometimes the `kube_pod_info` metric is missing the `pod_ip` label, so e.g. for pod xyz we would get these two distinct time series:

[code]

Important to note here is that the time series do not appear at the same time

[2021-03-29 07:48] lilic commented on #1430
@dghubble hey 👋 there is usually a slight delay always as we need to open a promotion PR and wait for images to be built. What triggers your automation is it tag or release?

[2021-03-29 09:13] lilic commented on #1432
@mikonse thanks for the issue! Interesting one, can you provide the pod object as seen via kubectl?

[2021-03-29 10:34] JensErat opened #1433 "Adding resourceVersion to CronJob metrics?"
**What would you like to be added**:

For deployments we already have a generation metric, which helps to see whether a deployment changed. We do not have such a metric for CronJobs -- they don't have such metadata at all. We could export the resourceVersion metadata as label though, similar to what ConfigMaps, Secrets and Ingress resources have.

**Why is this needed**:

#500 was closed due to be

[2021-03-29 12:17] lilic commented on #1430
We promoted the images, should be good to go. We will try to maybe next time do a pre-release until the images are not ready or promoted, would that work for you @dghubble ?

[code]

[2021-03-29 16:35] dghubble commented on #1430
Ok, I can just factor in a few days or a week delay from release before bumping. I don't think I'll be consuming the staging ones @mrueg though I appreciate the link, there are just far too many projects to keep track of to get into that level of detail.

Looks like v2.0.0-rc.1 is present now. Thanks!

[2021-03-29 16:35] #1430 closed

[2021-03-30 12:19] lilic commented on #1433
Exporting resource version sounds good to me as we have it for other resources anyways. There is also `kube_cronjob_status_active`, but have not had a chance to see if that would possibly work?

cc @brancz as you commented on the last issue referenced here.

[2021-03-30 17:12] roystchiang opened #1437 "Add "Terminating" status in kube_persistentvolumeclaim_status_phase metrics"
**What would you like to be added**:

I would like to see which PVCs are in `Terminating` state in the `kube_persistentvolumeclaim_status_phase` metric

**Why is this needed**:

This will be useful to see how many PVCs are stuck or accidentally deleted. Right now, PVCs are either `Bound`, `Lost`, or `Pending`. If a PVC is in `Terminating` state because a pod is still using it, it will show up as `

[2021-04-01 08:06] mikonse commented on #1432
It's somewhat difficult to get a hold of this problem since it only happens sporadically. But in one case I've found that a pod was missing the `pod_ip` label when it was stuck in the ContainerCreating state.

The pod object looked as follows:
[code]
To me this looks like when a pod is stuck in the ContainerCreating state but has not fully started yet kube-state-metrics does not provide the `kube_

[2021-04-02 19:18] Drugoy commented on #1415
IMO, this is a very important ticket and I wish it got into 2.0.0 release.
With this feature introduced - it would be trivial to make pod's metrics inherit labels from the pod itself.
This way it becomes easier (without the hassle of using that non-trivial and qutie error-prone group_left() approach we discussed in another ticket's comments) to set alerts that'd be routed to a channel for specific

[2021-04-05 16:06] #1297 closed

[2021-04-06 08:08] ThaSami opened #1439 "VerticalPodAutoScaler metrics are not shown"
**What happened**:
Deployed kube-state-metrics over k8s 1.19 with Latest VPA ( master ) and used v1beta2 API and i couldn't see the VPA metrics

**What you expected to happen**:
The VPA metrics to be shown in kube-state-metrics such as target, upper_bound, lower_bound etc..

**Environment**:
- kube-state-metrics version: from the release 2.0.0

- Kubernetes version (use `kubectl version`):

Server

[2021-04-06 10:07] lilic commented on #1439
@ThaSami thanks for the bug report! I assume you followed the docs to configure VPA https://github.com/kubernetes/kube-state-metrics/blob/master/docs/verticalpodautoscaler-metrics.md#Configuration?

Do you mind sharing your deployment as well as the VPA objects so we can try to reproduce, thank you!

[2021-04-06 16:12] ThaSami commented on #1439
Hi @lilic, Thanks for replying.
Yes, i've followed the documentation you've mentioned, at first, I've deployed the latest (master) version of VPA then did a clean-up and installed the latest release 0.9 with v1beta2 CRDS.

below you can find my deployment of kube-state-metric, and the VPA object.

[code]

VPA

[code]
I've installed the VPA by running the "vpa-up" script then applied v1beta2 CRD.

[2021-04-06 16:17] lilic commented on #1439
Thanks, did you adjust your permissions as well in the [cluster role](https://github.com/kubernetes/kube-state-metrics/blob/master/examples/standard/cluster-role.yaml)?

[2021-04-06 17:32] ThaSami commented on #1439
Thanks lilic
i believe I've done so, please check

[code]

[2021-04-06 22:22] roobre commented on #1393
Awesome, thanks for the clarification!

[2021-04-06 22:22] #1393 closed

[2021-04-07 14:38] lilic commented on #1439
Thanks, can you also share the logs of kube-state-metrics, thank you!

[2021-04-07 21:21] #1376 closed

[2021-04-08 08:27] ThaSami commented on #1439
@lilic thanks for pointing out, the issue was due to permissions. I see that VPA is under autoscaling.k8s.io not autoscaling API
adding this to cluster-role fixed the issue
[code]

[2021-04-08 08:27] #1439 closed

[2021-04-08 09:13] lilic commented on #1439
@ThaSami nice, glad to hear it was solved! Also happy to see alerts helped 🎉

[2021-04-08 09:32] gr8Adakron opened #1444 "Why does Kube-state-metric doesn't give Linkerd deployment metrics"
I have configure this setup Linkerd + Kube-state-metric + node-exporter -> Prometheus(scraping) -> Grafana.

When I executed this  function RAM metric: `kube_pod_container_resource_limits`

I can see detail of my containers and deployment but not of `linkerd-deployment` container.

----

If execute this query `kube_pod_init_container_resource_limits_memory_bytes` I can get linkerd-deployments deta

[2021-04-08 13:55] lilic commented on #1444
hey, did you set the resource requests for it? Can you share a few things:
- version of kube-state-metrics
- logs
- the full deployment of linkerd so we see the requests set and we can reproduce.
Thanks!

[2021-04-08 14:40] m1o1 commented on #1389
Same, but we are using kube_pod_container_status_last_terminated_reason (issues#344), though since evicted pods seem to stick around and a new one is created, either one should work I guess.

We have some alerts, and `reason="OOMKilled"` works fine, but `reason="Evicted"` does not.

[2021-04-08 15:31] gr8Adakron commented on #1444
@lilic thanks for quick response.

* The docker image which I am using: `k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.0.0-rc.0`
* Linkerd version: 2.10

Linkerd ([install-guide](https://linkerd.io/2.10/reference/cli/install/)) and Linkerd-viz ([install-guide](https://linkerd.io/2.10/reference/cli/viz/))

Although Kube-State-Metric is working fine for other deployment in the cluster, but in

[2021-04-09 04:25] gr8Adakron commented on #1444
I understood the ingress error which I am getting is due to compatibility issue as mentioned [here](https://github.com/kubernetes/kube-state-metrics#compatibility-matrix) in compatibility section

this is my kubernetes version:
[code]

[2021-04-09 07:14] lilic commented on #1444
Yes indeed its that.

I am not sure what linkerd viz is, it might be more helpful to just provide the output of `kubectl get deployment -n <namespace> linkerd-deployment`. Thank you!

Side note for your scrape interval, it's a bit too frequent, I would suggest 30 seconds.

[2021-04-09 07:43] gr8Adakron commented on #1444
There are 4 deployments in `linkerd` namespace:

- linkerd-controller
- linkerd-destination
- linkerd-identity
- linkerd-proxy-injector
- linkerd-sp-validator

The output of `kubectl describe deployment -n linkerd linkerd-controller`

[code]
---

Its the visualization part which has linkerd in built grafana and prometheus - which they recently separated out in v2.10

Thanks, will do that.

[2021-04-09 08:40] #1309 closed

[2021-04-09 08:53] lilic commented on #1444
Thanks! From what I can tell you only set the resource requests and limits for the init container, not for non init containers.

[code]

[2021-04-09 09:07] gr8Adakron commented on #1444
got it thanks.

[2021-04-09 09:07] #1444 closed

[2021-04-09 14:08] tustyianovych opened #1446 "Add option to configure scrape interval for kube-state-metrics helm chart"
**What would you like to be added**: a property in values.yaml to change the scrape interval. By default it is 15s.

**Why is this needed**: To reduce memory and CPU utilization as well as the amount of data ingested.

**It will be great to have a property like serviceMonitor.interval or whatever to change the scrape interval for KSM.**

**If this option is already available for KSM helm charts, p

[2021-04-13 07:44] moltamas93 opened #1452 "[helm-chart] Role resource can't be created"
**What happened**:
I want to create namespaced Role instead of ClusterRole by kube-state-metrics helm chart, but got a template error.
Helm error log:
[code]
[Range action](https://github.com/kubernetes/kube-state-metrics/blob/master/charts/kube-state-metrics/templates/role.yaml#L3) not working properly in role.yaml. The range scope is reset after [{{ end }}](https://github.com/kubernetes/kube-sta

[2021-04-13 08:06] lilic opened #1454 "Bump kubernetes dependencies to v1.21 version"
Couple of things to do:

* In master branch, we want to bump client-go & co to `v0.21` -> https://github.com/kubernetes/kube-state-metrics/blob/master/go.mod#L41-L43

* We also need to test against Kubernetes v1.21, for that we should change this to v1.21 https://github.com/kubernetes/kube-state-metrics/blob/7fd83751066b39d6f80fd31ee190d1cd2cd6352a/tests/e2e.sh#L27 maybe even adding the ability to

[2021-04-13 14:55] adrianmoisey commented on #1241
I'm also getting this. Kubernetes 1.18 and kube-state-metrics 1.9.5
I did follow the instructions on enabling VPAs in kube-state-metrics

[2021-04-13 16:25] StepanKuksenko commented on #1452
also faced with this issue.

[2021-04-14 18:15] 2rs2ts commented on #530
/remove-lifecycle stale

[2021-04-14 19:12] CarpathianUA commented on #1389
Expiriencing the same!

[2021-04-15 08:25] mikonse commented on #1432
Any update whether this is intended behavior or actually a bug?

[2021-04-16 07:22] vukasin-nikodijevic opened #1456 "Install kube-state-metrics v2 in kubernetes 1.17 fails with error "unknown flag: --collectors""
**What happened**:
Updated image tag to:
[code]

**What you expected to happen**:
kube-state-metrics pod start without any issue

**How to reproduce it (as minimally and precisely as possible)**:
Just update image tag to v2.0.0-rc.1

**Anything else we need to know?**:

**Environment**:
- kube-state-metrics version:  v2.0.0-rc.1
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider

[2021-04-16 08:55] lilic commented on #1456
Thanks for your report, I assume this is done via helm? I don't know if helm chart is v2.0 ready, but this flag was renamed to `--resources`? cc @mrueg @tariq1890

[2021-04-16 09:49] mrueg commented on #1456
The helm chart is not upgraded yet and we will once we're migrated to the new repository.
Please track https://github.com/prometheus-community/helm-charts/issues/839 and https://github.com/kubernetes/kube-state-metrics/pull/1448  for further information.

[2021-04-16 09:49] #1456 closed

[2021-04-16 09:50] mrueg commented on #1454
Sounds interesting to test against multiple versions, will need to see how long it will extend CI time (assuming the spin up of the kind clusters is where we spent most time on)

[2021-04-16 10:48] vukasin-nikodijevic commented on #1456
@mrueg - any eta because this is real blocker for having KSM in Kubernetes v1.17+, in or without combination with `kube-prometheus-stack`.

Plz, be aware that 1.17 is pretty low version of kubernetes now days.

[2021-04-16 15:13] lilic commented on #1454
We do this in kube-prometheus,  https://github.com/prometheus-operator/kube-prometheus/blob/main/.github/workflows/ci.yaml#L55-L56 You can see how it is in this PR https://github.com/prometheus-operator/kube-prometheus/pull/1094 for example:

[2021-04-16 19:00] ronaknnathani commented on #1415
Hi @lilic,

You are right that PromQL works. However, our team doesn't use Prometheus and have a home-grown monitoring stack which doesn't support PromQL (trust me, we'd love to have prometheus but that's not gonna happen anytime soon). So, having Kubernetes labels in the metric of interest allows us to translate the Prometheus metrics into a format understood by our home grown monitoring stack.

[2021-04-19 13:51] lilic commented on #569
We finished and release is cut 🎉 Thank you all!!

[2021-04-19 13:51] #569 closed

[2021-04-19 14:16] mrueg commented on #1295
v2.0.0 was released: https://github.com/kubernetes/kube-state-metrics/releases/tag/v2.0.0 :tada:

[2021-04-19 14:16] #1295 closed

[2021-04-19 14:17] mrueg commented on #1246
#1403 was merged. Please let us know and feel free to reopen if this does not work as intended.

[2021-04-19 14:17] #1246 closed

[2021-04-19 14:18] mrueg commented on #1352
This was resolved in https://github.com/kubernetes/kube-state-metrics/pull/1407

[2021-04-19 14:18] #1352 closed

[2021-04-19 17:02] pkbhowmick opened #1460 "Add NodeAffinity in podStatusReasons for kube_pod_status_reason metrics"
Now kube-state-metrics collects kube_pod_status_reason metrics for "NodeLost", "Evicted" and "UnexpectedAdmissionError". But it doesn't collect metrics for reason "NodeAffinity".

I personally feel the necessity of this metrics to know which pods are failed to schedule for node affinity.

[2021-04-19 19:34] skadem07 opened #1461 "Not able to get metrics"
**What happened**: Not able to get metrics

**What you expected to happen**: Get metrics

**How to reproduce it (as minimally and precisely as possible)**:

[code]
[code]

**Anything else we need to know?**:
[code]

`curl -s 10.182.11.202:8081/metrics`  -> does not return anything.

Can you pls point where i'm wrong?

**Environment**:
- kube-state-metrics version: v1.9.5
- Kubernetes version (use

[2021-04-20 07:20] lilic commented on #1461
Hey 👋 Where are you trying to execute this `curl -s 10.182.11.202:8081/metrics -> does not return anything.` command from?

Also, side note that newer versions of kube-state-metrics have been released, if you need to use 1.9 you should still upgrade to latest -> https://github.com/kubernetes/kube-state-metrics/tree/release-1.9/examples/standard

[2021-04-20 08:50] StepanKuksenko commented on #1452
@moltamas93 do you have some workaround for this issue ? Could you share...

[2021-04-20 09:00] #1433 closed

[2021-04-20 09:06] dgrisonnet commented on #1454
I can take care of the Kubernetes dependencies bump.

[2021-04-20 13:54] #1461 closed

[2021-04-24 16:33] #1270 closed

[2021-04-25 15:28] grzesuav commented on #1210
Was it implemented ? If not - upvoting ;)

[2021-04-25 15:46] grzesuav commented on #1210
Maybe my use-case - I have dashboards showing information about resources related to one of the operators - ConfigMap, Secrets and its leaks information about CR's

[2021-04-26 06:39] sgrzemski opened #1465 "Support kube_pod_ready_time metric"
**What would you like to be added**:

Hello kube-state-metrics team!
I am a happy user of your metrics software. I would like the kube-state-metrics to report also the time, when pod became ready (passing readiness probe). According to [docs](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/pod-metrics.md), there are already a couple of gauges in seconds: `kube_pod_start_time`, `k

[2021-04-26 09:32] lilic commented on #1210
@grzesuav this was not implemented, it's up for grabs if you are interested in tackling it?

[2021-04-26 14:58] boniek83 commented on #1046
I would change title to "Monitor ephemeral-storage disk usage" and reopen it. This is not solved and this is very important. Any data that is written inside container to directory that is not specifically mounted from persistend storage is written into local (to the machine the pod is running on) disk storage, doesn't matter if directory is marked as EmptyDir or it is not volume at all. Ephemeral-

[2021-04-27 21:21] #1392 closed

[2021-04-28 07:51] AnastasiaBlack opened #1467 "kube_pod_container_state_started is not returned for some pods"
**What happened**:
We have multiple pods (jobs) that run for a short period of time (the time from container start to termination varies from 2-3 seconds to a couple of minutes for each pod). We use a query `kube_pod_container_state_started{pod="needePodName"}` in Prometheus and it appears that it works for some pods and doesn't show the result for others (while other queries, including kube_pod_s

[2021-04-28 08:57] lilic commented on #1454
Thank you both! 🎉

[2021-04-28 08:57] #1454 closed

[2021-04-28 15:13] AnastasiaBlack commented on #694
Hello! I am not sure, whether this issue has the similar root casue with the one that we are now facing ( please see #1467 ). We also have AKS, and we have multiple pods (jobs) that run for a short period of time (a couple of seconds for some of them) and then terminate (with reason Completed), and when we make a query with `kube_pod_start_time` for every pod - we get the expected result (that is

[2021-04-28 16:52] grzesuav commented on #1210
hi @lilic , I can try, I am not familiar with the project though, will try to look at it next weekend and ask more question about feasibility of implementation if that's ok

[2021-04-29 08:04] lilic commented on #1210
@grzesuav sounds great! Best would be to come up with just a small proposal here on the issue before you start doing a PR, might be good to sync with @mrueg who had an initial idea and wants this as well, so both requests are answered. Thanks again! 🎉

[2021-04-29 12:00] #1314 closed

[2021-04-29 13:59] lilic commented on #1465
Hey 👋 Can you explain where this API is at? If k8s API reports this, it sounds good to me.

Note that `ContainerState` is the only thing that reports `StartedAt`. I haven't looked into `StartTime` if that can be used somehow.

[2021-04-29 15:46] smarterclayton commented on #1095
Note that this is beta in kube 1.21 as `kube_pod_resource_request` and `kube_pod_resource_limit` - feedback especially welcome to set decisions on GA timeline.

[2021-04-29 16:04] #1316 closed

[2021-04-29 16:25] mrueg commented on #1348
Thanks for reaching out.
The helm chart moved over to https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-state-metrics Feel free to open an issue there if this issue still persists with the latest version.

[2021-04-29 16:25] #1348 closed

[2021-04-29 16:25] mrueg commented on #1446
Thanks for reaching out.
The helm chart moved over to https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-state-metrics Feel free to open an issue there if this feature request is still required with the latest version.

[2021-04-29 16:25] #1446 closed

[2021-04-29 16:26] mrueg commented on #1401
Thanks for reaching out.
The helm chart moved over to https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-state-metrics Feel free to open an issue there if this feature request is still required with the latest version.

[2021-04-29 16:26] #1401 closed

[2021-05-02 05:14] pkbhowmick commented on #1460
kind/feature

[2021-05-02 11:23] #1319 closed

[2021-05-03 11:41] lilic commented on #1373
Still relevant.

[2021-05-03 15:56] harjas27 commented on #1467
This metric is captured from the field `State.Running.StartedAt` in the container status of pod.
In the span of 2-3 seconds, the state of the container changes from `Waiting` -> `Running` -> `Terminated`. Whenever the state is updated, the metrics for that pod are overwritten in the metrics map. Since the state changes to `Terminated`, the metric is not captured. This might be the reason for the m

[2021-05-04 07:55] moltamas93 commented on #1452
@StepanKuksenko Sorry for the late answer. I created the Role manually. So I use existingRole.
This is my kube-state-metrics config now:
[code]

[2021-05-04 11:25] mrueg commented on #1452
Thanks for reaching out.
The helm chart moved over to https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-state-metrics Feel free to open an issue there if this request is still required with the latest version.

[2021-05-04 11:25] #1452 closed

[2021-05-05 06:10] strangeman commented on #1389
We expiriencing the same problem

[2021-05-05 08:06] ritheshgm commented on #1389
+1

[2021-05-05 08:13] AnastasiaBlack commented on #1467
That would be great!

[2021-05-05 09:29] avinashk442 opened #1472 "Endpoint ip address is not provided by kube-state-metrics"
We are not getting ip address of endpoints from kube-state-metrics. The variable "kube_endpoint_address_available" in https://github.com/kubernetes/kube-state-metrics/blob/master/docs/endpoint-metrics.md doc page only gives count of endpoint ip addresses but not provide all value of ip addresses.
We need these ip addresses for monitoring our k8s cluster using kube-state-metrics.

[2021-05-05 09:35] harekal7 opened #1473 "Add selectors metric to service"
Generally, all Kubernetes services have a Selector field.
The controller for the Service selector continuously scans for Pods that match its selector.

But selectors metric is missing in kube-state-metrics service.
It would be good to have kube_service_selectors metric so that selectors information can be exposed

Example :

╰─$ kubectl describe svc my-nginx
[code]

[2021-05-05 16:26] joprice commented on #725
I'm seeing this running v1.9.5:

[code]

Did the fix get pulled into a later version?

[2021-05-06 12:56] george-angel commented on #941
/remove-lifecycle stale

[2021-05-08 13:02] isurusiri commented on #1360
Hey community, I really apologize for not making a PR. I completely lost track of this. I will open a PR soon.

/remove-lifecycle stale

[2021-05-08 15:56] avinashk442 commented on #1472
Hi @lilic  Can you please proritise it and assign to me. I have context and I will like to contribute.
Thanks

[2021-05-08 17:23] bwplotka opened #1475 "Extreme cardinality on single scrape"
Hi,

Users [claim quite an impressive churn coming directly from this project. 7 million series for a single(!) scrape](https://github.com/prometheus/prometheus/issues/8762) is indicating we are using potentially too granular metrics. Is there any effort to trim that number down, especially for default cases?

cc @kakkoyun cc @brancz

[2021-05-09 17:05] hagaiovadia opened #1476 "using kube_job_status_completion_time for identifying missing cronjob schedules"
Hi,
I'm trying to set up an alert for missing cronjob schedules.
I came up with the following query, which actually works and tells that the cronjob missed a schedule:
[code]
The job cron schedule is:
schedule: "55 23 * * *"

I'm trying to figure out what this query actually means in simple words?
Even it's working and does what I want, I'm not sure how and why it works.

Thanks!

[2021-05-10 05:55] harekal7 commented on #1473
Hi @lilic, can you please have a look and assign this to me.
I would like to make the required changes and contribute.
Thanks!

[2021-05-10 09:06] lilic commented on #1475
This is the nature of these metrics as they reflect what the k8s API does, users can always configure to deny the highest cardinality metrics via flag:

https://github.com/kubernetes/kube-state-metrics/blob/master/docs/cli-arguments.md

Note that in release-2.0 we made some changes so it depends on which version the user is using.

[2021-05-10 09:13] lilic commented on #1321
We reworked these metrics in 2.0 which is out so closing issue, @vsxen if you have any more problems feel free to open a new issue, thank you!

[2021-05-10 09:13] #1321 closed

[2021-05-10 09:15] brancz commented on #1475
Thanks for opening this issue, but please stick to the issue template, it asks all the questions we are asking now. Most importantly as Lili said, the metrics listed in the linked issue were cut at least by 6/7th in the 2.0 release, which at first glance I would guess this user is not using.

[2021-05-10 18:40] zetaab opened #1477 "kube_namespace_labels broken in 2.0.0"
**What happened**: We upgraded from 1.9.8 to 2.0.0 kube-state-metrics

After that we can see data like
[code]

With version 1.9.8 the data is

[code]

**What you expected to happen**: I expect that kube_namespace_labels metric should show the metrics that it should.

**How to reproduce it (as minimally and precisely as possible)**: Start 2.0.0 kube-state-metrics and query for kube_namespace_labels

[2021-05-10 18:47] lilic commented on #1477
Hey 👋 this is not a bug, but a feature :) We mentioned this in the blog and changelog under the labels section https://kubernetes.io/blog/2021/04/13/kube-state-metrics-v-2-0/#what-is-new-in-v2-0

For further help have a look at the --help how to use this. Let me know if you have any other questions or if we should document this elsewhere.

[2021-05-10 18:55] zetaab commented on #1477
I cannot get it working with 2.0.0 with that `--metric-label-allowlist` either.

from deployment:
[code]

[2021-05-10 19:01] zetaab commented on #1477
`- --metric-labels-allowlist=namespaces=[maintainer]` solved it

[2021-05-10 19:01] #1477 closed

[2021-05-11 03:59] gr8Adakron commented on #1444
Hey @lilic I cant get rid of this:

[code]

My kubernetes version is 1.17

and I have tried various downgrades from `k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.0.0-rc.0` to `1.9.8`/`v2.0.0-alpha.1`/`1.9.7`/`1.9.2`

All of the image variants keep giving the same issue

[2021-05-11 04:09] gr8Adakron commented on #1444
Deployed `quay.io/coreos/kube-state-metrics:v2.0.0-alpha`

But still getting this warning in the logs

[code]

[2021-05-14 09:20] sgrzemski commented on #1465
Pardon my delay, I was off for some time.
I took a look at the code and it looks like kube-state-metrics uses [Pod objects](https://pkg.go.dev/k8s.io/api/core/v1#Pod), `Pod.Status.StartTime` specifically,  to create the `kube_pod_start_time` metric. However, according to [Pod Lifecycle](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-conditions) docs, [PodStatus](https://pkg.

[2021-05-14 14:43] dafenko opened #1481 "add exitcode to labels of kube_pod_init_container_status_terminated_reason"
**What would you like to be added**:
Add exitcode to labels of kube_pod_init_container_status_terminated_reason

**Why is this needed**:
Our application has defined exit codes. We would like to be alerted when app ends up with a specified error code.

**Describe the solution you'd like**
We would like to define alert that uses kube_pod_init_container_status_terminated_reason metric and be alerted

[2021-05-17 07:18] szymon-grzemski commented on #1465
I've patched v1.9.8 release with some additional code to report both ContainersReady and Ready timestamps and the transition between states can happen multiple times (e.g. pod stopped passing readiness probes). Quoting Pod Lifecycle docs:
[code]
I will change those metrics to report latest timestamp and match with your current convention: `kube_pod_status_ready_time` and `kube_pod_containers_statu

[2021-05-17 07:19] sgrzemski commented on #1465
I've patched v1.9.8 release with some additional code to report both ContainersReady and Ready timestamps and the transition between states can happen multiple times (e.g. pod stopped passing readiness probes). Quoting Pod Lifecycle docs:
[code]
I will change those metrics to report latest timestamp and match with your current convention: `kube_pod_status_ready_time` and `kube_pod_containers_statu

[2021-05-18 21:10] grzesuav commented on #1210
just one thing @lilic , as I noticed `kube-state-metrics` uses typed API, is it ok to focus on CRD v1 introduced in k8s 1.16 and omit v1beta1 ?

[2021-05-19 07:35] qingguee commented on #1389
+1 Looks like we also met this issue.

[2021-05-20 07:56] samuel-enderwitz-eficode opened #1485 "Set logging output to json format"
**What would you like to be added**:

A possibility to set the format of the log output to json.

**Why is this needed**:

Common log aggregator and analyser uses the json format process logs.

**Describe the solution you'd like**

Start parameter like in prometheus `--log.format=json` or similar.

**Additional context**

-

[2021-05-21 15:25] thdesous commented on #1460
Hi @pkbhowmick
I agree with you. How do you identify through the metrics the status 'NodeAffinity' today?

[2021-05-23 06:34] yfried commented on #1389
Hi @brancz
Looks like this is effecting many users.
Did you get a chance to look into this?

[2021-05-24 02:07] slm940208 opened #1486 "kube_node_labels duplicate labels"
When k8s node have labels [aa.bb = 1111, aa-bb = 2222]

kube_node_labels will get label_aa_bb, This will make a mistake: https://github.com/prometheus/prometheus/issues/6853

How can I avoid this mistake？

Also I use influxdb as remoting write/read

[2021-05-24 03:56] #1486 closed

[2021-05-24 03:56] slm940208 commented on #1486
https://github.com/prometheus/prometheus/pull/6664

[2021-05-26 10:41] dbazhal opened #1488 "Pod ephemeral storage resources wanted"
**What would you like to be added**:

kube_pod_container_resource_requests_ephemeral_storage_bytes
kube_pod_container_resource_limits_ephemeral_storage_bytes

**Why is this needed**:

I have metric kube_node_status_allocatable and i want to deduct sum of all running containers requests from this metric to get "how much free ephemeral storage each node has" to see if node soon comes to unschedulabl

[2021-05-26 12:47] cwrau opened #1489 "`kube_deployment_labels` metric missing `DEPLOYMENT_LABEL` labels"
**What happened**:

After updating to kube-state-metrics v2.0.0 the extra labels, as described in https://github.com/kubernetes/kube-state-metrics/blob/release-2.0/docs/deployment-metrics.md, are missing. Meaning only `deployment` and `namespace` labels are set.

**What you expected to happen**:

As they are in the above mentioned documentation and also not in the [deprecation notice](https://gith

[2021-06-01 05:18] slashpai commented on #1366
Checked if this is already implemented but didn't see changes. I would like to work on this issue. I am new to this so it might take some time to understand the codebase :)

/assign

[2021-06-01 07:26] lilic commented on #1489
Hey, it's not a bug but a new future as mentioned in the release notes these are now under an allow-list.

` --metric-labels-allowlist string   Comma-separated list of additional Kubernetes label keys that will be used in the resource' labels metric. By default the metric contains only name and namespace labels. To include additional labels provide a list of resource names in their plural form and

[2021-06-01 09:17] cwrau commented on #1489
Huh, interesting, I must have glossed over that during my reading of https://kubernetes.io/blog/2021/04/13/kube-state-metrics-v-2-0/

Although now I can clearly see that in the post 😅

Sorry for the wrong(?) bug report

In case anyone is needing the same labels as us, we needed to add the following argument to `kube-state-metrics`;

[code]

[2021-06-01 09:17] #1489 closed

[2021-06-02 12:07] lilic commented on #1373
/remove-lifecycle rotten

Still relevant!

[2021-06-03 08:48] lilic commented on #1210
Yes that sounds great! 👍

[2021-06-04 09:52] dgrisonnet commented on #1324
Awesome investigation @harjas27! As you said, this is expected behavior with the `OnDelete` strategy of statefulsets and thus I don't think there is anything to fix in kube-state-metrics directly.
That said, the statefulset metrics documentation [1] could maybe be improved to include a notice regarding this edge case. The official kubernetes documentation for the `OnDelete` strategy [2] could also

[2021-06-04 15:50] sepich commented on #941
We're also affected by missing annotation metric (Labels are not enough, as they can only store [a-z0-9]).
I've took a chance to continue work of @jw-s, also addressing @lilic concerns from this thread and created new PR.
Would be glad somebody to review it, thanks.

[2021-06-06 09:16] Sund3 opened #1498 "image for v2.1.0 not found"
What happened: failed to pull k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.1.0 when deploying

Failed to pull image "k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.1.0": rpc error: code = Unknown desc = Error response from daemon: manifest for k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.1.0 not found: manifest unknown: Failed to fetch "v2.1.0" from request "/v2/kube-state-metri

[2021-06-06 12:05] mrueg commented on #1498
Thanks for reporting. You are right, it looks like not all images got promoted. This should fix it: https://github.com/kubernetes/k8s.io/pull/2139

[2021-06-06 17:24] #1159 closed

[2021-06-07 11:24] #1498 closed

[2021-06-07 11:31] mrueg commented on #1498
@Sund3 they should be in place now. Feel free to reopen if the issue is still not fixed for you.

[2021-06-07 13:20] brancz commented on #1465
I'm pretty sure the kubelet exposes metrics about the readiness probes. I think it's the kubelet's responsibility to expose this.

[2021-06-08 05:29] slashpai commented on #1481
I would like to work on this. I will review and update back

/assign

[2021-06-08 10:40] vignesh-v-nutanix opened #1500 "Kube-state-metrics compatability"
**What happened**:
Cluster related metrics are not working

**What you expected to happen**:
I have kubernetes 1.18 and kube state metrics is of 2.0.0. I dont see any cluster related items in the dashboard

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- kube-state-metrics version:  2.0.0
- Kubernetes version (use `kubectl

[2021-06-09 09:37] elcomtik commented on #1500
please read the release notes for 2.0.0, there is info about metrics that were deprecated and replaced by new ones.

[2021-06-10 09:04] broken-ufa opened #1501 "pod_labels does not exists in kube_pod_labels metric"
**What happened**:
After updating to version 2.0.0 I lost needed pod labels in `kube_pod_labels` and `kube_pod_info` metrics

**What you expected to happen**:
In version 1.9.7 I has metrics like:

```kube_pod_labels{container="kube-rbac-proxy-main", instance="10.244.5.180:8443", job="kube-state-metrics", label_app="main-api", label_component="api", label_part_of="some_site", label_pod_template_has

[2021-06-12 23:05] #1350 closed

[2021-06-14 12:23] szymon-grzemski commented on #1465
I am running 1.19+ and I am seeing `kubelet_pod_start_duration_seconds_bucket, _sum and _count` in Prometheus, but they are node level, not per specific pods.

[2021-06-14 15:25] millaguie commented on #1501
The same issue in v2.1.0, node labels are no longer available after upgrading

[2021-06-14 18:27] olivierlemasle commented on #875
/remove-lifecycle stale

[2021-06-15 06:58] sivanWu0222 opened #1502 "Some questions about Perc50"
I have some questions about the content of [article](https://github.com/kubernetes/kube-state-metrics#latency)

**What would you like to be added**:
Three Questions：
1.  More scaling test samples in latency time
2. What do the Perc50, Perc90 and Perc99 mean?
3. How to calc the time of Perc50?

**Why is this needed**:

**Describe the solution you'd like**

**Additional context**

[2021-06-15 08:16] lilic commented on #1502
Hey, These were the results of our scaling tests and the latency numbers, It's the 50th [percentile](https://en.wikipedia.org/wiki/Percentile). Its meant to be used for scaling purposes as a benchmark of some sorts. Hope that answers the questions?

[2021-06-15 08:17] lilic commented on #1501
Please see https://github.com/kubernetes/kube-state-metrics/issues/1489, that should answer your question. Also let us know where we should add this information so its easier to find, thanks!

[2021-06-15 11:38] sivanWu0222 commented on #1502
3KS, And i want to know **how to get the latency number in scaling tests**.

[2021-06-15 12:12] lilic commented on #1502
Are you having an issue that you need to get the latency number? This was done as part of 2.0 release by k8s perf team and us maintainers, often you wouldn't need to know. But if you do there are KSM own metrics to check https://github.com/kubernetes/kube-state-metrics#kube-state-metrics-self-metrics the `http_request_duration_seconds_bucket ` where you can calculate.

[2021-06-16 11:18] broken-ufa commented on #1501
Hi! I added `metric-labels-allowlist` to args and nothing changed( My labels does not appeared in metrics kube_pod_labels and kube_pod_info

What have I done wrong?

[code]

[2021-06-16 13:27] mrueg commented on #1501
I think you need to run kube-state-metrics v2.1.0 to make use of the wildcard option.

[2021-06-16 14:11] broken-ufa commented on #1501
I'm also tried to list all my needed labels and it didn't work too.

[2021-06-16 14:11] broken-ufa commented on #1501
I'm also tried to list all my needed labels and it didn't work too.

[2021-06-16 16:02] aecay opened #1503 "Expose annotations and labels on configmaps"
**What would you like to be added**:

Configmap metrics only export info, created, and resource_version ([docs](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/configmap-metrics.md)).  It would be useful to see labels and annotations as well.

**Why is this needed**:

In my usecase, it's possible to use the labels/annotations applied to pods to track the rollout of versions of an

[2021-06-16 16:12] lilic commented on #1501
@broken-ufa Can you share the config how you listed them? The wildcard option only works from 2.1.0 as Manuel suggested.

[2021-06-17 07:59] broken-ufa commented on #1501
Of course!

```--metric-labels-allowlist=pods=[app.kubernetes.io/name,app.kubernetes.io/component,app.kubernetes.io/instance,component,part-of,app,unit]```

[2021-06-17 09:53] saltbo commented on #1389
any progress on this issue?

[2021-06-17 12:38] codestalkerr commented on #1363
Is there any update to this issue as I am also facing the same problem! I have a dashboard that shows all the images used in different environments to keep track of and atm it doesn't show up right which makes it really hard for us.

[2021-06-21 06:24] harekal7 commented on #1473
Hi @mrueg, @lilic,
Can you please have a look and assign this to me.
I would like to make the required changes and contribute.
Thanks!

[2021-06-21 06:31] avinashk442 opened #1504 "Add important missing metrics for Pods and Deployments"
We are not getting important metrics:
"privileged",
"readinessprobe",
"livenessprobe" for Pods from kube-state-metrics.

Similiary, we don't have "ReadyReplicas" metrics for Deployments.

I have checked the https://github.com/kubernetes/kube-state-metrics/blob/master/docs/endpoint-metrics.md doc page and found that the above important metrics are missing.
We need the above information for monitori

[2021-06-21 06:33] avinashk442 commented on #1504
Hi @lilic and @mrueg Can you please proritise it and assign to me. I have context and I will like to contribute.
Thanks

[2021-06-22 09:00] stevehipwell opened #1507 "Kubernetes v1.18 support statement misleading"
**What happened**:
On a Kubernetes v1.18 cluster installing _kube-state-metrics_ via the _kube-prometheus-stack_ Helm chart we followed the documentation and modified the chart image to use `v1.9.8` which errored due to a change to argument name (I'm not sure where this change is documented?). We then tried `v2.0.0-alpha.1` which appeared to work but it has a known issue with missing container req

[2021-06-23 06:07] sedflix commented on #1389
+1

[2021-06-24 05:37] rahulbandariSensei opened #1508 "Add important missing metrics for Pods and Deployments"
We are not getting important metrics:
"privileged","readinessprobe","livenessprobe" for Pods from kube-state-metrics.

I have checked the [pods](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/pod-metrics.md) doc page and found that the above important metrics are missing.

Also, We need the metric "kube_deployment_status_replicas_ready", which is not supported as of now as per [

[2021-06-24 05:37] rahulbandariSensei commented on #1508
Hi @lilic and @mrueg, Can you please prioritize it and assign it to me. I have context and I will like to contribute.
Thanks

[2021-06-24 05:40] sumitk23 opened #1509 "Add important missing metrics for Cronjob and Node"
We are not getting important metrics `failedJobsHistoryLimit` and `successfulJobsHistoryLimit` for cronjobs in kube-state-metrics.

Similarly `systemUUID` for node is not being reported.

I have checked the https://github.com/kubernetes/kube-state-metrics/blob/master/docs/cronjob-metrics.md and https://github.com/kubernetes/kube-state-metrics/blob/master/docs/node-metrics.md doc page and these imp

[2021-06-24 05:41] sumitk23 commented on #1509
Hi @lilic and @mrueg Can you please prioritise it and assign to me. I have context and I will like to contribute.

[2021-06-24 09:12] AnastasiaBlack commented on #1467
Hello! Is there any news on this issue? Will it be implemented in the future?

[2021-06-24 11:55] lilic commented on #1507
Hey, do you mind opening PR to adjust the wording to be more clear for you. Regarding helm chart, no clue really as we don't support it anymore, best to bring it up with them.

[2021-06-24 12:08] gabbar023 opened #1510 "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt not found error."
![image](https://user-images.githubusercontent.com/58171832/123260011-c10e4e80-d512-11eb-9ebb-ec739a5c5ec3.png)

I tried to scrape metrics from openshift-prometheus to another prometheus-server using servicemonitors.

I am getting ca.crt not found error from another prometheus server.
How do i scrape kube-state metrics from openshift-prometheus to a new prometheus-server.

[2021-06-24 12:11] gabbar023 opened #1511 "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt Not found error"
How do i scrape kube-state metrics from openshift-prometheus to a new prometheus-server?

I am getting ca.crt not found when i try to use servicemonitor to scrape kube-state-metrics from openshift-prometheus to new prometheus-server.

![image](https://user-images.githubusercontent.com/58171832/123260569-5578b100-d513-11eb-8d24-5b75505d62e5.png)

[2021-06-24 12:12] #1511 closed

[2021-06-24 12:22] lilic commented on #1510
Hey, this is more of a question for openshift support team rather than kube-state-metrics project. But since I worked on that in the past, the short answer is: that is not supported, you need to deploy a new kube-state-metrics in your own namespace or enable user workload monitoring.

Closing as it's not related to this project, for more info please reach out to red hat OpenShift monitoring team.

[2021-06-24 12:22] #1510 closed

[2021-06-24 13:01] stevehipwell commented on #1507
@lilic I will do.

[2021-06-24 20:54] cnelson commented on #1389
Same issue with `reason="Shutdown"` [which went beta in v1.21](https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/)

[2021-06-25 04:38] bcho opened #1513 "Proposal: add signer name label to certificate signing request"
**What would you like to be added**:

In current CSR metrics, we have the name label:

[code]

But from our side's usage, it would be more helpful that we can distinct the CSR "type" by [signer name](https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#kubernetes-signers). For example, we only care about a subset of CSRs for some monitoring scenarios.

Can we add a

[2021-06-25 04:40] bcho commented on #1513
If we can agree on this feature request, I can help implement the changes.

[2021-06-25 04:40] #1504 closed

[2021-06-25 08:23] fpetkovski commented on #1422
Instead of reverse-engineering permission checks, I wonder if it would make sense to have something like `ksmtool` which is going to run through all of the stores and generate the necessary permissions.

[2021-06-28 06:03] liangyuanpeng commented on #1413
I would like to look at this problem
/remove-lifecycle stale

[2021-06-28 10:22] slashpai commented on #1389
I tried `max_over_time`, `avg_over_time` and `sum_over_time` for `kube_pod_container_status_last_terminated_reason` all queries returned 0 even if `reason="Evicted` exists. So this value never seems to be incremented

Example query
`max_over_time(kube_pod_container_status_last_terminated_reason{reason="Evicted"}[2h])`

I will try to figure out why Evicted reason is not registered in metric like ot

[2021-06-28 12:45] ahmed-mez opened #1515 "Cannot configure `--metric-labels-allowlist` when KSM is used as a Go dependency"
**What happened**:

When used as a dependency, it's impossible to configure the labels allowlist.

**What you expected to happen**:

The public `BuilderInterface` exposes a method to configure the labels allowlist, especially with the new behaviour in KSM v2 where the labels are dropped by default as reported in https://github.com/kubernetes/kube-state-metrics/issues/1489

**How to reproduce it (a

[2021-06-29 05:24] #1515 closed

[2021-06-29 11:15] mrueg commented on #1509
/assign @sumitk23

[2021-06-29 11:16] mrueg commented on #1508
/assign @rahulbandariSensei

[2021-06-29 14:52] mrueg commented on #1473
/assign @harekal7

[2021-06-29 17:46] grzesuav commented on #1210
hi, I have question related to implementation, I have some easy draft here - https://github.com/kubernetes/kube-state-metrics/pull/1517.

The challenge I currently have is that typed client for `CRD` is in `k8s.io/apiextensions-apiserver v0.21.0` package, also its interface is bit different :
[code]
than
[code]
therefore I have some questions :
1. is there nice way to abstract this ? The problem I

[2021-06-29 17:50] grzesuav commented on #1503
Hmm as far as I am aware in annotation there are some special fields (like `lastAppliedConfiguration`, `generation` etc) which should not be exposed (because of cardinality and sensitive information exposure)

[2021-06-29 19:37] hooten commented on #1166
I've also seen this issue in our sharded deployments of KSM

[2021-06-30 07:27] fpetkovski commented on #1503
There are two open PRs for exposing annotations for all resources, so it might be worth tracking those:
* https://github.com/kubernetes/kube-state-metrics/pull/1495
* https://github.com/kubernetes/kube-state-metrics/pull/1468

[2021-06-30 09:34] fpetkovski commented on #1389
@yfried This is a bug with the version you are running where KSM conflates pod and container states. This should be fixed in versions 2.0.0 and later. The metric containing this information is `kube_pod_status_reason`

Since 1.x.x has other issues according to the [compatibility matrix](https://github.com/kubernetes/kube-state-metrics#compatibility-matrix), are you able to upgrade KSM to one of th

[2021-06-30 11:30] saltbo commented on #1389
Does v1.9.8 fix this problem? And can v1.9.8 be used on k8s v1.16?

[2021-06-30 11:36] fpetkovski commented on #1389
Unfortunately v1.9.8 does not fix this problem, it's only fixed in 2.0.0 and onward

[2021-06-30 11:40] saltbo commented on #1389
Yeah, we running v1.16, and no plan to update k8s version currently...

[2021-06-30 12:05] fpetkovski commented on #1389
This is the commit which adds the `kube_pod_status_reason` metric that you are looking for: https://github.com/kubernetes/kube-state-metrics/commit/8f45cd8444ab206fe07f5af95095cd9015a1abd3#diff-9f1d27fdf1cb96ba2fc5bde3d90760eec19e66ee632a5756bf8da5ec28b54ab6.

We can try to backport parts of it to v1.9.8 but I am not sure what the current support policy is for pre 2.0.0 versions. Maybe @tariq1890

[2021-06-30 13:44] mrueg commented on #1389
My personal thoughts here: I would still consider v1.9.x "community supported", which means no active feature development, backports etc.
Backports for bug fixes can be contributed through the community and releases happen upon request.

[2021-06-30 18:12] jpdstan opened #1518 "Support returning cached results from api server (resourceVersion=0)"
**What would you like to be added**:

The ability to specify whether or not to use the k8s api server by setting the `resourceVersion` parameter ([docs](https://kubernetes.io/docs/reference/using-api/api-concepts/#the-resourceversion-parameter)).

**Why is this needed**:

This would be immensely helpful for us as we run this application at quite a large scale (about 8mil total timeseries, 37k pods

[2021-07-01 06:24] Jivvon commented on #1501
kube-state-metrics version: 2.1.0

[code]

metric: `
kube_pod_labels{app_kubernetes_io_instance="prometheus", app_kubernetes_io_managed_by="Helm", app_kubernetes_io_name="kube-state-metrics", helm_sh_chart="kube-state-metrics-3.1.1", instance="0.0.0.0:8080", job="kubernetes-service-endpoints", kubernetes_name="prometheus-kube-state-metrics", kubernetes_namespace="monitoring", kubernetes_node="dock

[2021-07-06 11:13] akshitgrover opened #1522 "Add Ready replicas metric for deployments"
**What would you like to be added**:
Ready Replicas count for the deployment object is missing from the [list](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/deployment-metrics.md) and is absent from the [source code](https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/deployment.go#L40) as well
I'd like this to be reported like all other metrics for depl

[2021-07-06 11:17] akshitgrover commented on #1522
I'd like to work on this as well
I hope it's fine @mrueg @brancz
/assign

[2021-07-06 11:18] akshitgrover commented on #1522
Does this need triage like issues in Kubernetes main repo?
cc @mrueg

[2021-07-06 18:16] #1513 closed

[2021-07-06 22:15] marcusio888 commented on #1389
good night I could do it with the following metric
sum by (namespace) (kube_pod_status_reason {reason = "Evicted"})> 0
version 2.0.0 kube-state-metrics

[2021-07-08 15:57] oldthreefeng commented on #1340
any update?

Is there ways to build arm64 images ?

[2021-07-08 16:02] mrueg commented on #1340
As Lili had mentioned, kube-state-metrics 2.0 and later are providing multiarch and can be used on arm64.

[2021-07-08 16:04] oldthreefeng commented on #1340
https://github.com/kubernetes/kube-state-metrics/pull/1391 this seems to support mutli arch by v1.9.8 ?

[2021-07-08 16:06] oldthreefeng commented on #1340
@mrueg thanks for your reply.  is there any ways i can build arm64 local ?  or some docs?

[2021-07-08 16:15] mrueg commented on #1340
you are correct 1.9.8 got it as well. You can take a look at the Makefile, we have different container build targets there.

[2021-07-08 18:12] invidian opened #1526 "Support KSM 2.0"
Right now, when running with KSM 2.0, Horizontal Pod Autoscaler (HPA) metrics are not available, as they has been renamed: https://github.com/kubernetes/kube-state-metrics/pull/1003

[2021-07-08 19:43] leepatrick-goop commented on #1389
+1

[2021-07-08 22:29] #611 closed

[2021-07-12 15:21] ialidzhikov commented on #1241
/remove-lifecycle stale

[2021-07-12 21:47] grzesuav commented on #1210
:arrow_up: @lilic @mrueg would appreciate some feedback on that ;)

[2021-07-13 07:39] TamasNeumer commented on #611
/reopen

[2021-07-13 09:01] ashdon4u opened #1527 "metric are not geting scraped after updating it to 2.0.0 from 1.9.8"
**What happened**:
after I upgrade to 2.0.0 version below metrics are not getting scraped

        kube_hpa_status_desired_replicas
	kube_hpa_spec_min_replicas
	kube_hpa_spec_max_replicas

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
older chart (kube-prometheus-stack-15.2.3)  and value file (atm.yaml attached)

new chat(kube-prometheus-stack-

[2021-07-13 11:59] brancz commented on #1508
Privileged doesn't need to be a separate metric, it can just be added to the container info metric and health and readiness probes metrics are already available from the Kubelet (even as more useful counters).

[2021-07-13 15:09] lilic commented on #1526
Hey, not sure I understand what this means? To support kube-state-metrics 2.0, can you explain?

[2021-07-13 15:12] invidian commented on #1526
Aha! I remembered I opened this issue, but turns out in the wrong repository! :smile: Sorry for the noise!

[2021-07-13 15:12] #1526 closed

[2021-07-13 19:07] dannylee- commented on #1481
Would it be better to create a new metric with the exit code?  Or else we would introduce a label with a large cardinality (256 possible values)

[2021-07-13 20:56] 2rs2ts commented on #530
/remove-lifecycle stale

[2021-07-13 20:58] 2rs2ts commented on #530
I shudder to think of the collective amount of wasted human lifespan on telling these stale bots like fejta to not close our issues.

[2021-07-14 05:45] fpetkovski commented on #1527
Per [CHANGELOG](https://github.com/kubernetes/kube-state-metrics/blob/master/CHANGELOG.md)
[code]

[2021-07-14 09:09] fpetkovski commented on #1432
Pods do not get an IP until they get scheduled on a node. If a pod is in a Pending state when a scrape happens, the `pod_ip` label value will be empty. This might be something you are running into and also a reason why you see time series with and without the pod ip.

[2021-07-14 12:32] #1413 closed

[2021-07-15 13:41] fpetkovski commented on #875
I think the tests are already rewritten in go. Do we still need to keep this ticket open?

[2021-07-15 14:00] olivierlemasle commented on #875
Actually, the logic behind the e2e tests is still in bash: https://github.com/kubernetes/kube-state-metrics/blob/1d61fc146160a94ad6b932b9fc5124bc43a5e00c/tests/e2e.sh

[2021-07-15 14:16] fpetkovski commented on #875
Got it, thanks for the link :)

[2021-07-16 09:35] w4rgrum commented on #1115
We got the same issue (with duplicate labels using - and _ as separators, and same value) and found a workaround to avoid issues even with crappy pods labeling.
We added a dedicated metric_relabel_configs to our kube-state-metrics scrape job in Prometheus using a labelmap to force the replacement of all the labels matching the regexp "^(label_.+)$". This will force Prometheus to remove all the dup

[2021-07-17 00:05] #1380 closed

[2021-07-17 13:08] #1363 closed

[2021-07-20 07:39] miquelbar commented on #1501
I'm facing the same issue after upgrade kube-state-metrics from 1.9.8 to 2.0.0 or 2.1.0

[2021-07-22 06:31] sherifkayad opened #1536 "[Vertical Pod Autoscaler Metrics] Add Support for new "vs" Requests / Limits Metrics"
**What would you like to be added**:
I would like to see the following new metrics added to the list of VPA metrics:
- kube_verticalpodautoscaler_status_recommendation_containerrecommendations_$RECOMMENDATION_vs_requests e.g. `kube_verticalpodautoscaler_status_recommendation_containerrecommendations_target_vs_requests` => to indicate the status of the recommendation vs. the allocated resource requ

[2021-07-22 07:17] fpetkovski commented on #1536
Hi @sherifkayad, I think the use case you're describing is legitimate and useful. I was just wondering if the same can be achieved using a promQL query using the existing metrics that are currently provided by KSM.

[2021-07-22 07:27] sherifkayad commented on #1536
@fpetkovski Thanks a lot for your prompt reply .. After tons of digging I found out that the "only" way to achieve that using existing queries will be something like that:
[code]
**OR**
[code]

It's a fact that the query above will get you the percentage of the recommendation vs. the requests or limits. However, there are the following limitations:
- I have to explicitly state the `target_name` as

[2021-07-22 12:14] mrmassis opened #1538 "Allowlist problem"
**What happened**:
When I configure --metric-allowlist to export a set of metrics, two metrics that I didn't configure appear.

**What you expected to happen**:
Only exporte the metrics that are in the whitelist!

**How to reproduce it (as minimally and precisely as possible)**:
I configure my kube-state-metrics with the configuration below:
[code]

The total metrics that I allow is  11 metrics. H

[2021-07-22 13:55] fpetkovski commented on #1536
With regards to adding the additional metric, this is not easily achievable with the current design of KSM. I am also not sure if it is something we want to support. The reason for this is because each metric is related to exactly one resource. Adding the metrics which are proposed here would mean that we need to start correlating labels and metrics across resources.

From what I understand, the p

[2021-07-22 14:12] sherifkayad commented on #1536
@fpetkovski how about StatefulSet's? .. Is it possible to have both deployments and Statefulset's included in the search at the same time?

[2021-07-22 14:14] fpetkovski commented on #1538
Hi @mrmassis, the allowlist value is a regular expression. The reason why `kube_deployment_status_replicas_updated` shows up is because you have `kube_deployment_status_replicas` in the allowlist. The following should resolve the problem

Adding `$` at the end of `kube_deployment_status_replicas` should resolve the problem.

[2021-07-22 14:17] mrmassis commented on #1538
Tkz so much by support.
I will do it.

[2021-07-22 14:20] fpetkovski commented on #1536
Statefulsets manage pods directly, so you don't need the `kube_replicaset_owner` metric:
[code]

You can try merging those two in a single expression, or keep them as two different alerts.

[2021-07-22 14:47] sherifkayad commented on #1536
Amazing! These are my queries for those interested (scanning all namespaces):

[code]

[2021-07-22 14:47] #1536 closed

[2021-07-22 21:20] #1538 closed

[2021-07-23 10:06] PhilipGough opened #1539 "Consider removing metrics with cAdvisor overlap"
With the goal of reducing the number of series per scrape, would we consider the removal of metrics that overlap with that of `cAdvisor`, after initial investigation I can see at least the following:

`kube_pod_container_state_started ` provides a subset of data from  `container_start_time_seconds ` when queried by pod and container.

[code]

compared to

[code]

The following seems to map also:

[2021-07-23 13:20] lilic commented on #1539
Hey. A lot of our users expect these metrics to be there and are used for alerts, dashboards, etc. If you need to remove them you can always use the flag `--metric-denylist ` or drop them in Prometheus. But these are stable metrics, and also I don't think kube_pod_container_resource_limits is the same as container_spec_memory_limit_bytes.

[2021-07-23 14:17] paulfantom commented on #1539
Some clarification for whoever finds this in the future as a lot of information was not published in discussion:
- `kube_pod_container_resource_limits{container="XYZ",resource="memory"}` maps 1:1 into `container_spec_memory_limit_bytes{container="XYZ"}`
- `kube_pod_container_resource_limits{container="XYZ",resource="cpu"}` maps indirectly to `container_spec_cpu_quota{container="XYZ"}` and `contain

[2021-07-23 14:42] lilic commented on #1539
Yes that is more for kube-prom rather than kube-state-metrics here :) The issue is that not all users have admin power to enable those on that level, so this is where kube-state-metrics comes into play.

[2021-07-26 05:55] PhilipGough commented on #1539
Thanks @lilic closing based on your explanation.

[2021-07-26 05:55] #1539 closed

[2021-07-26 20:15] #1395 closed

[2021-07-30 17:12] #1396 closed

[2021-08-01 10:28] #1302 closed

[2021-08-01 18:52] sherifabdlnaby commented on #1415
What’s the status of this ? Can we revive the conversation? I’d be pleased to help developing this feature. It will make my team and I life easier.

[2021-08-01 21:19] Drugoy commented on #1415
@sherifabdlnaby
This ticket is Open, probably meaning that there wouldn't be any resistance in accepting PRs providing this feature.
If you are capable of producing PRs that'd bring this feature - please, do so.

If you need any help (from Lili or from other maintainers) - you need to be specific about what you need help with.

[2021-08-01 21:57] sherifabdlnaby commented on #1415
@Drugoy Great, Thanks 🙏🏻

I was not sure if it was a strict design decision was taken previously to not support such metric labels and so I was bumping this issue to ask.

[2021-08-02 06:50] fpetkovski commented on #1313
/remove-lifecycle rotten

[2021-08-03 07:44] #1522 closed

[2021-08-06 13:33] fpetkovski commented on #1360
/remove-lifecycle stale

[2021-08-06 14:24] robbie-demuth commented on #1210
It looks like @mrueg's feature request was for instance-level (i.e. custom resource) metrics, but the conversation (and in-flight PR) has shifted to focus on custom resource _definition_ metrics. I'm not going to get into technical details, level of effort, etc, but I'd like to give a plus 1 for instance-level metrics. All custom resources have the same metadata (i.e. ObjectMeta). I think it'd be

[2021-08-06 23:24] sherifabdlnaby commented on #1415
@lilic Hello, I tried looking up Github Issues trying to find if maintainers have a concrete/explicit opinion about exporting Kubernetes resources labels to metric labels, I want to implement the feature, it will greatly help me, yet I won't be able to run a fork of kube-state-metrics at where I actually want to use the feature :D

[2021-08-07 03:17] liangyuanpeng commented on #1518
I want to work for it and it's will be great if someone can get me some novice tips.

[2021-08-07 13:51] liangyuanpeng commented on #1485
I absolutely believe that Kubernetes is doing the same thing,so it might be worth tracking those:

- https://github.com/kubernetes/kubernetes/issues/104097
- https://github.com/kubernetes/enhancements/issues/1602

[2021-08-09 04:51] fpetkovski commented on #1518
Hi @liangyuanpeng, thanks for taking the initiative and you're more than welcome to work on this.

To start with, maybe try to run KSM locally and verify you can access metrics on localhost:8080/metrics. Then investigate the codebase a bit and see how you can implement this feature. We have a #kube-state-metrics channel in the Kubernetes slack where you can ask concrete questions if you get stuck.

[2021-08-09 10:23] #1509 closed

[2021-08-09 15:15] #1467 closed

[2021-08-10 06:24] slamdev commented on #1465
@lilic @brancz any plans to merge this? looking forward to use this metric

[2021-08-11 11:57] mrueg opened #1546 "Documentation on Sharding Features / Status of experimental AutoSharding Feature"
**What would you like to be added**:
As @SuperQ made me aware of, the documentation around Sharding is lacking some information on which to use when.
https://github.com/kubernetes/kube-state-metrics/blob/master/README.md#horizontal-scaling-sharding
**Why is this needed**:
Improve User Experience
**Describe the solution you'd like**
Document:
* Auto Sharding is marked as experimental since 2019 - i

[2021-08-11 12:00] SuperQ commented on #1546
I think there also needs to be some more documentation around sharding in the tooling used to deploy this. For example, there is [some of this mentioned in the helm chart](https://github.com/prometheus-community/helm-charts/blob/0b0956ec3fb3f2af1a61f652d9c0e0a350cf988e/charts/kube-state-metrics/values.yaml#L11-L18). But it seems like it only supports AutoSharding. Which I was just told is not reco

[2021-08-11 12:20] rkydybets opened #1547 "missing cAdvisor mertics issue"
kube-state-metrics is installed from https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack
some metrics `container_memory_working_set_bytes` and `container_spec_memory_limit_bytes` and other

why i have no idea, i have restarted the kube-state-mertics but not succes working for monitoring them
and increase the resources to kube-state-mertics

and one remark, i

[2021-08-11 13:47] fpetkovski commented on #1547
Hello :wave: , KSM is not related in any way to cAdvisor and does not export `container_memory_working_set_bytes` and `container_spec_memory_limit_bytes`. Are you saying that you expect to see them but you don't?

[2021-08-11 15:57] #1547 closed

[2021-08-12 14:56] liangyuanpeng commented on #1518
Thanks for your patience! I have completed the feature, i think... and i  am checking my code.

/assign

[2021-08-13 03:48] willzhang commented on #1330
i have same when use lens
[code]

[2021-08-16 02:28] #1341 closed

[2021-08-16 15:34] #1414 closed

[2021-08-19 14:05] #1518 closed

[2021-08-20 10:13] #1411 closed

[2021-08-23 07:19] fpetkovski commented on #1330
Hi @willzhang, did you try some of the suggestions from Lili on the original issue?

[2021-08-23 09:57] mrueg opened #1554 "Default branch migration"
# Default Branch Migration

This document outlines steps needed to migrate the default branch
of your repo from `master` to `main`.

Note: This document is currently a work in progress.

If you have questions about the process, reach out to the GitHub Management Team
on the [#github-management] channel on slack or open an issue in the [kubernetes/org] repo.

## Prerequisites

- [ ] Create an issue

[2021-08-24 11:13] fpetkovski commented on #1488
/remove-lifecycle stale

[2021-08-24 11:14] fpetkovski commented on #1488
Hi @dbazhal, since no one has picked up the issue yet, would you be interested in contributing the enhancement to KSM?

[2021-08-24 12:09] mblaschke opened #1557 "kube_pod_container_info only contains sha256 value in image label if container image contains sha256 value"
**What happened**:

ingress-nginx is deploying containers with digests in their image paths eg:

[code]

kube-state-metrics is generating following lables out of these information:

| label | value |
|------|------|
| `image`| `sha256:ac0e4fe3e6b0716b015e2c3df64404f24ad84eaf33e9ef8520a9ad9d8fe8024f ` |
| `image_id` | `k8s.gcr.io/ingress-nginx/controller@sha256: 44a7a06b71187a4529b0a9edee5cc22bdf71

[2021-08-25 16:35] liangyuanpeng commented on #1557
Checked from my kube-state-metrics and it's true.

[code]

My tekton container describe:
[code]

Use image of `@sha256:8f89bb...` and metrics of  kube_pod_container_info  from KSM is  `8f89bb...`

Seems like should be fix and i want to work for it.

[2021-08-26 08:35] vickyvikas7988 opened #1558 "Network usage/traffic on pod"
Is there any chance that we can see/get the network traffic usage on pod?

[2021-08-26 10:05] #1558 closed, assigned to nobody

[2021-08-30 07:23] fpetkovski commented on #1366
/remove-lifecycle stale

[2021-08-31 12:28] fpetkovski commented on #1373
/remove-lifecycle-stale

[2021-08-31 12:30] fpetkovski commented on #1373
/remove-lifecycle stale

[2021-09-01 09:29] jrenggli commented on #1046
Just discovered a new issue #1488 (with a linked PR #1561) handling this feature.

[2021-09-01 20:48] OscarLuu opened #1568 "kube_pod_container_status_restarts_total not reporting restarts accurately"
**What happened**:
We looked into the Metrics Explorer to create a new alert on container restarts, we noticed that the number of restarts when checking the cluster with `kubectl get po` would show that a pod restarted a few times. When we used the GCP metric explorer to confirm that the values were accurate we saw that the metric explorer had 0 occurrences of restarts per pod.

![image](https://u

[2021-09-02 01:02] jpdstan opened #1569 "deleted pods still reporting metrics"
**What happened**:

it seems that _sometimes_ metrics don't get deleted alongside the pod. It isn't until we churn all the kube-state-metrics pods that it fixes it.

What's even stranger is that it won't be _all_ metrics for that pod that will incorrectly exist; for example, for a particular pod that was deleted, we noticed that it was still reporting `kube_pod_container_status_waiting_reason`, bu

[2021-09-02 06:31] fpetkovski commented on #1569
This could be related to https://github.com/kubernetes/kube-state-metrics/issues/694

[2021-09-07 21:40] OscarLuu commented on #1568
We identified that the problem isn't with kube-state-metrics.
It has something to do with our sidecar that's running. We are closing this issue, thanks!

[2021-09-07 21:40] #1568 closed

[2021-09-09 08:29] george-angel commented on #941
/remove-lifecycle stale

[2021-09-09 08:35] dgrisonnet commented on #941
This feature was implemented in https://github.com/kubernetes/kube-state-metrics/pull/1468 and is now available in kube-state-metrics v2.2.0 so we can close this issue.

/close

[2021-09-09 08:35] #941 closed

[2021-09-09 21:08] felipeek opened #1572 ""regex" does not work for daemonset"
**What happened**:

My alert is not triggered when I use a regex in the alert expression

**What you expected to happen**:

My alert should have been triggered

**How to reproduce it (as minimally and precisely as possible)**:

My expression is:
[code]

The daemonset name is:
[code]

This alert does not get triggered.

If I change my expressions to:
[code]

Then the alert is triggered.

**Anything

[2021-09-10 06:19] fpetkovski commented on #1572
Hi @felipeek, this is not really a kube-state-metrics issue.

Looking at your query, I noticed that the regular expression you are using is not correct. Selecting label values using a regular expression is done with the `=~` operator, so in your example it would be:
[code]

For information on how to use PromQL, you should refer to the Prometheus documentation: https://prometheus.io/docs/prometheus

[2021-09-10 12:04] idsvandermolen opened #1573 "Some pod status reasons missing in podStatusReasons var and kube_pod_status_reason metric"
**What happened**:
We are trying to monitor pods in `Failed` phase with reasons `Shutdown` or `NodeAffinity`. However, the `kube_pod_status_reason` metric only exposes `NodeLost`, `Evicted` and `UnexpectedAdmissionError` reasons (see [pod-metrics.md](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/pod-metrics.md) and [pod.go](https://github.com/kubernetes/kube-state-metrics/blob/

[2021-09-10 13:56] mblaschke commented on #1557
Found another interesting issue when only using containerStatus information with kube-state-metrics:

[code]

For containerd it's clear that it's using the cached image information from the node but the labels are now misleading as it points now to the public image and not to the local mirrored one in our own container registry.
So please also add an `imageSpec` label.

[2021-09-10 15:14] felipeek commented on #1572
@fpetkovski thank you so much! I will give it a shot. The strange part is that I was doing this exact same query with `pod=` instead of `daemonset=` and it was working fine, this is why I didn't suspect that the error was in the query.

[2021-09-10 15:18] #1572 closed

[2021-09-12 10:20] #1432 closed

[2021-09-13 07:49] fpetkovski commented on #1573
Hi @idsvandermolen, thanks for reporting this issue. The rationale behind limiting the metric to just a handful of reasons was to control the cardinality.

Since you already looked into the codebase, would you be interested in adding `Shutdown` or `NodeAffinity` as exported reasons as well?

[2021-09-13 07:52] fpetkovski commented on #1557
@mblaschke do you have a link to the manifests for the ingress controller you're deploying?

[2021-09-13 09:13] mblaschke commented on #1557
@fpetkovski
using the official ingress-nginx chart: https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx

[2021-09-13 09:54] fpetkovski commented on #1437
@roystchiang are you still interested in this issue and should we reopen it?

[2021-09-13 11:09] fpetkovski opened #1574 "Implement a mechanism for opt-in metrics"
**What would you like to be added**:
A way to enable potentially risky metrics through an opt-in command line argument.

**Why is this needed**:
New metrics are regularly added to kube-state-metrics and KSM versions automatically expose these new metrics on the `/metrics` endpoint. Because of this, we have to be very careful when deciding which metrics KSM should include in order to not break user

[2021-09-13 13:12] idsvandermolen commented on #1573
We already suspected it was because of cardinality issues. I can have a look at the code, do you happen to know if there's a authoritative source for possible pod status reasons like `NodeAffinity` or `Shutdown`

[2021-09-14 14:25] fpetkovski commented on #1573
That's a good question, I am not sure if there is such an authoritative source. For now we can add the two new reasons that you needed and we can think about how to scale the approach if more use cases come up

[2021-09-15 08:53] yosshi825 opened #1576 "`kube_cronjob_annotations` is output even though` --metric-annotations-allowlist` is not set"
**What happened**:

When I set `--metric-labels-allowlist=cronjobs=[*]`, the metrics are also output to `kube_cronjob_annotations`

**What you expected to happen**:

- Expected behavior

[code]

  If `--metric-annotations-allowlist` is not set, the metrics of `kube_x_annotations` will not be output.

- Fact

[code]

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a clu

[2021-09-15 10:56] PierreRust commented on #1501
Hi,

I have the same issue, with v2.1.1   the metric `kube_pod_labels` does not contain any pod label, e.g.  the exporter exposes this
[code]
while that pod clearly a some labels :
[code]
Note that I' not using the `--metric-labels-allowlist`argument when launching kube-state-metrics.

Is that the expected behavior ?  is the `--metric-labels-allowlist=pods=[*]` now required to get all pod's label

[2021-09-15 12:18] mrueg commented on #1576
Thanks for your report!
Can you try downgrading `apiVersion: batch/v1` to `apiVersion: batch/v1beta1`?

[2021-09-15 13:48] #1573 closed

[2021-09-16 06:20] fpetkovski commented on #1501
It seems that this was a breaking change introduced in KSM 2 but it was not well documented in the changelog. From what I can see, KSM 1.9 adds all pod labels to the `kube_pod_label` metric by default:
https://github.com/kubernetes/kube-state-metrics/blob/e72315512a38653b19dcfe4429f93eadedc0ea96/internal/store/pod.go#L168

KSM 2 on the other hand, filters pod labels based on the labels allowlist:

[2021-09-16 09:35] yosshi825 commented on #1576
I tried `apiVersion: batch / v1beta1` with` k8s v1.20`

1. Create a cluster using kind.

[code]

2. Apply the following manifest

[code]

[code]

3. Check metrics

[code]

    Same result as `apiVersion: batch / v1`

- Kubernetes version

[code]

It's not what I expected, but I'll try again after this PR https://github.com/kubernetes/kube-state-metrics/pull/1491 is merged.

[2021-09-17 10:48] dbarranco opened #1579 "Kube-State-metrics 2.2.0 not resolving PodDisruptionBudget percentages"
Hello, team!

**What happened**:

I have recently upgraded the kube-state-metrics version I'm running in my Kubernetes cluster form the 1.9.7 version to the 2.2.0 one (latest release compatible with Kube 1.19).

After this upgrade some Prometheus alerts that were based on the `kube_deployment_spec_strategy_rollingupdate_max_unavailable` metrics started firing. Specifically, this is the Prometheus

[2021-09-20 16:06] #1576 closed

[2021-09-21 11:10] mindw commented on #1557
@liangyuanpeng Are you still planning to work on this? If not I can take a stab at it :)

[2021-09-21 11:43] mindw commented on #1501
Hi, I was looking into upgrading to 2.x and stumbled on this one. Controlling which labels/annotations are exposed seems like a good feature to me overall.

The change in behavior can be summed as:
* 1.x exposed all labels on all resources. 2.x exposes none
* 2.x allows exposing either *all* or a named subset of metrics *per* resource.

There are two cases where the current implantation may seem a

[2021-09-21 13:48] #1503 closed

[2021-09-21 13:48] KarstenSiemer opened #1582 "Cannot get kube_namespace_annotations to display annotation labels"
**What happened**:
Currently trying to get namespace annotations to be appended to the kube_namespace_annotations metric.

Added `- --metric-labels-allowlist=namespaces=[*]` without success. Also tried the non-wildcard exact string of the k8s annotation.
Namespace looks like this for example:

[code]

But metric comes out of ksm like `kube_namespace_annotations{namespace="myNamespace"} 1`

Adding

[2021-09-21 14:07] KarstenSiemer commented on #1582
My bad. Completely overlooked the flag that totally suspected myself. What a day

[2021-09-21 14:07] #1582 closed

[2021-09-21 14:10] #1546 closed

[2021-09-22 08:17] #1330 closed

[2021-09-22 14:41] fpetkovski commented on #1501
@mindw that seems like a good summary to me :+1:

[2021-09-22 14:51] fpetkovski commented on #1579
Hi @dbarranco, thanks for this report.

I tested this metrics with a deployment of 10 replicas and a maxUnavailable of 25%. KSM reports the following series:
[code]

To me looks like the correct behavior. Were you expecting to see something else?

[2021-09-24 03:05] jikunbupt opened #1585 "Usage of container ephemeral storage metrics for monitoring"
**What would you like to be added**: A metrics of usage of container ephemeral storage for monitoring

**Why is this needed**: Like disk usage of node, when usage of ephemeral storage reach a line, we can get a alert in tiem, and fix it.

**Describe the solution you'd like**: Add a metrics to monitor usage of ephemeral storage

**Additional context**

[2021-09-24 09:30] haoqing0110 opened #1586 "how can I watch multiple resource and only update one metrics"
**Describe the solution you'd like**
Refer to the PR https://github.com/kubernetes/kube-state-metrics/pull/586,  each metrics are cached by object uid.

My case is I want to watch one namespace scoped resource and one cluster scoped resource, anyone of they change, update the change into one metrics.  However, with the current design, as metrics are cached by object uid, there will be two same met

[2021-09-26 19:32] jonasmulticloudiac opened #1588 "Failed to pull image "k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.2.0":"
I tried to install kube-prometheus-stack- but I have this  errors on pod kube-state-metrics.

  Warning  Failed     4s (x3 over 39s)   kubelet            Failed to pull image "k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.2.0": rpc error: code = Unknown desc = failed to pull and unpack image "k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.2.0": failed to resolve reference "k8s.gcr.io/ku

[2021-09-27 07:47] fpetkovski commented on #1588
`docker pull k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.2.0` seems to work for me so it could have been an intermittent issue. Are you still able to reproduce it?

[2021-09-27 17:57] ercindemir opened #1590 "No replicaset kube state metrics in Prometheus"
I'm trying to set some alarms based on [replica set metrics](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/replicaset-metrics.md) but Prometheus cannot find replicaset kube state metrics while browsing expressions. What would be the problem with that? On Prometheus dashboard, I can see lots of metrics, which is in kube state metrics repo, but replica sets. Is it kube-metric-sta

[2021-09-28 06:50] fpetkovski commented on #1590
Replicaset metrics should be available in 1.9: https://github.com/kubernetes/kube-state-metrics/blob/release-1.9/docs/replicaset-metrics.md

[2021-09-28 12:14] #1557 closed

[2021-09-28 13:08] ercindemir commented on #1590
@fpetkovski yes, I checked that, too. But I can't fix any metrics whereas I can find daemon sets or stateful sets.

[2021-09-28 13:18] fpetkovski commented on #1590
Have you checked the logs of KSM to see whether there are any warnings or errors? Also, could you provide the deployment yaml you're using to run KSM?

[2021-09-28 14:36] ercindemir commented on #1590
thanks @fpetkovski! The service account had some missing privileges. Now, it's working as expected. I'm closing the issue.

[2021-09-28 14:36] #1590 closed

[2021-09-30 10:36] jacekn opened #1593 "Add namespace denylist option"
**What would you like to be added**:

I think it would be useful to have  ability to exclude certain namespaces. Currently it's only possible to get metrics for all namespaces or for explicitly defined namespace list using the `--namespaces` flag.

**Why is this needed**:

There are two use cases that I can think of.

First one is where someone wants to have different scrape interval for a selecte

[2021-09-30 16:47] mallow111 commented on #1593
/assign

[2021-09-30 18:51] flaker opened #1594 "HPA using a custom metric of type Object is not visible in `kube_horizontalpodautoscaler_spec_target_metric`"
**What happened**:

I have a custom metric (via Prometheus Adapter) to drive the HPA of a certain deployment. It's an Object metric, in this case a Deployment. The target type is "Value"

[code]
The HPA is behaving as expected scaling the deployment. BUT when I query `kube_horizontalpodautoscaler_spec_target_metric` my HPA is not there. Other HPA based on custom metrics but applied to Pods (a more

[2021-10-05 06:58] fpetkovski commented on #1594
Hi :wave: thanks for the report.
Object metrics should be exported from what I can see: https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/horizontalpodautoscaler.go#L118.

Since you already have the setup needed to reproduce this issue, would you be willing to take a stab at it and try to track down the problem?

[2021-10-05 07:35] sherifkayad commented on #1536
@fpetkovski seems like I am facing an issue with pods that have multiple containers. Is there a workaround for that? .. I can't seem to find the right PromQL query to solve that

[2021-10-05 15:41] flaker commented on #1594
Hi @fpetkovski, sure! Let me know how to proceed.

[2021-10-06 00:44] #1415 closed

[2021-10-06 09:38] dbarranco commented on #1579
Hey @fpetkovski
Thanks for the information.

In my example, I was running a 3-replicas deployment and the difference I saw from old versions to this one is that:

* In the 1.9.7 version, a `maxUnavailability` of the 25% of pods would be rounded up to 1 replica.
* In the 2.2.x version, a `maxUnavailability` of the 25% of pods would be rounded up to 0 replicas.

Configuring higher percentages (40% s

[2021-10-06 14:20] fpetkovski commented on #1594
Thanks for giving this a shot!

The easiest way to start is to run KSM locally is with `go run main.go --kubeconfig <kubeconfig>`. You can use the kubeconfig that points to the cluster where you are seeing the problem. [This](https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/horizontalpodautoscaler.go#L104) is the metric family that you are interested in, so you can eithe

[2021-10-06 14:51] #1579 closed

[2021-10-07 13:59] yasintahaerol opened #1598 "Wrong version label in 2.2.1 image"
**What happened**:

[code]

**What you expected to happen**:

It is expected that version should be  2.2.1

**How to reproduce it (as minimally and precisely as possible)**:
pull image

**Anything else we need to know?**:

**Environment**:
- kube-state-metrics version:  2.2.1
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Other info:

[2021-10-11 08:23] invidian opened #1604 "Expose metrics in protobuf format"
**What would you like to be added**:

kube-apiserver and kubelet (and probably other core Kubernetes components) supports scraping Prometheus metrics using protobuf:
[code]

KSM only accepts plaintext protocol though:
[code]

Protobuf definitely offers smaller network traffic, as number of data transferred varies between 3-7 times less from quick testing in favor of protobuf. I've seen #498 issue,

[2021-10-11 12:33] ahmed-mez opened #1605 "Breaking changes in the `BuilderInterface` released in a bug fix version (v2.1.1)"
**What happened**:

https://github.com/kubernetes/kube-state-metrics/pull/1499 introduces major breaking changes in the `BuilderInterface` interface.

- `BuildStoresFunc` now returns `[]*metricsstore.MetricsStore` (struct) instead of a `cache.Store` (interface). This made injecting custom stores impossible when kube state metrics is used as a library.
- `Build()` not exposing the store anymore. Th

[2021-10-11 21:57] milieu commented on #530
/remove-lifecycle stale

[2021-10-12 20:54] zarrarrana opened #1612 "Kube_job_owner missing owner_kind and owner_name"
**What happened**:

In kube_job_owner metrics 'owner_kind' and 'owner_name' are none for cronjob owned  jobs.
owner_kind="\<none\>"
owner_name="\<none\>"

**What you expected to happen**:

Expecting owner_kind and owner_name to be populated.

**How to reproduce it (as minimally and precisely as possible)**:
Run a cronjob and see the metrics in prometheus.

**Environment**:
- kube-state-metrics ver

[2021-10-13 22:15] geojaz opened #1613 "Example clusterrole needs RBAC update for GET permissions"
**What happened**:
I'm trying to get 2.2.3 working with autosharding enabled. I've tried using the default clusterrole from the manifests provided in the examples directories. The clusterroles seem to be missing the GET permission and as such, I see logs like this:

[code]
I fixed this by adding get permissions. I'll drop a PR that solves this for me.

**What you expected to happen**:
It would be

[2021-10-15 22:43] kevinwubert commented on #1465
I was looking for something just like this! Was there something blocking this from getting merged into kube state metrics 2?

[2021-10-18 06:58] arnitolog opened #1615 "arm64 image has wrong architecture"
**What happened**:
I want to run kube-state-metrics v2.2.3 on the arm64 node. I have downloaded the image k8s.gcr.io/kube-state-metrics/kube-state-metrics-arm64:v2.2.3.
But when I did docker inspect it showed the architecture is still amd64 and my Kubernetes arm node is not able to run this image :
[code]

**What you expected to happen**:
architecture is correctly specified for the image

**How to

[2021-10-18 16:02] #1598 closed, assigned to nobody

[2021-10-18 16:55] #1605 closed, assigned to nobody

[2021-10-18 16:59] #1460 closed

[2021-10-18 20:03] #1612 closed, assigned to nobody

[2021-10-20 19:40] #1593 closed

[2021-11-01 11:16] #1324 closed

[2021-11-05 07:41] fpetkovski commented on #1360
/remove-lifecycle stale

[2021-11-06 11:12] #1500 closed

[2021-11-08 09:14] fpetkovski commented on #1485
/remove-lifecycle stale

[2021-11-08 09:46] bavarianbidi opened #1624 "kube_endpoint_address_available and kube_endpoint_address_not_ready get computed by kube-state-metrics"
**What would you like to be added**:

`kube_endpoint_address_available` and `kube_endpoint_address_not_ready` should be marked as deprecated and replaced in the future by an other metric which only export these information and calculation could be done afterwards.

**Why is this needed**:

xref: https://github.com/kubernetes/kube-state-metrics/pull/1571#issuecomment-936327316

**Describe the solut

[2021-11-08 12:48] bavarianbidi commented on #1624
#1549 is also doing some changes on this topic

[2021-11-08 17:21] Serializator commented on #1615
I made a pull request (kubernetes-sigs/metrics-server#882) for the same issue at [kubernetes-sigs/metrics-server](https://github.com/kubernetes-sigs/metrics-server) and can verify that this issue also occurs with the `k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.2.3` image.

[code]

/assign

[2021-11-08 20:53] Serializator commented on #1574
@fpetkovski, I'm thinking about working on this but whilst scrolling through the code I noticed `metric-allowlist` and `metric-denylist`, in what way do these defer from the proposed solution?

https://github.com/kubernetes/kube-state-metrics/blob/7fd83751066b39d6f80fd31ee190d1cd2cd6352a/pkg/options/options.go#L91

[2021-11-09 12:13] yongzhang opened #1628 "metric_relabel_configs does not work as expected"
**What happened**:

I have kube-state-metrics starts with arg:
[code]

And defined scrap like this in prometheus, what I want is to replace label name  `k8s-app` or `app` to `app.kubernetes.io/name`
[code]
But it doesn't work, I got:
![image](https://user-images.githubusercontent.com/15604715/140922165-c398333d-0bd4-4995-b227-debdcaa38357.png)

Not sure if I defined wrong `metric_relabel_configs`

[2021-11-10 15:34] fpetkovski commented on #1574
Hey @Serializator, thanks for looking into this. The idea was to have metrics that are not exported by default and can be added through an explicit opt-in mechanism. I don't specifically know if we could reuse the `metric-allowlist` flag, but it might be an option worth exploring. Alternatively we could also add a new flag along the lines of `--additional-metrics` which is going to allow toggling

[2021-11-10 15:57] #1615 closed

[2021-11-11 09:34] Serializator commented on #1574
Thank you for clarifying @fpetkovski, using `--metric-allowlist` and `--metric-denylist` wouldn't support an opt-in kind of approach as they are exclusive and are more of an absolute "what metrics I want or not want" rather than "what metrics do I want **additionally** to those that are already enabled by default",  I understand now.

I would suggest using `--opt-in-metrics` as I think the term "o

[2021-11-12 07:24] #1628 closed

[2021-11-12 14:21] #1502 closed

[2021-11-13 21:32] PriyaTenneti opened #1630 "kube-state-metrics pod error: Failed to create client: error while trying to communicate with apiserver: Get "https://172.20.0.1:443/version?timeout=32s": Forbidden"
**What happened**:
When using custom-built kube-state-metrics image, kube-state-metrics is in CrashLoopBackOffState and getting following forbidden error.
[code]
**What you expected to happen**:
kube-state-metrics pod to be in running state.

**How to reproduce it (as minimally and precisely as possible)**:
I am using following Dockerfile to create the kube-state-metrics in EKS cluster
[code]
This

[2021-11-14 20:43] Serializator commented on #1574
/assign @Serializator

[2021-11-15 09:57] NissesSenap opened #1631 "Get metrics from selected namespaces using labels"
**What would you like to be added**:
A way of gathering metrics from multiple namespaces that matches a label/label selector.

**Why is this needed**:
I monitor multiple clusters where I'm interested in platform specific metrics while our developers uses other solutions to gather metrics.
There is no reason why I should gather there metrics as well.
The `--namepsaces` flag is a good start but it's

[2021-11-15 12:50] fpetkovski commented on #1630
Hi @PriyaTenneti, have you checked whether KSM has the proper RBAC permissions to export metrics for the requested resources?

[2021-11-16 22:05] PriyaTenneti commented on #1630
It is using the same RBAC permissions, it works fine when using the image available in the [quay ](https://quay.io/repository/coreos/kube-state-metrics?tag=latest&tab=tags).
This issue is happening only when using the image I have built (as mentioned above).

[2021-11-18 11:30] ulikl opened #1635 "Add a new metric for HorizontalPodAutoscalar metrics with scaleTargetRef values"
**What would you like to be added**:

This repeats the feature request from the automatically closed Issue #1395

**Why is this needed**:

I would like to find HPA, which have a non existing target.

**Describe the solution you'd like**

See #1395

**Additional context**

[2021-11-18 12:14] fpetkovski commented on #1635
Hi @ulikl, thanks for this issue. Would you be interested in adding the hpa ref to the existing kube_horizontalpodautoscaler_info metric?

[2021-11-18 12:49] jacekn commented on #1593
@fpetkovski apologies for pinging your directly but I can see that you normally cut new releases of the kube-state-metrics.
This feature was merged 29 days ago - is there a process or schedule for it to be released? I checked latest version and the feature is still not there.

[2021-11-18 13:08] fpetkovski commented on #1593
Hi @jacekn, no worries. We are actually planning to cut a new release in the following days. We don't have a regular schedule for now and we make releases either on demand or when we get a significant amount of contributions. Nevertheless, thank you for that feedback, we'll see if it makes sense to have a more regular release schedule that people can rely on.

[2021-11-18 14:36] fpetkovski commented on #1593
@jacekn since Kubernetes 1.23 is just around the corner, it would be best to wait until it is released and cut KSM 2.3. I hope that's not too long of a wait for you.

[2021-11-18 16:13] ulikl commented on #1635
Hi Filip,

I don't care, if this is implemented via a new metrics or added to the existing info metrics.
I think adding this to the metric kube_horizontalpodautoscaler_info would fit better to the kube_pod_info label created_by_kind/name.

[2021-11-18 16:29] fpetkovski commented on #1635
In that case, would you be interested in contributing this change?

[2021-11-18 16:33] kherrmann3 opened #1638 "Not seeing reason for failure on all kube_job_status_failed queries"
**What happened**:
When I do a global search of `kube_job_status_failed` inside of prometheus I'm getting some results that don't have the reason in them.

I'm not exactly sure what the numerical return indicates for this metric. I first thought it indicated the metric was live, but it didn't make sense since the metric instance should only show if the job failed, correct?

When the value is 1, I'

[2021-11-18 17:10] ulikl opened #1639 "Add Metrics for Job ownerReferences"
**What would you like to be added:**
A new metric which provides owner reference details for Jobs.

**Why is this needed:**
I would like to aggregate the jobs by it owners similar to created_by_kind/created_by_name for pod via kube_pod_info.

**Describe the solution you'd like**
Example Job YAML:

[code]

Possible NEW Metric:

`kube_job_owner_reference{namespace="my-namespace",job_name="my-trigger

[2021-11-19 07:57] fpetkovski commented on #1630
Unfortunately we cannot provide support for custom-built images. Looking at the Dockerfile, it seems that there are other things besides KSM running in the container. I don't know enough about twistlock to tell whether it is interfering with KSM or not.

[2021-11-19 11:06] Serializator commented on #1574
I created a PR (https://github.com/kubernetes/kube-state-metrics/pull/1632) related to this issue with the purpose of refactoring some of the code to allow for easier extensibility (e.g. to add an opt-in metric family filter).

[2021-11-20 16:28] kd7lxl commented on #1046
Those tickets don't mention monitoring usage, just the requests and limits. Seems like a different (but related) thing.

[2021-11-20 22:56] Serializator commented on #1639
Hi @ulikl,

Do the existing metrics below not suffice your needs / requirements? Looking at your example `kube_job_owner` would be a match.

| Metric Name                      | Metric Type | Labels                                                                              | Status       |
|----------------------------------|-------------|---------------------------------------------------------

[2021-11-21 11:06] mrueg commented on #1554
/remove-lifecycle stale

[2021-11-22 09:15] ulikl commented on #1639
Hi Julian

yes, kube_job_owner is what I'm looking for.
Sorry I overlooked this.

Ulrike

[2021-11-23 05:46] harjas27 commented on #1638
The metric gives `The number of pods which reached Phase Failed and the reason for failure`, so the value is the number of pods which failed because of that particular reason. When you are seeing value :-
* 1 - one pod failed, if the reason label is empty it means that the reason is unknown else the reason label indicates the reason for failure
* 0 - none of the pod failed for the given reason. If

[2021-11-23 15:55] Serializator commented on #1574
#1632 is merged and I will continue working on the opt-in functionality this weekend or maybe somewhere in the evening in the next few days.

[2021-11-24 03:17] Garrybest opened #1640 "Extend kube-state-metrics to support Custom Resource metrics"
**What would you like to be added**:
Since the CRD has been widely used nowadays, is there any chance for `kube-state-metrics` to support Custom Resource metrics extension, a little bit like `kube-scheduler`. The repo [scheduler-plugin](https://github.com/kubernetes-sigs/scheduler-plugins) is based on the out-of-tree scheduler plugins framework.

I suppose we could make small changes to make users

[2021-11-24 11:26] dgrisonnet commented on #1638
There definitely seems to be something wrong with this metric. I personally wouldn't expect `kube_job_status_failed` to report any reason since there might be multiple pods that failed with different failure reasons. It should be only responsible for reporting `The number of pods which reached Phase Failed` as the `kube_job_status_succeeded` metric is doing for succeeded jobs.

If the reason is re

[2021-11-24 12:54] 1998729 opened #1641 "prometheus didn't find it"
hi ～ I tried to deploy kube-state-metrics in version 1.22 of kubernetes, and deploy the manifest file in the stand of the example directory, but why is there no comment of prometheus auto-discovery service in the service, and how should he let prometheus discover it by itself?

[2021-11-24 12:55] 1998729 commented on #1641
![image](https://user-images.githubusercontent.com/88186802/143242422-fee03e7d-24b3-4c93-9095-b83e8d8db7e4.png)
![image](https://user-images.githubusercontent.com/88186802/143242450-3c71123a-3723-4334-bc1c-461d3f392811.png)

[2021-11-24 12:56] 1998729 commented on #1641
![image](https://user-images.githubusercontent.com/88186802/143242503-da2375ee-86c6-40e1-b395-ace9e0d10124.png)

[2021-11-24 13:29] doktormerlin opened #1642 "kube_service_info only showing kube-state-metrics as pod, job and container, not the actual pods that the services point to"
**What happened**:
When using `kube_service_info` all services listed only have the kube-state-metrics pod as the pod in `pod` field

**What you expected to happen**:
The `pod` field should be populated with the pods that the service points to

**How to reproduce it (as minimally and precisely as possible)**:
Use `kube_service_info` in your query

**Anything else we need to know?**:
None

**Enviro

[2021-11-24 16:13] Dutchy- commented on #1363
I have the exact same issue after updating a deployment:

Shortened for readability and confidentiality:

[code]

These are no longer in sync after updating the deployment. I would very much like to know if anybody found a solution.

[2021-11-25 06:57] fpetkovski commented on #1642
Hi @doktormerlin, I don't think this is a bug.
KSM is intended to export metrics about the resources themselves with direct one-to-one mapping.
So the `kube_service_info` metric should contain information about services and should not be aware of other resources in the cluster. Everything else should be calculated with PromQL instead.

In addition, the `pod` label that you're seeing is very likely

[2021-11-25 07:33] fpetkovski commented on #1641
Hi @1998729, did you use kube-prometheus for your setup?

[2021-11-25 07:43] fpetkovski commented on #1640
I think this is a really cool idea. There's also the alternative to enable dynamic configuration of exporters through a config file, but I think that's more complicated than what you're suggesting.

Since you already have an idea of what needs to be done, would you be willing to make this contribution?

[2021-11-25 08:46] Garrybest commented on #1640
Hi @fpetkovski, thanks for your reply. That's great! I'm willing to make a contribution.

[2021-11-25 08:47] Garrybest commented on #1640
/assign

[2021-11-26 17:26] #1473 closed

[2021-11-28 18:57] slashpai commented on #1366
/remove-lifecycle stale

[2021-11-28 22:35] Serializator commented on #1639
@ulikl, could you close this issue as it is solved? 😉

[2021-11-28 23:25] #1639 closed

[2021-11-29 09:41] #1641 closed

[2021-11-29 12:12] Garrybest commented on #1640
/cc @fpetkovski

[2021-11-29 14:58] fpetkovski commented on #1373
/remove-lifecycle stale

still relevant

[2021-11-29 17:04] Serializator commented on #1635
@fpetkovski, I was reading through #1395 and the use-case described by @ulikl and I can't shake the question of:
Should this be even be a metric or a set of new labels which increase the cardinality of one an existing metric?

I believe new metrics and labels should be added with caution, as it is much harder to remove them later on if it turns out it was a mistake to add them.

In #1395 I read a

[2021-11-30 13:54] fpetkovski commented on #1635
Hey thanks for the feedback @Serializator.

I agree with your assessment that adding labels to existing metrics can turn out problematic by potentially increasing cardinality but also breaking existing queries that use aggregations. If this is the concern, we can definitely implement a new metric and err on the side of caution. KSM declares two metric classes at the moment, experimental and stable

[2021-11-30 22:27] Drugoy commented on #1313
/remove-lifecycle rotten

[2021-12-01 21:53] #1574 closed

[2021-12-04 22:16] Serializator commented on #1631
I would like to take this on but rather than adding an additional CLI option I would like to tackle this by extending the existing behavior of the `--namespaces` option whilst maintaining backward compatibility.

Suggested format / notation for `--namespaces` would be similar (but not entirely the same) to the existing one used for the `--metric-labels-allowlist` or `--metric-annotations-allowlist

[2021-12-05 21:28] #1389 closed

[2021-12-06 06:25] drewp opened #1647 "docs: readme says 'go get' then 'make', but there's no makefile"
Following https://github.com/kubernetes/kube-state-metrics#setup

[code]

makes this
[code]

Maybe the 1st command was meant to be a `git clone`?

[2021-12-06 16:06] dgrisonnet commented on #1647
Yeah, I think the README should be updated to use `git clone` instead of `go get` since its behavior changed a lot over time. Would you mind raising a PR @drewp?

[2021-12-06 16:08] dgrisonnet commented on #1640
For what it's worth, a similar effort was tracked in https://github.com/kubernetes/kube-state-metrics/pull/1644.

[2021-12-06 21:41] Serializator commented on #1635
/assign @Serializator

[2021-12-07 02:19] Garrybest commented on #1640
Hi @dgrisonnet, this issue is very helpful. I think it focuses on CRD itself rather than CR. IMO, both are important.

#1644 has given a revision that helps `ksm` to add any out-of-tree CR metrics. As a result, the extension of `ksm` will be improved and the whole framework of `ksm` could benefit for CR metrics. Users could define their own metrics or override the built-in metrics just registering

[2021-12-08 08:23] fpetkovski commented on #1631
This approach looks good to me. I would just start with implementing namespace selection by label and then we can tackle selection by prefix in a subsequent iteration. I don't think the latter is a very common use case.

Also, if you intend to rework the option parsing for readability, could you please make that an independent PR?

[2021-12-08 08:48] Serializator commented on #1631
Do you mean this kind of notation?:
[code]

[2021-12-08 08:53] fpetkovski commented on #1631
We can use the notation you originally suggested, but we can only implement watching namespaces by label in the first iteration.

[2021-12-08 10:53] NissesSenap commented on #1631
Sorry for late reply @Serializator .
My understanding of your example is that you are using the namespace labels but using
`--namespaces="*=[platfrom=true]"`

If so I think it sounds like a good solution.

[2021-12-08 11:05] Serializator commented on #1631
I understand but the part I'm still confused about is if we decide not to add prefixes initially that would mean the `*=[...]` wouldn't be implemented yet either, as the "*" in there is basically the same wildcard that would be used in prefixes. Or am I completely misunderstanding what you mean?

If you find it easier I'm also on Slack in `#kube-state-metrics` to discuss this further so that we un

[2021-12-08 14:07] fpetkovski commented on #1631
Ah, okay, so the wildcard is essentially a prefix placeholder and the brackets contain the labels from the namespace.

If it is easier for you do implement both prefixes and labels, that's also fine. I was thinking in the first iteration we could ignore the prefix altogether and just filter on the labels, but that could also end up causing confusion.

[2021-12-08 14:15] Serializator commented on #1631
I completely agree with your view in terms of simplicty, though in this case that would have the opposite effect. I will definitely keep it in the back of my mind and if it turns out to make it more complex I will take a step back and re-evaluate.

/assign @Serializator

[2021-12-09 10:00] #1635 closed

[2021-12-09 17:03] #1241 closed

[2021-12-10 13:00] rameshmishra777 commented on #1501
can i know what will be the workaround for this - we are also using the query to expect the pod/namespace for the cpu metrics and use the kube_pod_labels to get the pod name based on labels.

`max(kube_pod_labels{label_workflow_instance_id="$workflow_instance_id", label_workflow_vertex_id=~"$workflow_vertex_id", pod=~".+"}  * on(pod) group_left sum by(pod) (label_replace(node_namespace_pod_contain

[2021-12-10 13:18] #1508 closed

[2021-12-10 15:41] broken-ufa commented on #1501
This ```- --metric-labels-allowlist=pods=[*],deployments=[*]``` works properly in version 2.2.0

[2021-12-10 17:13] rameshmishra777 commented on #1501
@broken-ufa i tried this but no luck still getting a blank query output with the above mentioned PromQL used.

[2021-12-10 20:20] #1481 closed

[2021-12-11 07:24] #1527 closed

[2021-12-11 18:10] prashantv commented on #1481
/reopen

Having exit code would be useful for monitoring different types of container exits.

[2021-12-15 09:53] jessequinn commented on #1057
yes this is very strange. Using Victoria Metrics for instance,

Loki returns -

[code]

and  `vmalertmanager-victoria-metrics-k8s-stack` returns:

[code]

Why is the API not returning currentReplicas ?

[2021-12-15 11:53] SpectralHiss commented on #1465
:+1: This is useful for doing accurate total pod start time calculation, (instead of trying to infer from ready count or something), in my particular case trying to benchmark the effect of some Istio sidecar settings on startup time.
any updates @sgrzemski ?

[2021-12-17 07:54] bavarianbidi commented on #1630
@PriyaTenneti do you have enabled the `CloudNativeNetworkFirewall` on your twistlock environment?

As twistlock is adding another layer of security/complexity in your environment and the failure is happening here:

[code]

i highly assume you aren't able to communicate with the api-server, as the `version` endpoint isn't protected (per default).

But as Filip already mentioned, this is not an KSM

[2021-12-20 10:33] stevejr opened #1654 "Support regex expression in `namespaces-denylist` command line argument"
**What would you like to be added**:
Support regex expression in the  new `namespaces-denylist` and `namespaces` flags.

**Why is this needed**:
Users with a large number of namespaces that are created dynamically currently cannot exclude them from Kube-state-metrics as the namespace name is not known at the time of deploying kube-state-metrics.

**Describe the solution you'd like**
Ability to use

[2021-12-20 16:44] rameshmishra777 opened #1655 "pod_labels does not exists in kube_pod_labels metrics"
Can i know what will be the workaround for this - we are using the below query to expect the pod/namespace for the cpu metrics and use the kube_pod_labels to get the pod name based on labels.

But somehow the `kube_pod_labels` prom metric doesn’t have the `pod labels`

[code]

Able to see empty query result for this. we are having out cluster over EKS(attached the grafana UI screenshot)
![Grafana]

[2021-12-21 06:45] fpetkovski commented on #1655
Can you confirm that KSM is exporting a `kube_pod_labels` metric on the /metrics endpoint?

[2021-12-21 07:41] fpetkovski commented on #1654
Thanks for creating the issue, would https://github.com/kubernetes/kube-state-metrics/pull/1656 solve your problem?

[2021-12-21 07:46] stevejr commented on #1654
Well it depends if the label value needs to be fully qualified aswell or if a regex can be used.

I still think being able to accept a regex in the namespace cli arguments would still be beneficial.

[2021-12-21 08:43] Serializator commented on #1654
@stevejr, currently #1656 only contains the parsing of the syntax to allow for more complex arguments to the `--namespaces` option. Thus right now the PR is only for transforming the syntax into a data structure (a map in this case) which we can later use. The eventual implementation / the way the data is used is open for discussion.

I think using a regular expression for this is the appropriate

[2021-12-21 09:35] rameshmishra777 commented on #1655
@fpetkovski yes i can see the KSM is exporting the `kube_pod_labels` metric on the /metrics endpoint.
Below is the output for that -

# HELP kube_pod_labels Kubernetes labels converted to Prometheus labels.

`kube_pod_labels{namespace="services",pod="horse-2-water-ais-postprocess-v2-1-1640055600-45hx6",uid="6daf2b55-d442-4d26-8d96-7ebf226ec3d5",label_controller_uid="96ae98e2-58ac-4d88-9fe1-e9d3150

[2021-12-21 09:43] fpetkovski commented on #1655
I don't see a workflow_instance_id, are you sure it exists on the pods?

[2021-12-21 09:49] rameshmishra777 commented on #1655
i can see these labels on one for the pod for the respective **`streamy`** namespace -

[code]

[2021-12-21 09:55] fpetkovski commented on #1655
Right, and those labels are exported as far ask I can see. However, your query is filtering kube_pod_labels by `label_workflow_instance_id="$workflow_instance_id"` and that labels does not exist on the pod.

[2021-12-21 10:02] rameshmishra777 commented on #1655
What i am doing is - not the right way i should go ahead with ? any suggestion here what needs to be done for that now?

[2021-12-21 10:34] fpetkovski commented on #1655
Ok, but I also see a selector `label_workflow_vertex_id` in the query, but no vertex_id label on the pod

[2021-12-21 10:57] fpetkovski commented on #1654
@Serializator  Thanks for chiming in with the implementation of #1656. Extending that work would definitely be a good way to add support for regex matchers. Let's keep this issue open until we have a concrete decision so that others can add their feedback as well.

[2021-12-22 04:19] rameshmishra777 commented on #1655
its because we dont have much pods running under that NS and i guess as of now we have just the one pod which i mentioned on the top with the kubectl describe.

[2021-12-22 22:28] irl-segfault commented on #1569
Same thing happening to me on EKS

[2021-12-23 23:12] Serializator commented on #1604
**DISCLAIMER;** I do not mean to bash on the code which is written or on the person who wrote the code. It is only meant as "what should be done to allow for an "easier" path of implementing Protocol Buffers" and not in any way as criticism.

`(metricshandler.MetricsHandler).ServeHTTP`  is responsible for serving HTTP requests for metrics. Though `metricshandler.MetricsHandler` is not only respons

[2021-12-28 16:44] tbaumann-sf opened #1658 "kube_node_status_allocatable does not appear to be updating the difference of allocatable resources"
**What happened**:
I am trying to plot the number of resources available on each of my kubernetes nodes in my cluster and unable to get the metric to change.  When I grab the value of kube_node_status_allocatable {resource= memory | cpu | pods } the value never changes over what it was initialized to (in my case 58).

**What you expected to happen**:
I would expect to be able to grab the metric va

[2021-12-28 16:54] aantn commented on #812
@garo you can do it with [Robusta](https://docs.robusta.dev/master/) by using an `on_dameonset_update` trigger.

[2021-12-28 21:08] WesCossick opened #1659 "Ability to include `process_start_time_seconds` in metrics"
**What would you like to be added**:

Currently, `process_start_time_seconds` is included in the telemetry metrics, but not included in the standard metrics. I'd like to be able to opt into this metric being included in the regular metrics endpoint.

**Why is this needed**:

The [prometheus-to-sd](https://github.com/GoogleCloudPlatform/k8s-stackdriver/tree/master/prometheus-to-sd) component expect

[2022-01-03 10:52] Serializator commented on #1604
I asked this in Slack as well but will ask it on here too simply so that everything and every question / answer is kept within the issue and doesn't get lost 👍🏼

https://kubernetes.slack.com/archives/CJJ529RUY/p1640638803044600

[2022-01-03 11:04] invidian commented on #1604
Thanks for looking into it @Serializator!

I forgot to mention that in the opening post. I think that would definitely be a preferable solution for this issue!

[2022-01-03 12:37] bizrad opened #1660 "panic in 2.3.0 related to bad ingress in GKE"
**What happened**:
kube-state-metrics panics and fails to start using config based on examples/standard directory, deployed to custom namespace

[code]

**What you expected to happen**:
kube-state-metrics to start without error

**How to reproduce it (as minimally and precisely as possible)**:
Deploy kube-state-metrics to GKE 1.21.5 in custom namespace
`kubectl create namespace observability`

Ful

[2022-01-03 12:48] bizrad commented on #1660
I also see a very similar failure if I downgrade to 2.2.4 or 2.2.3
[code]

[2022-01-03 12:49] fpetkovski commented on #1660
Hey :waffle: , thanks for reporting this. Do you know for which ingress this happens? Do you have any ingresses without a backend or a service backend? Looking at the code, that's the only thing which seems to be the root cause: https://github.com/kubernetes/kube-state-metrics/blob/e080c3ce73ad514254e38dccb37c93bec6b257ae/internal/store/ingress.go#L136

[2022-01-03 13:05] bizrad commented on #1660
@fpetkovski thanks for pointing that out. We had an ingress with a bad backend and removing it resolved the issue. However, I would still say having a single broken ingress should not be cause for crashing all of kube-state-metrics and there is still a bug here.

[2022-01-03 13:06] fpetkovski commented on #1660
Thanks for checking that. I agree that this is still a bug and we should keep the issue open until it is resolved :+1:

[2022-01-03 15:16] fpetkovski commented on #1658
Hi @tbaumann-sf, I think you might be running into expected behavior. The allocatable field in the node status indicates how much of a particular resource can Kubernetes use to schedule pods on that node. However, that value is not affected by how many pods are already scheduled, it merely indicates what portion of the node's resource is usable by the scheduler.

This link from the official docume

[2022-01-03 15:56] ozkansari37 opened #1661 "kube-state-metrics is giving ApiVersion deprecation warning even if deprecated ApiVersion is not deployed"
**What happened**:
kube-state-metrics prints logs like below on my newly created EKS Cluster v1.21, but I don't have any components with those ApiVersions.
[code]

**What you expected to happen**:
This warning shouldn't be seen because since I don't have any resources with those ApiVersion, it makes no sense I guess.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anyt

[2022-01-04 04:06] slashpai commented on #1661
I see we use this apiVersion in
 https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/cronjob.go

https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/poddisruptionbudget.go

I would wait for @fpetkovski to confirm, I can work on the fix

[2022-01-04 05:24] slashpai commented on #1660
/assign

[2022-01-04 07:59] fpetkovski commented on #1661
I believe there's already a PR to address this: https://github.com/kubernetes/kube-state-metrics/pull/1491. Now that 1.23 is out, we can rebase and merge it.

[2022-01-04 10:07] #1640 closed

[2022-01-04 10:12] fpetkovski commented on #1659
I see that there is an example in the repository which uses KSM 1.4. Does this example work? Was the `process_start_time_seconds` metric removed at one point?

[2022-01-04 10:38] ozkansari37 commented on #1661
Thank you for the effort, it would be really appreciated @fpetkovski  :)

[2022-01-04 14:13] WesCossick commented on #1659
@fpetkovski I'm not quite sure I understand your question. Could you clarify?

To be clear, `process_start_time_seconds` is available, but it's only available in the _telemetry_ metrics, which are exposed on a different port. So when `prometheus-to-sd` pulls the regular metrics from the standard port, `process_start_time_seconds` isn't included.

[2022-01-04 14:24] fpetkovski commented on #1659
Ah, looking at my comment, I haven't linked the actual example: https://github.com/GoogleCloudPlatform/k8s-stackdriver/blob/master/prometheus-to-sd/kubernetes/prometheus-to-sd-kube-state-metrics.yaml

This leads me to believe that either it is somehow possible to combine the two metric endpoints, or KSM 1.4 used to have this metric on the default port but it was moved to the telemetry one.

[2022-01-04 14:51] WesCossick commented on #1659
Oh, yes, that example is what we based our implementation on. It works, apart from the fact that it logs the "cumulative metrics might be inaccurate" warning (included in the issue description) every 60 seconds. But it's just a warning, not a fatal error, though it sounds like it should be addressed to ensure the metrics are accurate.

[2022-01-04 17:09] franck102 opened #1662 "Pod label rewriting policy is inconsistent with Prometheus operator's policy"
**What happened**:
I created a pod with a "com.acme/fooBar" label.
The label was rewritten to **com_acme_foo_bar** (https://github.com/kubernetes/kube-state-metrics/issues/1162 )
The pod reports metrics, which are scraped by Prometheus thanks to a Prometheus Operator ServiceMonitor on the pod's service. The service monitor specifies
[code]
In the scraped metrics the label is rewritten as **com_acm

[2022-01-05 12:41] fpetkovski commented on #1661
Closed via #1491

[2022-01-05 12:41] #1661 closed

[2022-01-05 20:51] tbaumann-sf commented on #1658
Fair enough, I was expecting it to go down based off of allocations.  I think I need to look into kubelet metrics for this.

[2022-01-05 20:51] #1658 closed

[2022-01-07 09:16] fpetkovski commented on #1662
The Prometheus Operator and KSM are independent projects. The reason for rewriting the label in KSM is well described in the issue that you linked. If you would like to see the same change in Prometheus Operator, then this issue is more suitable for that project.

[2022-01-07 09:48] franck102 commented on #1662
This is a disappointing stance. What I would like is for kubestate to not introduce breaking changes without at least providing a backward compatible setting/switch; especially when those changes conflict with other popular components of the ecosystem you rely on - even if they are independent projects.

[2022-01-07 10:01] fpetkovski commented on #1662
As described in the changelog, this was a breaking change introduced in a major version: https://github.com/kubernetes/kube-state-metrics/blob/master/CHANGELOG.md#v200-alpha--2020-09-16

My previous comment tried to explain that we cannot make changes just so that we align with other open source projects. In the long term that would mean complying with lots of different projects.

However, adding

[2022-01-10 19:15] dgrisonnet commented on #1659
From a kube-state-metrics point of view, I don't think that makes sense since we want the distinction between metrics about kube-state-metrics and the ones about the Kubernetes APIs. Since they are two different kinds of information, I don't think it makes sense to merge them together. With being said I can see two solutions:

1. It seems possible to specify multiple endpoints in the configuration

[2022-01-11 07:54] fpetkovski commented on #1659
I think this is just the container port for the KSM pod. The source seems to be defined bellow[1], and it seems that multiple sources can be set[2].

[1] https://github.com/GoogleCloudPlatform/k8s-stackdriver/blob/f65ad56360bd0edce5b1bd063f9eb645715796cf/prometheus-to-sd/kubernetes/prometheus-to-sd-kube-state-metrics.yaml#L34
[2] https://github.com/GoogleCloudPlatform/k8s-stackdriver/blob/master/p

[2022-01-11 09:14] dgrisonnet commented on #1659
Yeah, you are correct, that is definitely the pod spec, not sure why I thought it was the configuration of prometheus-to-sd.

Looking at the project a bit more, it seems that it checks the `process_start_time_seconds` metric per source so specifying two sources will not solve the issue: https://github.com/GoogleCloudPlatform/k8s-stackdriver/blob/master/prometheus-to-sd/main.go#L182-L187

With that

[2022-01-11 09:35] my1990 opened #1664 "kube_statefulset_labels cannot be queried"
There are two labels in Minio / Minio cluster,
![image](https://user-images.githubusercontent.com/16768690/148916961-4da4ece6-6969-4720-9098-3321358e489d.png)

I set kube-state-metrics/values.yaml
metricLabelsAllowlist:
  - namespaces=[minio]
  - pods=[*]
![image](https://user-images.githubusercontent.com/16768690/148917869-25a00b09-71e5-4891-a953-4f089894a010.png)

![image](https://user-images.gi

[2022-01-11 09:56] fpetkovski commented on #1664
You've only enabled labels for pods, but not for statefulsets. Can you try adding `statefulsets=[*]` as well?

[2022-01-11 11:35] #1664 closed

[2022-01-11 18:52] WesCossick commented on #1659
While I can see how combining all the metrics for both kube-state-metrics and Kubernetes APIs into a single server would solve the issue, I'm concerned about how that might impact users' Stackdriver costs. The telemetry metrics endpoint produces a response about 12KiB in size (at least on one of our development Kubernetes clusters). Google charges for every byte of custom metrics ingested, and, as

[2022-01-12 07:20] slashpai commented on #1662
/assign

[2022-01-12 08:30] franck102 commented on #1662
Thanks, a switch to rewrite labels as they were rewritten before 1162 would be perfect.

I do understand your rationale for the change, and yes I could file a request with the Prometheus operator project to adopt your new policy… but I’ll presumably get a similar response.

[2022-01-13 15:33] WesCossick commented on #1659
That's what I initially thought, too, but Stackdriver is pricier than you might think. Assuming the telemetry endpoint produces a 12KiB response, and assuming the default export interval used by prometheus-to-sd of 1 minute, then that's ~16.875MiB of data exported per day. At a rate of [$0.2580/MiB](https://cloud.google.com/stackdriver/pricing) (Stackdriver's current pricing), that'll end up addin

[2022-01-13 15:37] fpetkovski commented on #1659
Are you sure that the price is per MB scraped instead of MB stored? Prometheus metrics use far less resources on disk (~1.6B per sample) compared to the text exposition format.

[2022-01-13 15:45] WesCossick commented on #1659
Also, from experience, a small change to the number of metrics exposed by kube-state-metrics can have a noticeable impact on Stackdriver's monthly cost.

[2022-01-13 15:49] fpetkovski commented on #1659
What if we add a flag to export the telemetry metrics on the same port, but also allow opting out of those metrics using the `--metrics-denylist` flag? That should satisfy both yours and @dgrisonnet's concerns.

[2022-01-13 16:05] dgrisonnet commented on #1659
Theoretically, that would be a potential solution but in practice, it is more complex to do that with telemetry metrics as we don't control all the collectors that we have. For instance, we couldn't use just that to disable all golang and process metrics with today's implementation.

[2022-01-19 14:07] phillebaba opened #1665 "VPA Resource Request Metric"
**What would you like to be added**:

Additional VPA metrics containing the resource request and limit made by a Deployment or Statefulset.

**Why is this needed**:

VPA currently exposes the metric `kube_verticalpodautoscaler_status_recommendation_containerrecommendations_target` which contains the recommended memory and cpu resource request for each Deployment and Statefulset. Each time series c

[2022-01-19 14:25] fpetkovski commented on #1659
One way to do it is to decorate the gatherer and filter out the metric families it returns. Here's a POC which can be used as a starting point: https://github.com/kubernetes/kube-state-metrics/pull/1666/files

[2022-01-19 18:26] dgrisonnet commented on #1659
That sounds reasonable to me considering that there are only a few metrics families on the telemetry endpoint so the performance impact shouldn't be significant.

[2022-01-20 00:03] milieu commented on #530
/remove-lifecycle stale

[2022-01-20 14:19] fpetkovski commented on #1659
@WesCossick if would you be interested in contributing this feature? You can use that PR as an example of how telemetry metrics can be filtered with existing flags.

[2022-01-20 19:21] WesCossick commented on #1659
I wouldn't necessarily have the bandwidth to work on that myself, at least not for the foreseeable future, but I'll see if one of our team's other engineers can tackle it. We don't use Go at our company, though, so the unfamiliarity there may pose an issue.

[2022-01-21 12:29] #1488 closed, assigned to nobody

[2022-01-23 09:41] liangyuanpeng commented on #1557
Sorry for my late, seems like i just lose this issue.
  @mindw   Thanks for your work.

[2022-01-24 07:08] #694 closed

[2022-01-26 11:08] eminaktas opened #1670 "version label value comes empty for kube_state_metrics_build_info"
**What happened**:

kube-state-metrics (v2.3.0) shows `version` metric label empty for `kube_state_metrics_build_info`.

[code]

**What you expected to happen**:

Like in the previous versions we should be able to see values of `version` label.

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- kube-state-metr

[2022-01-26 18:22] dgrisonnet commented on #1670
I couldn't reproduce your issue with the manifests provided in this repository, could you perhaps try?

Also, it is worth noting that this information is loaded into the binary so if you are using the official image `k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.3.0`, you should be able to see the version in the `kube_state_metrics_build_info` metric. Could you perhaps verify that it is the

[2022-01-26 20:27] eminaktas commented on #1670
@dgrisonnet thanks for the quick response.

Actually, we are using the [bitnami container image](https://hub.docker.com/layers/bitnami/kube-state-metrics/2.3.0-debian-10-r26/images/sha256-60a3852ecb8a84494021a42cdc9e07fc16a9d2546207aad520dfc0b7c3348b66?context=explore) I don't why but the older version is broken somehow. I checked the newest image it works perfectly. Also, I checked on the officia

[2022-01-26 20:27] #1670 closed

[2022-01-27 12:57] tzaspel-finatix opened #1672 "kube_ingress_* metrics should contain IngressClass name"
**What would you like to be added**:
Since Kubernetes 1.18 added the IngressClass resource, the kube_ingress_* metrics should include which Ingress has which IngressClass.

**Why is this needed**:
This is important because it provides the ability to filter the ingresses based on their IngressClass. Furthermore you can create alters based on the IngressClass or even if someone forgot to assign the

[2022-01-28 00:15] Serializator commented on #1672
There is an `ingressclass` label for the `kube_ingress_info` metric but this relies on the `kubernetes.io/ingress.class` annotation rather than the `ingressClassName` in the specification of the ingress.

[2022-01-28 06:13] tzaspel-finatix commented on #1672
Thanks for your response.
You are right. There is a `ingressclass` label in `kube_ingress_info`.
But when I use Cortex and query `kube_ingress_info` it doesn't provide a label with the Ingressclass.

![image](https://user-images.githubusercontent.com/90749078/151496167-829ac6c8-8d13-4991-a206-98d657f4d20d.png)

Maybe I explain it not correctly.

[2022-01-28 07:25] fpetkovski commented on #1672
Looks like the ingress class was added after the latest release. We'll cut a new release next week and you can upgrade to get that label.

[2022-01-28 08:44] tzaspel-finatix commented on #1672
Thanks, I greatly appreciate your prompt responses!

[2022-01-28 08:44] #1672 closed

[2022-01-31 03:09] dugalp opened #1673 "CVE-2020-26160 - kube-state-metrics:v1.9.7"
Hi,

We would like to know if the CVE (https://nvd.nist.gov/vuln/detail/CVE-2021-38297) for jwt-go in version 3.2.0 is on the cards for resolution? We are an enterprise and would like to get some help with removing the vulnerability from the minor version. If you could help make a new minor version with the fix, that would be grand!

-Patrick

[2022-01-31 07:47] fpetkovski commented on #1673
Since this is a transitive dependency, it might be a bit challenging to fix it.
It looks like the latest client-go still uses autorest/adal@v0.9.13[1], a release from 2019, which depends on jwt-go@3.2.0[2].

[1] https://github.com/kubernetes/client-go/blob/master/go.mod#L10
[2] https://github.com/Azure/go-autorest/commit/42fde3a09860e638198648a4b285f31c483752cf#diff-ab41db5de6362b311d24dab46562bab

[2022-02-01 01:39] jpdstan commented on #1569
Seeing another instance of this. These two metrics existed at the same time for the pod named `taskmanager-0`... the IP addresses differ because one IP is old one and the other IP is current one.

[code]

[2022-02-03 15:00] branttaylor commented on #1642
Sorry @fpetkovski meant to tag you on the above message.

[2022-02-06 18:18] dudicoco opened #1678 "What is the correct readiness probe port?"
Hi,

In https://github.com/kubernetes/kube-state-metrics/pull/858 @MIBc added `readinessProbe` on port `8080` within the example deployment manifest.
This was later changed in https://github.com/kubernetes/kube-state-metrics/pull/908 by @brancz to port `8081`.

Within the official helm chart the port is still configured as `8080`: https://github.com/prometheus-community/helm-charts/blob/main/chart

[2022-02-07 09:18] dudicoco commented on #1678
Thanks @fpetkovski.

In the end, everything is up for me to decide :)
However, I believe there should be an official recommendation, and currently it isn't consistent between the deployment manifest and the helm chart.

[2022-02-07 09:26] fpetkovski commented on #1678
I agree, we should at least document the options somewhere to avoid confusion.

[2022-02-07 13:24] fpetkovski commented on #1642
We've had a similar issue before, but it seems it went stale along with the associated PR:
* https://github.com/kubernetes/kube-state-metrics/issues/1473
* https://github.com/kubernetes/kube-state-metrics/pull/1525

If you are interested, you maybe pick up from where the previous contributor left? We already have a mechanism no for explicit opt-in.

[2022-02-07 14:38] m-messiah commented on #1166
Hi! I just got the same issue with `--use-apiserver-cache` flag, while removing this flag returns output back to normal unique metrics.

It is cached three attempts of scheduling pod, resulting in three different kube_pod_info metrics with different uid and exported_node

[2022-02-07 14:38] m-messiah commented on #1166
/reopen please

[2022-02-07 14:48] m-messiah opened #1679 "duplicated metrics using kube-state-metrics sharding with --use-apiserver-cache"
**What happened**:
Running kube-state-metrics in shards with enabled `--use-apiserver-cache` resulted in having constantly growing metrics which are not related to actual data.

**What you expected to happen**:
Correct sharding with reduced apiserver latency

**How to reproduce it (as minimally and precisely as possible)**:
1. Start more than 1 shard of kube-state-metrics.
  deployment0: `--shard=

[2022-02-07 15:14] dgrisonnet commented on #1679
This might be because the mechanism we rely on to serve cached data from the apiserver is vulnerable to stale reads: https://github.com/kubernetes/kubernetes/issues/59848. I think it is not emphasized enough in the help text that this flag should be used with care because of that.

That said, do you know if this is replicable with only one instance of kube-state-metrics? Because it looks like ther

[2022-02-08 00:27] jpdstan commented on #1679
We're seeing the same thing https://github.com/kubernetes/kube-state-metrics/issues/1569

[2022-02-08 14:16] dgrisonnet commented on #1679
@jpdstan you were seeing the same problem without sharding right?

[2022-02-08 18:23] jpdstan commented on #1679
@dgrisonnet this is with sharding as well. 10 pods, approx 500k unique metrics each

[2022-02-09 00:07] shotnaka commented on #1662
Hi! I'm new to open source, and I'd like to try this good-first-issue first.

@slashpai I reassign myself. If you're still working on this issue and want an assignment, please leave a comment.

[2022-02-09 00:07] shotnaka commented on #1662
/assign

[2022-02-09 05:13] slashpai commented on #1662
@shotnaka no problem you can have this one
/unassign

[2022-02-09 09:58] fpetkovski commented on #1679
I wonder if we have a bug in https://github.com/kubernetes/kube-state-metrics/blob/main/pkg/sharding/listwatch.go.

Does the issue happen without sharding?

[2022-02-10 16:04] olivierlemasle commented on #875
/remove-lifecycle rotten

[2022-02-15 09:02] ymwfish opened #1684 "server returned HTTP status 403 Forbidden"
Endpoint:
https://172.16.80.154:6443/api/v1/namespaces/kube-system/pods/http:kube-state-metrics-77879b89ff-rhw9b:8080/proxy/metrics

[2022-02-15 09:03] ymwfish commented on #1684
Is there a problem with my agent address? Or do you need some other authorization?

[2022-02-15 14:18] bavarianbidi commented on #1624
/remove-lifecycle stale

[2022-02-15 20:43] ntorba commented on #1414
@bmy4415 did you ever find a fix for this?

[2022-02-16 11:40] whitebear009 commented on #1594
I have meet the same issue. After reading the code, I understand.

Since the kube_horizontalpodautoscaler_spec_target_metric metric currently uses the AsInt64() function when processing data, if there is a float type metric between 0 and 1, it will be filtered and will not be displayed.

I open the PR(https://github.com/kubernetes/kube-state-metrics/pull/1685) to solve it.

[2022-02-16 22:45] jhorwit2 opened #1686 "Add uid as label to service metrics"
**What would you like to be added**:

Add UID as a label, like it is on some other metrics, to all service metrics.

**Why is this needed**:

This is valuable since load balancer services in clouds often use the UID as the name of the cloud load balancer; however, there's no easy way then to join those metrics in say grafana given the uid is not available by kube state. Making UID available as a f

[2022-02-17 02:18] ymwfish commented on #1684
Prometheus is deployed on a single server and is not in the Kubernetes cluster

[2022-02-17 13:49] fpetkovski commented on #1684
Prometheus needs to be able to reach the IP address of kube-state-metrics. If it is running outside of the cluster, you might need to set up an ingress to expose it outside of kubernetes,

[2022-02-17 15:09] ntorba commented on #339
@saady did you ever figure out what might have went wrong with this?

[2022-02-18 02:14] liangyuanpeng commented on #1686
/assign

[2022-02-19 11:47] mrueg commented on #1554
/remove-lifecycle stale

[2022-02-19 17:38] sherifabdlnaby commented on #1415
I created #1689 to address this feature request.
@ronaknnathani @Drugoy @lilic Would like to know your opinion, and possibly re-open this ticket 😄

[2022-02-21 09:48] mrueg opened #1690 "Resource-scope metric endpoints"
**What would you like to be added**:
Currently kube-state-metrics offers a single endpoint to gather all metrics. Ideally, there would be a way to offer multiple endpoints or a filter on the endpoint to limit metrics.

**Why is this needed**:
As a user I want to be able to scrape specific metrics at different intervals to reduce the resource usage and amount of metrics generated per scrape.
**Desc

[2022-02-22 19:37] tyen-brex opened #1695 "kube_namespace_status_phase overcounts when namespaces are specified"
**What happened**:

Updated flags to specific `--namespaces=a,b,c`. When fetching metrics from the kube-state-pod, there are duplicate `kube_namespace_status_phase` metrics

[code]

**What you expected to happen**:

There are no duplicate `kube_namespace_status_phase` metrics for each namespace when using the `--namespaces` flags

**How to reproduce it (as minimally and precisely as possible)**:

[2022-02-23 00:37] ymwfish commented on #1684
I currently use ingress as a static resource for access, thank you!

[2022-02-23 00:37] #1684 closed

[2022-02-23 10:34] liangyuanpeng commented on #1695
I have reproduce it , let me check it.

/assign

[2022-02-24 09:20] #1588 closed

[2022-02-25 02:28] liangyuanpeng commented on #1695
@tyen-brex
After i check the history, you should get the metrics from `curl http://localhost:8080/metrics?namespace=kube-system&namespace=kube-public` when you run KSM for `--namespaces=kube-system,kube-public`.

Some issue and PR:
- https://github.com/kubernetes/kube-state-metrics/issues/368
- https://github.com/kubernetes/kube-state-metrics/pull/395
- https://github.com/kubernetes/kube-state-met

[2022-02-25 16:06] mruoss opened #1698 "Tag 2.4.1 does not contain the version changes"
Hey there

Is it possible to force push the tag [v2.4.1](https://github.com/kubernetes/kube-state-metrics/releases/tag/v2.4.1) and re-create the Release to include this commit e52d8ace?

Background: Our update mechanism uses the files in the example folder of the tag as base. Now the examples on tag v2.4.1 still point to a non-existing docker image tag (2.4.0).

Also the assets on the Release cont

[2022-02-26 13:27] liangyuanpeng commented on #1485
/remove-lifecycle stale

[2022-02-28 04:45] JohnRusk commented on #1679
@dgrisonnet

I see that K8s issue has been recently updated to say that the problem is solved for cases where the client component (e.g. kube-state-metrics) stays running.  E.g. if it stays running but fails over to a different API server instance then the problem won't happen (as long as it uses the Informer class).

But if the component itself restarts, the problem may still happen.

Does that r

[2022-02-28 04:52] JohnRusk commented on #694
I presume that this helps https://github.com/kubernetes/kubernetes/issues/59848#issuecomment-1022016228.  See also https://github.com/kubernetes/kube-state-metrics/pull/1499#issuecomment-879852379

[2022-02-28 08:40] #1686 closed

[2022-02-28 08:41] fpetkovski commented on #1698
Ouch, sorry about that. We had issues with building the images for v2.4.0 so we published a new tag, but forgot the bump the version.

We can't overwrite tags, but we can publish 2.4.2. Do you have a workaround until then?

[2022-02-28 08:49] fpetkovski commented on #1373
/remove-lifecycle stale

[2022-02-28 09:43] fpetkovski commented on #1698
We release patch versions only when there is explicit demand for it, but I think this would be a good case for it. I'll try to do it within the next few days.

[2022-02-28 13:17] Duologic commented on #1698
:wave: We just hit this too. I'll :+1: the main post and so should others hitting this issue so we can have a quick count of impact.

[2022-02-28 19:23] e-ngo commented on #1679
@fpetkovski
Does anyone have the context as to why we set RV = 0 in the Watch method despite the Reflector setting this RV For us after the initial List?
Code for reflector: https://github.com/kubernetes/client-go/blob/v0.22.0/tools/cache/reflector.go#L401-L415
Offending lines: https://github.com/kubernetes/kube-state-metrics/blob/008bdb1dc7bc6e0e0dd088ae140b45fd458083e0/pkg/watch/watch.go#L97-L99

[2022-03-02 14:55] dgrisonnet commented on #1679
@e-ngo this indeed seems like a bug, good catch

[2022-03-02 15:52] dgrisonnet commented on #1679
Could any of you perhaps try to see if the bug still exists after the fix made by @e-ngo? This image contains it: https://console.cloud.google.com/gcr/images/k8s-staging-kube-state-metrics/global/kube-state-metrics@sha256:126f7ef47ac7723b19cc9bc6a3d63c71bcd87888cd4c12e0101684a2eb7ca804/details

[2022-03-03 10:08] dgrisonnet commented on #1662
I don't really see the point of adding this CLI flag.

There was no breaking change that was introduced by #1162 to KSM, the support for label metrics was added in 2.0 at the same time as the label rewriting feature. So we never broke the API. Also, the metrics were introduced as EXPERIMENTAL so there was no guarantee about them in the first place.

Even though kube-state-metrics and prometheus-op

[2022-03-03 10:59] olahouze opened #1701 "Add I/O metric for kube_persistentvolumeclaim and kube_persistentvolume"
**What would you like to be added**:
1. We would need to visualize the I/O that each pod performs on the PVCs it uses (I/O on kube_persistentvolumeclaim)

2. We would also need to have the I/O of each PV presented in the cluster (I/O on the kube_persistentvolume)

**Why is this needed**:
We can currently monitor the I/O on the nodes' disks with **container_fs_writes_bytes_total / container_fs_read

[2022-03-03 13:31] fpetkovski commented on #1701
KSM can only export metrics about the state of kubernetes resources. The metrics you're interested in should be available from node_exporter: https://github.com/prometheus/node_exporter

[2022-03-03 14:20] liggitt commented on #1690
/remove-label api-review
/kind api-change

[2022-03-03 14:21] liggitt commented on #1690
(relabeling, api-review indicates a design or PR is ready for API review)

[2022-03-03 16:42] olahouze commented on #1701
Hello

What metric in the export node allows to have I/O on PV and PVC?
I don't see any metrics related to PV or PVS on my export node http://xxx:9100/metrics

Best regards

[2022-03-04 08:05] sylr opened #1703 "Ancestors name references in kube_pod_infos labels"
**What would you like to be added**:

I'd like that `kube_pod_infos` be added labels corresponding of the names of their "ancestors" (`deployment`, `replicaset`, `daemonset`, `statefulset`, `job`, `cronjob`), e.g.:

[code]

**Why is this needed**:

I believe this is needed so that it is possible to easily write queries with joins between pods and their ancestors, which is not possible with `create

[2022-03-04 08:57] fpetkovski commented on #1701
Ok looks like the cadvisor metrics integrated into kubelet might be a better solution. They're available on kubelet's `/metrics/cadvisor` endpoint on either port `10250` or `:10255`. The metric you might be interested in is `container_fs_usage_bytes` and it should give you the pod name. From there, however, you will have to somehow link the pod to the PV/PVC

[2022-03-04 09:32] olahouze commented on #1701
Hello

Indeed I found this metric **container_fs_** in the cAdvisor but this metric does not correspond to my need because I see only the device for this metric and not the PVC

For **container_fs_io_current**
_container_fs_io_current{container="airflow-flower", device="/dev/nvme0n1p1", endpoint="https-metrics", id="/kubepods/besteffort/pod3a14d445-26ba-4fca-be50-585b0a4aab6e/f5f7348eaf60071b3e35d

[2022-03-04 09:54] fpetkovski commented on #1701
kube-state-metrics can only give you metrics which reflect the state in the apiserver. Examples include the access mode of a PVC or the storage class. So KSM can expose fields which are available in the PersistentVolumeClaim and PersistentVolume objects
* https://pkg.go.dev/k8s.io/api/core/v1#PersistentVolumeClaim
* https://pkg.go.dev/k8s.io/api/core/v1#PersistentVolume

The disk usage is not refl

[2022-03-04 10:17] olahouze commented on #1701
Hello

Thanks for the answer

So the second box is a partial answer to my problem because I can see the total capacity, the free and used space for each PVC, but not the I/O

So I close this box because this type of information must be reported by cAdvisor and not by the kube-state-metrics

Thanks