[2022-03-04 10:17] #1701 closed

[2022-03-07 15:22] fpetkovski commented on #1360
/remove-lifecycle stale

[2022-03-08 13:06] #1698 closed

[2022-03-09 04:08] sthaha opened #1705 "Document/Assert newlines in coma-seperated-lists are ignored"
**What would you like to be added**:
Document (by adding a test) that the following is a supported invocation of `kube-state-metrics`
[code]
Document that the above is the same as `<ksm> --metric-denylist="^kube_.+_created$,^kube_.+_metadata_resource_version$,^kube_pod_completion_time$,^kube_pod_status_scheduled$`

**Why is this needed**:
This is relied upon in [`kube-prometheus`](https://github.c

[2022-03-09 14:14] #1705 closed

[2022-03-09 16:56] #1166 closed

[2022-03-10 09:54] qlaall commented on #699
this is a probe sample in prometheus-configmap.yaml:

`
    - job_name: 'kubelet-probes'
      kubernetes_sd_configs:
        - role: node
      scheme: https
      tls_config:
        ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      relabel_configs:
        - action: labelmap
          regex: __meta_ku

[2022-03-10 15:23] liangyuanpeng commented on #1631
/remove-lifecycle stale

[2022-03-10 21:10] mindw commented on #1501
/remove-lifecycle stale

[2022-03-12 23:36] #1613 closed

[2022-03-16 15:55] bsamsom opened #1707 "Add node name to Pod Metrics"
**What would you like to be added**:
I would like for more of the metrics from kube-state-metrics to include the "node" label.
**Why is this needed**:
Knowing which node the pod is running on is valuable information for triaging problems, and linking them to root causes. If for example you know node x is being worked on, being able to see this pod on on that node would let you know that the issue

[2022-03-17 12:51] fpetkovski commented on #1707
You can always join multiple metrics. In your example, you can use the following query to get what you need:
[code]

KSM tries to control cardinality as much as possible and offload most calculations to PromQL.

[2022-03-17 12:54] fpetkovski commented on #1703
[code]
Is that because you currently need to know which ancestor metric to join with?

[2022-03-17 13:16] sylr commented on #1703
I want this so I can join `kube_pod_info` with its ancestor to allow advanced filtering in my grafana dashboard, e.g:

[code]

[2022-03-17 14:30] fpetkovski commented on #1703
Can you use `label_replace` to inject the desired label? e.g.
[code]

[2022-03-21 12:28] Serializator commented on #1654
/remove-lifecycle stale

[2022-03-22 16:38] bsamsom commented on #1707
While that works on an individual metric, im trying to get all of our KSM metric based alerts to include the node label so i dont have to edit/rewrite all of our kuberentes alerts just to see what node the pod is running on.

I dont suppsoe you know a way to do that without editing all of our alerts via a source label remap or something simialar that would actually pull the pods node and not the k

[2022-03-29 13:54] fpetkovski commented on #1707
I see, in this case there's no simple way to add the label to all alerts. Unless @mrueg and @dgrisonnet have a reason why this can be problematic, I think it should be fine to add the node label to more pod metrics since there is a 1 to 1 mapping from pod to node.

[2022-03-29 14:20] dgrisonnet commented on #1707
Theoretically, it is fine to add the node name to the metrics as it doesn't increase the cardinality and it is useful information. However, since most of the pod metrics are marked as stable, I don't think we should add new dimensions to them.

[2022-03-30 11:34] arajkumar opened #1711 "autoscaling/v2beta2 HorizontalPodAutoscaler is deprecated in v1.23+, unavailable in v1.26+; use autoscaling/v2 HorizontalPodAutoscaler"
**What happened**:
The following warning is seen when you run KSM on k8s v1.23+ cluster,

[code]

**What you expected to happen**:
No warnings

**How to reproduce it (as minimally and precisely as possible)**:
 Run KSM on k8s v1.23+ cluster

**Anything else we need to know?**:

IIUC, KSM supports up to (latest - 3) k8s versions. Probably KSM can start use `autoscaling/v2 HorizontalPodAutoscaler` o

[2022-03-31 04:19] boniek83 commented on #1569
Happens to me with "Terminated" pods (but not yet removed by terminated pod garbage collector). KSM version: kube-state-metrics/kube-state-metrics:v2.4.1

[2022-03-31 06:00] fpetkovski commented on #1569
This case is expected since KSM exposes everything from the apiserver. If you are not interested in terminated pods, you can drop the series using relabeling.

[2022-04-04 08:49] fpetkovski commented on #1604
/remove-lifecycle stale

[2022-04-04 17:27] bizrad commented on #1660
/remove-lifecycle stale

[2022-04-06 13:48] paologallinaharbur opened #1714 "Readme clarification regarding authentication/authorization"
**What happened**:
I read the readme and I was a bit confused :trollface:

**What you expected to happen**:
Not to be confused

---

Jokes apart checking the readme I found this sentence:

 - Is still correct to say that "in most cases has special authentication and authorization is required"?
 - Can any authentication and authorization (in front of the ksm endpoint) supported by ksm/k8s be config

[2022-04-08 01:39] fzyzcjy commented on #1324
I am also seeing the same problem. Is there any updates? Thanks!

[2022-04-08 04:03] fzyzcjy commented on #500
Facing the same problem. Is there any updates?

[2022-04-08 04:19] fzyzcjy commented on #500
@zerda Hi how did you map the `/etc/localtime`? I tried the following but with errors:

[code]

[code]

[2022-04-08 09:07] fpetkovski commented on #1714
Hello 👋

I agree this can be a bit confusing. What that sentence is trying to say is that KSM exposes lots of information about resources in the form of metrics and anyone with access to the endpoint can see that information. However, whether authn/authz is required is really up to the user to decide.

Yes, an example would be deploying a basic-auth proxy as a sidecar. You can use 127.0.0.1 as the

[2022-04-08 10:22] paologallinaharbur commented on #1714
Ok thanks! 👍
I wanted just to clarify if the info reported in those issues were still updated.
I'll close the issue :)

[2022-04-08 10:22] #1714 closed

[2022-04-11 07:49] finkr opened #1715 "Allow wildcard or regex to whitelist labels (kube_pod_labels ...)"
We use labels and taints to reserve and/or restrict some nodes for some software with licenced based on CPU or vCPU.
We have standardised the name of those taints and labels (like `lic_vendorname_productname`).

Therefore we wish we could whitelist all labels prefixed with `lic_*`

[2022-04-11 10:23] tartemov opened #1716 "Labels for metrics are missing despite --metric-labels-allowlist"
Despite --metric-labels-allowlist settings labels and annotations are missing (only node label is appear) in metrics from kube-state-metrics.
I tried different labels and variants of regexps or specific labels but anything doesn't work. I used kube-prometheus-stack helm chart for monitoring solution.

After adding metricLabelsAllowlist at helm values setting I'm able to find new parameter in pod:

[2022-04-13 11:15] fpetkovski commented on #1716
The key in the map should be resource name and the value is a list of regular expressions for label names.
Can you try with:
[code]

[2022-04-13 11:19] fpetkovski commented on #1715
As an alternative solution, could you drop unwanted labels at scrape time with metric relabel configs?

[2022-04-13 12:12] tartemov commented on #1716
Hi, I've added
[code]
but nothing changed.

I have only node label on my kube_node_labels
[code]

[2022-04-13 12:12] tartemov commented on #1716
Hi, I've added
[code]
but nothing changed.

I have only node label on my kube_node_labels
[code]

[2022-04-13 12:18] tartemov commented on #1716
I've found solution - it should be in plural - nodes, pods.

Thanks for your help. You save my day :)

[2022-04-13 12:18] #1716 closed

[2022-04-14 14:41] prateekkhera92 opened #1717 "Add metrics for role, rolebinding and serviceaccount objects"
**What would you like to be added**:
Add metrics for role, rolebinding and serviceaccount objects

**Why is this needed**:
In one of my usecases - I need to access label, annotations from role, rolebinding and serviceaccount objects

**Describe the solution you'd like**
Add metrics for role, rolebinding and serviceaccount objects much liek we have for configmap, secret etc and add support for expo

[2022-04-15 05:22] iamcan13 opened #1718 "Support verticalpodautoscaler v1"
**What would you like to be added**:
Support verticalpodautoscalers/v1

**Why is this needed**:
Since vertical pod autoscalers CRD has been updated from v1beta2 to v1, kube-state-metrics should support new version of API. ([release note](https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.10.0))

**Describe the solution you'd like**
Generate client codes from version `v

[2022-04-20 19:28] milieu commented on #530
/remove-lifecycle stale

[2022-04-22 12:38] caatclaudia opened #1719 "Deployment Time Metrics"
## Proposal

In a Cluster with more than one application, the deployment time of all the applications is an important metric:

- To calculate the time that is necessary if the deployment of an application needs to be restarted;
-  To find out if the time is acceptable (e.g.: in certain Clusters, it may be necessary that the deployment time is less than 1min).

So, the Deployment time of the pods o

[2022-04-22 12:56] fpetkovski commented on #1719
Hello 👋, could you use the `kube_pod_created` metric?

[2022-04-22 14:36] fpetkovski commented on #1719
KSM exports `kube_pod_status_ready` which will be 1 as soon as the pod has become ready. Can you use that one?

[2022-04-22 17:34] caatclaudia commented on #1719
But the pod become Ready is different than Service that the pod provides become accessible, or not?

[2022-04-23 13:47] #1638 closed

[2022-04-25 06:03] fpetkovski commented on #1719
To solve this, you can [define a readiness probe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-readiness-probes) on the pod to tell Kubernetes when it should consider the pod ready. For example, your service can expose an HTTP endpoint indicating whether it is ready or not. Once it becomes ready, the pod containing it will also become

[2022-04-25 07:54] pgvishnuram opened #1720 "fix CVE-2022-27191 in x/crypto package"
Our CVE scanner identified a HIGH CVE in kube-state-metrics service, which can be fixed by updating the x/crypto package
![image](https://user-images.githubusercontent.com/81585115/165044877-03518b2a-c67e-41ef-a7b1-a4376a54bfa3.png)

[2022-04-25 09:07] #1720 closed

[2022-04-25 10:00] caatclaudia commented on #1719
Ok, let me see if I understand. What you saying is to define a readiness probe (I agree) and after, I verify with metric `kube_pod_status_ready` when the value is 1, right? With the definition of readiness probe, this metric reports 1 when the probe becomes ready, is this?

I already tried to use the `prober_probe_total` metric but this metric takes come time to be reported and, in some cases, the

[2022-04-25 11:50] fpetkovski commented on #1719
Yes, that would be the idea.

Keep in mind that the metric is binary, so it will show 1 once the pod becomes ready, but it will not report the exact time when it became ready. The time can be inferred from the timestamp when KSM was scraped.

[2022-04-25 13:34] bsamsom commented on #1707
@fpetkovski  @dgrisonnet Just following up to see if there has been an agreed upon descission on this as its been about a month since the last reply.

[2022-04-25 14:04] aidan-og opened #1724 "PV/PVC creation timestamp metrics"
**What would you like to be added**:
Addition of 'created' metric on PV/PVC metrics, using `creationTimestamp` field, similar to existing metrics for other components.

**Why is this needed**:
We have Prometheus alerts which alert if a PV is predicted to fill up in X days. However, disk usage is variable during creation which causes quite a few false positives each time a PV is provisioned for a n

[2022-04-27 12:14] dgrisonnet commented on #1724
@aidan-og this sounds like a good idea, would you be interested in contributing these new metrics?

[2022-04-27 12:17] dgrisonnet commented on #1707
I would personally be against this change since it would break stable metrics for non-essential purposes. As mentioned by Filip before, this information can already be aggregated from other metrics.

[2022-04-27 12:36] fpetkovski commented on #1707
Since we don't have a consensus, I also wouldn't want to change the metric.

Currently, our only way to evolve metrics beyond stable is to change them in a new major release.

[2022-04-27 13:37] dgrisonnet commented on #530
The thing is that kube-state-metrics is a project that exposes metrics based on a 1:1 mapping with Kubernetes objects and as of today, the CronJob object doesn't have any notion of state (https://github.com/kubernetes/api/blob/v0.23.6/batch/v1/types.go#L431-L445). There is indeed some state-related information exposed in the events, but that is out of kube-state-metrics scope. As such, I would rec

[2022-04-27 13:37] #530 closed

[2022-04-27 20:22] #1366 closed

[2022-04-28 08:09] aidan-og commented on #1724
@dgrisonnet sure, I'll tackle it!

[2022-04-30 00:40] #1313 closed

[2022-05-05 17:15] #1647 closed

[2022-05-09 10:51] Ga13Ou opened #1729 "Labels always changing"
Hello,

**What happened**:
I don't know if I am using the kube-state-metrics the wrong way or something. But everytime I update my prometheus helm chart (therefore update the kube-state-metrics chart as well as the image) my Grafana dashboards are broken. And after investigation I find out that each time one or a couple of labels changes names which breaks everything.

I don't know if there's a mi

[2022-05-09 13:37] Ga13Ou commented on #1729
My bad, after further investigations, it's apparently due to the addition of **honor_labels: true** in the default prometheus helm chart config. So I'm closing the issue.

[2022-05-15 08:34] Zeka13 commented on #1501
@rameshmishra777 I just checked, the fix I posted works

[2022-05-16 09:33] #1630 closed

[2022-05-16 15:38] fgiannetti commented on #1481
Hey @slashpai
Have some news about this? It would be really useful to have this feature ;)
Or maybe this message will reopen this issue...
Thank you!!

[2022-05-20 08:39] youpai opened #1736 "duplicated metrics using ksm statefulset"
### 1. versions
- k8s, v1.23.5
- kube-state-metrics, 2.4.2

### 2. problem(I'm not sure if it's a problem)
When I search the metrics by using prometheus ui, I get the result

![image](https://user-images.githubusercontent.com/29447211/169488699-7897ef34-69c5-4a91-8420-b16bd6377be5.png)

and other is similar

![image](https://user-images.githubusercontent.com/29447211/169489200-53775dfb-5274-4f63-a

[2022-05-20 12:08] mrueg commented on #1554
/remove-lifecycle stale

[2022-05-20 16:34] bjschafer opened #1737 "Expose additional pod IPs"
**What would you like to be added**: Currently, `kube_pod_info` returns `.status.podIP`, which is usually the pod's IPv4 address. With the stabilization of dual-stack networking, pods will also have an IPv6 address. This is exposed on `.status.podIPs` but doesn't appear to be exposed anywhere in kube-state-metrics.

**Why is this needed**: To be able to record all IPs assigned to a pod for investi

[2022-05-20 21:03] rashmichandrashekar opened #1738 "Ability to configure --metric-allowlist and --metric-denylist after startup"
**What would you like to be added**:
Ability to configure --metric-allowlist and --metric-denylist after startup. Today, we can only configure these as cli arguments at startup.

**Why is this needed**:
We need this functionality because we are installing kube-state-metrics as a dependent chart and we will need to redeploy the container if these settings have to be changed.

**Describe the solutio

[2022-05-21 06:09] #1655 closed

[2022-05-21 08:22] liangyuanpeng commented on #1736
It have not duplicated , they value is different.

[2022-05-21 14:13] youpai commented on #1736
yeah，I misdescribed it，I want to know why they have different values

[2022-05-23 02:53] splitice opened #1739 "Release v2.5"
Not exactly an issue, sorrry.

Is there any blockers to cutting a new release?

[2022-05-23 05:48] fpetkovski commented on #1736
I think this is fine, it might be caused by staleness from transitioning from one state to another in the CR. Are you seeing this consistently?

[2022-05-23 05:50] fpetkovski commented on #1737
I think this makes sense. Adding it as a new experimental metric is the way to go 👍

[2022-05-23 06:35] youpai commented on #1736
yeah，I think it occured at one time，but I always see it at any time. So how can I ensure it is fine

[2022-05-23 06:52] fpetkovski commented on #1736
It should be fine, you can add `== 1` at the end of your PromQL query to remove duplicates.

[2022-05-23 07:00] youpai commented on #1736
ok，thanks~

[2022-05-23 07:00] #1736 closed

[2022-05-23 11:27] fpetkovski commented on #1738
This would imply some sort of a config file that KSM would watch or reload based on an http request. I am not sure if the complexity of maintaining it would be justified. What are your concerns with simply recreating the KSM container?

[2022-05-23 12:00] fpetkovski commented on #1739
Yes, we need to do this soon :)

If you need something urgent until then, you can use the latest image from main: https://console.cloud.google.com/gcr/images/k8s-staging-kube-state-metrics/global/kube-state-metrics

[2022-05-25 03:05] rashmichandrashekar commented on #1738
In our onboarding scenario we have the KSM chart folded into a helm chart that deploys all the necessary components. Recreating the container seems like an overhead for configuration update which can be done in place without having to redeploy the entire chart.

[2022-05-25 03:20] vishiy commented on #1738
+1 . There should be an option for providing cli-arguments for the k-s-m executable thru a config-map. It would be lot simpler than redeploying k-s-m

[2022-05-26 06:03] tanzhenlong commented on #1684
I also encountered the same problem, the browser can be accessed normally, but the prometheus interface reports a 403 error. how did you solve it

[2022-05-30 05:56] fpetkovski commented on #1373
/remove-lifecycle stale

[2022-05-31 16:59] m-messiah commented on #1679
/remove-lifecycle stale

[2022-06-01 09:28] ymwfish commented on #1684
I currently use ingress as a static resource for access, thank you!

[2022-06-01 10:03] fpetkovski commented on #1738
There is a similar discussion here: https://github.com/kubernetes/kube-state-metrics/pull/1710#discussion_r886082800

The questions with having a config file are:
* How will KSM know when to reload the config
* Which options should be configurable in the file

[2022-06-01 15:45] fpetkovski commented on #1690
/remove-lifecycle stale

[2022-06-01 15:57] grzesuav opened #1744 "FR: Add kube_pod_tolerations metric"
**What would you like to be added**:
`kube_pod_tolerations` metric, as complementary to node taints metric

**Why is this needed**:
Gives additional information complementary to node taints information

**Describe the solution you'd like**
Expose that metric, with tolerations as labels.

example :
[code]

should result in
[code]

**Additional context**

[2022-06-01 18:22] jpdstan commented on #1679
i've tried the patch from @e-ngo , and using the query `count by (cluster_name, namespace, pod) (kube_pod_info{pod_ip=~".+"}) > 1`, it seems like the stale metrics are not happening anymore! i think we can close out this issue.

[2022-06-01 18:26] #1679 closed

[2022-06-03 12:18] splitice commented on #1739
Woot

[2022-06-03 12:18] #1739 closed

[2022-06-04 01:03] rashmichandrashekar commented on #1738
Thanks @fpetkovski

1. We can mount this file as a configmap and configure liveness probe to use a process like inotify to watch the volume and restart it when there is a change. That way we dont even have to pass in this file as a command line argument, we can just read from the mounted file path.
2. Ideally all the cli arguments could be just configuration settings. They be just be key value pai

[2022-06-06 14:44] m-messiah opened #1749 "Regression: CronJob and PodDisruptionBudget are unavailable in kubernetes < 1.21"
**What happened**:
https://github.com/kubernetes/kube-state-metrics/pull/1491 introduced switch to batch/v1 and policy/v1 for fresh Kubernetes versions.
The questions about broken compatibility were raised, but ignored: https://github.com/kubernetes/kube-state-metrics/pull/1491#pullrequestreview-672313243

So now, kube-state-metrics>=2.4.0 could not fetch CronJob or PodDisruptionBudget in Kubernet

[2022-06-07 08:20] m-messiah commented on #1749
Yes, we are forced to... I just wanted to have a feature of apiserver caching from 2.2.0, which works since 2.4.2 only.
Probably it would be better to backport a patch for our own

[2022-06-07 08:21] #1749 closed

[2022-06-07 11:37] mrueg commented on #1678
/remove-lifecycle rotten

[2022-06-08 04:29] bavarianbidi commented on #1624
/remove-lifecycle stale

[2022-06-08 11:06] benoittgt commented on #344
Hello

I am curious how do you monitor this metric. I use `changes` at the moment but it doesn't properly report first seen terminated reason.

[code]

![Screenshot_2022-06-08_at_12_13_08](https://user-images.githubusercontent.com/8417720/172601580-62eaa68d-3d80-48f2-a000-9dc8d861cc6b.jpg)

[2022-06-08 18:51] ssabo commented on #1481
/reopen

[2022-06-08 19:55] chrischdi opened #1753 "Custom Resource configuration may lead to invalid metricname"
**What happened**:

Started kube-state-metrics using the following args:
[code]

And the following `custom.yaml`:
[code]

The corresponding created metric has the following name `kube_cluster_x-k8s_io_v1beta1_MachineDeployment_spec_replicas`.

[code]

This metric name is invalid due to the `-` character according:

* the [openmetrics ABNF](https://github.com/OpenObservability/OpenMetrics/blob/main

[2022-06-08 21:12] chrischdi opened #1755 "Adjust Custom Resource configuration to support open metric types StateSet and Info"
**What would you like to be added**:

Kube-state-metrics v2.5.0 added the experimental Custom-Resource State Metrics #1710 (🎉  awesome 👍 ).

The current implementation allows the definition of metrics which directly refer to:

* numbers (all kinds of int or float)
* strings (only if they can be parsed to a float)
* or booleans (which result in values `1` or `0`)

because the `getNum` function expe

[2022-06-08 21:13] chrischdi commented on #1755
I did a small POC implementation which would fullfill both needs:

https://github.com/kubernetes/kube-state-metrics/compare/master...chrischdi:poc-additional-metric-types?expand=1

Of course this would need more considerations:
* Should the config be structured in some other way to have a cleaner distinction between the metric types?!
* This implementation should implement an additional validation

[2022-06-08 21:15] chrischdi commented on #1755
cc @mrueg follow up for the short slack discussion we had 😊

[2022-06-09 08:03] vharsh commented on #1659
/assign

[2022-06-09 11:17] #1753 closed

[2022-06-10 15:47] sherifabdlnaby opened #1758 "Add an option to allow adding Kubernetes Labels as Prometheus Metric Labels per metric-series"
I created this Issue for discussing and tracking PR #1689
Below is a transcript of the PR 👇🏻
------

# What this PR does / why we need it:

This PR Introduce a new flag `--per-metric-labels-allowlist` that its syntax works similar to `--metric-labels-allowlist` but instead of being a filter to add labels to `kube_X_labels`, it is a filter for K8S' labels that will be added to **each metric** time

[2022-06-18 15:55] #1665 closed

[2022-06-20 08:08] chrischdi commented on #1755
@mrueg or others, what would be best to continue on this issue?

Seen from a configuration perspective I have two kind of versions in my head:

1. The chaotic one (as linked above), which I think is not that good from a UX
2. Create a kind of typed configuration, similar to what is done in kubernetes' persistentVolumeClaim so each type could have its own struct for specific configuration options (

[2022-06-21 04:01] bavarianbidi commented on #1724
As #1741 got merged, this issue could be closed i guess?

[2022-06-22 09:24] bavarianbidi commented on #1624
+ @fpetkovski :point_up:

[2022-06-24 13:02] withnale opened #1762 "Allow an explicit value to be set for CustomResourceStateMetrics"
**What would you like to be added**:

With Custom Resource metrics, at present it only seems possible to generate values based on path attributes, but often it is desirable to define the metric to be a certain value e.g. 1

**Why is this needed**:

Sometime we want to create metrics of a form similar to kube_pod_labels

[2022-06-24 13:14] #1724 closed

[2022-06-24 21:01] withnale opened #1763 "Handling Custom Resources with missing metric related labels"
**What would you like to be added:**

With Custom Resource metrics, at present if a label is specified in the definition which isn't present in the actual custom resources the associated labels are generated as `{my_label=<nil>}`.

In these circumstances the correct handling is somewhat ambiguous but I believe that nil is not one of the options. Perhaps the best option in these circumstances would

[2022-06-27 08:49] dontan001 opened #1765 "Cannot read the timestamp field from Custom Resource metadata with the new customresource metrics capability"
**What would you like to be added**:
It could be either a bug or feature request, assume it is a feature request for now

We would like to expose the creationTimestamp of Custom Resource with the capability from #1710 , then we could visualize it via Grafana annoation.

During the testing, the major config looks like below
[code]

However we cannot find any metrics in the backend though custom res

[2022-06-27 08:57] dontan001 commented on #1765
Very appreciate the effort of #1710 and glad the metrics from custom resource obj could be exposed

[2022-06-28 06:52] chrischdi commented on #1755
I updated the POC to work with feedback from @bavarianbidi (thx) and changed the config layout a little bit. Note: code is not really cleaned up but works for the poc :-)

[code]

example metrics output:
[code]

<details>

Object used:

[code]

</details>

[2022-06-28 11:51] fpetkovski commented on #1711
/remove-lifecycle stale

[2022-06-28 13:45] yosshi825 opened #1768 "`--metric-opt-in-list=kube_pod_nodeselectors` doesn't work"
**What happened**:

Does not work if only `--metric-opt-in-list=kube_pod_nodeselectors` is set in args

[code]

But it work in the following 2 cases

1.  When the metric name is singular (--metric-opt-in-list=kube_pod_nodeselector)

[code]

2. When `--metric-opt-in-list=kube_pod_nodeselectors` and other flags are set together in args

[code]

[code]

I can get the following metrics

[code]

**What

[2022-06-28 17:49] Serializator commented on #1744
I'd suggest adding the below labels as well to keep the new metric in line with the others.
- `namespace=<pod-namespace>`
- `uid=<pod-uid>`

[2022-06-29 00:59] dontan001 commented on #1765
Thanks guys and closed this issue

[2022-06-29 00:59] #1765 closed

[2022-06-29 07:29] bavarianbidi commented on #1762
Please see #1755 where a forked version is mentioned where it's possible to define some "info" metrics - maybe this fit your needs?

[2022-06-29 08:30] bavarianbidi opened #1770 "custom-resource-state-config-file could not open if mounted via config-map"
**What happened**:

When running `KSM` with the distroless container and mount a configmap for the `customResourceStateConfigFile` KSM will fail with error `no such file or directory`

**What you expected to happen**:

`KSM` should read the content of the file.

**How to reproduce it (as minimally and precisely as possible)**:

For better understanding, i created a patched version of `main.go`

[c

[2022-06-29 10:51] Serializator commented on #1768
@yosshi825, when you look at the logs on startup, what opt-in metrics are logged? There is a log line which tells what opt-in metrics are enabled, much like the log line for the allow- and deny-lists.

[2022-06-29 10:51] Serializator commented on #1744
/assign

[2022-06-29 10:55] Serializator commented on #1768
/assign

[2022-06-29 11:58] dedishari opened #1771 "Add starts with capability"
Currently all the parameter in kube_pod_info has "equal to" operator. Can we add a capability of "starts with"? This will help to group a group of replicaset under a particular deployment in turn giving us the capability of viewing info of all pods started by a particular deployment.

[2022-06-29 13:12] fpetkovski commented on #1771
I think it's best if we delegate this operation to PromQL instead.

[2022-06-29 13:54] dedishari commented on #1771
achieved this by creating custom variable and adding the regex there

[2022-06-29 13:54] #1771 closed

[2022-06-29 16:06] Serializator commented on #1718
@fpetkovski, is this something to be looked into or would the quote below from the README negate this issue?

I'm not too familiar with the compatibility and versioning of KSM. The quote says "will only use the oldest API available in the latest release", what does this mean exactly?

Would this mean if `autoscaling.k8s.io/v1beta2` is still available in Kubernetes 1.24 then KSM will keep using `v1

[2022-06-29 16:44] #1744 closed

[2022-06-30 02:20] yosshi825 commented on #1768
Sorry.
With the following settings, if I get the metrics after a while I got the metrics for kube_pod_nodeselectors.

- manifest

[code]

- log

[code]

It seems that the kube_pod_nodeselectors metric only takes a little longer to get compared to other metric.

[2022-06-30 02:21] #1768 closed

[2022-06-30 09:15] #1673 closed

[2022-06-30 10:45] Serializator opened #1775 "Support for the "Event" (v1) resource"
**What would you like to be added**:
Support for the "Event" (v1) resource.

**Why is this needed**:
It provides insight into events that occurred within the cluster. These metrics can then be used to create dashboards but also e.g. alert on the rate of a specific kind of event if it increased dramatically in the past hour.

**Describe the solution you'd like**
- `kube_event_info{type=<event-type>

[2022-06-30 10:49] Serializator commented on #1775
I created the issue because I would like your input on this before implementing it.
//cc @dgrisonnet @fpetkovski @mrueg

[2022-06-30 10:49] Serializator commented on #1775
/assign

[2022-06-30 10:54] mrueg commented on #1775
In my opinion events are not considered on purpose for kube-state-metrics as they have high cardinality by nature and do not reflect the current state of the cluster (they are more transition signals).

There are other tools available that only focus on events and might be more helpful.

[2022-06-30 10:55] ZoeQ commented on #1642
I have the same question. Is there any solution such as  label_place in promql or relabel in service monitor or something like that to figure out the service of a pod belongs to?

[2022-07-01 10:21] stat-johan commented on #1465
This would be really nice to have, @sgrzemski

[2022-07-01 17:34] fpetkovski commented on #1465
/remove-lifecycle rotten

[2022-07-01 17:35] fpetkovski commented on #1465
/remove-lifecycle stale

[2022-07-03 09:23] invidian commented on #1604
/remove-lifecycle stale

[2022-07-03 21:19] bavarianbidi commented on #1770
Appendix:

This happens with k8s `1.22` with Containerd on Ubuntu as well as on my local `kind` cluster in kubernetes version `1.23`

[2022-07-04 05:18] slashpai commented on #1660
/unassign
since I didnt get enough time to work on this

[2022-07-04 06:18] fpetkovski commented on #1718
KSM aims to have backwards compatibility with the latest 3 Kubernetes versions. However, VPA is an external CRD so I'm not sure if we should apply the same rules since the CRD is not linked to Kubernetes releases. I think it should be safe to switch to `v1` and users that use the old API can upgrade VPA independently of Kubernetes.

@mrueg @dgrisonnet any thoughts from your side?

[2022-07-04 06:22] fpetkovski commented on #1770
Can you try removing the quotes around the filename?

[2022-07-04 13:13] bavarianbidi commented on #1770
:see_no_evil: OMG, this was to easy. I was to much focused on Linux capabilities in combination with the distroless container that i totally overseen this option :see_no_evil:

Thank you for this hint :+1:

[2022-07-04 13:13] #1770 closed

[2022-07-04 13:27] bavarianbidi opened #1778 "Allow monitoring of CRs only"
**What would you like to be added**:

As i'm only interested in monitoring CRs i would have an additional flag e.g. `--resources-crds-only` to not list every CR in the `resources` argument

**Why is this needed**:

I'm currently setting up a second `KSM` instance which is only responsible for CRDs.

Any given GVK in my `helm template` will extend the `ClusterRole` with the required permissions to

[2022-07-04 13:56] gadisn opened #1779 "Custom resources are ignored when '--resources' argument is not empty"
**What happened**:
Trying to add metrics for custom resources doesn't work when the '--resources' argument is not empty.
I'm able to get metrics when '--resources' **is** empty.

**What you expected to happen**:
I would like to be able to use the combination of '--resources' and custom resources.

**How to reproduce it (as minimally and precisely as possible)**:
1. Add custom resources as describe

[2022-07-05 05:01] gadisn commented on #1779
Thanks @bavarianbidi for the quick answer.
So just to be sure - it is by design that CRDs are ignored when `--resources` isn't empty? KSM doesn't want allow adding both CRD AND specify resources?

[2022-07-05 05:17] bavarianbidi commented on #1779
hi @gadisn the behavior is not specific to CRDs.

if `--resources` isn't empty the assumption is, that the user defines the targets for `KSM` via this flag.

KSM support adding both. if `--resources` is empty all known resources will be set (even the resources which got generated from your `custom-resource-state-config`.

If `--resources` isn't empty, you have to specify each resource, e.g. `--res

[2022-07-05 05:32] gadisn commented on #1779
Ah, got it, I was missing the fact that I need to add my CRD names also in `--resources` (I only added them with `--custom-resource-state-config`).
For reference, here are the CRD def and resources (partly obfuscated):
[code]

` --resources=certificatesigningrequests,configmaps,cronjobs,daemonsets,deployments,endpoints,horizontalpodautoscalers,ingresses,jobs,limitranges,mutatingwebhookconfiguratio

[2022-07-05 06:58] ldy521314 opened #1781 "i want make a issuer"
i want make a issuer

[2022-07-05 07:27] ikarlashov opened #1782 "Custom Resource configuration doesn't work"
**What happened**: Providing either `--custom-resource-state-config` or `--custom-resource-state-config-file` with correct values is not producing metric in prometheus.

**What you expected to happen**: having defined metric in prometheus

**How to reproduce it (as minimally and precisely as possible)**: Follow documentation for custom-resource-state-config.

**Environment**:
- kube-state-metrics

[2022-07-05 20:22] Serializator commented on #1690
I dove into this and found out that KSM uses reflectors to populate and re-sync the metric store with metrics from the server's contents. Which is an interesting discovery by the way and personally helps me a lot to understand KSM more!

**"reduce the resource usage";** Adding per-request based filtering wouldn't impact resource usage significantly since the metric store is kept up-to-date either

[2022-07-06 06:50] fpetkovski commented on #1690
The way I understand it, KSM can generate very large responses which have to be fetched and parsed by Prometheus (or some other compatible scrape client). In large clusters, response sizes can be in the hundreds of megabytes.

Having client-side filtering of metrics would help increase scraping performance when a subset of metrics needs to be scraped.

[2022-07-06 11:31] mrueg commented on #1781
Looks like this does not contain any information about an actual issue. Closing. Feel free to reopen or create a new issue, if you have actionable information!

[2022-07-06 11:31] #1781 closed

[2022-07-06 12:05] bavarianbidi commented on #1782
As already written in slack (https://kubernetes.slack.com/archives/CJJ529RUY/p1657108713549179?thread_ts=1657100829.887889&cid=CJJ529RUY) could you please check if `prometheuses` got registered as new `resource`?!

should be logged at the very early beginning of `KSM` like `1 builder.go:232] Active resources ...`

maybe #1779 is related to yours

[2022-07-06 15:04] Serializator commented on #1690
Got it. I approached it from KSM's perspective and not from Prometheus's.

[2022-07-06 18:23] bavarianbidi commented on #1779
@gadisn is the issue solved for you? if so, could you please close this issue.

[2022-07-06 18:24] bavarianbidi commented on #1782
@ikarlashov  is the issue solved for you? if so, could you please close this issue.

[2022-07-06 19:48] ronberna opened #1783 "Displaying pods running on different instance types"
Hello.  Currently in the process of moving apps from amd64 instances to arm64 instances and would like to display this info on a Hello.  Currently in the process of moving apps from amd64 instances to arm64 instances and would like to display this info on a dashboard.  The dashboard that I'm wanting to try and duplicate is actually a [karpenter](https://grafana.com/grafana/dashboards/16236) dashbo

[2022-07-07 04:35] gadisn commented on #1779
Yes, thanks a lot, closing

[2022-07-07 04:35] #1779 closed

[2022-07-07 08:06] ikarlashov commented on #1782
@bavarianbidi It works indeed! Thank you for the help/ I'd like to create a PR to fix documentation. Since with the current explanation scraping metric from CR isn't working.

[2022-07-07 08:06] #1782 closed

[2022-07-07 14:01] dgrisonnet commented on #1718
Adding VPA to kube-state-metrics was a mistake since it is out of its scope to only expose metrics about the core resources of Kubernetes. This leads to the problem we have here where we can't really move forward with an update since the API isn't tied to Kubernetes directly.

In my opinion, we should slowly deprecate it in favor of adding it as a configuration-based CRD. In the meantime, I think

[2022-07-07 21:50] bjschafer opened #1785 "Intermittent ksm hangs"
I'm not necessarily looking for a magic fix, but moreso help debugging this intermittent issue.

**What happened**: We're seeing an issue where, intermittently, one KSM pod will report as down. When that happens, `scrape_duration_seconds` will jump to >5s, which causes Prometheus scrapes to timeout ("Context deadline exceeded") and thus `up{job="~kube-state-metrics"}` reports 0 for the problem pod

[2022-07-07 22:33] terinjokes commented on #1785
Taking a look with [pprof](https://go.dev/blog/pprof) is likely going to give you more useful information than strace: the first thread parking with an futex waiting for goroutines to exit is common behavior.

It looks like the endpoints are exposed [by default](https://github.com/kubernetes/kube-state-metrics/blob/335e9e1235150fb62ee965b3ba15ce0f7dc769d8/pkg/app/server.go#L286-L290) under `/debug

[2022-07-08 08:58] fpetkovski commented on #1718
I think this makes sense. Now that we have a way to export metrics from CR fields, we can start deprecating the built-in VPA support.

[2022-07-08 09:09] mrueg commented on #1718
Should we plan work on this for v3?

I think there are a couple of larger changes that we might want to include (e.g. Refactor command line arguments, remove specific metrics, rename others, etc.)

[2022-07-10 18:01] #875 closed

[2022-07-12 12:12] dwilliams782 commented on #1716
@tartemov thank you! I was getting super frustrated trying to work out why this wasn't working after taking the list from `kube_x_labels` and using the singular. This needs to be in the docs!

[2022-07-13 10:00] dmitri-lerko opened #1786 "Improve --metric-labels-allowlist handling of non-plural resource names"
**What would you like to be added**:
`--metric-labels-allowlist` to support singular form `pod` vs `pods` for resources or warn when user uses singular form of common, [predefined resources](https://github.com/kubernetes/kube-state-metrics/blob/335e9e1235150fb62ee965b3ba15ce0f7dc769d8/internal/store/builder.go#L263-L296).

**Why is this needed**:
Currently, it is trivial to make a mistake when con

[2022-07-13 11:41] dmitri-lerko commented on #1786
For option 2 - would layman's approach of validating `s` or `es` ending of resource name and warning along the lines:

work?

[2022-07-13 15:39] mrueg commented on #1717
/remove-lifecycle stale

[2022-07-13 16:18] fpetkovski commented on #1786
Since we have an explicit list of resources from which we export metrics, I think I would prefer a solution where we check against that list and emit a warning if the resource is not present. We can also add a hint to use plural forms, but I wouldn't base it on the ending of a word.

[2022-07-17 11:46] fpetkovski commented on #1758
I would be okay with having something like this in KSM since it is hard to achieve the same result with scrape-time relabeling.  We can have a flag like `--series-labels-allowlist` or `--resource-labels-allowlist` that will be empty by default to make sure the feature is backwards compatible. Maybe @mrueg or @dgrisonnet have some counterpoints though.

[2022-07-17 11:52] fpetkovski commented on #1718
We could mark VPA as deprecated in 2.6 and advise users to use CRD metrics. I would say the removal of the feature should happen in v3 at the latest, but I am also fine with having it in a 2.x release in case someone has time to do the work.

[2022-07-19 08:06] dgrisonnet commented on #1718
I agree with Filip, we shouldn't necessarily wait for 3.x to remove the metrics since we have a way to deprecate them now.

[2022-07-19 13:18] mrueg opened #1790 "Remove Verticalpodautoscaler Collector (VPA)"
As we have now an implementation to collect metrics from Custom Resources,  we want to remove the VPA Collector in KSM v3.0

[2022-07-19 13:20] mrueg opened #1791 "Replace CLI toolkit"
Currently we're using pflag to parse arguments. This comes with a certain simplicity, a more sophisticated toolkit like viper/cobra or others would allow users to use other methods to configure KSM as well.
In particular an idea, that came up for the CustomResource Collector is to use EnvironmentVariables or a Configuration File based approach.

[2022-07-19 13:23] mrueg opened #1792 "Promote experimental metrics"
We should take a look at the current metrics and promote experimental metrics to stable.

[2022-07-19 13:25] mrueg opened #1793 "Streamline Metrics"
Define standards and look through all metrics and check if the dimensions match certain standards (e.g. all plural / singular)

[2022-07-19 20:09] grzesuav commented on #1793
Maybe test like `promtool check metrics` [link](https://manpages.debian.org/testing/prometheus/promtool.1.en.html#check_metrics) or https://github.com/prometheus/client_golang/blob/main/prometheus/testutil/promlint/promlint.go can be used in CI to validate the metrics exposition format ?

[2022-07-20 13:34] easonboy opened #1794 "The deployment resource is add label , but the one queried by Prometheus has no label. and my Kube state metrics is configured to allow all resources. What else do I need to do?"
kube-state-metrics  config :

     - args:
        - --metric-labels-allowlist=pods=[*],node=[*],namespaces=[*],deployment=[*],endpoint=[*]
        - --host=127.0.0.1
        - --port=8081
        - --telemetry-host=127.0.0.1
        - --telemetry-port=8082
        image: cnych/kube-state-metrics:v2.0.0
        imagePullPolicy: IfNotPresent
        name: kube-state-metrics

deployment.yaml:

kind:

[2022-07-22 15:49] dgrisonnet commented on #1758
I would personally stand against that feature. The memory impact of that feature on kube-state-metrics and Prometheus will be enormous compared to the actual benefits it brings. Also, we have to keep in mind that kube-state-metrics is meant to expose metrics with a 1:1 matching with the Kubernetes API. I wouldn't expect the Pod Spec metrics to contain any information about the pod labels. Anything

[2022-07-25 03:37] #1695 closed

[2022-07-26 00:08] jjduverge opened #1795 "getting an imagepullbackoff error"
As I am applying the the files in kube-state-metrics/examples/standard, i am getting a 'imagepullbackoff' error for the kube-state-metrics pod. Is anyone else encountering this issue?

[2022-07-26 04:10] jjduverge commented on #1795
attempted to pull image from docker and am getting the following error:
<details>
<summary>Error from docker</summary>
[code]
</details>

[2022-07-26 06:54] mrueg commented on #1795
that image references a different registry: https://github.com/kubernetes/kube-state-metrics/blob/master/examples/standard/deployment.yaml#L24
Do you modify the deployment somehow?

[2022-07-26 12:03] jjduverge commented on #1795
No I didn't make any changes at all. Should I have?

I currently already have a daemonset running the Datadog agents. Any recommendations would be greatly appreciated.

[2022-07-30 11:31] #1642 closed

[2022-07-31 10:35] #1662 closed

[2022-08-02 09:09] dmpe commented on #1485
@fpetkovski @liangyuanpeng can you please reopen this and mark this somehow so that it wont be closed next time :) until being addressed?

Thanks.

[2022-08-02 09:14] amber-yan opened #1796 "Metrics kube_pod_container_status_last_terminated_reason can't distinguish if there is an exception happens"
I understand that this metrics is keeping track of pods which were terminated and the reason for it.
So whether it is a crash or normal termination(for example, the new version is deployed, the old version is terminated) , the metrics will report it.

I would like to know the possible values for the label reason. And can we determine if it is a crash by the label reason?

[2022-08-02 09:43] mrueg commented on #1485
/lifecycle frozen

[2022-08-03 09:31] dgrisonnet commented on #1485
This can be done by switching to structured logging. More info about the migration can be found in https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/migration-to-structured-logging.md.

/help

[2022-08-03 09:50] dgrisonnet commented on #1796
I don't think there is a well-defined list of reasons since it is just a string in the API.

There is one reason that is called "Completed" for pods that have terminated normally, maybe you could use that and say that other reasons mean a potential crash. But in the end, it really depends on what you are trying to do with that information.

[2022-08-04 07:43] amber-yan commented on #1796
Thanks @dgrisonnet
But I am still confusing. I did a test, I updated the deployment(by kubectl edit deployment), I observed and I found the old pod is terminated, and a new pod is created.

I checked and I found kube_pod_container_status_last_terminated_reason did not report this.

[2022-08-04 09:36] hieu29791 opened #1798 "Duplicate result when query from prometheus server"
**What happened**:
- I deploy helm chart **kube-state-metrics** from **ArgoCD**, and when I query, it shows the duplicate result. Here is the image:
![image](https://user-images.githubusercontent.com/10827875/182812918-b6d8aa17-587d-4e10-91d6-8da86163249b.png)
- The first result includes more labels than the second.
- I guess the first one because I deployed it via ArgoCD, and the second is the or

[2022-08-07 22:13] Serializator commented on #1631
/reopen

[2022-08-07 22:14] Serializator commented on #1631
@NissesSenap or @fpetkovski, could one of your reopen this issue?

[2022-08-07 22:27] mrueg commented on #1631
/reopen

[2022-08-11 01:34] RafaeLeal commented on #1210
Hey, was this implemented? I'm not familiar with the codebase, but I can come up with a proposal if that's something the maintainers want to put forward. I'm interested in instance-level metadata metrics, especially `kube_CRD_NAME_labels` would be very useful for me.

My use case: I maintain a CICD cluster using [TektonCD](https://tekton.dev/). Tekton controllers manage `TaskRuns` and `PipelineRun

[2022-08-11 09:13] billdegithub opened #1800 "v2.5.0 bug"
**What happened**:
  Type     Reason     Age                     From               Message
  ----     ------     ----                    ----               -------
  Normal   Scheduled  7m30s                   default-scheduler  Successfully assigned kube-system/kube-state-metrics-7c9c76c4b-n6tfz to xnj-19-231
  Warning  Failed     5m25s (x12 over 7m28s)  kubelet            Error: Error response

[2022-08-11 13:27] grzesuav commented on #1210
@RafaeLeal yes it was, (not by me) - https://github.com/kubernetes/kube-state-metrics/blob/master/docs/customresourcestate-metrics.md

[2022-08-11 13:43] RafaeLeal commented on #1210
@grzesuav reading this I'm not sure if we can implement a `labels` metric with it..
I could have something like this:
[code]

But I don't know exactly what to put on `each`, because the `value` is a constant 1 in the `kube_*_labels` 🤔

Maybe we should extend the API to allow this?

[2022-08-12 01:42] #1800 closed

[2022-08-12 01:44] billdegithub commented on #1800
docker load is OK. docker import failed

[2022-08-12 09:14] amber-yan opened #1805 "Metrics kube_pod_container_status_last_terminated_reason does not report the pod terminated situation"
I did a test, I updated the deployment(by kubectl edit deployment), I observed and I found the old pod is terminated, and a new pod is created.

I checked and I found kube_pod_container_status_last_terminated_reason did not report this.

[2022-08-12 10:43] bhaskarpalani opened #1806 "All kubectl logs are shown as 'stderr'"
All kubectl logs are shown as 'stderr' logs.
We tried to use the available option as in the documentation, such as enabling stdout,
one_output, but the logs display as stderr logs only.

kube-state-metrics version: 2.5.0

[2022-08-13 09:48] mindw commented on #1501
/lifecycle stale

[2022-08-13 09:48] mindw commented on #1501
/remove-lifecycle stale

[2022-08-14 09:40] mindw commented on #1501
/remove-lifecycle stale

[2022-08-14 09:41] mindw commented on #1501
/remove-lifecycle stale

[2022-08-16 11:23] fpetkovski commented on #1805
Was the pod deleted from the API server?

[2022-08-17 01:56] amber-yan commented on #1805
Hi @fpetkovski
How to check if the pod is deleted from the API server? I use the command `kubectl get pods` to check, the pod is missing in the result.

amber

[2022-08-17 06:20] fpetkovski commented on #1805
KSM can only report data for resources that exist in Kubernetes. If `get pods` does not show the pod, it means that it was removed from the API server and KSM has no way of knowing about it.

[2022-08-17 07:23] amber-yan commented on #1805
If that is the case, Is there any way to get the metrics to know the pod is removed

[2022-08-17 07:24] fpetkovski commented on #1805
You can check the `kube_pod_info` metric and see when the pod disappeared.

[2022-08-17 08:32] amber-yan commented on #1805
If I would like to get the all crash events, can I ignore the situation that the pod is removed? If the application crashes, the K8s will keep the pod and restart the container or terminate the existing pod and create a new one?

[2022-08-17 08:35] fpetkovski commented on #1805
It will recreate the crashed container and keep the existing pod

[2022-08-17 13:30] mindw commented on #1501
/remove-lifecycle stale

[2022-08-18 04:45] amber-yan commented on #1805
Is there any way to get the terminated time from the metric kube_pod_container_status_last_terminated_reason?
Thanks

[2022-08-18 06:42] fpetkovski commented on #1805
If you are scraping KSM, you will know when the pod went away by looking at when `kube_pod_info` for the pod stops being reported.

[2022-08-18 08:23] amber-yan commented on #1805
Sorry, I don't describe my question clearly.
I would like to get the crash situation, so I need to use the KSM kube_pod_container_status_last_terminated_reason to get the container termination reason and time.
I tried the KSM  kube_pod_container_status_last_terminated_reason, from that, I can only get the pod, container, hana-tooling etc information, and the value seems the termination conut. But

[2022-08-18 08:56] fpetkovski commented on #1805
Having the termination timestamp as a label would create extremely high cardinality, which is why it is not added to any of the metrics.

For this we would need a new metric `kube_pod_container_status_last_terminated_timestamp` that has the timestamp as a value, but I would make that a new issue that we can discuss separately.

[2022-08-18 12:17] mk46 commented on #1660
/remove-lifecycle rotten

[2022-08-18 12:43] mrueg commented on #1554
/lifecycle frozen

[2022-08-18 19:20] #1755 closed

[2022-08-18 19:22] #1717 closed

[2022-08-18 20:05] chrischdi commented on #1763
Fixed via #1777, xref: https://github.com/kubernetes/kube-state-metrics/pull/1777/files#diff-1cbeb50a6b171ac66f4fad40018421010ed1733ea97fcb40b65a7ebd5e7e3d77R424

/close

[2022-08-18 20:05] #1763 closed

[2022-08-20 07:16] rexagod commented on #1806
Hello @bhaskarpalani. If it's alright, could you please post the logs as well, just so I could get a better idea around this?

[2022-08-20 12:44] dmpe commented on #1485
I wonder how to approach json logging further. klog does not seem to support JSON logging (no format option), and people use other libraries (uber zap), or create workarounds (?minikube - https://github.com/kubernetes/minikube/blob/master/pkg/minikube/out/out.go#L67). What is preffered way/rules here for kube-state-metrics project (being under `kubernetes` github group?
Thanks for the tips.

[2022-08-22 15:28] CatherineF-dev commented on #1792
Hi team, could we promote kube_pod_container_status_waiting_reason to stable?

This metric is super useful.

[2022-08-22 15:32] CatherineF-dev opened #1811 "Promote experimental metric kube_pod_container_status_waiting_reason to stable"
**What would you like to be added**:
Promote this metric from experimental to stable

**Why is this needed**:

- kube_pod_container_status_waiting_reason and kube_deployment_status_replicas_ready are very useful metrics. If they're stable, then down-streams can use it with less risk of deprecation
- https://github.com/kubernetes/kube-state-metrics/issues/1792

**Describe the solution you'd like**

[2022-08-22 21:08] #1785 closed

[2022-08-23 14:09] #1624 closed

[2022-08-23 14:17] nabokihms opened #1815 "Allow all labels/annotations for resources"
**Why is this needed**:
As of today, users need to specify allowed resources in two places (if they want to also have label metrics), e.g.:
[code]

**Describe the solution you'd like**
I'd like to use asterisk (or another common name, e.g., `apis/all` for the [kube-apiserver](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) --runtime-config flag):
[code]
or
[code]

[2022-08-24 04:59] liangyuanpeng commented on #1798
@hieu29791  So this is not the KSM problem,  it should be create to ArgoCD repo?

[2022-08-25 17:00] dgrisonnet commented on #1811
Promoting these metrics sounds reasonable to me since they've been in kube-state-metrics for a while now.

@CatherineF-dev feel free to open a PR to promote them.

[2022-08-26 13:18] ninlil commented on #1790
I fully understand the argument to remove the VPA Collector, but it's not possible right now.

The values from the vpa-recommender looks like this:
[code]

and the "25m" cant be converted to a value... will just result in this:
[code]

As I see it, either:
a) update the VPA Collector to apiVersion autoscaling.k8s.io/v1 (according to #1718 )
b) implement a parser/converter for values that can conve

[2022-08-27 11:24] dmpe commented on #1485
add below to `main.go`:

[code]

also for example in `main.go`:

[code]

in `options.go`

[code]

example result:

[code]

[2022-08-27 11:43] dmpe commented on #1485
Prometheus uses https://github.com/go-kit/log; the alternative to go-kit or zap could be also https://github.com/rs/zerolog

[2022-08-27 21:40] rexagod commented on #1815
/assign
I'd like to take this up!

[2022-08-27 21:42] rexagod commented on #1811
@CatherineF-dev If it's alright, I can take this up, it'd be a good starting issue for me I think.

[2022-08-28 08:11] #1569 closed

[2022-08-28 13:30] gadisn opened #1820 "CRD metric with wrong 'kind' - pod can't start"
When having a typo in the 'kind' of a crd metric def, an error is thrown, and the entire pod can't be used.

**Won't it be better to just report the inappropriate kind in the log**, instead of breaking the entire metrics chain?

Example for wrong kind:
[code]

The error is reported in https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/builder.go#L96

[2022-08-30 21:50] AshokMishra commented on #1485
I am also facing the same problem. Any updates on when it will be implemented?

[2022-08-31 02:27] #1794 closed

[2022-08-31 14:53] #1811 closed

[2022-09-01 23:58] ahmetb opened #1824 "self metrics leak Go pointer types to the output"
**What happened**:

ksm self-metrics endpoint is showing results such as:
[code]

where the `resource` label on the Prometheus metric reflects the fact Go pointer types are used here (e.g. `*v1.DaemonSet`).

The fact that the value contains `*` :
1. makes this metric less future-proof: what if someone changes the code in a way that this is no longer a pointer? there does not seem to be any tests c

[2022-09-02 00:26] rexagod commented on #1820
I think the binary should error out and exit if any of the user-supplied flags entail unexpected values, unless of course, keeping them option makes sense.

The fact that a CRD metric definition was provided by the user indicates that there's an expectation to support it, and if not, there's not much reason to keep the binary running with a failing flag.

[2022-09-02 00:38] rexagod commented on #1824
1. In case someone changed `expectedType`'s type, we'd simply have that type shown in the resource field.
2. This is a bigger concern for me TBH, and I'm +1 on avoiding `*` from all label values. However this will need to be thought out well, in order to maintain consistency across how different types are displayed, and the obvious fact that it should not be uncomfortable when working with differe

[2022-09-02 06:27] rexagod commented on #1786
/assign

[2022-09-02 06:34] rexagod commented on #1791
If I understand the ask here correctly,  `--custom-resource-state-config-file`allows you to do just that (file-based input).

[2022-09-02 06:36] rexagod commented on #1795
@jjduverge Is this still the case for you?

[2022-09-02 06:41] rexagod commented on #1793
/assign

[2022-09-02 07:18] rexagod commented on #1373
/remove-lifecycle stale
/assign

In addition to the ask being raised here, I'd also like to pull in a refactor around how things happen in the `doccheck` target right now (in the same PR that I raise against this).

1. Orphaned documentation IMO should be the text present in `doc_metrics` but not in `code_metrics`.
2. Right now, we call a document "orphaned" if it's not in the `doc/*.md` glob expa

[2022-09-02 15:51] bryanasdev000 commented on #530
Sorry to bump such old issue, but in my case this helped  a lot https://world.hey.com/nathan/kubernetes-cronjob-freshness-monitoring-with-prometheus-7a32cbb0 .

[2022-09-02 18:46] rexagod commented on #1786
@dmitri-lerko PLMK if you're not working on this at the moment and I'll pick it back up.

[2022-09-02 20:58] rexagod commented on #1786
Do we want to diverge from the behavior that `--resource` follows (fail on singulars), and just warn the user in case of `--metric-labels-allowlist`? In my PR I've assumed the fact that a singular resource input comes from the user as a mistake, in which case, we fail. But LMK if we still just want to warn the user and I'll make the change.

[2022-09-02 21:06] rexagod commented on #1373
Before I dive head-first from a fresh POV into this, @lilic can you please confirm if [the requirements](https://github.com/kubernetes/kube-state-metrics/issues/1373#issue-798285472) are still the same, or need to be updated. Thanks.

[2022-09-03 11:56] rexagod commented on #1738
/remove-lifecycle stale
/assign

[2022-09-04 20:08] mrueg commented on #1791
The request here is to look into https://github.com/spf13/viper or similar libraries that have built-in support for a likely yaml-based config.

[2022-09-04 20:50] rexagod commented on #1791
/assign

[2022-09-06 22:47] #1631 closed

[2022-09-06 23:37] jpdstan opened #1828 "kube_pod_container_resource.* showing duplicate metrics with and without node label"
**What happened**:
for these resource metrics, it is expected that just one metric appears per container, aka one limit and one request metric.

however, we're seeing two of each - one without a `node` label that appears for a brief moment, and then one with a `node` label, which replaces it (see image below)

<img width="1472" alt="image" src="https://user-images.githubusercontent.com/5893781/188

[2022-09-07 11:20] juliantaylor opened #1829 "do not create annotation and label metrics if none are allowed"
**What would you like to be added**:
Currently kube-state-metrics creates object_annotations and object_labels metrics for all objects even if the objects have no configured allow list.

**Why is this needed**:
This creates many metrics which contain no useful information, especially for pods and replicasets. For example:
[code]

**Describe the solution you'd like**
If the annotation or label has

[2022-09-09 10:34] dgrisonnet commented on #1738
I don't think this would add any complexity since users would still be able to reconfigure ksm by reloading it. To me this effort would be a great step forward toward hot-reloading of kube-state-metrics.

What we could do first is to add a logic to watch for a config file and restart the kube-state-metrics server with the new configuration without having the container creation overhead. This is ve

[2022-09-09 13:41] allanian commented on #1414
+1

[2022-09-11 17:40] rexagod commented on #1828
/assign

[2022-09-11 17:43] rexagod commented on #1829
I'm not sure about this TBH. This behaviour does not seem to be _breaking_ in nature, and furthermore, I don't see what we stand to gain if such a check is implemented? Is the effort worth the outcome?

[2022-09-11 18:01] juliantaylor commented on #1829
I do think so, the annotations provide no value and there are lot of them. You have two for every single pod and replicaset in the cluster.
In our clusters this is in the top5 metrics kube-state-metrics produces and it produces a lot. In the grand scheme of things its not super significant but it is also easy to fix.

[2022-09-11 18:14] juliantaylor commented on #1829
As for it being breaking, technically true, but you are requesting the metric to not be produced by not allowing any annotations or label metrics. I doubt someone would then rely on an empty metric being produced. The expectation is, if I do not allow label and annotation metrics, I get no annotation and label metrics.

[2022-09-13 05:47] qingguee opened #1830 "kube_pod_status_ready is 2s late than pod.condistions.Ready timestamp"
**What happened**:
Hello,
Because missing pod ready timestamp metrics, I am using kube_pod_status_ready to monitoring pod ready.
I use http API query kube_pod_status_ready , then find the ready timestamp by go though the metrics data. When detect value is 1, then return the timestamp.
But after double check the ready timestamp from "kubectl get po xxx -o yaml" , it seems the metrics status value i

[2022-09-13 12:35] chrischdi opened #1832 "Add *_labels metrics for custom resource configurations"
**What would you like to be added**:

Allow to expose `*_labels` for Custom Resource configuration which behaves the same as `kube_*_labels` metrics.
This means it would also use the configured value for the flag `--metric-labels-allowlist` for filtering the exposed labels.

**Why is this needed**:

To have the same kind of features for custom resource metrics.

**Describe the solution you'd like*

[2022-09-13 18:27] sylr commented on #1703
/remove-lifecycle stale

[2022-09-14 00:31] CatherineF-dev opened #1833 "Presubmit checks for stable metrics"
**What would you like to be added**:
A presubmit to validate stable metrics don't change metric name, add labels or delete labels.

Similar to [k8s stable metrics presubmit](https://github.com/kubernetes/kubernetes/tree/master/test/instrumentation).

**Why is this needed**:
Guarantee stable metrics are stable.

Due to lack of presubmit check, some stable metrics are changed. For example,
- stable

[2022-09-14 21:36] rexagod commented on #1791
This issue is divided into the following sub-issues (after discussing with @dgrisonnet).
* Incorporate `cobra`: https://github.com/kubernetes/kube-state-metrics/pull/1834
* Incorporate `viper`: https://github.com/kubernetes/kube-state-metrics/pull/1827
* Future plans (after v3.0): https://github.com/kubernetes/kube-state-metrics/issues/1738#issuecomment-1241802049

[2022-09-15 05:42] rexagod commented on #1690
/assign

[2022-09-15 05:43] rexagod commented on #1690
(@Serializator feel free to assign this to yourself if you're currently working on this)

[2022-09-15 05:52] rexagod commented on #1790
/assign

[2022-09-15 12:42] jianhaiqing commented on #1363
@Dutchy-
I encounter the issue, too;
kubernetes version:  1.20.14
containerd github.com/containerd/containerd v1.4.3 269548fa27e0089a8b8278fc4fc781d7f65a939b
The big discovery is that : these two images digest is the same.

That is to say these two tags have no difference.

[2022-09-16 00:32] qingguee commented on #1465
Looking forward for this PR be merged, because I find that the "kube_pod_status_ready" has 2s delay to show ready status which compare with  Ready timestamp from pod condition.  I have reported a Issue, but no response yet.
https://github.com/kubernetes/kube-state-metrics/issues/1830

So, we can't rely on "kube_pod_status_ready". If we want to calculate POD startup time, that's an issue.
It's alwa

[2022-09-18 17:24] rexagod commented on #1790
The issue here is that KSM assumes that the VPA CRs already have the **parsed** recommendation values, PTAL https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/verticalpodautoscaler_test.go#L53-L58.

[2022-09-21 06:19] bhaskarpalani commented on #1806
Hi @rexagod . Thank you for the reply, for few reasons, We can't attach the logs.

      --logtostderr                           log to standard error instead of files (default true)

I suspect all the logs displayed as stderror logs, is this because they are enabled default to true.

[2022-09-21 08:19] laurivosandi opened #1840 "Add network policy pod selector gauge metric"
Current `kube_networkpolicy_*` metrics don't seem very useful.

I was hoping to find gauge (how many pods are matched) for network policy pod selector so I could add an alert for dangling/mismatching network policies

[2022-09-21 09:20] osipovdaniil commented on #1794
@easonboy How did you resolve this problem?

[2022-09-21 09:24] easonboy commented on #1794
this way:

 - args:
    - --metric-labels-allowlist=pods=[*],nodes=[*],namespaces=[*],deployments=[*],endpoints=[*]
    - --host=127.0.0.1
    - --port=8081
    - --telemetry-host=127.0.0.1
    - --telemetry-port=8082
    image: cnych/kube-state-metrics:v2.0.0
    imagePullPolicy: IfNotPresent
    name: kube-state-metrics

[2022-09-21 09:27] osipovdaniil commented on #1794
Yes, thank you, i resolved too
I did so `--metric-labels-allowlist=horizontalpodautoscaler=[*]` instead `--metric-labels-allowlist=horizontalpodautoscalers=[*]`

[2022-09-21 09:30] easonboy commented on #1794
good job

[2022-09-22 14:09] #1719 closed

[2022-09-23 13:18] #1660 closed

[2022-09-23 17:39] dgrisonnet commented on #1793
We already have an e2e test verifying that metrics are conform with Prometheus standards: https://github.com/kubernetes/kube-state-metrics/blob/master/tests/e2e/main_test.go#L78-L95

[2022-09-23 17:39] #1793 closed

[2022-09-24 13:34] #1707 closed

[2022-09-25 15:17] liangyuanpeng commented on #1711
k8s v1.25 have release and i think we can begin work for `autoscaling/v2 HorizontalPodAutoscaler`.

/assign

[2022-09-26 09:09] fpetkovski commented on #1840
KSM aims to expose metrics from single Kubernetes resources in a one-to-one manner. Adding functionality that spans multiple resources has never been in scope. If some controller can update the status (or metadata) of network policies with the needed information, then that information can be exposed by KSM.

[2022-09-26 12:26] DawidWozniak-TomTom opened #1842 "Image scanning has detected CVE-2022-1996"
**What happened**:
Image scanning has detected critical vulnerability CVE-2022-1996

**What you expected to happen**:
0 critical vulnerabilities

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- kube-state-metrics version: v2.5.0

[2022-09-26 16:01] git4fred opened #1843 "we can't use kube_pod_status_reason metrics"
**What happened**:
I want to create an alert in order to know why a pod is in failed state. For this I use the `kube_pod_status_pahse` metrics, but I also want to know the reason why it is in Failed state. So I want to use `group_left` on `reason` label to this metric with `kube_pod_status_reason`.

But `kube_pod_status_reason` return several values with a value of 0. Each metric differs only by t

[2022-09-27 12:04] sumanthkumarc commented on #1465
This would be a really great metric to have. Helps us to understand the time taken for services to come up in cluster.

[2022-09-29 08:30] cpanato commented on #1792
what is the process to promote a metric? i would like to help here

[2022-09-29 15:39] dgrisonnet opened #1846 "Deprecate pod resource request and limit metrics"
We should look into whether we should deprecate the container-level `kube_pod_container_resource_limits` and `kube_pod_container_resource_requests` metrics in favor of pod-level resource request and limit metrics exposed by the kube-scheduler. The scheduler metrics were introduced by https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1748-pod-resource-metrics in 1.21,

[2022-09-30 06:29] fpetkovski commented on #1846
I am not sure if we can do this easily. Since the scheduler is a control plane component, not everyone has access to it, especially in managed kubernetes environments. I also like the fact that KSM has all data-plane metrics exposed in one place, and they all follow the same naming convention.

[2022-09-30 06:31] fpetkovski commented on #1843
Hello, you can filter out reasons using a unary operator in PromQL, e.g. `kube_pod_status_reason = ``

[2022-09-30 06:38] fpetkovski commented on #1843
Also worth noting is that the set of supported reasons is limited for cardinality control: https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/pod.go#L39

[2022-10-01 09:25] invidian commented on #1604
/remove-lifecycle stale

[2022-10-03 06:51] rexagod commented on #1846
I agree, however, do we want to allow duplicates in KSM? To frame it better, in an instance where there is an overlap between the metrics exposed by KSM and the ones exposed elsewhere, do we just remove them from KSM? Should that be the approach going forward?

[2022-10-03 06:57] rexagod commented on #1843
I think the issue here is not the filtering, but the fact that filtering wouldn't allow us to grep unsuccessful pods in the first place, as it's 0 for them. I need to check the relation between this returned value and the actual reason, if there is any, and probably couple them a bit more tighter.

[2022-10-03 06:57] rexagod commented on #1843
/assign

[2022-10-03 07:40] git4fred commented on #1843
Sure, but the issue is that all return values are 0.

Le ven. 30 sept. 2022 à 08:32, Filip Petkovski ***@***.***> a
écrit :

[2022-10-03 07:52] fpetkovski commented on #1843
I assume that is because no status from the list that I linked is actually present on your pods.

[2022-10-03 08:19] fpetkovski commented on #1846
In my view, the goal of KSM should be to expose metrics about the state of Kubernetes objects. I am pretty sure there already are overlaps with many different exporters that have different goals, but I would expect KSM to be a standalone project that can fulfil its own goal independently.

I also don't see why duplicates are problematic. It's easier to drop a duplicate than to run a different expo

[2022-10-03 12:04] #1715 closed

[2022-10-04 06:14] rexagod commented on #1792
@CatherineF-dev Would it be possible to document the promotion process somewhere in the code-base, maybe `docs/developer/guide.md`? This would greatly help newer contributors looking to work on this issue.

[2022-10-04 15:12] logicalhan opened #1847 "CRD metrics are extremely brittle"
**What happened**:

CRD metrics are currently extremely brittle due to the way it is implemented. The name of the CRD is interpolated into the name of the metric which makes it impossible to aggregate a CRD across different versions (or at least very very annoying to do so).

**What you expected to happen**:

The name, version, group of the CRD should be a value in a metric label.

**How to reprod

[2022-10-04 15:14] logicalhan opened #1848 "We should be able to watch all CRDs in a given APIGroup"
**What would you like to be added**:

Currently the implementation of CRD metrics allows us to allowlist a CRD of a known variety. What would be great is if we could watch all CRDs in a known apiGroup instead.

**Why is this needed**:

This makes configuration much simpler and is considerably more powerful since we can subscribe to an apiGroup instead of known CRDs.

**Additional context**

https:

[2022-10-04 15:27] dgrisonnet commented on #1847
I agree with that sentiment, prefixing the metrics by the GVK means that it is impossible today to build any kind of alerts or dashboards that would work across multiple versions of the CRD. It is very tedious and risky to have to update all the things that depend on the metrics when an API is updated. A UX improvement could also be to make it so that users don't necessarily have to update their k

[2022-10-04 15:35] dgrisonnet commented on #1848
Sounds like a great addition to improve the user experience. In general, we could make both the kind and version part of the gvk config optional as it would allow defining custom metrics for:
- a specific API version
- all the API versions of a resource
- all the APIs part of an API group

Compared to what we have today where we can only add custom metrics for one specific API version at a time.

[2022-10-04 16:03] dgrisonnet commented on #1846
This is a very fair point.

As much as I agree with that, kube-state-metrics is dependent on the Kubernetes project. KSM will never run outside of a Kubernetes environment, and I don't think anyone is running Kubernetes without kube-scheduler. So I think that we should consider the global picture and drive kube-state-metrics as a tool covering gaps in k8s API monitoring that were intentionally lef

[2022-10-04 16:44] dgrisonnet commented on #1778
I like the idea behind this feature, we should definitely make it possible to run a CRD version of ksm separately.

/assign @bavarianbidi

[2022-10-04 18:09] bavarianbidi commented on #1778
Nice, will implement/continue in that

[2022-10-04 19:41] rexagod commented on #1846
/assign

[2022-10-05 06:54] giannisioannou-tomtom commented on #1842
Any update on this?

[2022-10-05 16:15] mrueg commented on #1842
This should be fixed in master once https://github.com/kubernetes/kube-state-metrics/pull/1819 is merged.

[2022-10-06 04:04] muhammad-asn commented on #1269
Thank you for this info

[2022-10-07 12:53] rexagod commented on #1843
I'm able to reproduce this, working on a patch.

[code]

[2022-10-07 13:09] rexagod commented on #1843
@git4fred @fpetkovski is correct. All return values are 0 because none of those reasons are actually on any of your pods. For each pod, there's a set of pre-defined reasons as @fpetkovski pointed above. If the pod indeed has that value as the reason, it will be one, as seen here: https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/pod_test.go#L1291.

I think we can close th

[2022-10-07 13:35] rexagod commented on #1847
/assign

[2022-10-07 18:23] rexagod commented on #1848
/assign

[2022-10-07 19:07] rexagod commented on #1848
Just adding to Damien's comment above, this means that we'd keep the `group` fixed, while:

[code]

[2022-10-11 11:08] giannisioannou-tomtom commented on #1842
It's taking quite some time for the PR to be merged.

[2022-10-12 14:22] Aracki opened #1852 "Metrics kube_statefulset_annotations and kube_statefulset_labels don't work as expected"
Both metrics do not show custom labels/annotations I've added to my StatefulSets.

I am getting only default ones, as `container`, `instance`, `job`,...

**Environment**:
- kube-state-metrics version: `v2.5.0`
- Kubernetes version: `v1.22.8`

https://github.com/kubernetes/kube-state-metrics/issues/1852#tasklist-block-734ed8f2-d80b-4fd2-9c28-58f7651bf90c

[2022-10-14 12:41] CatherineF-dev commented on #1833
/open

[2022-10-14 18:19] ju4nmg commented on #1852
+1 i have the same problem with kube-state-metrics `v2.6.0` in kubernetes `v1.23.8`

[2022-10-16 06:17] gadisn opened #1855 "Typo in docs of custom resources after PR #1777"
**What happened**:
The new 'type' field for custom metrics, as added in https://github.com/kubernetes/kube-state-metrics/pull/1777, should be under 'each', see:

https://github.com/kubernetes/kube-state-metrics/blob/master/pkg/customresourcestate/registry_factory.go#L65
https://github.com/kubernetes/kube-state-metrics/blob/master/pkg/customresourcestate/registry_factory.go#L136

The problem is in

[2022-10-16 06:18] gadisn commented on #1855
@chrischdi FYI

[2022-10-17 07:17] chrischdi commented on #1855
Thanks for reporting @gadisn 😄 👍  I opened a PR to fix the document

[2022-10-17 07:23] #1855 closed

[2022-10-17 09:08] DawidWozniak-TomTom commented on #1842
Hey, I see the fix has been merged. When the new version with fix will be released?

[2022-10-17 23:16] michaelc0n opened #1857 "CVE-2022-27664 (HIGH)"
**What happened**:
appears version `kube-state-metrics/kube-state-metrics:v2.6.0` is affected by `CVE-2022-27664`

**What you expected to happen**:
is there a patch in process or different image I should be using?

**How to reproduce it (as minimally and precisely as possible)**:
scan image `kube-state-metrics/kube-state-metrics:v2.6.0` with `trivy`, example:

[code]

**Anything else we need to kn

[2022-10-17 23:17] michaelc0n opened #1858 "CVE-2022-1996 (CRITICAL)"
**What happened**:
appears version `kube-state-metrics/kube-state-metrics:v2.6.0` is affected by `CVE-2022-1996`

**What you expected to happen**:
is there a patch in process or different image I should be using?

**How to reproduce it (as minimally and precisely as possible)**:
scan image `kube-state-metrics/kube-state-metrics:v2.6.0` with `trivy`, example:

[code]

**Anything else we need to kno

[2022-10-18 03:18] ptimofee opened #1859 "Improve kube_node_status_{allocatable,capacity} description in the doc"
**What would you like to be added**:
I'd like someone to explain the difference between _kube_node_status_allocatable_ and _kube_node_status_capacity_ metrics.

**Why is this needed**:
The names are confusing. Existing description doesn't give any clue why those return the same values in most cases.

**Describe the solution you'd like**
I'd add a few words and links. For example, for allocatable I

[2022-10-18 12:19] grzesuav opened #1861 "[pod metrics] Support `StartError` in kube_pod metrics to detect container creation errors"
**What would you like to be added**:
State indicating `StartError` :
[code]
**Why is this needed**:
It complements detection of pod failures and allow to granularly identify the issue.
**Describe the solution you'd like**

Expose it as additional `reason` in `kube_pod_container_status_terminated_reason` ? Not sure if it suits here or as other metric

**Additional context**
Similar would be also us

[2022-10-18 12:25] NovemberZulu commented on #1861
I think it also makes sense to add a status to indicate `reason: StartError` in an init container. Unfortunately, `kubectl` prints pod `Init:CrashLoopBackOff` status when an init container fails with `StartError`

[2022-10-18 12:58] grzesuav commented on #1861
yes, make sense to do the same for init containers, probably via `kube_pod_container_status_waiting_reason` ?

[2022-10-19 21:31] hpsawant7887-lacer opened #1862 "Error in Parsing Cert-Mananger `Challenge` issue"
**What happened**:
I am trying to create custom metrics from Cert-Manager Resources like Challenge, Certificate etc.

I followed this document -> https://github.com/kubernetes/kube-state-metrics/blob/master/docs/customresourcestate-metrics.md

Currently I get an error when trying to parse, `Challenge` CRD

***Challenge resource***
[code]

***kube-state-metrics Deployment***
[code]

***ERROR in kub

[2022-10-20 00:39] CatherineF-dev opened #1863 "Support sharding by node_name for pod metrics"
**What would you like to be added**:

**Why is this needed**: Reduce KSM agent memory/cpu usage with multiple replicas, while not watching duplicated information.

**Describe the solution you'd like**: Add selector `spec.nodeName=`  in ListOptions

**Additional context**

Env $(NODE_NAME) can be passed to each replica

- [x] Add nodename FieldSelector https://github.com/kubernetes/kube-state-metri

[2022-10-20 01:38] CatherineF-dev commented on #1863
/assign

[2022-10-20 16:47] #1847 closed

[2022-10-21 16:23] dgrisonnet commented on #1786
I would still treat resources in the singular form as invalid, it will just complexify the codebase to have to support both and we would have to propagate that change to all the options that assume that only plural resources are provided.

But I agree that we should definitely add some explicit warnings, I would even go as far as exiting with an error when ksm is misconfigured.

[2022-10-21 22:07] wrossmann commented on #493
For anyone else that lands here investigating a similar issue, it seems like a large aggregate number of _any/all_ resource tracked by this exporter can cause it to use a fair bit of memory. The simplest way is to query for counts of metrics like `kube_*`, but if that's fallen out of your history you can also bump up the memory limit on the exporter and then query it directly.

In my case I learne

[2022-10-24 18:43] olivierlemasle commented on #1862
This seems to be fixed in kube-state-metrics 2.6.0.

Indeed, I was not able to reproduce the issue with `registry.k8s.io/kube-state-metrics/kube-state-metrics:v2.6.0`:

[code]

 but I reproduced it with the `v2.5.0` image.

Please try to upgrade kube-state-metrics.

[2022-10-24 18:47] olivierlemasle commented on #1862
Actually, the fix was https://github.com/kubernetes/kube-state-metrics/pull/1754.
The error came from the `-` in the API group `acme.cert-manager.io`.

[2022-10-25 10:49] hdxj-kaoy opened #1868 ""LabelFromKey" not avaliable"
`labelFromKey` does not work when I use the config below

`kube-state-metrics --port=8880 --telemetry-port=8881 --kubeconfig=/config --custom-resource-state-config-file=/crsm.yaml`

crsm.yaml
[code]

CR looks like:
[code]

I got :
[code]
instead of
[code]

After checking the source code and changing

https://github.com/kubernetes/kube-state-metrics/blob/a3a509acdff1f525c3ca2ff76344d0cedafd8a60/pkg

[2022-10-25 18:15] hpsawant7887-lacer opened #1869 "Lower Case Kind in `CustomResourceStateMetrics`"
Support for Lower-Case Kind in `CustomResourceStateMetrics` is not there in `kube-state-metrics` version`2.6.0`
I am using the helm-chart version `4.21.0` which uses ksm `2.6.0`
-->

**What happened**:
For following `CustomResourceStateMetrics` the metric that is being created is `kube_acme_cert_manager_io_v1_challenge_created_timestamp_seconds`

[code]

However we see error in logs

[code]

If we

[2022-10-25 23:54] olivierlemasle commented on #1862
/close

[2022-10-25 23:54] #1862 closed

[2022-10-26 06:02] mindw commented on #1718
/remove-lifecycle stale

[2022-10-26 06:38] ningan123 opened #1871 "labelFromKey is just for Gauge, other types (eg. Info) don't have the attribute"
**What would you like to be added**:
I need a labelFromKey for Info, not just Gauge.

**Why is this needed**:
If a CR (eg. Foo) is like this,
[code]
we can get the metric label using the following YAML:
[code]
The output metrics are like this:
[code]

However, if a CR (eg. Foo) is like this:

[code]
Because the value of  "type-a" is not a number, we need to use Info, not Gauge.  How can I get a me

[2022-10-26 13:33] fpetkovski commented on #1852
Are you setting `--metric-labels-allowlist`? https://github.com/kubernetes/kube-state-metrics/blob/master/docs/cli-arguments.md#available-options

[2022-10-26 17:46] mrueg commented on #1869
I believe this should be resolved in the change that moved group version kind to labels

[2022-10-26 19:02] hpsawant7887-lacer commented on #1869
@mrueg Is this available in `2.6.0` release?

The latest version of `kube-state-metrics` helm-chart uses `2.6.0` version
https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-state-metrics/Chart.yaml#L9-L14

[2022-10-26 19:08] mrueg commented on #1869
@hpsawant7887-lacer not, it will be available in the next release.

[2022-10-26 19:11] hpsawant7887-lacer commented on #1869
When do you think will next release be?

[2022-10-26 21:23] #1852 closed

[2022-10-28 07:20] looknicemm opened #1872 "kube_node_status_condition The condition "instance " is the pod ip rather than the ip of the host"
![image](https://user-images.githubusercontent.com/32831481/198527550-f29f9aeb-204f-4b47-9ab5-07e12d2fa51f.png)

kube_node_status_condition   The condition "instance " is the pod ip rather than the ip of the host

[2022-10-28 10:43] rexagod commented on #1858
/assign

[2022-10-28 10:47] rexagod commented on #1868
/assign
I don't think this was intentional. This makes sense to me. #1871 is more or less similar to this as well.

[2022-10-28 10:47] rexagod commented on #1871
/assign

[2022-10-28 10:49] rexagod commented on #1872
/assign

[2022-11-03 00:34] CatherineF-dev opened #1877 "Failed to run e2e tests locally"
**What happened**:
In following https://github.com/kubernetes/kube-state-metrics/blob/master/tests/README.md to run e2e test locally, but
[code]

**What you expected to happen**:
kind created a k8s cluster successfully.

**How to reproduce it (as minimally and precisely as possible)**:
1. download this repo
2. run `bash test/e2e.sh`

**Anything else we need to know?**:

**Environment**:
- kube-sta

[2022-11-03 07:13] rexagod commented on #1877
Seems to be working fine for the latest commit (as of this moment).

<details>
<summary>Details</summary>

![image](https://user-images.githubusercontent.com/33557095/199664706-493da96b-1e39-41be-b34b-bf7e3b603592.png)

</details>

[2022-11-03 12:30] CatherineF-dev commented on #1877
What's your `kind` version? cc @rexagod

[2022-11-03 12:31] rexagod commented on #1877
`kind v0.16.0 go1.19.1 linux/amd64`

[2022-11-03 14:31] rexagod commented on #1877
@CatherineF-dev If this is resolved, can we close this?

[2022-11-03 14:33] CatherineF-dev commented on #1877
No, haven't 😂

[2022-11-03 14:46] rexagod commented on #1872
/unassign
@looknicemm Are you sure this is not the expected behavior (is `honor_labels: false` on your end)? The [`instance`](https://prometheus.io/docs/concepts/jobs_instances/#automatically-generated-labels-and-time-series) label is something that usually auto-generated, and I'm fairly sure we do not override this.

[2022-11-03 14:57] rexagod commented on #1858
Seems to be fixed on the latest `master`.

[code]

[2022-11-03 15:28] CatherineF-dev commented on #1877
It seems stuck in this step. In waiting

Creating cluster "kind" ...
 ✓ Ensuring node image (docker.io/kindest/node:v1.24.0) 🖼
⢎⡠ Preparing nodes 📦 📦 📦

[2022-11-03 16:50] logicalhan commented on #1877
If kind isn't coming up, it's probably not a ksm issue...

[2022-11-03 16:50] logicalhan commented on #1877
/close

(this isn't a KSM issue)

[2022-11-03 16:51] #1877 closed

[2022-11-03 16:51] logicalhan commented on #1872
/assign @dgrisonnet

[2022-11-03 16:52] logicalhan commented on #1869
This is going to be obsolete, since we're not embedding kind in the metric name anymore.

/close

[2022-11-03 16:53] #1869 closed

[2022-11-03 17:30] rexagod commented on #1843
/close

[2022-11-03 18:25] #1846 closed

[2022-11-04 12:34] #1678 closed

[2022-11-06 09:57] #1659 closed

[2022-11-07 07:02] rexagod opened #1884 "Enable discussions"
Hello maintainers! 👋🏼

Can we enable discussions on this repository? That would save us a lot of noise that ends up turned into issues that aren't bugs, and should pave the way for general doubts that are more suited towards a forum than on a tracker.

WDYT?

[2022-11-07 07:03] rexagod commented on #1884
cc @dgrisonnet @logicalhan @mrueg @fpetkovski

[2022-11-07 11:18] dgrisonnet commented on #1884
I should have enabled them

[2022-11-07 11:52] dgrisonnet commented on #1872
The `instance` label comes from your Prometheus scraping configuration, most likely from prometheus-operator if you are using a ServiceMonitor or PodMonitor to scrape kube-state-metrics. As explained in this Promehteus doc: https://prometheus.io/docs/concepts/jobs_instances/, the instance refers to the endpoint of the scrape target so in this case, the endpoint on which kube-state-metrics is expos

[2022-11-07 11:52] #1872 closed

[2022-11-07 12:02] mrueg commented on #1884
I'm not sure if there's an org-wide guidance to enable/disable them?
I have a slight preference for regular issues, as there's a lifecycle available.

[2022-11-07 12:32] dgrisonnet commented on #1884
I don't think there is any guidance.

For me, it depends on the scenarios. I think discussions are better than issues for answering and tracking support questions as well as for discussing technical designs and ideas and keeping a record of them that is easier to browse than normal issues.

[2022-11-07 12:57] CatherineF-dev commented on #1863
/open

[2022-11-07 16:23] CatherineF-dev opened #1885 "Cut branch 2.6.1"
**What would you like to be added**: No

**Why is this needed**: 1. We released 2.6.0 on Aug. It's a good time release another version. 2. https://github.com/kubernetes/kube-state-metrics/pull/1873 needs a valid image tag.

**Describe the solution you'd like**

**Additional context**

Do we have other PRs will need to be in next branch cut?

[2022-11-07 16:29] mrueg commented on #1885
I'll work on releasing 2.7.0 next week, that should help for the change in #1873

[2022-11-07 19:12] michaelc0n commented on #1858
@rexagod thanks for applying fixes! i am noticing that when I pull from gcr (sample below) I still have critical/high shown for `v2.6.0`, is there an image published from `master` that I can pull?:

[code]

[2022-11-07 19:55] rexagod commented on #1858
@michaelc0n There isn't. It seems `trivy` reports the packages which have vulns, even if those vuln code paths are not used in the project itself.

For instance, if there's two functions in a package, say `vulnA` and `safeB`, then `trivy` won't consider if we used the latter function only, and not the former.

I hope this makes it clear how this gives rise to false positives, such as the ones you'

[2022-11-07 21:20] michaelc0n commented on #1858
@rexagod perfect sense, thank you!

[2022-11-07 21:20] #1858 closed

[2022-11-08 11:44] #1778 closed

[2022-11-08 14:53] rexagod commented on #1857
@michaelc0n Can you close this as well? Same reason as for the CRITICAL severity issue.

[2022-11-08 14:54] #1857 closed

[2022-11-08 15:11] rexagod opened #1886 "CRS metrics are hardcoded to "gauge" type"
**What happened**: CRS metrics are hard-coded to "gauge" as the their TYPE.

**What you expected to happen**: CRS metrics should be able to dynamically deduce the TYPE correctly.

**How to reproduce it (as minimally and precisely as possible)**: PTAL at the example below.

**Anything else we need to know?**: Surfaced here: https://github.com/kubernetes/kube-state-metrics/pull/1880#discussion_r1016

[2022-11-08 16:30] rexagod opened #1887 "Address lint reports"
According to [this](https://goreportcard.com/report/github.com/kubernetes/kube-state-metrics) (which we have a pointer to at the top of the README), `gocyclo` is the only linter not happy with the codebase in it's current state.

Please address these warnings, or add comments explaining why we need to [ignore them](https://github.com/fzipp/gocyclo#ignoring-individual-functions) in the codebase, so

[2022-11-08 16:31] rexagod commented on #1887
@mrueg @fpetkovski Can we add a _good-first-issue_ here?

[2022-11-08 18:18] dgrisonnet commented on #1887
For the record, we had a similar issue before with the pod store until it was refactored by: https://github.com/kubernetes/kube-state-metrics/pull/1315. Ideally, we should follow the same pattern for all the stores but making the change is very tedious, so I would very much understand if we don't.

[2022-11-08 18:36] dgrisonnet commented on #1884
Reopening to have a consensus.

[2022-11-08 18:38] logicalhan commented on #1884
I don't see the harm in enabling discussions. Since kube-state-metrics is a subproject and therefore does not have a dedicated google group, I see the argument for enabling a forum for community discussion.

[2022-11-08 18:45] mrueg commented on #1884
I'm not against enabling discussions for ksm, simply wanted to raise awareness for additional moderation and support required there to provide a good user experience (as there's e.g. a missing lifecycle).

[2022-11-08 18:48] logicalhan commented on #1884
For sure, we are actually actively working in SIG instrumentation for staffing sub-projects more aggressively. Moderating discussions could be a welcome contribution for new contributors.

Yeah that sounds reasonable to me. I suspect we may not even use it that much.

[2022-11-11 08:02] rexagod commented on #1884
Closing this now. Feel free to reopen.

[2022-11-11 08:02] #1884 closed

[2022-11-11 08:35] rexagod commented on #1843
@fpetkovski I think we can close this now.

[2022-11-11 08:39] mrueg commented on #1843
/close

[2022-11-11 08:39] #1843 closed

[2022-11-11 16:15] twosdai opened #1889 "Node Termination/Removal Time"
**What would you like to be added**:
A timestamp which records when a Node was removed from the cluster.
**Why is this needed**:
So as to track the performance and history of the physical infrastructure supporting the cluster, for alerting and monitoring purposes. Additionally this would be useful for things like auditing.
**Describe the solution you'd like**
Metrics would be exposed similar to th

[2022-11-11 16:16] twosdai commented on #1889
If this isn't possible, or more information is needed please let me know, sorry if I have contributed to the noise!

[2022-11-12 18:21] rexagod commented on #1889
/assign
We have [this](https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/pod.go#L567-L589) for pods, it makes sense to have it for nodes as well.

[2022-11-13 07:45] mrueg commented on #1889
/approve

[2022-11-13 11:01] rexagod opened #1891 "Add support for updating metrics on-the-fly"
**What would you like to be added**: At the moment, hot-reloading KSM restarts the entire process. We want to avoid this, and instead refresh the metrics (https://github.com/kubernetes/kube-state-metrics/issues/1791#issuecomment-1247326376, third point) on-the-fly.

**Why is this needed**: Ability to reuse cache that's still valid (and invalidate the rest), in addition to lesser downtime.

**Descr

[2022-11-13 11:01] rexagod commented on #1891
/assign

[2022-11-13 11:05] rexagod opened #1892 "Add support for hot-reloading on CRS config changes"
**What would you like to be added**: Hot-reloading when CRS config changes are detected.

**Why is this needed**: Allow users to make changes to their config and have KSM pick up on that automatically.

**Describe the solution you'd like**: Extend https://github.com/kubernetes/kube-state-metrics/pull/1827 for CRS config.

[2022-11-13 11:05] rexagod commented on #1892
/assign

[2022-11-13 11:10] rexagod opened #1893 "Add support for meta-metrics"
**What would you like to be added**: Add meta-metrics that hint towards the (hot-)reload status of KSM.

**Why is this needed**: This could be a initial effort towards a more dedicated way to introduce helpful meta-metrics for monitoring KSM itself (https://github.com/kubernetes/kube-state-metrics/pull/1827#issuecomment-1311703079, as Alertmanager does).

[2022-11-13 11:10] rexagod commented on #1893
/assign

[2022-11-14 16:31] adidenko opened #1895 "Adding metrics for IngressClass objects"
**What would you like to be added**:
Metrics for [IngressClass](https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class) Kubernetes objects.

**Why is this needed**:
The `kubernetes.io/ingress.class` annotation is deprecated from kubernetes v1.22+. `IngressClass` object was introduced to replace the deprecated annotation. `IngressClass` ties Ingress Classes and Ingress Contr

[2022-11-14 19:10] #1871 closed

[2022-11-15 10:22] xinsir88 opened #1897 "Can Grafana Dashbord json file be appended to the project?"
Can Grafana Dashbord json file be appended to the project?

[2022-11-16 06:44] #1889 closed

[2022-11-16 14:03] rexagod commented on #1897
IIUC right now we have alerts, but not dashboard in our [mixins](https://github.com/kubernetes/kube-state-metrics/tree/master/jsonnet). Is this a request to add the same?

[2022-11-17 13:49] rexagod commented on #1897
/assign

[2022-11-17 14:16] Kot-o-pes opened #1898 ""invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)"
**What happened**:
On a large cluster with ~324 namespaces and 1200 pods kube-state-metrics fails with error
[code]
**What you expected to happen**:
service is running with no issues

**How to reproduce it (as minimally and precisely as possible)**:
run kube-state-metric on a large k8s cluster
**Anything else we need to know?**:

**Environment**:
- kube-state-metrics version: 2.5.0 and 2.6.0
- Kub

[2022-11-17 14:24] Kot-o-pes commented on #1898
[code]
using       --namespaces=kube-system,monitoring seems to fix the issue but still if we need to monitor something besides narrow list of namespaces it will fail

[2022-11-17 14:32] Kot-o-pes commented on #1898
[code]
also works, which is a bit odd whats a difference between not specifying namespace flag and setting it to [*]

[2022-11-17 14:38] rexagod commented on #1897
https://github.com/kubernetes/kube-state-metrics/issues/123#issuecomment-543838164 makes sense, would having a dashboard in KSM be extraneous, given that K8s mixins already incorporates KSM functionality to a great degree?

[2022-11-17 14:46] mrueg commented on #1898
Thanks for your report!
One thing you might want to try is testing it with the latest image as well? https://console.cloud.google.com/gcr/images/k8s-staging-kube-state-metrics/global/kube-state-metrics@sha256:d9ffa9f609c2439013d3fe5a2570437e2338482dde625cd2331040e68cd7356f/details

[2022-11-17 16:21] CatherineF-dev commented on #1898
Compatibility matrix is here https://github.com/kubernetes/kube-state-metrics#compatibility-matrix

[2022-11-17 16:47] chrischdi opened #1899 "Automate generation of Custom Resource configuration"
**What would you like to be added**:

As a developer, I would like the kube-state-metrics Custom Resource configuration to be automatically generated from the API code.

Thanks to @sbueringer and @fabriziopandini  for helping in driving this efforts 👍

**Why is this needed**:

kube-state-metrics requires a configuration file for Custom Resources which could [grow to a very large file](https://gith

[2022-11-17 17:16] liam-verta commented on #1885
@mrueg
ETA?  There are CVEs in Go that would be clearer by a new release.

https://nvd.nist.gov/vuln/detail/CVE-2022-27664
https://nvd.nist.gov/vuln/detail/CVE-2022-41715
https://nvd.nist.gov/vuln/detail/CVE-2022-2879
https://nvd.nist.gov/vuln/detail/CVE-2022-2880

[2022-11-17 18:24] mrueg commented on #1898
You could try setting the log verbosity higher via `-v` and see if it produces additional output.

It's interesting if the namespaces setting is the only difference, see: https://github.com/kubernetes/kube-state-metrics/blob/34b46607993e2b5059fae9e8530675d384e525d0/pkg/options/types.go#L181

[2022-11-18 13:48] CatherineF-dev commented on #1899
This is a good idea to generate configurations.

However, does it require changing codes to add these annotations? Another idea might be generating configurations using k8s client.

[2022-11-18 15:26] hpvd commented on #1885
there is also a critical CVE-2022-1996 in the old version of https://github.com/emicklei/go-restful/tags
2.9.5 from May 16, 2019
latest would be v2.16.0 or even 3.10.0

![2022-11-18_16h22_02](https://user-images.githubusercontent.com/5681880/202740140-313f1e5e-d2ed-4c15-bad3-70ed4740e34c.png)

from trivy scan at artifacthub.io
https://artifacthub.io/packages/helm/prometheus-community/kube-promethe

[2022-11-18 15:34] hpvd commented on #1842
could be part of this https://github.com/kubernetes/kube-state-metrics/issues/1885

[2022-11-21 04:33] sbueringer commented on #1899
Yes. This would follow the pattern that controller-runtime/controller-tools uses to generate CRDs (see: https://book.kubebuilder.io/reference/markers/crd.html).

How would this work?

[2022-11-21 09:53] fabriziopandini commented on #1899
This will be an opt-in method alternative to writing this file manually; and as described above, it follow a well established pattern in Kubernetes API development (some of those annotations originate from Kuberentes API itself, kubebuilder added more on top)

[2022-11-21 13:22] CatherineF-dev commented on #1899
Got it.  Maybe we can keep kube-state-metrics API (crd-config.yaml) as same before, and this tool helps generating/merging CRD configurations?

The tricky cases I considered before are:
1. want annotation-based CRD metrics but it's hard to change codes
2. don't want annotation-based CRD metrics but it's hard to change codes

For kuberenetes/kubernetes codes, it needs rebuilding binary after changi

[2022-11-21 13:27] sbueringer commented on #1899
Yup absolutely, that is the idea :)

I think for the cases where the code cannot be adjusted it's probably the easiest to write the metrics configuration manually.

What we try to solve is essentially that when you are in control of the CRDs and corresponding Go types you can directly mark the metrics on the fields and then you don't have to write the config. But I think if you can't modify the CR

[2022-11-21 13:49] fabriziopandini commented on #1899
agreed
this is a tool and it just increases the number of available options for kube-state-metrics  users
1 - manually write crd-config.yaml (as of today), pass it to kube-state-metrics
2 - annotate CRD, use the tool to generate crd-config.yaml,  pass it to kube-state-metrics
3 - annotate CRD, use the tool to generate crd-config.yaml + manually make some adjustement,  pass it to kube-state-metrics

[2022-11-21 14:49] JoaoBraveCoding commented on #1711
Hello @liangyuanpeng do you plan to open a PR on this soon? If not I wouldn't mind help contributing for this issue :)

[2022-11-21 15:44] #1859 closed

[2022-11-21 19:04] dgrisonnet commented on #1832
I wonder if this is really something we want. I am personally quite pleased by the fact that users have to define which label they want to use themself since it prevents any unwanted scenarios to occur.

Also, we will have to do the same for annotations at some point if we have an option to enable label metrics, and I'd rather keep the configuration format simple with metrics having to be defined

[2022-11-22 03:37] chrischdi commented on #1832
Totally fair point, also there is the above example how it could be done using an Allowlist approach :+1:

[2022-11-22 07:47] Kot-o-pes commented on #1898
tried with args
[code]
log seems the same
[code]

[2022-11-22 08:47] mrueg commented on #1898
Can you remove the ingresses resource and run it again? It looks like something might fail there

[2022-11-22 10:28] Kot-o-pes commented on #1898
@mrueg thank you! it worked without ingresses, heres log of running with ingress set
[code]
looks like its related to https://github.com/kubernetes/kube-state-metrics/issues/1660

[2022-11-22 12:51] mrueg commented on #1898
Yes looks like it could be related to #1660. Could you test with `gcr.io/k8s-staging-kube-state-metrics/kube-state-metrics@sha256:a1aa98cfdcfe6c430f4b4c2857783dad00a597a2fc614fcce500f3aac8153d1b` as the image and only ingresses?

[2022-11-22 13:21] Kot-o-pes commented on #1898
looks good
[code]

[2022-11-22 13:51] mindw commented on #1501
/remove-lifecycle stale

[2022-11-23 09:35] TomasKuznetsov commented on #1241
/reopen

Hey, we are still experiencing this issue. kubernetes 1.21, kube-state-metrics 1.9.8. Any updates regarding the issue?

logs:
<details>
  <summary> Logs </summary>
  <p>
    W1123 09:19:20.105198       1 reflector.go:340] pkg/mod/k8s.io/client-go@v0.0.0-20191109102209-3c0d1af94be5/tools/cache/reflector.go:108: watch of *v1beta2.VerticalPodAutoscaler ended with: an error on the server ("un

[2022-11-23 13:36] dgrisonnet opened #1901 "Document scale testing process"
In https://github.com/kubernetes/kube-state-metrics/issues/1341 kube-state-metrics scale testing was introduced, but the process to run them was never documentation, we should remediate to that.

[2022-11-23 13:37] dgrisonnet commented on #1901
@mrueg I wasn't implicated in the original effort but saw that you were, do you perhaps know how to run the tests? Otherwise I can take the item and try to figure out how to run them.

[2022-11-23 13:43] dgrisonnet opened #1902 "Add scale/perf tests for custom-resource-state-metrics"
Since support for CRDs was introduced, we never added scale and perf tests for this feature although it would be very beneficial since this feature has its own logic. The idea would be to add it on top of the original scale testing effort: https://github.com/kubernetes/kube-state-metrics/issues/1341.

Since https://github.com/kubernetes/kube-state-metrics/pull/1813 has been introduced, we can now

[2022-11-23 13:47] dgrisonnet opened #1903 "Cleanup documentation directory structure"
Over time the docs directory became very messy and it has become very hard to find information in it since it doesn't have any structure. It would be great to improve that by separating related content into dedicated directories.

[2022-11-23 13:51] dgrisonnet opened #1904 "Update kube-state-metrics scaling recommandations"
The scaling recommendation in the README hasn't been updated since the release of ksm 2.0. It would be great to run the scale tests again to see if there were any changes and to reflect them in the doc. This is related to https://github.com/kubernetes/kube-state-metrics/issues/1901 and ideally, we would want to have the scale tests run every release to make sure we don't have any regressions betwe

[2022-11-24 09:34] amomsi commented on #1887
Hello @rexagod this report is 2 years old. How can we update it?

[2022-11-24 11:02] rexagod commented on #1887
It'll pick up on the changes automatically once [the gocyclo issues](https://goreportcard.com/report/github.com/kubernetes/kube-state-metrics#gocyclo) are addressed.

[2022-11-24 11:58] #1711 closed

[2022-11-24 12:20] fkrestan opened #1907 "Merge labels in metric labels allowlist when resource glob is used"
**What would you like to be added**:

I'd like to change the resource glob (`*=[...],`) behavior in `--metric-labels-allowlist` cli option to merging instead of overriding all allowed labels of explicitly listed resources.

Example for Deployment:

 `--metric-labels-allowlist=*=[foo],deployments=[bar]`

- Current behavior is that `kube_deployment_labels` would have only `foo` label allowed.
- Prop

[2022-11-24 14:47] dgrisonnet commented on #1887
Actually, you need to use this link: https://goreportcard.com/report/k8s.io/kube-state-metrics/v2 otherwise it targets v1.9.8

[2022-11-24 15:05] fpetkovski commented on #1907
Hm this would be a breaking change, which means it can break existing users if we release such a change. Do you have a way to solve this with better configuration management on your side?

[2022-11-24 15:40] #1895 closed

[2022-11-24 16:03] mrueg commented on #1901
I haven't run them, but was able to find the PRs created at that time.

https://github.com/kubernetes/perf-tests/pull/1684
https://github.com/kubernetes/perf-tests/pull/1761
https://github.com/kubernetes/perf-tests/pull/1773
https://github.com/kubernetes/perf-tests/pull/1774 (this was a successful run via CI on a GCE based cluster)

[2022-11-24 16:18] dgrisonnet commented on #1901
Ah, I see, thank you for linking the PRs, I somehow missed the one that added the test to the list of presubmits.

So I guess what we should do is add an action item to the release process to update https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/pkg/prometheus/manifests/exporters/kube-state-metrics/deployment.yaml. Maybe what we should do is set the image of ksm to the staging

[2022-11-24 16:28] mrueg commented on #1901
I believe they were only ran once via CI in that PR and are not running them continuously right now.
We could probably have a test PR that we trigger before the release?

[2022-11-24 16:38] dgrisonnet commented on #1901
Yes, that could be easy, not sure how we could hook into that, but it is worth investigating. Let's try to look into that for the next release

[2022-11-24 18:23] sarahjanenewnham commented on #1903
@dgrisonnet I could group them into directories that roughly align with the [categories listed in the Kubernetes API docs](https://kubernetes.io/docs/reference/kubernetes-api/)? i.e. "workload", "service", "config and storage", etc.

[2022-11-26 15:48] fkrestan commented on #1907
Oh, the v2.7.0 has been released already. That's unfortunate.

While it ads complexity, I can resolve this with configuration management.

[2022-11-26 15:48] #1907 closed

[2022-11-26 17:23] NakulJain-git commented on #1903
/assign

[2022-11-27 00:09] mrueg commented on #1898
v2.7.0 has been released, please test again and feel free to reopen if this is not resolved.

[2022-11-27 00:09] #1898 closed

[2022-11-27 00:10] mrueg commented on #1885
v2.7.0 has been released

[2022-11-27 00:10] #1885 closed

[2022-11-27 00:10] mrueg commented on #1842
v2.7.0 has been released, feel free to reopen if this is not resolved.

[2022-11-27 00:10] #1842 closed

[2022-11-27 00:11] mrueg commented on #1868
v2.7.0 has been released, feel free to reopen if this is not resolved.

[2022-11-27 00:11] #1868 closed

[2022-11-27 00:12] mrueg commented on #1795
no response, feel free to reopen if this is still an issue.

[2022-11-27 00:12] #1795 closed

[2022-11-27 00:13] mrueg commented on #1791
I think this issue is resolved. Thanks for your work @rexagod

[2022-11-27 00:13] #1791 closed

[2022-11-27 00:14] mrueg commented on #1718
We decided to deprecate built-in VPA support in v2.7.0, please consider using Custom Resource State configurations instead.  See https://github.com/kubernetes/kube-state-metrics/issues/1790 https://github.com/kubernetes/kube-state-metrics/pull/1835

[2022-11-27 00:14] #1718 closed

[2022-11-27 11:19] sarahjanenewnham commented on #1903
/assign

[2022-11-27 13:04] sarahjanenewnham commented on #1903
/easycla

[2022-11-28 02:58] mumong opened #1912 "About this metric "kube_persistentvolumeclaim_status_phase", is there another status called "Terminating"? help wanted"
there is  a problem, if i dedelte the pvc but haven't delte the pod yet. this pvc will going to be like this status "Terminating".so whethere the metric "kube_persistentvolumeclaim_status_phase" can detect the status or only "Bound/Lost/Pending"?

![微信图片_20221128105639](https://user-images.githubusercontent.com/91200009/204182027-5876fd1e-da2e-4d55-b6cd-29bfb9cf95c9.jpg)

[2022-11-28 06:47] fpetkovski commented on #1912
Currently we only report these three distinct phases that you described in the issue. The code which does this is here: https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/persistentvolumeclaim.go#L118

[2022-11-28 08:05] mumong commented on #1912
thanks so much,is there going to add the status in the future? or the metric didn't cover this status when design it ? :)
anyway than you

[2022-11-28 08:18] mrueg commented on #1897
We could add a link https://github.com/prometheus-operator/kube-prometheus in the README.
Dashboards for KSM are usually really specific and I don't think there's a good universal view.

[2022-11-28 13:26] mrueg commented on #1902
I would suggest an easy one for this could be:

In kind cluster:
* Create `n` Namespaces with `m` labels
* Run with ksm --resources=namespaces allowing all labels and benchmark it
* Run with ksm --custom-resource-state-only + custom-resource-state for v1core / namespaces allowing all labels and benchmark it

That way we can compare the performance also towards native resources.

[2022-11-28 16:02] dgrisonnet commented on #1897
If the dashboard is exposing SLIs about kube-state-metrics I am fine with having it in this repository, but if we are talking about dashboards related to Kubernetes clusters in general, https://github.com/kubernetes-monitoring/kubernetes-mixin/ would be better suited.

[2022-11-29 12:01] fpetkovski commented on #1912
This particular metric does not cover Terminating because that is not a phase: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#phase.

I believe the `Terminating` message is inferred by `kubectl describe` and is not an actual field in the PVC status. It relies on various fields in the PVC phase to infer the status: https://github.com/kubernetes/kubectl/blob/cf0626ffbf4e4f8e9a7abaf5

[2022-11-29 16:28] dgrisonnet opened #1915 "IGNORE: test prow need-triage automation"

[2022-11-29 16:38] #1915 closed

[2022-11-29 19:50] rexagod commented on #1893
/assign @mrueg

[2022-11-30 00:24] mrueg opened #1917 "Improve UX for Config File syntax"
**What would you like to be added**:

The config file syntax could be improved to provide a better UX.

**Why is this needed**:
Currently resources and namespaces use the types ResourceSet (map[string]struct{}), which works on the CLI like this:

`--resources=endpoints,services`

in the config file, it needs to be:
[code]
which is rather not intuitive.

**Describe the solution you'd like**

Ideall

[2022-11-30 15:54] pawcykca commented on #1612
Hi @dgrisonnet,

I have similar problem for jobs that doesn't have `metadata.ownerReferences` field.
For example, jobs created by Ingress Nginx Controller:
[code]
Why in such a case `kube-state-metrics` does not return just "" as a value instead of the current "<none>" value?