[2019-03-06 16:39] alok87 commented on #672
+1 facing the same issue

[2019-03-07 06:59] alok87 commented on #672
I also got bitten by a similar issue yesterday. In our cluster we have two instance groups, each having a taint - `ondemand` and `spot`. Every pod we run in the cluster needs to tolerate one of these taints.

We are running kube state metrics deployment https://gist.github.com/alok87/1d83d520437aeccc9302cd711c64322c having taint as `spot`.

On doing creating the above deployment a single replica s

[2019-03-07 09:49] brancz commented on #672
The replicasets being leftover is a feature of the Deployment object in Kubernetes. By default a Deployment keeps the last 10 versions of the replicasets it creates, for rollback purposes. This sounds to me like this is an issue with the addon-resizer not transferring tolerations properly when it "autoscales" kube-state-metrics.

[2019-03-07 12:10] alok87 commented on #672
@brancz should i open a separate issue somewhere else?

[2019-03-07 12:23] mxinden commented on #672
@andre-franco you seem to be running an old version of the addon-resizer:

[code]

This version probably still contains the issue described in https://github.com/kubernetes/autoscaler/issues/188.

Would you mind trying out a recent version. E.g. the one we use in current kube-prometheus: https://github.com/kubernetes/kube-state-metrics/blob/master/kubernetes/kube-state-metrics-deployment.yaml

[2019-03-07 13:11] #540 closed

[2019-03-07 13:50] mxinden opened #697 "Discuss cutting kube-state-metrics v1.6.0"
Given that the last release was cut ~2 month ago and *master* being ahead of *release-1.5* by 107 commits, what do you all think of cutting a *v1.6.0* release?

[2019-03-07 14:24] brancz commented on #697
Sounds good to me :+1:

[2019-03-07 15:03] tariq1890 commented on #697
Possible to fit PRs #610 and #654 into the release?

[2019-03-07 15:15] brancz commented on #697
#654 is already merged, so yes, #610 I'm not so sure about as it will need some follow up and I'd be ok if it lands in the next release

[2019-03-07 15:24] tariq1890 commented on #697
Whoops typo I meant #650

[2019-03-07 15:25] tariq1890 commented on #697
Sure, I understand. Also, if it doesn't have any activity, I don't mind picking one of them up. We can also open it up to potential contributors in the Kubernetes slack. Thoughts?

[2019-03-07 15:27] tariq1890 commented on #697
Or if we want to cut the 1.6.0 release sooner, we can just wait until the next minor release too

[2019-03-07 16:10] brancz commented on #697
Pinging people on kubernetes slack as a first measure sounds like a good idea. As we don’t have a regular release cadence, I think it’s ok to also cut the next minor release closer to this one if needed.

[2019-03-09 19:02] #547 closed

[2019-03-13 11:43] okke-formsma opened #699 "Export readiness and liveness metrics"
/kind feature
Currently there is no way to monitor liveness and readiness probe failures using kube-state-metrics. I would very much like to be able to see these for every pod.

[2019-03-14 13:54] #497 closed

[2019-03-14 18:25] tariq1890 commented on #697
Let's cut this!

[2019-03-15 08:43] brancz commented on #697
Agreed. @mxinden you want to take care of this?

[2019-03-15 10:13] #556 closed

[2019-03-15 10:36] brancz commented on #699
The kubelet has the `/metrics/probes` path, which exposes the results of probes. Given that's where the metrics originate that's also a better place that the kubelet :slightly_smiling_face: .

[2019-03-20 11:12] #493 closed

[2019-03-21 03:52] dengceltics opened #703 "some metrics such as kube_pod_container_ cannot scrape"

[2019-03-21 03:56] dengceltics commented on #703
Pod log shows: dial tcp 10.233.0.1:443: connect: connection refused 、too old resource version :398

[2019-03-21 03:56] dengceltics commented on #703
Pod log shows: dial tcp 10.233.0.1:443: connect: connection refused 、too old resource version :398

[2019-03-21 06:41] szymonpk commented on #672
I had similar issue, `k8s.gcr.io/addon-resizer:1.8.4` works like a charm. But beware, look like this bug is back in 2.0 (kubernetes/autoscaler#1799).

[2019-03-21 16:29] chancez opened #704 "Support for PersistentVolume cloud volumeID metric/label"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

I'm not sure how this should work; but it would be useful to have a metric or label added to PV metrics that indicates the cloud volumeID of a volume. It's provider specific; so I'm not sure the best way to go about it.

At the end of the day, I'm expecting a new metric (or many metrics) with the value of `spec.gcePersistentDisk.pdName`

[2019-03-21 20:37] brancz commented on #703
That's just logging from the informers, it will re-attempt until it succeeds. Are you seeing lots of these being logged quickly? If not then this is perfectly fine and even expected.

[2019-03-21 20:42] brancz commented on #704
As this is flat information, I think this could even be part of an info metric, just the amount of labels might be problematic. How many volume providers are currently supported? Are all of those identifying infos flat?

[2019-03-21 20:46] brancz commented on #704
Also this may change with CSI so may become less of a source of truth.

[2019-03-21 23:14] chancez commented on #704
I think the main thing is you would need to be able to determine both the ID and what cloud the ID is for. If we only have a label "volume_id` in a metric; that wouldn't be enough to determine if it's a volume on GCE/AWS (thinking about multi-cloud or setups with multiple volume providers). StorageClass wouldn't work either since that's not 100% required to be used (can manually create a PV).

[2019-03-21 23:23] chancez commented on #704
I do think putting this into an `info` metric makes sense though.

[2019-03-22 00:47] dengceltics commented on #703
![1](https://user-images.githubusercontent.com/42082255/54793741-e4d0f300-4c7e-11e9-96df-613fd844e9a1.PNG)

Tried it all the time, but it didn't work.

[2019-03-22 09:58] brancz commented on #703
You seem to have a lot of connection refused, that doesn't seem to be a problem with kube-state-metrics per se, it looks more like a setup problem of your cluster.

[2019-03-22 10:01] brancz commented on #704
I was thinking of calling the labels `gce_persistent_disk_name`, `ebs_volume_id`. A single PV doesn't have multiple of these set. I don't see the difference between separate metrics and combining all of these as labels in one metric.

[2019-03-22 17:22] chancez commented on #704
That's fine. I wasn't sure if it was best practice to omit labels in these cases (enum style metric i guess?). 👍

[2019-03-24 20:07] #649 closed

[2019-03-26 15:12] liuwenjiegithub opened #706 "kube-static-metrics addon-resizer error"
ERROR: logging before flag.Parse: I0326 14:44:55.136801       1 pod_nanny.go:81] Watching namespace: kube-system, pod: kube-state-metrics-65f9c6fcdf-gcbrm, container: kube-state-metrics.
ERROR: logging before flag.Parse: I0326 14:44:55.136808       1 pod_nanny.go:82] storage: MISSING, extra_storage: 0Gi
ERROR: logging before flag.Parse: I0326 14:44:55.138236       1 pod_nanny.go:171] Failed to rea

[2019-03-29 09:40] htlhenry commented on #33
very clear

[2019-03-30 19:17] #574 closed

[2019-04-01 09:14] brancz commented on #704
Generally an enum style metric would be nice, but have too huge of a cardinality here, plus I don't see a huge gain of zero-ing the other enum values in this case, as it's primarily meta-data.

[2019-04-01 11:15] avdhoot commented on #706
facing same issue

[2019-04-01 12:05] avdhoot commented on #706
To things work changed version of  `addon-resizer:1.8.4` & Changed memory(base) arg of addon-resizer container to `--memory=500Mi` . Not sure that much memory is required by 'kube-state-metrics' are not. Launched kube-state-metrics container is taking around `498Mi` Hope it help.

[2019-04-01 12:26] brancz commented on #706
Sounds like we also need to configure a parameter for storage?

[2019-04-01 12:34] avdhoot commented on #706
Memory usage are down.
![kube-metrics](https://user-images.githubusercontent.com/1314627/55327771-75da7200-54a8-11e9-9045-2b93ab5ff132.png)

[2019-04-01 14:58] brancz commented on #706
did you deploy a new version of kube-state-metrics? v1.5.0 had major memory improvements :)

[2019-04-01 15:04] avdhoot commented on #706
Yep. It is `1.5.0`

[2019-04-01 15:43] brancz commented on #706
In that case this is a good graph no? :) the memory improvements worked

[2019-04-04 07:49] sylr opened #712 "Add label for priority class in kube_pod_info"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

It would be nice to be able to have information about the priority class to write alerts that does not involve low priority pods.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubec

[2019-04-04 08:30] brancz commented on #712
Priority class is flat information on the Pod object, so adding the label to `kube_pod_info` would be more appropriate I think, but generally I think this is a good idea to add.

[2019-04-04 09:04] brancz commented on #569
@sylr brought to my attention, that for a number of pod metrics, there is the `node` label. For consistency, these labels should not be on those metrics directly, but instead be joined onto the metrics at query time. Example: https://github.com/kubernetes/kube-state-metrics/blob/aed94850b839d111d15308c97e1db7ada8017c6f/internal/collector/pod.go#L511

[2019-04-04 12:41] chenk008 commented on #712
@brancz Can I work on this?
/assign @chenk008

[2019-04-04 14:39] brancz commented on #712
@chenk008 go for it! :)

[2019-04-05 08:39] #712 closed

[2019-04-05 14:42] luarx opened #714 "New metric for PVC resize status"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
In Kubernetes v1.11 the persistent volume expansion feature is being promoted and we can use it to resize PVC. But kube-state-metrics doesn't have a metric to know if a PVC is "**resizing**"/"**already resized but pending of a pod restart**"/"**resized**".

It would be useful to know if a pod must be restarted so that

[2019-04-05 17:26] brancz commented on #714
The use case makes perfect sense! How does this show in the PVC object? As that's what we would need to create metrics off of.

[2019-04-09 00:07] lonestriker commented on #574
Our use of Kubernetes would greatly benefit from having the pod and deployment annotations exposed.  I'd like to add my vote for this feature to be added as an opt-in configuration option.

/reopen

[2019-04-09 09:12] luarx commented on #714
Great! I appreciate that :D

In the PVC object there are **3 resizing phases**:

1. **NORMAL** status without asking for a resize or **AFTER RESIZING A PVC**
![no_resize_required](https://user-images.githubusercontent.com/22997139/55786946-8d6fb700-5ab5-11e9-80f8-084b5817f272.png)

2. Volume **RESIZING**
![resizing](https://user-images.githubusercontent.com/22997139/55787083-c90a8100-5ab5-11e9-867

[2019-04-09 09:48] brancz commented on #714
I think having condition metric like we do for pods and nodes would be more appropriate here.

[2019-04-09 09:53] luarx commented on #714
Are you talking about `kube_node_status_condition`? I has 3 status values: true/false/unknow...will we define our 3 phases instead of those so?

[2019-04-09 11:24] brancz commented on #714
It has the `condition` _and_ `status`, which seems to be a similar circumstance here. We would have the `type` and `status`, which are the required fields for that struct and essentially enums.

[2019-04-09 19:07] luarx commented on #714
Yes, it makes sense! It would work for me :)

[2019-04-09 19:15] brancz commented on #714
You want to give it a go? :)

[2019-04-10 15:32] gjcarneiro opened #719 "expected type *v1beta1.Deployment, but watch event object had type *v1.Deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Deployed `quay.io/coreos/kube-state-metrics:v1.6.0-rc.0`

I keep getting these messages in logs, over and over:

[code]

**What you expected to happen**:

It shouldn't log errors.

**How to reproduce it (as minimally and precisely as possible)**:

This my deployment yaml file:

[kube-state-metrics.yaml.txt](https://githu

[2019-04-10 16:22] tariq1890 commented on #719
Thanks for reporting this issue. We used `v1beta1` apiGroup for the sake of supporting older versions of k8s.

If we are to move the apiGroup to core `v1` , we would need to look into updating the compatibility of matrix of kube-state-metrics v1.6.0.

Thoughts @brancz?

[2019-04-10 18:30] brancz commented on #320
/remove-lifecycle stale

[2019-04-11 03:17] marvinpan8 commented on #672
+1 facing the same issue，use `addon-resizer-amd64:2.1` ,and use in current kube-prometheus:  https://github.com/coreos/prometheus-operator/blob/v0.29.0/contrib/kube-prometheus/manifests/kube-state-metrics-deployment.yaml

[2019-04-11 07:32] brancz commented on #719
Is that so? Workloads went v1 in 1.9 if I recall correctly, so our compatibility matrix is correct as is (it says we don't even make any support claims about 1.9 at this point). Is the `extensions` API still available in the latest versions?

[2019-04-12 16:25] tariq1890 commented on #719
So I checked `release-1.14`. The `extensions` API is still there but  it does say that `extensions/v1beta1` is deprecated in favour of `apps/v1beta2/` https://github.com/kubernetes/api/blob/d687e77c8ae999eab9ebad49439d16e61add0df0/extensions/v1beta1/types.go#L82

It doesn't seem to explain this error though. Will have to dig deeper.

[2019-04-13 20:16] tariq1890 commented on #719
Please disregard my earlier comments.

This should be fixed by #720

[2019-04-16 07:00] WakeupTsai commented on #672
+1, encounter the same prometheus, use `k8s.gcr.io/addon-resizer:1.8.4`.

[2019-04-18 16:27] tariq1890 commented on #719
I think this can be closed now.

[2019-04-19 08:29] #719 closed

[2019-04-19 12:09] leo1515416043 opened #725 "addon-resizer ERROR logging before flag.Parse"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[code]
**What you expected to happen**:
NO ERROR log
**How to reproduce it (as minimally and precisely as possible)**:
just follow [this official deployment](https://github.com/coreos/kube-prometheus/blob/master/manifests/kube-state-metrics-deployment.yaml)

**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2019-04-22 08:47] zouyee commented on #706
https://github.com/kubernetes/autoscaler/pull/559

[2019-04-22 08:56] zouyee commented on #725
https://github.com/kubernetes/autoscaler/pull/1792

[2019-04-22 09:00] zouyee commented on #714
It is helpful to troubleshoot the volume condition!

[2019-04-22 13:32] ehashman commented on #257
/close

[2019-04-22 13:33] #257 closed

[2019-04-24 06:36] qw1mb0 opened #730 "kube_deployment_status_.* wrong"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kube-state-metrics reports that the kube-state-metrics deployment has no available replicas.
More info:

How many pods should the deployment have:
[code]

How many pods have deployment:
[code]

Now let's see the deployment status available / unavailable:
[code]

Let's look at the state in Kubernetes:
[code]

More metrics:

[2019-04-24 07:07] qw1mb0 commented on #730
We have seen this problem on 10 clusters out of 80. We have a lot of alerts based on these metrics.

[2019-04-24 08:22] gjpei2 opened #731 "metrics ”kube_pod_container_status_restarts_total” add pod_ip in the label"
hello.
i am using kube-state-metrics monitor my k8s,i want to know pod_ip  when my pod is restarting,it should become a label when alert is fring .but the metrics's label haven't this items, of course ,the metrics kube_pod_info has this label ,but i don't know how to give this ip to my alertmanager when my pod restarting,or can we add this label to the metrics,”kube_pod_container_status_restarts_t

[2019-04-24 09:42] brancz commented on #730
Does this eventually solve itself or once it's in this state it always stays like that? Could you try giving kube-state-metrics more memory and cpu? This could tell us if the internal queues might be worked off faster as in not being worked off fast enough now.

[2019-04-24 09:43] brancz commented on #731
You are looking to join metrics. See some examples here: https://github.com/kubernetes/kube-state-metrics/tree/master/docs#join-metrics

[2019-04-24 10:36] gjpei2 commented on #731
@brancz  it is useful ,thanks a lot!
i will close this issue

[2019-04-24 10:39] #731 closed

[2019-04-24 12:32] qw1mb0 commented on #730
We will conduct some tests and report the results next week. Thanks for the idea.

[2019-04-26 08:59] mxinden commented on #730
@qw1mb0 thanks! I am curious what is happening here.

[2019-04-30 07:17] qw1mb0 commented on #730
We continue to experience problems with incorrect data in kube-state-metrics
[code]

The real state of the deployment:
[code]

Container allocated so many resources    resources:
[code]

via addon-resizer:
[code]

Real CPU consumption:
http://screenshot.flant.ru/a.sidorov/91/65/9165b7e8adc7d69a676ffaf6ee9446386e4384d1.png

Real RAM consumption: http://screenshot.flant.ru/a.sidorov/dc/d0/dcd0bd89bf

[2019-04-30 07:28] brancz commented on #730
Could you completely remove the limits and see if this is still happening? Also you may be able to tell if the CPU is being throttled with this query if you are collecting cAdvisor metrics:

[code]

[2019-04-30 07:35] qw1mb0 commented on #730
Throttling graph:
http://screenshot.flant.ru/a.sidorov/2c/62/2c62df84fe3da6d5e1cc0a6c4add76860c2fe318.png

Now I will remove the limits and follow the work.

[2019-04-30 07:37] brancz commented on #730
Yeah that looks like the process is pretty much starved of the CPU it needs, removing CPU limits (or at least doubling judging by this graph) should help.

[2019-04-30 10:12] Bessonov commented on #611
/remove-lifecycle stale

[2019-05-02 06:12] #678 closed

[2019-05-05 08:57] #458 closed

[2019-05-07 13:49] zuzzas opened #743 "Everything is a Gauge! (except "kube_pod_container_status_restarts_total")"
/kind bug

We are building a hacky highly-available kube-state-metrics installation. For it to work, though, we've got to ensure that everything is Gauge in kube-state-metrics. And it made perfect sense for it to be, since it's basically just an adapter between Kubernetes API and Prometheus exposition format. But there is one [thing](https://github.com/kubernetes/kube-state-metrics/blob/master/int

[2019-05-07 13:53] brancz commented on #743
I wouldn't call this a bug, restarts _are_ monotonically increasing, so they are a counter. Why do you need it to be a gauge? If you want high availability with kube-state-metrics you will have to scrape two identical replicas, and handle "deduplication" at query time.

[2019-05-07 13:56] zuzzas commented on #743
I wouldn't call that a bug too. I didn't know what label makes more sense.

But what if we scrape a ClusterIP type Service (yes, that would require some Prometheus hacking)? There won't be any duplication. And it should, theoretically, work if everything is a Gauge.

Restarts are monotonically increasing, but those are recorded [here](https://github.com/kubernetes/kube-state-metrics/blob/master/in

[2019-05-07 14:15] mxinden commented on #743
Kube-state-metrics is an adapter to the Kubernetes API with a replicated cache of the Kubernetes cluster state. A scrape request to kube-state-metrics does not result in a request by kube-state-metrics to the Kubernetes API. Instead kube-state-metrics leverages [Kubernetes informers](https://github.com/kubernetes/client-go/tree/master/tools/cache) to keep its local cache up to date within a reason

[2019-05-07 14:19] zuzzas commented on #743
Well, yeah, the Store component may go out of sync, which throws the whole idea into a garbage bin. Thanks for confirming my fears! :)

[2019-05-07 14:19] #743 closed

[2019-05-08 07:49] qw1mb0 commented on #730
We removed the limits, but we still see a problem with kube-state-metrics.

10.244.7.190 - old kube-state-metrics
10.244.7.191 - new pod, after restart kube-state-metrics

[code]

[code]

[2019-05-08 09:46] gjpei2 opened #744 "Add metrics's value as metrics's label"
hello:
i am using kube-state-metrics monitor my k8s, i use deployment to create pod.
sometimes i want to know  whether replicas available is my observed. when it is not observed, i want to know how many replicas available and how many should have replicas in my k8s  ,
i use this rules:
- name: deployment_replicas_monitor
      rules:
      - alert: DeployError
        expr: kube_deployment_status_

[2019-05-08 15:28] qw1mb0 commented on #730
Another example from another cluster:
[code]

But target exists: http://screenshot.flant.ru/a.sidorov/43/46/434617f629c43c3ef87f5ffeb8f2befdcd8bb276.png
[code]

Info about replicaset and pod correct:
[code]

In logs of kube-state-metrics only:
[code]

[2019-05-08 18:16] brancz commented on #730
Could you upgrade to the stable release of v1.6.0, that error should be fixed there.

[2019-05-09 09:19] sylr opened #745 "kube_daemonset_status_desired_number_scheduled is not updated when node is tainted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The cluster autoscaler adds the ToBeDeletedByClusterAutoscaler taint on nodes it is about to delete.

It does not seem that the metric kube_daemonset_status_desired_number_scheduled is decreased if pods of the daemonset where scheduled on such nodes and do not tolerate this taint.

**What you expected to happen**:

If th

[2019-05-09 14:36] bvoss opened #746 "New metric for deployment revision"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently the annotation 'deployment.kubernetes.io/revision' is not exposed as metric.

**What you expected to happen**:
Expose the revision number contained in the annotation 'deployment.kubernetes.io/revision' as metric 'kube_deployment_revision'

**Anything else we need to know?**:
Why would you need this?
It allows

[2019-05-10 18:22] brancz commented on #745
Does the kubernetes API object update? kube-state-metrics is an exact mirror of what the API shows, and leaves interpretation up to the query.

[2019-05-10 23:32] braderhart commented on #672
1.8.4 is the version recommended here:

https://github.com/kubernetes/autoscaler/tree/master/addon-resizer

@mxinden If you're going to remove it, then might I suggest removing it from the documentation there and here as well (or file the relevant issues to have it removed):

https://coreos.com/operators/prometheus/docs/latest/user-guides/cluster-monitoring.html#exporters

[2019-05-13 01:39] kalote opened #751 "Add possibility to run Kube-state-metrics without cluster-reader role"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I'm trying to use kube-state-metrics in an openshift 3.7 environment, without cluster-reader role. I would like to use kube-state-metrics without cluster-reader role.

**What you expected to happen**:
Provided a service account that has admin / reader access on specific namespaces (let's say, 3 NS / 10 NS total in the cluster), i wo

[2019-05-13 03:21] kalote commented on #751
After going into more research, it seems that using a combination of `--collectors` and `--namespace` allow me to do what I wanted.

I think this options are not super present / explained in your documentation. I had to go through Helm chart to find out about those command lines arguments. Maybe an entry could be added in the documentation?

Anyway, No issue, all works fine now :)

[2019-05-13 06:33] brancz commented on #751
Seems like you've already found the answer. Would you like to create a PR to add this to the docs?

[2019-05-14 18:45] jtackaberry opened #753 "Auth failures when using projected service account token volumes"
When kube-state-metrics is configured with to use a projected token volume (e.g. if the BoundServiceAccountTokenVolume feature gate is enabled, or if explicitly configured for the kube-state-metrics pod), it fails to periodically re-read the token file, resulting in a barrage of auth errors on the apiserver:

[code]

kube-state-metrics should re-read the token periodically.  The same problem was [

[2019-05-14 19:08] pdecat opened #754 "KSM 1.6.0 is missing most kube_deployment_spec_* metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After updating KSM to 1.6.0, most of [`kube_deployment_spec_*` metrics documented](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/deployment-metrics.md) such as `kube_deployment_spec_replicas` are missing:

[code]
[code]

Downgrading to `k8s.gcr.io/kube-state-metrics:v1.5.0` allows to get those metrics

[2019-05-14 19:35] tariq1890 commented on #754
What is the `apiVersion` of your Deployment?

[2019-05-14 20:01] brancz commented on #753
Interesting. We use v1.14 https://github.com/kubernetes/client-go/commit/6ee68ca5fd83, I would have thought that already does this. We'll need to investigate what we would need to do different to make this work correctly.

[2019-05-14 21:16] pdecat commented on #754
All deployments are affected, here's one managed by GKE for which it says `apps/v1` in `kubectl.kubernetes.io/last-applied-configuration`:

[code]

and another with `extensions/v1beta1`:

[code]

Note: it's GKE cluster whose master was upgraded this morning from 1.11 to 1.12.

[2019-05-14 21:41] pdecat commented on #754
I've created a fresh GKE 1.12.7-gke.10 cluster and get the same `apiVersion` for those deployments.

On that cluster, KSM 1.6.0 retrieves the metrics properly:
[code]

[kube_deployment_spec_1.6.0_new-cluster.txt](https://github.com/kubernetes/kube-state-metrics/files/3179970/kube_deployment_spec_1.6.0_new-cluster.txt)

It must have something to do with my KSM configuration on the original cluster

[2019-05-14 21:47] pdecat commented on #754
Ok, I missed the update of the cluster role which [adds `deployments` to `apps` API group](https://github.com/kubernetes/kube-state-metrics/blame/v1.6.0/kubernetes/kube-state-metrics-cluster-role.yaml#L32).

Sorry for the noise.

[2019-05-14 22:06] #754 closed

[2019-05-15 07:38] #751 closed

[2019-05-15 12:38] hunterchris opened #759 "Allow wildcards/grouping of metrics to whitelist/blacklist"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I cannot whitelist/blacklist a bulk of metrics that are being exposed.

**What you expected to happen**:
I expected to use wildcards to allow blacklisting for example `*_labels*` metrics.

**How to reproduce it (as minimally and precisely as possible)**:
¯\_(ツ)_/¯

**Anything else we need to know?**:
I'm running an EK

[2019-05-15 12:55] brancz commented on #759
Selection by regex seems pretty reasonable.

[2019-05-15 17:04] douglascamata opened #760 "Release v1.6.0 tag has deployment using the image v1.5.x"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The release v1.6.0 tag (currently at de19ed4) contains a `kubernetes/kube-state-metrics-deployment.yaml` that points to the Docker image on tag v1.5.0.

See https://github.com/kubernetes/kube-state-metrics/blob/de19ed4f12d471fccc79f9a9fee73f7c107ecd33/kubernetes/kube-state-metrics-deployment.yaml

I did a quick research

[2019-05-15 23:31] tariq1890 commented on #760
@douglascamata Thanks for pointing that out! I am okay with considering cherry-picking that commit into `release-1.6` and getting a patch release out.

I'll defer to @brancz @andyxning @mxinden on their thoughts if this warrants a patch-release.

[2019-05-16 07:36] brancz commented on #760
I’m okay with cherry picking but don’t feel like this needs a release.

[2019-05-16 09:06] zouyee commented on #753
https://kubernetes.io/docs/concepts/storage/volumes/#projected
`The expirationSeconds is the expected duration of validity of the service account token. It defaults to 1 hour and must be at least 10 minutes (600 seconds). An administrator can also limit its maximum value by specifying the --service-account-max-token-expiration option for the API server.
`

[2019-05-16 17:23] mxinden commented on #760
Thanks for reporting that @douglascamata. I am also in favor of just cherry-picking. Can you create the pull request @douglascamata?

[2019-05-16 17:27] mxinden commented on #759
Sounds like a good feature. @hunterchris would you like to look into the implementation of it?

[2019-05-16 17:28] chrismgrayftsinc opened #761 "Documentation links to a prometheus configuration that has been updated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Bug report

/kind bug

**What happened**:

README.md links to https://raw.githubusercontent.com/prometheus/prometheus/master/documentation/examples/prometheus-kubernetes.yml which recently updated to comment out some annotations that are referenced in the README.md (see https://github.com/prometheus/prometheus/commit/03a9e7f72e072c6d29f422425d8acd91a9

[2019-05-16 18:18] brancz commented on #761
I think I’d prefer not linking to any Prometheus config. This is supposed to be up to the user, I feel giving any config will make it seem like people have to do it that way.

[2019-05-16 21:22] chrismgrayftsinc commented on #761
Sounds good to me.  I found having the example Prometheus config helpful but not so much so that I couldn't have figured it out myself.

[2019-05-17 05:38] brancz commented on #761
Do you want to create a PR to remove it? :)

[2019-05-17 08:54] hunterchris commented on #759
I wish I could @mxinden, sadly I can't `Go` that far :(

[2019-05-18 11:10] qw1mb0 commented on #730
Thank you very much.
We tested the stable version 1.6.0 on ~ 100 clusters and we are not seeing this problem anymore. If the problem persists, I will open the issue.

[2019-05-18 11:10] #730 closed

[2019-05-19 02:11] andyxning commented on #760
Cherry-picking is needed. A new release it not necessary.

[2019-05-19 02:11] andyxning commented on #760
@mxinden Could you please take care about this cherry-picking?

[2019-05-20 10:15] brancz commented on #569
Added "consider renaming"

[2019-05-20 10:24] andyxning commented on #569
LGTM.

[2019-05-21 07:22] #761 closed

[2019-05-21 12:37] douglascamata commented on #760
Sorry for the delay, I saw someone already cherry picked the commit into the `release-1.6` branch. Will the v1.6.0 release tag be updated? I understand that a new release is unnecessary though.

Let me quickly explain how I stumbled on this issue: we instruct our users to download KSM release zips, extract and install the k8s manifests from there with a simple `kubectl appy -f ksm_folder/kubernete

[2019-05-21 12:40] andyxning commented on #760
@douglascamata v1.6.0 release tag should be updated. @mxinden @brancz Could you please take a look at this?

[2019-05-22 07:17] NullP0interEx opened #766 "SchemaError(io.k8s.api.apps.v1beta1.ScaleStatus): invalid object doesn't have additional properties"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

SchemaError(io.k8s.api.apps.v1beta1.ScaleStatus): invalid object doesn't have additional properties

**What you expected to happen**:

https://www.digitalocean.com/docs/kubernetes/how-to/monitor-advanced/

**How to reproduce it (as minimally and precisely as possible)**:
Setup on new DO Cluster (FRA1 - 1.14.2-do.0)

git

[2019-05-22 07:28] tariq1890 commented on #766
Your `kubectl` seems quite old. Could you use the latest `kubectl` and let us know if you still face the same error?

[2019-05-22 07:34] NullP0interEx commented on #766
thx, works for me

[2019-05-22 07:36] tariq1890 commented on #759
I'll take a crack at this.

[2019-05-22 07:37] NullP0interEx commented on #766
I'm glad it worked so fast, I appreciate the support.

[2019-05-22 07:38] tariq1890 commented on #766
You're very welcome :)!

[2019-05-22 07:40] tariq1890 commented on #766
/close

[2019-05-22 07:40] #766 closed

[2019-05-22 07:42] tariq1890 commented on #760
/close

This has been fixed by #765

[2019-05-22 08:21] douglascamata commented on #760
@tariq1890 sorry, but this has not been fixed. The release tag still points to the wrong commit (de19ed4f12d471fccc79f9a9fee73f7c107ecd33). And this is the reason for creating this issue.

The only thing that was updated on #765 was the **branch** release, named `release-1.6`.

[2019-05-22 08:22] tariq1890 commented on #760
/reopen

[2019-05-23 04:40] andyxning commented on #760
@brancz @mxinden Friendly ping. :)

[2019-05-24 13:17] mohit-gupta opened #768 "Add target and current cpu utilization in hpa metrics"
Want to monitor the current and target CPU utilization for deployments via Prometheus. However, it does not seem to available in the current list of HPA metrics (https://github.com/kubernetes/kube-state-metrics/blob/1dfe6681e9/docs/horizontalpodautoscaler-metrics.md).

Is there any other way to get these values in Prometheus? If not, can they be added to the HPA metrics?

[2019-05-28 12:08] brancz commented on #760
Releases should be immutable, I think changing the tag would be a bad idea, you'll need to wait for the next release, sorry.

[2019-05-28 12:40] qw1mb0 opened #771 "e2e tests failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When I run e2e tests (`./tests/e2e.sh`), I get an error:
[code]

**What you expected to happen**:
All e2e tests complete.

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- minikube version: `minikube version: v1.1.0`

- virtualbox ver

[2019-05-28 12:51] brancz commented on #771
where did you clone this repo into? sounds like you have it in `$GOPATH/src/github.com/kubernetes/kube-state-metrics` but it needs to be in `$GOPATH/src/k8s.io/kube-state-metrics`.

[2019-05-28 12:55] brancz commented on #768
Utilization metrics should be scraped from cAdvisor, which is built into the kubernetes kubelet. kube-state-metrics is just about converting API objects to Prometheus metrics.

[2019-05-28 15:03] qw1mb0 commented on #771
I have a copy of the repository in `/home/user/kube-state-metrics`.

My `export GOPATH=/home/user/kube-state-metrics`, but e2e tests return the same error.

[2019-05-28 15:22] brancz commented on #771
you need a real go path, modeled in the way as I described above, that's required by go :)

[2019-05-29 05:35] tariq1890 commented on #760
I agree with @brancz regarding immutability. Honestly, I am okay with a patch release to fix this issue. If the majority is in favour, we could do it. Although, I do understand the arguments against putting out a patch release as well :). No strong opinions regarding this.

[2019-05-29 07:45] brancz commented on #760
I'm not against anyone who wants to put their time in, but I don't think it's worth it. We don't release that infrequently and relying on example manifests of a git tag is questionable practice to begin with.

[2019-05-29 09:10] douglascamata commented on #760
@brancz why is that a questionable practice? Just a reminder, installing from the manifests in the `kubernetes` folder is recommended by KSM's README. Knowing this, I think it's fair to expect that each release contains manifests matching the released version.

What would be the recommended practice then? My use case is to provide the easiest way possible for customers to install KSM on whatever v

[2019-05-29 10:54] brancz commented on #760
I agree it's fair to expect that, but we're not breaking immutability for this aspect and will try to not make this mistake again for future releases.

We should indeed be more clear that those manifests are a "quickstart" and in a real production environment you shouldn't go around random repos and just apply manifests. My personal recommendation is to have a git repo that has all your artifacts

[2019-05-29 11:23] anandsinghkunwar commented on #457
Don't metrics like `*_created` make sense?

[2019-05-29 13:14] douglascamata commented on #760
That was not an argument, I only wanted to let you know the use case, maybe it could help the discussion.

I totally agree with this. The way the README is written right now it looks like those manifests are **the way** to deploy KSM. If that's not the case, I also agree with your proposed solution.

[2019-05-29 14:07] brancz commented on #760
Ok, then let's adapt the readme, thanks for the feedback! :)

[2019-05-29 14:48] transient1 commented on #694
I came here from a Google search for the same error and posting here in case they're related. I have a single `kube-state-metrics` pod that has been running for 26 days. I have an alert that started firing
[code]

[2019-05-29 14:53] brancz commented on #694
that means that that hasn't happened since then, that is a good thing :) watches being renewed is a perfectly normal thing, nothing to be worried about

[2019-05-29 15:10] transient1 commented on #694
Ah, okay. Then I have a different problem I need to track down. Thanks!

[2019-05-29 16:16] qw1mb0 commented on #771
I fixed the gopath and now it is such an:
[code]
I’m in the correct directory:
[code]
But e2e tests continue to fall with the error:
[code]

At the same time, manually launching `make container` works correctly:
[code]

[2019-05-30 17:58] tariq1890 commented on #554
/reopen

[2019-05-30 17:58] tariq1890 commented on #554
/close

[2019-05-30 17:58] #554 closed

[2019-06-01 06:29] xieyanker opened #775 "storageclass metrics can be supported?"
kube-state-metrics not supported cluster's resource: storageclass,will you support it later?

[2019-06-03 11:30] SergeJazz opened #778 "Some metrics are not valued"
**What happened**:
Some metrics are not valued such as:
[code]
![issue-1](https://user-images.githubusercontent.com/15245376/58798193-478d2600-8602-11e9-8709-2d1131d5769a.png)

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): **1.14.2**
- Kube-state-metrics image version: **v1.6.0**

[2019-06-03 11:52] xieyanker commented on #778
Maybe your k8s cluster does not exist these resources, you can use `kubectl get statefulset --all-namespacs`, and I think your service does not include externalIP's metadata.

[2019-06-03 12:05] SergeJazz commented on #778
Thank for your answer @xieyanker
I thought that it should display the metric line with 0 or with an empty string if the resource does not exist on the cluster. No ?

Thus, I have deployment on the cluster, and the same problem

![issue-2](https://user-images.githubusercontent.com/15245376/58799996-106d4380-8607-11e9-8bee-eaacb8eabced.png)

[2019-06-05 09:20] brancz commented on #778
This is expected. We always write the type and help text to the output even if there is no associated metrics. While this doesn't hurt, it's also a little weird. Marking it as an enhancement.

[2019-06-05 12:04] brancz commented on #569
Added

Thanks to @xieyanker for noticing here: https://github.com/kubernetes/kube-state-metrics/pull/777#discussion_r290661344

[2019-06-05 17:27] jessie-JNing opened #781 "Add metrics about Vertical Pod Autoscaler recommendations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[Vertical Pod Autoscaler](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler) is release in Kubernetes, which aims to provides recommendations to set appropriate resource request values for Kubernetes pods.

A number of recommended CPU/memory values are given by VPA, e.g.
[code]

**What you expected to happ

[2019-06-05 17:28] tariq1890 commented on #781
/kind feature

[2019-06-05 18:59] brancz commented on #781
I think the VPA should expose these metrics itself. It's the same take as we have on operators, etc.

[2019-06-05 20:08] jessie-JNing commented on #781
Could you provide a guide/doc on that? Thanks @brancz

[2019-06-07 08:24] brancz commented on #781
I don't have docs but I can give two examples:

* the prometheus-operator creates its own prometheus registry and metrics collector and creates metrics about Prometheus objects that way:
  * Registration: https://github.com/coreos/prometheus-operator/blob/82094eff1c5465dd741e8a4880ca8f5bc1513e25/pkg/prometheus/operator.go#L321
  * Collector code: https://github.com/coreos/prometheus-operator/blob/

[2019-06-07 12:28] #775 closed

[2019-06-07 12:54] #583 closed

[2019-06-11 20:15] VF-mbrauer commented on #778
In our cluster v1.13.4 the kube_deployment is not populated when using v1.6.0. I have tested both 1.5.0 and 1.6.0 with not other change in the cluster. I only edited the deployment and changed only the image version and found the same problem as observed above.

**collectors used:**
[code]

[2019-06-11 22:21] dturn commented on #781
It turns out @bskiba actually suggested adding the metrics in this project https://github.com/kubernetes/autoscaler/issues/1631#issuecomment-461832247.  Can the two of you offer a path forward? We could build our own scraping mechanism, but that doesn't seem like the right path forward ...

[2019-06-12 12:21] brancz commented on #778
@VF-mbrauer This could be due to the change of using the apps/v1 API now.

[2019-06-12 12:31] brancz commented on #781
hmm.. maybe VPA is in kind of a unique situation, as it's part of core kubernetes (as in the kubernetes org), but not installed on every cluster. If we mark all metrics of the VPA as experimental, and have it be turned off by default, then I think I would be ok with having it in kube-state-metrics.

[2019-06-12 13:44] bboreham opened #787 "Create rarely-used counters as-needed"
/kind feature

Several `GenerateFunc` implementations in `pod.go` pre-create all possible metrics, so I have thousands of series for `CrashLoopBackOff`, `InvalidImageName`, `OOMKilled`, `DeadlineExceeded`, etc., etc., even though only one or two of those are ever non-zero for any container.

I propose that these are created only if the value is non-zero, so as to reduce the load generating, scrapi

[2019-06-12 15:03] brancz commented on #787
Generally this is how we decided long ago to map enum types into Prometheus metrics. The nice thing about this is that it's easily extensible, but I agree, that this produces a huge amount of metrics. Maybe we can for metrics where we definitely know the possible values, have a atoi type definition and make the value represent the "current" enum value.

@brian-brazil what are your thoughts on this

[2019-06-12 15:09] bboreham commented on #787
I am not proposing to change the mapping.

[2019-06-12 15:11] brancz commented on #787
Right, I was trying to see if there was a way to potentially not create the same amount of series.

[2019-06-12 15:36] bboreham commented on #787
I think any change in the data model would result in _more_ series while we deprecated the old way and introduced the new.  Plus lots of complexity for consumers who need to deal with both.

Do you have a view on what I did propose?

[2019-06-12 15:38] VF-mbrauer commented on #778
OK @brancz, could be or couldn't. But what are the next steps here. This needs to be fixed. We are now back with 1.5.0 as 1.6.0 is not working as expected and described in the design. Therefore will it be treat as a bug now? What are the next actions?

[2019-06-12 15:47] brancz commented on #778
Could you please create a separate issue? As this is not the same as what you are seeing. This issue is about the help and type text being printed, even if there are no metrics in the output. You're saying there should be output where there is not.

[2019-06-12 15:51] brancz commented on #787
I understand what you're proposing, but I don't see a way of doing:

without making kube-state-metrics stateful or introduce a database, which both sounds like a bad idea.

So the only way of reducing that I can see is only expose the metric for the state that is "current" (or do something else entirely).

[2019-06-12 15:53] rubendob opened #788 "kube_pod_container_status_waiting_reason with Init:CrashLoopBackOff"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We can get the right values when some container gets stuck in ImagePullBackOff or ErrImagePull using this query:

`kube_pod_container_status_waiting_reason{reason=~"CrashLoopBackOff|ErrImagePull|ImagePullBackOff|Init:CrashLoopBackOff",namespace="prod-apo-api"} > 0`

but when it comes to another status like Init:0/1, Init:

[2019-06-12 16:29] brian-brazil commented on #787
Your options are to either expose one series per state, or a single series that indicates the current state. Doing otherwise will break common PromQL expressions against them.

[2019-06-12 16:29] brian-brazil commented on #787
One thing you can do is collapse states, so various rare failure states could be combined into one reported state.

[2019-06-12 17:07] bboreham commented on #787
@brancz why could the state not be in memory?  If the pod is replaced the old series will go away anyway.

[2019-06-12 17:12] bboreham commented on #787
@brian-brazil can you give any pointers to the PromQL expressions that would be broken?  My imagination is failing me.

Note I am still proposing one series per state, just to omit the states that the pod was never in.

[2019-06-12 17:18] tariq1890 commented on #788
The next release of `kube-state-metrics` will expose Init container statuses as well. Looks like your pod failed because of the initContainer not starting up successfully.

Would querying the statuses of the initContainers directly work for you?

[2019-06-12 19:04] VF-mbrauer opened #789 "kube_deployment Metric is not populated when using v1.6.0."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In our cluster `v1.13.4` the `kube_deployment` is not populated when using `v1.6.0`. I have tested both 1.5.0 and 1.6.0 with not other change in the cluster. I only edited the deployment and changed only the image version and found the same problem as observed above.
**What you expected to happen**:
`kube_deployment`shoul

[2019-06-12 19:05] VF-mbrauer commented on #778
Thanks @brancz, I have created a new issue for that.
`https://github.com/kubernetes/kube-state-metrics/issues/789`

[2019-06-12 19:08] tariq1890 commented on #789
What is the `apiVersion` of the deployment in your k8s cluster?

[2019-06-12 19:08] bboreham commented on #787
Maybe "compute the percentage of pods that are in each state"?

[2019-06-12 19:35] brian-brazil commented on #787
Yes, that'd break.

[2019-06-12 19:35] VF-mbrauer commented on #789
apiVersion: `extensions/v1beta1`

[2019-06-12 19:50] tariq1890 commented on #789
Can you confirm if your `cluster-role` yaml is updated to allow for list/watch operations on deployments in the `apps` apiGroup?

You can check [here](https://github.com/kubernetes/kube-state-metrics/blob/e61670627018010350a963dcb4e276ac10a5d57f/kubernetes/kube-state-metrics-cluster-role.yaml#L29) to get an idea.

[2019-06-12 20:03] VF-mbrauer commented on #789
This is an extract of the area you asked for:
[code]
BUT, even when the `deployment`is missing under resources, why is it then working with v1.5.0 ?

[2019-06-12 20:05] tariq1890 commented on #789
because with `1.5.0` the deployments listWatch was created under the `extensions` apiGroup.

[2019-06-12 20:26] VF-mbrauer commented on #789
OK, in Extensions it looks like this:
[code]

[2019-06-12 20:33] tariq1890 commented on #789
Yes, so you can update the `apps` apiGroup to include `deployments` as a resource. Hopefully, that should solve your issue.

[2019-06-12 20:38] tariq1890 commented on #789
Generally, when you update the `kube-state-metrics` version, it is always recommended to use the updated kubernetes manifests that come with it.

Alternatively, you could use the `kube-state-metrics` helm chart which comes packaged with all the kubernetes mainfests required to stand up a functional `kube-state-metrics` successfully on a k8s cluster.

You can find the helm chart [here](https://gith

[2019-06-12 22:07] tariq1890 commented on #789
@VF-mbrauer  Please confirm if this works for you so that we may close this issue.

[2019-06-12 22:11] tariq1890 opened #790 "The CI tools used by kube-state-metrics need version bumping."
Kube-state-metrics uses a lot of tools for its continuous integration processes and many of them should be updated to their latest stable versions.

- Prometheus (E2E tests)
- Minikube (E2E tests)
- Kubernetes Version (E2E tests)
- Golangci-lint (Makefile)

/good-first-issue

[2019-06-12 22:12] tariq1890 commented on #790
/good-first-issue

[2019-06-13 01:35] andyxning commented on #790
This is somewhat a good way for new contributors to learn and make a contribution. Let's wait this for about 3 days to see if someone can pick this up! :)

[2019-06-13 06:26] brancz commented on #790
If possible maybe even moving away from minikube to kind as well as moving from Travis CI to prow.

[2019-06-13 08:16] VF-mbrauer commented on #789
@tariq1890 Let me check on our side and come back to you asap. Thanks for now and the support so far.

[2019-06-13 09:21] andyxning commented on #790
I agree. This would a big change and need more time.

[2019-06-13 10:25] brancz commented on #790
That’s fair, yes.

[2019-06-13 11:14] brancz commented on #697
v1.6.0 has already been released.

[2019-06-13 11:14] #697 closed

[2019-06-13 13:32] rubendob commented on #788
Hi  @tariq1890

excellent news then!

I think I can handle the issue with different query. In our particular environment, the cronjob launches a pod with initContainer and then after it completes successfully, second container is launched. So as the first container has errors eventually he got stuck in Init:CrashLoopBackOff

560416400-7bf2l    0/1     Init:CrashLoopBackOff   48         3h55m

and

[2019-06-13 13:32] #788 closed

[2019-06-17 10:05] milesbxf commented on #781
We're quite keen to have this too, so I'd be happy to have a go at adding it this week. @dturn have you started looking at this at all?

[2019-06-17 15:28] dturn commented on #781
I haven't had a chance to work on this, and probably wont this week either. It would be great if you had time to work on this @milesbxf !

[2019-06-17 16:06] milesbxf commented on #781
@dturn no worries - just wanted to avoid duplicating work. I've had an initial go at this here: https://github.com/kubernetes/kube-state-metrics/pull/791

[2019-06-17 20:35] VF-mbrauer commented on #789
@tariq1890 We will put that as part of the new Deployment as standard in our YAML-Files. So issue can be closed. Again many Thanks for the great support. Cheers Maik

[2019-06-17 21:58] tariq1890 commented on #789
/close

[2019-06-17 21:58] #789 closed

[2019-06-18 00:19] reetasingh commented on #790
@tariq1890 I will take this

[2019-06-18 06:46] #790 closed

[2019-06-19 03:14] AvTiMp opened #794 "Wrong description about metrics-server in README.md"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
In README, [it](https://github.com/kubernetes/kube-state-metrics#kube-state-metrics-vs-metrics-server) says

but according to [monitoring architecture](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/monitoring_architecture.md#executive-summary)

So the **metrics-server** project sho

[2019-06-19 06:07] brancz commented on #794
Happy to have his be adapted, no strong opinion.

[2019-06-19 08:42] mxinden commented on #790
Cross referencing the discussion with sig-release here: https://groups.google.com/forum/#!topic/kubernetes-sig-instrumentation/rq-Q0gbszyY

[2019-06-19 13:48] #759 closed

[2019-06-19 17:29] tariq1890 opened #796 "Cutting kube-state-metrics 1.7.0"
As of this post, we have had 82 commits since the last release.

Given that we added some new resources (also about to add one more), we should definitely look at cutting a release. I propose that we cut a new release soon after a new version of kubernetes is out and we vendor that to kube-state-metrics.

Thoughts? @brancz @mxinden @andyxning @zouyee

[2019-06-19 17:31] brancz commented on #796
sgtm :+1:

[2019-06-19 19:30] tariq1890 commented on #794
@AvTiMp Please feel free to submit a PR for this :).

[2019-06-20 04:27] andyxning commented on #796
lgtm. Kubernetes 1.15 has been released. https://github.com/kubernetes/kubernetes/releases/tag/v1.15.0.

We can cut a new rc release for kube-state-metrics.

[2019-06-20 04:57] tariq1890 commented on #796
We need to wait for them to cut the 1.15 releases for api and apimachinery.

[2019-06-20 06:22] brancz commented on #796
I’d say we should wait for the VPA metrics to land and 1.15 dependencies, then we cut 1.7

[2019-06-20 06:30] #794 closed

[2019-06-20 13:02] #781 closed

[2019-06-20 14:11] LiliC commented on #569
I would add to the list, renaming all the leftover user-facing occurrences of `collectors` to `resources`, as we recently removed the `collectors` package. That would also mean renaming [collector](https://github.com/kubernetes/kube-state-metrics/blob/master/pkg/options/collector.go) in options to `resource`. Overall the `--resources=pods` flag would become more self-descriptive.

[2019-06-20 14:24] brancz commented on #569
Great suggestion! Added.

[2019-06-20 21:31] tariq1890 opened #800 "The linter does not really catch all of the issues in kube-state-metrics."
The Golangci linting tool that we use does not seem to perform a complete scan of the code base for reporting issues with the code quality.

See this [PR](https://github.com/kubernetes/kube-state-metrics/pull/799) for one such example.

[2019-06-22 06:14] tariq1890 commented on #569
Let's add the Sharding feature to the list as well.

[2019-06-22 09:34] brancz commented on #569
Sharding isn’t breaking so I feel it can be added in a backward compatible way in 1.x or 2.x. It’s fairly close to being ready I would say though so I’d like to see it go into a 1.x release.

[2019-06-25 12:21] LiliC opened #802 "Switch from deprecated workload APIs due to it's removal in v1.16"
Currently, kube-state-metrics uses the deprecated `extensions/v1beta1` workload APIs, but in v1.16 onwards these API are removed, so we should switch to the newer versions instead. This effects [ingress](https://github.com/kubernetes/kube-state-metrics/blob/e61670627018010350a963dcb4e276ac10a5d57f/internal/store/ingress.go#L22) and [replicaset](https://github.com/kubernetes/kube-state-metrics/blob

[2019-06-25 12:22] LiliC commented on #802
Happy to make the needed changes. :)

[2019-06-25 12:23] brancz commented on #802
Go ahead :)

[2019-06-25 12:29] LiliC commented on #802
@brancz Probably https://github.com/kubernetes/kube-state-metrics/issues/796 release should happen before the above change?

[2019-06-25 12:32] brancz commented on #802
How long as the networking API for the ingress replacement existed? If at least since kube 1.11 then I'm ok with having it in kube-state-metrics 1.7.

[2019-06-26 06:59] qw1mb0 commented on #802
This API is available only from 1.14: https://github.com/kubernetes/kubernetes/pull/74057

[2019-06-26 07:03] brancz commented on #802
Ok so the ingress one we'll need to keep until 1.18 then, but replicasets we can move now.

[2019-06-26 07:29] #746 closed

[2019-06-26 16:41] tariq1890 commented on #802
/reopen

[2019-06-26 17:53] tariq1890 commented on #802
@LiliC I see that `ingresses` weren't included in this PR https://github.com/kubernetes/kubernetes/pull/70672 and aren't slated to be removed.

I guess it can be closed. Thanks for bringing it up.

[2019-06-26 17:53] #802 closed

[2019-06-26 18:13] LiliC commented on #802
@tariq1890 We can open a follow-up issue for switching from the deprecated `ingress` workloads API, so we remember to do that before the v1.18 release. If you think that will be of any help?

[2019-06-27 15:38] LiliC commented on #745
@brancz @sylr I tested the above, and yes the metric is not updated because the API object itself is not updated. So the metric correctly reflects the state of the daemonset status. I guess this should be updated correctly in the status itself for the metric to reflect the change, kube-state-metrics is doing the correct thing here and this is not a bug and can be closed IMO.

[2019-06-27 16:00] brancz commented on #745
Thanks for double checking this @LiliC! I think in that case we can close this. @sylr feel free to re-open or create a new issue should there still be an issue when the object is actually updated.

[2019-06-27 16:00] #745 closed

[2019-06-27 17:22] richerve commented on #167
There's a reason, for example I want to track the Eviction rate of Pods given that I'm implementing kube-reserved and system-reserved settings in kubelet, so I want to have graphs and alerts on Pod evictions. Aren't there well-known reasons to at least write an Enum with those? For example "Eviction" is even documented in the official API docs

[2019-06-30 10:51] bboreham commented on #569
Came here to +1 removal of high-cardinality `kube_configmap_metadata_resource_version`.
This one metric occupies 3% of all the data in our service.

I'm intrigued: what does anyone use this metric for, in its current form?

[2019-07-01 17:36] chancez commented on #704
/remove-lifecycle stale

[2019-07-07 21:13] mrueg opened #810 "Implement a readiness endpoint"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently there is a healthz endpoint which implements somewhat liveness but is used as a readinessProbe in the kubernetes deployment files.
**What you expected to happen**:
A possible option would be to use the healthz endpoint as a path for livenessProbe and have a readyz endpoint for readiness checks.
Probably the

[2019-07-08 00:23] kalote opened #811 "Support for openshift objects metrics"
/kind feature

**What happened**:
I'm working in an openshift context, with buildconfigs, deploymentconfigs and i would like to get metrics from it.

**What you expected to happen**:
In the `--collector` param, i would like to be able to provide openshift objects, such as buildconfigs, deploymentconfigs.

**How to reproduce it (as minimally and precisely as possible)**:
Run kube-state-metrics in o

[2019-07-08 06:09] brancz commented on #811
There is already a dedicated project for this, it uses reusable parts of kube-state-metrics as a library :)

https://github.com/openshift/openshift-state-metrics

[2019-07-08 06:13] brancz commented on #810
I think an initial probe to reach the API and then setting readiness would reasonable.

[2019-07-08 06:20] kalote commented on #811
oh that's good :) thanks for the info.

[2019-07-08 06:20] #811 closed

[2019-07-09 04:26] garo opened #812 "eliminate kube_daemonset_status_number_misscheduled fluctuation due to autoscaling"
/kind feature

**What happened**:

The metric kube_daemonset_status_number_misscheduled is often used with Prometheus alerting to alert if a DaemonSet member pod cannot be scheduled in all machines where it requires to be present.

However in a cluster with an active cluster autoscaler new machines constantly come and go, thus there are often several nodes which hasn't had time to schedule the req

[2019-07-09 05:12] tariq1890 commented on #812
Have you tried blacklisting this metric?

[2019-07-09 05:15] brancz commented on #812
I agree the situation is not good, but I don't think this is to be fixed in kube-state-metrics. kube-state-metrics takes this value directly from the DaemonSet object, so if anything then this should change, or the alerting rule should be less sensitive, which is probably appropriate either way. Can you share the alerting rule? (if you didn't write it yourself it probably makes most sense to open

[2019-07-09 06:08] garo commented on #812
The current rule I'm using comes from the Prometheus Operator project by default and it's a simple "kube_daemonset_status_number_misscheduled{job="kube-state-metrics"}

I can change this to be less and less sensitive so that it alerts later, but if the cluster is constantly scaling then the problem never goes away.

You can think this in a way that each node hosting a DaemonSet pod has its own tim

[2019-07-09 06:34] brancz commented on #812
The Prometheus Operator pretty much doesn't define any alerting rules (if at all kube-prometheus), it imports all of them through the [kubernetes-mixin](https://github.com/kubernetes-monitoring/kubernetes-mixin).

kube-state-metrics only mirrors Kubernetes API objects to Prometheus metrics, no correlation or pre-aggregation or something like that, so if this data is supposed to end up in kube-stat

[2019-07-09 06:39] garo commented on #812
Thank you for the clear answer that kube-state-metrics is not a place to do aggregations, thus making my feature request invalid.

What comes for my use case this particular metric doesn't help me at this stage so I'm going to remove it. What I will be lacking is the knowledge if a single pod belonging to a DaemonSet is unable to start itself for a longer period of time, but I will need to find an

[2019-07-09 06:39] #812 closed

[2019-07-09 15:58] Pothulapati commented on #810
I'm willing to take this issue, If its available :)

[2019-07-09 16:35] tariq1890 commented on #810
Yes please :)!

[2019-07-10 01:25] kennethredler commented on #796
Any updates on 1.7 release ETA or work to be done to wrap this up?

[2019-07-10 05:15] mkjoerg opened #813 "Kube-state-metrics reports errros for deleted objects"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I had a job that was failing and I deleted the job and after this the Pod. In another cluster I deleted a pod that had a sidecar inside that was not starting.

Job Failed and was then removed:
![image](https://user-images.githubusercontent.com/12080409/60942019-5cd03100-a2e1-11e9-8e7b-7083e4018863.png)
![image](https://us

[2019-07-10 06:23] brancz commented on #796
I think we’re ready to go ahead.

[2019-07-10 07:38] brancz commented on #320
/remove-lifecycle stale

[2019-07-10 12:45] brancz commented on #813
Can you show us the graph of the query that produced the alerts over time? Also for the deployment could you share the full yaml (including status)?

[2019-07-10 13:48] LiliC commented on #813
@mkjoerg Thanks for the bug report! Can you answer a few questions:
1. Did the alert resolve itself at some point?
2. Can you query the `/metrics` endpoint of kube-state-metrics directly next time you have this alert and include that as well. This will help us locate where the problem is exactly. Let me know if you need help on how to do that!

I had the same alert the `KubeStateMetricsReplicasMis

[2019-07-10 14:07] mkjoerg commented on #813
At first the Graph:

![image](https://user-images.githubusercontent.com/12080409/60975242-f0c6ea80-a32b-11e9-8bc4-db456799e111.png)

1. No the alerts are firing constantly, after I restarted kube state metrics, it resolved one time and fired then again.

2. I crop it for the relevant metrics ok? If you need the full output, I can send it as well.
![image](https://user-images.githubusercontent.com/

[2019-07-10 14:18] brancz commented on #813
I'm curious, are the other deployments in this cluster apps/v1 or apps/v1beta2, instead of extensions/v1beta1? (I'm trying to understand the difference in this one and the others)

[2019-07-10 14:22] mkjoerg commented on #813
As far as I can see, they are all still apiVersion: extensions/v1beta1

[code]

maybe something I should tackle soon :)

[2019-07-10 15:33] LiliC commented on #813
@mkjoerg I can see the `jaeger-operator` number match in the kube-state-metrics data to the data you pasted directly from kubernetes.

@brancz you agree with the above ^

Can you restart prometheus pods to see if this fixes it? Can you also paste the logs from kube-state-metrics pods. Thanks!

[2019-07-10 17:58] brancz opened #815 "ReplicaSet unexpected type in v1.7.0-rc.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Logs showed:

[code]

**What you expected to happen**:

Only non-error logs.

**How to reproduce it (as minimally and precisely as possible)**:

Always with v1.7.0-rc.0

**Anything else we need to know?**:

n/a

**Environment**:
- Kubernetes version (use `kubectl version`): v1.15.0 minikube
- Kube-state-metrics image ver

[2019-07-10 18:03] tariq1890 commented on #815
Thanks for reporting @brancz. I can push the fix for this.

[2019-07-10 18:22] LiliC commented on #815
@brancz @tariq1890 Good catch and quick fix! 🎉

It would be a good idea to have a test to make sure the kube-state-metrics has 0 errors in the logs as part of the e2e test suite.

Also erroring out and terminating the pod on any errors like this, so we (in CI) and the users (in their clusters) detect problems sooner and easier. I had an RBAC problem and while kube-state-metrics was up and running,

[2019-07-10 18:24] brancz commented on #815
No errors in logs is something we can do immediately I think (not blocking v1.7.0, but we can immediately get started working on that), go for it! :)

Erroring out needs a bit more thought and major refactorings I think, I'm not even sure it's entirely possible with the way informers work today, but I'd be happy to see this!

[2019-07-10 18:37] brancz commented on #815
Closed by https://github.com/kubernetes/kube-state-metrics/pull/816. @LiliC feel free to create a separate ticket for what you mentioned in https://github.com/kubernetes/kube-state-metrics/issues/815#issuecomment-510173932

[2019-07-10 18:37] #815 closed

[2019-07-10 18:58] LiliC commented on #813
@mkjoerg after looking at this again, it seems like you have two `jaeger-operator ` deployed, one in the `default` ns and the other in the `mdr-int `, can you verify that the `default` ns one is at 0 replicas like it says in kube-state-metrics output.

[2019-07-10 19:07] mkjoerg commented on #813
@LiliC you are right, I didn't notice that there was a faulty deployment in the default namespace. I must have accidentally deployed it to the wrong namespace and wasn't looking close enough to the labels. Sry for the false alert and thank you for the effort. Closing this now.

[2019-07-10 19:07] #813 closed

[2019-07-10 19:14] LiliC commented on #813
@mkjoerg no worries at all!

[2019-07-10 19:16] mkjoerg commented on #813
@LiliC Thank you for the quick responses! You guys doing a great job here ☺️

[2019-07-11 12:40] chambridge opened #817 "Support for node CPU hyperthreading metric"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

I'm not sure how this should work; but it would be useful to have a metric or label added to node cpu/core metrics that indicates if the cpu has hyperthreading and is it enabled. This can be valuable in reporting and potentially capacity planning scenarios.

[2019-07-11 13:12] brancz commented on #817
Does the Kubernetes API expose this in some way? I think this might be more suitable to be done through the Prometheus node-exporter.

[2019-07-11 14:58] kopiczko opened #818 "Emit error metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Due to cluster role misconfiguration kube-state-metric was unable to list resources for configured collectors.

[code]

**What you expected to happen**:

kube-state-metric emits error counter ideally specific for this case but general one would also be useful.

**How to reproduce it (as minimally and precisely as pos

[2019-07-11 15:45] brancz commented on #818
I think this 100% valid. I'm not sure client-go allows extracting this today, but it should! :)

[2019-07-11 19:05] int-tt opened #821 "Support for job_status_duration_time metrics"
/kind feature

**What happened**:
I feel worthwhile to be able to get the  duration time of the job.
**What you expected to happen**:
For example, by continuously monitoring the duration time of jobs generated from Cronjob, you can notice performance degradation and unintended long-term execution.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**

[2019-07-12 06:24] brancz commented on #821
Is this exposed by the Kubernetes API? If so happy to have it be added!

[2019-07-12 06:36] tariq1890 commented on #821
@brancz Yes it is! Please feel free to submit a PR @int-tt :)

[2019-07-16 15:54] Cherishty opened #824 "How to collect pod GPU limits/requests from pod metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
In the former version (e.g. k8s 1.9.5), I was using `kube_pod_container_resource_requests_nvidia_gpu_devices` as well as `kube_pod_container_resource_limits_nvidia_gpu_devices` to collect the `alpha.kubernetes.io/nvidia-gpu`(provided by feature-gate accelerate) limits/requests from a pod, which works well for me.

How

[2019-07-16 16:12] tariq1890 commented on #824
GPU metrics pertain to a particular vendor and it is recommended as a k8s best practice to make use of device plugins for the managing the life cycle and monitoring of these pods. You can consider using nvidia's pod gpu metrics exporter for getting the metrics in your case.
https://github.com/NVIDIA/gpu-monitoring-tools/blob/master/exporters/prometheus-dcgm/README.md

[2019-07-17 15:38] sayarg opened #826 "Feature request: include pod annotations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Hi

There have been a few requests in the past to add annotations, they seem to have been left to rotten and were closed. Are there any current plans to add pod annotations? Alternatively, would you be supportive of a PR to optionally enable annotations on pods.

Found these issues with similar requests: https://gith

[2019-07-17 18:17] tariq1890 commented on #824
@Cherishty Please let me know if this helps so that we may close this issue.

[2019-07-17 18:20] tariq1890 commented on #826
@sayarg This feature will be available in 1.7 release of kube-state-metrics. Please feel free to test this feature out with the 1.7 [release candidate](https://github.com/kubernetes/kube-state-metrics/releases/tag/v1.7.0-rc.1) which we had published a week ago.

[2019-07-17 18:34] tariq1890 commented on #826
@brancz Do you remember why pod annotations weren't included in this PR #770 ? Is this because of a potential cardinality problem?

[2019-07-18 09:59] pigletfly opened #829 "Feature request: add pod unschedulable reason"
/kind feature

When node run out of resources, I think we should support `Unschedulable` reason for Pod
[code]

[2019-07-18 13:01] Cherishty commented on #824
Yes, it is reasonable and feel free to close it~

[2019-07-18 13:01] #824 closed

[2019-07-18 13:55] brancz commented on #829
If it's not already there then yes I think this is reasonable.

[2019-07-18 14:51] stewbernetes opened #830 "Large Number of VPA Objects Results in Segfault with verticalpodautoscalers Enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am attempting to take advantage of the metrics being emitted for VPA with the 1.7.0 release.

When I enable all collectors plus the VPA collector as follows:
[code]

I experience the following crash:
[code]

When I confine kube-state-metrics to a single namespace with only a few VPA objects, the collector runs fine and

[2019-07-18 18:20] smarterclayton commented on #263
/reopen

I think the simplest possible option here is that pods that are RestartAlways and RestartNever are completely different, and there should be a metric that reports that so we can identify the difference in usage between batch and long running.  One example could be:

[code]

Another option is

[code]

[2019-07-18 19:01] brancz commented on #263
Yeah I think this is a classic enum type metric that we have all over the place, which would be the second option.

[2019-07-18 19:10] brancz commented on #830
This doesn't seem like it has anything to do with the number of VPA objects, but rather that we didn't guard properly: https://github.com/kubernetes/kube-state-metrics/blob/01e5aae021d75260de149a5a1be574dc5b692f6c/internal/store/verticalpodautoscaler.go#L99

[2019-07-18 19:41] smarterclayton commented on #263
the key distinction is "run to completion" vs "run forever", (even though we have the RestartOnFailure and RestartNever, in practice they are lumped together by almost every part of the system)

[2019-07-18 21:42] tariq1890 commented on #830
closed by #832

[2019-07-18 21:42] #830 closed

[2019-07-18 21:42] #826 closed

[2019-07-18 21:44] #796 closed

[2019-07-18 22:22] sayarg commented on #826
Hi @tariq1890 will it be supported? I had a notification about a comment from you that it is part of 1.7 and is in the rc, but I don't see the comment. Or have you decided to not include pod in the annotation feature?

[2019-07-18 23:16] tariq1890 commented on #826
@sayarg I commented that by mistake (sorry :() which is why I had deleted it. It will not be supported.

[2019-07-19 01:11] pigletfly commented on #829
OK, I will create a PR to implement this.

[2019-07-19 03:05] tariq1890 commented on #829
Please do :). Thanks @pigletfly!

[2019-07-19 03:06] #760 closed

[2019-07-19 03:07] tariq1890 commented on #320
/help

[2019-07-19 09:54] sayarg commented on #826
hi @tariq1890 no worries. how about enabling only for selected annotations? in the config you'd need to opt in the exact annotations you wish to report, to avoid the scale issue and specifically the annotation that is used to keep trail of pod changes.

[2019-07-19 15:51] Swetad90 opened #837 "kube state metrics shows it's data in all metrics"
I am using the below versions:
Kubernetes : v1.13.5
kube state metrics : v1.6.0
prometheus: 2.8.1

Any of the metrics given kube-state-metrics gives the below 3 labels of itself:
k8s_app="kube-state-metrics"
kubernetes_namespace="kube-system"
kubernetes_pod_name="kube-state-metrics-74f9f4ddb9-ghxbx"
pod_template_hash="74f9f4ddb9"

Whereas the labels 'namespace' and 'pod' contains the actual data.

[2019-07-19 15:54] brancz commented on #837
That's your target configuration on Prometheus side, those labels are not produced by kube-state-metrics.

[2019-07-19 16:00] lilic opened #838 "Include results of benchmarks in each PR"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Details:**

Currently, the benchmark tests run on each PR but the results are not very visible as they are hidden away in a passing travis job. By making these results more visible we will be able to catch any performance regression early on.

**Possible solution:**

Generating a comment on each PR with the results of the benchmark te

[2019-07-19 16:14] Swetad90 commented on #837
Thank you.

That was the case. For all the dropped targets, it was by default picking up kube state metrics name/namespace/template hash in the metrics name.

[2019-07-19 16:15] #837 closed

[2019-07-19 18:39] LiliC opened #839 "Improve doccheck make target"
Currently, the dockcheck make target makes sure the documentation is in sync with the code, but it is not correct. It seems like we search through all the test files to get the metric names by matching the [headers](https://github.com/kubernetes/kube-state-metrics/blob/master/Makefile#L45).

The improvement of this check would be to source the metric names from the go files instead of the test fil

[2019-07-19 18:41] LiliC commented on #839
I think it's a good first issue.

We just need to change the sed [`sed -n 's/.*# TYPE \(kube_[^ ]\+\).*/\1/p'`](https://github.com/kubernetes/kube-state-metrics/blob/master/Makefile#L45) to find the metric names in all the _test.go in the internal/store dir by all the metricNames. :)

[2019-07-19 18:45] tariq1890 commented on #839
/help
/good-first-issue

[2019-07-20 16:44] #703 closed

[2019-07-20 18:47] dalton-neely commented on #459
I am finding the same error message except when I start the proxy and go to the Kubernetes Dashboard.

`kubectl proxy`
`Starting to serve on 127.0.0.1:8001`
`I0720 10:30:23.365488   20664 log.go:172] http: proxy error: context canceled`

I was not given this error before, and am able to authenticate using a secret token on the dashboard. Nothing shows up in the dashboard when I see this error.

[2019-07-22 07:55] carrot-dev opened #845 "How do I connect remotely?"
Hi

# kubectl get svc  -A
NAMESPACE     NAME                   TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)                  AGE
default       kubernetes             ClusterIP   10.233.0.1      <none>        443/TCP                  24d
kube-system   coredns                ClusterIP   10.233.0.3      <none>        53/UDP,53/TCP,9153/TCP   24d
kube-system   kube-state-metrics     ClusterIP   1

[2019-07-22 18:22] LiliC commented on #845
@carrot-dev Best thing you can have a look at is creating an [`Ingress`](https://kubernetes.io/docs/concepts/services-networking/ingress/#the-ingress-resource) per pod. Also, make sure to secure your metric endpoints.

[2019-07-23 20:30] #263 closed

[2019-07-24 18:49] polinchw commented on #127
I'm having the same problem.
`helm install --name pm --namespace pm --set alertmanager.enabled=false --set pushgateway.enabled=false --set kubeStateMetrics.args.apiserver=https://kubernetes.default.svc.cluster.local stable/prometheus` produces this error....
`root@pod-node-1:~# kubectl logs -f pm-prometheus-kube-state-metrics-7b798cf896-gpnpg -n pm
I0724 18:31:20.892478       1 main.go:85] Using d

[2019-07-28 00:37] pigletfly opened #849 "Add lifecycle failed reason to pod waiting reason"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

I think we should add a reason for lifecycle hook when it fails,as below:
[code]

[2019-07-28 00:45] pigletfly commented on #849
/cc @brancz @tariq1890

[2019-07-29 11:10] nrvnrvn commented on #611
/remove-lifecycle stale

[2019-07-29 12:56] LiliC commented on #849
@pigletfly If I understand correctly you want to add the `PostStartHookError` to the `kube_pod_container_status_waiting_reason` metric?

[2019-07-29 14:41] pigletfly commented on #849
Yes, you got it.Now we have `{"ContainerCreating", "CrashLoopBackOff", "CreateContainerConfigError", "ErrImagePull", "ImagePullBackOff", "CreateContainerError", "InvalidImageName"}
`for kube_pod_container_status_waiting_reason, the poststart hook failure is not included.

[2019-07-29 15:37] luarx commented on #714
It would be great but I don't have enough time at this time :(

[2019-07-29 20:23] LiliC commented on #849
@pigletfly I think the main reason why there is a limited amount of metrics about pods and containers is they scale with other resources. Which is why we are limited to that list.

Is `PostStartHookError` something you would alert on?

[2019-07-29 20:26] #687 closed

[2019-07-30 04:04] pigletfly commented on #849
@LiliC I want to keep an eye on `PostStartHookError` state, and there won't be many metrics.I think `PostStartHookError` state is important, should exported as a metric.

[2019-07-31 15:59] natalysheinin opened #853 "Add support for mutatingwebhookconfigurations and validatingwebhookconfigurations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

In the [list of the metrics](https://github.com/kubernetes/kube-state-metrics/tree/master/internal/store) available, there are no metrics available for the k8s resources `mutatingwebhookconfigurations` and `validatingwebhookconfigurations`.

**What you expected to happen**:
I'm hoping that there will be metrics avail

[2019-07-31 19:52] LiliC commented on #569
@bboreham you can also just blacklist those metrics for now until they are removed? `--metric-blacklist="kube_configmap_metadata_resource_version"` for example should work.  :)

[2019-07-31 20:04] #839 closed

[2019-08-01 20:23] towolf opened #854 "Filter annotation "annotation_kubectl_kubernetes_io_last_applied_configuration""
Kube-state-metrics 1.7.1 adds new kube_*_annotations metrics.

I disabled most of them because that sounded really spammy.

`--metric-blacklist="kube_[^i][a-z]+_annotations" `

But I wanted to keep one exception: `kube_ingress_annotations`. There is no other way to capture the ingess class, than via the annotations: https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/

We use `k

[2019-08-01 20:26] towolf commented on #854
Also, annotations are an uncontrolled field, where anything can go, very few contraints are placed on them. Just exposing them across the board is a very bold move.

[2019-08-02 09:49] mrueg opened #855 "Namespace memory/cpu quota metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Namespaces can have a quotas for CPU, Memory and Pods: https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace/
**What you expected to happen**:

Have a metric for each per namespace
https://github.com/kubernetes/kube-state-metrics/blob/master/docs/namespace-metrics.md

**How to rep

[2019-08-02 13:03] LiliC commented on #854
Yes agreed, I am seeing those as well, we should filter the `annotation_kubectl_kubernetes_io_last_applied_configuration` out in the all the annotations. Unless anyone finds those useful? cc @tariq1890 @brancz

A full example of how the metric looks like with the `annotation_kubectl_kubernetes_io_last_applied_configuration` annotation included:

[code]

[2019-08-02 13:15] towolf commented on #854
Just one example, if you hardcode a password in `env:` then this would pop up in your Prometheus metrics. You shouldn;t do that, bless your heart, but it could happen.

And there's probably no utility in having this field anyway other than to test the breaking point of Prometheus.

[2019-08-02 15:18] tariq1890 commented on #854
Your concerns are valid @towolf. Here are some options that I can think of:

I) Perhaps, we could disable annotation metrics by default in kube-state-metrics and provide users the knobs to enable the specific annotation metrics they need. One way of achieving this is the white black listing approach.

ii) We could choose to only expose certain annotation metrics(create specific metric families) th

[2019-08-02 18:03] LiliC commented on #854
I would say for now we filter out the `annotation_kubectl_kubernetes_io_last_applied_configuration` from annotation metric and backport this to the `1.7` branch and cut a `v1.7.2` release. I don't think this annotation was meant to be in that metric in the first place. This would at least solve the immediate problem. WDYT @tariq1890?

As for the actual solution, it would probably end up in the nex

[2019-08-03 00:50] tariq1890 commented on #854
Sounds good @LiliC . We can create the patch to filter that specific annotation metric out.

[2019-08-04 05:33] tariq1890 commented on #855
Hi @mrueg . What about the resourcequota metrics : https://github.com/kubernetes/kube-state-metrics/blob/master/docs/resourcequota-metrics.md ?

[2019-08-05 07:20] mrueg commented on #855
thanks! I missed those. :)

[2019-08-05 07:20] #855 closed

[2019-08-05 08:24] brancz commented on #853
Makes sense. Happy to have these!

[2019-08-06 15:49] LiliC commented on #854
Think we can close this, as the PR to remove the annotation metrics was merged. Thanks for the issue.

[2019-08-06 15:49] #854 closed

[2019-08-06 16:08] towolf commented on #854
Thanks for the fix :)

[2019-08-06 16:13] lilic opened #864 "Annotation metrics"
As discussed in https://github.com/kubernetes/kube-state-metrics/issues/854 and offline we want to have only specific annotation metrics, we mentioned those good candidates for now are:

• deployment revision
• ingress class

This issue is to discuss the design and what we want to include in the metric, etc. There were a couple of ideas in the above-mentioned issue.

**Is this a BUG REPORT or FEAT

[2019-08-06 16:43] tariq1890 commented on #864
I also want to point out that the higher significance and importance of these fields, the lesser the justification of these fields to be actually exposed as annotations. I think we must be mindful of this as well and redirect the question to the k8s.io/api folks when appropriate.

[2019-08-07 15:36] LiliC opened #865 "Migrate to prow"
Majority of projects in k8s have migrated away from Travis.

As discussed on #prow on k8s slack:

Besides the above, it would be good to have this because it enables us to tackle including the benchmark results as a comment in each PR see https://github.com/kubernetes/kube-state-metrics/issues/838 for details.

[2019-08-07 15:50] brancz commented on #865
For benchmarking the Prometheus project is currently looking at using GitHub actions. I imagine that could be a good fit here as well for portability reasons.

[2019-08-07 16:30] tariq1890 commented on #865
I am leaning more towards @brancz ‘s suggestion. I am just not a fan of prow’s CI workflow (or even bazel)

[2019-08-09 09:45] brancz commented on #849
I'm a little wary of having this grow even more. I'm trying to understand if we could group these states into healthy and unhealthy ones, as this list of reasons doesn't seem to stop growing.

[2019-08-11 06:41] #810 closed

[2019-08-12 08:39] #829 closed

[2019-08-12 12:46] #699 closed

[2019-08-12 15:44] krish7919 commented on #699
@brancz Can you please elaborate on this? We are currently using Datadog with our k8s cluster and the dd-agent does not seem to get this metric.

[2019-08-12 17:20] brancz commented on #699
I know nothing about the datadog agent so I can’t say why. I see them in Prometheus :)

[2019-08-13 12:12] pigletfly commented on #849
It needn't to list all concrete reasons for PostStartHookError state,just give a metric that indicates there is a `PostStartHookError` in `kube_pod_container_status_waiting_reason`, because PostStart Hook varies, maybe it's a bash shell or a TCP probe. @brancz

[2019-08-15 07:27] brancz commented on #753
/remove-lifecycle stale

[2019-08-15 15:33] MIBc commented on #845
Create a node-port service for kube-state-metric

[2019-08-20 07:35] brancz commented on #849
I think I can get on board with `PostStartHookError` being added, but any further detail would need to rather be described by a runbook or something, that level of detail doesn't belong in metrics.

[2019-08-20 09:38] pigletfly commented on #849
OK, will to create a PR to add `PostStartHookError` metric.

[2019-08-26 19:39] kkbrat9 opened #871 "kube_daemonset_status_number_ready vs kube_daemonset_status_current_number_scheduled"
I am trying to understand the difference between kube_daemonset_status_current_number_scheduled & kube_daemonset_status_number_ready. Feels like both are similar from usage perspective.

One rule i am trying write is to difference in number desired state for a given daemonset vs number scheduled or ready. Is there something obvious i am missing ?

[2019-08-27 08:55] JensErat opened #872 "Feature request: export VolumeAttachment metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Kubernetes has a new resource type: [`VolumeAttachment`s](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#volumeattachment-v1-storage-k8s-io). They provide helpful information on where a volume is attached and to alert on unexpected attachment status (for example, differences between information

[2019-08-27 14:42] LiliC commented on #872
@JensErat  Thanks for the feature request. Few questions:
- What kind of metrics were you thinking? Can you give some examples of what would be useful for you. Just to avoid any potential high cardinality metrics in advance.
- Would you be interested in implementing this?

[2019-08-28 04:46] sbueringer commented on #872
So a typical VolumeAttachment looks like this:

[code]

I think I would like to see at least: nodeName & persistentVolumeName and attached would be also useful

Not sure about attacher & attachmentMetadata. Maybe not for now and if somebody needs them they can always be added later.

[2019-08-28 07:44] brancz commented on #872
I'm not totally familiar with this object. Are `.spec.attacher` and `.spec.nodeName` immutable? As in for a new volume mount a completely new object would be created? If that's the case then I would say let's just crease a single metric that has all of these infos as labels. If they can change over the lifetime of a `VolumeAttachment` then we need to be a bit more careful.

[2019-08-28 07:54] brancz commented on #872
Maybe @gnufied can comment on the immutability aspect of these objects? :slightly_smiling_face:

[2019-08-28 07:59] sbueringer commented on #872
I think they don't change. Here is how the name of the VolumeAttachment is calculated:

[code]

(csiDriverName is attacher)
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_attacher.go#L592-L595

[2019-08-28 08:01] brancz commented on #872
Yep looks like it. In that case I'm ok with a single metrics of `*_info` style as the other resources already have.

[2019-08-28 09:18] JensErat commented on #872
Looking at the `Status`, I think we could also export the `attached` flag

attachedboolean | Indicates the volume is successfully attached. This field must only be set by the entity completing the attach operation, i.e. the external-attacher.
-- | --

Sadly the error messages don't contain something label compatible like a reason, just a plain text error message. But at least we could export wheth

[2019-08-28 09:27] brancz commented on #872
Yep that seems fine, except I don't see where `devicePath` is specified, but otherwise seems reasonable.

[2019-08-29 09:33] sri-05 commented on #127
@lesterwang can you share the container yaml where you added the 11apiserver arg

[2019-08-29 13:40] erihanse opened #873 "Kubernetes config map labels"
Is there no metric for kubernetes config map labels? We'd like to use those to do queries regarding helm upgrades/installs. Helm labels configmaps to keep track of helm release revisions, and it would be nice to visualize those in grafana.

**Is this a BUG REPORT or FEATURE REQUEST?**:

**Environment**:
- Kube-state-metrics image version: kube-state-metrics:1.6.0

[2019-08-29 14:48] LiliC commented on #873
@erihanse Those metrics would produce a high unbound cardinality as the labels can be anything, which is why we do not include them.

If you just need to visualize things, you can always use one of the k8s UIs which displays Resources including ConfigMaps.

[2019-08-29 14:54] erihanse commented on #873
But you have metrics for alot of other labels:
![image](https://user-images.githubusercontent.com/9251274/63951201-9de0f800-ca7d-11e9-908f-5ee484077697.png)
What's the difference?

[2019-08-29 15:58] LiliC commented on #873
Helm intentionally creates a lot of ConfigMaps for each release, so this would produce a lot of metrics.

Also not sure it would actually work to visualize the labels from helm releases, I could be wrong but but those labels with release values are strings and you can't really do a string comparison in prometheus.

[2019-08-29 15:58] LiliC commented on #873
cc @tariq1890 @brancz for further discussions.

[2019-08-30 05:59] povilasv commented on #367
I'm seeing a similiar issue with Kubernetes 1.14.6:

The status of the job is:

[code]

[2019-08-30 05:59] povilasv commented on #367
/reopen

[2019-08-30 06:01] brancz commented on #367
/reopen

[2019-08-30 06:05] povilasv commented on #367
hmm I think I might be wrong here, so the metric `kube_job_status_failed` is actually correct, the job failed 3x times, so I think I should be using `kube_job_failed`, which will show me the current status of job.

https://github.com/kubernetes/kube-state-metrics/blob/507a2f8ce67c35d01a13504b4cc60a171d0cf8ba/collectors/job.go#L224

[2019-08-30 06:20] brancz commented on #873
Yeah I see where you’re coming from, but @LiliC is right. Anything useful you could to with configmap labels would require parsing the label values into a metric value which would be a non standard thing to do in kube state metrics. I think what you’re looking for would be something like a helm exporter.

[2019-08-30 07:23] erihanse commented on #873
Yeah, I've looked into helm-exporter as well. Not sure we can achieve what we want with it though.

So this is our use-case:
What we actually need is to have some sort of overview of who has made a helm install/upgrade and when (and maybe why). Helm itself doesn't support custom labels, so there's no way we can attach this information when we run the command. I could be wrong but the only way we c

[2019-08-30 07:36] erihanse commented on #873
With cm labels I could display more columns in this view:
![image](https://user-images.githubusercontent.com/9251274/64002108-95360380-cb09-11e9-978c-7c87ed95b000.png)

[2019-08-30 08:14] lilic opened #875 "Rewrite the end-to-end tests to go"
Currently, we have all our end-to-end tests in bash, this makes it painstaking to add new tests, with go we can easily use the client_golang library to do checks.

We can use the [prometheus-operator test framework](https://github.com/coreos/prometheus-operator/tree/master/test/framework) as an example to create the framework.

Below are some test cases I came up with, these are the already existi

[2019-08-30 08:51] brancz commented on #875
I personally think what the prometheus operator does would be a bit of an overkill here. We just need to launch the kube-state-metrics pod and interact with it via a proxy, that won't need a framework like the prometheus operator does. We should just do it from scratch here I think.

Otherwise very happy to finally get rid of the bash tests!

[2019-08-30 13:42] arnaudlemaignen opened #876 "Feature Request : have the port as a label for endpoint metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Today the endpoint metrics are collecting a single value summing all endpoints for all ports of the service
https://github.com/kubernetes/kube-state-metrics/blob/master/docs/endpoint-metrics.md

but in case you have several ports in the service you want to know the number of available endpoints **by port**, especially

[2019-08-30 15:00] brancz commented on #876
Does the `Endpoints` object expose this information in its API object?

[2019-09-02 09:18] arnaudlemaignen commented on #876
Sorry can you explain how can I check this?

at kubectl/oc level we have the info at service level

oc describe svc my-service
Name:            my-service
Namespace:        my-namespace
Labels:            <none>
Selector:        app=my-service
Type:            ClusterIP
IP:            172.30.62.142
**Port:            rmi-1099-tcp    1099/TCP**
**Endpoints:        172.16.23.175:1099**
Port:

[2019-09-02 09:27] povilasv commented on #367
I think we can close this issue.

[2019-09-02 09:28] povilasv commented on #367
/close

[2019-09-02 09:28] #367 closed

[2019-09-03 07:02] lesterwang commented on #127
sorry, I can't find it.

[2019-09-03 17:31] tariq1890 commented on #876
Currently, we only expose the count of `addresses` * `ports` for an endpoint as a metric.

The API Object field is [here](https://github.com/kubernetes/api/blob/master/core/v1/types.go#L4149)

[2019-09-05 09:50] arnaudlemaignen commented on #876
thanks
so you do have the port in EndpointPort.
Can it be implemented?

If you don't want to have a breaking change it can be done in new metric names like
kube_endpoint_address_not_ready_by_port{endpoint="test_svc",port="8080",namespace="test_namespace"}
kube_endpoint_address_available_by_port{endpoint="test_svc",port="8080",namespace="test_namespace"}
kube_endpoint_info_by_port{endpoint="test_sv

[2019-09-09 10:02] brancz commented on #876
That information is not available in that structure in the API. I suggest you to join that information at query time.

[2019-09-12 09:20] kanbara opened #884 "Failure to communicate with API Server"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

We have been seeing sporadic restarts where kube-state-metrics cannot communicate to the API Server and then exit with code 255. The issue does not happen all the time.

[code]

**What you expected to happen**:

The pod would start normally without failing to communicate with the API Server.

**How to reproduce it (as min

[2019-09-13 00:11] zhengl7 opened #885 "How to effectively query job count and success rate?"
In my case I guess it's because a job's metadata is in k8s for about 2 days, so a job's metric (like kube_job_created, kube_job_status_succeeded) in prometheus will last that long (because kube-state-metrics just simply keep polling k8s data right?). Thus I'm struggling to find an effective way to query things like,

1. In one day, how many job run and how many failed?
2. Job duration histogram or

[2019-09-13 08:44] LiliC commented on #358
@sri-05  Its your Prometheus scrape config that is the problem, sounds like kube-state-metrics works correctly.

[2019-09-16 08:45] sri-05 commented on #358
@LiliC Thanks for the reply.
It seems like a network issue. I will re-configure pod network and keep you posted on the same.

[2019-09-16 09:31] YaoZengzeng commented on #875
@LiliC @brancz

I'd like to help to fix this issue if needed :)

[2019-09-16 11:44] LiliC commented on #875
@YaoZengzeng Yes, this still needs addressing, I know @tariq1890 wanted to work on it, but didn't have the time, so maybe you can sync with him? :) Thanks!!

[2019-09-16 19:06] terinjokes opened #886 "deployment condition metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

A deployment rollout stalled, no metrics from Kube State Metrics made this condition clear.

**What you expected to happen**:

KSM to have deployment status conditions available, similar to node status conditions.

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Look at the metrics produced

[2019-09-16 19:09] terinjokes commented on #886
I don't mind implementing this, if the feature request seems sound.

[2019-09-17 06:07] tariq1890 commented on #875
I haven't started this yet, but always happy to have contributors who are onboard to help :).

[2019-09-17 09:36] LiliC commented on #875
@YaoZengzeng Let me know if something is not clear in the issue, feel free to reach out on slack as well. Also feel free to open an early WIP PR. Thanks again!

[2019-09-17 09:45] LiliC commented on #886
@terinjokes thanks for the feature. Sounds reasonable at first glance, do we know if the conditions are a predefined list, or can they include any error that occurs in deployment creation? Just trying to avoid unbound high cardinality metrics.

[2019-09-17 12:56] YaoZengzeng commented on #875
@LiliC I will, thanks! :)

[2019-09-17 19:07] terinjokes commented on #886
@LiliC Based on the [source code](https://github.com/kubernetes/kubernetes/blob/v1.15.3/staging/src/k8s.io/api/apps/v1/types.go#L417-L430), there are three well-known conditions. These are also the only three I've seen in practice.

Is that a reasonable amount of additional cardinality?

[2019-09-17 19:40] tariq1890 commented on #886
This seems reasonable to me @terinjokes . Feel free to send in a PR.

[2019-09-18 08:36] YaoZengzeng commented on #875
After my research and combined with what @brancz said, I think we can still use the script to install minikube (as well as `kubectl proxy`) and launch kube-state-metrics.

Then pass the url (generally `http://localhost:8001/api/v1/namespaces/kube-system/services/kube-state-metrics:http-metrics/proxy/`) of kube-state-metrics service to `go test` and do e2e test based on the url.

I think use script

[2019-09-18 17:25] tariq1890 commented on #875
I think that's a reasonable approach.

Also, feel free to use the latest stable `minikube version`. You can also use this command to get the service url instead of `kubectl proxy &`

`minikube service kube-state-metrics --url`

[2019-09-18 21:55] sravanthi1993 commented on #699
@brancz: Can you please share how to configure prometheus.yml to get these probe metrics ?

[2019-09-19 07:57] milesbxf opened #891 "[feature-request] NetworkPolicy metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Kubernetes has [NetworkPolicy](https://kubernetes.io/docs/concepts/services-networking/network-policies/) objects to control how pods communicate with each other. We'd find it very useful to have kube-state-metrics on these.

We probably wouldn't want to try and export the whole spec (with ingress/egress rules, ip specs, pod select

[2019-09-19 08:54] LiliC commented on #800
/remove-lifecycle stale

I will try to get to the linked PR next week hopefully, and take over, don't think that much needs to be done anyways.

[2019-09-19 09:47] #706 closed

[2019-09-19 09:47] #725 closed

[2019-09-19 15:55] brancz commented on #885
You basically want an integral over the gauge graph. You can somewhat simulate this with `sum_over_time` or `average_over_time` and a recording rule.

[2019-09-19 15:56] brancz commented on #891
I think there was a previous attempt but it was abandoned, at least I'm not aware of anyone actively working on this. Contributions welcome! :)

[2019-09-19 17:55] #886 closed

[2019-09-19 23:14] zhengl7 commented on #885
Thanks for the answer, I tried to play with those functions before but didn't find an effective way. The main problem is a gauge metric lasts too long (3 days) while only the first 5 minutes of it is meaningful (a job's duration).

I did find a better query using the timestamp metric of jobs to filter out the most recent jobs using a window, something like this,

[code]

[2019-09-19 23:14] #885 closed

[2019-09-20 07:41] lilic opened #892 "Clarify and document stability guarantees for new metrics"
Currently, all new metrics get the STABLE status, we tend to only mark metrics are not stable when the resource is not GA, from what I can tell.

I would suggest to instead start with all new metrics in a not stable version, not sure experimental is the right word for that. This gives us some time to catch any problems and change any labels or remove metrics. After some period of time, we can grad

[2019-09-20 07:48] brancz commented on #892
I think this is the key here. We should make sure that we align the messaging, wording, etc. with the metrics stability framework. There the wording is rather just "alpha" and "stable". There are no set rules for what goes in what category but we have a much better idea in kube-state-metrics as the values rely on APIs that already have maturity levels. I think roughly that means metrics in kube-st

[2019-09-20 10:26] milesbxf commented on #891
https://github.com/kubernetes/kube-state-metrics/pull/893 🙂

[2019-09-21 14:28] YaoZengzeng commented on #875
@tariq1890 Thanks for your advice :)

I've written a rough framework, PTAL. also @LiliC @brancz

[2019-09-22 18:26] lruslan opened #897 "Add metrics to expose aggregated/total sum of statuses on node/pod objects"
/kind feature

In a large k8s cluster with autoscaling enabled and pods/nodes frequently disappearing we most likely less interested in keeping metric per individual pod/nodes. Perfectly I'd like to disable all the detailed metrics with node/pod labels and only have metrics about total occurrence of statuses.
More specifically I'm interested in keeping track of total occurrence of specific statuse

[2019-09-23 07:37] brancz commented on #897
I understand and agree with the need for something like this, I just feel it should be solved outside of kube-state-metrics.

[2019-09-23 10:20] lruslan commented on #897
@brancz  thanks for the feedback.
We were thinking, as a quick and dirty workaround, write component which would periodically scrape kube-state-metrics target and do the aggregation and totals for node/pod status metrics and expose them to prometheus. So we could scrape both kube-state-metrics (with node/pod metrics dropped) and our new component exposing node/pod totals.
I'll check whether it wou

[2019-09-23 13:37] bboreham commented on #458
Since there was some discussion that an evicted pod is a problem to look into, I would add that completed Jobs exhibit the same issue - you have to know to filter them out when using this metric.

[2019-09-23 15:49] brancz commented on #897
For what it's worth we run kube-state-metrics with a very high scrape interval: 2m. And yes it's not a bad idea at all to pick out exactly the metrics/collectors that you actually want to reduce the amount of metrics you collect.

[2019-09-23 16:15] tariq1890 commented on #892
This was what I had in mind as well. So I agree with @brancz

[2019-09-23 16:42] brancz commented on #892
Sorry just for clarification, what I meant is:

* Metrics that are based on non-GA API objects cannot be in stable state
* Metrics that _are_ based GA API object _could_ be introduced as non-stable state, because we have gotten naming/labeling wrong a number of times even if the API object was stable (thinking Pod and Node API for example)

So basically only if based on a GA API _and_ gone through

[2019-09-23 17:47] tariq1890 commented on #892
What would vetting mean in this context? Do you mean letting a metric bake over a couple of releases?

[2019-09-23 18:45] brancz commented on #892
Precisely.

[2019-09-23 21:56] tariq1890 commented on #892
Sounds good to me :). Thanks for starting this thread @LiliC .

[2019-09-24 09:35] LiliC commented on #892
Yes, I think that might help us prevent some wrong metrics, like labels, or just any high cardinality we can't catch etc. And makes it easier for us to remove metrics.

Hmm, my gut says 2-3 minor releases?  But open to suggestions.

[2019-09-24 15:49] tariq1890 commented on #892
Makes sense.

I'd say that we wait until 2 minor releases for maturation.

[2019-09-25 01:17] liangrog opened #899 "Enabling storageclasses causing container crash"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Metrics container crashed at start caused by enabling "storageclasses". However sometimes it succeeded.

kube-metrics-kube-state-metrics-679cb65777-rv47l   0/1     CrashLoopBackOff   6          8m28s

I0925 01:05:16.248532       1 main.go:90] Using collectors configmaps,cronjobs,daemonsets,deployments,endpoints,ingresses

[2019-09-25 06:26] LiliC commented on #899
@liangrog You seem to be using a very old version of Kubernetes, are you sure that `storageclasses` are available in that version already? Also, we don't make any guarantees for that old version of Kubernetes, we don't know how much the API changed since then. https://github.com/kubernetes/kube-state-metrics#compatibility-matrix

[2019-09-25 06:41] liangrog commented on #899
@LiliC `storageclasses` had been made available long before the version(1.9.3) I am using. If you are saying kube_state_metrics doesn't support it I can understand, however most time the go-client is backward compatible.

[2019-09-25 06:46] LiliC commented on #899
According to the [compatibility matrix of client-go ](https://github.com/kubernetes/client-go#compatibility-matrix)there are no exact guarantees for the current version of client-go and 1.9 version of k8s, my suspicion is something changed with that API, but can't be sure.

Does it work in older versions of kube-state-metrics that use an older client-go version?

[2019-09-25 08:23] brancz commented on #892
I think there shouldn't be a hard upper rule, but a lower one. As in no metric can become stable without having baked for at least 2 releases, but may take longer, if we don't feel comfortable giving guarantees about it. Case in point: annotation/label metrics.

[2019-09-25 09:11] brancz commented on #899
I think this might actually be a bug. Dereferencing a string pointer legitimately panics. This needs to be guarded: https://github.com/kubernetes/kube-state-metrics/blob/52cbdc1464e3cdab8c9a845d463ab1aadb340003/internal/store/storageclass.go#L40

[2019-09-26 07:01] yasongxu opened #901 "add 1.16 to Compatibility matrix"
**Is this a BUG REPORT or FEATURE REQUEST?**:
no

**What happened**:

k8s 1.16 https://github.com/kubernetes/kubernetes/releases

**What you expected to happen**:

k8s 1.16 supported check

[2019-09-26 07:10] brancz commented on #901
You're right, can you go ahead and add it? We're not using any of the removed APIs anymore, so it's 1.16 compatible.

[2019-09-26 07:42] yasongxu commented on #901
ok

[2019-09-26 12:42] ravvereddy commented on #536
@brancz
I would like to configure alerts only for specific namespaces and  pods with labels for example app=python-helloworld, app=youtube, datastream=mobile-phone etc..

Can you please provide one sample example for the following metrics:

Namespace = my-front-end-app
pod labels = app=python-helloworld, stream=youtube, datastream=mobile-phone

I am trying something like this but didn't worked as

[2019-09-26 15:22] brancz opened #903 "Autogenerate manifests"
With the introduction of sharding and autosharding (#613) we now have a number of manifests that are duplicated, and they are 95% the same. I'd like to have these manifests generated using jsonnet, which would not only make our lives easier here but also allow using the definitions by using [jsonnet-bundler](https://github.com/jsonnet-bundler/jsonnet-bundler). This will also make our lives easier

[2019-09-26 15:49] LiliC commented on #903
This sounds good to me!

I would like to also to also add alert for error rate based on the metrics that were recently introduced to kube-state-metrics.

Would you like to do this, if not I can do it as well, if we all agree on it of course.

[2019-09-26 15:50] tariq1890 commented on #903
+100

Let's do this!

[2019-09-26 17:50] aksgithub opened #905 "Metric kube_node_spec_unschedulable metric should have node role/type"
/kind bug

**What happened**:
kube_node_spec_unschedulable reports all the k8s nodes on which scheduling is disabled. There is no way to differentiate between api nodes and worker nodes and due to that, we can not alert on when worker node is in scheduling disabled for too long - ex. someone cordon'ed  worker node and forgot to delete(ready but unschedulable) or there was some issue with bringing

[2019-09-26 18:46] tariq1890 commented on #905
By "api" nodes, do you mean `master` nodes?

[2019-09-26 18:54] tariq1890 commented on #905
Also, we have a new node metric for the role as seen [here](https://github.com/kubernetes/kube-state-metrics/blob/master/internal/store/node.go#L106).

This is a new metric that will be available in the next release (v1.8.0). If you'd like to test this feature right away, you can pull the v1.8 rc image from [here](https://quay.io/repository/coreos/kube-state-metrics?tag=v1.8.0-rc.1) :)

[2019-09-26 19:25] endzyme opened #906 "[Feature Request] Namespace whitelist/blacklist"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

It would be wonderful if kube-state-metrics supported a `--namespace-whitelist` flag or `--namespace-blacklist` flag in addition to the `--namespace` flag already available.

We have a use case where we're collecting so many metrics, it would be nice to  have kube-state-metrics split up the load with "only this namespace" as well as "all

[2019-09-27 08:35] brancz commented on #906
The `--namespace` flag already allows multiple values, so all we need is the opposite. Note that any type of opposite will still incur the same amount of load on the Kubernetes API, so I'm not too sure it's actually worth compared to the real sharding feature we are releasing with 1.8.

[2019-09-27 08:47] endzyme commented on #906
Thanks for that valuable insight. I hadn't dug down deep enough to know if my pressure issues are in the KubeAPI itself or just too much data being pushed from kube-state-metrics. My line of thinking was to improve the transactional time to scrape data from a single kube-state-metrics endpoint by limiting the amount of data on each /metrics endpoint.

I am not too familiar with how this process wo

[2019-09-27 17:06] tariq1890 commented on #714
/reopen

[2019-09-27 17:08] tariq1890 commented on #714
/help-wanted
/remove-lifecycle rotten
/good-first-issue

[2019-09-30 07:55] brancz commented on #704
/remove-lifecycle stale

[2019-09-30 08:10] #901 closed

[2019-10-01 17:11] sbueringer commented on #872
I would start implementing this

/assign @sbueringer

[2019-10-01 17:37] tariq1890 commented on #905
Closing this since [v1.8.0](https://github.com/kubernetes/kube-state-metrics/releases/tag/v1.8.0) has been released.

[2019-10-01 17:37] #905 closed

[2019-10-01 18:30] abokairatsfdc opened #913 "Running kube-state-metrics container as non-root user"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Trying to run Kube-state-metrcis container as non root user.

after modifying the security context, following errors show:

User "system:serviceaccount:kube-system:kube-state-metrics" cannot list resource "jobs" in API group "batch" at the cluster scope
     1 reflector.go:125] pkg/mod/k8s.io/client-go@v0.0.0-20190620085

[2019-10-01 22:33] tariq1890 opened #916 "Add a godoc badge to the README doc"
It would be nice to add a badge for users to easily access `godoc` documentation of kube-state-metrics.

You can refer to the README of the main Kubernetes repo for reference: https://github.com/kubernetes/kubernetes#kubernetes

[2019-10-01 22:41] tariq1890 opened #917 "Bump the prometheus dependency in the go.mod file"
The prometheus version referenced [here](https://github.com/kubernetes/kube-state-metrics/blob/master/go.mod#L15) is very old and we should ideally be using a newer version. for eg:- https://github.com/prometheus/prometheus/releases/tag/v2.12.0

[2019-10-01 22:45] tariq1890 opened #918 "Import tool dependencies in go modules instead of go get"
As per the [best practices](https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module) recommended by the Go team, it is better to add tool dependencies like embedmd, benchcmp etc as module dependencies instead of `go get` as done over [here](https://github.com/kubernetes/kube-state-metrics/blob/master/Makefile#L136).

You can follow the steps mentioned here: https:/

[2019-10-01 22:49] tariq1890 opened #919 "Fix golint issues reported by goreportcard"
For more information, refer to: https://goreportcard.com/report/github.com/kubernetes/kube-state-metrics#golint

[2019-10-01 23:04] sunny-b commented on #919
I can take this

[2019-10-01 23:18] tariq1890 commented on #919
Please do :)

[2019-10-01 23:25] tariq1890 opened #922 "Fix the typo in autosharding - README.md"
It should be `autosharding` and not `audosharding` :)

[2019-10-01 23:33] sunny-b commented on #919
Nvm, looks like someone else grabbed it

[2019-10-01 23:36] #922 closed

[2019-10-02 00:10] jeremyklein commented on #918
I can give this a shot!

[2019-10-02 00:15] tariq1890 commented on #918
Please do :)

[2019-10-02 01:39] #916 closed

[2019-10-02 02:14] bergerx commented on #694
/remove-lifecycle stale.
I don't think this is being worked on

[2019-10-02 02:24] bergerx commented on #694
/remove-lifecycle rotten

[2019-10-02 04:38] Jukie commented on #320
What's required to make this work? Would it be as simple as adding a new target in the Makefile similar to https://github.com/kubernetes/kube-state-metrics/blob/master/Makefile#L97? If that was done, I imagine there would also need to be some extra steps on the ci side to trigger a build on every commit to master or PR merge.

[2019-10-02 08:38] brancz commented on #913
Those errors have nothing to do with the user you run kube-state-metrics with. We run kube-state-metrics with a non root user just fine. This looks like you may have not setup RBAC correctly.

[2019-10-02 10:35] #903 closed

[2019-10-02 14:37] clickyotomy commented on #899
Hello! Can I work on this?

[2019-10-02 18:51] tariq1890 commented on #899
@clickyotomy Please do!

[2019-10-03 18:37] #853 closed

[2019-10-03 22:09] tariq1890 opened #930 "Add kube-state-metrics slack channel to CONTRIBUTING.md"
We have a [#kube-state-metrics](https://kubernetes.slack.com/messages/CJJ529RUY) that can be used by people who have questions about the project. This offers an alternative to raising GitHub issues for the same purpose.

[2019-10-03 23:55] FraBle opened #931 "Feature Request: Add support for augmenting metric tags from K8s labels"
/kind feature

**What happened**:
There is currently no way to add additional tags to a metric, e.g. company-specific identifying attributes. The current recommendation is to [join metrics within Prometheus](https://github.com/kubernetes/kube-state-metrics/tree/master/docs#join-metrics) for example with labels, which are exposed as a separate metric for individual K8s objects, e.g. `kube_pod_label

[2019-10-04 14:42] vishakhanihore commented on #930
@tariq1890 Can I please work on it

[2019-10-04 16:09] kminehart commented on #873
@LiliC @brancz  definitely agreed on the higher unbound cardinality, but it's not any more volatile than the existing `{foobar}_labels` metrics. If kube-state-metrics is exposing `kube_deployment_labels`, `kube_pod_labels`, and so on, then I don't see any reason to exclude `kube_configmap_labels`. If another popular service comes along and starts to include a lot of labels onto managed deployments

[2019-10-04 17:34] #899 closed

[2019-10-04 17:40] davidkarlsen commented on #864
+1 another usecase:
Use kube-state-metrics' kube_pod_container_status_restarts_total for alerting frequent container-restarts *) and use annotations to route to the correct team in alert-manager. Annotations can contain characters which label values cannot:
* #: used for slack-channels
* @ used for slack-users
* , to deliver to a comma-delimited list of opsgenie-teams.
I don't see why this is any

[2019-10-04 18:29] tariq1890 commented on #569
One more to the list: We need to rename labels that follow pascalCase instead of snake_case. We would then be able to use newer versions of Prometheus. https://github.com/kubernetes/kube-state-metrics/pull/929#discussion_r331590172

[2019-10-04 18:57] #845 closed

[2019-10-04 22:43] bboreham commented on #569
I didn’t understand this comment at first, and the link didn’t work for me.

I think you mean “would be able to use a newer version of promtool” (which is used like a linter).

[2019-10-04 22:52] tariq1890 commented on #569
@bboreham yes. We now use prometheus as a `go mod` dependency. Since `promtool` is bundled in that, we would need to use newer versions of prometheus.

[2019-10-05 19:25] #930 closed

[2019-10-07 11:22] brancz commented on #931
kube-state-metrics is designed to be ingested by Prometheus, the lack or inconvenience of features by other systems that happen to ingest Prometheus data is not a valid use case in my opinion to introduce features that Prometheus is perfectly capable of achieving.

Don't get me wrong, I totally understand your need for this, but I think this is then something that needs to be done at the conversio

[2019-10-07 18:16] tariq1890 opened #937 "Update kubernetes libraries to v1.16.x"
Now that the `1.16` is the latest stable minor release of kubernetes, we should be vendoring them to kube-state-metrics.

[2019-10-07 20:18] brennerm commented on #937
Would like to take care of this issue but I'm not sure where to find the correct library versions for v1.16.x. Can you give me a hint?

[2019-10-08 02:06] #672 closed

[2019-10-09 12:05] kirkharris1 opened #941 "annotation metrics, what is the future direction?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We make extensive use of `kube_namespace_annotations` which has been removed. This PR https://github.com/kubernetes/kube-state-metrics/pull/859 says "rethink the annotation metrics in a separate PR".   Reading around the PRs and Issues, the main concern seems to be that annotations can be numerous/large and security

[2019-10-09 13:50] chambridge commented on #817
/close

As suggest this was done in node_exporter:
https://github.com/prometheus/node_exporter/pull/1489

[2019-10-09 13:50] #817 closed

[2019-10-09 16:33] paxbit opened #942 "Observing More Than One Ns Leads to Inconsistent Metrics Being Exported"
/kind bug

**What happened:**

Note: I'm going to name only the kube_pod_container_resource_requests metric in my following explanation. The problem affects all exported metrics though, just with different counts and numbers than the ones I wrote down for kube_pod_container_resource_requests. To verify the amount of metrics being exported I directly fetch the kube-state-metrics metrics endpoint wi

[2019-10-09 17:43] #918 closed

[2019-10-10 05:55] tariq1890 commented on #937
@brennerm So sorry for the late response. You could add the dependencies to the go.mod by go getting.

So for eg:- you could start with `go get k8s.io/apimachinery@kubernetes-1.16.1` and update the other k8s deps similarly. Let me know if this helps.

[2019-10-10 06:02] tariq1890 opened #943 "Update the apiversion in the RoleBinding example snippet in README.md"
The RoleBinding manifest snippet can be found [here](https://github.com/kubernetes/kube-state-metrics/blob/master/README.md#limited-privileges-environment).

The apiVersion should be updated to `rbac.authorization.k8s.io/v1`

[2019-10-10 08:26] brancz commented on #818
Closed by #866. (and released in v1.8.0)

[2019-10-10 08:26] #818 closed

[2019-10-10 08:29] vjdhama commented on #943
I would like to help with this doc change.

[2019-10-10 09:04] LiliC commented on #942
@paxbit Thanks for your issue. Sounds like a problem, do you mind providing a few more details on this.

When you say:

How do you lower the amount of the observed namespaces?

[2019-10-10 09:08] #943 closed

[2019-10-10 09:46] paxbit commented on #942
@LiliC Of course. Thank you for your reply!

I change the --namespaces config flag and redeploy the kube-state-metrics POD. I then waited up to a couple of hours for the state to develop over time. But mostly I was changing the namespace list, restarted and took a sample of the amount of metrics minutes after the kube-state-metrics POD became ready.

[2019-10-10 12:00] brancz commented on #942
Could you setup:

* one instance of kube-state-metrics with just namespace A
* one instance of kube-state-metrics with just namespace B
* one instance of kube-state-metrics with just namespace A, B

and compare them in the same moment of time, and see if these inconsistencies still apply? Metrics can vary over time generally, that's totally possible, but in the same moment of time these should be

[2019-10-10 16:03] paxbit commented on #942
Ok I did that and also hacked together the following script to find differences.

[code]

# 1st Trial - While I Was Hacking the Script

The script output after running all three instances for an hour and a bit. I don't have the output from the time directly after starting all three instances b/c there was no script then.

After an hour:
- A is fully contained within AB.
- B is nowhere to be found

[2019-10-10 16:14] paxbit commented on #942
...
To me it looks like the watch expirations (which I understand are normal in a Kubernetes cluster) seem to make those kube-state-metrics instances "forget" even more things - after not picking up the full AB state initially.

[2019-10-10 17:26] brennerm commented on #771
IMO the issue comes from a bug in the `tests/e2e.sh`. If the MINIKUBE_DRIVER is not "none" the DOCKER_HOST is switched to the minikube VM.

`[[ "$MINIKUBE_DRIVER" != "none" ]] && eval "$(minikube docker-env)"`

`make container` tries to bind mount the source code from the path on the host machine which is ofc not available in the minikube VM.

`docker run --rm -v "/home/user/src/go/src/k8s.io/kube

[2019-10-10 22:32] #913 closed

[2019-10-10 23:26] lxnch commented on #941
Should this be a BUG actually? The commit that was reverted is [this](https://github.com/kubernetes/kube-state-metrics/commit/5ae00bb93fb6c224324d02d8b57c1fb1147948c9) one, which alongside the older `kube_namespace_annotations` added various other metrics for different resource (deployment, ingress etc). But the revert also removed the `kube_namespace_annotations` which is an older metric that we'

[2019-10-11 09:25] paxbit commented on #942
...
it's the next day, I kept the instances running overnight. Still shows the same picture after ~19h.

Somehow it looks like namespace B is being completely discarded from observation by the AB instance after some time.

[code]

[2019-10-11 09:44] paxbit commented on #942
... I flipped the --namespaces flag of the AB instance from --namespaces=**A,B** to --namespaces=**B,A**

Right after start it seem that now all B metrics are covered by the BA instance while some of the A metrics are missing from it. Also the instance observing two namespaces this time discovered 3338 metrics for A and B combined while in the previous run it only saw 2589.
The two instances only

[2019-10-11 09:56] LiliC commented on #942
@paxbit Sounds very interesting, thanks for your results and the work!!

I am curious if this is the problem with our namespace flag, or a general problem. For the AB experiment, did you also pass the namespaces AB via the args to kube-state-metircs. Are any of the above results for when the `--namespace` flag was not used?

[2019-10-11 10:00] paxbit commented on #942
@LiliC No I always used the --namespace flag. So far I'm not aware of any other way to run in an unprivileged environment without a cluster role.

[2019-10-11 12:19] LiliC commented on #942
@paxbit So I tried to reproduce, and I noticed that in the namespaced metrics there are also cluster wide resources so that accounted for the difference for me. Can you double-check that is not also causing the problems for you as well? Thanks again!

[2019-10-11 13:09] paxbit commented on #942
@LiliC Thanks for checking! I'm not sure I understand you correctly. Are you saying that when you configure your instance with `--namespace=A` you also see resources from a namespace like `kube-system`?

In any case I checked the output of my A, B and AB instances and find that:
All metrics relate to a resource in the namespaces A and B. I see nothing cluster wide in A, B and AB.

Also how would t

[2019-10-11 13:28] brancz commented on #942
Could you share the exact flags that you are using? Maybe even the entire collection of manifests?

[2019-10-11 13:53] paxbit commented on #942
@brancz Sure, here's the template with only the route host names redacted and actual namespace names anonymized.

[code]

[2019-10-11 15:29] LiliC commented on #942
I could reproduce this once, but cannot reproduce it consistently. 🤔

[2019-10-11 19:30] tatchiuleung opened #947 "Need metric to return job failed reason"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Missing a metric like `kube_job_status_failed_reason`
**What you expected to happen**:
Add `kube_job_status_failed_reason` to display the failed reason, such as `Evicted`
**How to reproduce it (as minimally and precisely as possible)**:
Create a cronjob but limit the resource

**Anything else we need to know?**:
K8S r

[2019-10-14 08:55] brancz commented on #873
I agree that probably none of them should have it, and any label exposed should probably be whitelisted. The other label metrics are already there and I think too many people rely on them at this point that we can remove them. But this is something that I would consider changing for the 2.0 release.

[2019-10-14 08:55] brancz commented on #873
cc @LiliC @tariq1890

[2019-10-14 09:23] zerda commented on #500
Mapping `/etc/localtime` in host to container worked, but environment `TZ=Asia/Shanghai` not.

We still need a better way (may TZ env support ?) to specify timezone with kube-state-metrics.

[2019-10-15 08:14] brancz commented on #569
Adding renaming of storage class labels `reclaimPolicy` to `reclaim_policy` and `volumeBindingMode` to `volume_binding_mode`.

[2019-10-15 08:34] LiliC commented on #942
Just an update: I will try to take some time next week to dig a bit deeper, a bit busy right now.

[2019-10-15 11:01] ankitsinhaiiitg commented on #714
Hello, can I work on this issue?

[2019-10-15 11:03] luarx commented on #714
Sure, I think so! 😃

[2019-10-15 11:21] paxbit commented on #942
@LiliC Thanks! Just let me know if I can provide additional data.

[2019-10-15 11:51] LiliC commented on #714
/assign @ankitsinhaiiitg

[2019-10-15 13:17] zouyee commented on #569
Is it necessary to maintain  a list which used the library and instructions for upgrading？

[2019-10-15 14:28] brancz commented on #569
Not sure what you are referring to. Can you elaborate?

[2019-10-15 22:46] davidquarles commented on #830
@tariq1890 This is still happening to me on both 1.7.2 and 1.8.0

[2019-10-15 23:14] tariq1890 commented on #830
Can you paste the error stack?

[2019-10-16 10:07] zouyee commented on #569
Because there are other k8s related projects that use our repo, such as [charts](https://github.com/helm/charts/tree/master/stable/kube-state-metrics)、[kubespray](https://github.com/kubernetes-sigs/kubespray), it may be necessary to provide such a maintenance list to update the information, and provide some impact information about the name modification.
Non-native english 😄

[2019-10-16 10:36] brancz commented on #569
Doesn’t a new major release show that there are breaking changes? Of course we need to properly document these changes.

[2019-10-17 12:00] #872 closed

[2019-10-17 16:51] tariq1890 commented on #838
/remove-lifecycle stale

[2019-10-17 19:10] kkbrat9 commented on #871
I think there are 3 things right ?

kube_daemonset_status_desired_number_scheduled
kube_daemonset_status_current_number_scheduled
kube_daemonset_status_number_ready

number_ready is clear that current pods up and running but scheduled and desired not the same ?

[2019-10-17 19:29] tariq1890 commented on #871
For Current Number Scheduled - We count the number of nodes that have at least 1 daemon pod running in them.

For Number Ready -  The daemon pods are required to be "running" and "ready" (i.e passing readiness probes) when counting the number of nodes that run a daemon pod.

This is the godoc:

[code]

[2019-10-17 23:49] #891 closed

[2019-10-18 07:40] normander opened #951 "[QUESTION] - log stats from pod"
Hi, I was wondering what I need in my statistics to help me to estimate storage for logs for my application, how can I know more that something is wrong etc. What do you think about this approach? I prepared some POC for this purpose if you will interested I will prepare PR with pleasure.

Main purpose:

- Connecting to k8s api for label details and creating path to log on host
- Storing previous

[2019-10-18 07:49] brancz commented on #951
kube-state-metrics is really only there to convert information found in the Kubernetes API to Prometheus format metrics, as far as I know what you're referring to is not available within the Kubernetes API. That said I believe what you are looking for already exists, there is the `kubelet_container_log_filesystem_used_bytes` metric and with [node-exporter](https://github.com/prometheus/node_export

[2019-10-18 16:23] icy commented on #123
Does anyone have a dashboard for kube-state-metrics? Thanks a lot.

[2019-10-18 16:23] icy commented on #123
/reopen

[2019-10-18 17:04] metalmatze commented on #123
@icy, the kubernetes-mixin project and the kube-prometheus (which uses the first one) have dashboards which make heavy use of kube-state-metrics.

[2019-10-18 17:38] #871 closed

[2019-10-23 13:11] JonasDeGendt opened #956 "Logging verbosity"
Referencing issue #369.

Kube-state-metrics is a bit too verbose to my liking, and I'd like edit the log level. The docs say there's a `--v` flag that takes a number for the log level verbosity.

Yet I can't seem to find anywhere what the accepted values are, and anything I've tried to set ends up crash-looping the pod.

Can anyone elaborate on this? Thank you!

[2019-10-23 13:26] brancz commented on #956
It's the infamous [klog](https://github.com/kubernetes/klog). The verbosity is specified in numbers. I believe 3 for example hides almost everything.

[2019-10-23 13:57] JonasDeGendt commented on #956
Thanks for the quick reply, fixed!

[2019-10-23 13:57] #956 closed

[2019-10-24 05:52] tokyowizard opened #958 "Memory spike on startup."
**What happened**:

On startup, there is a spike in memory usage when the kube-state-metrics starts up very similar to the image in https://github.com/kubernetes/kube-state-metrics/issues/706#issuecomment-478560752 . Then the memory usage goes down.

The issue is that when the pod starts on some other node (nodes are spot instances that go away), the spike has went up to as high as 916.46MiB, whic

[2019-10-25 12:04] paxbit commented on #942
@LiliC Hi. Have you had a chance to take a look at the problem so far?

[2019-10-25 13:36] sincerywaing opened #960 "[Question]: kube_daemonset_status_number_ready instance name"
In prometheus if we scrape kube-state-metrics, we will have `kube_daemonset_status_number_ready` stats. But in the stats the instance name is alwasy the name of `targets` or service name of kube-state-metrics.

Is it possible to get per node daemonset status?

if this is the wrong kpi, what is the correct one to get per node daemonset status?

[2019-10-25 14:13] brancz commented on #960
The instance label is the label of kube state metrics itself as it is the things exposing this metric once cluster wide. You can use the namespace and daemonset labels to scope it to the daemonset you are looking at.

[2019-10-25 19:34] janzantinge commented on #768
The HPA target CPU utilization isn't published by cAdvisor is it? It seems like there should be another HPA metric like kube_hpa_spec_target{metric="cpu"...} or something along those lines that can publish the resource target part of the HPA spec. I may be missing something as I'm still pretty new to k8s.

[2019-10-26 03:25] sincerywaing commented on #960
@brancz can you elaborate more on how to configure? say I have a daemonset name abc deployed in ns def. how do I scrape to know if abc is up and running and send alert if certain number of abc is down?

[2019-10-27 12:35] Bessonov commented on #611
/remove-lifecycle stale

[2019-10-28 13:14] brancz commented on #768
Sorry I think I misunderstood last time, as this is more or less a static value on the HPA object, this should indeed come from kube-state-metrics.

/reopen

[2019-10-28 13:17] brancz commented on #960
Something along the lines of `kube_daemonset_status_number_unavailable != 0` ?

[2019-10-28 14:47] #714 closed

[2019-10-28 21:25] amigold commented on #362
I'm now getting this with version `1.8.0`

[code]

[2019-10-28 21:40] tariq1890 commented on #362
Are there any other error traces/details beyond what you have provided?

[2019-10-28 21:50] tariq1890 commented on #362
@amigold Can you check what all are the resource types you have in your cluster? This would help us narrow down where we might need to place a nil check.

This command should help you determine that info.

`kubectl api-resources --verbs=list -o name | xargs -n 1 kubectl get -o name`

[2019-10-29 07:01] amigold commented on #362
I downgraded to an older version because my test cluster is a bit old. All good now. Thanks!

[2019-10-29 18:14] zimmertr commented on #761
I think it would be at least worth including an example or linking to the example within Prometheus' repo so that new users aren't left confused how to use this. This was quite difficult for me to figure out since I haven't used Prometheus before now.

[2019-10-30 08:44] LiliC commented on #942
@paxbit  Not yet I apologize, but its on the top of my todo list for this week!

[2019-10-30 09:01] AdityaMisra commented on #947
@tatchiuleung I want to work on this issue.

[2019-10-30 09:22] brancz commented on #947
If there is a bound number of reasons I think this would be ok to have.

[2019-10-30 11:05] LiliC commented on #947
@AdityaMisra do you mind looking up the number of reasons first for failed jobs, so we can make sure does not have a high unbound cardinality. Otherwise go ahead. :)

/assign @AdityaMisra

[2019-10-31 18:08] janzantinge commented on #768
@brancz Is this something I can contribute?

[2019-10-31 18:21] brancz commented on #768
I believe it’s already in progress https://github.com/kubernetes/kube-state-metrics/pull/961

[2019-10-31 18:33] janzantinge commented on #768
IIUC that PR doesn't include the target utilization values specified in the Spec, only the current utilization values in the Status.

[2019-10-31 19:36] brancz commented on #768
You're right. Feel free to open another PR in that case :)

[2019-11-01 12:39] mpashka opened #964 "Add kubernetes nodes annotations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
kubernetes node annotations are not exported

**What you expected to happen**:
I'd like to have kubernetes node annotations exported in kube-state-metrics.
Also I'd like to have numerical annotations exported separately. This is important for us because we use `ingress.kubernetes.io/node-weight` annotation to weight n

[2019-11-01 14:36] LiliC commented on #942
@paxbit So I finally got a chance to reproduce this. And I have managed to reproduce it! But only when the namespaces were limited. So @tariq1890 @brancz we have a bug in the namespaces options. No clue as of now where this bug might be.

My results, I deployed 3 kube-state-metrics running in different namespaces:

## Scenario 1:
### A ksm -> namespace A, B ksm -> namespace B, AB ksm -> all namesp

[2019-11-01 14:58] brancz commented on #942
I have a theory. I think what's happening is that we are creating multiple reflectors that act on a single store, resulting in [`Replace`](https://github.com/kubernetes/kube-state-metrics/blob/8c49ae2ba0e0a17ba7d6736b98185bc9e53080f9/pkg/metrics_store/metrics_store.go#L132) calls that replace the entire store with items from a reflector that is namespace + type scoped.

If this is true, then we ne

[2019-11-01 15:19] LiliC commented on #942
Forgot to say, but thanks @paxbit for reporting this and sorry for being so late to respond, busy times! Much appreciated!

[2019-11-01 21:39] janzantinge commented on #768
Here goes nothing!

[2019-11-04 13:31] paxbit commented on #942
@LiliC @brancz Thanks for your looking into it! I appreciate it. For the moment I fell back to deploying one instance per namespace. 17 pods atm. It works but would be a waste of resources for going live next year where we'll have to monitor north of 100 NS.
One thing I'm curious about is why any how does this specific bug come up just now at 1.4(at least) through 1.8. If you assumption about the

[2019-11-04 14:39] LiliC commented on #942
@paxbit I believe more people just don't restrict the namespaces and use it as is, to watch all namespaces.

[2019-11-04 14:52] LiliC commented on #964
@mpashka  Is this a limited set of annotations. Also could they include any sensitive information in those annotations?

[2019-11-04 15:20] LiliC commented on #941
Thanks for this, sorry we missed to respond to this. We should find a solution for this ASAP.

 I believe allow-listing like we do with other things might be good approach. Thoughts? cc @tariq1890 @brancz

[2019-11-04 15:49] brancz commented on #941
I think listing individual annotations that would be converted into metrics sounds appropriate.

[2019-11-04 15:53] brancz commented on #942
Yes I think it's exactly as @LiliC said. We at least never noticed this as we run it with watching all namespaces.

[2019-11-04 16:11] brancz commented on #964
Is this a standardized annotation that all ingress controllers must respect?

[2019-11-04 16:17] mpashka commented on #964
Usually node annotations number is limited. Node count is limited as well.
Probably some default filters can be applied to prevent using annotations with long name or value.
Sensitive information is usually stored in secrets. But sometimes annotations can be used for that as well - e.g. kube-router uses [kube-router.io/peer.passwords](https://github.com/cloudnativelabs/kube-router/blob/master/docs

[2019-11-04 16:26] brancz commented on #964
In that case I feel this rather belongs on the ingress controller.

[2019-11-04 18:35] kirkharris1 commented on #941
That would be great, it would fix the issue for our use case.

[2019-11-04 18:54] LiliC commented on #941
@kirkharris1 with conferences coming up, we probably won't have time to work on this right now. But if you want to write up a short proposal for this and then start working on it, you are most welcome to! Do you want me to assign this issue for you? :)

[2019-11-04 19:06] kirkharris1 commented on #941
I can't do it, but i will ask around internally.

[2019-11-05 10:37] paxbit commented on #942
@LiliC @brancz I see. So the reason is that with --all-namespaces ksm will establish a single, cluster-wide watch using it's cluster role - which I cannot use - instead of iterating all NS an watch them discretely.

[2019-11-05 11:11] brancz commented on #942
Precisely.

[2019-11-05 20:25] brancz commented on #865
/remove-lifecycle stale

[2019-11-06 08:28] jdor521 opened #967 "The field kubernetes.replicaset.replicas.available on every log is set to 0"
Is this a BUG REPORT or FEATURE REQUEST?:
/kind bug

What happened:
I am using metricbeat (with elasticsearch) version 6.8.4 to monitor my kubernetes cluster, I am using rancher based kubernetes cluster, and using the kube-state-metrics module.
and all the fields that suppose to have info about the status of my replicasets (replicas.available, replicas.observed etc..) always show 0 no matter what

[2019-11-06 10:11] brancz commented on #967
Can you confirm that the kube-state-metrics `/metrics` output actually exposes 0? Also does the Kubernetes API actually return something other than 0?

[2019-11-06 12:01] jdor521 commented on #967
Well can you help me to check it properly? (tried browsing the route /metrics but got only the metrics and not actually the data it collects)

[2019-11-07 09:41] jw-s commented on #941
Hi @LiliC @kirkharris1, in our company we are also affected by this. I am more than happy to work on this.

[2019-11-07 09:45] kirkharris1 commented on #941
@jw-s thank you

[2019-11-07 10:54] brancz commented on #967
There are two ports that kube-state-metrics has http servers on, one the metrics of kube-state-metrics itself, the other for the metrics about the Kubernetes objects. Make sure to use the right one :)

[2019-11-07 10:55] LiliC commented on #941
@jw-s sgtm, as agreed above we want to just allow individual annotations that do not contain any sensitive information and do not produce high unbound cardinality and convert those to metrics e.g. whitelist them in code. Let me know if you need any more info on this. Thank you!

/assign @jw-s

[2019-11-07 11:35] jdor521 commented on #967
well I managed to check /monitor route and the output is actually 0 :/ (kube_replicaset_status_replicas, kube_replicaset_ready_replicas etc...)

[2019-11-07 11:39] brancz commented on #967
And when you check `kubectl get replicaset <name> -oyaml` you see something different in the status? (if you could share the exact samples that would help us immensely)

[2019-11-08 13:30] jw-s commented on #941
@LiliC I suggest sticking with the previous (old) implementation of having one metric with each whitelisted/blacklisted annotation included as labels in this metric. With this proposal, we'd have to create a new cli flag specifically for this annotation unfortunately, or we go with a new metric per annotation then we can re-use the existing whitelist/blacklist cli flags.Thoughts?

[2019-11-08 14:53] LiliC commented on #941
@jw-s Yes we would need at least one new flag to specify the resource/annotation to whitelist, we do not want to blacklist approach here.

cc @brancz @tariq1890 for thoughts

[2019-11-09 05:38] tariq1890 commented on #941
Yes. I agree with @LiliC in that we choose the approach of having a white(Allow) list. That way, users are not at the mercy of Kubernetes implementations that use annotations to store sensitive information. This provides users more control over what annotation metrics they want to allow/block as opposed to exposing all annotations and risk leaking sensitive data when they least expect it. While ad

[2019-11-09 17:50] #771 closed

[2019-11-09 20:53] #778 closed

[2019-11-09 21:53] #787 closed

[2019-11-10 14:48] jdor521 commented on #967
sorry for the delay, I was trying to get you some samples and I figured out my problem: I had many "ghost" replica sets that spammed my kube-metrics. after deleting them I got the desired logs and everything works just fine now.
thank you for your response :)

[2019-11-10 14:48] #967 closed

[2019-11-11 12:30] LiliC commented on #821
/remove-lifecycle stale

[2019-11-13 10:33] brancz commented on #753
/remove-lifecycle stale

@jtackaberry we've upgraded the client-go dependencies since this was opened. Have you been able to test this since?

[2019-11-13 23:49] douwilliam opened #970 "can not find kube-state-metrics/kubernetes file"
FEATURE REQUEST?**:

**What happened**:
I am doing the following tutorials:
https://kubernetes.io/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk/#view-the-changes-in-kibana
there is command to create kube-state-metrics:
kubectl create -f kube-state-metrics/kubernetes
but the file kubernetes is not under the folder  kube-state-metrics/

**What you expected to happen**:
could y

[2019-11-14 07:35] tariq1890 commented on #970
@douwilliam Thanks for reporting this issue. We have changed the directory layout of the `kube-state-metrics` manifests. Please try this command instead:

[code]

I have created a PR to the update the tutorials to reflect this change: https://github.com/kubernetes/website/pull/17570

[2019-11-14 22:11] #768 closed

[2019-11-14 23:27] douwilliam commented on #970
Thanks for your help!

On Thu, Nov 14, 2019 at 4:36 PM Tariq Ibrahim <notifications@github.com>
wrote:

[2019-11-15 08:37] juliantaylor commented on #947
This is also needed for normal pods, not only jobs.
maybe via a label with `kube_pod_status_phase`

[2019-11-15 11:05] LiliC commented on #947
@juliantaylor Feel free to open a separate issue for the pod, as its a different resource makes sense to discuss that separately.

[2019-11-19 00:01] vorburger commented on #937
According to https://github.com/kubernetes/kube-state-metrics/pull/945#issuecomment-551074188, this is already done now, via #949?

[2019-11-19 16:29] adamjk-dev commented on #699
+1 @brancz Can you elaborate on how you are finding the liveness/readiness probes via Promtheus? I have the same interest and am not finding the metrics as is. Maybe this depends on the version of k8s/kube-state-metrics/prometheus or the configuration. Thanks!

[2019-11-20 15:55] LiliC commented on #970
Closing this issue, as it was solved.

[2019-11-20 15:55] #970 closed

[2019-11-21 00:46] tariq1890 commented on #937
Yes. This can be closed.

[2019-11-21 00:46] #937 closed

[2019-11-21 20:45] #917 closed

[2019-11-26 08:32] yuliyantsvetkov commented on #243
This actually did the job for me to look for terminated pods, but reversed order was used here:
`kube_pod_info{created_by_kind!="Job"} AND ON (pod, namespace) kube_pod_status_ready{condition="false"} == 1
`

[2019-11-26 08:46] yuliyantsvetkov commented on #243
Here is bit more refined query built from the one that @simonswine shared:

[code]

[2019-11-29 07:48] tmon546596046 opened #972 "there is no metric for counting labels."
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
kube_.\*_labels metrics value is always 1.
there is no metric for counting deployment labels, the pod labels(label\_*) only show in promethes label.
**What you expected to happen**:
one more metric: kube\_.\*_labels_count = <label_counts>
**How to reproduce it (as minimally and precisely as possible)**:

**Anything el

[2019-12-02 23:52] geekofalltrades commented on #942
We're suffering this issue as well. In our case, we're monitoring five namespaces, like so: `--namespace=A,B,C,D,E`

Here's a metric query:

`count(kube_pod_labels) by (namespace)`

|     |      |
| --- | --- |
| {namespace="B"} | 229 |
| {namespace="C"} | 1 |

All of the namespaces definitely have pods with labels on them.

In an unrelated question, it looks like using `--namespace` also discards

[2019-12-03 08:17] LiliC commented on #942
@geekofalltrades the PR to fix this will be landing in the next release and is linked above, feel free to test it. :)

You can start ksm with all namespaces but filter out most resources and keep only non-namespaced resources.

[2019-12-03 10:12] brancz commented on #972
I think it would be ok to have a metric like this.

[2019-12-03 15:46] ankitsinhaiiitg commented on #972
I would like to contribute to this issue.

[2019-12-03 16:30] clamoriniere opened #973 "Add the possibility to provide “custom” metric-store to the builder"
/kind feature

The “kube-state-metrics” project is well organized in terms of Golang packages and functionalities. It also uses the concept of “internal” packages that allow seamless refactoring for the users.

I started a discussion with some of you during the last Kubecon Europe in Barcelona (I know it’s been a while), about how a third-party project can reuse the “K.S.M. collectors” to generate

[2019-12-04 09:29] LiliC opened #974 "v2: Remove deprecated metrics"
For the breaking v2 release we want remove all the metrics that have been marked as DEPRECATED.

Blocked until after release v1.9.0.

[2019-12-04 09:31] LiliC opened #975 "v2: Rename black-/whitelist to allow/deny-list"
In all the places in the code and the CLI flags we want to rename the black-/whitelist to allow/deny-list.

Blocked for merging until after the v1.9.0 release.

[2019-12-04 09:32] LiliC opened #976 "v2: Use same ports in all cases"
Use the same ports everywhere (currently the flag defaults to 80/81, but the dockerfile specifies 8080 and 8081).

Blocked for merging until after the v1.9.0 release.

[2019-12-04 09:33] LiliC opened #977 "v2: Rename hpa metrics to use full horizontalpodautoscaler nomenclature"
Rename hpa metrics to use full horizontalpodautoscaler nomenclature, to match the rest of the exposed metrics.

Merging of this will be blocked until after the v1.9.0 release.

[2019-12-04 09:34] lilic opened #978 "v2: Rename --namespace flag to --namespaces"
Rename the CLI flag namespace to namespaces.

The merging of this is blocked until after the v1.9.0 release.

[2019-12-04 09:36] LiliC opened #979 "v2: Remove non-identifying labels from pod metrics"
Remove non-identifying labels from pod metrics (eg. node labels) https://github.com/kubernetes/kube-state-metrics/blob/aed94850b839d111d15308c97e1db7ada8017c6f/internal/collector/pod.go#L511

cc @brancz do you mind taking care of this one for v2, as I believe it was your suggestion?

[2019-12-04 09:38] LiliC opened #980 "v2: Rename collector to resources"
Rename use of "collector" in user facing things (flags, help text, etc.) to "resources", as the collector type pattern does not exist anymore.

Merging of this will be blocked until after the v1.9.0 release.

[2019-12-04 09:44] lilic opened #981 "v2: Rename storage class labels reclaimPolicy to reclaim_policy and volumeBindingMode to volume_binding_mode"
Rename storage class labels reclaimPolicy to reclaim_policy and volumeBindingMode to volume_binding_mode.

This is blocked on merging until after v1.9.0 release.

[2019-12-04 09:47] lilic opened #982 "Remove resource version metrics"
kube_secret_metadata_resource_version, kube_configmap_metadata_resource_version and kube_ingress_metadata_resource_version expose the resource version as a string in its set of labels. This value can change often and would therefore create huge cardinality. This should be a number or not existing at all.

This is a breaking change but we should remove it as its currently causing a cardinality expl

[2019-12-04 09:48] LiliC commented on #569
All coresponding issues from above were created under the https://github.com/kubernetes/kube-state-metrics/labels/v2

[2019-12-04 09:53] brancz commented on #569
One more thing that came up during kubecon: Before we do the v2 release we probably want to do another round of scalability tests. I believe Google volunteered to do this.

[2019-12-04 09:54] brancz commented on #982
I think this should already be fixed in 1.x yes.

[2019-12-04 12:09] brancz commented on #973
I think generally this would be ok, to be pluggable but I’m not 100% certain wether with the resets, resists, resyncs, etc. fit the data dog use case so obviously if that’s a problem we likely won’t cater to it. Otherwise making these interfaces more decoupled is a good idea regardless I think.

[2019-12-04 12:22] tariq1890 commented on #982
Sounds good to me!

[2019-12-04 16:54] #942 closed

[2019-12-05 14:54] clamoriniere commented on #973
Hi @brancz,

Thank you for taking the time to read this issue.
I will move forward by updating my branch and open a PR.

[2019-12-05 15:46] grayudu opened #988 "filtering metrics with --metric-blacklist option using regex"
I would like to filter some of following metrics.
      - args:
        - --collectors=cronjobs
        - --collectors=daemonsets
        - --collectors=deployments
        - --collectors=endpoints
        - --collectors=horizontalpodautoscalers
        - --collectors=jobs
        - --collectors=limitranges
        - --collectors=namespaces
        - --collectors=nodes
        - --collectors=pods

[2019-12-05 19:12] brancz commented on #988
What you shared here doesn't look like a regex, but a comma separated list.

cc @tariq1890

[2019-12-05 20:04] grayudu commented on #988
Thanks for your reply @brancz  I am just given sample of metrics want to filter.
for example:  when i try using following regex, i don't see regex working fine.
        - --metric-blacklist=kube_cronjob_[s][a-z_]+

[2019-12-06 08:54] saniic opened #990 "kube-state metrics is not running with HELM"
**Is this a BUG REPORT or FEATURE REQUEST?**: May be bug or my mistake

**What happened**: I am trying to use helm for kube-state-metrics installation as i do it for prometheus and it nt working. I have added below entry in helm and it not taking anything

 --set server.image.tag="v2.11.1" \
 --set kubeStateMetrics.image.tag="v1.7.0" \

Prometheus is working for me and there is no change in kubeSt

[2019-12-06 09:34] brancz commented on #990
@tariq1890 I think you somewhat maintain the kube-state-metrics chart right? Could you take a look at this?

[2019-12-07 05:46] tariq1890 commented on #990
@saniic Could you be a bit more specific here? Are you using the `stable` helm charts? What is the exact issue/error message that you get?

[2019-12-07 08:52] tariq1890 commented on #988
Sorry for the late response.

@grayudu I tested your regex and it works as expected.

The reason why it does not work for you is that you're using an old version of kube-state-metrics. Please ensure that you're using at least `kube-state-metrics-v1.7.x.`

[2019-12-07 08:52] #988 closed

[2019-12-08 00:11] nicolereineke commented on #975
Question -- is the requirement to rename the end-user facing content from
"Whitelist" to "Allow" and
"Blacklist" to "Deny"  (example, swagger documentation, CLI output, error messages)

or is the intent to change the customer-visible text and the functionnames/switches/filenames. For example:
kubectl apply --prune -l prune-group=true -f hack/testdata/prune/svc.yaml --prune-whitelist core/v1/Servic

[2019-12-09 15:18] LiliC commented on #975
@nicolereineke No this is for kube-state-metrics only, both CLI flags and code changes, not sure what you mean by kubectl there?

[2019-12-09 18:35] zhengl7 opened #995 "kube-state-metrics API scraping timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We are using kube-state-metrics (1.6.0) from prometheus-operator. Our cluster periodically creates hundreds of pods and deletes them within a 15 minutes window for bursting traffic. When this happens, kube-state-metrics target in Prometheus will often see API timeout (default 10 seconds). Suspecting this is due to the mut

[2019-12-10 17:10] raunaqness commented on #978
Hey @LiliC. Can I take this up?

[2019-12-11 07:26] LiliC commented on #978
@raunaqness go for it! Thanks! Note that it won’t be merged until the current release candidate is released. So a week or two. :)

/assign @raunaqness

[2019-12-11 08:35] raunaqness commented on #978
@LiliC Thanks!
I'm a little new to open source contribution, can you guide me a little bit about where I should start looking for to make the changes for this?

[2019-12-11 09:21] Dingshujie commented on #981
\assign

[2019-12-11 10:21] LiliC commented on #978
Just search wherever it says `namespace` in CLI flags and rename to `namespaces`. https://github.com/kubernetes/kube-state-metrics/blob/master/pkg/options/options.go#L88

[2019-12-11 12:11] LiliC commented on #995
Thanks for the issue.

Seems like your use case is very specific, have you tried disabling the pod metrics resource from kube-state-metrics? Does it make a difference?

[2019-12-11 13:08] brancz commented on #995
Or potentially configure kube-state-metrics to not watch the namespaces with the problematic workload.

[2019-12-11 19:14] zhengl7 commented on #995
@LiliC Thanks for the response. Yeah agree our use case is special. I stood up my local kube-state-metrics with some timing instrumentation and it's the pod collector that takes majority of the time, so I'm pretty sure it'll get things fixed, but I don't think that's an option for us.

@brancz Thanks for the info, that might be something we can look at if no other solutions. The namespaces can als

[2019-12-12 08:28] LiliC commented on #995
@zhengl7 note that we have benchmark tests in place and some of those things were done for optimisation purposes, so if the performance decreases we won't accept the PR. But we are happy to see any PRs that solve bugs :)

[2019-12-12 17:56] zhengl7 commented on #995
@LiliC Absolutely. I just got a version that solves our problem, it reduces the scraping call duration from tens of seconds to subsecond during those peak traffic minutes, on the same cluster. I'll try running the test scripts locally.

[2019-12-12 18:38] EppO opened #1000 "Latest container images are not on GCR"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Tried to
[code]

**What you expected to happen**:
Image pulled successfully from GCR registry.
It works fine on Quay

[code]

**How to reproduce it (as minimally and precisely as possible)**:
`docker pull k8s.gcr.io/kube-state-metrics:v1.8.0`

**Anything else we need to know?**:
Latest container images is 1.7.2: https://g

[2019-12-12 22:32] tlereste commented on #975
Hi there, I made my first contribution for kube-state-metrics project.
Hope all is good :)

[2019-12-13 01:07] Alexander-Carpenter commented on #980
Hi @LiliC could I go ahead and grab this? Just getting started into contributing for kubernetes

[2019-12-13 01:08] Alexander-Carpenter commented on #980
/assign

[2019-12-13 02:03] Alexander-Carpenter commented on #980
Working on this, are you wanting just the collector options from main, options, builder, and a few md files? Not the actual go files that are collectors and changing all those to resources instead

[2019-12-13 07:09] glove747 commented on #536
@ravvereddy It is solved in v1.9.0:
func wrapStatefulSetFunc(f func(*v1.StatefulSet) *metric.Family) func(interface{}) *metric.Family {
	return func(obj interface{}) *metric.Family {
		statefulSet := obj.(*v1.StatefulSet)

		metricFamily := f(statefulSet)

		for _, m := range metricFamily.Metrics {
			m.LabelKeys = append(descStatefulSetLabelsDefaultLabels, m.LabelKeys...)
			m.LabelValues = appen

[2019-12-13 07:11] glove747 commented on #536
@ravvereddy It was solved in version 1.9.0-rc

func wrapStatefulSetFunc(f func(*v1.StatefulSet) *metric.Family) func(interface{}) *metric.Family {
	return func(obj interface{}) *metric.Family {
		statefulSet := obj.(*v1.StatefulSet)
		metricFamily := f(statefulSet)
		for _, m := range metricFamily.Metrics {
			m.LabelKeys = append(descStatefulSetLabelsDefaultLabels, m.LabelKeys...)
			m.LabelValue

[2019-12-13 09:14] brancz commented on #1000
These are maintained manually by google people. Pinging some to hopefully get these uploaded. @piosz @serathius @DirectXMan12 @logicalhan

[2019-12-13 09:40] LiliC commented on #980
@Alexander-Carpenter thanks! Everything can be renamed including the files.

[2019-12-13 09:45] serathius commented on #1000
I can get those uploaded.

Frederic are you looking into https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io for kube-state-metrics?

[2019-12-13 09:47] brancz commented on #1000
We've done the first bits yes https://github.com/kubernetes/k8s.io/pull/384

Automation still pending.

[2019-12-13 09:52] serathius commented on #1000
/assign

[2019-12-13 10:27] LiliC commented on #975
Hi, @tlereste thanks, reviewed the PR, so lets continue the discussion there :)

[2019-12-13 10:39] serathius commented on #1000
[code]
/close

[2019-12-13 10:39] #1000 closed

[2019-12-13 12:04] tlereste commented on #975
Hi @LiliC ! Thanks, I just pushed two fixes for the tests !

[2019-12-13 14:22] yeya24 commented on #974
Hi, can I take this?

[2019-12-13 14:32] yeya24 commented on #974
One question about it.
In https://github.com/kubernetes/kube-state-metrics/blob/c6c261b6b50d861c540c9a15fe0ce58d639faee8/docs/README.md, there are some metrics marked as deprecated.  But in https://github.com/kubernetes/kube-state-metrics/blob/f09db29f7955e5e628c54130fac1ac116836412c/docs/node-metrics.md I found there is a metric `kube_node_status_phase` marked as deprecated, but it is not in the

[2019-12-13 14:50] tlereste commented on #975
Ok, after another PR and many small fixes, my PR is OK yet !

[2019-12-13 16:24] LiliC commented on #974
/assign @yeya24

Go ahead, thanks!

Yes lets remove all that are deprecated, maybe the docs are not matched.

[2019-12-13 16:46] yeya24 commented on #974
@LiliC  Thanks.
Another question:   Do we still need the two options after removing the deprecated metrics? I guess I need to remove them as well?
[code]

[2019-12-13 16:48] yeya24 commented on #976
I want to work this!
/assign

[2019-12-18 09:43] tlereste opened #1007 "Update compatibility matrix to include Kubernetes 1.16"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The compatibility matrix on overview README is not up to date.

**What you expected to happen**:
Include Kubernetes 1.16 on compatibility matrix.

**Anything else we need to know?**:
We can see on Kubernetes 1.16 deprecated API document https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/ that kube-state-met

[2019-12-18 11:05] tariq1890 commented on #1007
As per the comment [here](https://github.com/kubernetes/kube-state-metrics/pull/1008#issuecomment-566985710), we can close this issue.

[2019-12-18 11:46] tlereste commented on #1007
Ok thanks, I had not seen that ! I will close the issue.

[2019-12-18 11:46] #1007 closed

[2019-12-23 01:39] lawliet89 opened #1012 "Segfault with 1.9.0"
/kind bug

**What happened**:

Kube state metrics pod crashlops with a segfault.

[code]

**What you expected to happen**:

Run normally.

**How to reproduce it (as minimally and precisely as possible)**:

I just ran it as usual after changing the image tag from `v1.8.0` to `v1.9.0`.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.15.4-gke.22

[2019-12-23 21:38] natalysheinin commented on #1012
I am getting the exact same error on my end.

[2019-12-24 07:18] rezabojnordi commented on #459
i am install dashboard in server and run kubectl proxy
error
kubectl proxy
root@kubernetes:/# kubectl proxy --address 0.0.0.0 --accept-hosts '.*'
Starting to serve on [::]:8001
2019/12/24 08:07:43 http: proxy error: context canceled

[2019-12-24 08:16] dongwangdw commented on #1012
Any confirmation from maintainer on this? We are considering upgrading too.

[2019-12-24 08:17] lawliet89 commented on #1012
It's the Christmas/new year period. Give the maintainers some time until after the new year for a response.

[2019-12-25 03:02] willzhang commented on #465
i have the same problem,my environment
[code]
the abnormal status
[code]

[2019-12-25 11:38] finology commented on #536
@glove747 I'm using version v1.9.0. I don't think that version satisfies the requirement by @ravvereddy .

[2019-12-25 11:39] finology commented on #536
Hello, have you solved your problem?

[2019-12-26 14:46] Dolape1983 commented on #611
Hi, this was implemented ? Thanks in advance.

[2019-12-27 11:21] MrDienns opened #1015 "Signed images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

## Proposal
**Use case. Why is this important?**
Docker Content Trust allows us to verify if the images downloaded are indeed the images that Kubernetes published. Security measures can be setup to only download signed images.

This goes for all Kubernetes images, not just specific to this repository.

Is there any particular reason why

[2019-12-27 22:44] tariq1890 commented on #611
@Dolape1983 Please read this - https://github.com/kubernetes/kube-state-metrics#horizontal-scaling-sharding

[2019-12-30 12:02] LiliC commented on #1012
The PR that should fix it has been merged in the 1.9 branch, @lawliet89 can you verify the fix? Thanks!

Also thanks @tariq1890 for the quick fix on this! 🎉

@dongwangdw You can already build the image from the release branch or wait until the release candidate to be cut, but that won't happen until next year, as most of us are on PTO. :)

[2019-12-31 01:41] lawliet89 commented on #1012
Not sure if I do anything wrong:

- Checked out `release-1.9` branch
- `make`
- `make container`

Then I tagged the image built to `lawliet89/kube-state-metrics:v1.9.0-gh1012`

And I got more segfaults

[code]

[2019-12-31 03:47] tariq1890 commented on #1012
Thanks for testing the `release-1.9` branch @lawliet89. It looks like we are unable to extract an `int/int64` value from a `resource.Quantity` object when generating the `kube_hpa_status_current_metrics_average_value` metric.

Would it be possible for you to debug and find the case where we don't seem to get the int value?

[2019-12-31 04:32] lawliet89 commented on #1012
I'm not very familiar with debugging in Go so I'll try something out on Thursday after New Year.

In the mean time, I will post the HPA I have in the cluster that might be causing issues. It makes use of external metrics.

HPA
[code]

External Metric:
[code]

[2019-12-31 05:21] pigletfly commented on #849
/remove-lifecycle stale

[2019-12-31 11:06] bergerx commented on #694
/remove-lifecycle stale

We are not hit by this recently, but the original issue doesn't seem to be solved.

[2019-12-31 18:41] SleepyBrett commented on #1012
FYI I am seeing the exact same behavior, however It's only effecting 1/5 shards (index 2 in case it matters, though it is probably just based on a metric that is selected by the hash).

For reference here is my trace:

[code]

[2020-01-02 01:07] zouyee commented on #320
/remove-lifecycle stale

[2020-01-06 03:52] Ikraam opened #1017 "Daemonset* and deployments* related metrics are not reported in v1.9.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
Kube-state-metrics is somehow unable to report metrics about daemonsets and deployments.
-# HELP kube_daemonset_created Unix creation timestamp
-# TYPE kube_daemonset_created gauge
-# HELP kube_daemonset_status_current_number_scheduled The number of nodes running at least one daemon pod and are supposed to.
-# TYPE kube_d

[2020-01-06 04:36] #1017 closed

[2020-01-06 08:36] tariq1890 commented on #1012
@lawliet89 Thanks for sharing your HPA details. That does help with replicating this issue. We are currently working on getting a bugfix out to solve this issue completely.

[2020-01-06 09:47] brancz commented on #704
/remove-lifecycle stale

[2020-01-07 07:36] brancz commented on #864
/remove-lifecycle stale

[2020-01-07 11:50] brancz commented on #1015
I think this would generally be a great thing to have, there are a few things that prevent us from doing this today though:

1) all image repos for kube-state-metrics are maintained manually and synced across each other, kube-state-metrics is not even using a k8s.gcr.io image repo at the moment, when we have that we can look into 2.
2) there is no established key handling protocol, ideally that co

[2020-01-07 13:13] brancz commented on #892
/remove-lifecycle stale

[2020-01-07 13:16] brancz commented on #906
/remove-lifecycle stale

I think this is still a legitimate feature, and we actually even already have the heavy lifting for this in place, we just need to expose this configuration via flags.

[2020-01-07 13:25] brancz commented on #536
The strategy is the same as I described in https://github.com/kubernetes/kube-state-metrics/issues/536#issuecomment-420203467 but with the `kube_pod_labels` metric.

[2020-01-07 14:05] brancz commented on #694
Resync is really only for external reconciliation, where something external could be modifying the state we're reconciling, but the state that we're reconciling is entirely in-memory state of kube-state-metrics, which is not prone to that. Resync only re-processes items that we already know about, _relists_ already happen automatically on connection resets or similar, which is what the initial rep

[2020-01-07 17:05] stevebail opened #1018 "kube-state-metrics without cluster-reader role"
I am trying to deploy kube-state-metrics where I don't have cluster-reader role.
Your documentation indicates the following RoleBinding for handling such case:

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kube-state-metrics
  namespace: project1
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole <---- IS THIS CORRECT?
  name: view
subjects:
     kin

[2020-01-07 18:58] stevebail commented on #1018
/help wanted

[2020-01-07 19:36] brancz commented on #1018
Using a namespaces role binding against a cluster role gives the target entity the cluster roles rules scoped to the namespace the role binding exists in.

[2020-01-07 19:41] stevebail commented on #1018
Thank you Frederic :)
Let me try it...

[2020-01-07 23:56] stevebail commented on #1018
@brancz
It does work :)
Thanks again for the tip.
I also tried successfully with a Role using  more or less the same definition as the ClusterRole and it also works from a deployment point-of-view.
I am surprised to see the Role definition can actually include cluster-scope resources !

[2020-01-09 11:47] #973 closed

[2020-01-10 02:04] lawliet89 commented on #1012
@LiliC I've built #1019 and pushed it to `lawliet89/kube-state-metrics:v1.9.0-gh1019` and it seems to work fine. I'll close this issue for now. 👍

[2020-01-10 02:04] #1012 closed

[2020-01-10 10:19] LiliC commented on #1012
@lawliet89 Thanks so much for testing! 🎉

[2020-01-11 04:49] loveyang2012 opened #1024 "kube-state-metrics cant get some resource？"
I deploy a po named curl-xxxx, and I can get the cpu and memory that this pod used by kubectl top,
but I can't get  cpu or mem resource by "kube_pod_container_resource_requests_cpu_cores" of kube-state-metrics , why?

![image](https://user-images.githubusercontent.com/24237714/72199006-a6582f00-3470-11ea-85d7-7d04638f254f.png)
![image](https://user-images.githubusercontent.com/24237714/72199018-c3

[2020-01-13 08:29] brancz commented on #1024
kubectl top gives you the real usage not the request, which is the metric you are looking for. The resource request metrics will only show up when actually set on the container.

[2020-01-13 14:47] LiliC commented on #892
Should we do this as part of kube-state-metrics 2.0? Look at the various metrics and add the stability to them?

[2020-01-14 10:51] brancz commented on #892
Yes I think that makes sense.

[2020-01-14 22:14] sb1975 commented on #699
/remove-lifecycle stale
/reopen

This is a good requirement which is needed to be available to show on Prometheus Dashboard using Grafana. Couldnt find any Grafana dashboard or Prometheus command to show this.

/help-needed

[2020-01-14 22:30] #1018 closed

[2020-01-15 03:42] brancz commented on #699
These metrics already exist on the kubelet endpoint [`/metrics/probes`](https://github.com/kubernetes/kubernetes/blob/8568d1843daababe70763b30ae897388710b2216/pkg/kubelet/server/server.go#L81), which I think it belongs.

[2020-01-15 17:49] tariq1890 commented on #838
/remove-lifecycle stale

[2020-01-15 18:07] diogoserrano opened #1027 "invalid memory address on k8s 1.16.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Upgraded kube-state-metrics from 1.8.0 to 1.9.2
after upgrade, kube-state-metrics observed a panic:
[kube-state-metrics.log](https://github.com/kubernetes/kube-state-metrics/files/4066544/kube-state-metrics.log)

**What you expected to happen**:
the new version doesn't work with this version of k8s

**How to reproduce it

[2020-01-16 08:20] LiliC commented on #1027
Thanks for the bug report. Seems like a problem with hpa metrics. Can you provide the specific hpa resource so we know what caused the segfault, thanks!

[2020-01-16 11:44] diogoserrano commented on #1027
Currently we have hpa with the API versions:

- autoscaling/v1
- autoscaling/v2beta2

and all the hpa are targeting deployments.

is this information useful?

[2020-01-16 12:17] LiliC commented on #1027
We need more specific things like concrete numbers, is it possible to post the actual hpa resource, you can change any names or omit details, its more about the values. Thanks! I just want to be able to reproduce to fix. Or if you feel like you can't share feel free to also submit a fix for it.

[2020-01-16 13:37] SoerenHenning commented on #1024
Does kube-state-metrics also provide cpu/memory real usage data. If not, how can I get these data to be scraped by Prometheus?

[2020-01-16 13:47] brancz commented on #1024
You want to scrape the cAdvisor endpoints (`/metrics/cadvisor`) on the kubelets for this data with Prometheus.

[2020-01-16 13:47] diogoserrano commented on #1027
This is all the HPA that we have right now:
[hpa.txt](https://github.com/kubernetes/kube-state-metrics/files/4071562/hpa.txt)

[2020-01-18 00:39] zhengl7 commented on #995
@LiliC Just submitted the PR about the proposed change, the fix ends up being just using `sync.Map`, and the timeouts are completely gone.

I ran `make test-benchmark-compare` and seems there are some degradation, not sure whether it's acceptable or not.

[2020-01-20 10:22] LiliC commented on #875
/remove-lifecycle rotten

[2020-01-20 22:07] mariusgrigoriu opened #1029 "expected type *v1.Namespace, but watch event object had type *v1.NetworkPolicy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Errors like
[code]
are appearing in logs.

**What you expected to happen**:
No errors

**How to reproduce it (as minimally and precisely as possible)**:
Seems like just running KSM in our environment does this.

**Anything else we need to know?**:
We are configured for 5 shards, so the message does not appear on all insta

[2020-01-21 09:57] olegmayko opened #1031 "kube state metrics container failed to start if default PSP is enabled."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
After deploying the default manifests, the next error appeared "
kubernetes PodSecurityPolicy set to runAsNonRoot, container has runAsNonRoot and image has non-numeric user (nobody), cannot verify user is non-root"
**What you expected to happen**:
Container should be created without any issue.
**How to reproduce it (as minimally and

[2020-01-21 18:17] natalysheinin opened #1032 "Segfault with 1.9.2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Kube state metrics pod crashloops with a segfault.

[code]
**What you expected to happen**:

Run normally.

**How to reproduce it (as minimally and precisely as possible)**:

Changed image tag to `v.1.9.2`
`quay.io/coreos/kube-state-metrics:v1.9.2`

**Environment**:
- Kubernetes version (use `kubectl version`): `v1.11.1

[2020-01-21 18:17] natalysheinin commented on #1032
/kind bug

[2020-01-21 20:39] gevalter commented on #931
I think this feature would be very useful. Im having the same problem

[2020-01-22 08:18] LiliC commented on #1032
Thanks for the bug report, we reverted the hpa metrics that were causing this problem, we will cut a new release asap.

[2020-01-22 08:20] LiliC commented on #1027
Thanks for the bug report, we reverted the hpa metrics that were causing this problem, we will cut a new release asap. Will leave this issue open as it has valid hpa examples we need if we decide to reimplement this. Thanks again!

[2020-01-22 08:22] LiliC commented on #1029
This is a client-go msg nothing to do with ksm from what I can tell. You should see this in most apps dealing with kubernetes clients.

cc @brancz for thoughts

[2020-01-22 08:52] tokyowizard commented on #958
Sorry for not updating this earlier. I'm closing this issue, because there has not been a memory spike on start up after updating the KSM image version to 1.8.0.

[2020-01-22 08:52] #958 closed

[2020-01-22 09:38] brancz commented on #1031
I'm happy with adding `container.mixin.securityContext.withRunAsUser(65534)`.

[2020-01-22 12:34] olegmayko commented on #1031
Yes, will submit it soon.

[2020-01-22 12:55] mariusgrigoriu commented on #1029
In our case, only one out of five shards are logging this message.

[2020-01-22 15:34] natalysheinin commented on #1032
Thank-you @LiliC

[2020-01-22 16:04] #1031 closed

[2020-01-22 16:05] olegmayko commented on #1031
fixed in #1034

[2020-01-23 08:23] LiliC commented on #1032
@natalysheinin release is out do you mind letting us know if this fixed the issue for you, thanks!

[2020-01-23 14:33] LiliC commented on #1032
Thanks! Closing issue.

[2020-01-23 14:33] #1032 closed

[2020-01-23 16:16] lpereiraa commented on #941
Hello there, good people at Kubernetes :)
Any development on this?
Thanks in advance!

[2020-01-23 20:20] george-angel commented on #941
We threw this together to get by in the meantime: https://github.com/utilitywarehouse/kube-namespace-annotations-exporter

image: https://quay.io/repository/utilitywarehouse/kube-namespace-annotations-exporter

[2020-01-23 21:07] jw-s commented on #941
I should have it finished this weekend!

[2020-01-24 07:23] brancz commented on #941
Note we do want to reintroduce this feature but due to the various security concerns we want to make sure each annotation exposed is explicitly white listed.

[2020-01-24 08:31] jw-s commented on #941
@brancz My understanding was we introduce a new cli flag which is a whitelist for all annotation related metrics and of course, re-introduce the annotation related metrics as discussed. Is this not the case?

[2020-01-24 08:46] brancz commented on #941
Yes as that way the user consciously chooses the annotations to expose.

[2020-01-24 09:13] rhuss opened #1037 "Add ARM images to quay.io image"
Actually I can't use `quay.io/coreos/kube-state-metrics:v1.9.3`  on a Raspberry Pi cluster as there is no manifest deployed.

Currently, I'm using this workaround with a Docker multistage build and Buildkit:

[code]

and then

[code]

[2020-01-24 09:26] LiliC commented on #1037
The images are best effort currently, we don't have automation in place to generate those, we are working with the k8s org but sort of blocked on google right now.

But if you want to contribute the scripts to the makefile and update the release process we can generate and push those to at least coreos quay repo. Contributions welcome! :)

[2020-01-31 07:29] mjura opened #1039 "Wrong version of Kubernetes API for v1beta1.VolumeAttachment, v1beta1.ValidatingWebhookConfiguration, v1beta1.MutatingWebhookConfiguration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Errors like:
[code]
are appearing in logs.

**What you expected to happen**:
No errors

**How to reproduce it (as minimally and precisely as possible)**:
Deploy kube-state-metrics with prometheus Helm chart

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.16.2
- Kube-s

[2020-01-31 09:54] #976 closed

[2020-02-01 13:34] mindw commented on #1029
Seeing this message as well - single instance:
* Kubernetes version (use kubectl version): 1.16.6
* Kube-state-metrics image version: 1.9.3

[2020-02-03 09:17] #1039 closed

[2020-02-03 09:54] LiliC commented on #964
Relevant PR that introduces ingress annotations -> https://github.com/kubernetes/kube-state-metrics/pull/1041/files

[2020-02-03 14:42] jtslear opened #1046 "Monitor ephemeral-storage disk usage"
/kind feature

**What happened**:

Some application/services may require a scratch space to perform work.  This is most easily configured using an `EmptyDir`.  For safety reasons, it would be wise to ensure the `EmptyDir` configuration has a size limitation.  Example:

[code]
This allows Kubernetes to Evict a Pod that has exceeded a threshold.  Currently, at least I cannot find it, we don't have a

[2020-02-03 14:52] LiliC commented on #1046
So if I understand correctly, you want a metric for empty disk size limit?

Is this info available to request via the kubernetes API?

[2020-02-03 21:30] gpoirier commented on #873
Using labels is absolutely essential to how we match use pod metrics to their deployment and to figure out which team should get alerts. I don't understand why they should go away, and they generally don't change during the lifespan of a pod. Similarly, I don't quite see the issue on adding labels to configmap, which I would like to use for detecting helm failures.

[2020-02-03 22:10] kminehart commented on #873
Good question. The problem is that these `{resource}_{labels}` metrics are very high in cardinality and massively contribute to slow queries.

You can read more about it on Brian Brazil's blog (one of the original creators & current maintainers of Promethues). https://www.robustperception.io/cardinality-is-key

[2020-02-04 08:41] brancz opened #1047 "Allow list labels per resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

Labels like annotations in metrics yield unbound high cardinality so we should think about a mechanism that lists each label explicitly to expose as a metric to prevent accidental high unbound cardinality.

This would be a breaking change so we will only be able to do this in 2.0.

Related https://github.com/kubernetes/kube-state-metri

[2020-02-04 10:57] LiliC commented on #865
Closing this as we don't need to move to prow.
/close

[2020-02-04 10:57] #865 closed

[2020-02-04 14:23] eric-gymondo commented on #956
Could you share how this was fixed? I just can't find a way to set the flag on the container

[2020-02-04 17:37] #977 closed

[2020-02-05 10:17] #975 closed

[2020-02-05 14:59] #974 closed

[2020-02-06 08:00] brancz commented on #1046
It’s not to my knowledge. I think I read that ephemeral volume metrics (emptydir, configmap, etc) is on sig storage’s roadmap. I would expect these metrics to be on the kubelet’s metrics endpoint.

[2020-02-06 12:30] #876 closed

[2020-02-07 08:50] tiwalter opened #1051 "kube_pod_container_resource_requests will be exposed for already completed Jobs / Pods"
**What happened**: If you watch the metric "kube_pod_container_resource_requests", i found out that this metric is also exposed for already completed Jobs / Pods.

**What you expected to happen**: If a Job / Pod is completed, this metric will be removed for them.

**How to reproduce it (as minimally and precisely as possible)**: Start a Job and let it complete. Then watch the metric "kube_pod_cont

[2020-02-07 08:50] tiwalter commented on #1051
/bug

[2020-02-07 08:51] tiwalter commented on #1051
/kind bug

[2020-02-09 11:39] #884 closed

[2020-02-10 10:45] #979 closed

[2020-02-10 10:55] #980 closed

[2020-02-11 02:02] #919 closed

[2020-02-11 02:15] dimm0 commented on #243
Still no real fix for this?
Doesn't make much sense to include the metrics of completed pods into any stats...

[2020-02-12 18:29] lilic opened #1055 "Add metric for owner of ReplicationController - kube_replicationcontroller_owner"
We do not have a metric with the information about the owner of `ReplicationController`.

/kind feature

[2020-02-13 07:37] olivierlemasle commented on #1055
/assign

[2020-02-13 07:38] olivierlemasle commented on #1055
/remove-help

[2020-02-13 08:51] lilic commented on #1055
@olivierlemasle let me know if you need any more info! Thanks for tackling this! :)

[2020-02-13 09:06] nid06 opened #1056 "Monitor : Kubernetes pod with Error State"
I want to monitor pods with Error , pending state . Not with Completed or Evicted state.
Please suggest
Thank You

[2020-02-13 11:34] AdityaMisra commented on #947
/remove-lifecycle stale

[2020-02-13 15:42] hawran opened #1057 "Strange values of statefulset_* metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I've been investigating some metrics of ours and stumbled across strange values as follows:
(omitting the `kube_statefulset_` prefix)

metric | v | v | v | v | v |
-------- | - | - | - | - | - |
status_replicas | 2 | 2 | 2 | 2 | 2
replicas | 2 | 2 | 2 | 2 | 2
replicas_current | 2 | 1 | 0 | 0 | 2
replicas_ready | 2 | 1 | 1

[2020-02-13 23:36] olivierlemasle commented on #1055
Thanks @lilic; I've created a PR to add this metric (#1058).

[2020-02-17 16:22] olivierlemasle opened #1060 "Add metrics for container images on nodes"
Should we add a metric with the information about the container images on nodes (info available on nodes status: like in `kubectl get nodes -o json | jq ".items[].status.images"`)?

I'd be glad to implement it myself if this metric is accepted.

/kind feature

[2020-02-17 16:58] SibiSS3575 opened #1061 "kube-state-metrics"
I need a kube-state-metrics version v1.3.1 and v1.9.4. Can you one help on this

[2020-02-17 17:39] olivierlemasle commented on #1061
What exactly are you trying to achieve?

/triage support

[2020-02-17 20:32] olivierlemasle opened #1063 "Documentation on pod status queries is incorrect"
Example PromQL queries relative to pod status have been added to Pod metrics documentation [here](https://github.com/kubernetes/kube-state-metrics/blob/c1895cd/docs/pod-metrics.md#useful-metrics-queries), as part of #1013.

However, these queries seem to be incorrect.

For example, `count(kube_pod_status_phase{phase="Running"}) by (namespace, pod)` is always 1, even for pods in phases e.g. PENDING

[2020-02-18 00:16] olivierlemasle commented on #800
/remove-lifecycle rotten
/assign

[2020-02-18 08:59] olivierlemasle commented on #800
Cf PR #1064
/remove-help

[2020-02-18 16:55] olivierlemasle commented on #771
I do not have the rights to /reopen this issue, but the issue persists.
As explained by @brennerm, the e2e failure occurs when `MINIKUBE_DRIVER` is not `none`.

In that case, `tests/e2e.sh` uses `eval "$(minikube docker-env)"`, so the docker engine used to build `kube-state-metrics` is the docker engine of the Minikube VM and the volume mounts is empty.

This issue is addresses by #1065.

[2020-02-18 18:11] whitecolor opened #1066 "Metrics usage in gcloud stackdriver logging"
I've installed `kube-state-metrics` using helm chart. And new metrics did appear in configuring alerting policies dialog of the google cloud console.

Could you just consult how to use them correctly, can not figure out.

So for I want to get the alert when pod/container restarted.

I've chosen metric `kube_pod_container_status_restarts_total`

What `Aggregator` and condition Configuration should

[2020-02-18 18:15] olivierlemasle commented on #1066
/triage support

[2020-02-18 22:22] #1055 closed

[2020-02-18 22:24] #800 closed

[2020-02-19 07:32] whitecolor commented on #990
@tariq1890
It seems I have a like problem, installed from the latest helm chart, metrics don't seem to update in Metrics explorer in Gcloud Stackdriver Monitoring.

I have the following log output of kube-state-metrics pod:
[code]

[2020-02-19 07:50] brancz commented on #990
The logs look fine. As we don’t know or maintain anything like a stack driver integration, please refer to their support.

[2020-02-19 08:07] whitecolor commented on #990
Probably there is needed this to be added:

https://github.com/GoogleCloudPlatform/k8s-stackdriver/blob/master/prometheus-to-sd/README.md

[2020-02-19 15:15] brancz commented on #1066
We don’t maintain or support anything about google cloud. Please open a ticket with them first and if it turns out to actually be a problem with kube state metrics follow up here. Thanks!

[2020-02-19 17:50] brancz commented on #1063
You’re right it should either be a sum or a count where the inner expression is == 1

[2020-02-19 17:51] brancz commented on #1063
Would you like to open a PR to change this? I tend to prefer the sum as that’s a bit lighter in promql but it’s mainly a style choice.

[2020-02-19 17:52] olivierlemasle commented on #1063
Ok
/assign

[2020-02-19 17:55] brancz commented on #1060
I’m afraid this would be too high cardinality. I think this would be a good case for a more generic configurable kube aggregation exporter, as most likely individual images are not of interest and even if they are I imagine such an exporter to be highly configurable.

[2020-02-19 18:04] clamoriniere commented on #1063
Sorry for the late reply, this error in the documentation.

I confirm that `sum` what I used during my test.

[2020-02-19 21:16] whitecolor commented on #1066
Ok, will close for now.

[2020-02-19 21:16] #1066 closed

[2020-02-19 22:02] olivierlemasle commented on #1063
Thanks @clamoriniere

Actually, it seems to be more than just replacing `count` by `sum`:

1. **Unknown**

[code]

   This query (with both __sum__) will return the pods with status phase "Running" and status reason "NodeLost".
    However, the logic discussed in #410 and removed in #1050 seems to be that pods are "Unknown" if:
    - they have status phase "Unknown"
    - OR (they have a deletion

[2020-02-19 22:04] olivierlemasle commented on #1060
/close

[2020-02-19 22:04] #1060 closed

[2020-02-20 09:40] brancz commented on #1056
Please read the documentation on the metrics kube state metrics provides. Just exclude the states that you’re not interested in your query.

[2020-02-20 10:11] brancz commented on #1051
This is intentional. kube-state-metrics exposes metrics for any Pod that the Kubernetes API has available. You will need to exclude the states that you are not interested in or query precisely for the states that you _are_ interested in in your PromQL query.

[2020-02-20 11:45] brancz opened #1068 "kube_pod_deleted should be called kube_pod_deletion_timestamp"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Neither, it's an inconsistency.

**What happened**:

This metric has an inconsistent name with the other kube-state-metrics metrics.

**What you expected to happen**:

The metric to be called `kube_pod_deletion_timestamp`.

**How to reproduce it (as minimally and precisely as possible)**:

Any version that has the `kube_pod_deleted` metric.

**Anythin

[2020-02-20 11:46] tiwalter commented on #1051
I know that this is the initially intention.

But this behaviour is not suitable for the metric name "kube_pod_container_resource_requests". Because if they are completed, the container resources will be released. Exposing them already is provides the wrong information.

[2020-02-20 11:46] brancz commented on #1063
What exactly are you trying to answer?

[2020-02-20 11:51] brancz commented on #1051
It's perfectly possible to limit the pods to a certain status, by joining the status onto the metric, then you can select with any logic you might want. An example of this can be found in the kubernetes-mixin: https://github.com/kubernetes-monitoring/kubernetes-mixin/blob/8e370046348970ac68bd0fcfd5a15184a6cbdf51/rules/apps.libsonnet#L64-L75

[2020-02-20 12:06] tiwalter commented on #1051
Yes, i did this also in our system.

Nevertheless, i think it is more suitable to expose only the metrics if they are **really** requested.
I think joining is only a workaround.

[2020-02-20 13:32] lilic opened #1069 "Build and push latest kube-state-metrics release v1.9.5 to k8s.gcr.io registry"
I don't think there has been any new images pushed. We should find a better process for this in the long run.

cc @serathius

[2020-02-20 18:04] #897 closed

[2020-02-20 18:12] brancz commented on #1057
Can you kubectl get the object in question and see different values in the status/spec? Kube state metrics just mirrors that, so if it’s the same then this would rather be a question for the Kubernetes people who work on the workloads api.

[2020-02-21 09:04] nid06 opened #1071 "Pod Readiness Alert"
I want to monitor Pod Readiness Alert .
Current options which i have also captures Completed pods also , how to filter it.

[2020-02-21 09:09] #1056 closed

[2020-02-21 10:13] brancz commented on #1051
As the second paragraph in the [readme](https://github.com/kubernetes/kube-state-metrics#overview) says, we make this choice explicitly and intentionally, so we can be 100% consistent with what the kube API offers, otherwise we get into all sorts of inconsistencies and the experience would suffer overall.

[2020-02-21 10:25] tiwalter commented on #1051
Okay, that makes sense for the whole application.

This means, the resources are wrongly exposed by the kube API?
So, the issue should be fixed there.

[2020-02-21 10:42] brancz commented on #1051
Yes and no. I agree that this is an awkward situation, because the completed state is an odd one in Kubernetes. For completed pods not to show up in, they would simply need to be deleted.

[2020-02-21 11:00] brancz commented on #1071
There are metrics on the kubelet about readiness probes, available at `/metrics/probes`. I recommend basing your alerts on those metrics, instead of on kube-state-metrics alerts.

[2020-02-21 12:44] juliantaylor opened #1072 "provide status condition reason label for hpa objects"
/kind feature

The hpa metric kube_hpa_status_condition contains the `ScalingLimited` label which denotes whether the hpa has reached its minimum or maximum replica count. Unfortunately kubernetes leaves the `AbleToScale` condition true also if the scaling is actually limited.

For alerts that a hpa is limited the reason would be useful as it is commonly the case that hpa objects have a minimum re

[2020-02-21 13:33] olivierlemasle commented on #1063
@brancz That's the right question ;-)
I'm trying to write PromQL queries that mimics what `kubectl` does to print pod status. I've finally found that logic in K8s code and updated the queries accordingly in PR #1073.

[2020-02-21 16:32] #1063 closed

[2020-02-21 20:55] gregory-lyons opened #1075 "kube-state-metrics should round down maxUnavailable"
/kind bug

For a Deployment with `spec.strategy.rollingUpdate.maxUnavailable` specified as a percentage, kube-state-metrics rounds _up_ to the nearest pod, while Kubernetes rounds _down_ to the nearest pod.

https://github.com/kubernetes/kubernetes/blob/479759ed163bd232ba92351340e2b84de26a1b99/pkg/controller/deployment/util/deployment_util.go#L888

The rounding logic in kube-state-metrics should m

[2020-02-22 13:33] serathius commented on #1069
Sent images to review. Should be available on monday.

[2020-02-24 08:00] olivierlemasle opened #1078 "e2e: check labels documentation"
As @lilic [pointed out](https://github.com/kubernetes/kube-state-metrics/pull/996#pullrequestreview-351396437) recently, CI checks thats every metric is documented (`make doccheck`), but there's no check on labels documentation.

That led to PR where labels documentation was not updated and CI did not catch this (#996).

Actually, it's more difficult to check labels:

- metric names are extracted

[2020-02-24 08:37] brancz commented on #1078
I think this is a great idea!

[2020-02-25 13:40] guleng opened #1080 "lables is available for every metric"
**FEATURE REQUEST**:

**What happened**: （kube_pod_status_phase,kube_pod_container_status_terminated_reason,kube_pod_container_status_restarts_total, kube_pod_container_status_restarts_total  ）I think I can get the custom tags of these pods discovered by metrics

such as：`kube_pod_container_status_restarts_total{endpoint="https-main",instance="10.1.84.1:8443",job="kube-state-metrics",label_name="n

[2020-02-25 19:06] #1075 closed

[2020-02-25 21:49] olivierlemasle commented on #1080
Hi @guleng, You can do a `join` between metric `kube_pod_labels` and other pod metrics.
There's examples on such `join` PromQL requests here: https://github.com/kubernetes/kube-state-metrics/tree/master/docs#join-metrics

[2020-02-26 02:31] guleng commented on #1080
Okay  thanks for you help me!

[2020-02-26 02:31] #1080 closed

[2020-02-26 09:20] #1068 closed

[2020-02-26 18:30] olivierlemasle commented on #1078
/assign

[2020-02-26 21:01] efeller opened #1083 "kube_pod_deletion_timestamp not kept long enough"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying to make use of the kube_pod_deletion_timestamp time series. However, it seems that data for this time series is not kept long enough in order for Prometheus to scrape it on time. Specifically, we are running Prometheus with a scrape interval of 30 seconds. When a pod is deleted, I can see an entry in kube_pod_

[2020-02-26 21:14] efeller commented on #1083
@clamoriniere Would be great to get your input. Thanks.

[2020-02-27 00:17] invertigo commented on #1012
I'm seeing this with quay.io/coreos/kube-state-metrics:v1.9.1

[2020-02-27 11:30] lilic commented on #1012
@invertigo there were additional fixes added in the later versions, please try with latest release and open a new issue if you are still experiencing this problem, thanks.

[2020-02-27 11:40] lilic opened #1084 "Add test to check that no kube-state-metrics own alerts are firing in the e2e test"
We have [alerts](https://github.com/kubernetes/kube-state-metrics/blob/master/examples/prometheus-alerting-rules/alerts.yaml) relavant to kube-state-metrics, KubeStateMetricsListErrors and KubeStateMetricsWatchErrors, we need to add a test to our e2e tests that checks the results of the alerting expressions. The expression should be evaluated during the entire run of the e2e tests.

Adding this ch

[2020-02-27 19:16] olivierlemasle commented on #1084
@lilic I think that would be very useful, but what exactly had you in mind?

- simply checking that there's no `kube_state_metrics_list_total` (or `kube_state_metrics_watch_total`) with result `error` on exposed metrics? That's not _testing the alerts_, but it is sufficient to know there's no error.
- or really testing the alerts (which means setting up a Prometheus server, and probably adding a p

[2020-02-28 13:19] brancz commented on #1083
This seems to work as expected. Kube state metrics removes any metric about objects that are truly gone in Kubernetes/etcd.

[2020-02-28 15:58] lilic commented on #1084
We don’t aim at testing the alert so your first point is what I had in mind. We just want to make sure there are no list/watch errors.

Adding integration with prometheus would not be necessary here, we can just simply check the value of the metric itself. We already check values or presence of certain metrics so we can reuse the same logic for this.

[2020-02-28 16:01] lilic commented on #1083
To add to Frederic point, kube-state-metrics just reflects the state of kubernetes objects, it is not designed to be an aggregator.