[2016-06-03 07:34] rvrignaud opened #4 "Get metrics of pods status per namespace"
Hello,

It would be really useful to get metric of status pods per namespaces like: Running, CrashLoopBackoff, Pending, etc ...

Thanks !

[2016-08-31 07:51] fabxc opened #5 "Make metric collection synchronous"
Currently metrics get updated every 10 seconds in the background. This means scrapers record metrics that are off by an unknown duration of 0 to 10 seconds. It also means that the maximum sampling interval is fixed to 10 seconds, which does not generally fit every use case.

When writing Prometheus exporters, the best practice approach is to gather the data synchronously as `/metrics` is accessed

[2016-08-31 08:33] matthiasr commented on #5
At what request rate would overload become an issue?

I can see it become problematic if the exporter has to actually fetch the information from the API. However, with the caches in the Go client, it's possible to keep the whole state of a Kubernetes cluster in local memory (and it doesn't take much of that either). This is automatically up to date through watches. Crunching the numbers from that

[2016-08-31 08:50] fabxc commented on #5
Yes, with the state of things it would fetch all the info from the API. I wasn't aware the client is actually doing that elaborate caching. That's makes things a lot easier.

I have no benchmarks on this but async throttling to 10sec seems to prematurely optimize. With the caching I expect us to come quite far and then we can address the particular concerns through quotas, auth, deduplicating scra

[2016-08-31 10:05] matthiasr commented on #5
There are some extra steps to do that, but it's possible.

[2016-09-01 22:59] ghodss opened #7 "Upgrade to kubernetes/client-go"
Currently this project vendors in the core kube project, but it should be upgraded to use the new independent kubernetes Go client at https://github.com/kubernetes/client-go.

[2016-09-07 14:02] brancz commented on #5
This should be solved with #6, #8 and #9 being merged, right?

[2016-09-07 14:05] fabxc commented on #5
Yes

[2016-09-07 14:05] #5 closed

[2016-09-13 08:05] brancz commented on #4
It probably makes sense to tackle #7 or update the currently vendored k8s client before adding more states as we're missing a lot of state constants, which I would like to avoid duplication for. But with the recent PRs we're already exposing Pending/Running/Succeeded/Failed/Unknown state. (see [here](https://github.com/kubernetes/kube-state-metrics#pod-metrics))

[2016-09-14 15:38] #7 closed

[2016-09-15 08:29] rvrignaud opened #19 "Difference between node_status_capacity_memory and node_status_allocateable_memory"
Hello,

With 0.2.0 release, it seems that kube_node_status_allocateable_memory_bytes and kube_node_status_capacity_memory_bytes report same values for nodes (with pod scheduled with required memory).

I'm looking to get available or reserved memory per node. Am'I missing something ?

[2016-09-15 08:58] brancz commented on #19
Interesting, in the code we seem to [use the correct values](https://github.com/kubernetes/kube-state-metrics/blob/8bf322a88712726762d16d5abadc7c9a4ac8a3da/node.go#L156-L168) and the values from the status struct should reflect the [state you are looking for](https://github.com/kubernetes/client-go/blob/93fcd402979cfad8a7151f96e016416947c6a3cb/1.4/pkg/api/v1/types.go#L2492-L2497). I believe these

[2016-09-15 09:06] brancz commented on #19
Actually, looking further into it there are quite a few more constants that [describe memory resources](https://github.com/kubernetes/client-go/blob/93fcd402979cfad8a7151f96e016416947c6a3cb/1.4/pkg/api/v1/types.go#L3161-L3170). We should figure out which ones are applicable for the purpose you described. At least from our current naming I would expect the same numbers/behavior as you do @rvrignaud

[2016-09-15 09:15] brancz commented on #19
Looking at my local dev cluster it looks like the resources we take should be correct, but I get the same numbers for capacity/allocatable.

[code]

[2016-09-15 15:13] brancz commented on #4
As #7 is fixed, do you think it would make sense to add another label `reason` to the container status `kube_pod_container_status_waiting `/`kube_pod_container_status_terminated` metrics? That way we there would be more insight into why the container is in that state. The only problem I see is that that might generate a lot of time series in Prometheus as I don't know how many "Reasons" there are.

[2016-09-15 18:15] fabxc commented on #4
Yes, I think the last point is a blocker for this. Think of thousands of pods, then we have several time series for the status as it is. First, we had to know every possible reason and then have each of it set for every possible status. Given that we are talking about thousands of pods as is, the cost-benefit-ratio is diminishing.
The reason seems rather interesting when you already reached the st

[2016-09-16 08:00] brancz commented on #4
Agreed. Closing as the states described in my above comment are already exposed.

[2016-09-16 08:00] #4 closed

[2016-09-16 17:14] ahakanbaba opened #20 "kube-state-metrics process generates uninteresting metrics about itself with go_* prefix"
If you look at the output of the curl (mentioned in the README.md ) the start of the output has these:

go_gc_duration_seconds{quantile="0"} 6.1791e-05
go_gc_duration_seconds{quantile="0.25"} 6.3312e-05
go_gc_duration_seconds{quantile="0.5"} 0.000103029
go_gc_duration_seconds{quantile="0.75"} 0.000126511
go_gc_duration_seconds{quantile="1"} 0.000670194
go_gc_duration_seconds_sum 0.001212694
go_gc_

[2016-09-20 12:05] somejfn opened #27 "Feature request: Add more labels to kube_pod_container_status_running"
Thanks to this project I can create Prom alerts on the hosted deployment state.  Big +1 in filling this gap.

Now Im attempting to create an alert based on a deployment's "dispersion" ratio.... that is,  should the Kube scheduler had little choice in picking nodes with resources (i.e. node outage),  that a given deployment's replicas are running on the same or too few Kubernetes node.

I think kub

[2016-09-20 12:26] brancz commented on #27
I am unsure if we are able to get these upward and cross linking references from a pod. I'll take a little time to investigate.

[2016-09-20 13:55] fabxc commented on #27
You generally want to keep the number of 1:1 labels to a minimum. Otherwise, over time, you would basically enrich every metrics with all transitive and static label dimensions. If then something changes unexpectedly after all, you break all time series, as their identity is given by the full combination of all labels.
Generally speaking, you want your metrics to normalized.

What we probably want

[2016-09-20 14:03] fabxc commented on #19
I recall seeing this issue before and it being an issue in cAdvisor.

Found something similar at least: https://github.com/google/cadvisor/issues/1404

[2016-09-20 22:24] grobie commented on #20
These are only very few timeseries. What are your issues with exporting these?

[2016-09-21 17:38] ahakanbaba commented on #20
These are metrics

[2016-09-22 08:54] grobie opened #28 "Panic when showing flags"
I find it unexpected that a simple `kube-state-metrics -h` will cause a stack trace to be printed.

[2016-09-26 08:28] brancz opened #29 "upgrade to new version of client-go"
client-go has released a new client version, under 1.5

https://github.com/kubernetes/client-go

[2016-10-04 15:09] lymichaels opened #32 "Missing deployment metric metadata.generation"
I'm trying to use the metrics provided by this project but it's missing the metadata.generation metric to check for status of a deployment. It would be great if that could be added in!

Below is from the kubernetes docs about deployments. I'm using that as a guideline to check if deployments fail or not and then send out an alert if it does fail.

After creating or updating a Deployment, you would

[2016-10-05 03:22] ahakanbaba commented on #20
Hi all for the comments, suggestions and insights.
We have implemented a filter agent in front of the kube-state-metrics that purges the go_* metrics.
So at this point, for us this pull request it not crucial.

We do not want these go_* metrics because

We do not need them.
Once they are in the metrics store database, they require some cognitive activity to discard and remember what they are. We h

[2016-10-05 03:22] #20 closed

[2016-10-06 17:07] ahakanbaba opened #33 "Feature Request: Add a new metric for currently used resources in nodes."
Hi All,
We would like to propose a new metric addition that describes the used resources by pods in every node.
Its name could be
kube_node_current_pod_cpu_requests,
kube_node_requested_cpu_resources,
kube_node_allocated_cpu_resources.

The names extend naturally for _memory_

Or something else suggested by you we are open to suggestions for names.

As the desired semantics, we propose this metric

[2016-10-06 17:42] matthiasr commented on #33
In principle you can get this data through the cAdvisor container metrics embedded in the kubelet. The problem there is that cAdvisor exposes kernel-level metrics (like CPU shares), and you need to reverse engineer how they were set by the kubelet (e.g. 1024 shares = 1.0 core requests).

[2016-10-06 18:25] ahakanbaba commented on #33
Hi @matthiasr, thanks for your comment.

Is this an implementation suggestion?
I was planning to use the same approach as the `kubectl describe node` implementation.

As far as I can tell, it lists the nodes, then lists the pods, filters the pods according to the nodes and does some accumulation on them.

Do you see obvious problems with implementing something similar to that in kube-state-metrics

[2016-10-06 20:29] matthiasr commented on #33
I just meant this as a workaround with what's there today. I agree that exposing the _logical_ values from the API is correct and within the scope of kube-state-metrics.

I'm not 100% sure (and would appreciate more opinions) on doing the addition beforehand (in kube-state-metrics) especially if it's _just_ a sum. At least for Prometheus, this is kind of what it does.

[2016-10-07 08:31] fabxc commented on #33
Exporting metrics should expose the raw data necessary to do further computation (especially aggregation) in the ingesting system.

I know that this is not necessarily true as is, as we are collecting metrics from the API that may also be produced by pre-computation. However, kube-state-metrics should not add to this by becoming an aggregator itself.

There are many possible aggregations of variou

[2016-10-08 05:37] ahakanbaba commented on #33
Hi Fabian,
thanks for your comments.
I see your point about base metrics, a more purist approach to the kube-state-metrics.
Keeping it simple is always appealing.

Thanks for your suggestion to do this calculation more downstream in the TSDB level or similar.
That suggestion agrees with our system as well. It is easily implementable too.

So I will close this issue and follow up with a pull reques

[2016-10-08 05:37] #33 closed

[2016-10-11 22:06] shamil commented on #32
Submitted PR that adds the `metadata.generaation` metric

[2016-10-12 10:37] #32 closed

[2016-10-14 17:53] ahakanbaba commented on #19
Would this code help to understand the difference between capacity and allocatable ?

[code]

This is from here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L459

Reservation is defined here
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L974

[code]

[2016-10-14 18:00] ahakanbaba opened #38 "Typo in the metric name "allocateable""
As far as I know this should be spelled as allocatable. Without an "e" between the "t" and "a".

I apologize if there are alternate spellings of this word. I am by no means an expert in spelling.

Nevertheless, I see value to be consistent with the [kubernetes repo](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2161) in terms of spelling.

It also seems like google suggest

[2016-10-17 11:26] brancz commented on #38
Sound good to me, PR coming up.

[2016-10-17 13:32] #28 closed

[2016-10-18 11:49] #38 closed

[2016-10-18 11:49] #29 closed

[2016-10-18 15:27] lymichaels opened #44 "Release 0.3.0 is not pushed up into the container registry"
It is currently not there.

docker pull gcr.io/google_containers/kube-state-metrics:v0.3.0
Pulling repository gcr.io/google_containers/kube-state-metrics
Tag v0.3.0 not found in repository gcr.io/google_containers/kube-state-metrics

[2016-10-18 15:59] brancz commented on #44
Sorry about not mentioning it, we have triggered the image to be pushed, but it hasn't happened yet, sorry about that!

[2016-10-18 16:02] brancz commented on #44
Just as a side note, this is currently a manual process and we have triggered someone at google to do this for us. 🙂 The image should be arriving within the next few days hopefully.

[2016-10-19 08:18] brancz commented on #44
Image is now available 🙂

[code]

[2016-10-19 08:18] #44 closed

[2016-10-25 19:02] matthughes opened #46 "Support non-ssl api server"
I am not currently running k8s with TLS on either the api servers or the kubelet.  I was hoping to run the `kube-state-metrics` deployment, but it seems to want to authenticate strictly with service tokens over HTTPS.

I have tried passing in api server directly.

[code]

It's not very clear to me _what exactly_ is expected in the `--config` flag, but I also provided a valid `./kube/config` file f

[2016-10-25 20:49] matthughes commented on #46
API server is running on localhost:8080:
[code]

But when you try to run with the flags given in the README, the app complains about invalid config:

[code]

[2016-10-26 00:37] agsmith commented on #46
@matthughes It looks like that you can't set the apiserver directly, if the --in-cluster flag is false.
https://github.com/kubernetes/kube-state-metrics/blob/master/main.go#L95

Can you try just setting the --apiserver, leaving the --in-cluster flag to default to true?

[2016-11-07 17:11] aabed opened #47 "Bad certificate"
I get this error when I start the pod
do I need to change my CA?
or there is a workaround
` Failed to create client: ERROR communicating with apiserver: Get https://10.254.0.1:443/version: x509: certificate is valid for 10.0.1.5, 10.0.0.1, not 10.254.0.1
goroutine 1 [running]:
k8s.io/kube-state-metrics/vendor/github.com/golang/glog.stacks(0x1cc5700, 0xc400000000, 0xcd, 0x1e8)
        src/k8s.io/ku

[2016-11-07 18:28] aabed commented on #46
kube-state-metrics --apiserver=http://127.0.0.1 --in-cluster=false --port=8080
` F1107 18:28:01.456102   39302 main.go:86] Failed to create client: invalid configuration: no configuration has been provided
goroutine 1 [running]:
github.com/kube-state-metrics/vendor/github.com/golang/glog.stacks(0x2667300, 0x0, 0x0, 0x0)
        /home/mc/work/src/github.com/kube-state-metrics/vendor/github.com/gola

[2016-11-09 08:51] brancz commented on #47
Can you provide more information on how you are running `kube-state-metrics`?

- Version
- Flags (`in-cluster`, `apiserver`, `kubeconfig`, `port`)
- Kubernetes version

[2016-11-09 10:07] brancz commented on #47
Typically if you have a kubeconfig that works kube-state-metrics should also work. Same typically goes for `--in-cluster` without further configuration besides a `port`.

[2016-11-09 10:12] brancz commented on #46
When using `--in-cluster=false` then `kube-state-metrics` tries to find configuration using the default config loading mechanisms which means it will try to load it from your `~/.kube/config`. My guess is that that is the case. Otherwise I guess we can add allowing the apiserver to be set when using `--in-cluster`, however, that seems like an antipattern and using TLS is definitely recommended.

[2016-11-09 14:40] aabed commented on #47
@brancz I passed kubeconfig
--in-cluster=false
--port=8080
When I use it in-cluster it works

[2016-11-09 16:00] brancz commented on #47
That's interesting! It should actually fail when you do `--in-cluster=false` and don't specify an `--apiserver`. When you do `kubectl get nodes`, it works without disabling tls checking etc. and the context for the cluster you want to access it the currently in use context for the kubeconfig?

[2016-11-09 16:03] aabed commented on #47
Well, I forgot to mention that, I passed the apiserver
as for the kubeconfig tls is not disabled
I don't know about the context TBH

[2016-11-09 16:19] aabed commented on #47
it gets even weirder
When I deploy in any other namespace but default or kube-system, I get the same error then it turns into

` Failed to create client: ERROR communicating with apiserver: the server has asked for the client to provide credentials `

[2016-11-09 17:46] aabed commented on #47
@brancz I've had a problem with my kube-controller-manager
I have two masters, one of them was holding the lock in the elections, everything works now inside the cluster

I am closing this

[2016-11-09 17:46] #47 closed

[2016-11-17 06:26] dominikschulz opened #48 "Report CPU and Memory requests and limits"
We are trying to keep an eye on the overall CPU and Memory requests and limits across the cluster.

`kubectl describe nodes` reports this information per node, but this exporter does not seem to expose it.

Example output:

[code]

As kubectl is reporting this information it is certainly available to this exporter as well.

Is there any way to get these numbers from the already exported metrics or

[2016-11-17 08:15] matthiasr commented on #48
Requests are already there (#35,#40). Would you like to submit a PR for limits?

[2016-11-17 08:23] dominikschulz commented on #48
Maybe. Need to look into it. Thanks very much for the pointer where to start.

[2016-11-22 13:05] #48 closed

[2016-11-24 06:51] natalia-k opened #50 "Feature request: Add ReplicationController and Daemonsets metrics"
Hello,
Is it possible to add ReplicationController and Daemonsets metrics  as well?
I am using the following metrics to alert  if number of running pods is not equal to replicas define in rc, ds :
    rc_status_readyReplicas, rc_spec_replicas
   ds_status_currentNumberScheduled, ds_status_desiredNumberScheduled

I find also, that Kubernetes API don't provide the rc_status_readyReplicas metric at a

[2016-11-24 08:50] brancz commented on #50
Thanks for opening this issue @paytinka .

This behavior is simply because the exporter you are using is written in Python and it just parses the json/yaml to a python dict and therefore when a field is missing it does not end up in the dict (please correct me if I'm wrong @tomwilkie, as I'm not very familiar with the code). This exporter unmarshals the objects into the structs, therefore when a f

[2016-11-24 09:51] paytinka commented on #50
here is example, I changed port of readinessProbe to wrong port :
[code]

`%kubectl get rc kube-dns-v20 -o json --namespace=kube-system`
...
    "status": {
        "replicas": 3,
        "fullyLabeledReplicas": 3,
        "observedGeneration": 11
    }

When I change it back to the correct port:
`%kubectl get rc kube-dns-v20 -o json --namespace=kube-system`
...
    "status": {
        "replicas":

[2016-11-24 10:06] brancz commented on #50
Yes that makes sense, however, due to how the unmarshaling is done with go and the libraries we use in this project, it is no issue. We simply need to add support for `ReplicationController`s and `DaemonSet`s.

What would happen in `kube-state-metrics` is that the json/yaml is unmarshaled into [this](https://github.com/kubernetes/client-go/blob/843f7c4f28b1f647f664f883697107d5c02c5acc/1.5/pkg/api/

[2016-11-26 14:53] Nalum opened #53 "NodeInfo Metric"
I think it is worth adding the Node IP address to the NodeInfo metric but I'd like feedback on if the public, private or both (or all if there is more than the 2) should be added as labels?

This is the structure I see when I get a node and out put as yaml:
[code]

I'm happy to create a PR for this if it is something you think would be good to have and if I can get that bit of direction.

[2016-11-28 08:50] brancz commented on #53
I'm wondering whether there can be more than one Internal/ExternalIP (I'm pretty sure it is), because then it gets tricky to have unique keys for each one.

[2016-11-28 09:08] fabxc commented on #53
Yes, multiple ones is totally valid and finding out which one is "right" is not generally solvable. Kubernetes itself has a priority function (which Prometheus also uses when doing service discovery of Kubernetes nodes, by the way.): https://github.com/kubernetes/kubernetes/blob/master/pkg/util/node/node.go#L78

As you can see it has a preference hierarchy over the types and within each type just

[2016-11-28 14:51] Nalum commented on #53
Will I go ahead using the function @ https://github.com/kubernetes/kubernetes/blob/master/pkg/util/node/node.go#L78 ?

I'm happy to leave it as is as it's not something I require but thought I'd put it out there as someone else might.

[2016-11-30 09:15] nleib commented on #50
+1

[2016-12-04 14:41] dominikschulz commented on #50
See #56 and #54.

[2016-12-05 18:24] therc commented on #19
Yes, by default capacity and allocatable are the same, but a good administrator will reserve some resources from the node for system processes (systemd, journald, sshd and in many cases kubelet/kube-proxy).

[2016-12-05 19:27] jackzampolin opened #57 "[feature-request] Add metrics for Services"
Would be great to get network activity for the various services or other service level metrics.

[2016-12-06 08:31] brancz commented on #57
Can you retrieve that information using the kubernetes API? kube-state-metrics is mainly about converting information that can be requested from the apiserver to the prometheus format. Could you point at where we can find that information in the apiserver?

[2016-12-09 11:16] Crapworks opened #58 "[feature] Add metrics for v1.ComponentStatusList"
Hi all!

I just stumbled across this project and was doing what you are doing in a much more sloppy way via python. I would like to switch over to kube-state-metric but there is one thing missing: Getting the component statuses. They can be retrieved via [API](http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_componentstatuslist). I was trying to do it myself and create a PR but I have n

[2016-12-09 18:44] brancz commented on #58
`kube-state-metrics` is intends to simply convert objects that can be retrieved via the API to be represented in the Prometheus exposition format. While getting the component statuses might be something we could add, we won't integrate with other tools to create alerting. The way to alert on information collected through `kube-state-metrics` is by having a Prometheus collect these metrics, and hav

[2016-12-09 18:49] brancz commented on #58
However, I don't think getting the component statuses is a particularly good idea as there are many indirections of those health statuses. It is always best to get metrics and health information directly from its source. With Prometheus you would have Prometheus scrape the Kubernetes components. This is called whitebox monitoring, because Prometheus knows about the topology of your cluster, by dis

[2016-12-09 19:23] #58 closed

[2016-12-13 15:48] spiddy commented on #57
The use case I'm looking for is the following:

I want to make sure that all defined Services have at least one Endpoint that redirects to a running Pod (meaning that they are functional and not broken)

Being broken can be either by misconfiguration, or a failing Pod. The failing pod can be caught by monitoring the Pod, but the misconfiguration is harder to catch.

When profiling the system basic

[2016-12-13 19:27] brancz commented on #57
So essentially a metric for each [`Endpoints`](https://github.com/kubernetes/client-go/blob/843f7c4f28b1f647f664f883697107d5c02c5acc/1.5/pkg/api/v1/types.go#L2357) object containing a count of all addresses of all [`EndpointSubset`](https://github.com/kubernetes/client-go/blob/843f7c4f28b1f647f664f883697107d5c02c5acc/1.5/pkg/api/v1/types.go#L2383)s. Probably split in ready and non-ready. I think t

[2016-12-14 14:58] nvartolomei commented on #19
I get different values for allocatable in kube-state-metrics and in influxdb via heapster. fyi

[2016-12-20 21:36] frodenas opened #61 "kubeconfig flag is ignored when not in cluster"
When using the exporter setting the `--in-cluster` to `false`, the `--kubeconfig` flag is ignored. If your `kubeconfig` file is not at one of the standard locations, then the exporter is unable to contact the apiserver.

[2016-12-20 23:13] #61 closed

[2016-12-22 11:13] nvartolomei opened #63 "StafeulSet metrics?"
Is anyone working on these?

[2016-12-22 12:36] brancz commented on #63
Definitely interesting! I am not aware of anyone working on this currently. A few caveats if you were to get started:

* It will require an upgrade of the vendored `k8s.io/client-go` library, which is pretty painless, but necessary. I was thinking of doing this some time soon, but if someone wants to take a go at it go ahead. (I probably won't get started before the holidays)
* It will need to be

[2016-12-27 11:21] amolsh opened #64 "Not able to get "kube_node_status_phase" metric"
I am running Kubernets on coreos. For monitoring, I am using Prometheus, Grafana and kube-state metrics.
I wanted to check status of nodes in cluster , whether  they are running or not. I thought, I could get info from "kube_node_status_phase" metric. But , it is not showing in prometheus. Except this, I am able to see all metrics.
Can anyone help me to sort this out?

[2016-12-27 14:18] Sudneo commented on #46
@brancz  I am currently running k8s without TLS anywhere , and I faced this issue also. I also had the error of failed serviceAccount token check. Are these elements really necessary or I can hack around (passing some dummy values, for example?). If they are necessary, will I be able to switch to TLS for the whole API server or just for this specific case?

[2017-01-09 16:53] stvnwrgs opened #67 "Not able to get kube_pod_container_limits_cpu_cores metric"
I'm not able to see the `kube_pod_container_limits_cpu_cores` metric in prometheus. But i can see other metrics like: `kube_pod_container_requested_cpu_cores`

Setup:
GKE with k8s 1.5.1

Maybe related? #64

[2017-01-10 09:44] brancz commented on #64
The `kube_node_status_phase` metric is only set if it is actually [set on the object](https://github.com/kubernetes/kube-state-metrics/blob/d07f95ec5cf4ec4a66b3ebf0a4c2f3d7403a0fbb/node.go#L159). A quick check on my clusters showed that is it actually never set. So I looked at the [documentation](https://github.com/kubernetes/client-go/blob/24a02a6d7d2c9a21b12a3eb35c71c784e63825f4/pkg/api/v1/types

[2017-01-10 09:46] brancz commented on #67
The `kube_pod_container_limits_cpu_cores` metric is [only set](https://github.com/kubernetes/kube-state-metrics/blob/d07f95ec5cf4ec4a66b3ebf0a4c2f3d7403a0fbb/pod.go#L190) if the pod actually has a CPU limit set. Can you make sure that this is the case for the object you are expecting it for?

[2017-01-10 17:54] therc commented on #46
I can confirm that --apiserver=http://... works, without setting --in-cluster=false.

Now the sad thing is that, if I pass an HTTPS endpoint with a certificate that the cluster does not know about, but which is valid, passing chain verification from public roots, i.e. not a self-signed one, the state-metrics pod complains with "certificate signed by unknown authority". This is because the Docker i

[2017-01-11 09:13] brancz commented on #46
@therc I'm confused as to where you are trying to run `kube-state-metrics`, inside or outside of your kubernetes cluster? If outside, you can specify the ca file in your `kubeconfig` and if inside it should be properly set by the `ServiceAccount`.

[2017-01-12 00:42] stvnwrgs commented on #67
Yes, I'm sure that I have multiple containers inside my pod with a CPU limit.

[2017-01-16 10:42] decker502 commented on #67
I get the same issue.

[2017-01-16 17:25] brancz commented on #67
I currently don't have much bandwidth to look into this, if someone can investigate this and/or open a PR I'm happy to review it or fix it once we have found the source of the problem.

[2017-01-18 13:08] ghost opened #70 "Should allow aggregation of pod/container metrics by deployment"
Pods and containers export important metrics like health or container restart count. These metrics are most useful when viewed at a deployment aggregation level (i.e., summed over all pods belonging to the same deployment) or on the replica set level. Individual pods are less useful, because a pod might go away for benign reasons.

To do the aggregation, I need labels that reference the deployment

[2017-01-18 13:43] brancz commented on #70
`kube-state-metrics` intends to mirror what the Kubernetes API exposes. If there is a clear connection between objects I'm happy to expose that in a label in the `kube_pod_info` metric. A candidate for that could be an `ownerReference`, which if a `Pod` belongs to a `ReplicaSet` is set to that `ReplicaSet`.

Alternatively if using Prometheus, you can use relabelling rules to parse these things out

[2017-01-22 23:23] mikekap opened #72 "[feature-request] Add metrics from CronJobs"
Most important for monitoring: last successful run time. Last run time, duration, overrun indication, etc would be awesome too :).

CronJobs are still in alpha though, so it might be good to wait for them to at least make it to beta.

[2017-01-23 03:22] therc opened #73 "Release 0.4"
There are new changes such as Daemonset metrics and per-container limits, but the last release is 0.3, from November. Also, I have code for the Datadog agent to scrape k-s-m for the new data, but quite understandably the maintainers want to see a new official release before accepting my change.

What does it take or who needs to be convinced to make a new release?

[2017-01-24 16:44] therc commented on #46
@brancz This is inside the cluster. But I have the masters in a high-availability setup, behind an AWS load balancer, which has a real certificate from AWS' Certificate Manager, i.e. not self-signed. Are admins expected to put Amazon's CA certificate in Kubeconfig?

[2017-01-25 18:44] brancz commented on #46
I'm not sure I understand why you don't run `kube-state-metrics` in cluster and let Kubernetes load balance the requests?

[2017-01-26 00:01] vdavidoff opened #74 "[feature-request] Deployment Conditions"
That'd be great if kube-state-metrics exposed Deployment Conditions. My use case is to easily know if a Deployment is in progress or not, which I plan to use along with Prometheus and an inhibit rule in AlertManager.

I see Deployment Conditions were added to the go k8s client around git commit ae6775eeec5cc9e96cc5cec848f589158acf7d92, and I have tried to add this support in myself by modifying ku

[2017-01-26 05:40] vdavidoff commented on #74
Well, I read some stuff and got it to build with my changes and HEAD from go client. Tomorrow I'll see if stuff actually works as I think it should.

[2017-01-26 08:46] brancz commented on #74
I wanted to update to latest version of client-go as well, so if you can already do that in the process of implementing this feature, that would be great!

[2017-01-26 14:44] fcantournet commented on #72
Might also be worth having the PodStatuses for Jobs ( for the number of failures )

[2017-01-26 20:03] vdavidoff commented on #74
Well, I think my changes worked. But in the process of confirming they did what I wanted, I think I learned that the "Progressing" Deployment Condition doesn't work how I thought it would. I suspected it'd be removed from the Deployment Conditions once a rollout was complete, but it appears to exist in perpetuity. I think the following is how Kubernetes determines if a rollout is complete/successf

[2017-01-27 05:13] vdavidoff commented on #74
I submitted a [pull request](https://github.com/kubernetes/kube-state-metrics/pull/75) but I guess some tests are failing. I'll circle back to that.

[2017-01-27 06:01] vdavidoff commented on #74
Test fixed.

[2017-01-27 15:14] vdavidoff commented on #74
I'm closing this even though Deployment Conditions weren't implemented, since this turned into a different request as things progressed, and the related PR is merged.

[2017-01-27 15:14] #74 closed

[2017-01-31 16:36] stvnwrgs commented on #67
@decker502, @brancz I found the problem. The documentation is newer than the latest release.
Limits are not exported in 0.3.0.

@brancz do you have an idea about the next release date? We need that stuff for our alerts =/

[2017-01-31 16:52] brancz commented on #67
@stvnwrgs I'm gonna be working towards a new release in the upcoming days. There are a few things that we want to include in this release that are not quite done, but should be relatively quick - so stay tuned, it should happen rather sooner than later! :slightly_smiling_face:

[2017-02-02 13:41] brancz commented on #73
New release coming up soon :slightly_smiling_face:

[2017-02-03 10:14] brancz commented on #73
I'm on my way traveling to FOSDEM, so I may not get to do the release today, but it should happen tomorrow if not today. Unfortunately I am not in control of the container images on gcr and have to ping google employees to do that for us, so I'm guessing those will only be pushed some time next week.

@piosz is there any way we can automate this and have us trigger it when needed? If not would it

[2017-02-03 11:00] piosz commented on #73
AFAIK there is an effort to allow making core Kubernetes releases outside of Google. I don't know the details but when it's done this, and other projects should follow this path. In the meantime I release new version of kube-state-metrics. Ping me on slack or email once it's ready.

@saad-ali @grodrigues3 do you know what is the status of the mentioned changes?

[2017-02-03 18:30] saad-ali commented on #73
Making kubernetes core releases a non-Google dependent process is something that @david-mcmahon is working on for 1.7 by implementing a continuous release system.

[2017-02-06 14:37] sstarcher opened #79 "Collect componentstatuses info"
It would be nice to collect the health for the componentstatuses objects

[2017-02-08 17:13] andrewhowdencom opened #83 "Link to the gcr.io container on readme"
Suggest linking to gcr.io/google_containers/kube-state-metrics:v0.3.0 on README. That's what CoreOS are doing.

https://github.com/coreos/kube-prometheus/blob/master/manifests/exporters/kube-state-metrics-depl.yaml#L14

[2017-02-09 00:19] brancz commented on #83
I definitely agree, we're in the middle of doing a release, so we'll add that right after we're done with the release.

[2017-02-09 15:25] jhorwit2 commented on #72
Cronjobs are being promoted to beta in 1.6 https://github.com/kubernetes/features/issues/19

this would be super nice to have

[2017-02-10 02:19] #73 closed

[2017-02-10 07:34] rvrignaud opened #84 "Panic runtime error for 0.4.0 in GKE 1.5.2"
Hello,

I just tried to upgrade kube-state-metric pod in 0.4.0. I'm running a GKE cluster in 1.5.2.
Kube-state-metrics is running in Ubuntu 16.04 container and built using:
[code]

Here is the stacktrace I got when I try to get /metric

[code]

[2017-02-10 07:37] rvrignaud opened #85 "Provide binary for releases"
Hello,

It would be great if community could provide Linux/amd64 binaries for releases.

Thoughts ?

[2017-02-10 16:06] brancz commented on #85
I am completely for this, however, it would have to be completely automated and as far as I understand this is part of the effort of opening up google's internal release process to non google maintainers.

/cc @saad-ali @grodrigues3 @piosz @david-mcmahon

[2017-02-10 16:28] brancz commented on #84
To perform some testing myself in the mean time, until the new image is published on gcr I have an image at `quay.io/brancz/kube-state-metrics:v0.4.0`, could you try that image?

[2017-02-10 16:32] rvrignaud commented on #84
Hello @brancz ,

I have same behavior with you image:
[code]

[2017-02-10 17:12] stvnwrgs commented on #84
I get the same problem with your `quay.io/brancz/kube-state-metrics:v0.4.0` image.

[2017-02-10 17:14] brancz commented on #84
Looks like we need a guard around `deployment.go:153`, for the time being you should be able to disable the deployments collector and it should work. You can specify collectors with the `-collectors` flag. So that would look like:

[code]

[2017-02-10 21:18] #84 closed

[2017-02-10 23:36] brancz commented on #84
Fix is merged and `v0.4.1` is released.

[2017-02-13 08:58] andrewhowdencom opened #89 "Makefile tip"
You can get the latest git tag in the makefile as follows:

[code]

[2017-02-15 03:27] andyxning commented on #89
@andrewhowdencom Awesome. 👍 Can you please make a PR improving tag variable getting.

/ping @brancz

[2017-02-15 04:07] andyxning commented on #19
@rvrignaud @brancz Kubelet now supports two command line arguments: `--kube-reserved` and `--system-reserved`. By setting any of both, node allocatable and capacity should be different. Just as what has been mentioned in [comment 264933854](https://github.com/kubernetes/kube-state-metrics/issues/19#issuecomment-264933854).

[2017-02-15 04:15] brancz commented on #89
sgtm

[2017-02-15 04:37] brancz commented on #89
In fact I might pick this up pretty soon, as the current tag in the `Makefile` is outdated.

[2017-02-15 05:03] #89 closed

[2017-02-15 08:46] stvnwrgs commented on #67
It's available in the current release

[2017-02-15 08:46] #67 closed

[2017-02-15 20:27] #83 closed

[2017-03-06 21:45] sophaskins opened #97 "Docs for kube_replicaset metrics don't match implementation"
The project [README.md](https://github.com/kubernetes/kube-state-metrics/blob/b7458223c078844dc2f8a2c9b63ed5f1829b4d48/README.md) lists the ReplicaSet metrics as:

- kube_replicaset_status_replicas
- kube_replicaset_status_replicas_available
- kube_replicaset_status_replicas_unavailable
- kube_replicaset_status_replicas_updated
- kube_replicaset_status_replicas_observed_generation
- kube_replicase

[2017-03-07 05:18] gyliu513 opened #99 "The explanation for `kube-state-metrics-vs-heapster` is not accurate"
In https://github.com/kubernetes/kube-state-metrics#kube-state-metrics-vs-heapster , it  claims that `some monitoring systems such as Prometheus do not use Heapster for metric collection at all and instead implement their own`.

I think that this may be not accurate, as actually, I can always use Heapster as a prometheus scrape targets, right?

[2017-03-07 09:17] brancz commented on #97
Looking at the [upstream structs](https://github.com/kubernetes/client-go/blob/ca90456a21c1db4b5b1dadff1dbcc6f75692d0ee/pkg/apis/extensions/types.go) implementation is as intended, it seems the documentation is off. Do you want to open a PR to fix the documentation?

[2017-03-07 12:07] brancz commented on #99
If @fabxc agrees, I'd say we just adapt it to the answer he gave on the Prometheus mailing list https://groups.google.com/d/msg/prometheus-developers/3zq4oD7if3s/4VUG7X_4DQAJ . Does that sounds good to you @gyliu513 ?

[2017-03-07 12:13] gyliu513 commented on #99
Yes, so I think that for here we'd better mention that `the prometheus can be a heapster sink (backend)`, what do you say @brancz ?

[2017-03-07 12:26] brancz commented on #99
Sounds good to me. Do you want to open the PR for that @gyliu513 ?

[2017-03-07 12:50] gyliu513 commented on #99
Sure, will follow up a PR, @brancz

[2017-03-07 15:00] tmegow opened #101 "Errors with ReplicationController metrics"
Love this app! It's always worked great with zero issues, thank you.

Today, I excitedly tried out commit b68036d, however I'm getting errors like these in the logs and no rc metrics in /metrics.

[code]

[2017-03-07 15:16] brancz commented on #101
@dominikschulz ^ ?

[2017-03-07 16:52] #97 closed

[2017-03-07 19:10] tmegow commented on #101
If it helps here is my kubernetes version and kube-apiserver runtime-config arg:

`Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.8", GitCommit:"c5fcb1951afb8150e4574bc234aed957cb586eb0", GitTreeState:"clean", BuildDate:"2017-01-12T02:14:29Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}`

`--runtime-config=api/all,batch/v2alpha1`

[2017-03-08 00:04] tmegow opened #103 "Metrics values missing in v0.4.1"

[2017-03-08 00:10] tmegow commented on #103
derp

[2017-03-08 00:10] #103 closed

[2017-03-08 10:28] #99 closed

[2017-03-09 13:43] brancz commented on #101
Thanks for all the info I currently don't have time to look into it, but will make sure it works when we do the release.

[2017-03-09 13:50] brancz commented on #101
Actually I had a glimpse over the code and I think I spotted the error. Opened #104. At least where it error-ed before it doesn't anymore and I see `ReplicationController` metrics in `/metrics` :slightly_smiling_face: .

[2017-03-09 16:55] tmegow commented on #101
#104 seems to do the trick :)

[2017-03-09 16:55] #101 closed

[2017-03-14 06:06] rvrignaud commented on #19
Closing it

[2017-03-14 06:06] #19 closed

[2017-03-14 08:51] brancz commented on #63
While I'm still not aware that someone is working on this, the things I mentioned before don't apply anymore. The `k8s.io/client-go` dependency has been updated and backward-compatibility is not an issue anymore as those collectors can now be disabled when necessary.

[2017-03-21 17:12] SleepyBrett opened #108 "kube_node_info should add node labels"
We run several node pools and use labels to differentiate them (as well as taints). One node pool in particular is built to be a canary for future versions of our underlying OS. I'd like to be able to build an alert the fires if that node goes away (assumably because some change in the lower env causes it's kubelet to fail).

Being able to to say sum(kube_node_info{mynodelabel="canary"}) == 0 woul

[2017-03-21 22:36] SleepyBrett commented on #108
I did a quick hack that joins all the labels, comma seperates them a puts them in a kubernetes_labels field. Though I'm not sure if this is the right approach. It's a bit of a prometheus question, is it possible/better strategy to reduce all the labels names to lowercase with underscores names and append those labels to the metrics object directly? Or do I have to predefine the labels in the decel

[2017-03-22 10:03] brancz commented on #108
In Prometheus a unique set of labels is one time-series, which means that it is a new time-series if the labels change. We would have to change slightly how the `kube_node_info` metric is instantiated to be able to add all the labels of the node, but it's definitely possible. Best would be to add a label per Kubernetes label which is prefixed. So something like `kube_label_<label-key>`. Note that

[2017-03-23 09:10] piosz opened #109 "Provide more structure in source code"
Currently almost everything is in top level directory. It would be great to have some structure here to make the code more readable.

[2017-03-23 09:22] brancz commented on #109
Sounds reasonable. I think it would make sense to have one package for all the collectors at least, and then adapt a similar structure as kubernetes/kubernetes with `cmd/` and `pkg/` folders.

[2017-03-24 12:47] andyxning opened #111 "Add healthz info for kubelet and kube-proxy"
How about we add health check metrics about `apiserver`, `scheduler`, `controller-manager`, `kubelet` and `kube-proxy`.

/ping @brancz @piosz

[2017-03-24 12:49] brancz commented on #111
All these components expose Prometheus metrics themselves, so once discovered there are already `up` metrics for these created by Prometheus as it scrapes them.

[2017-03-24 12:50] piosz commented on #111
All core Kubernetes components should export metrics in Prometheus format
https://github.com/kubernetes/kubernetes/issues/40736

[2017-03-24 12:58] andyxning commented on #111
apiserver, scheduler, controller-manager should be fine cause we may not change them frequently. For kubelet and kube-proxy, with nodes adding or off-line for maintenance, we may need to update the prometheus configuration frequently.

Under this situation, i think we may utilize the node discovery ability through apiserver's node list api  and make kube-state-metrics handle this automatically. On

[2017-03-24 13:08] brancz commented on #111
That's something you'll have to do anyways as you want to scrape the kubelet either way for its metrics. Using a cloud provider that shouldn't be a problem, as all major cloud providers have build in discovery mechanisms for Prometheus to discover the VMs.

The Prometheus Operator actually has a feature that allow you to sync kubelet IPs into an endpoints object to be discovered like any other End

[2017-03-24 13:16] andyxning commented on #111
@brancz Could you please give more info about Prometheus Operator. BTW, How is the discovery mechanism?

[2017-03-24 13:22] brancz commented on #111
The [Prometheus Operator](https://github.com/coreos/prometheus-operator) simply watches the nodes resource of the Kubernetes API server to populate the endpoints object. The object you want it to write to can be specified as a flag (`--kubelet-object` IIRC).

[2017-03-24 17:51] Resisty opened #112 "No logs available"
I have kube-state-metrics running as a deployment via ansible on my clusters:
[code]
I've had to bump kube_state_mem_(req|lim) to 800Mi in order to get the pods to stay up; the pods have started OOMKilling/CrashLoopBackoff'ing.

I'd like to know why, but the containers are basically inscrutable. There's no way to shell in and `docker logs` is empty.

It'd be great if there was more information on

[2017-03-24 20:25] andrewhowdencom commented on #112
Depending on your hosts, you could use something like `strace` to introspect that process from the host NS (I'm like, 99% sure all processes are visible from the host NS)

[2017-03-26 01:00] maiconbaumx opened #113 "Error to execute: make container"
When I run MAKE CONTAINER, this is what shows:

![screen shot 2017-03-25 at 21 59 03](https://cloud.githubusercontent.com/assets/15946206/24327384/576f9a58-11a6-11e7-9805-b2001132e48a.png)

Any idea?
I try to install godep but nothing happens.

[2017-03-26 01:39] #113 closed

[2017-03-29 08:17] bjartek opened #116 "Support for API-groups and other kinds like the openshift objects"
What are the plans regarding supporting other non core
API groups?

We are using OpenShift and are seriously looking into this, but it would be nice to support kinds like DeploymentConfig, BuildConfig and ImageStreams.

Currently they exist in the oapi API server but it is changing with the introduction of API groups. https://github.com/openshift/origin/pull/12986

I am at kubecon in Berlin so if

[2017-03-30 07:43] brancz commented on #116
I'm wondering what implications this has for users running it against a vanilla kubernetes cluster, I would like to avoid the confusion whether this project is meant for openshift clusters or vanilla kubernetes clusters. I guess we would have to see what the integration would look like as in a first pull request and then we can decide, whether it may be better to be continued a fork to avoid odd c

[2017-03-31 02:12] Resisty commented on #112
Hi @brancz,

We're running `image: gcr.io/google_containers/kube-state-metrics:v0.3.0`. As for `what kind of logs you are expecting`: literally anything.

[2017-03-31 07:33] brancz commented on #112
There were actually some changes in regard to logging in the latest release, the glog library was not properly configured. Can you upgrade to latest `v0.4.1`?

[2017-04-05 09:22] andyxning commented on #112
@brancz

This mainly refers to `client-go` cache?

[2017-04-05 09:56] brancz commented on #112
@andyxning yes, the informers/informer-framework more specifically.

[2017-04-05 09:56] brancz commented on #112
Does that solve your issue @Resisty ?

[2017-04-05 10:04] andyxning commented on #108
@SleepyBrett @brancz Any updates on this?

I am  not familiar with Prometheus, now. Can we update labels dynamically instead predefining all the labels?

[2017-04-05 10:14] andyxning commented on #108
It seems that we can do this outside of kube-state-metrics with adding this to Prometheus by enabling [this](https://github.com/prometheus/prometheus/issues/1099#issuecomment-204584257)

[2017-04-05 15:20] #116 closed

[2017-04-10 14:27] gianrubio commented on #112
Same issue here, v0.4.1

My deployment file comes from [prometheus-operator](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/exporters/kube-state-metrics-deployment.yaml)

[code]

[code]

[code]

## How I fixed ?

Changing [memory limits](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/exporters/kube-state-metr

[2017-04-12 02:02] xwinie opened #120 "the server has asked for the client to provide credentials"
kube-state-metrics ：2017-04-12T01:56:13.362556000Z F0412 01:56:13.361945       1 main.go:73] Failed to create client: ERROR communicating with apiserver: the server has asked for the client to provide credentials
2017-04-12T01:56:13.362761000Z goroutine 1 [running]:
2017-04-12T01:56:13.362917000Z k8s.io/kube-state-metrics/vendor/github.com/golang/glog.stacks(0x234fb00, 0x0, 0x0, 0x0)
2017-04-12T01

[2017-04-12 07:59] andrewhowdencom commented on #120
Is this on 1.6?

[2017-04-12 08:15] brancz commented on #120
@xwinie can you elaborate on the environment you are running kube-state-metrics in? If you run it inside of your Kubernetes cluster (which is recommended), then you don't need to specify any flags like `--kubeconfig` instead the authentication is done via the service account. Particularly in Kubernetes 1.6 you need to also make sure the `ServiceAccount` kube-state-metrics is run under has the requ

[2017-04-12 14:47] zouyee opened #122 "[ingress]feature request"
gentle ping  @brancz
I will work on adding some metrics,here is the relevant information . would you have some suggeustions？
#### service
| Metric name| Metric type | Labels/tags |
| ---------- | ----------- | ----------- |
| kube_service_spec_servicetype | Gauge | `clusterIP `=&lt;cluster ip&gt; <br> `namespace`=&lt;service-namespace&gt; <br>`service`=&lt;service-name&gt;<br>`type`=&lt;ClusterIP\

[2017-04-15 22:51] cemo commented on #108
@brancz Is there a workaround for now?

[2017-04-16 08:15] cemo opened #123 "Grafana dashboard"
I think that it might be really cool to have a dashboard using this project.

[2017-04-16 09:48] cemo commented on #108
Let me to explain my use case as well.
We have a multi tenant cluster and each tenant has multiple container. I had labeled them in a meaningful way to group them easily and display `pods count` in grouped by `tenant name`.

[2017-04-16 10:10] andrewhowdencom commented on #123
I am currently integrating it with the kubelet metrics to do like, comparisons of allocated resource usage (request) vs actual resource usage. It was super educational! I got stuff way wrong.

Happy to contrib to some sort of shared dashboard, maybe in a `/contrib/grafana/dashboard.json` if we can think of some sort of usable metrics from this.

Maybe things like current pods vs desired? (I think

[2017-04-17 02:27] andyxning commented on #123
@andrewhowdencom Another useful monitor info about nodes is the node in `NotReady` and `SchedulingDisabled` status. With event alarm(if you'd like, take a look at eventarbiter[https://github.com/andyxning/eventarbiter]. **Disclosure: eventarbiter is written by me. :)**), we can only get one event when node changing to `NotReady` or `SchedulingDisabled`. If we miss it we can hardly know which node

[2017-04-18 05:53] fabxc opened #124 "1.0 stabilization"
As discussed in the last SIG instrumentation meeting, we plan to do a first stable release of kube-state-metrics.
As we have been mostly adding functionality for a while, rather than changing existing one, there's nothing fundamental to change here.

* [x] double-check all existing metrics for compliance with our [guidelines](https://github.com/kubernetes/community/blob/master/contributors/devel/i

[2017-04-19 11:13] piosz commented on #124
@kubernetes/api-reviewers are there any guidelines/requirements for graduating a feature to GA which doesn't Kubernetes API?

cc @wojtek-t @gmarek re: scalability testing

[2017-04-21 02:29] yannrouillard opened #125 "Add support for ready metrics for daemonset"
Currently, the metrics exported for daemonset doesn't allow to detect that a damonset pod is not ready.
There is not equivalent of kube_replicaset_status_ready_replicas.

Would it be possible to add support for a similar metric for daemonset ?

Thanks in advance.

Yann

[2017-04-22 16:46] nvartolomei commented on #63
This is blocked by https://github.com/kubernetes/client-go/issues/183

[2017-04-23 01:02] smarterclayton commented on #124
I think we'd probably recommend documenting what the compatibility expectations of that feature are going forward (in a doc in that repo), make sure there is a process for API changes reasonably consistent with the use of the goals, and then make sure the feature repo contains an issue to the graduated feature.

[2017-04-24 09:39] #125 closed

[2017-04-25 01:41] lesterwang opened #127 "Failed to create the client"
When I try to start the kube-state-metrics in Kubernetes(1.3.7), I get the following error:
[code]
Then I delete the rc and svc to create again, the error becomes:
[code]

The rc file is:
[code]
The svc file is:
[code]
Does anyone know this? Thank you in advance

[2017-04-25 06:29] andyxning commented on #127
@lesterwang Seems that you're using https for your apiserver with a self-signed CA which can not be handled by default golang http client.

[2017-04-25 06:32] andyxning commented on #127
BTW, you should format your code and error log according to markdown for readability.

[2017-04-26 01:59] devth opened #128 "StatefulSet metrics"
Would be useful to have these.

[2017-04-26 07:16] brancz commented on #128
Dupe of #63. Currently blocked as described in the other issue.

[2017-04-26 07:16] #128 closed

[2017-04-26 07:18] brancz commented on #127
This seems to be a problem with how your cluster is handling ServiceAccounts. kube-state-metrics simply uses the in cluster client configuration which is guaranteed to work.

[2017-04-26 07:19] brancz commented on #123
Actually dashboards and alerts would be even better, but let's do one at a time :wink:

[2017-04-26 09:17] andrewhowdencom commented on #123
I currently have no plans to implement this immediately, as I have no idea what I'd implement. But loosely,

1 Dashboard (templated with node name) that displays all of those metrics; it looks like the'd be mostly singlestat except for a couple which are binary (and thus could be set to "red" in the error condition)
2. Dashboard (templated with DaemonSet/Deployment/RS name)
  a. Display of number

[2017-04-26 13:16] brancz commented on #108
makes sense, we'll likely add this soon for pods and nodes

[2017-04-26 19:51] cemo opened #129 "Documentation of the metrics"
I can be considered pretty much new to monitoring land. It would be really cool to document metrics with some example usages. I know that some metrics are pretty much obvious from its name but its usage with some other metrics would be beneficial for all. I can also try my best to provide necessary information with my limited knowledge.

Another important thing is that compatibility of metrics wit

[2017-04-27 00:04] andyxning commented on #108
​Any info about implementing this.​

Yours Sincerely,
Andy Xie

2017-04-26 21:16 GMT+08:00 Frederic Branczyk <notifications@github.com>:

[2017-04-27 08:16] brancz commented on #108
For one it's probably best to put this in it's own metric, something like `kube_node_labels` and `kube_pod_labels`. And then each label of a pod or node becomes a prefixed label in the metric representation. So it will end up looking something like this:

[code]

I'm currently finishing up something, then I should be able to get to implementing this in the next few days. After that I think we shou

[2017-04-27 09:55] igniting commented on #72
Is there any progress on this?

[2017-04-27 09:57] brancz commented on #72
I am currently not aware of anyone working on this, if anyone wants to grab it, go head! :slightly_smiling_face:

[2017-04-28 14:52] brancz commented on #129
Example usages are a great idea. I think we should generally overhaul the whole documentation. Probably best to restructure the documentation into a docs folder and separate each group of metrics to it's own files and then have example usages in there.

[2017-04-28 14:53] brancz commented on #122
These all sounds reasonable @zouyee ! :slightly_smiling_face:

[2017-04-28 14:57] #108 closed

[2017-05-01 14:51] vdavidoff commented on #72
I have started working on exposing Job metrics. I have a dev build working, I think, though it hasn't been thoroughly tested to ensure there are no edge cases (or cases simply unlike the state of my test clusters) where the code blows up. I haven't started on the unit tests, either. I'm about to start looking at CronJobs to see what can/should be exposed there.

Quite frankly I'm sort of hacking a

[2017-05-01 21:23] vdavidoff commented on #72
I have Job and CronJob metrics working. I think the metrics I'm exposing, and how I'm exposing them, makes sense, but feedback on that as well as coding choices etc. is most welcome. In fact I highly recommend it.

I can assure you that someone who is more familiar with the tests than I am will be much quicker at getting the _test files done. My plan is to do them as I have time, but I don't know

[2017-05-02 07:50] brancz commented on #72
@vdavidoff feel free to open a PR already, that exactly the situation what they're for :slightly_smiling_face:. Reviews aren't there to make anyone feel bad or unqualified, we can all learn from them and we can track progress a lot better. There is no need for it to be completely done, it's perfectly fine to be work in progress.

If you can't manage to finish the unit tests, but the rest of the im

[2017-05-02 12:59] vdavidoff commented on #72
https://github.com/kubernetes/kube-state-metrics/pull/131

[2017-05-04 01:14] lesterwang commented on #127
@andyxning @brancz when I create the kube-state-metrics pod, I use
```kubectl -s http://{{apiserver}} create -f ...```
I don't know why kube-state-metrics still use the https, I will investigate more.
Sometime I restart the kubernetes node, the kube-state-metrics can running well, sometime not. Even it works well, I can see many log like this
[code]
I will check my kuberneter cluster configuration

[2017-05-04 07:37] brancz commented on #127
It's highly encouraged to use https for inter cluster communication and even more so to access your cluster. It seems that you are not distributing correct certificates for your cluster components (or they might  be generating certs on the fly), which is why you are getting those errors.

kube-state-metrics expects a functioning ServiceAccount setup, which means that the Pod gets a bearer token an

[2017-05-04 07:53] zouyee commented on #122
thanks,sorry for my late reply

[2017-05-04 21:26] jeremyd opened #135 "docker image not available for v0.5.0"
Trying to run the latest deployment.yml in kube and getting image pull errors for gcr.io/google_containers/kube-state-metrics:v0.5.0  not found.

[2017-05-04 23:57] andyxning commented on #135
@jeremyd See #134 for more info. We just have update the version info and waiting for Google people to build and push to gcr for now. :)

[2017-05-06 00:09] andrewklau opened #137 "Accessing node labels"
Is there plans to support node labels?

ie. I want to get the cpu requests of all pods and then filter it by nodes that are in the `region=example`

Kubernetes metrics like `container_memory_usage_bytes` provide these labels but not the ones provided by kube-state-metrics

[2017-05-06 13:02] andyxning commented on #137
@andrewklau Currently, node supports labels but it is contained in node metrics.

IIUC, you mean that you want to add node labels to pods running on it?

Can you please give an example about `container_memory_usage_bytes`.

[2017-05-06 13:18] andrewklau commented on #137
Correct.

Here is an example that I get from `container_memory_usage_bytes`

`container_memory_usage_bytes{beta_kubernetes_io_arch="amd64",beta_kubernetes_io_instance_type="r4.xlarge",beta_kubernetes_io_os="linux",class="scheduled",container_name="POD",exported_name="k8s_POD.4ebadca1_node-exporter-primary-component-8wjw6_ops_a9c85c03-31fa-11e7-a1fe-02b4fa6cfe03_1cb56592",failure_domain_beta_kubern

[2017-05-06 13:27] andyxning commented on #137
@brancz Does prometheus supports cross join between different metrics? All these info has been collected in different metrics. I think we do not need to duplicate these info. :)

[2017-05-06 13:28] cemo commented on #135
This is pretty much interesting that still image is not published. Any problem?

[2017-05-06 14:07] javapapo commented on #135
+1 the image is still not out :(

[2017-05-06 14:16] brancz commented on #135
We (CoreOS) are also maintaining images of kube-state-metrics hosted on quay.io, that already has the v0.5.0 image. https://quay.io/repository/coreos/kube-state-metrics?tag=latest&tab=tags Feel free to use this mirror, we will be keeping it up to date and as we (the kube-state-metrics maintainers) don't have access to the google image registry, it may change to become the primary source of distrib

[2017-05-06 14:16] javapapo commented on #135
Many thanks!

[2017-05-06 19:08] sheerun opened #138 "Wrong namespace reported"
Example metric:

kube_deployment_spec_replicas{deployment="segmenter",endpoint="http-metrics",exported_namespace="segmenter",instance="10.244.0.87:8080",job="kube-state-metrics",namespace="default",pod="kube-state-metrics-412796371-tpbv1",pod_app="kube-state-metrics",service="kube-state-metrics",svc_app="kube-state-metrics",svc_k8s_app="kube-state-metrics"}

The namespace should be "segmenter" ins

[2017-05-06 19:15] sheerun commented on #138
Hmm I'm not sure it's the reason. What exacly happens is in grafana's "Deployment" panel there's only "default" namespace to choose. If selected it shows deployments from all namespaces, even these not in "default" namespace, like segmenter.

Now, when I select segmenter deployment it shows just replicas statistics, but it's missing "CPU", "Memory" and "Network" stats. Now when I enter manually "s

[2017-05-06 19:27] sheerun commented on #138
Yeah, the dashboard wants to show following metric:

[code]

while I believe it should be:

[code]

Do you want to fix this metric (rename exported_namespace to namespace) or rather expression in grafana configuration?

[2017-05-07 10:57] brancz commented on #138
You need to use the `honor_labels` configuration for Prometheus, then Prometheus uses the label values of the exposed metrics and does not resolve collisions with labels that would be added by the targets' labels.

[2017-05-08 05:51] lesterwang commented on #127
I add the `--apiserver` args to the container, then no error happens, seems the default apiserver argument can't access the kubernetes cluster

[2017-05-08 05:51] #127 closed

[2017-05-08 07:47] #138 closed

[2017-05-08 08:16] brancz commented on #137
Yes it does, that's the whole point of the `kube_pod_labels` metric. The label-set represents the identity of the time-series, therefore when labels change it is a new/different time-series. Therefore we want to keep all labels out of the metric that are not there for identifying the particular time-series. So yes, it is unnecessary to duplicate this information, as we can then based on the pod/co

[2017-05-08 09:03] andrewklau commented on #137
Is there any Prometheus query examples for joining these labels?

[2017-05-08 09:07] zouyee opened #139 "kube_pod_info using CreatedByAnnotation or OwnerReference"
is it important to update `kube_pod_info` from `CreatedByAnnotation` to  `OwnerReference`?
@brancz

[2017-05-08 10:00] brancz commented on #139
On a best effort basis, we should try to provide both. AFAIK the created by annotation is only informative whereas the owner reference is actually used by the GC, so they can potentially both be interesting. Therefore the owner reference should be added, but the created by label should not be removed. Also for compatibility reasons.

[2017-05-08 11:01] brancz commented on #137
A simple example would be to join the `kube_pod_labels` metric onto the `kube_pod_info`:

[code]

[2017-05-08 11:09] andrewklau commented on #137
Thanks!

[2017-05-08 11:09] #137 closed

[2017-05-08 12:41] #109 closed

[2017-05-09 07:31] #111 closed

[2017-05-12 07:14] zouyee commented on #139
Hi @brancz, According to the struct of [OwnerReference](https://github.com/kubernetes/contrib/blob/d519cddaa0b85d37cc912fa6cf2c0592c2b8cf74/election/vendor/k8s.io/kubernetes/pkg/api/meta/metatypes/types.go#L24)  ,I will add owner-kind、owner-name and controller labels, would you have any suggestions? thank you!

[2017-05-12 08:41] brancz commented on #139
That sounds reasonable. Go for it! :slightly_smiling_face:

[2017-05-12 09:40] nvartolomei commented on #63
@brancz looks like there is no easy way to support multiple kubernetes versions using a single client.

https://github.com/kubernetes/client-go/issues/183

[2017-05-12 09:44] brancz commented on #63
I guess then we people will just have to disable the collector and that way we can provide backward compatibility on a best effort basis, but not for multiple versions of the same object. At least there is some light at the horizon, but it doesn't sound like we can wait for that.

[2017-05-12 09:58] nvartolomei commented on #63
@brancz what light? Looks like there is only one proper solution, to have different kube-state-metrics releases to match kubernetes (api) versions.

There will be conflicts each time apis graduate or deprecated and deleted (from client-go too).

[2017-05-12 10:04] brancz commented on #63
He mentioned that they're planning to release generators to generate the clients for deprecated APIs .. that's basically what https://github.com/ericchiang/k8s already does, however it is currently lacking the informer functionality that we heavily rely on.

That said, what I meant is that we can't wait for the generators to be released, and for now we'll have to move forward with what we have.

[2017-05-12 10:34] andyxning commented on #139
@zouyee How is controller labels added? joined with comma for each `key=value` pair?

[2017-05-12 11:14] brancz commented on #139
Yes would be good if you can clarify @zouyee, otherwise the `owner_name` and `owner_kind` labels sound good. We may actually want to split the created_by label into multiple labels of the same style as well.

[2017-05-15 00:39] zouyee commented on #139
[#142](https://github.com/kubernetes/kube-state-metrics/pull/142)

[2017-05-16 01:28] robsonpeixoto opened #143 "Fail to install on GKE"
[code]

[2017-05-16 05:59] zouyee opened #144 "example in each metric doc"
is it suitable to add a column for  example？@andyxning @brancz
# Pod Metrics

| Metric name| Metric type | Labels/tags | Examples   |
| ---------- | ----------- | ----------- |----------- |
| kube_pod_info | Gauge | `pod`=&lt;pod-name&gt; <br> `namespace`=&lt;pod-namespace&gt; <br> `host_ip`=&lt;host-ip&gt; <br> `pod_ip`=&lt;pod-ip&gt; <br> `start_time`=&lt;date-time since kubelet acknowledged pod

[2017-05-16 07:36] #139 closed

[2017-05-16 07:48] brancz commented on #143
It's just complaining about the apiVersion of the RBAC resources. Bumping those to v1beta1 should do the trick. Could you try that out @robsonpeixoto and create a PR if that does it?

[2017-05-16 07:58] brancz commented on #144
I don't think examples in this format make a whole lot of sense, the most sense I could see involving examples are example queries.

I'm not against having example queries but there are a few things to consider:

* having an examples section like that is a huge maintenance effort, which might be worth it, but it requires some commitment
* there are multiple systems consuming the Prometheus exposit

[2017-05-16 10:41] robsonpeixoto commented on #143
@brancz Done

[2017-05-16 12:47] andyxning commented on #144
I agree with @brancz .

Recording and updating the metrics and labels is already a maintenance burden. Since we have already record all the labels for a metric, it is easy enough for users to find the actual metric examples. :)

Maybe we should firstly resolve #123.

[2017-05-16 13:04] brancz commented on #144
That's probably a good idea @andyxning , as it has a more explicit use and people would actually notice if something is wrong if they are loading the dashboards into their grafana instances, so I agree that that's probably a better point to start.

[2017-05-17 01:09] #144 closed

[2017-05-22 15:04] devth commented on #63
Is this still blocked?

[2017-05-22 15:51] brancz commented on #63
We should do what we can get out of a 1.6 cluster, so aside from having to update client go this should be possible to be worked on.

[2017-05-31 08:23] WIZARD-CXY opened #147 "Two same metrics exist??"
Hi, I deployed the kube-state-metrics according to the doc and find that there exists two different records for one same metric like kube_pod_container_status_restarts , only instance label is different?

{container="kube-controller-manager",instance="172.20.250.58:8080",job="kubernetes-service-endpoints",k8s_app="kube-state-metrics",kubernetes_name="kube-state-metrics",kubernetes_namespace="kube-

[2017-05-31 10:13] andrewhowdencom commented on #147
it looks like they're difference instances of the controller manager. Have you got two copies of those running on your cluster?

[2017-05-31 13:52] brancz commented on #147
@WIZARD-CXY yes this is for HA purposes, there are two different approaches you can take here:

1) use a pessimistic approach when querying for kube-state-metrics, and perform for example doing something like:

[code]

2) Just run a single instance of kube-state-metrics.
3) Instead of whitebox monitoring kube-state-metrics put it behind a service and load balance to the instances. As kube-state-me

[2017-06-01 02:51] WIZARD-CXY commented on #147
@andrewhowdencom I have only one instance of controller-manager, the instance label represents state-metrics pod, not controller-manager

[2017-06-01 02:53] WIZARD-CXY commented on #147
@brancz aha I agree that "running a single instance should be perfectly fine" too

[2017-06-01 02:53] #147 closed

[2017-06-12 12:56] #143 closed

[2017-06-22 07:21] zenman94 opened #152 "Get metrics only for one namespace"
Dear all,

I try to deploy monitoring on a CaaS. I'm limited to one namespace on a Kubernetes cluster and I try to monitor deployments, replicas, respawn in this namespace.
When I try to deploy kube-state-metrics I have a lot of error because it list all cluster objects :
_User *** cannot list all pods in the cluster_

Is it possible to limit listing activity only for one or some namespace depit o

[2017-06-22 09:59] brancz commented on #152
It is currently not possible, but can be implemented. Do you want to give it a shot?

[2017-06-22 18:47] blakebarnett commented on #63
Hoping https://github.com/kubernetes/kube-state-metrics/pull/151 goes in and 0.6 gets released soon!  Would love to have jobs/cronjob and statefulset metrics.

[2017-06-23 06:29] Steniaz commented on #63
@blakebarnett I was just about to mention my PR on this issue. I am also waiting for StatefulSet metrics. So I am hoping that someone reviews my PR as soon as possible

[2017-06-23 07:34] brancz commented on #63
I reviewed and merged #151, there is one more thing I would like to get into the next release, which is selecting which namespaces to gather the objects from. I don't think I'll get to implementing that before next week, but after that I'll do another release. It's coming! :slightly_smiling_face:

[2017-06-23 07:35] brancz commented on #63
Closing here as #151 is merged.

[2017-06-23 07:35] #63 closed

[2017-06-23 07:37] brancz commented on #72
Closed by #131

[2017-06-23 07:37] #72 closed

[2017-06-23 13:22] bksteiny commented on #135
Hey @brancz - do you think it would be possible to cut a new release since it's been a while since the previous one? Pulls #151 and #131 are particularly important for a project I'm working on. I could build and host on our own registry, but ideally we'd use what's available either on quay.io or gcr.io

Thanks in advance

BTW- v0.5.0 is on gcr.io now, so this issue can most likely be closed

[2017-06-23 13:38] brancz commented on #135
Thanks for the notice @bksteiny we're actually attempting GA (aka 1.0) release of kube-state-metrics. So the release is coming up as soon as we can, but it's coming! :slightly_smiling_face:

[2017-06-23 13:38] #135 closed

[2017-06-23 14:08] bksteiny commented on #135
Thanks for the info, @brancz. Do you have a rough timeline on when you think 1.0 will be available? If it won't be for at least a month, we may need to host on our own registry for the time being to meet our deadline.

[2017-06-23 14:58] brancz commented on #135
@bksteiny I'm certain it won't happen before the end of next week. If all goes well _maybe_ Friday.

[2017-06-28 10:51] brancz commented on #50
Closed by #56 and #54

[2017-06-28 10:51] #50 closed

[2017-07-03 14:38] piosz commented on #124
@loburm will help with scalability tests

[2017-07-04 03:13] zouyee commented on #152
some resource are unscoped with namespace,such as node,etc.

[2017-07-04 03:16] zouyee commented on #122
namespace DONE

[2017-07-04 09:52] fabxc opened #161 "Phase metrics are not following enumeration semantics."
For pod conditions we introduced enumerations (true, false, unknown). For each possible state, an object exposes a time series. The series for the condition the pod is currently is set to 1, the others to 0.

Now we have new metrics like the pod phase, which broke with that pattern and just expose a single series by flipping the label value to whatever phase we are currently in.
This breaks variou

[2017-07-04 09:57] brian-brazil commented on #161
There's generally 3 options:

1) have it as a single enum time series. Hard to use.

2) Have one time series per potential state. Easy to use, but creates many time series.

3) Have one or more bools that capture the states the user really cares about, e.g. `is_finished` would cover succeeded and failed. This depends on use cases.

You could combine 1) and 3), I don't think anyone is doing 3) anyw

[2017-07-05 10:04] loburm opened #162 "Decrease number of labels for some metrics"
I'm working on integration of kube-state-metrics with prometheus-to-sd. Recently have met one really big issue related to the metric kube_pod_labels. As I have understood this metric in theory can have unlimited number of labels attached to it:

https://github.com/kubernetes/kube-state-metrics/blob/3bf74507e082607d9ce6d5c935efe6459d67099d/collectors/pod.go#L220

Unfortunately we can't create metri

[2017-07-05 10:34] matthiasr commented on #162
If someone attaches more than 10 labels to their Kubernetes pod, how should that be represented in StackDriver?

[2017-07-05 11:15] fabxc commented on #162
What would you suggest to do? The only viable solution seems to be to truncate the list of labels at a certain point or to split it up into `kube_pod_labels_{1,...,N}`.
I think any modifications to the model kube-state-metrics exposes is the wrong place to work around limitations of the ingesting system. The next system can only hold 8 labels – what do we do then?

The labels metric is indeed a sp

[2017-07-05 12:04] piosz commented on #162
@fabxc my understanding was that we want to have a limited cardinality of metrics, while by simple 1:1 mapping of Kubernetes labels to Prometheus labels we can't control this at all. I think having >10 labels is fine as far as it's a limited set. Am I wrong?

[2017-07-05 12:15] matthiasr commented on #162
the total cardinality of this metric is still limited to 1 per pod in the cluster. that's as limited as we can reasonably get it :)

Prometheus & its data model do not impose a limit on the number of labels, and neither does Kubernetes. There is already a precedent for downstream systems having issues with this, OpenTSDB is limited to 8 labels (by default?). I agree with @fabxc that the exporter i

[2017-07-05 12:23] fabxc commented on #162
I think they worked on getting rid of that a while ago.

@piosz right, we care about metric cardinality being within estimate-able bounds. That's typically violated if we have an unknown number of values for different labels and those labels occurring in arbitrary combinations with each other.
Here we have a lot of labels – but the set is generally fixed for the pod.

[2017-07-05 13:39] andyxning commented on #162
I agree that limitation should be done in the tsdb storage instead of the upstream. And also, tsdb storage should make the result consistentand predicatable across multiple write when the lable number exceeds the limitation. Fox example, if we choose to drop some labels, we tsdb storage may first sort the labels and then cut at the first acceptable number. This makes the storaged labels predicatab

[2017-07-05 13:47] piosz commented on #162
Thanks for the clarification. If the cardinality of O(#pods) is fine let's close the issue then.

[2017-07-05 13:54] loburm commented on #162
Thanks guys. That makes sense.

[2017-07-05 13:54] #162 closed

[2017-07-05 15:04] errordeveloper opened #163 "kube_pod_info{start_time=...} documented, but unimplemented"
See https://stackoverflow.com/a/44862179/717998.

[2017-07-05 15:10] fabxc commented on #163
I noticed this yesterday myself and was quite happy it wasn't actually there in the form it is documented.
It's generally a classical example for something that can be captured as a number and thereby be used for alerts and more. As a string it has very limited value.

If there's a valid use case, I'm happy to review a pull request adding it as a metric with the Unix timestamp as a value.

[2017-07-06 09:40] loburm opened #164 "Support of Summary metric type"
Currently prometheus-to-sd supports only Gauge, Counter and Histogram. We still missing support of Summary. Considering that summaries are not aggregatable I think it should map to Gauge, Distribution type in stackdriver.

[2017-07-06 09:42] loburm commented on #164
/assign @loburm

[2017-07-06 09:47] loburm opened #165 "Support metric types with floating point"
If we have Gauge of Counter type then we automatically assign to it int64 value type. Unfortunately there is no value type in the prometheus format, so we need to try to determine it base on the actual metric numbers.

[2017-07-06 09:47] loburm commented on #165
/assign @loburm

[2017-07-06 09:48] loburm commented on #164
Sorry wrong github component.

[2017-07-06 09:48] #164 closed

[2017-07-06 09:48] loburm commented on #165
Sorry wrong github component.

[2017-07-06 09:48] #165 closed

[2017-07-06 13:42] camilocot opened #166 "k8s.io/kube-state-metrics/collectors not found"
I'm tryng to download project dependencies but I get the following error for `k8s.io/kube-state-metrics/collectors` package:

[code]

[2017-07-06 16:27] SleepyBrett opened #167 "kube_pod(_container)?_status_*, Add label for reason"
Right  now we're running into some issues that are hard to find with the current kube_pod_status_* and kube_container_status_* metrics.

On the pod_status side there are only four possible states (that I have seen) Running, Pending, Succeeded, Failed. One problem is that it's really hard to detect what kubernetes calls CrashLoopBackOff.

It might be nice to expose metrics more in line with what ku

[2017-07-06 16:37] fabxc commented on #167
AFAIK the "reason" is not a known enumeration but possibly an arbitrary field. That makes it not directly suitable for putting into a metric label.

Can you elaborate your use case a bit? In which cases is knowing "Failed" not enough for the stage where one would look at a metric?

[2017-07-06 16:46] SleepyBrett commented on #167
For instance, I have to go through a lot of contortions to find if a pod is in crashloop backoff ( my current unsatisfactory solution is `(increase(kube_pod_container_status_restarts{namespace="kube-system"}[10m]) > 1)` but man would `kube_pod_status_phase{namespace="kube-system",reason="CrashLoopBackOff"}` be nicer.

Another case is due to a bug in docker, but it's been a bug for a long time and

[2017-07-07 09:47] alamaison opened #168 "0.6 release?"
Is it a good time for a 0.6 release?  We use the public docker images and would like to take advantage of the recent StatefulSet support.

[2017-07-07 10:53] alamaison opened #169 "Record deployment labels"
How can we filter the deployment metrics such as `kube_deployment_status_replicas_available` by labels we define in the deployment

We label each deployment/service/etc with the project it belongs to.  Each project has its own prometheus, and alerts are defined there.  We would like to be able to alert on replica unavailability, but without the project label being included in the metric, each proj

[2017-07-07 12:21] matthiasr commented on #169
Generally, the idea is to "join" with a `kube_XXX_labels` metrics, but that metric does seem to be missing for deployments. Would you mind sending a PR? See [how it's done for services](https://github.com/kubernetes/kube-state-metrics/blob/be6842aa31d0ec421d27c33e4754f7f6a6cc16e0/collectors/service.go#L115-L116) for inspiration.

[2017-07-07 13:39] bksteiny commented on #168
@alamaison there's some discussion about that here https://github.com/kubernetes/kube-state-metrics/issues/135

Unless something has changed, @brancz is targeting 1.0 (GA) for the next release.

[2017-07-09 09:24] nleib commented on #57
+1
I think its important to know the number of endpoints, so we can alert in case of 0 endpoints on a service.
so metric of number of endpoints on a service is must.

thanks

[2017-07-12 15:56] syedashrafulla opened #173 "For some sets of metrics, export each set as a single metric."
The advantage of such a compaction of metrics is
- users can aggregate (say, in Stackdriver) rather than relying on a separate "total" metric,
- all the interesting metrics can be returned in one fetch rather than multiple fetches,
- the metrics can end up in the same shard for sharded monitoring solutions such as Stackdriver, and
- the metrics are more clearly defined by measurement instead of me

[2017-07-17 09:41] brancz commented on #57
I'm happy to review if anyone wants to work on this.

[2017-07-17 09:48] brancz commented on #168
I was on vacation for two weeks. First GA we still have to perform some scalability tests, but after that we should be good if nothing big comes up.

I have some other things that are higher priority for me right now, but after that I'll get right to this.

[2017-07-17 09:49] brancz commented on #152
That's absolutely correct @zouyee, I would say that we still include all objects of those kinds, and then a user has to disable those collectors if they are not wanted.

[2017-07-17 13:27] brancz commented on #124
I'm now back from vacation and can help coordinate. @loburm and @piosz let me know how/when you want to tackle this.

[2017-07-17 13:43] brancz commented on #169
I'll be happy to review any PRs for this! :slightly_smiling_face:

[2017-07-17 13:58] brancz commented on #166
not sure why it's not go get-able (I don't have any influence or knowledge of how the k8s.io stuff is handled), but if you clone the github repo into that source, it's builds properly for me

[2017-07-17 14:49] brancz commented on #161
We should figure this out before GA, right now we're still able to break, but once we go GA it will be harder/not possible.

[2017-07-17 14:58] brancz commented on #173
Why the metrics are the way they are is because we wanted to consistently name the metrics by the keys of the kubernetes objects, I'm open to changing this, but its quite breaking and invasive, so I want to make sure we're actually gaining a lot from this if we do end up implementing it:

I don't understand this point, can you elaborate?

This highly depends on the query language and the underlyin

[2017-07-20 08:27] loburm commented on #124
@brancz for the scalability testing we need to have some scenario to test against. I think we should concentrate only on testing metric related to nodes and pods mostly (I assume that other parts should consume significantly smaller amount of resources). How many nodes and pod should be present in the test scenario?

[2017-07-20 09:43] brancz commented on #124
@loburm I'm completely new to the load tests, so I suggest to start with whatever seems reasonable to you. My thoughts are the same as yours, the number of pods metrics are expected to increase linearly with the number of other objects, so focusing on those and nodes sounds perfect for our load scenarios.

Testing with the recommended upper bound of recommended pods/nodes in a single cluster would

[2017-07-20 09:49] piosz commented on #124
We had a chat offline and we will try to test the following scenarios:
1. 100 nodes cluster, 30pods/node
2. O(1000) nodes cluster, 30 pods/node

@loburm will verify:
1. what is the approximate resource usage in both cases
2. what is the average request latency
3. whether there any other obvious issues

[2017-07-20 09:51] brancz commented on #124
Great thanks a lot @piosz and @loburm !

[2017-07-20 10:04] matthiasr commented on #124
One issue (that we can only do so much about) is the size of `/metrics` and
the time it takes Prometheus to scrape it. Putting some bound on that could
inform future decisions on adding metrics.

On Thu, Jul 20, 2017, 11:51 Frederic Branczyk <notifications@github.com>
wrote:

[2017-07-20 10:13] brancz commented on #124
Thanks for the heads up @matthiasr! Yes that's one of the bottle-necks I can see happening. We may have to start thinking of sharding strategies for `kube-state-metrics`.

[2017-07-20 12:51] shiranp opened #174 "Error when building from master"
I don't have much experience with go so maybe i'm missing something.
I needed the StatefulSet collector so I am building from master in a docker image using the following Dockerfile:

    FROM golang:1.7-alpine

    ENV GOOS=linux GOARCH=amd64 CGO_ENABLED=0

    # Get Software
    RUN apk update \
     && apk add ca-certificates wget git\
     && update-ca-certificates
    RUN wget https://github.

[2017-07-20 13:18] brancz commented on #174
What is your kubernetes version?

[2017-07-20 13:33] shiranp commented on #174
@brancz I am running the api-server in a container with this image: gcr.io/google-containers/hyperkube-amd64:v1.5.2

[2017-07-20 13:34] shiranp commented on #174
@brancz The Prometheus server is external by the way.

[2017-07-20 13:39] shiranp commented on #174
I forgot to mention: i have no problems when i run the v0.5.0 image from gcr with the same setup.

[2017-07-20 14:13] piosz commented on #124
Do you think it would be possible to have some kind of pagination support for `/metrics` handler?

[2017-07-20 14:44] andyxning commented on #124
How about we split the scrape endpoints according to different collectors, i.e., pods state metrics is available on `/metrics/pods`.

Cons: this will make Prometheus configuration more complicated.

[2017-07-20 14:47] brancz commented on #174
My suspicion is that there are fields different in Kubernetes 1.6 (which is the version of the used version of client-go is based off of). Could you just start kube-state-metrics with the statefulset collector disabled? Also an example yaml of a statefulset that you are running in your cluster would also help (including the status object).

[2017-07-20 14:50] brancz commented on #124
What @andyxning is suggesting is certainly possible, but is likely to just postpone the problem. @piosz I'm not aware of any precedence of that, but paging within the same instance of kube-state-metrics would also just postpone the problem, as I can imagine that the memory consumption is also very large in cases where response timeouts are hit.

[2017-07-20 14:55] andyxning commented on #174
Currently, client-go 2.0 is the dependency. According to the docs, it is compatible with Kubernetes 1.5.

[2017-07-20 14:56] shiranp commented on #174
The all reason I'm building from master is because i need the statefulset collector.

    kubectl get statefulsets/elastic-data --namespace=some-app -o=yaml
    apiVersion: apps/v1beta1
    kind: StatefulSet
    metadata:
      annotations:
        pod.alpha.kubernetes.io/initialized: "false"
      creationTimestamp: 2017-07-10T10:46:40Z
      generation: 1
      labels:
        role: data

[2017-07-20 14:59] loburm commented on #124
@andyxning I think that will add unnecessary complexity and as I have understood common rule is to expose metrics on `/metrics`. We can achieve the same by creating multiple instances of kube-state-metrics and each one is responsible for one or multiple collectors we have a special flag for this.

And let me first perform some tests and once we have some real numbers, we can start thinking about p

[2017-07-20 15:02] brancz commented on #124
Completely agree with @loburm, measure first.

[2017-07-20 15:09] shiranp commented on #174
@brancz @andyxning Just tested with apiserver v1.6.2 and the error still occurs

[2017-07-20 15:26] andyxning commented on #174
I have downloaded the 1.5.2 release and tested the compiled binary with it. I can successfully get the  `/metrics`.

[2017-07-20 15:30] andyxning commented on #174
@shiranp

can you please edit the source code file `/go/src/k8s.io/kube-state-metrics/collectors/statefulset.go`. Add some debug log about the value of the variables before line 95.

[code]

[2017-07-20 15:45] matthiasr commented on #124
yeah, I didn't mean this as "needs immediate changes", but it would be good to measure and monitor for regression. Our cluster is fairly sizable, and the response _is_ big, but not unmanageable. For now I'd just like to have a rough idea of what to expect as we grow the cluster more :) Even "if your cluster has >10k pods, raise the scrape timeout to at least 20s" is something to work with.

[2017-07-20 15:59] shiranp commented on #174
@andyxning
After adding the line:

    93:        }
    94:        glog.Infof("%#v", *statefulSet.Status)
    95:        addGauge(descStatefulSetStatusReplicas, float64(statefulSet.Status.Replicas))
    96:        addGauge(descStatefulSetStatusObservedGeneration, float64(*statefulSet.Status.ObservedGeneration))

I get this error at build:

    # k8s.io/kube-state-metrics/collectors
    ../src/k8s.

[2017-07-21 00:54] andyxning commented on #174
Sorry @shiranp. I have updated the comment with the correct syntax.

glog.Infof("%#v", statefulSet.Status)

[2017-07-21 01:02] andyxning commented on #124
Aggreed with @loburm. Btw, It still needs to add more configurations to Prometheus for one cluster . :)

[2017-07-21 10:29] camilocot commented on #166
Thanks. It's working properly.

[2017-07-21 10:29] #166 closed

[2017-07-21 11:29] brancz commented on #166
happy to help

[2017-07-24 14:05] alamaison commented on #169
I've PRed #175 but I'm not a Go programmer so its a bit of a cargo-cult job.  I added statefulsets as well.

[2017-07-25 08:19] brancz commented on #124
@lobrum any updates on how the scalability tests are coming along?

[2017-07-26 15:38] andyxning commented on #174
@shiranp @brancz I have make a PR to fix this panic in #176.

[2017-07-26 15:54] #174 closed

[2017-07-27 09:11] loburm commented on #124
Yesterday I have finished testing kube-state-metrics on 100 and 500 node clusters. Today trying to perform it on 1000 node cluster, but have small problems with density test. But base on the first numbers I can say that  memory, cpu, latency depend on the number of nodes almost linearly.

I'll prepare small report soon and will share with you.

[2017-07-27 11:56] andyxning commented on #169
@alamaison Maybe we could close this issue since #175 has been merged.

[2017-07-27 12:03] andyxning commented on #129
This info maybe informed from the version of client-go which has a clear [compatibility matrix](https://github.com/kubernetes/client-go#compatibility-matrix) with Kubernetes. Maybe we should add some info about the version of client-go and make the users to refer to client-go compatibility matrix with the supporting Kubernetes version.

[2017-07-27 12:13] brancz commented on #169
Agreed with @andyxning . Closing here. Thanks a lot for your effort @alamaison !

[2017-07-27 12:13] #169 closed

[2017-07-27 15:19] loburm commented on #124
Sorry that it took so much time, running scalability test on 1000 node cluster was a bit tricky.

I have written all numbers down in the doc: https://docs.google.com/document/d/1hm5XrM9dYYY085yOnmMDXu074E4RxjM7R5FS4-WOflo/edit?usp=sharing
If you want I can add additional screenshots from the kubernetes dashboard to the doc (except 1000 node cluster, heapster just died).

[2017-07-27 15:24] andyxning commented on #152
Working on this recently. :)

[2017-07-28 13:40] fabxc opened #180 "Handle pod status phase correctly"
The [status phase metric](https://github.com/kubernetes/kube-state-metrics/blob/e8e5e144678064d3f4d3ba5bd8e1bbaeea9daf96/collectors/pod.go#L273) for pod's is currently set to 1 for the phase it is in. No series are exposed for for the phases it is not in. That's not the correct approach for enumerations.

We've to export a series for each possible phase. Phases the pod is not in must be set to 0.

[2017-07-28 15:51] andyxning commented on #124
@loburm

I am curious about the three stages. Can you please explain it more detailly. :)
* only a system one present.
  * only one system pod?
* what is the difference about `Loaded` and `After request`?

[2017-07-28 18:20] matthiasr commented on #124
Sweet! should we distill this into a recommendation for resources? 2MB per
node (minimum 200MB) + 0.001 cores per node (0.01 minimum)?

On Fri, Jul 28, 2017, 17:51 Ning Xie <notifications@github.com> wrote:

[2017-07-29 02:19] andyxning opened #183 "Update client-go to support Kubernetes 1.7"
I think we should update client-go to `4.0.beta.0` to support Kubernetes 1.7 since it has been released.

This should be done before 1.0 GA.

/cc @brancz @fabxc

[2017-07-30 13:24] andyxning commented on #85
@rvrignaud I am not sure whether you want release binaries or release images.

As for release binaries, maybe #153 will fully accomplish your requirement.

[2017-07-30 15:07] shiranp commented on #174
Hi, @andyxning @brancz

The last error is indeed fixed but I am now getting the same error for job collector:

    panic: runtime error: invalid memory address or nil pointer dereference
    [signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x53e794]
    goroutine 123 [running]:
    panic(0x13364c0, 0xc420016060)
            /usr/local/go/src/runtime/panic.go:500 +0x1a1
    k8s.io/kube-

[2017-07-31 02:34] andyxning commented on #174
@shiranp

Seems like a similar problem. I will take a look at this later today. However, i am wondering why some of the collector will not work properly in your env.

Could you please add some version info about Kubernetes and does any special changes you make to your env.

[2017-07-31 03:32] WIZARD-CXY opened #186 "Want to add a new node condition metric(KernelDeadlock)"
Hi~
     I am using node-problem-detector (https://github.com/kubernetes/node-problem-detector) for detecting any kernel and docker problems on my node. I notice there already has some node metrics(https://github.com/kubernetes/kube-state-metrics/blob/master/Documentation/node-metrics.md). I want to add more conditions like KernelDeadlock node condition into kube-state-metrics. After  a quick code

[2017-07-31 05:04] andyxning commented on #186
@WIZARD-CXY We have discussed about adding `KernelDeadlock` condition to Kubernetes api and it is closed for the reason that npd is a side-car component for Kubernetes and npd has not any enforcement about the condition name which you ref as `KernelDeadlock`.

For more info about this discussion, [go to Kubernetes #44099](https://github.com/kubernetes/kubernetes/pull/44099)

[2017-07-31 05:31] andyxning commented on #174
@shiranp I have make a PR about fix this panic. please take a look at #187

[2017-07-31 06:54] WIZARD-CXY commented on #186
@andyxning thx

[2017-07-31 06:58] #186 closed

[2017-07-31 07:58] linhdsv opened #188 "Unable to show metrics on my own services"
![image](https://user-images.githubusercontent.com/19921743/28768056-7407bf38-7600-11e7-831a-efe7ad071f7c.png)
It shown my endpoints in target page but its state always be DOWN. What am I missing here?
BTW I'm using Prometheus-operator.

[2017-07-31 08:06] loburm commented on #124
@andyxning empty cluster has only pods that belong to kube-system namespace and created by scalability test at the beginning:
 - dashboard
 - heapster
 - grafana, influxdb
 - node problem detector
 - kube-proxy
 - kube-dns
 - fluentd

in average it's near 4-5 pods at the beginning. So at the end we really have 34-35 pods per node.

"Loaded" was measured when cluster was stabilized after all pods c

[2017-07-31 08:07] brancz commented on #183
I'm afraid of the effects this could have on the recently performed scalability tests, but given that the kubernetes components themselves use these components and they are more regulargly load/scale tested, this should generally be safe.

[2017-07-31 08:20] brancz commented on #85
As mentioned in the PR, I don't think we will start releasing binaries, until google opens up the release process to us. For the time being it will just be amd64 container images that are published on gcr by google people and on quay by me or @fabxc.

[2017-07-31 08:33] #129 closed

[2017-07-31 08:38] #180 closed

[2017-07-31 09:22] brancz commented on #188
Can you describe your setup a bit more?

* Which Kubernetes version are you using?
* Post your kube-state-metrics manifest
* Post your kube-state-metrics service manifest

[2017-07-31 09:32] linhdsv commented on #188
- Kubernetes  version: `v1.7.1`
- setup file:
[code]

[2017-07-31 09:35] brancz commented on #188
`gcr.io/google_containers/kube-state-metrics:v0.3.0` is quite outdated, I'm not sure it's compatible with Kubernetes v1.7.1 (also did you mean Kubernetes 1.7.1 or Prometheus 1.7.1?) could you upgrade to the latest kube-state-metrics release?

[2017-07-31 09:43] brancz commented on #188
I just noticed, this is not about kube-state-metrics showing metrics? As the service label says "lumin-document-exporter". Are you actually having a problem with the server or metrics that kube-state-metrics exposes?

[2017-07-31 09:47] linhdsv commented on #188
Sorry my bad, current Kubernetes version I'm using is `v1.5.4`.

Yes, that's my own service to be exposed metrics by kube-state-metrics (in this case, I've just replace `example-app` by <my_own_service_name>). But it seems like not any metrics been exposed by `kube-state-metrics` on my own service.

[2017-07-31 09:53] brancz commented on #188
In that case you need to first make sure you are discovering kube-state-metrics. So far I don't see a problem with kube-state-metrics itself.

[2017-07-31 11:20] andyxning commented on #124
@loburm Got it. Thanks for the detailed explaination.

[2017-07-31 13:00] #183 closed

[2017-07-31 17:51] grodrigues3 commented on #85
@kubernetes/sig-release-feature-requests

[2017-08-01 03:18] cofyc opened #192 "kube_service_labels metric has inconsistent label dimensions"
Hi, guys

In recent commit 1f8761d4b0b1047e0d1651bff7be19a2bbd34a4a, prometheus [client_go](https://github.com/prometheus/client_golang) library is updated, it checks inconsistent label dimensions now, `/metrics` will report following errors (test against kubernetes `./hack/local-up-cluster.sh`):

[code]

I checked the previous version of prometheus `client_go` library, found that `checkMetricCons

[2017-08-01 07:32] matthiasr commented on #192
I think for this particular metric we need to disable it. Labels are necessarily inconsistent between Kubernetes objects, even of the same kind. Is it possible to disable this check _just_ for the `_labels` metrics?

[2017-08-01 07:33] matthiasr commented on #192
As a hotfix I think we should disable it wholesale to unbreak things.

[2017-08-01 08:19] #163 closed

[2017-08-01 08:37] brancz commented on #192
Yes this was my bad, I should have caught it when reviewing. We previously disabled this check manually. I'll get right to it. Thanks a lot for reporting!

[2017-08-01 09:06] piosz commented on #124
Thanks @loburm. It seems from scalability point of view kube-state-metrics is ready for 1.0.
@matthiasr could you please add what you wrote to the documentation?

[2017-08-01 09:10] brancz commented on #124
@piosz I'm preparing everything for the release and am hopeful that I can then publish the release this week. We'll have to fix #192 though before we do. I'm already on it.

[2017-08-01 09:57] #192 closed

[2017-08-01 13:55] rndstr opened #195 "Allow aggregation of pod metrics by service"
Similar to #70 I'm looking for a way to gather all the pods, but belonging to a service. Since one pod can be selected by multiple services it could be something like `kube_pod_services{pod=…, service=…}`.

Would there be interest for this in `kube-state-metrics`?

[2017-08-01 15:12] matthiasr commented on #195
How would you determine the service(s) connected to a pod?

Services and pods are not the only things with a relation in Kubernetes, and the relations are always governed by label selectors. If we do this for pod/service, should we do it for other relations too? Which ones?

You can get _basically_ this by using `kube_pod_labels{…reproduce the label selector from the service…}`. I wonder if it wou

[2017-08-01 15:24] matthiasr commented on #124
let's do RCs

[2017-08-01 15:51] brancz commented on #195
Prometheus has endpoints discovery, which gives you meta labels for of the endpoints/service object that particular pod is selected by, that's the way we relabel the that information onto the target, instead of going over additional information.

What use case are you looking to use that for?

[2017-08-01 17:10] rndstr commented on #195
@brancz one use case is to get the cpu usage of a service by its name (=sum of all pods selected by this service). Currently, we make assumptions about the way that a pod is selected but we would like to make this more robust for all possible selector combinations.

Thanks for the hint, but it seems the [prometheus meta labels](https://github.com/prometheus/docs/blob/master/content/docs/operating/

[2017-08-02 08:48] brancz commented on #167
I misunderstood this the first time I read it. I think this is more something that should be done once we as operators troubleshoot. This is indeed a completely free form value therefore this is likely to cause problems in terms of time-series churn.

[2017-08-02 08:53] brancz commented on #188
It turns out kube-state-metrics was working fine here, it was another problem, discussed in the other thread.

[2017-08-02 08:53] #188 closed

[2017-08-02 13:15] brancz commented on #124
rc.1 is out: I published quay.io/coreos/kube-state-metrics:v1.0.0-rc.1 for testing, and @loburm will publish the image on gcr.io within the next half an hour.

[2017-08-02 13:36] brancz commented on #124
@loburm now has published the image on gcr: gcr.io/google_containers/kube-state-metrics:v1.0.0-rc.1

[2017-08-03 02:35] WIZARD-CXY commented on #124
@fabxc how about "provide deployment manifest that scales with cluster size using pod nanny", do you need any help working on it? I think I can help with it based on this resource recommendation https://github.com/kubernetes/kube-state-metrics/pull/196

[2017-08-03 06:34] andyxning commented on #168
@alamaison @bksteiny 1.0-rc1 has been released. 👏 .

@brancz should we close this issue?

[2017-08-03 07:44] #168 closed

[2017-08-03 12:17] andyxning commented on #152
@zenman94 @zouyee I have proposed a PR to add this functionality to kube-state-metrics in #201 . PTAL.

As for resources, i.e. nodes, which do not binding with a namespace, you should disable them with `collectors` command line argument like @brancz advised. :)

[2017-08-04 17:41] ixdy commented on #166
`go get k8s.io/kube-state-metrics/collectors` should work now. thanks to @samuelmanzer for the fix.

[2017-08-06 09:01] shiranp commented on #174
Hi @andyxning,
First of all thanks for all your help, everything seems to work properly now.
Here is some version and setup info, if there is anything else you want to know, ask:

    uname -a
    Linux Server-name 3.10.0-514.16.1.el7.x86_64 #1 SMP Wed Apr 12 15:04:24 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

    cat /etc/os-release
    NAME="CentOS Linux"
    VERSION="7.20170428 (Core)"

    docke

[2017-08-07 07:16] simt2 opened #208 "gcr.io/google_containers/kube-state-metrics:v1.0.0-rc.1 is missing PersistentVolumeClaim metrics"
I just deployed `gcr.io/google_containers/kube-state-metrics:v1.0.0-rc.1` in my cluster to use the new PersistentVolumeClaim metrics, but it seems the image does not contain the right kube-state-metrics version or the binary is somehow missing some features:

[code]

[code]

[code]

[2017-08-07 07:27] simt2 commented on #208
I had an error in my `kube-state-metrics` cluster role and did not know the container would not fail in this case.

[2017-08-07 07:27] #208 closed

[2017-08-08 09:26] zouyee commented on #79
is it necessary to take the time to finish？ @brancz

[2017-08-08 09:41] brancz commented on #79
it's an addition but nothing blocking 1.0

[2017-08-08 12:49] unguiculus opened #212 "Alpha features should not be used by default"
v1.0.0-rc.1 uses alpha features which may not be available for every one. At least, they are not in our case on GKE. It doesn't seem to be do harm, but the log is flooded with this:

[code]

Please make the use of alpha feature configurable. Ideally they should be turned off by default.

[2017-08-08 13:21] brancz commented on #212
As we don't version along with the Kubernetes version, this question is not as easy to be answered. While a feature might be in alpha in one version it can be beta in the next version, do we then change this and essentially break for old clusters.

I discussed this with @fabxc and there is no non-breaking path of us deciding on these things meaning this boils down to being a decision of the cluste

[2017-08-08 14:45] brancz commented on #212
Not sure if my answer was clear enough on this, but there is already the possibility to enable only certain collectors (`--collectors=...` flag), so a cluster administrator can setup these according to the RBAC roles, that have to be setup anyways as well.

[2017-08-08 15:19] andyxning commented on #212
Agreed with @brancz with `the experience can be better than what we offer right now.`

[2017-08-08 15:31] matthiasr commented on #212
What if we simply swallow the error / return from the collector without producing any metrics if the error is "not found" and the resource is alpha?

This is similar to the way many (not all) collectors behave in [node exporter](https://github.com/prometheus/node_exporter) – collectors that are default-on for optional kernel features will simply return without an error if the feature isn't enabled

[2017-08-08 15:35] brancz commented on #212
@matthiasr that's also one of the ideas @fabxc and I came up with, regarding the 1.0 release that would cause significant changes, that I'd like to avoid while already being in RC phase, and this seems like something we can still improve in the future. For the record the "errors" in the logs are still caught gracefully, so functionality wise these wouldn't differ, just the errors log lines would d

[2017-08-08 15:48] matthiasr commented on #212
agree!

On Tue, Aug 8, 2017, 17:35 Frederic Branczyk <notifications@github.com>
wrote:

[2017-08-08 16:38] unguiculus commented on #212
@brancz Thanks, I was looking for something like the `--collectors` flag. Digging through the code I managed to get it working.

[2017-08-08 17:37] brancz commented on #212
Feel free to open a PR to add it to the "usage" part of the readme :)

[2017-08-09 07:03] unguiculus commented on #212
Here we go: #214

[2017-08-09 07:05] zouyee commented on #212
you can use`kubectl api-versions` to check out batch version, and could enabled `batch/v2alpha1`feture gate with kubelet

[2017-08-09 07:13] brancz commented on #212
@zouyee nice. That sounds like something we may be able to use, when I enable logging I get this:

[code]

So sounds like we can discover which APIs are enabled with this.

[2017-08-09 11:17] andyxning commented on #212
@zouyee I can not understand this. Could you please detail it. :)

[2017-08-09 15:30] zouyee commented on #212
related code [feature_gate](https://github.com/kubernetes/kubernetes/blob/7593a9f55548af7ea51d14e356e7cbbd4b86bf43/staging/src/k8s.io/apiserver/pkg/util/feature/feature_gate.go#L32),for example, if we want to enable hpa custom metrics feature， kubelet must be configured with `--feature-gates autoscaling/v2alpha1` which described feature gates for alpha/experimental features.

[2017-08-09 16:26] brancz commented on #212
Yep that makes sense, that is essentially equivalent to the `--collectors` flag that we have today. However, the idea is that the apiserver already has this information so we should be able to discover those and automatically use all available collectors compatible with the apiserver. The problem remains, that the RBAC roles have to be setup correctly for each API, unless you give it cluster admin

[2017-08-10 01:41] WIZARD-CXY opened #216 "[feature] add pod gpu resource limit and request monitoring"
Hi~
   Our team use gpu for ml task and we think it is nice to have gpu resource monitoring in kube-state-metrics, Now I find the doc, only to find it doesn't have yet。I'm happy to submit a pr to add this feature

[2017-08-10 07:29] matthiasr commented on #216
I think this makes sense. They are very similar to CPU resources, right?

On Thu, Aug 10, 2017, 03:41 Xingyu Chen <notifications@github.com> wrote:

[2017-08-10 07:45] brancz commented on #216
Yes this is perfectly reasonable to add, as @matthiasr already mentioned, it's essentially the same as memory and cpu metrics we have today.

[2017-08-10 07:47] WIZARD-CXY commented on #216
ok I will submit a pr now stay tuned

[2017-08-13 12:43] andyxning commented on #212
If we add all available collector resources RBAC config to the apiserver and apiserver does not support some of resources. Will apiserver failed to authenticate for all or just log the none supported ones  and let the supported resources work properly. If apiserver is kindly enough to this and let the supported resources work properly, We can just add all to RBAC. Or otherwise, we should only give

[2017-08-13 13:52] andyxning commented on #212
@zouyee

Will this be reflected in the apiserver `api-versions` api response?

[2017-08-13 14:54] andyxning commented on #212
Seems we can query this info through `Discovery` method of a kube client.

[2017-08-14 01:47] zouyee commented on #212
@andyxning  yes, Discovery method would given version info.

[2017-08-14 05:20] zouyee commented on #79
https://github.com/kubernetes/kube-state-metrics/pull/219

[2017-08-15 00:48] crimsonfaith91 opened #221 "kube-state-metrics should not use CreatedByAnnotation"
Based on this [announcement](https://groups.google.com/forum/#!msg/kubernetes-dev/juMOsdaCml0/FwVNJA9uBAAJ), `CreatedByAnnotation` will be deprecated in 1.8 in favor of `ControllerRef`. However, the annotation is still used in this repo [here](https://github.com/kubernetes/kube-state-metrics/blob/master/collectors/pod.go#L195).

As `CreatedByAnnotation` will be deprecated, we may have to remove th

[2017-08-15 01:55] zouyee commented on #221
[according to the doc, Kubernetes automatically sets the value of ownerReference for objects created or adopted by ReplicationController, ReplicaSet, StatefulSet, DaemonSet, and Deployment.](https://github.com/kubernetes/kubernetes.github.io/blob/490fb99a307d808ead693123d0fbccdb6286f247/docs/concepts/workloads/controllers/garbage-collection.md), maybe it is time to migrate from Annotation. @brancz

[2017-08-15 08:39] brancz commented on #221
ControllerRef is already implemented, so the labels that we have will just be populated with `<none>`, which is essentially free in Prometheus (2.0) as strings are symbolized. This is an easier case, as we can just keep the label for compatibility, but I can imagine some day a field will disappear that will have a broader effect. We should be prepared for those situations. As we so heavily depend

[2017-08-15 09:09] zouyee commented on #221
I think [`api`](https://github.com/kubernetes/api/blob/master/core/v1/meta.go#L65) will be used, `OwnerReferences` related function has been migrated.

[2017-08-15 09:15] brancz commented on #221
Yes, we're [already using that](https://github.com/kubernetes/kube-state-metrics/blob/fda17aa549fe96533b6cf09efee4581a8a06e451/collectors/pod.go#L274).

[2017-08-15 09:37] zouyee commented on #221
[kubernetes/api](https://github.com/kubernetes/api/blob/master/core/v1/meta.go#L65) will be updated, because `client-go` structure has beed refactored

[2017-08-15 14:34] andyxning commented on #221
As described in [readme](https://github.com/kubernetes/kube-state-metrics#kubernetes-version) about the supported Kubernetes version, kube-state-metrics has only one dependency, client-go, for determining the supported Kubernetes. So, all functionalities supported by current client-go version can also be supported by kube-state-metrics.

`kubernetes.io/created-by` will still be available before Ku

[2017-08-15 17:08] crimsonfaith91 commented on #221
@andyxning I lean towards extracting `created_by_kind` and `created_by_name` labels from `ControllerRef`, which has details of current controller owner(s).

[2017-08-15 17:14] crimsonfaith91 commented on #221
@andyxning No, `OwnerReference` will not be deprecated. Kubernetes will only deprecate `CreatedByAnnotation`.

To clarify, `OwnerReference` is the more general feature that ControllerRef is built on. A `ControllerRef` is just an `OwnerReference` with the `Controller` field set to true. There can be only one `OwnerReference` that is a `ControllerRef` on a given object.

[2017-08-15 17:19] brancz commented on #221
@crimsonfaith91 yep that's how I understood everything as well.

[2017-08-15 20:20] ajrcastro opened #222 "~"

[2017-08-15 20:20] #222 closed

[2017-08-16 00:48] zouyee commented on #221
Kubernetes sets the value of ownerReference automatically. For example, when you create a ReplicaSet, Kubernetes automatically sets the ownerReference field of each Pod in the ReplicaSet. In 1.6, Kubernetes automatically sets the value of ownerReference for objects created or adopted by ReplicationController, ReplicaSet, StatefulSet, DaemonSet, and Deployment.
You can also specify relationships be

[2017-08-16 01:25] crimsonfaith91 commented on #221
Once we reach consensus on how to handle `created_by_kind` and `created_by_name`, I can send out a PR addressing this.

[2017-08-16 01:30] crimsonfaith91 commented on #221
After having a closer look to the codebase, we may delete the `created_by_kind` and `created_by_name` labels as there is another [gauge](https://github.com/kubernetes/kube-state-metrics/blob/master/collectors/pod.go#L279) accessing `OwnerReference`.

[2017-08-16 05:21] andyxning commented on #221
@crimsonfaith91 @zouyee Thanks for the clarification.

Btw, i agree with @crimsonfaith91 , I think we should extract `created_by_kind` and `created_by_name` labels from `ControllerRef`.  And this apparently can be done right now. :)

[2017-08-16 07:16] brancz commented on #221
As we already fully support everything the owner reference gives us in terms of information I don't see anything we need to do here. The `created_by_kind` and `created_by_name` labels can continue to exist but will simply be filled with `<none>` values, this doesn't do any harm. We can explicitly deprecate them and remove them in a future release.

[2017-08-16 15:00] andyxning commented on #221
@brancz OK, either way is fine to me. :)

If we choose to make `created_by_kind` and `created_by_name` to `<none>`, then we should change this in a future release when we bump client-go to support Kubernetes 1.8. @crimsonfaith91

[2017-08-16 17:11] crimsonfaith91 commented on #221
@brancz @andyxning Sound good! I will send out a PR  deprecate and remove `created_by_kind` and `created_by_name`. Thanks!

[2017-08-17 05:05] zouyee commented on #122
added ingress metric https://github.com/kubernetes/kube-state-metrics/pull/225

[2017-08-21 01:06] zouyee commented on #221
/close

[2017-08-21 06:26] zouyee opened #233 "[WIP]go fmt error"
After [that commit](https://github.com/kubernetes/kube-state-metrics/pull/210) merged, now PRs could not passed `Go fmt` TEST!

https://github.com/kubernetes/kube-state-metrics/pull/232<img width="423" alt="2017-08-21 2 26 47" src="https://user-images.githubusercontent.com/5785605/29506151-cc3b640c-867c-11e7-930b-bce1cee2c610.png">

<img width="588" alt="2017-08-21 2 28 32" src="https://user-image

[2017-08-21 14:37] #216 closed

[2017-08-21 15:16] #152 closed

[2017-08-21 18:39] crimsonfaith91 commented on #221
@zouyee We should keep this issue opens as it is not resolved yet.

[2017-08-22 12:35] brancz commented on #221
Yes, let's keep it open, until we actually remove them. Thanks for your efforts @crimsonfaith91 !

[2017-08-22 19:15] chlunde opened #235 "Missing metrics in documentation"
A few metrics are missing or typoed in the docs.

[code]

Gives the following (and two false positives):
[code]

[2017-08-22 19:15] chlunde commented on #233
@brancz I think this issue should be closed.

[2017-08-22 19:25] chlunde commented on #112
@brancz I also had to increase the memory to 80 MiB on a 6 node OpenShift cluster.  Perhaps the memory settings in the deployment should be bumped?

https://github.com/kubernetes/kube-state-metrics/blob/469f73f84118f02d954c2f5d5f0609d7e8d74240/kubernetes/kube-state-metrics-deployment.yaml#L56-L57

https://github.com/kubernetes/kube-state-metrics/blob/469f73f84118f02d954c2f5d5f0609d7e8d74240/kubern

[2017-08-23 09:10] brancz commented on #112
I'm ok with bumping the request and limit. What do you think would be an appropriate start value then?

[2017-08-23 09:10] brancz commented on #233
Yes @chlunde you're absolutely right! Thanks for the ping.

[2017-08-23 09:10] #233 closed

[2017-08-23 09:11] matthiasr commented on #112
The ones we recomend in the README?

[2017-08-23 09:12] brancz commented on #235
Cool! Could you add docs for the missing ones and introduce this check in the CI pipeline? :slightly_smiling_face: Then we can make sure that when new metrics are added we ensure that docs are there :tada: . Thanks for bringing this up!

[2017-08-23 09:13] brancz commented on #112
Yes I don't recall why we didn't do that in the first place.

[2017-08-23 09:15] matthiasr commented on #112
We came up with those independent of #200 and didn't backport them. I'm working on it, it's an easy change.

[2017-08-23 14:11] #112 closed

[2017-08-23 14:40] smarterclayton opened #239 "Panic when pods have an owner without controllers"
[code]

panics when you have an `Owner` without `Controller`.  `Controller` is an optional field - anyone doing garbage collection (which is what owner is for) will be broken with this check.

[code]

The Collector dereference should be guarded.

[2017-08-23 14:44] brancz commented on #239
Absolutely. I'm surprised how this hasn't come up until now. We'll get the fix in and cut a release.

[2017-08-23 16:37] smarterclayton commented on #239
I think a lot of people aren't using garbage collection owner references yet - we just happened to set a few of them by default on a very large cluster.

[2017-08-23 17:14] smarterclayton commented on #124
Some additional metrics from a reasonably large production cluster:

* 175 nodes
* 2k namespaces (most of them have roughly one to two services, deployments, pods)
* 170k samples scraped by ksm (on top of 800k base samples scraped)
* ksm uses 400m of memory and 0.07 core
* Scraping these samples added 500m to a 4.5gb heap prometheus and 0.03 core (on top of 0.25 core steady state)
* 2.7k pod serie

[2017-08-24 01:58] WIZARD-CXY commented on #124
@smarterclayton  good to know

[2017-08-24 07:25] #239 closed

[2017-08-24 09:52] andyxning commented on #239
As stated in [comment#190](https://github.com/kubernetes/kube-state-metrics/pull/190#issuecomment-319084632), i have found some materials about [`+optional` comment tag](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#optional-vs-required) . Unfortunatelly, no progress has been made for now.

I will speed it up.

[2017-08-24 16:08] smarterclayton opened #243 "kube_pod_status_ready includes completed pods"
The metrics for `kube_pod_status_ready` are probably less useful than they can be because they include completed pods, which are dead.  So all completed pods are always "unready", but to an end user looking at them to determine health of the cluster, they're meaningless.

Completed pods are never going to be ready, but when I'm trying to figure out whether a cluster upgrade caused outage on runnin

[2017-08-24 20:58] devth commented on #63
Shouldn't statefulset metrics have `available_replicas`, the same as deployments? It's not as useful to know the intended number of replicas in `prom_kube_statefulset_replicas` as it would be to know whether those replicas are actually up.

[2017-08-25 05:17] stijndehaes commented on #63
You have kube_statefulset_status_replicas and kube_statefulset_replicas.
The first one is the available replicas and the second one is the intended replicas. Statefulsets work a bit differently under the hood that's why the naming is not exactly the same as with deployments

[2017-08-25 09:05] brancz commented on #63
The metric names are typically determined by the fields in the Kubernetes API objects.

[2017-08-25 09:06] #235 closed

[2017-08-29 07:58] simonswine commented on #243
I think there are ways to do that by looking at two metrics. I am currently filtering jobs like that in my alerting rule:

[code]
Not too sure, but I think it would be better to leave that filtering to prometheus/user, but I think a couple of exmaple rules would be great

[2017-08-29 08:02] brancz commented on #243
kube-state-metrics is meant to mirror the kubernetes api objects as Prometheus metrics, I don't think we should do any type of filtering that we wouldn't naturally get out of the api objects. Combining two metrics as @simonswine mentioned could be a solution.

[2017-08-30 20:15] smarterclayton commented on #243
It's making me consider removing the condition from completed pods in kube itself.  It's fairly painful for conditions on pods to have to filter out the long tail of done pods (most large clusters are only about 1/3rd active pods).  But that's a sufficient workaround for now.

[2017-09-01 18:57] smarterclayton opened #247 "Job start time can be nil, causes panic"
https://github.com/openshift/kube-state-metrics/blob/master/collectors/job.go#L181 start time can be nil

[code]

[2017-09-02 03:17] #247 closed

[2017-09-05 12:48] andrewhowdencom opened #250 "Feature request: Create a new `kube_${entity}_annotations` set of metrics"
The use case for this is to append annotations to metrics, such that new slices of the data can be created for review. For example, adding a `sitewards.com/project: "SITEWARDS"` to a pod would allow querying of the sum of CPU used by the Sitewards project.

This is possible now, but not so elegant. Currently, there are two metrics that expose metadata about a pod:

kube_pod_info
kube_pod_labels

T

[2017-09-05 12:59] matthiasr commented on #250
I think 3. is not such a big issue, since the label names already need to be treated this way, and label _values_ are pretty freeform in Prometheus too.

[2017-09-05 13:00] matthiasr commented on #250
Do I understand your suggestion in 2. correctly that this should be *exclusively* whitelist based? I can get behind that.

[2017-09-05 15:33] andrewhowdencom commented on #250
I would probably run it something like default disabled, encourage a whitelist approach where it's something akin to `--allowed-annotations=sitewards.com/project,foo.com/bar` but allow `--allowed-annotations=*`.

I can't envision a use case for the last one, and it will quicklly spam Prometheus full of crap (thus default disabled) however I also can't think of why annotations are somehow different

[2017-09-05 18:04] atombender opened #251 "CronJob errors when running on 1.6.x without alpha features enabled"
We're running on 1.6.7 on GKE, without alpha features enabled. This causes kube-state-metrics to fail with this error:

[code]

[2017-09-05 18:07] matthiasr commented on #251
Do the other metrics work & it's just a noisy log, or is this breaking it
completely?

On Tue, Sep 5, 2017, 20:04 Alexander Staubo <notifications@github.com>
wrote:

[2017-09-05 18:13] atombender commented on #251
The other metrics work. It's just very noisy. It's emitted twice every second.

On 5 September 2017 at 14:07:52, Matthias Rampke (notifications@github.com) wrote:

[2017-09-06 01:29] smparkes commented on #112
We're running on a pretty small cluster (50 pods) and kube-state-metrics is OOMing if I ask it to collect `pods` all the way up to 2G. Fine if I collect `services` (trying others). (This is `0.5.0` and `1.0.1`.)

Sort of wonder how in blazes I would even begin to try to trace this ...

[2017-09-06 01:53] smparkes commented on #112
Hrm ... quick follow up: I did dump the goroutine list when the process was at low and high mem. The number of goroutines appears to growing. But we've also been tracking anomalous latency in the API server (trying to get GOOG too look at that since we don't run it (GKE).) Maybe overlapping requests because of delays?

[2017-09-06 02:27] zouyee commented on #251
using `--collect` flag to enable metrics which you want

[2017-09-06 07:46] brancz commented on #112
We don't today, but it's probably time to add pprof endpoints so we can do proper profiling to see what's happening.

[2017-09-06 07:54] brancz commented on #251
Dupe of https://github.com/kubernetes/kube-state-metrics/issues/212. This is unfortunately not as easy of a problem to solve as kube-state-metrics is not versioned along with Kubernetes, so it's unclear which collectors would be in which stage. Therefore we default to enabling all, and users can enable only those collectors they care about.

[2017-09-06 08:16] matthiasr commented on #251
Ah great, that's the issue I wanted to look up! I think we can close this as a duplicate then?

[2017-09-06 10:04] #251 closed

[2017-09-08 13:26] chlunde commented on #123
Maybe just start with example queries and alerts?  Would enabling the wiki be a good idea?

[2017-09-09 03:18] andyxning commented on #123
@chlunde Would wiki allowed to be contributed by the community users? We could not enumerate most possible usable  example queries and alerts without community users.

[2017-09-09 06:52] andyxning commented on #112
@smparkes you mean that
* with only collecting 50 pods, the memory will eat up to 2G?
* you have tried with both 0.5.0 and 1.0.1?
* what is the number of services objects?
* what is you scrape interval configured in Prometheus?

This problem possibly be related with client-go cause kube-state-metrics store nothing in memory.

Dump goroutine list with `pprof`?

[2017-09-09 07:07] andyxning commented on #112
Agreed with @brancz , we need to add `pprof` for debug.

[2017-09-09 20:47] smparkes commented on #112
We resolved the issue.
50 _live_ pods. _Thousands_ of errored job pods. (We're still not quite sure how those all accumulated / didn't get gc'd.)
So the delay of the API might not have been the cause (though I still wonder about whether service does concurrent requests if some requests take longer than the polling interval.)
It would be a nice to have to log info on the progress of collection to h

[2017-09-10 02:16] andyxning commented on #112
@brancz Does Prometheus scrape synchronously, i.e., it will wait the previous one to finish before start the next scrape?

@caesarxuchao Does client-go sync with apiserver synchronously, i.e., it will wait the previous one to finish before start the next scrape?

[2017-09-10 02:25] andyxning commented on #112
@smparkes Actually the scrape logic is very simple and it works synchronously. IMO, adding the log about how many resource objects are analyzed can at some degree make the debug more easy.

[2017-09-12 10:50] chlunde commented on #123
@andyxning Just some "getting started" queries would be a good idea, it does not have to be complete.  A "Recommended set of alerts" would also be nice.  More realistic might be just a dump of queries with descriptions. :worried:

https://help.github.com/articles/changing-access-permissions-for-wikis/
I don't know how they define "collaborator".  I have no experience with github wikis and if relax

[2017-09-12 18:52] andyxning commented on #124
@brancz Since 1.0 has been released, should we just close this tracking issue?

[2017-09-12 19:29] andyxning commented on #123
@chlunde Thanks for the reference to the wiki settings for Github. Will check this later.

[2017-09-12 19:40] andyxning commented on #123
Actually, I can only write a wiki and can not set the access permissions for wikis. :( .

So, @chlunde @brancz How about we add an `usage_examples` directory under the topic level directory of the repo. Thus everyone can send a PR to add a query or alert example.

The directory placement can be:

[code]

[2017-09-12 21:07] andyxning commented on #112
@smparkes Added a PR about logging the collected resource objects number. Ref #254 .

[2017-09-13 02:16] WIZARD-CXY commented on #124
OK，I confirm the last unchecked item which is scaling with cluster size using pod nanny is done

[2017-09-13 02:52] andyxning commented on #124
Since #200 has added support for providing deployment manifest that scales with cluster size using pod nanny. Closing this now.

[2017-09-13 02:52] #124 closed

[2017-09-13 08:23] brancz commented on #123
I'd prefer the examples versioned along with the code, that way we can ensure the correctness over the course of changes.

[2017-09-14 04:24] andyxning commented on #123
@chlunde @andrewhowdencom @cemo Would you guys give it a first shot? :)

[2017-09-14 13:22] caarlos0 opened #255 "Report waiting reason as well"
It would be neat to report as well why a container is in `Waiting` state, for example, `ContainerCreating`, etc.

I'll try to pull this off but I thought it would be neat to have the issue as well in case I don't :D

[2017-09-15 01:16] jac-stripe opened #257 "kube-state-metrics consuming too much memory"
kube-state-metrics is using >400mb of RAM. It is also very slow when I query `/metrics`. The kubernetes cluster has 2700 job objects. It seems surprising that this would consume 400mb of RAM for metrics aggregation. Below is a pprof top trace. This is running the latest git revision (d316c013fae8965bfb75bafda9453ca2ef54c48f)
[code]

[2017-09-15 07:49] brancz commented on #257
What does "very" slow mean? Up to 10 seconds response time wouldn't be unusual for a huge request.

For every job object there are at least 12 metrics being reported plus 20 metrics for each of the pods created by those Job objects. 2700 * 12 = 32400 + 2700 * 20 = 86400. With minimum of 86400 lines of metrics per HTTP request, those numbers actually don't seem too unreasonable, although we are awa

[2017-09-15 15:20] txg1550759 opened #258 "cannot find pod's network monitoring"
cannot find pod's network monitoring metrics,What happened? how fix bug?

[2017-09-15 16:12] julia-stripe commented on #257
thanks so much @brancz! "very slow' means that kube-state-metrics' `/metrics` endpoint often doesn't respond to HTTP requests at all (even after 10 minutes or so).

can you say offhand what some of the inefficiencies of the Prometheus Go implementation are? That could help us debug.

[2017-09-15 16:32] brancz commented on #257
The inefficiencies are that there are a number of allocations that could be optimized, but it wouldn't explain why the HTTP requests don't respond at all, the [scalability tests]()https://github.com/kubernetes/kube-state-metrics/issues/124#issuecomment-318394185 that Google ran had 1000 nodes and 30000 pods and responded within 9s, used ~1Gb memory and 0.3 cores. The number of metrics for those te

[2017-09-15 18:23] matthiasr commented on #257
Are there a lot of Completed pods in the cluster? Deployments usually don't
leave those around but I think Job does, or did back when I experimented
with it.

kube-state-metrics essentially holds the whole cluster state in memory, so
I can imagine that while these pods don't "do" anything they bring it to
its knees.

On Fri, Sep 15, 2017, 18:32 Frederic Branczyk <notifications@github.com>
wrote:

[2017-09-15 22:03] brancz commented on #257
Yep that's what I linked to earlier, it's my suspicion as well.

[2017-09-15 22:09] julia-stripe commented on #257
No, I double checked and there are only 200 completed pods in the cluster (we configure kube to garbage collect terminated pods to avoid exactly this problem)

[2017-09-16 10:28] andyxning commented on #258
@txg1550759 Actually we have not collect any network related metrics for now.

What metrics do you want to collect as for pod network?

[2017-09-16 14:41] andyxning commented on #257
@julia-stripe Can you paste the log about how many job objects or pod objects scraped as implemented in #254 .

[2017-09-18 01:29] jurgenweber opened #260 "panic after fixing jobs rbac"
Hi

[code]

after upgrading to v1.0.1 from 0.4.1 I found I needed some further rbac perimissions, no problems.

Once I added jobs as below:

[code]

I started receiving:

[code]
If I disable the rbac permissions and just leave this
[code]
in the logs, at least kube-state-metrics stops crashing.

Thanks

[2017-09-18 07:51] brancz commented on #257
Yes what @andyxning mentioned would indeed be helpful, and then the full memory profiles for further analysis :slightly_smiling_face: .

[2017-09-18 08:03] brancz commented on #260
I think this is a legit panic, not sure why this is only occurring now, but the problem is that we're not nil checking [here](https://github.com/kubernetes/kube-state-metrics/blob/master/collectors/job.go#L171).

[2017-09-18 08:06] brancz commented on #258
kube-state-metrics only collects metrics off of the information available in Kubernetes API objects, so I'm wondering what kind of metrics you are looking for.

[2017-09-18 16:10] andyxning commented on #260
@jurgenweber @brancz This has  been fix in #248 and it is in master now.

BTW, @brancz Maybe it is time for us to do a minor release since we have added some features and fixed problems.

[2017-09-18 16:40] brancz commented on #260
#248 is already released in `v1.0.1`. The code snippet I linked to is from current master, I believe there is a nil panic possible there, if I'm not totally wrong. I might get to writing a test for it tomorrow.

Agreed regarding a minor release, although I'd like to get the automatic detection of available APIs in first.

[2017-09-19 00:09] jurgenweber commented on #260
just to clarify, #248 is not in v1.0.1...... I just double checked (http://take.ms/a7FTj).

A new minor release would be appreciated.

[2017-09-19 02:17] andyxning commented on #260
@brancz v1.0.1 does not include the #248 . Automatic detection of available APIs seems not to be prepared well in a few days. I suggest we at least make a bugfix release for #248 .

[2017-09-19 07:45] brancz commented on #260
You're right, #248 has not been released yet, however, https://github.com/kubernetes/kube-state-metrics/blob/6a95e48df4d462da08a5e863d2bfae65aa6c9cd3/collectors/job.go#L171

Is taken directly from master and that is definitely the panic being reported here. The panic output literally says the line number.

[2017-09-19 08:29] brancz commented on #257
That's definitely a lot, could you give us the number of lines in the metric response? It will tell us the number of time-series this is producing, which should be interesting given the response time and memory usage.

[2017-09-19 12:11] andyxning commented on #257
@jac-stripe
Thanks for your valuable info.

BTW, could you please paste the log about number of collected object in kube-state-metrics aside  from the kubectl outputs. That is added in #254 which is mainly used to debug problems something like this one.

[2017-09-19 15:20] alamaison commented on #260
+1 for a minor release.  I'm not sure if this is the source of our panic but I'd love to test it.

[2017-09-19 15:52] andyxning commented on #260
@alamaison @jurgenweber After a offline discussion with @brancz, we want to give #257 a try before we make a minor release if it can be resolved in recent days(should not exceed this week).

[2017-09-19 16:58] jac-stripe commented on #257
@brancz the response is 16172 lines, totalling 2226kb.
@andyxning here are some logs on collected objects within the last few seconds:
[code]

[2017-09-20 00:06] jurgenweber commented on #260
Yeah, no problems on my end. No rush. I go on holidays today. ;)

[2017-09-20 13:51] smarterclayton opened #263 "Difference between a restart=Never and restart=Always is very important for pod states"
Currently pod metrics don't distinguish well between restart Never and Always pods.  Since the two workloads are very, very different, it doesn't seem unreasonable to distinguish them.

`kube_pod_created` really lacks the equivalent in `kube_pod_terminated` - once a pod is terminated, the majority of its function on the cluster is complete.  None of the existing pod metrics represent that in any w

[2017-09-20 15:53] smarterclayton commented on #257
We've got about 10x that number of resources and are seeing total heap around 2.2GB:

![memory for KSM](https://www.dropbox.com/s/v06h9s8cbdcr7a6/Screenshot%202017-09-20%2011.52.32.png?raw=1)

[2017-09-21 02:09] smarterclayton commented on #257
A couple of obvious ways to improve:

1. switch to protobuf in the client (if it isn't already) for resources that support it
2. switch to a flyweight pattern in the informers - create a shim object to place in the informer cache that contains only the fields necessary (and probably avoids maps, which are very expensive).
  1. Alternatively turn each object into a set of samples and cache those ea

[2017-09-21 08:31] brancz commented on #257
@smarterclayton thanks for sharing your data and information! What is the response time for the call to the `/metric` endpoint?

1. We haven't done any intentional switch to protobuf, but that seems like an easy first step. From what I can tell it's just a change to the content type passed to the rest client. How can I tell, which types do not have protobuf support?

2. I haven't seen the "flyweig

[2017-09-21 08:41] brancz commented on #257
@jac-stripe a big chunk of memory in use and allocations seem to be coming from the `addConditionMetrics` call from the job collector. I'm not too familiar with the `Job` object, what are typical entries in the `Job.Status.Conditions` array? It seems a large chunk is coming from [this loop](https://github.com/kubernetes/kube-state-metrics/blob/6a95e48df4d462da08a5e863d2bfae65aa6c9cd3/collectors/jo

[2017-09-21 12:58] fiunchinho commented on #123
I guess some examples are https://grafana.com/dashboards/741 and https://grafana.com/dashboards/747

[2017-09-21 13:07] brancz commented on #123
Those show exactly the problem I described, they're great dashboards, but useless if you don't have all the metric sources required - so it's not kube-state-metrics specific and if we open that box I fear it will be a sink for endless bike-shedding.

[2017-09-21 14:06] smarterclayton commented on #257
You can pass multiple Accept headers and everything should just work for types that don't have protobuf like CRD or custom API extensions.  I.e. `Accept: application/vnd.kubernetes.protobuf, application/json`

Basically transform the object coming in on the watch call into something simpler in the `cache.ListWatch`.  So you call upstream API and get a list of pods, then you transform it into somet

[2017-09-21 15:10] brancz commented on #257
I created #264 to start using protobuf. That should be a quick win, but eventually all of the above are improvements we probably want to make.

I'm still having difficulties to understand your second point though, probably because I don't know protobuf enough or the way it's used in Kubernetes. I'm wondering how parsing a subset fields of a protobuf message works, what would the proto definitions

[2017-09-21 15:16] andyxning commented on #257
Sorry for not following up all the comments above, but for a quick question: IIUC, protobuf can only decrease the data size between apiserver and kube-state-metrics. Thus the sync time will be decreased. The actually memory used by kube-state-metrics should not decrease.

Correct me if i am wrong.

[2017-09-21 15:21] brancz commented on #257
Agreed, nonetheless an improvement we should have.

[2017-09-21 15:25] andyxning commented on #257
Yep, let's first make the available improvements.

[2017-09-21 15:33] andyxning commented on #257
If protobuf supports functionality like [graphsql](https://dev-blog.apollodata.com/graphql-vs-rest-5d425123e34b), we can request only used fields and definitely the response size should be decreased largely.

[2017-09-21 17:41] smarterclayton commented on #257
You're using an informer right?  Informers are an in memory cache of the
full object.  It's possible to transform what you get from the API server
on your own into a smaller in memory representation that can be queried
later, or simply do the transformation for each event and then sum later.

Kubernetes does not support partial field retrieval like you are describing
(and likely never will from th

[2017-09-25 02:00] zouyee opened #265 "multi-version resource metrics supported"
Is it suitable to change the arch of collectors like [typed](https://github.com/kubernetes/client-go/tree/release-5.0/kubernetes/typed),according to the comments of the [PR](https://github.com/kubernetes/kube-state-metrics/pull/220/)
![2017-09-25 9 53 41](https://user-images.githubusercontent.com/5785605/30789475-619afe38-a1d8-11e7-8744-9acb70317597.png)
@andyxning @brancz

[2017-09-25 08:24] brancz commented on #265
Our compatibility guarantees revolve around the client-go version so as APIs get deprecated we move to the new APIs. I feel that is going to be a better experience for the user, then breaking all metrics available, as API changes are generally small throughout the evolution of an object.

[2017-09-26 06:06] jurgenweber commented on #260
ping :)

[2017-09-26 14:20] #255 closed

[2017-09-27 13:44] andyxning commented on #265
This is a good question. What if there are two available group versions for a resource object. As for now, we hard code the specific group version for a resource version.

I am not quite sure that whether there are chances more than one group versions are available.

Aside from the above concerns, what if a reource graduate from beta to GA, which version should kube-state-metrics supports.

BTW, l

[2017-09-27 13:54] andyxning commented on #265
This will definitely make kube-state-metrics more easy to avolve and maintain. I agree with this approach. I suggest we add a statement about the resource version behavior in readme to make this clear to end users.  @brancz WDYT.

[2017-09-27 13:55] andyxning commented on #265
Sorry for the press wrong button. :(

[2017-09-27 14:05] brancz commented on #265
No worries, clicking the wrong button happens :slightly_smiling_face: . A note in the readme sounds good. Probably most suitable in the upcoming compatibility matrix section.

[2017-09-27 14:10] andyxning commented on #265
yep. Kubernebtes resource group version compatibility. @zouyee since you are the contributor to the kunernetes compatibility pr, could you please update the pr by adding the new resource group version compatibility.

[2017-09-27 18:37] jpza commented on #212
Bump for this feature. Specifying collectors in a deployment manually fixed the problem for me however before that point a massive amount of errors was generated based on GCP's lack of Kube CronJob support

[2017-10-09 02:03] andyxning opened #268 "v1.1.0 Release tracking issue"
- [x] Update `client-go` to v5.0.0 release. `client-go` v5.0.0 will support Kubernetes 1.8. With updating to v5.0.0 `client-go`, kube-state-metrics will support Kubernetes 1.8. But `client-go`
 v5.0.0 has not been released. As discussed with @caesarxuchao offline, v5.0.0 `client-go` should be released in this week. If this is reliable, kube-state-metrics should wait for updating `client-go` but th

[2017-10-09 15:16] zouyee commented on #268
👍

[2017-10-10 08:59] brancz commented on #268
I think there are a ton of features that are already in master, so I would say we cut the release once we have client-go 5.0.

[2017-10-10 11:45] andyxning commented on #268
After a offline discussion with @caesarxuchao , he can give us some ETA about when the client-go v5.0.0 will released.

[2017-10-10 20:39] chasemaier opened #270 "Cannot Create Role / Cluster Role"
I am attempting to apply the contents of the [`kubernetes`](https://github.com/kubernetes/kube-state-metrics/tree/master/kubernetes) directory to a cluster (formed via `kube-aws` on AWS).

[code]

[code]

The pods from the defined deployment seem to run despite the roles failing to create, but the roles are not created successfully.

[code]

Is there another way the roles should be applied to ensu

[2017-10-10 22:48] caesarxuchao commented on #268
The tip of the client-go release-5.0 branch is very close to kubernetes-v1.8.0, the only missing bug fix is https://github.com/kubernetes/kubernetes/pull/52946 and the [version information](https://github.com/kubernetes/kubernetes/commit/0b9efaeb34a2fc51ff8e4d34ad9bc6375459c4a4). If client-go doesn't make v5.0.0 soon, you can track the latest commit of the release-5.0 branch.

[2017-10-11 02:13] andyxning commented on #268
After a look at those two commits, it turns out that kube-state-metrics reference package `k8s.io/apimachinery/pkg/util/net` which is not cherrypicked to `kubernetes/apimachinery` release-1.8 branch.

[2017-10-11 09:26] andyxning commented on #268
@caesarxuchao Seems like the unsynced  commits about `util/net` has only new function added and nothing changed. I think it is fine to use release-5.0 to update.

@brancz I will give it a try.

[2017-10-11 09:55] brancz commented on #270
My guess is that you are on GKE, and this is likely the cause: https://coreos.com/operators/prometheus/docs/latest/troubleshooting.html

I believe GKE still falls back to legacy ABAC instead of deny-by-default RBAC, which is why it still runs successfully.

[2017-10-11 10:14] andyxning commented on #268
@brancz #269 has been updated and can be reviewed for now. PTAL.

[2017-10-11 13:25] andyxning commented on #268
@brancz I agree that we already have a lot of features and can release v1.1.0 for now. So i update the milestone for #224 #225 #236 #219 to v1.2.0.

[2017-10-11 13:28] brancz commented on #268
sgtm :+1:

[2017-10-11 13:30] andyxning commented on #268
But i am still want to add a description about:

in readme. I will fire another PR to update readme later.

[2017-10-12 10:41] andyxning commented on #268
Close this as we have released v1.1.0-rc.0.

[2017-10-12 10:41] #268 closed

[2017-10-12 10:41] andyxning commented on #260
@jurgenweber We have released v1.1.0-rc.0. Please give it a try. :)

[2017-10-12 10:42] andyxning commented on #260
@alamaison We have released v1.1.0-rc.0. Please give it a try. :)

[2017-10-12 12:46] vincevaghalsen commented on #265
Only if the client generates programmatic IDs to exclude redundant metrics. Prometheus should always be initiated with a multilevel manifest in the cluster.

[2017-10-12 22:39] jurgenweber commented on #260
Will do either today or early next week.

[2017-10-13 08:21] brancz commented on #260
Thanks! I'll close this here, but feel free to re-open or open a new issue, if you find it occurring again.

[2017-10-13 08:21] #260 closed

[2017-10-13 15:09] sgmiller opened #275 "v1.0.1 not gathering data, repeated CronJob error"
Kubernetes v1.7.4, only this in the logs for kube-state-metrics:

E1013 15:02:43.602589       7 reflector.go:201] k8s.io/kube-state-metrics/collectors/cronjob.go:86: Failed to list *v2alpha1.CronJob: the server could not find the requested resource

[2017-10-13 16:01] brancz commented on #275
I believe your cluster has alpha features disabled, that would explain this error.

[2017-10-13 16:09] sgmiller commented on #275
No, I believe CronJob is no longer alpha.

[2017-10-13 16:18] brancz commented on #275
It was only promoted to beta in 1.8, your cluster is 1.7.4, which is where it was still in alpha, and the code if definitely using the alpha API.

https://github.com/kubernetes/kube-state-metrics/blob/64428b457722fe8bbd4e877dd689fab7f8fd86f9/collectors/cronjob.go#L80

[2017-10-13 22:30] r4j4h commented on #258
He may be referring to the removed `kube_node_status_network_unavailable` metric. It's brethren were all moved to `kube_node_status_condition` but since network unavailable isn't a classic/official condition it seems to have been dropped.

All conditions listed by `kubectl describe no` seem present though.

[2017-10-16 05:50] andyxning commented on #275
@sgmiller

In order to diagnose the problem. Could you please help us to provide the following info
* please check the `http://API_SERVER:8080/apis/batch` and post the response here.
* if there is an item of `batch/v2alpha1` in above response, please check the `http://10.3.23.159:8080/apis/batch/v2alpha1` endpoints and post the response here.

[2017-10-16 12:51] sgmiller commented on #275
I wound up enabling that api to get around the problem.  As long as ksm is still reporting all other metrics while erroring out on that call I don't consider this a problem.  If it derails the collection then it is.

[2017-10-16 13:02] brancz commented on #275
That's exactly how it works :slightly_smiling_face: . Even if an individual collector errors out on any action, the functioning collectors will continue as usual.

[2017-10-16 13:05] andyxning commented on #275
Since it has been resolved. We should close this. :)

[2017-10-16 13:05] #275 closed

[2017-10-19 14:07] zouyee opened #279 "add kube-state-metrics to cluster-metrics"
releated PR [add-on#54235](https://github.com/kubernetes/kubernetes/pull/54235)

[2017-10-25 08:00] zouyee opened #288 "nil pointer:collector running found error"
I1025 15:50:58.112998   11627 main.go:166] Using default collectors
I1025 15:50:58.113125   11627 main.go:173] Using all namespace
I1025 15:50:58.113422   11627 main.go:220] service account token present: true
I1025 15:50:58.113433   11627 main.go:221] service host: https://x.x.x.x:6443
I1025 15:50:58.114174   11627 main.go:247] Testing communication with server
I1025 15:50:58.173924   11627 main.

[2017-10-25 11:25] #288 closed

[2017-10-27 10:43] andyxning opened #290 "Add more resource instance to e2e test"
Currently, we only check for ClusterRoleBinding, ClusterRole, ServiceAccount, Deployment, RoleBinding, Role and Service.

We should add more resources when access kube-state-metrics `metrics` endpoint. This will make the e2e test more reliable and more help for us to discover problems.

[2017-11-01 12:14] thuandt commented on #123
After deploy Prometheus for monitoring my k8s cluster, in Grafana i can't find any good dashboard compatible with kube-state-metrics.

Official one is really helpful

[2017-11-02 09:40] felixPG opened #293 "Expose more labels on services"
Hi:

Currently **kube_service_info** metrics only expose information about a service name, instance, etc. but what about the name of pods that this service could access?

[2017-11-02 10:00] brancz commented on #293
If at all that would be part of a set of metrics extracted from `Endpoints` objects.

[2017-11-02 17:19] atombender commented on #212
This is currently affecting Kubernetes 1.8, where `CronJob` has transitioned from `batch/v2alpha1` to `batch/v1beta1`, and now we don't get any cronjob metrics, and also the log is filling up with errors (`Failed to list *v2alpha1.CronJob`).

[2017-11-03 02:08] zouyee commented on #212
when upgrade kubernetes to 1.8, you must enable v2alpha1.CronJob when config api-server in `--feature-gates`

[2017-11-03 02:13] atombender commented on #212
That's not possible on Google Container Engine. And why would you want to do that when 1.8 has CronJob enabled under the beta API?

[2017-11-03 03:17] zouyee commented on #212
@brancz

[2017-11-06 07:13] jicki opened #295 "Failed to list *v2alpha1.CronJob: the server could not find the requested resource"
[code]

[code]

pls  help me `

[2017-11-06 09:05] zouyee commented on #295
running  `apiserver` with  --runtime-config=batch/v2alpha1=true

[2017-11-06 09:51] brancz opened #296 "Expose metrics about kube-state-metrics itself"
kube-state-metrics currently only exposes metrics about the Kubernetes objects, but kube-state-metrics itself should also be "monitorable". For this purpose I would suggest an additional metrics endpoint (maybe `/metrics/kube-state-metrics`, there we can expose metrics like the number of objects used to generate metrics and go runtime as well as process statistics.

@andyxning

[2017-11-06 09:59] andrewhowdencom commented on #296
I might suggest keeping them at the same endpoint, but modifying the names. I think I remember Brian Brazil saying at one point rather than instrument applications, the goal is to instrument libraries. The library name then becomes the metric prefix (kube_state_metrics_kube_up 1 or smth), and the application included through discovery as a label, or relabelled.

Go metrics are already exported in

[2017-11-06 10:02] brancz opened #297 "Allow using RBAC to protect metrics endpoint(s)"
In order to prevent any Pod in a Kubernetes cluster to request the metrics endpoint of kube-state-metrics, it should allow enabling RBAC validation with a running apiserver. Since kube-state-metrics heavily relies on a running apiserver anyways, this is no additional dependency.

@andyxning

[2017-11-06 10:03] brancz commented on #297
The kubelet builds the authenticator and authorizer here: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/auth.go#L38

[2017-11-06 10:08] brancz commented on #296
Right, the reason why for this specific exporter it would make sense to have separate endpoints (whether on a different or the same HTTP server), is because for the current `/metrics` endpoint, one will want to use the `honor_labels` configuration option, whereas this is not desirable for metrics by kube-state-metrics itself.

I'm happy to use a different port rather than a path, that way there is

[2017-11-06 13:44] juliusv commented on #70
So we have the ReplicaSet information in the `kube_pod_info` metric, but as also mentioned in #27, one is usually not interested in the ReplicaSet directly, but the Deployment / DaemonSet / ... that created it. That is, the creator of the creator. Though including this two-level info could be seen as somewhat arbitrary (what if there is nothing above the ReplicaSet or a directly created pod, or wh

[2017-11-06 13:53] brancz commented on #70
Generally I'm all for this if we can get this information presented in a reasonable way.

The `created_by_*` labels are deprecated, as the underlying annotation on upstream objects is as well in favor of the OwnerReferences. The problem with that is that an object can have multiple owners, and then it's hard to create a label "owners owner", as that can be a list rather than a single value.

[2017-11-06 15:20] juliusv commented on #70
Ah damn, wasn't aware of multiple owners. That makes the whole thing harder indeed. Do you think multiple owners will actually be common, or an exceptional thing?

[2017-11-06 16:15] andyxning commented on #296
@brancz Agreed with using another different port for kube-state-metrics self metrics. Another command option `--ksm-port` should be added to kube-state-metrics and this should be added to readme.

[2017-11-06 16:19] brancz commented on #296
Sounds good to me.

[2017-11-06 16:28] andyxning commented on #296
After a rethink about the go runtime metrics of kube-state-metrics, it has been available under `port/metrics`. It seems difficult to split the go runtime metrics to another metrics endpoint.

[2017-11-06 16:31] andyxning commented on #296
BTW, we need to record the count of scraped resource objects, only when `port/metrics` is scraped we can count the number of scraped resource objects. I.e., they need to be calculated at the same time.

So, it should be and must be displayed under the same endpoint.

[2017-11-07 08:30] brancz commented on #70
Already seeing that today already unfortunately, so we can't just make assumptions. While maybe not as simple as it should be, we can still solve this with a couple of recording rules in Prometheus with joins and group_left statements. I'm guessing that's what you were trying to avoid though :slightly_smiling_face: .

[2017-11-08 01:30] ddii opened #300 "Add new node"
Hi,
Please understand that my English is not good.

I have already k8s cluster.

root@master:~/kube-state-metrics# kubectl get nodes
NAME      STATUS    ROLES     AGE       VERSION
master    Ready     master    12d       v1.8.2
ml1       Ready     <none>    8d        v1.8.2

And i deployed kube-state-metrics.

root@master:~/kube-state-metrics# kubectl get pods -n kube-system
NAME

[2017-11-08 05:41] #300 closed

[2017-11-10 19:52] drampelt commented on #295
I'm also having this issue, running kube-state-metrics 1.1.0 on Kubernetes 1.8 on GKE. CronJobs are now enabled for GKE but according to the [documentation](https://cloud.google.com/container-engine/docs/how-to/jobs) are under the `batch/v1` version, not `batch/v2alpha1`

[2017-11-13 17:11] JosephSalisbury opened #303 "Add metrics for tpr/crd objects"
I would find it useful to be able to have metrics for the number of tpr / crd objects currently in the cluster.

Happy to provide PRs if there's consensus on usefulness.

[2017-11-13 18:01] brancz commented on #303
Are you talking about CRD definitions or objects of that kind?

[2017-11-13 18:23] JosephSalisbury commented on #303
Yeah, to be specific, the number of objects of a specific CRD.

[2017-11-13 22:25] tamalsaha commented on #303
We are also interested in having state-metrics supporting CRDs created by third parties (example: https://github.com/appscode/voyager) . How does this project plan to support external CRDs? Adding them all in one project seems like a bad/unmaintainable idea.

[2017-11-13 22:40] tamalsaha commented on #303
@brancz , I was reading your blog post today https://brancz.com/2017/11/13/kube-state-metrics-the-past-the-present-and-the-future/ .Thanks for writing it, as it helped me understand the general architecture of this project.

May be this project can be structured in such a way that, third parties like us can write their own state-metrics server for CRDs or aggregate api servers. Then expose as a si

[2017-11-13 23:07] Morriz commented on #295
+1

any update on this? I am not able to run kubernetes 1.8 now which is out for a while. Why not make the version configurable?

[2017-11-14 08:17] brancz commented on #303
@tamalsaha happy you liked the post. The way this should happen (and this is what the prometheus-operator and etcd-operator do), is that the controllers themselves should be the origin of this information. Actually we were hoping, that at some point, kube-state-metrics would not be necessary anymore, and instead the actual controllers of those objects expose these metrics.

[2017-11-14 08:23] tamalsaha commented on #303
ah! I think we are on that path too. Our various operator currently expose prometheus metrics for GO process. We need to work on CRD specific metrics.

[2017-11-14 08:24] brancz commented on #295
Yes, we'll be updating the API used by kube-state-metrics for the next release. @andyxning @zouyee could one of you take care of this?

[2017-11-14 08:51] sorenmat commented on #295
Does this mean that it doesn't ship metrics to datadog?

[2017-11-14 10:39] JosephSalisbury commented on #303
Operators exposing their own metrics for CRDs works for me.

[2017-11-14 12:23] brancz commented on #303
In that case I'll go ahead and close this :slightly_smiling_face: . Feel free to comment with follow up questions, should you have any.

[2017-11-14 12:23] #303 closed

[2017-11-14 12:49] sorenmat commented on #295
Yeah, that was a strange comment. What i meant was:
Does this break the metric collection or can the error just be ignored?

[2017-11-14 14:01] brancz commented on #295
I see :slightly_smiling_face: this only affects the `CronJob` metrics, everything else continues to work as expected. Each collector has it's own go routine, and if one errors, the remaining ones keep doing their work.

[2017-11-14 14:01] brancz commented on #295
tl;dr unless you want `CronJob` metrics, this error can be ignored. (you can also turn off the cronjob collector :slightly_smiling_face: )

[2017-11-14 15:48] antoniaklja commented on #123
what do you think about adding dashboard for Quality of Service?
I mean utilized resources vs resource quota

[2017-11-14 16:00] brancz commented on #123
I'm not opposed to dashboards that _only_ use metrics from kube-state-metrics.

[2017-11-15 02:36] andyxning commented on #123
@antoniaklja Sorry for not getting your points. Can you put an example about `utilized resources vs resource quota`.

[2017-11-15 09:34] andrewhowdencom commented on #123
i interpret that to mean something like:

`kube_pod_container_resource_requests_cpu_cores{pod="$pod_name"}` and `sum by (container_name)( rate(container_cpu_usage_seconds_total{pod_name="$pod_name"}[30s] ) )` on the same graph. We use it to check whether what's being allocated is what's being used.

Doesn't follow the rule "only use kube-state-metrics"

[2017-11-15 10:28] brancz commented on #123
Exactly. My point is, that dashboards like that would not work unless people actually also collect cAdvisor metrics (in that specific case), which is rather opinionated. I believe what would be more useful would be example queries, like the [grpc-go-prometheus project does](https://github.com/grpc-ecosystem/go-grpc-prometheus#useful-query-examples).

[2017-11-15 10:34] andrewhowdencom commented on #123
This seems like an excellent compromise. However, where would we put such metrics? At this point they're broad "Kubernetes" metrics; maybe here:

https://github.com/kubernetes/contrib/tree/master/prometheus

?

[2017-11-15 10:49] antoniaklja commented on #123
@andyxning I was thinking about dashboard which shows:
- how much resources you have
- how much resources you use
- how much resources is allocated in QoS

but looks like it breaks your assumption to only use metrics from kube-state-metrics

[2017-11-15 10:51] brancz commented on #123
I'm happy with having a new documentation page alongside the documentation of the metrics in the [`Documentation/`](https://github.com/kubernetes/kube-state-metrics/tree/master/Documentation) directory. I like the name the grpc-go-prometheus projenct chose "Useful Example Queries", but have no strong opinion and am open to any suggestion.

If they're broad enough, I think we should rather work on

[2017-11-16 14:11] errordeveloper commented on #295
@brancz this can be closed now, a patch release would be very handy!

[2017-11-16 14:18] brancz commented on #295
I don't think this should be shipped in a patch release. A minor release should be relatively close though. I would just like to get #302 in. Then I think we have enough actual features together to justify a minor.

[2017-11-17 03:38] zouyee commented on #295
agree with @brancz

[2017-11-17 09:14] yeplaa opened #304 "Space used in persistvolumeclaim"
Hello,

My environment is kube-state-metrics 1.1, Prometheus 1.7.1, K8S 1.7.5.
With kube-state-metrics, I would like to retrieve the stats about used persistentvolumeclaim space.
Actually, it seems only the metrics "kube_persistentvolumeclaim_resource_requests_storage_bytes" is available with kube-state-metrics.  Are there any other metrics available for my need on k8s 1.6/1.7?
On K8s 1.8, kubelet

[2017-11-17 10:40] brancz commented on #304
kube-state-metrics is intended to _only_ expose information available to it via Kubernetes API objects. So if the `PersistentVolumeClaim` object were to implement this, it could be something we could implement this. However I highly recommend to scrape the information from the real life origin, meaning the kubelet is the process that actually knows about this, if this information came from the Kub

[2017-11-21 17:59] tmegow opened #306 "Unable to enable HPA collector/no hpa metrics"
I'm running the latest v1.1.0 release and I am unable to see hpa metrics
[code]

Looking at the help output I see this informative message: `--collectors string                Comma-separated list of collectors to be enabled. Defaults to "cronjobs,daemonsets,deployments,jobs,limitranges,namespaces,nodes,persistentvolumeclaims,pods,replicasets,replicationcontrollers,resourcequotas,services,stateful

[2017-11-22 09:43] brancz commented on #306
The HPA metrics have not been released yet. The documentation on the master branch potentially contains unreleased features, we recommend looking at the documentation at the commit of the git release tag.

[2017-11-22 11:23] #306 closed

[2017-11-24 15:56] denibertovic commented on #295
@brancz How does one turn off the cronjob collector?

[2017-11-24 16:29] brancz commented on #295
You need to specify all collectors except the cronjob one in the —collectors flag.

[2017-11-24 17:07] denibertovic commented on #295
@brancz You mean in `kube-state-metrics-deployment.yaml` at the bottom of the file as an argument to pod_nanny?

[2017-11-24 17:54] denibertovic commented on #295
For some reason when I add this and do kubectl apply again it errors out with:
"a container name must be specified for pod kube-state-metrics-59fb6c5b94-pddz6"

[2017-11-24 18:21] brancz commented on #295
this may have to do with kubectl apply, try kubectl replace

[2017-11-24 18:56] denibertovic commented on #295
I tried that, I also tried deleting the service, pods and deployment first ... and then just applying everything again but no go.

[2017-11-27 04:15] xufaning opened #307 "kube_deployment_labels can't read new "dc""
I deploy a kube-state-metrics on our openshift 3.6. I can get metrics use "kube_deployment_..." like this
kube_deployment_created{deployment="grafana",namespace="maintenance"}
kube_deployment_created{deployment="kube-state-metrics",namespace="maintenance"}
kube_deployment_created{deployment="prometheus",namespace="maintenance"}
so I can get three dc object metrics .
I have a dc/tiger-demo in names

[2017-11-27 07:08] beatlejuse opened #308 "deploy error"
i have a problem with deploy ClusterRole, ClusterRoleBinding, Role and RoleBinding.
here are my .yaml:
https://gist.github.com/beatlejuse/8ed9ac9db38c5b58c07cdf7e1d8d3fb3
and here are my logs:
Error from server (Forbidden): error when creating "./k8s/monitoring/exporters/kubernetes/kube-state-metrics-role.yml": clusterroles.rbac.authorization.k8s.io "kube-state-metrics" is forbidden: attempt to gr

[2017-11-28 08:39] xufaning commented on #307
ok , deploymentconfig is a openshift's metrics  .

[2017-11-28 08:39] #307 closed

[2017-11-28 08:45] brancz commented on #295
When I use the exact manifest, it works for me. Can you share in more detail what you are trying to do, and the manifests you are using to accomplish this?

[2017-11-28 09:45] brancz commented on #308
Is this on GKE?

[2017-11-28 10:29] beatlejuse commented on #308
@brancz  yes, this is on CoreOS 1520.8.0, docker 1.12.6 and k8s 1.8.1

[2017-11-30 13:18] nuriel77 commented on #308
I am having the same problem:
[code]

[code]
(Centos Atomic)

[2017-11-30 14:22] brancz commented on #308
The errors say, that you are trying to grant higher privileges to an application that you have yourself. Please check that you do have these roles, and if it still holds true, then this is rather an issue on upstream Kubernetes than here.

[2017-11-30 15:00] beatlejuse commented on #308
@brancz i have a full admin privileges.
this problem in your  kube-state-metrics-cluster-role.yaml and kube-state-metrics-role.yaml files - they don't correct or incompatible with kubernetes 1.8.1

[2017-11-30 15:19] beatlejuse commented on #308
here is an example working configuration ClusterRole:
https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-operator.yaml
it works I have now on kubernetes 1.8.1 and worked on kubernetes 1.6.1

[2017-11-30 15:30] beatlejuse commented on #308
yes, i fix it!
https://gist.github.com/beatlejuse/b795f2dcf1c2bbd674cff66190660818
this is right kube-state-metrics-cluster-role.yaml
it's work for me

[2017-11-30 15:42] brancz commented on #308
Feel free to update it, and open a PR :slightly_smiling_face:

[2017-11-30 15:44] nuriel77 commented on #308
Didn't work for me :(
Still getting the same forbidden error.
I have no roles, role/bindings or clusterrolebindings whatsoever configured in kubernetes.

[2017-12-01 07:18] #308 closed

[2017-12-05 12:09] #279 closed

[2017-12-07 08:30] cmur2 opened #312 "Why service-endpoint scraping instead of pod scraping with Prometheus?"
In the [Kubernetes Deployment section in your README](https://github.com/kubernetes/kube-state-metrics/blob/master/README.md#kubernetes-deployment) you state that kube-state-metrics should be setup using a Kubernetes deployment and service as example. Prometheus will scrape it automatically if the service-endpoints scraping is properly configures.

Now I wonder why kube-state-metrics needs a Kuber

[2017-12-07 18:05] denibertovic commented on #295
@brancz This is the change I made:
[code]

[2017-12-07 19:43] brancz commented on #312
What Tom suggested on the mailing list is absolutely correct. The reason we like doing discovery with endpoints objects is largely for consistency. That said, the annotations are rather an outdated paradigm, I would suggest selecting by labels. We heavily do this in the [prometheus operator](github.com/coreos/prometheus-operator).

[2017-12-08 00:42] zouyee commented on #295
It like that `- --collectors=daemonsets, pods, ...`

[2017-12-08 17:52] podnov opened #313 "Add kube_job_labels and kube_cronjob_labels"

[2017-12-10 15:30] #313 closed

[2017-12-14 17:21] yeplaa commented on #304
Thank's for your reply brancz

[2017-12-14 17:21] #304 closed

[2017-12-18 06:23] Colstuwjx opened #319 "best practise for alert rules"
As there is exposing metrics via kube-state-metrics, it would be better if we offer a sample alert rule for these metrics.

[2017-12-18 13:25] cmur2 commented on #312
Thanks for the clarification!

[2017-12-18 13:25] #312 closed

[2017-12-18 13:50] AndreaGiardini opened #320 "Release docker image for latest"
Hello everyone

I noticed that the `latest` tag for the docker image corresponds to the latest release that has been published. Could we change this behavior in order to have `latest` = latest commit on master?

[2017-12-19 19:48] brancz commented on #320
In that case I would prefer creating an actual `master` tag. The `latest` tag pointing at the latest release is a common (and in my opinion good) practice. Happy to introduce the `master` tag though and happy about PRs for it :slightly_smiling_face: .

[2017-12-19 19:50] brancz commented on #319
Related to #123, see the discussion there. tl;dr happy about PRs to add example usages.

[2017-12-20 00:08] StianOvrevage commented on #123
Just wanna add my thoughts here.

Right now there is an official Prometheus Helm Chart ( https://github.com/kubernetes/charts/tree/master/stable/prometheus ) which uses Prometheus node-exporter ( https://github.com/prometheus/node_exporter ) and kube-state-metrics.

I would think a substantial number of kube-state-metrics + Prometheus users would deploy using the Prometheus Helm Chart. These are f

[2017-12-20 04:56] utsav2307 opened #321 "Not able to get HPA metrics"
I have deployed kube-state-metrics in my cluster, now when i do a curl on /metrics for the container endpoint, I am able to get Replication Controller and Deployments metrics, but there are no metrics for Horizontal Pod Autoscaler. Any idea what can be the issue?

[2017-12-20 08:40] KieranP commented on #270
@brancz That was the case. Thanks for the link. Might pay to pop this in the README, I imagine a lot of people, like myself, are using GKE and would experience this same issue.

[2017-12-20 15:12] brancz commented on #270
@KieranP are you up for making this your first contribution to the Kubernetes org? :wink:

[2017-12-20 15:18] brancz commented on #123
As such a chart actually combines the two dependencies it seems like the correct place to host a dashboard definition that relies on both.

As a side note, the author of that chart has since moved on and packaged the [kube-prometheus](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus) stack, and uses that in production (I know this because I'm in close contact with

[2017-12-20 16:03] StianOvrevage commented on #123
Ok, cool. I see they don't have a Helm chart yet. But I will probably switch when they do. In the meantime I can just grab the Dashboards from that project and contribute/improve them there.

Just for clarification, I assume you mean the chart that is outdated and badly architectured is the one at `stable/prometheus`, and not `kube-prometheus`?

[2017-12-20 17:07] brancz commented on #123
There’s is actually a chart, which has potential for improvement (but multiple people are working on it). Unless you want to deploy on production today I recommend using and contributing to them. For whatever reason the helm charts are located in the root of the repo. The fact that at least some of the charts are “meta” charts makes it in our opinion unfit for the official charts repo (at least un

[2017-12-20 20:55] StianOvrevage commented on #123
Mkay, I'll have a look at the chart.

What are the chances something like ksonnet will out compete Helm and become the de-facto standard? I really hate fragmented environments (like Linux distros) where everybody has their own unique twist but causes tons of duplication of work, incompatibilities and headaches for marginal gains :\ That said, I don't know enough about Helm vs ksonnet to judge them

[2017-12-21 10:12] brancz commented on #123
Helm is probably here to stay there is too much involvement by too many companies that it will vanish. That said, I do strongly believe ksonnet or at least something jsonnet based will eventually take over. Important to understand is that they’re not solving the exact same problem. For example ksonnet is merely there to generate/transform yaml/json, whereas helm has tiller and manages releases etc

[2017-12-21 10:50] brancz commented on #321
HPA metrics are only on master, they have not been released yet.

[2017-12-21 13:28] utsav2307 commented on #321
Oh ok. Is there any plan for a release with hpa in near future?

[2017-12-21 13:31] brancz commented on #321
I believe we have worked on the majority of features that we wanted for the next minor release, so I think we should be able to release rather sooner than later.

[2017-12-21 14:29] utsav2307 commented on #321
Oh great! Hoping this will happen in next couple of weeks(fingers crossed). Thanks for the update.

[2017-12-21 15:09] brancz commented on #321
I can't promise anything, but I imagine somewhere mid January as everyone is on vacation over the holidays until the 3rd or so of January.

[2017-12-23 05:33] KieranP commented on #270
@brancz Done :-) https://github.com/kubernetes/kube-state-metrics/pull/326

[2017-12-23 09:47] brancz commented on #270
@KieranP the PR is merged, congrats on your first contribution to Kubernetes.

I’ll close this here. Happy holidays.

[2017-12-23 09:47] #270 closed

[2017-12-24 14:30] andyxning commented on #321
Before releasing a new version, i think we can also update `client-go` to `v6.0.0`. :)

[2017-12-24 14:34] andyxning commented on #320
This definitely needs some automation for pulling master branch, building the image  and pushing image.

[2017-12-24 14:35] andyxning commented on #79
close via #219

[2017-12-24 14:35] #79 closed

[2017-12-27 09:49] ahrtr opened #329 "Question about the default Kubernetes Pod Metrics dashboard"
I downloaded the default kubernetes Pod Metrics dashboard as below,
https://grafana.com/dashboards/747

But I found that some metrics as below used in the dashboard do not exist in prometheus. What did I miss?
container_memory_working_set_bytes
container_cpu_usage_seconds_total
container_network_receive_bytes_total

Or can someone please provide some guide how to update the dashboard?

Some relate

[2017-12-28 03:27] zouyee commented on #329
these metrics were generated by cadvisor not ksm.

[2017-12-28 03:31] zouyee commented on #321
I will complete it after updated client-go version.

[2017-12-28 08:06] ahrtr commented on #329
Thanks for the info.

[2017-12-29 06:32] #329 closed

[2017-12-29 06:36] ahrtr opened #331 "The value of kube_node_info is still 1 even when the node has already been shutted down"
I was planning to use the value of metrics "kube_node_info" to get the status of each node in k8s cluster. If the value is 1, then it means UP; and if it's 0, it means DOWN. But it seems that the value is always 1, even a node has already been shutted down.

If the metrics "kube_node_info" can't be used to get each node's status, then which one should I use? Thanks.

[2018-01-03 13:02] brancz commented on #297
With [brancz/kube-rbac-proxy](https://github.com/brancz/kube-rbac-proxy) and #318 merged, this is now possible.

[2018-01-03 13:02] #297 closed

[2018-01-03 14:32] andyxning commented on #221
As Kubernetes 1.9.0 has finally removed the support for `CreatedByAnnotation` and we have update client-go to v6.0.0 in #328 which does not support `CreatedByAnnotation` any more, kube-state-metrics does not use `CreatedByAnnotation` annotation any more. So, closing this. :)

[2018-01-03 14:32] #221 closed

[2018-01-03 15:45] #296 closed

[2018-01-04 18:24] rajatjindal opened #332 "Adding more labels to kube_pod_status_phase"
we had a situation where # of failed pod counts increased dramatically, and we were wondering what happened.

on debugging we found 2 nodes were having docker issues and most of the failed nodes were being scheduled on those problematic nodes.

i think it will be useful to add more labels to kube_pod_status_phase, so that we can run query like all failed pods count group by node.

![screen shot 20

[2018-01-04 18:25] rajatjindal commented on #332
I will be more than happy to open a PR if we agree that this is a reasonable ask.

[2018-01-05 07:47] brancz commented on #332
That can be done at query time. Prometheus supports joins, so you can join pod info on the phase to figure out the node.

[2018-01-05 16:22] dannyk81 opened #337 "ksm v1.2.0-rc.0 on K8s 1.5.3 - Failed to list *v1beta1.CronJob"
Hey!

Was eager to try the new RC, however I'm getting the following errors when it tries to collect CronJobs:
[code]

We are running Kubernetes 1.5.3, the following Api Versions are supported:
[code]

I believe the issue is that Batch API version in K8s 1.5.3 is still `batch/v2alpha1` and server doesn't support `batch/v1beta1`.

`batch/v1beta1` is available with Kubernetes 1.8 onwards (according

[2018-01-05 16:48] dannyk81 commented on #337
Ok, so I just saw https://github.com/kubernetes/kube-state-metrics/issues/295 🤦‍♂️

It seems that by switching the API version in 1.2.0 to `batch/v1beta1` it made it incompatible with K8s <1.8

Is there any way to support both? based on K8s api server version perhaps?

[2018-01-05 18:24] dannyk81 opened #338 "job label in kube_job_* metrics conflicts with the job label defined by scrape_config in Prometheus"
All the `kube_job_*` metrics have a `job` label with the name of the Job, however this label is conflicting with the `job` label assigned by Prometheus per what is defined in the `job_name` of the `scrape_config`

Prometheus keeps the original value of the label `job` in a new label called `exported_job`, but this is a bit confusing.

I think it would be better to rename the `job` label in the `ku

[2018-01-05 22:38] saady opened #339 "Some metrics are not reporting all namespaces"
kube_pod_container_resource_requests_cpu_cores and kube_pod_container_resource_requests_memory_bytes  only reporting few namespaces pods containers cpu and memory usage.

  Deployment:

[code]

Service

[code]

[2018-01-06 02:39] andyxning commented on #321
@utsav2307 v1.2.0-rc.0 has been released last day. Could you please upgrade and help us test it?

[2018-01-06 06:59] utsav2307 commented on #321
sure, will chk if it solves my purpose

[2018-01-06 16:12] andyxning commented on #332
Close this via @brancz's comments.

In case you have not used the join syntax of Prometheus, there is an example in the [#137 comment](https://github.com/kubernetes/kube-state-metrics/issues/137#issuecomment-299837471) with some query like:
[code]

[2018-01-06 16:12] #332 closed

[2018-01-06 16:27] andyxning commented on #337
Actually we have talked about using different resource group version according to different Kubernetes versions in #256 and #220 . But we have not make an conclusion about how to do this. :(

Will think about this later and hope to make it before v1.2.0 GA release.

[2018-01-06 16:31] andyxning commented on #321
Thanks @utsav2307. Hope you give v1.2.0-rc.0 a try and give us some feedback about how it is working. :)

For now, i will close this issue as hpa metrics is available in v1.2.0-rc.0. Feel free to re-open it if you still have some problems in using kube-state-metrics for hpa metrics. :)

[2018-01-06 16:31] #321 closed

[2018-01-06 16:39] andyxning commented on #64
Close this as the [comment by @brancz](https://github.com/kubernetes/kube-state-metrics/issues/64#issuecomment-271530507) has state the reason for not having `kube_node_status_phase`.

@amolsh Please re-open this if you still have some questions. :)

[2018-01-06 16:39] #64 closed

[2018-01-08 09:39] brancz commented on #257
This still has to be addressed in a better way than we do today.

/remove-lifecycle stale

[2018-01-08 13:01] brancz commented on #337
I would prefer not to introduce any features between the v1.2.0 rc.0 and GA. We are not bound to the Kubernetes release cycle, so it's perfectly legit to do a v1.3.0 release once we figure out the discovery of availble APIs.

[2018-01-08 13:05] brancz commented on #339
Can you make sure that there are pods in those namespaces whose containers actually have resource requests set?

[2018-01-08 13:08] brancz commented on #338
Does this also happen is `honor_labels` is set to `true`? Technically the kube-state-metrics target still has the job label, and the unique combination of labels still uniquely identify the metrics.

Nonetheless I think I agree, there are scenarios where this could become a problem.

[2018-01-08 13:17] brancz commented on #263
I'm open for suggestions on how to fix the described problems.

[2018-01-08 13:17] brancz commented on #263
/remove-lifecycle stale

[2018-01-09 19:33] dannyk81 commented on #338
It seems that `job` label is a special case in Prometheus, so if the source metric has a `job` label it is renamed to `exported_job`.

As you said, uniquness of the metrics is prserved, but I would rather we use a different label name and not `job`.

`job_name` sounds reasonable to me, but I'm not married to it :)

[2018-01-09 19:35] dannyk81 commented on #337
Sounds resaonble, so anyone using K8s <1.8 should stick to v1.1.0 until this is resolved? unless the CronJob metrics are not relevant I guess.

[2018-01-10 01:11] andyxning commented on #337
@dannyk81 I am afraid that is true. We will try to fix it asap.

[2018-01-10 06:47] rajatjindal commented on #332
thank you very much guys. I will try this out tonight

[2018-01-10 08:50] brancz commented on #337
There are no known bugs in `v1.1.0`, so for the time being you'll be ok. Obviously you should upgrade your kubernetes cluster regularly :slightly_smiling_face: .

[2018-01-10 14:50] dannyk81 commented on #337
Thanks @brancz, indeed we have no issue with v1.1.0 and will stick to it for now.

My main incentive for testing this RC was to get the new `kube_cronjob_labels` & `kube_job_labels` metrics.

Indeed, we are due for an upgrade, hope that we can get 1.8 deployed soon.

[2018-01-11 03:48] spheromak commented on #337
how bout just letting us disable cronjob collection for clusters < 1.8 ?

[2018-01-11 04:03] dannyk81 commented on #337
@spheromak I believe you can do this by passing the `--collectors=` cli arg with the list of all collectors except cronjob.

The list can be found here: https://github.com/kubernetes/kube-state-metrics/blob/00bd666ccea53c89f978415ea3675722d89ccaaf/main.go#L70-L87

[2018-01-12 00:31] coffeepac commented on #85
@brancz is this the issue you were talking about during sig-inst today, re: opening the build process?

[2018-01-12 09:08] brancz commented on #85
@coffeepac yes this, [this](https://github.com/kubernetes/kube-state-metrics/pull/134) and [this](https://github.com/kubernetes/kube-state-metrics/pull/246). They all revolve around the same topic, essentially how can we as non-Googlers do releases independently.

[2018-01-12 13:33] metalmatze commented on #123
Just to summarize the current state, the alerts in [kube-prometheus](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/assets/prometheus/rules/kube-state-metrics.rules.yaml) are just your (@brancz) opinionated examples, but there none from kube-state-metrics itself?

[2018-01-13 11:24] zouyee commented on #320
It has been released.

[2018-01-13 11:25] zouyee commented on #320
/close

[2018-01-13 11:27] zouyee commented on #212
It has been explained.
/close

[2018-01-13 11:27] #212 closed

[2018-01-14 12:34] AndreaGiardini commented on #320
@zouyee I do not see any `master` tag at quay.io/coreos/kube-state-metrics

[2018-01-14 12:38] zouyee commented on #320
`quay.io/coreos/kube-state-metrics:v1.2.0-rc.0 ` is the newest image.

[2018-01-14 12:58] AndreaGiardini commented on #320
Yeah... but my ticket was about having a `master` tag. In order to have a docker image with all the latest commits

[2018-01-14 16:41] brancz commented on #320
yes this is still to be done

[2018-01-15 04:17] utsav2307 commented on #321
Metrics seem to be fine, but it's difficult to get the alerts from prometheus whenever HPA is triggered.
I tried using kube_hpa_status_current_replicas != kube_hpa_status_desired_replicas but this gets resolved instantly coz of which alerts don't get triggered

[2018-01-15 04:19] utsav2307 opened #344 "Duration of kube_pod_container_status_terminated_reason metrics"
I understand that this metrics is keeping track of pods which were terminated and the reason for it, but the metrics store data of how many days? Like the data will be of last two days or last 12 hours?

[2018-01-15 08:41] brancz commented on #321
@utsav2307 have you tried the `for` clause in Prometheus alerting rules? It's expected that the HPA reconciles the current replicas to the desired replicas, that's the nature of a level trigger as Kubernetes implements it virtually everywhere. Using the `for` clause you can make sure, that a condition has been in the triggering state for at least X seconds/minutes/hours.

[2018-01-15 09:23] brancz commented on #344
Prometheus metrics always only reflect the current state. In this case, it reflects whatever the Pod object says, that the Kubernetes API returns. The value for the `reason` label are `OOMKilled|Error|Completed|ContainerCannotRun`. Note there is always a metric for _all_ of those reasons, but only the metric that has the value `1`, is the current state.

[2018-01-15 22:25] zouyee commented on #122
/close

[2018-01-15 22:25] #122 closed

[2018-01-16 18:10] grosser opened #347 "use dumb-init as entry-point ?"
I can make a PR if you want it, we are trying to use it for all images we deploy.

https://github.com/Yelp/dumb-init

[2018-01-17 10:35] brancz commented on #347
kube-state-metrics is a single process so dumb-init is not really necessary in my opinion. Do you have a concrete problem?

[2018-01-17 16:01] grosser commented on #347
No concrete problem, feel free to close.
I would like to know if for some reason single-binary go apps like this are
exempt from the problems dumb-init describes, since then we could stop
doing it for ours :)

On Wed, Jan 17, 2018 at 2:35 AM, Frederic Branczyk <notifications@github.com

[2018-01-17 16:23] cullepl opened #348 "Is there or will there ever be metric for pods in terminating state?"
I see there are metrics for if a pod is terminated `kube_pod_container_status_terminated` however, we sometimes observe pods in terminating state.

I was wondering if there is a way via kube-state-metrics to find this state?  I couldnt see anything and I'm running v1.2.0

All I see in our prometheus are these:

![image](https://user-images.githubusercontent.com/13000925/35053646-9d18807e-fba2-11e7

[2018-01-17 19:37] brancz commented on #348
How are you determining this today?

If kube-state-metrics can find what you are looking for in a Pod object then yes, that's something we could add a metric for.

[2018-01-18 08:53] cullepl commented on #348
If I query pods using `kubectl get pods -n my-namespace` today, I see this:

[code]

If I describe one of the PODs, the status is
[code]

[2018-01-18 09:41] brancz commented on #348
When you view the yaml of this pod, can you see it there as well, or is this only available through events?

[2018-01-18 13:49] cullepl commented on #348
Looks like it's only through describing the pod.
If i do `kubectl get pod -n <ns> <pod-name> -o yaml` there is no reference to terminating.  At the end of the yaml output there is

[code]

[2018-01-18 15:23] andyxning commented on #347
@grosser IMO, the most important thing for PID 1 is to pass through received signals and reclaim the finished children process. For single go binary which does no spawn sub processes, there are no requirements to reclaim finished sub processes. As for signals, since it has no sub processes, there is not need to pass received signals either. What go binary apps, i.e., kube-state-metrics, does is re

[2018-01-18 15:24] #347 closed

[2018-01-18 23:25] r0fls opened #350 "Empty reply from server"
When I hit the metrics endpoint for the kube-state-metrics service I get an empty reply from the server:

[code]

It returns the correct response for `/`:

[code]

The kube-state-metrics logs don't show any errors or debug information. I'm raising this issue in hopes of suggestions to debug this, but also because I'm going to create a corresponding PR that adds logging to the prom handler.

[2018-01-19 09:46] andyxning commented on #350
@r0fls Have you ever patch the kube-state-metrics with #351 and found the root reason about this?

[2018-01-19 11:21] brancz commented on #348
Yes that's what I thought. The tricky thing here is that we can only extract this information from Kubernetes Events. The problem with events is their cardinality, it is most likely going to explode. Something we could do is aggregate events and expose lower cardinality aggregations. This would definitely be a very different pattern from all the other collectors today, where the objects we create

[2018-01-19 13:49] andyxning commented on #350
@r0fls Any clue in the kube-state-metrics log?

[2018-01-19 13:49] andyxning commented on #350
@r0fls Any clue in the kube-state-metrics log?

[2018-01-19 23:48] r0fls opened #352 "make container should target linux"
When I run `make container` on my mac, I would expect the resulting docker image to be usable:

[code]

However, presumably because it's setting `GOOS=darwin` in the `go build` command, I get:

[code]

[2018-01-19 23:49] r0fls commented on #352
For reference here is the relevant section of the helm makefile: https://github.com/kubernetes/helm/blob/master/Makefile#L74

[2018-01-20 00:24] r0fls commented on #350
Ya, after uploading the image with logging enabled, it looks like it's an issue with the service account abilities 👍   I'll investigate that further, and close this out.

[2018-01-20 00:24] #350 closed

[2018-01-20 00:31] r0fls commented on #350
Thanks for the help @andyxning!

[2018-01-20 01:59] andyxning commented on #352
@r0fls

You're right. See docker issue FYI: https://github.com/moby/moby/issues/27723.
TL;DR: This is because we add darwin binary to an scratch image.

For now, kube-state-metrics will use local build env to set up `GOOS` and `GOARCH` when building the binary. we need to enable the cross-build binaries to easily dev and test on mac or linux or other platforms. But as for images, we can only build

[2018-01-20 08:24] #352 closed

[2018-01-22 08:34] utsav2307 opened #356 "additional status in kube_pod_container_status_waiting_reason"
currently only two types of status are available in kube_pod_container_status_waiting_reason metrics (ContainerCreating,ErrImagePull).
Can this be modified to have "Pending"  as well, when the pods dont have enough resources to run?

[2018-01-22 15:00] andyxning opened #357 "Proposal for supporting different group versions for a single resource."
This Proposal is used to demonstrating the problem how to support different group version for a single resource.

docs: https://docs.google.com/document/d/1f7Q_FVODNNc5IytBYbLbLLIWSlefuk4d9YYbIsj99Ec/edit#

/cc @brancz
/ping @zouyee  as you have proposed a similar PR for attempting to support this functionality.

We need to make a conclusion about this in this week and implement it later as this h

[2018-01-22 15:14] zouyee commented on #357
https://github.com/kubernetes/kube-state-metrics/issues/265

[2018-01-23 02:25] #265 closed

[2018-01-23 09:01] marsty opened #358 "prometheus targets kubernetes-service-endpoints state is Down"
Error server returned HTTP status 404 Not Found  why?

[2018-01-23 17:32] mheggeseth commented on #356
Also include `ImagePullBackOff` and `CrashLoopBackOff` as a potential waiting reasons.

`ImagePullBackOff` is the most prevalent waiting reason I see (k8s server version v1.7.7) in the case of a failed image pull. `ErrImagePull` is quite brief and will most likely be missed by a Prom scrape.

Ditto for `CrashLoopBackOff`. Crash-looping pods have a _current_ state of `terminated` very briefly and t

[2018-01-23 17:40] mheggeseth commented on #344
I find it really unlikely for a Prom scrape will catch a pod container while its current state is `terminated`. It's much more likely that `lastState` has `terminated` while the current `state` is either `running` or `waiting`.

[2018-01-24 10:20] brancz commented on #356
@mheggeseth the reasoning is because every unique label combination creates a new time-series. Which inevitably puts higher load on the time-series database when we have unbound number of time-series. This is why we whilelist label names. If you wish to add more possible values I invite you to add them.

[2018-01-24 15:03] mheggeseth commented on #356
@brancz you might be able to re-evaluate that guideline given the drastic database performance improvements of Prometheus 2.

[2018-01-24 15:09] jonaz commented on #344
I agree here. Trying to make an alert when pods are OOMKilled. But its only in that state for milliseconds so `kube_pod_container_status_terminated_reason{reason="OOMKilled"} > 0`does not work. Is there a was i can check lastState instead?

[2018-01-24 15:09] brancz commented on #356
While the new Prometheus storage is a lot better, the problem is just pushed down the road. More data will always mean more churn. In general kube-state-metrics is already extremely liberal in the amount of metrics it exposes.

[2018-01-24 16:47] brancz commented on #344
Yeah we can absolutely add a metric that exposes the Last state.

[2018-01-24 16:54] felixPG commented on #293
Is possible to include, request access count, response time, request size for a service, like whatever http/s service metrics?

[2018-01-25 09:50] r0fls commented on #358
What is the path shown from the prometheus targets page? It should be `/metrics`.

Have you tried querying the metrics from another pod in the cluster? `curl <KUBE_STATE_METRICS_SERVICE_NAME>` or `curl <KUBE_STATE_METRICS_SERVICE_NAME>/metrics`

[2018-01-25 10:39] brancz commented on #293
No that would be the responsibility of your application and or ingress as well as kube-proxy (or kube-proxy alternative) to expose. kube-state-metrics only purpose is to create metrics from API objects in Kubernetes.

[2018-01-25 10:39] #293 closed

[2018-01-26 02:05] jtslear commented on #356
Hopefully the above PR addresses some concerns in this issue.  The `Pending` status is stored at the Pod level already.  So I feel it would be repetitive in here.  `ImagePull` and `CrashLoop` back offs I think are valuable.

[2018-01-26 06:08] andyxning commented on #357
Ping @brancz @zouyee

Personally, i am in favor of Typed scheme. It is easy to understand and straightfroward.

[2018-01-26 06:08] andyxning commented on #357
Ping @brancz @zouyee

Personally, i am in favor of Typed scheme. It is easy to understand and straightfroward.

[2018-01-26 09:59] brancz commented on #357
Sorry I'm currently swamped with work on Prometheus and can't currently get to this. I trust that you make the right call, and move forward with what you believe makes sense. We can always release a beta and see if it turns out working or not and revert if it doesn't.

[2018-01-26 13:56] andyxning commented on #358
@marsty As @r0fls said above, seems that you config the wrong target endpoint for kube-state-metrics. Please check it first.

[2018-01-26 20:15] maloochpich opened #360 "kube_state_matrics is not showing valid result"
When I try to use any kube graphs for prometheus is showing invalid result.

Example:
when I run kube_pod_container_status_waiting_reason:

`kube_pod_container_status_waiting_reason{app="kube-state-metrics",container="blackbox-exporter",job="kubernetes-endpoints",kubernetes_name="kube-state-metrics",kubernetes_namespace="monitoring",namespace="monitoring",pod="blackbox-exporter-85cdb97d8f-6fjn2",r

[2018-01-27 02:41] andyxning commented on #356
close via #359

[2018-01-27 02:41] #356 closed

[2018-01-29 05:07] maloochpich commented on #360
@andyxning Yes my question is if at some point it was failing and kube-state-metrics catch that why is not updating it and getting away from my Prometheus alert.

[2018-01-29 14:26] jonaz commented on #344
Anyone working on that? We need it to send alert to the correct team when their app OOMs in production...

I could give it a try if no one has planned to add lastState.

[2018-01-31 01:35] r0fls opened #362 "invalid memory address or nil pointer dereference"
I'm planning to look into this more later, but I'm seeing this error and the pod is in the CrashLoopBackOff state:

[code]